@{
    ViewBag.Title = "Policies - AbsenceTracker";
}


<!--PoliciesCtrl-->
<div ng-controller="PoliciesCtrl" ng-init="InitList('@ViewBag.EmployerId', '@ViewBag.PolicyId')" ng-cloak>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1">&nbsp;</div>
            <div class="pull-left">
                <h2>Policies Of <span style="color: #ff8300; font-weight: bold;">{{EmployerInfo.SignatureName}}</span></h2>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-1">&nbsp;</div>
            <hr />
        </div>
    </div>
    <!--policy-->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1">&nbsp;</div>
            <div id="policy" class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="content-section">
                            Policies
                        </div>
                        <br />
                        <a class="btn btn-primary btn-sm btn-icon-policies-normal" ng-href="/policy/{{EmployerInfo.Id}}/create">New Policy</a>
                        <br />
                        <a class="btn btn-primary btn-sm btn-icon-policies-normal" ng-href="/policies/{{EmployerInfo.Id}}/payorder">Edit Policy Pay Order</a>
                    </div>



                    <div class="col-sm-10 border column-policy-right" id="todoSort">
                        <div class="row row-header">
                            <div class="col-sm-3" ng-click="UpdatePolicySort('Name')">
                                <span>Name</span>
                                <div class="sort" ng-show="PolicyFilter.SortExpression == 'Name'">
                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[PolicyFilter.SortDir == 'asc']"></span>
                                </div>
                            </div>
                            <div class="col-sm-2" ng-click="UpdatePolicySort('Code')">
                                <span>Code</span>
                                <div class="sort" ng-show="PolicyFilter.SortExpression == 'Code'">
                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[PolicyFilter.SortDir == 'asc']"></span>
                                </div>
                            </div>
                            <div class="col-sm-2" ng-click="UpdatePolicySort('WorkState')">
                                <span>Work Region</span>
                                <div class="sort" ng-show="PolicyFilter.SortExpression == 'WorkState'">
                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[PolicyFilter.SortDir == 'asc']"></span>
                                </div>
                            </div>
                            <div class="col-sm-3" ng-click="UpdatePolicySort('PolicyType')">
                                <span>PolicyType</span>
                                <div class="sort" ng-show="PolicyFilter.SortExpression == 'PolicyType'">
                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[PolicyFilter.SortDir == 'asc']"></span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <span>Default</span>
                            </div>
                            <div class="col-sm-1">
                                Disabled
                            </div>
                        </div>
                        <div class="row row-filter" id="todoFilters">
                            <div class="col-sm-3">
                                <input ng-model="PolicyFilter.Name" ng-keyup="GetPolicies(false)" type="text" class="form-control filter" placeholder="Filter" />
                            </div>
                            <div class="col-sm-2">
                                <input ng-model="PolicyFilter.Code" ng-keyup="GetPolicies(false)" type="text" class="form-control filter" placeholder="Filter" />
                            </div>
                            <div class="col-sm-2">
                                <input type="text" ng-model="PolicyFilter.WorkState" ng-keyup="GetPolicies(false)" class="form-control filter" placeholder="Filter" />
                            </div>
                            <div class="col-sm-3">
                                <select ng-model="PolicyFilter.PolicyType" ng-change="GetPolicies(false)" class="form-control filter" @*ng-options="policyType for policyType in PolicyTypes"*@>
                                    <option value=""></option>
                                    @foreach (var field in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.PolicyType)))
                                    {
                                        <option value="@(Convert.ToDouble((int)field))">@field.ToString().SplitCamelCaseString()</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-1">&nbsp;</div>
                            <div class="col-sm-1">&nbsp;</div>
                        </div>
                        <div class="row scroll" id="scrollPolicyCtr" when-scrolled="LoadMorePolicies()">
                            <div class="col-sm-12" id="PolicyCtr" ng-repeat="policy in Policies" scroll-if="policy.Id == SelectedPolicyId">
                                <div class="row row-hover" @*tooltip="{{toDo.CaseReason}}"*@>
                                    <div ng-click="EditPolicyClick(policy.Id)">
                                        <div class="col-sm-3" ng-cloak>
                                            <label style="max-width:200px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="policy.Name"></label>
                                        </div>
                                        <div class="col-sm-2" ng-cloak>
                                            <label style="max-width:200px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="policy.Code"></label>
                                        </div>
                                        <div class="col-sm-2" ng-cloak>
                                            <label style="max-width:200px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="policy.WorkState"></label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label style="max-width:200px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="policy.PolicyType"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <span ng-if="policy.IsCore">Yes</span>
                                        <span ng-if="!policy.IsCore">No</span>
                                    </div>
                                    <div class="col-sm-1">
                                        <span ng-if="policy.Disabled">Yes</span>
                                        <span ng-if="!policy.Disabled">No</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">&nbsp;</div>
        </div>
    </div>
</div>
