﻿@{
    ViewBag.Title = "PolicyPayOrder";
}

<div ng-controller="PoliciesPayOrderCtrl" ng-init="Init('@ViewBag.EmployerId')" ng-cloak>
    <div class="row">
        <div class="row">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-11">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-left">
                            <h2>Policy Pay Order Of <span style="color: #ff8300; font-weight: bold;" ng-bind="EmployerName"></span></h2>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2" ng-repeat="policy in Policies | orderBy:'Order'">
                        <div class="border">
                            <div class="row">
                                <div class="col-sm-10" ><span ng-bind="policy.Name"></span></div>
                                <div class="col-sm-1" ><span class="glyphicon glyphicon-arrow-up btn-small-icon" ng-hide="policy.Order == 1" ng-click="MovePolicyOrderUp(policy)"></span></div>
                                <div class="col-sm-1"><span class="glyphicon glyphicon-arrow-down btn-small-icon" ng-hide="policy.Order == Policies.length" ng-click="MovePolicyOrderDown(policy)"></span></div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 pull-center">
                        <button type="button" class="btn btn-primary" ng-click="Save()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
