﻿<div class="row row-offset">
    <div class="col-sm-2">
        <div class="content-section">New To-Do</div>
    </div>
    <div class="col-sm-8 border">
        <div class="row row-header">
            <div class="col-sm-12">
                Select Case
            </div>
        </div>
        <div class="row row-offset row-header">
            <div class="col-sm-3">
                Name
            </div>
            <div class="col-sm-3">
                Reason
            </div>
            <div class="col-sm-2">
                Case ID
            </div>
            <div class="col-sm-2">
                Status
            </div>
            <div class="col-sm-2">
                Updated
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <input class="form-control filter" value="Filter" />
            </div>
            <div class="col-sm-3">
                <select class="form-control filter">
                    <option>Filter</option>
                    <option>
                        Employee Health Condition
                    </option>
                    <option>
                        Family Health Condition
                    </option>
                    <option>
                        Military
                    </option>
                    <option>
                        Workers Compensation
                    </option>
                    <option>
                        LTD
                    </option>
                </select>
            </div>
            <div class="col-sm-2">
                <input class="form-control filter" value="Filter" />
            </div>
            <div class="col-sm-2">
                <select class="form-control filter">
                    <option>Filter</option>
                    <option>
                        Open
                    </option>
                    <option>
                        Closed
                    </option>
                </select>
            </div>
        </div>
        <div class="row scroll">
            <div class="col-sm-12">
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Eckhart, Peter
                    </div>
                    <div class="col-sm-3">
                        Military
                    </div>
                    <div class="col-sm-2">
                        0001593
                    </div>
                    <div class="col-sm-2">
                        Closed
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
                <div class="row row-hover">
                    <div class="col-sm-3">
                        <input type="radio" name="case" class="checkbox">Wilson, Janet
                    </div>
                    <div class="col-sm-3">
                        Employee Health Condition
                    </div>
                    <div class="col-sm-2">
                        0005877
                    </div>
                    <div class="col-sm-2">
                        Open
                    </div>
                    <div class="col-sm-2">
                        12/12/13
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/#cases-->

<div class="row row-offset">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-3">
                To-Do
            </div>
            <div class="col-sm-9">
                <select id="selectToDo" class="form-control">
                    <option>Send communication</option>
                    <option selected>Review approval</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <div class="row" id="rowOtherToDo" style="display: none;">
            <div class="col-sm-2 col-sm-offset-3">
                Other To-Do
            </div>
            <div class="col-sm-7">
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Description
            </div>
            <div class="col-sm-9">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Due Date
            </div>
            <div class="col-sm-4">
                <div class="field-input input-group date due-date">
                    <input type="text" class="form-control input-sm">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        @*<div class="row">
    <div class="col-sm-3">
        Priority
    </div>
    <div class="col-sm-9">
        <label class="btn btn-info">
            <input type="radio" name="priority" checked> Routine
        </label>
        <label class="btn btn-info">
            <input type="radio" name="priority"> Urgent
        </label>
    </div>
</div>*@
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <a class="btn btn-primary" href="@Url.Action("Index","Home")">Create To-Do</a>
                <a class="btn btn-link" href="@Url.Action("Index","Home")">Cancel</a>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(function () {

            //Hide the row for "Other" on page load, and only show it if the user selects "Other" from the dropdown above it.
            $("#selectToDo").change(function() {
                var selectToDo = $("#selectToDo option:selected").text();
                if (selectToDo == "Other") {
                    $("#rowOtherToDo").show();
                } else {
                    $("#rowOtherToDo").hide();
                }
            });

        });
    </script>
}