﻿<!--todo-->
<div ng-controller="ToDoCtrl" ng-init="init('index')" ng-cloak>
    <div class="row">
        <div class="col-xs-12 dash-header todo-header">
            <h2 class="ml0"><i class="fa fa-list"></i>TO-DO's</h2>
        </div>
        <div class="col-sm-3" has-permission="CompleteToDo">
            <select class="form-control" ng-model="UserId" ng-options="user.Id.toString() as user.DisplayName for user in UsersList"></select>
            <div class="error" ng-show="showNoUserSelectedWarning && !UserId">Please select a user.</div>
        </div>

        <div class="col-sm-5 pull-left" has-permission="CompleteToDo">
            <a ng-click="ReassignTodos()" class="btn btn-primary">Re-Assign Todos</a>
            <a ng-click="CheckAll();">check all</a> |
            <a ng-click="UncheckAll();">uncheck all</a>
        </div>

        <div class="col-sm-4 pull-right">
            <select class="form-control" ng-model="ListType" has-permission="TeamDashboard">
                <option value="Individual" selected="selected">View My Items</option>
                <option value="Team">View My Team's Items</option>
                <option value="All" has-permission="AllItems">View All Items</option>
            </select>
        </div>
    </div>

    <div class="row-offset mt12">
        <div class="col-sm-12">
            <div class="row row-header top-row-style" style="cursor:pointer">
                <div class="col-sm-3" ng-click="UpdateToDoSort('EmployeeName')">
                    <span>Employee</span>
                    <div class="sort" ng-show="ToDosFilter.SortExpression == 'EmployeeName'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="col-sm-2" ng-click="UpdateToDoSort('Title')">
                    <span>To-Do</span>
                    <div class="sort" ng-show="ToDosFilter.SortExpression == 'Title'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="col-sm-3 todos-combined-column">
                    <div class="col-sm-6 todos-due-date-column" ng-click="UpdateToDoSort('DueDate')">
                        <span>Due</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'DueDate'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5 todos-status-column" ng-click="UpdateToDoSort('Status')">
                        <span>Status</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'Status'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2" ng-click="UpdateToDoSort('AssignedToName')">
                    <span>Assignee</span>
                    <div class="sort" ng-show="ToDosFilter.SortExpression == 'AssignedToName'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="col-sm-2" ng-click="UpdateToDoSort('EmployerName')">
                    <span>Employer</span>
                    <div class="sort" ng-show="ToDosFilter.SortExpression == 'EmployerName'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
            </div>
            <div class="row row-filter bottom-row-style" id="todoFilters">
                <div class="col-sm-3">
                    <input ng-model="ToDosFilter.Employee" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-2">
                    <input ng-model="ToDosFilter.Text" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-3 todos-combined-column">
                    <div class="col-sm-6 todos-due-date-column">
                        <div class="field-input input-group date">
                            <input type="text" id="ToDoFilterDue" name="ToDoFilterDue" class="form-control input-sm filter" ng-model="ToDosFilter.Due"
                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="On" />
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5 todos-status-column">
                        <select ng-model="ToDosFilter.Status" ng-change="GetToDos(false)" class="form-control filter" ng-options="status.Id as status.Text for status in todoItemStatuses"></select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <input ng-model="ToDosFilter.AssignedToName" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-2" ng-show="IsTPA">
                    <select ng-model="ToDosFilter.Employer" ng-change="GetToDos(false)" class="form-control filter" ng-options="lst.Id as lst.Name for lst in EmployerList">
                        <option value="">All</option>
                    </select>
                </div>
            </div>
            <div class="row viewtodo-scrollbar" id="scrollViewToDoCtr" when-scrolled="LoadMoreToDos()">
                <div class="col-sm-12 list-content-area" id="todoCtr">
                    <div ng-repeat="toDo in ToDos">
                        <div ng-class="toDo.Status == 'Overdue' ? 'overdue' : ''" class="row row-hover">
                            <div class="col-sm-3" ng-cloak>
                                <input type="checkbox" class="todo-checkbox" ng-model="reassigntodos.Todos[$index].ApplyStatus" />&nbsp;
                                {{toDo.EmployeeName}}
                            </div>
                            <div class="col-sm-2" ng-cloak ng-click="OpenTodoModal(toDo)">
                                {{toDo.Title}}
                            </div>
                            <div class="col-sm-3 todos-combined-column">
                                <div class="col-sm-6 todos-due-date-column" ng-cloak ng-click="OpenTodoModal(toDo)">
                                    {{toDo.DueDate | ToDate | date:'MM/dd/yyyy'}}
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5 todos-status-column" ng-cloak ng-click="OpenTodoModal(toDo)">
                                    {{toDo.Status}}
                                </div>
                            </div>
                            <div class="col-sm-2" ng-cloak ng-click="OpenTodoModal(toDo)">
                                {{toDo.AssignedToName}}
                            </div>
                            <div class="col-sm-2" ng-cloak ng-click="OpenTodoModal(toDo)">
                                {{toDo.EmployerName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            @*<a class="btn btn-primary btn-sm" href="@Url.Action("Create", "Todos")">New To-Do</a>*@
        </div>
    </div><!--/.row-->
    <!-- Modal -->
    <view-todo-modal></view-todo-modal>
    <!--/Modal-->

</div><!--/ng-controller="WorkflowCtrl"-->
