﻿
@{
    ViewBag.Title = "Edit Pay Schedule";
}

<div ng-controller="PayScheduleCtrl" ng-init="Init('@ViewBag.EmployerId', '@ViewBag.PayScheduleId')">
    <div class="row">
        <div class="row">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-11">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-left">
                            <h2>Pay Schedule Of <span style="color: #ff8300; font-weight: bold;" ng-bind="EmployerName"></span></h2>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row border">
                    <form name="editPaySchedule" id="editPaySchedule">
                        <div class="row">
                            <div class="col-sm-3 col-header">Name</div>
                            <div class="col-sm-6 field-input">
                                <input type="text" class="form-control input-sm" name="Name" ng-model="PaySchedule.Name" required />
                                <span class="error" ng-show="(editPaySchedule.Name.$dirty || form.submitted) && editPaySchedule.Name.$invalid">Please enter a name for this pay schedule.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Type</div>
                            <div class="col-sm-6 field-input">
                                <select class="form-control input-sm" name="PayPeriodType" ng-model="PaySchedule.PayPeriodType" required converttonumber>
                                    <option></option>
                                    <option value="1">Weekly</option>
                                    <option value="2">BiWeekly</option>
                                    <option value="3">SemiMonthly</option>
                                    <option value="4">Monthly</option>
                                </select>
                                <span class="error" ng-show="(editPaySchedule.PayPeriodType.$dirty || form.submitted) && editPaySchedule.PayPeriodType.$invalid">Please enter a type for this pay schedule.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Start Day</div>
                            <div class="col-sm-6 field-input">
                                <input ng-if="PaySchedule.PayPeriodType != 1 && PaySchedule.PayPeriodType != 2" type="number" class="form-control input-sm" name="DayStart" ng-model="PaySchedule.DayStart" required />
                                <select ng-if="PaySchedule.PayPeriodType == 1 || PaySchedule.PayPeriodType == 2" class=" form-control input-sm" name="DayStart" ng-model="PaySchedule.DayStart" required converttonumber>
                                    <option></option>
                                    <option value="0">Sunday</option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                </select>
                                <span class="error" ng-show="(editPaySchedule.DayStart.$dirty || form.submitted) && editPaySchedule.DayStart.$invalid">Please enter the day this pay schedule starts on.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">End Day</div>
                            <div class="col-sm-6 field-input">
                                <input ng-if="PaySchedule.PayPeriodType != 1 && PaySchedule.PayPeriodType != 2" type="number" class="form-control input-sm" name="DayEnd" ng-model="PaySchedule.DayEnd" required />
                                <select ng-if="PaySchedule.PayPeriodType == 1 || PaySchedule.PayPeriodType == 2" class="form-control input-sm" name="DayEnd" ng-model="PaySchedule.DayEnd" required ng-change="UpdateProcessingDay()" converttonumber>
                                    <option></option>
                                    <option value="0">Sunday</option>
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                </select>
                                <span class="error" ng-show="(editPaySchedule.DayEnd.$dirty || form.submitted) && editPaySchedule.DayEnd.$invalid">Please enter the day this pay schedule ends on.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Processing Days to Pay Day</div>
                            <div class="col-sm-5 field-input">
                                <input type="number" class="form-control input-sm" name="ProcessingDays" ng-model="PaySchedule.ProcessingDays" required ng-change="UpdateProcessingDay()" />
                                <span class="error" ng-show="(editPaySchedule.ProcessingDays.$dirty || form.submitted) && editPaySchedule.ProcessingDays.$invalid">Please enter the number of days payroll has to process after a pay schedule ends.</span>
                            </div>
                            <div class="col-sm-1 col-header">
                                <span ng-show="PaySchedule.PayPeriodType == 1 || PaySchedule.PayPeriodType == 2" ng-bind="ProcessingDay"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">First Pay Period Start Date</div>
                            <div class="col-sm-6 field-input">
                                <div class="input-group date">
                                    <input id="StartDate" name="StartDate" type="text" class="form-control" show-weeks="false" placeholder="mm/dd/yyyy" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="PaySchedule.StartDate" required />
                                    <label for="StartDate" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </div>
                                <span class="error" ng-show="(editPaySchedule.StartDate.$dirty || form.submitted) && editPaySchedule.StartDate.$invalid">Please select when the pay schedule is effective.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Default</div>
                            <div class="col-sm-2 field-input">
                                <div class="btn-group group-2" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : PaySchedule.Default}" ng-click="PaySchedule.Default=true">
                                        <input type="radio" name="PaySchedule" ng-model="PaySchedule.Default" value="true" />
                                        Yes
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : !PaySchedule.Default}" ng-click="PaySchedule.Default=false">
                                        <input type="radio" name="PaySchedule" ng-model="PaySchedule.Default" value="false" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 pull-center">
                                <button type="button" class="btn btn-primary" ng-click="SavePaySchedule()">Save</button>
                                <button type="button" class="btn btn-danger" ng-click="DeletePaySchedule()" ng-show="PaySchedule.Id">Delete</button>
                                @Html.ActionLink("Cancel", "Index", new { EmployerId = ViewBag.EmployerId }, new { @class="btn btn-link"})
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

