﻿@{
    ViewBag.Title = "Pay Schedules";
}


<div ng-controller="PayScheduleCtrl" ng-init="InitList('@ViewBag.EmployerId')">
    <div class="row">
        <div class="row">
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-11">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-left">
                            <h2>Pay Schedules Of <span style="color: #ff8300; font-weight: bold;" ng-bind="EmployerName"></span></h2>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row item-list">
                    <div class="col-sm-2">
                        <div class="content-section">
                            Pay Schedules
                            @Html.ActionLink("New Pay Schedule", "EditPaySchedule", new { employerId = ViewBag.EmployerId }, new { @class = "btn btn-primary btn-sm- btn-icon-policies-normal" })
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="border">
                            <div class="row row-header">
                                <div class="col-sm-9">
                                    Schedule Name
                                </div>
                                <div class="col-sm-3">
                                    Default
                                </div>
                            </div>
                            <div class="row scroll">
                                <div class="col-sm-12">
                                    <div class="row row-hover" ng-repeat="paySchedule in PaySchedules" ng-click="GoToPayScheduleEdit(paySchedule)">
                                        <div class="col-sm-9" ng-bind="paySchedule.Name"></div>
                                        <div class="col-sm-3">
                                            <span ng-show="paySchedule.Default">Yes</span>
                                            <span ng-hide="paySchedule.Default">No</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

