﻿@model AbsenceSoft.SelfService.Models.ScheduleViewModel
<div id="scheduleDisplay">
    <div class="row">
        <div class="col-xs-12">
            @if (!String.IsNullOrWhiteSpace(Model.ErrorMessage))
            {               
                <label class="alert-danger">Error: @Model.ErrorMessage</label><br>
            }
            <label class="control-label header-color">WORK SCHEDULE</label>
        </div>
    </div>
    @if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.Weekly)
    {
        <div class="row">
            <div class="col-sm-2 col-wrap">
                Hours per Day
            </div>
            <div class="col-sm-10">
                <div class="schedule-days">
                    <div class="row seven-cols">
                        @for (int i = 0; i < Model.Times.Count; i++)
                        {
                            <div class="col-lg-1">
                                <div class="small uppercase">
                                    <label>@Model.Times[i].SampleDate.DayOfWeek</label>
                                </div>
                                @if (Model.Times[i].TotalMinutes != null && !Model.Times[i].TotalMinutes.Equals("0h"))
                                {
                                    @Html.Label(Model.Times[i].TotalMinutes)
                                }
                                else
                                {
                                    <label class="label-invisible">0</label>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.Rotating)
    {
        <div class="row">
            <div class="col-sm-2 col-wrap">
                Days in Rotation
            </div>
            <div class="col-sm-4 col-wrap">
                @Html.Label(Convert.ToString(Model.DaysInRotation), new { @class = "days-in-rotation form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-wrap">
                Hours per Day
            </div>
            <div class="col-sm-10 col-wrap">
                <div class="schedule-days">
                    @for (int i = 0; i < Model.Times.Count(); i++)
                    {
                        string label = (i + 1).ToString();
                        <div class="col-sm-1">
                            <div class="small">
                                <label>Day @label</label>
                            </div>
                            @if (Model.Times[i].TotalMinutes != null && !Model.Times[i].TotalMinutes.Equals("0h"))
                            {
                                @Html.Label(Model.Times[i].TotalMinutes)
                            }
                            else
                            {
                                <label class="label-invisible">0</label>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

    }
    else if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.Variable)
    {
        <div class="row">
            <div class="col-sm-2 col-wrap">
                Scheduled Hours
            </div>
            <div class="col-sm-10 col-wrap">
                <div class="schedule-days">
                    <div class="row seven-cols">
                        @for (int i = 0; i < Model.Times.Count; i++)
                        {
                            <div class="col-lg-1">
                                <div>
                                    <label class="uppercase">
                                        @Model.Times[i].SampleDate.DayOfWeek
                                    </label>
                                </div>
                                @if (Model.Times[i].TotalMinutes != null && !Model.Times[i].TotalMinutes.Equals("0h"))
                                {
                                    @Html.Label(Model.Times[i].TotalMinutes)
                                }
                                else
                                {
                                    <label class="label-invisible">0</label>
                                }

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-wrap">
                Actual Hours
            </div>
            <div class="col-sm-10 col-wrap">
                <div class="schedule-days">
                    <div class="row seven-cols">
                        @for (int i = 0; i < Model.ActualTimes.Count; i++)
                        {
                            <div class="col-sm-1">
                                <div>
                                    <label>
                                        @Model.ActualTimes[i].SampleDate.ToString("MM/dd")
                                    </label>
                                </div>

                                @if (Model.ActualTimes[i].TotalMinutes != null)
                                {
                                    @Html.Label(Model.ActualTimes[i].TotalMinutes)
                                }
                                else
                                {
                                    <label class="label-invisible">0</label>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.FteVariable)
    {
        <div class="row">
            <div class="col-sm-4 col-wrap">
                <label class="control-label header-color" for="Schedule_FteWeeklyDuration">FTE Weekly Duration</label>
            </div>
            <div class="col-sm-7 col-wrap">
                @if (Model.FteWeeklyDuration == AbsenceSoft.Data.Enums.FteWeeklyDuration.FteTimePerWeek)
                {
                    <label class="control-label">
                        FTE Time Per Week
                    </label>
                }
                else
                {
                    <label class="control-label">
                        FTE Percentage
                    </label>
                }
            </div>
        </div>
        if (Model.FteWeeklyDuration == AbsenceSoft.Data.Enums.FteWeeklyDuration.FteTimePerWeek)
        {
            <div class="row">
                <div class="col-sm-4 col-wrap">
                    Avg Hours per Week
                </div>
                <div class="col-sm-7 col-wrap">
                    @Html.Label(Model.FteAvgTimePerWeek)
                </div>
            </div>
        }
        else if (Model.FteWeeklyDuration == AbsenceSoft.Data.Enums.FteWeeklyDuration.FtePercentage)
        {
            <div class="row">
                <div class="col-sm-4 col-wrap">
                    FTE %
                </div>
                <div class="col-sm-2 col-wrap">
                    <label>@Model.FteTimePercentage</label>
                </div>
                <div class="col-sm-2 col-wrap">
                    Time
                </div>
                <div class="col-sm-2 col-wrap">
                    <label class = "hours-minutes">@Model.GetWeeklyWorkTime()</label>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-sm-4 col-wrap">
                FTE Hours per Week
            </div>
            <div class="col-sm-2 col-wrap">
                @Html.Label(Model.FTWeeklyWorkTime)
            </div>
        </div>
    }

</div>
