﻿@model AbsenceSoft.Data.Customers.Team

@{
    ViewBag.Title = "Edit Team";
    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}


<div ng-controller="TeamAssignmentCtrl" ng-init="InitEdit(@theModel)">
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Team Of <span style="color: #ff8300; font-weight:bold" ng-bind="BasicInfo.CompanyName"></span></h2>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-sm-12"><hr /></div></div>
            <div class="border">
                <form name="editTeam" id="editTeam">
                    <div class="row">
                        <div class="col-sm-3 col-header">Team Name</div>
                        <div class="col-sm-6 field-input">
                            <input type="text" class="form-control input-sm" name="Name" ng-model="Team.Name" required />
                            <span class="error" ng-show="(editTeam.Name.$dirty || form.submitted) && editTeam.Name.$invalid">Please provide a name</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-header">Description</div>
                        <div class="col-sm-6 field-input">
                            <textarea class="form-control input-sm" name="Description" ng-model="Team.Description" ></textarea>
                        </div>
                    </div>
                    <div class="row"><div class="col-sm-offset-3 col-sm-6"><hr /></div></div>
                    <div class="row">
                        <div class=" col-sm-offset-3 col-sm-3 col-header">Team Member</div>
                        <div class="col-sm-2 col-header">Team Lead</div>
                        <div class="col-sm-1">
                            <button class="btn btn-default btn-edit btn-small-icon" ng-click="AddTeamMember()"><span class="glyphicon glyphicon-plus" tooltip="Add Team Member"></span></button>
                        </div>
                    </div>
                    <div class="row" ng-form="teamMemberForm" ng-repeat="teamMember in TeamMembers">
                        <div class="col-sm-offset-3 col-sm-3 field-input">
                            <select ng-options="user.Id.toString() as user.DisplayName for user in UsersList" ng-model="teamMember.UserId" name="teamMemberId" required></select>
                            <span class="error" ng-show="(teamMemberForm.teamMemberId.$dirty || form.submitted) && teamMemberForm.teamMemberId.$invalid">Please select team member</span>
                        </div>
                        <div class="col-sm-2 field-input">
                            <div class="btn-group group-2" data-toggle="buttons">
                                <label class="btn btn-info" ng-class="{ 'active' : teamMember.IsTeamLead }" ng-click="SetTeamLead(teamMember)">
                                    <input type="radio" name="TeamLead" ng-model="teamMember.IsTeamLead" value=true />
                                    Yes
                                </label>
                                <label ng-class="{ 'active' : !teamMember.IsTeamLead }" class="btn btn-info" ng-click="teamMember.IsTeamLead = false">
                                    <input type="radio" name="TeamLead" ng-model="teamMember.IsTeamLead" value=false />
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-default btn-edit btn-small-icon" ng-click="RemoveTeamMember(teamMember)"><span class="glyphicon glyphicon-minus" tooltip="Remove Team Member"></span></button>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-sm-12 pull-center">
                            <button type="button" class="btn btn-primary" ng-click="SaveTeam()">Save</button>
                            <button type="button" class="btn btn-danger" ng-click="DeleteTeam()" ng-show="Team.Id">Delete</button>
                            @Html.ActionLink("Cancel", "Index", new { customerId = Model.CustomerId }, new { @class = "btn btn-link" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

