﻿@model IEnumerable<AbsenceSoft.Data.Customers.Team>

@{
    ViewBag.Title = "Teams";
    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<div ng-controller="TeamAssignmentCtrl" ng-init="InitList(@theModel)">
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Team Of <span style="color: #ff8300; font-weight:bold" ng-bind="BasicInfo.CompanyName"></span></h2>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-sm-12"><hr /></div></div>
            <div class="row item-list">
                <div class="col-sm-2 content-section">
                    Team
                    <a href="@Url.Action("EditTeam", new { customerId = ViewBag.CustomerId})" class="btn btn-primary btn-sm btn-icon-policies-normal">New Team</a>
                </div>
                <div class="col-sm-10">
                    <div class="border">
                        <div class="row row-header">
                            <div class="col-sm-3">
                                Team Name
                            </div>
                            <div class="col-sm-9">
                                Description
                            </div>
                        </div>
                        <div class="row scroll">
                            <div class="col-sm-12">
                                <div class="row row-hover" ng-repeat="team in Teams" ng-click="GoToTeamEdit(team)">
                                    <div class="col-sm-3" ng-bind="team.Name"></div>
                                    <div class="col-sm-9" ng-bind="team.Description"></div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>