﻿@model IEnumerable<AbsenceSoft.Models.Teams.TeamSave>

@{
    ViewBag.Title = "My Teams";
    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}


<div ng-controller="TeamAssignmentCtrl" ng-init="InitMyTeam(@theModel)">
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Teams Of <span style="color: #ff8300; font-weight:bold" ng-bind="BasicInfo.CompanyName"></span></h2>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-sm-12"><hr /></div></div>
            <div class="row" ng-show="MyTeams.length < 1">
                You do not belong to any teams.
            </div>
            <div class="panel panel-default" ng-repeat="team in MyTeams">
                <div class="panel-heading" ng-click="team.ShowTeamMembers = !team.ShowTeamMembers">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3 class="panel-title" ng-bind="team.Team.Name"></h3>
                        </div>
                        <div class="col-sm-9" ng-bind="team.Team.Description"></div>
                    </div>
                </div>
                <div class="panel-body" ng-show="team.ShowTeamMembers">
                    <div class="row col-header">
                        <div class="col-sm-6">Team Member</div>
                        <div class="col-sm-3">Team Lead</div>
                        <div class="col-sm-3" ng-show="team.Team.CurrentUserIsTeamLead && !team.IsAdding"><button class="btn btn-default btn-edit btn-small-icon" ng-click="team.IsAdding = true"><span class="glyphicon glyphicon-plus" tooltip="Add Team Member"></span></button></div>
                    </div>
                    <div class="row" ng-repeat="member in team.TeamMembers">
                        <div class="col-sm-6" ng-bind="member.User.DisplayName"></div>
                        <div class="col-sm-3">
                            <span ng-show="member.IsTeamLead">Yes</span>
                            <span ng-show="!member.IsTeamLead">No</span>
                        </div>
                        <div class="col-sm-3" ng-show="team.Team.CurrentUserIsTeamLead && !member.IsTeamLead && !team.IsAdding">
                            <button class="btn btn-default btn-edit btn-small-icon" ng-click="RemoveMyTeamMember(team, member)"><span class="glyphicon glyphicon-minus" tooltip="Remove Team Member"></span></button>
                        </div>
                    </div>
                    <div class="row" ng-show="team.IsAdding">
                        <div class="col-sm-6">
                            <select ng-model="team.NewUserId" ng-options="user.Id as user.DisplayName for user in UsersForAssignmentByTeamLead">
                                <option value="">Select a user</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-primary" ng-click="AddMyTeamMember(team)">Save</button>
                                <button type="button" class="btn btn-secondary" ng-click="team.IsAdding = false">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



