﻿<div id="editreport" class="tab-pane fade in active">
    <div class="setting-body">

        <div class="row rowNew">
            <a href="#" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;Save the parameters for this report to run later</a>

        </div>
        <div class="row rowNew">

            <div class="col-xs-12 edit-rpt-name pad0">
                <label>Report Name</label>
                <input type="text" id="saveReportName" />
            </div>
        </div>
    </div>
    <div id="setting-footer">
        <div class="row rowNew">
            <div class="col-xs-12 text-right">
                <div class="edit-rpt-btns">
                    <button type="button" class="btn cancel-btn">Cancel</button>
                    <button type="button" class="btn save-btn" id="save-report">Save and Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
