﻿<div id="schedulereport" class="tab-pane fade">
    <div class="setting-body">
        <div class="row rowNew">
            <a href="#" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;Schedule a report to be run automatically at a designated frequency</a>

        </div>
        <div class="row rowNew">
            <div class="col-xs-12 edit-rpt-name pad0">
                <label for="sel1">Select the frequency:</label>
                <select class="form-control" id="schedule-frequency">
                    <option value="0">Run Once</option>
                    <option value="1">Run Every Day</option>
                    <option value="Weekly">Run Every Week</option>
                    <option value="Monthly">Run Every Month</option>
                </select>
            </div>
        </div>

        <div class="row rowNew">
            <div class="col-xs-12 edit-rpt-name pad0">
                
            </div>
        </div>

        <div class="row rowNew">
            <div class="col-xs-12 edit-rpt-name pad0">
                <div class="col-xs-4 edit-rpt-name" style="padding-left:0;">
                    <label>Day</label>
                    <select class="form-control" id="schedule-day">
                        <option value="0">Sunday</option>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                    </select>
                </div>

                <div class="col-xs-4 edit-rpt-name" style="padding-left:0;">
                    <label>Date</label>
                    <div id="sch-date-picker" class="input-append date">
                        <input data-format="dd/MM/yyyy" readonly type="text" id="schDate" />
                        <span class="add-on glyphicon glyphicon-calendar">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                            </i>
                        </span>
                    </div>
                </div>
                <div class="col-xs-4 edit-rpt-name" style="padding-left:0;">
                    <label>Time</label>
                    <div id="sch-time-picker" class="input-append date">
                        <input data-format="hh:mm:ss" readonly type="text" id="schTime" />
                        <span class="add-on glyphicon glyphicon-calendar">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                            </i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row delier-to rowNew">
                <div class="col-xs-12 pad0">
                    <label>Deliver to</label>
                    <div class="row rowNew">
                        <div class="col-xs-3 pad0">
                            <div><input type="radio" name="schRepSharedWith" value="USER" /><label>User</label></div>
                        </div>
                        <div class="col-xs-9">
                            <div id="schRepUser" class="viewby"><select id="schRepSelUser" class="form-control select2-multiple" multiple></select></div>
                        </div>
                    </div>
                    <div class="row rowNew">
                        <div class="col-xs-3 pad0">
                            <div><input type="radio" name="schRepSharedWith" value="TEAM" /><label>Team</label></div>
                        </div>
                        <div class="col-xs-9">
                            <div id="schRepTeam" class="viewby"><select id="schRepSelTeam" class="form-control select2-multiple" multiple></select></div>
                        </div>
                    </div>
                    <div class="row rowNew">
                        <div class="col-xs-3 pad0">
                            <div><input type="radio" name="schRepSharedWith" value="ROLE" /><label>Role</label></div>
                        </div>
                        <div class="col-xs-9">
                            <div id="schRepRole" class="viewby"><select id="schRepSelRole" class="form-control select2-multiple" multiple></select></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row rowNew">
            <div class="col-xs-12 edit-rpt-name pad0">
                <label for="sel1">Export Format:</label>
                <select class="form-control" id="export-format">
                    <option value="0">PDF</option>
                    <option value="1">CSV</option>
                </select>
            </div>
        </div>

    </div>
    <div class="setting-footer">
            <div class="row rowNew">
                <div class="col-xs-12 text-right">
                    <div class="submit-rpt-btns">
                        <button id="cancelSchedule" type="button" class="btn cancel-btn">Cancel</button>
                        <button id="schedule-report" type="button" class="btn save-btn">Save and Close</button>
                    </div>
                </div>
            </div>
        </div>
</div>
