﻿<div id="sharereport" class="tab-pane fade">
    <input type="hidden" id="shared-report-id" />
    <div class="setting-body">
        <div class="row rowNew">
            <a href="#" style="text-decoration:none;">&nbsp;&nbsp;&nbsp;Send these report parameters to others as a link</a>

        </div>
        <div class="row rowNew">
            <div class="col-xs-12 edit-rpt-name pad0">
                <label>Report Name</label>
                <input type="text" id="txtShareName" />
            </div>
        </div>
        <div class="row rowNew">
            <div class="col-xs-12 pad0">
                <label>Viewable By</label>
                <div class="row rowNew" style="padding-bottom:8px;">
                    <div class="col-xs-3 pad0">
                        <div><input type="radio" name="sharedWith" value="USER" /><label>User</label></div>
                    </div>
                    <div class="col-xs-9">
                        <div id="user"><select id="selUser" class="form-control select2-multiple" multiple></select></div>
                    </div>
                </div>
                <div class="row rowNew" style="padding-bottom:8px;">
                    <div class="col-xs-3 pad0">
                        <div><input type="radio" name="sharedWith" value="TEAM" /><label>Team</label></div>
                    </div>
                    <div class="col-xs-9">
                        <div id="team"><select id="selTeam" class="form-control select2-multiple" multiple></select></div>
                    </div>
                </div>
                <div class="row rowNew" style="padding-bottom:8px;">
                    <div class="col-xs-3 pad0">
                        <div><input type="radio" name="sharedWith" value="ROLE" /><label>Role</label></div>
                    </div>
                    <div class="col-xs-9">
                        <div id="role"><select id="selRole" class="form-control select2-multiple" multiple></select></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="setting-footer">
        <div class="row rowNew">
            <div class="col-xs-12 text-right">
                <div class="edit-rpt-btns">
                    <button type="button" class="btn cancel-btn">Cancel</button>
                    <button type="button" class="btn save-btn" id="btnShareReport">Save and Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
