﻿@model AbsenceSoft.Areas.Reporting.Models.RunReportViewModel
<div class="report-action-header">

    <input type="hidden" id="report-id" value="@ViewBag.ReportId" />
    <input type="hidden" id="report-type" value="@Model.Category" />
    <input type="hidden" id="request-id" value="@ViewBag.RequestId" />
    <div class="col-md-4 pad0">
        <h4 id="report-category"></h4>
        <h6 id="report-name"></h6>
    </div>
    <div class="col-md-8 pad0">
        <div class="pull-right">
            <button class="btn btn-default report-settings-btn"  title="Delivery Options" data-toggle="collapse" data-target="#report-settings" aria-expanded="false" id="settings">
                <span class="fa fa-gears "></span>
            </button>

            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle report-run-btn" data-toggle="dropdown">Run Report <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" style="background-color:#FFF;">
                        <li id="run-report">
                            <a href="#" id="run-report-span">On Page Results </a>
                        </li>
                        <li>
                            <a href="#" id="export-csv">Export CSV</a>
                        </li>
                        <li >
                            <a href="#" id="export-pdf">Export PDF</a>
                        </li>
                    </ul>
                </div>
            </div>

            <button class="btn btn-default report-run-btn" id="view-progress" data-toggle="modal" data-target="#queueStatusModal">
                <span class="fa fa-play-circle"></span> <span id="run-report-span">View Progress</span>
            </button>

            <button class="btn btn-default report-run-btn" id="btn-back-report-dashboard" onclick="window.location.assign('/reporting/home');">
                <span class="fa fa-play-circle"></span> <span id="back-report-span">Back</span>
            </button>

        </div>
    </div>
</div>
<div class="report-criteria-header">
    <div class="col-xs-6">
        <p>Report Criteria Settings</p>
    </div>
    <div class="col-xs-6 text-right">
        <div id="showBtn">
            Show <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-up is-hidden"></i>
        </div>
    </div>
</div>

<div id="reportCriteria">
    <div class="col-sm-12" id="dateRanges">
        <div id="startenddate">
            <div class="col-xs-3">
                <label>Start Date</label>
                <div id="start-date" class="input-append">
                    <input data-format="MM/dd/yyyy" type="text" id="startDate" />
                    <span class="add-on glyphicon glyphicon-calendar">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
                </div>
            </div>
            <div class="col-xs-3">
                <label>End Date</label>
                <div id="end-date" class="input-append">
                    <input data-format="MM/dd/yyyy" type="text" id="endDate" />
                    <span class="add-on glyphicon glyphicon-calendar">
                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
                </div>
            </div>
        </div>
        <div id="agefromto">
            <div class="col-xs-3">
                <label>Age From</label>
                <input type="text" name="ageFrom" id="ageFrom" />
            </div>
            <div class="col-xs-3">
                <label>Age To</label>
                <input type="text" name="ageTo" id="ageTo" />
            </div>
        </div>
    </div>

    <div class="col-xs-12" id="loaddiv">
        <p class="load-save text-dark">Loading<span>.</span><span>.</span><span>.</span></p>
    </div>

    <div class="col-xs-12" id="reportCriteriaFilters"></div>
</div>
@{
    Html.RenderPartial("_ResultGrid");
}
<div class="edit-report-box collapse" id="report-settings">
    <div class="alert alert-info fade in" id="report-schedule-alert">
        <button type="button" class="close">×</button>
        <span>message display</span>
    </div>
    <div class="arrow-up"></div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#editreport">SAVE REPORT</a></li>
        <li><a data-toggle="tab" href="#sharereport" id="btnsharereport">SHARE REPORT</a></li>
        <li><a data-toggle="tab" href="#schedulereport" id="schReport">SCHEDULE REPORT</a></li>
    </ul>
    <div class="tab-content">
        @{
            Html.RenderPartial("_SaveReport");
        }

        @{
            Html.RenderPartial("_ShareReport");
        }

        @{
            Html.RenderPartial("_ScheduleReport");
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
}