﻿@using AbsenceSoft.Common
@using AbsenceSoft.Helpers
@model AbsenceSoft.Models.Customers.AccountModel

<h1>Almost done. Now, who does the books?</h1><br />
<form id="account_form">
    <fieldset>
        <legend>Next: Last step, Employer Information</legend>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.BillingAddress1)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.BillingAddress1, new { patern = @"(\s*(\S)\s*){2,}" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.BillingAddress2)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.BillingAddress2, null)
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.BillingCity)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.BillingCity, new { patern = @"(\s*(\S)\s*){2,}" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.BillingState)
            </div>
            <div class="wiz-field-input">
                @Html.StateDropDown("mystate", "name", "Select State", null, true, null)
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.BillingZipcode)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.BillingZipcode, new { placeholder = "11111-0000", pattern = @"^\d{5}(?:[-\s]\d{4})?$" })
            </div>
        </div>
    </fieldset>
    <button class="btn btn-secondary" id="step3_back">Previous Step</button>
    <button class="btn btn-primary" id="step3">Next Step</button>
</form>