﻿@using AbsenceSoft.Common
@using AbsenceSoft.Helpers
@model AbsenceSoft.Models.Customers.CompanyModel

<h1>Ok, let's start with your company.</h1><br />
<form id="company_form">
    <fieldset>
        <legend>Next: Information About Me</legend>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.CompanyName)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.CompanyName, new { pattern = @"(\s*(\S)\s*){2,}" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                <span class="help_span" title="The client URL will be the URL that people will use to access your AbscenseSoft website for your company."></span>@Html.AngularLabelFor(x => x.Subdomain)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.Subdomain, new { onblur = "checkSubdomainAvailable(this);" })<span class="subtext">.absencetracker.com</span>
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.Phone)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.Phone, new { placeholder = "(800) 555-1212", pattern = @"^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$", title = "United States phone number in the format (XXX) XXX-XXXX." })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.NumberOfEmployees)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.NumberOfEmployees, null, null, (Dictionary<string, string>)ViewBag.NumberOfEmployees)
            </div>
        </div>
    </fieldset>
    <button class="btn btn-primary" id="step1">Next Step</button>
</form>
