﻿@using AbsenceSoft.Common
@using AbsenceSoft.Helpers
@model AbsenceSoft.Models.Customers.BaseCustomerModel

@section head {
    <link href="@Url.Content("~/Content/css/select2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/wizard.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/switchery.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/select2-bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/tooltipster.css")" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="@Url.Content("~/Scripts/switchery.min.js")"></script></script>
    <script src="@Url.Content("~/Scripts/jquery.tooltipster.min.js")"></script>
    <script>
        $(function () {

            // Prettify the checkboxes
            var elem1 = document.querySelector('.sp-switch1');
            var init1 = new Switchery(elem1, { color: '#ff8300' });

            var elem2 = document.querySelector('.sp-switch2');
            var init2 = new Switchery(elem2, { color: '#ff8300' });

            // Fire up tooltips
            $('.help_span').tooltipster();

            $("#step1").on("click", function () {
                if ($('#company_form')[0].checkValidity() === false) {
                    return;
                }
                else {
                    $("#company_info").effect("puff", null, 250, function () {
                        $("#customer_info").slideDown(250, function () {
                            @*$.ajax({
                            url: "/Customers/CreateCompany",
                            data: JSON.stringify(@Model.Company),
                            dataType: "JSON",
                            type: "POST"
                        }).done(function (result) {
                            // Company was created
                        });*@
                        });
                    });
                    return false;
                }
            });

            $("#step2").on("click", function () {

                if ($('#customer_form')[0].checkValidity() === false) {
                    return;
                }
                $("#customer_info").effect("puff", null, 250, function () {
                    $("#account_info").slideDown(250, function () {
                        @*$.ajax({
                            url: "/Customers/CreateCompany",
                            data: JSON.stringify(@Model.Customer),
                            dataType: "JSON",
                            type: "POST"
                        }).done(function (result) {
                            // Customer was created
                        });*@
                    });
                });
                return false;
            });

            $("#step3").on("click", function () {
                if ($('#account_form')[0].checkValidity() === false) {
                    return;
                }
                $("#account_info").effect("puff", null, 250, function () {
                    $("#employer_info").slideDown(250, function () {
                        @*$.ajax({
                            url: "/Customers/CreateAccount",
                            data: JSON.stringify(@Model.Customer),
                            dataType: "JSON",
                            type: "POST"
                        }).done(function (result) {
                            // Customer was created
                        });*@
                    });
                });
                return false;
            });

            $("#step4").on("click", function () {
                if ($('#employer_form')[0].checkValidity() === false) {
                    return;
                }
                else {

                    @*$.ajax({
                    url: "/Customers/CreateEmployer",
                    data: JSON.stringify(@Model.Employer),
                    dataType: "JSON",
                    type: "POST"
                }).done(function (result) {
                    // If we get here, everything is created, so show a success page
                });*@
                    return false;
                }
            });

            // Back one step
            $("#step2_back").on("click", function () {
                $("#customer_info").effect("puff", null, 250, function () { $("#company_info").slideDown(250); });
            });

            // Back one step
            $("#step3_back").on("click", function () {
                $("#account_info").effect("puff", null, 250, function () { $("#customer_info").slideDown(250); });
            });

            // Back one step
            $("#step4_back").on("click", function () {
                $("#employer_info").effect("puff", null, 250, function () { $("#customer_info").slideDown(250); });
            });

        });

        // When called, checks to see if a subdomain is available or not and displays an indicator
        var checkSubdomainAvailable = function (sender) {
            var $sender = $(sender);

            //$.ajax({
            //    url: "/Customers/CheckSubdomainAvailable",
            //    data: $sender.val(),
            //    dataType: "JSON",
            //    type: "GET"
            //}).done(function (result) {
            //    // If the result is the same as the passed in value, do nothing, otherwise flag
            //    // the field and display the suggested subdomain
            //    debugger;
            //});
        };
    </script>
}

<div id="wizard_container">
    <div id="company_info" class="row">
        @{Html.RenderPartial("Company", Model.Company);}
    </div>
    <div id="customer_info" class="row" style="display: none">
        @{Html.RenderPartial("Customer", Model.Customer);}
    </div>
    <div id="account_info" class="row" style="display: none">
        @{Html.RenderPartial("Account", Model.Account);}
    </div>
    <div id="employer_info" class="row" style="display: none">
        @{Html.RenderPartial("Employer", Model.Employer);}
    </div>
</div>


