﻿@using AbsenceSoft.Common
@using AbsenceSoft.Helpers
@model AbsenceSoft.Models.Customers.CustomerModel

<h1>Now, let's hear about you.</h1><br />
<form id="customer_form">
    <fieldset>
        <legend>Next: Finalize Account</legend>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.FirstName)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.FirstName, new { pattern = @"(\s*(\S)\s*){2,}" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.LastName)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.LastName, new { pattern = @"(\s*(\S)\s*){2,}" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.EmailAddress)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.EmailAddress, new { placeholder = "me@mycompany.com", pattern = @"[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                <span class="help_span" title="Passwords must be at least eight characters long and include at least one upper case letter,&#10; one lower case letter, one number, and one special character (!#$%&*)"></span>@Html.AngularLabelFor(x => x.Password)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.Password, new { pattern = @"^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" })
            </div>
        </div>

    </fieldset>
    <button class="btn btn-secondary" id="step2_back">Previous Step</button>
    <button class="btn btn-primary" id="step2">Next Step</button>
</form>