﻿@using AbsenceSoft.Common
@using AbsenceSoft.Helpers
@model AbsenceSoft.Models.Customers.EmployerModel

<h1>Finally, let's get some details about your employer.</h1><br />
<form id="employer_form">
    <fieldset>
        <legend>Next Step: You're Done!</legend>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.SignatureName)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.SignatureName, new { pattern = @"(\s*(\S)\s*){4,}" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                <label>Upload your Logo</label>
            </div>
            <div class="wiz-field-input">
                <input type="file" name="logo_upload" /><img class="logo_upload" src="" />
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                <span class="help_span" title="This is likely different than your billing address.&#10;This is the physical address of your employer."></span>@Html.AngularLabelFor(x => x.EmployerAddress1)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.EmployerAddress1, null)
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.EmployerAddress2)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.EmployerAddress2, null)
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.EmployerCity)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.EmployerCity, new { patern = @"(\s*(\S)\s*){2,}" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.EmployerState)
            </div>
            <div class="wiz-field-input">
                @Html.StateDropDown("mystate", "name", "Select State", null, true, null)
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                @Html.AngularLabelFor(x => x.EmployerZipcode)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.EmployerZipcode, new { placeholder="11111-0000", pattern=@"^\d{5}(?:[-\s]\d{4})?$" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                <span class="help_span" title="Does the employer have more than 50 employees within 75 miles radius?"></span>@Html.AngularLabelFor(x => x.Use50In75Rule)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.Use50In75Rule, null, new { @class = "sp-switch1" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                <span class="help_span" title="This indicates whether or not your company has special rules for spouse at same employer."></span>@Html.AngularLabelFor(x => x.SpouseAtSameEmployer)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.SpouseAtSameEmployer, new { @class = "sp-switch2" })
            </div>
        </div>
        <div class="row">
            <div class="wiz-field-label">
                <span class="help_span" title="Type of family medical leave allowed."></span>@Html.AngularLabelFor(x => x.PeriodType)
            </div>
            <div class="wiz-field-input">
                @Html.AngularInputFor(x => x.PeriodType, null, null, (Dictionary<string, string>)ViewBag.FMLPeriod)
            </div>
        </div>
    </fieldset>
    <button class="btn btn-secondary" id="step4_back">Previous Step</button>
    <button class="btn btn-primary">Ok, Let's Go!</button>
</form>