﻿@model AbsenceSoft.Models.CustomContent.CustomContentViewModel

@{
    ViewBag.Title = "Edit Custom Content";
}

@using (Ajax.BeginRouteForm("SaveCustomContent", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "editCustomContent", OnSuccess = "AbsenceSoft.PageStart('#editCustomContent')", InsertionMode = InsertionMode.ReplaceWith }, new { id = "editCustomContent" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Custom Content of <span class="customer-name">@Customer.Current.Name</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink("Cancel", "ListCustomContent", null, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    @Html.HiddenFor(m => m.Id)
                    @Html.ValidationSummary(true, "Unable to save the Custom Content.  Please see the validation errors below.")
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="@(Html.ValidationErrorFor(m => m.Name, "error"))">
                                <div class="row">
                                    <div class="col-sm-4 col-wrap">
                                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-7 col-wrap">
                                        @Html.DropDownListFor(m => m.Name, Model.Keys, "Select A Name", new { @class="form-control", id="customContentName"})
                                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" ng-non-bindable>
                            @Html.EditorFor(m => m.Value)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.EmployerId)
                        </div>
                    </div>
                    <div class="row pull-center">
                        <input type="submit" value="Save Custom Content" class="btn btn-primary" />
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            @Ajax.RouteLink("Delete", "DeleteCustomContent", new { customerId = Customer.Current.Id, id = Model.Id }, new AjaxOptions()
                                {
                                    HttpMethod = "DELETE"
                                }, new { @class = "btn btn-danger" })
                        }
                        @Html.RouteLink("Cancel", "ListCustomContent", null, new { @class = "btn btn-link" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">&nbsp;</div>
    </div>

}

