﻿
@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    string name = item.Get<string>("Name");
    string employer = item.Get<string>("Employer");
    string value = item.Get<string>("Value");
    <div class="row">
        <div class="col-sm-12">
            <a href="@Url.RouteUrl("EditCustomContent", new { id = id })">
                <div class="row">
                    <div class="col-sm-5">
                        @name
                    </div>
                    <div class="col-sm-2">
                        @employer
                    </div>
                    <div class="col-sm-5">
                        <p ng-non-bindable>@value</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
}