﻿@{
    ViewBag.Title = "View Custom Content";
}
@Html.AntiForgeryToken()


<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h2>Custom Content of <span class="customer-name">@Customer.Current.Name</span></h2>
                </div>
                <div class="pull-right">
                    @Html.RouteLink("Back", "AdministrationIndex", null, new { @class = "btn btn-primary navbar-btn" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row item-list">
            <input type="hidden" class="page" value="1" />
            <input type="hidden" class="url" value="@Url.RouteUrl("ListCustomContent")" />
            <input type="hidden" class="total" value="" />
            <div class="col-sm-2">
                <div class="content-section">
                    Custom Content
                    @Html.RouteLink("New Content", "EditCustomContent", null, new { @class = "btn btn-primary btn-sm btn-icon-policies-normal" })
                </div>
            </div>
            <div class="col-sm-10">
                <div class="border">
                    <div class="row row-header">
                        <div class="col-sm-5 list-sort">
                            Name
                            <input type="hidden" class="sort-name" value="Key" />
                            <i class="glyphicon sort"></i>
                        </div>
                        <div class="col-sm-2 list-sort">
                            Employer
                            <input type="hidden" class="sort-name" value="EmployerId" />
                            <i class="glyphicon sort"></i>
                        </div>
                        <div class="col-sm-5 list-sort">
                            Description
                            <input type="hidden" class="sort-name" value="Value" />
                            <i class="glyphicon sort"></i>
                        </div>
                    </div>
                    <div class="scroll list-display">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



