﻿<div ng-init="init('{{CurrentUserEmpId}}', '', '', '', '')" has-permission="CreateCase">
    <div class="row">
        <!-- START : Mock up for accordian design like walmart -->
        <div class="col-sm-12">
            <h4 class="pull-center">
                <b>Case Request For {{EmployeeInfo.FirstName}} {{EmployeeInfo.LastName}}</b>
            </h4>
            <div class="clearfix">&nbsp;</div>
            <h4 class="inline">
                <a href=""><span ng-show="PanelStatus[0] == false" class="badge-active">1</span></a> <span ng-show="PanelStatus[0] == false">&nbsp;<b>Validate Personal Info</b>&nbsp;</span>
                <a href="" ng-click="GoToStep(1)"><span ng-show="PanelStatus[0] == true" class="badge-done">1</span></a>
                <span ng-show="PanelStatus[0] == undefined" class="badge-inactive">1</span>
            </h4>
            <h4 class="inline">
                <a href=""><span ng-show="PanelStatus[1] == false" class="badge-active">2</span></a><span ng-show="PanelStatus[1] == false">&nbsp;<b>How are you planning to be out of office?</b>&nbsp;</span>
                <a ng-click="GoToStep(2)" href=""><span ng-show="PanelStatus[1] == true" class="badge-done">2</span></a>
                <span ng-show="PanelStatus[1] == undefined" class="badge-inactive">2</span>
            </h4>
            <h4 class="inline">
                <a href=""><span ng-show="PanelStatus[2] == false" class="badge-active">3</span></a>
                <span ng-show="EmployeeCreateCaseModel.CaseTypeId ==1 && PanelStatus[2] == false">&nbsp;<b>What dates do you anticipate being or have been out of the office?</b>&nbsp;</span>
                <span ng-show="EmployeeCreateCaseModel.CaseTypeId ==8 && PanelStatus[2] == false">&nbsp;<b>What dates do you anticipate?</b>&nbsp;</span>
                <span ng-show="(EmployeeCreateCaseModel.CaseTypeId == 2 || EmployeeCreateCaseModel.CaseTypeId==4) && PanelStatus[2] == false">&nbsp;<b>What period of time do you anticipate or have been in need of a reduced schedule?</b>&nbsp;</span>
                <a ng-click="GoToStep(3)" href=""><span ng-show="PanelStatus[2] == true" class="badge-done">3</span></a>
                <span ng-show="PanelStatus[2] == undefined" class="badge-inactive">3</span>
            </h4>
            <h4 class="inline">
                <a href=""><span ng-show="PanelStatus[3] == false" class="badge-active">4</span></a><span ng-show="PanelStatus[3] == false">&nbsp;<b>For whom are you needing this leave of absence?</b>&nbsp;</span>
                <a href="" ng-click="GoToStep(4)"><span ng-show="PanelStatus[3] == true" class="badge-done">4</span></a>
                <span ng-show="PanelStatus[3] == undefined" class="badge-inactive">4</span>
            </h4>
            <h4 class="inline">
                <a href=""><span ng-show="PanelStatus[4] == false" class="badge-active">5</span></a><span ng-show="PanelStatus[4] == false">&nbsp;<b>What is a reason for leave of absence?</b>&nbsp;</span>
                <a ng-click="GoToStep(5)" href=""><span ng-show="PanelStatus[4] == true" class="badge-done">5</span></a>
                <span ng-show="PanelStatus[4] == undefined" class="badge-inactive">5</span>
            </h4>
            <h4 class="inline">
                <a href=""><span ng-show="PanelStatus[5] == false" class="badge-active">6</span></a> <span ng-show="PanelStatus[5] == false">&nbsp;<b>Validate Work Schedule</b>&nbsp;</span>
                <a ng-click="GoToStep(6)" href=""><span ng-show="PanelStatus[5] == true" class="badge-done">6</span></a>
                <span ng-show="PanelStatus[5] == undefined" class="badge-inactive">6</span>
            </h4>
            <h4 class="inline">
                <a href=""><span ng-show="PanelStatus[6] == false" class="badge-active">7</span></a><span ng-show="PanelStatus[6] == false">&nbsp;<b>Case Summary Confirmation</b>&nbsp;</span>
                <a ng-click="GoToStep(7)" href=""><span ng-show="PanelStatus[6] == true" class="badge-done">7</span></a>
                <span ng-show="PanelStatus[6] == undefined" class="badge-inactive">7</span>
            </h4>
        </div>
    </div>
    <div class="row-offset">
        <div class="col-sm-12">
            <div id="Step1">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-2 col-header">
                                Name
                            </div>
                            <div class="col-sm-4 capitalize">
                                {{EmployeeInfo.FirstName}} {{EmployeeInfo.LastName}}
                            </div>
                            <div class="col-sm-3 col-header">
                                Employee ID
                            </div>
                            <div class="col-sm-3">
                                {{EmployeeInfo.EmployeeNumber}}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-2 col-header">
                                Address
                            </div>
                            <div class="col-sm-4 capitalize">
                                <span style="width:50px !important; word-wrap:break-word !important;">
                                    {{EmployeeInfo.Address.Address1}} {{EmployeeInfo.Address.Address2}} {{EmployeeInfo.Address.City}} {{EmployeeInfo.Address.State}} {{EmployeeInfo.Address.PostalCode}}
                                </span>
                            </div>
                            <div class="col-sm-3 col-header">
                                Work Phone
                            </div>
                            <div class="col-sm-3">
                                {{EmployeeInfo.WorkPhone | tel}}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-2 col-header">
                                Work Email
                            </div>
                            <div class="col-sm-4">
                                {{EmployeeInfo.Email}}
                            </div>
                            <div class="col-sm-3 col-header">
                                Home Phone
                            </div>
                            <div class="col-sm-3">
                                {{EmployeeInfo.HomePhone | tel}}
                            </div>
                        </div>
                        <div class="col-sm-12">                            
                            <div class="col-sm-3 col-header">
                                Cell Phone
                            </div>
                            <div class="col-sm-3">
                                {{EmployeeInfo.CellPhone | tel}}
                            </div>
                        </div>
                        <div class="col-sm-12" ng-if="EmployeeInfo.AltEmail">
                            <div class="col-sm-2 col-header">
                            Alt Email    
                            </div>
                            <div class="col-sm-3">
                                {{EmployeeInfo.AltEmail}}
                                </div>
                            <div class="col-sm-2 col-header">
                                Alt Phone
                            </div>
                            <div class="col-sm-3">
                                {{EmployeeInfo.AltPhone | tel}}
                            </div>
                            </div>
                        <div class="clearfix"><br /><br/></div>
                        <div class="col-sm-9 col-sm-offset-3">
                            <div class="row">
                                <div class="col-sm-6 col-header"><label class="confimation-text">Is this information correct?</label></div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="btn-group group-2" data-toggle="buttons">
                                            <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.IsContactInformationCorrect == true}" ng-click="ValidateInfoError=false; forms.ShowDetailsToEdit=false; EmployeeCreateCaseModel.IsContactInformationCorrect=true">
                                                <input type="radio" ng-model="EmployeeCreateCaseModel.IsContactInformationCorrect" value="true"/> Yes
                                            </label>
                                            <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.IsContactInformationCorrect == false}" ng-click="ValidateInfoError=false; forms.ShowDetailsToEdit = true; EmployeeCreateCaseModel.IsContactInformationCorrect=false">
                                                <input type="radio" ng-model="EmployeeCreateCaseModel.IsContactInformationCorrect" value="false" /> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" style="margin-bottom: 15px;">
                                <div class="error pull-right" ng-cloak ng-show="ValidateInfoError">Please select an option</div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="col-sm-4 col-header">
                                                Preferred Way Of Contact
                                            </div>
                                            <div class="col-sm-8">
                                                <select name="ContactPreference" ng-model="EmployeeCreateCaseModel.ContactPreference" class="form-control create-case-select" ng-change="SetContactPref()">
                                                    <option value="">Please select</option>
                                                    <option value="Phone">Phone</option>
                                                    <option value="Email">Email</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-hide="EmployeeCreateCaseModel.ContactPreference == 'Email'">
                                        <div class="col-sm-12">
                                            <div class="col-sm-4 col-header">
                                                Preferred Contact Time
                                            </div>
                                            <div class="col-sm-8">
                                                <select name="TimePreference" ng-model="EmployeeCreateCaseModel.TimePreference" class="form-control create-case-select">
                                                    <option value="">Please select</option>
                                                    <option value="Morning">Morning (8-12)</option>
                                                    <option value="Afternoon">Afternoon (12-5)</option>
                                                    <option value="Evening">Evening (5-8)</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form name="forms.frmStep1" novalidate>
                            <div ng-show="forms.ShowDetailsToEdit">
                                <div class="col-sm-12">
                                    <div class="col-sm-2 col-header">
                                        Work Email
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" name="email" class="form-control" ng-model="EmployeeCreateCaseModel.NewEmail" />
                                    </div>                                    
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2 col-header">
                                        Alt Email
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" name="email" class="form-control" ng-model="EmployeeCreateCaseModel.NewAltEmail" />
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-2 col-header">
                                        State
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="states" name="States" ng-show="ShowAddressStateDropDown" ng-model="EmployeeCreateCaseModel.NewState" class="form-control input-sm" ng-required="forms.ShowDetailsToEdit">
                                            <option value=""></option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                            <option value="AS">American Samoa</option>
                                            <option value="GU">Guam</option>
                                            <option value="MP">Northern Mariana Islands</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="UM">United States Minor Outlying Islands</option>
                                            <option value="VI">Virgin Islands</option>
                                            <option value="AA">Armed Forces Americas</option>
                                            <option value="AP">Armed Forces Pacific</option>
                                            <option value="AE">Armed Forces Others</option>
                                        </select>
                                        <input type="text" class="form-control input-sm" ng-show="ShowAddressStateTextBox" name="State" ng-model="EmployeeCreateCaseModel.NewState" />
                                        <span class="error" ng-cloak ng-show="forms.frmStep1.States.$error.required && Step1Submitted && ShowAddressStateDropDown">Please select state</span>
                                        <span class="error" ng-cloak ng-show="forms.frmStep1.States.$error.required && Step1Submitted && ShowAddressStateTextBox">Please enter state</span>
                                    </div>
                                    <div class="col-sm-2 col-header">
                                        Address
                                    </div>
                                    <div class="col-sm-4 capitalize">
                                        <input type="text" name="NewAddress" class="form-control" ng-model="EmployeeCreateCaseModel.NewAddress" ng-required="forms.ShowDetailsToEdit" />
                                        <span class="error" ng-cloak ng-show="forms.frmStep1.NewAddress.$error.required && Step1Submitted">Please enter address</span>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-2 col-header">
                                        City
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" name="City" class="form-control" ng-model="EmployeeCreateCaseModel.NewCity" ng-required="forms.ShowDetailsToEdit" />
                                        <span class="error" ng-cloak ng-show="forms.frmStep1.City.$error.required && Step1Submitted">Please enter city</span>
                                    </div>
                                    <div class="col-sm-2 col-header">
                                        Zip
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" name="PostalCode" ng-model="EmployeeCreateCaseModel.NewZipcode" ng-required="forms.ShowDetailsToEdit" />
                                        <span class="error" ng-cloak ng-show="forms.frmStep1.PostalCode.$error.required && Step1Submitted">Please enter zip</span>
                                        <span class="error" data-ng-show="forms.frmStep1.PostalCode.$error.valid">Not valid zip code</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2 col-header">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-4 capitalize">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2 col-header">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-4 capitalize">
                                        <a style="cursor:pointer" ng-model="empinfomore" ng-click="empinfomore =! empinfomore">Alternate Mailing Address</a>
                                    </div>
                                </div>

                                <div ng-show="empinfomore">
                                    <div class="col-sm-12">
                                        <div class="col-sm-2 col-header">
                                            State
                                        </div>
                                        <div class="col-sm-4">
                                            <select id="states" name="States" ng-show="ShowAltAddressStateDropDown" ng-model="EmployeeCreateCaseModel.NewAltState" class="form-control input-sm">
                                                <option value=""></option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                                <option value="AS">American Samoa</option>
                                                <option value="GU">Guam</option>
                                                <option value="MP">Northern Mariana Islands</option>
                                                <option value="PR">Puerto Rico</option>
                                                <option value="UM">United States Minor Outlying Islands</option>
                                                <option value="VI">Virgin Islands</option>
                                                <option value="AA">Armed Forces Americas</option>
                                                <option value="AP">Armed Forces Pacific</option>
                                                <option value="AE">Armed Forces Others</option>
                                            </select>
                                            <input type="text" class="form-control input-sm" ng-show="ShowAltAddressStateTextBox" name="AltState" ng-model="EmployeeCreateCaseModel.NewAltState" />
                                        </div>
                                        <div class="col-sm-2 col-header">
                                            Address
                                        </div>
                                        <div class="col-sm-4 capitalize">
                                            <input type="text" name="NewAltAddress" class="form-control" ng-model="EmployeeCreateCaseModel.NewAltAddress" />
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="col-sm-2 col-header">
                                            City
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" name="AltCity" class="form-control" ng-model="EmployeeCreateCaseModel.NewAltCity" />
                                        </div>
                                        <div class="col-sm-2 col-header">
                                            Zip
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm" name="AltPostalCode" ng-model="EmployeeCreateCaseModel.NewAltZipcode" />
                                            <span class="error" data-ng-show="forms.frmStep1.AltPostalCode.$error.valid">Not valid zip code</span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">
                                    <div class="col-sm-2 col-header">
                                        Work Phone
                                    </div>
                                    <div class="col-sm-4 capitalize">
                                        <input type="text" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.NewWorkPhone" name="WorkPhone" ng-blur-tel />
                                    </div>
                                    <div class="col-sm-2 col-header">
                                        Cell Phone
                                    </div>
                                    <div class="col-sm-4 capitalize">
                                        <input type="text" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.NewCellPhone" name="WorkPhone" ng-blur-tel />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-2 col-header">
                                        Home Phone
                                    </div>
                                    <div class="col-sm-4 capitalize">
                                        <input type="text" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.NewHomePhone" name="WorkPhone" ng-blur-tel />
                                    </div>
                                    <div class="col-sm-2 col-header">
                                        Alt Phone
                                    </div>
                                    <div class="col-sm-4 capitalize">
                                        <input type="text" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.NewAltPhone" name="AltPhone" ng-blur-tel />
                                    </div>
                                </div>

                                <!--<div class="col-sm-12" style="margin-top: 10px;">
                                    <div class="pull-center">
                                        <button type="button" class="btn btn-primary" ng-click="Step1Submitted=true; SubmitNewContact(forms.frmStep1.$valid)">Save</button>
                                        <button type="button" class="btn btn-link" ng-click="forms.ShowDetailsToEdit = !forms.ShowDetailsToEdit; EmployeeCreateCaseModel.IsContactInformationCorrect='true';">Cancel</button>
                                    </div>
                                </div>-->
                            </div>
                        </form>
                        <div class="col-sm-offset-1 col-sm-11" ng-show="forms.ShowNewContactWarning" style="margin-bottom: 10px;">
                            <label class="text-info">
                                Your HR department will be notified to verify new
                            </label>
                        </div>
                        <br />
                        <button type="button" class="btn btn-primary pull-right" ng-click="Step1Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
                    </div>
                </div>
            </div>
            <div id="Step2" class="hide">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="row">
                        <form name="forms.frmStep2" novalidate>
                            <div class="btn-group group-3" data-toggle="buttons" ng-if="!IsAccommodation">
                                <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.CaseTypeId == 1}" ng-click="EmployeeCreateCaseModel.CaseTypeId=1; ">
                                    <input type="radio" name="LeaveType" value="1" ng-model="EmployeeCreateCaseModel.CaseTypeId" ng-required="true" /> Full Time
                                </label>
                                <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.CaseTypeId == 4}" ng-click="EmployeeCreateCaseModel.CaseTypeId=4; ">
                                    <input type="radio" name="LeaveType" value="4" ng-model="EmployeeCreateCaseModel.CaseTypeId" ng-required="true" /> Work Reduced Hours
                                </label>
                                <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.CaseTypeId == 2}" ng-click="EmployeeCreateCaseModel.CaseTypeId=2;">
                                    <input type="radio" name="LeaveType" value="2" ng-model="EmployeeCreateCaseModel.CaseTypeId" ng-required="true" /> Intermittently
                                </label>
                            </div>
                            <div class="btn-group col-sm-offset-3 col-sm-6" data-toggle="buttons" ng-if="IsAccommodation">
                                <label class="btn btn-radio col-sm-12" ng-class="{ 'active' : EmployeeCreateCaseModel.CaseTypeId == 8}" ng-click="EmployeeCreateCaseModel.CaseTypeId=8;">
                                    <input type="radio" name="LeaveType" value="8" ng-model="EmployeeCreateCaseModel.CaseTypeId" ng-required="true" /> Administrative
                                </label>
                            </div>

                            <div class="col-sm-12 text-right">
                                <span ng-show="forms.frmStep2.LeaveType.$error.required && Step2Submitted" class="error">Please select an option</span>
                            </div>
                        </form>
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary pull-right" ng-click="GoToStep(1)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="Step2Submitted=true; Step2Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
                </div>
            </div>
            <div id="Step3" class="hide">
                <div class="col-sm-12">
                    <form name="forms.frmStep3" novalidate>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Start Date: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input date-lower-than='{{EmployeeCaseEndDate}}' type="text" id="EmpCaseStartDate" name="EmpCaseStartDate" class="form-control input-sm" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="EmployeeCaseStartDate" required />
                                            <label for="EmpCaseStartDate" class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </label>
                                        </div>
                                        <span class="error" ng-cloak ng-show="forms.frmStep3.EmpCaseStartDate.$error.required && Step3Submitted">Please enter start date</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>End Date: </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="text" name="EmpCaseEndDate" id="EmpCaseEndDate" class="form-control input-sm" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="EmployeeCaseEndDate" required />
                                            <label for="EmpCaseEndDate" class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </label>
                                        </div>
                                        <span class="error" ng-cloak ng-show="forms.frmStep3.EmpCaseEndDate.$error.required && Step3Submitted">Please enter end date</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-11 col-sm-offset-1 error" ng-cloak ng-show="forms.frmStep3.EmpCaseStartDate.$error.dateLowerThan">The end date cannot be before the start date.</div>
                        </div>
                        <button type="button" class="btn btn-primary pull-right" ng-click="GoToStep(2)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
                        <button type="button" class="btn btn-primary pull-right" ng-click="Step3Submitted=true; Step3Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
                    </form>
                    <br />
                </div>
            </div>
            <div id="Step4" class="hide">
                <div class="col-sm-offset-1 col-sm-11">
                    <form name="forms.frmStep4" novalidate>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-offset-0 col-sm-9">
                                    <div class="btn-group group-2" data-toggle="buttons">
                                        <label class="btn btn-radio" ng-class="{'active': EmployeeCreateCaseModel.LeaveFor=='Self'}" ng-click="EmployeeCreateCaseModel.LeaveFor='Self'; SelectedAbsenceReasonCategory=null; SelectedAbsenceReason=null; forms.SelectedReason=null;">
                                            <input type="radio" value="Self" name="LeaveFor" ng-model="EmployeeCreateCaseModel.LeaveFor" ng-required="true" /> For Myself
                                        </label>
                                        <label class="btn btn-radio" ng-class="{'active': EmployeeCreateCaseModel.LeaveFor=='Family'}" ng-click="EmployeeCreateCaseModel.LeaveFor='Family'; SelectedAbsenceReasonCategory=null; SelectedAbsenceReason=null; forms.SelectedReason=null;">
                                            <input type="radio" value="Family" name="LeaveFor" ng-model="EmployeeCreateCaseModel.LeaveFor" ng-required="true" /> For Family Member
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="clearfix"></div> -->
                        <div class="col-sm-12" ng-show="EmployeeCreateCaseModel.LeaveFor=='Family'">
                            <hr />
                        </div>
                        <div class="col-sm-12" ng-show="EmployeeCreateCaseModel.LeaveFor=='Family'">
                            <div class="col-sm-12" ng-repeat="relative in EmployeeExistingRelationships" style="margin-bottom: 15px;">
                                <div class="row">
                                    <ng-form name="form">
                                        <div class="col-sm-offset-3 col-sm-9" style="margin-bottom: 10px;">
                                            <input type="radio" ng-model="forms.SelectedFamilyMemberId" value="{{relative.Id}}" ng-click="SelectRelative(relative)" ng-required="EmployeeCreateCaseModel.LeaveFor=='Family'" /><span style="color: #ff8300; font-weight: bold;">{{relative.Text != null ? relative.Text : " Add New Contact"}}</span>
                                        </div>
                                        <div class="col-sm-offset-3 col-sm-9" ng-show="forms.SelectedFamilyMemberId == relative.Id">
                                            <div class="col-sm-3 col-header" ng-show="relative.Id == 0">Relationship</div>
                                            <div class="col-sm-9" ng-show="relative.Id == 0">
                                                <select id="ddlNewRel" class="form-control create-case-select" name="EmployeeNewRelationship" ng-change="SetRelationship(relative.RelationShipId)"
                                                        ng-model="relative.RelationShipId" employeeid="{{EmployeeId}}" ng-required="relative.Id == 0 && forms.SelectedFamilyMemberId == relative.Id && EmployeeCreateCaseModel.LeaveFor=='Family'"
                                                        ng-change-contact ng-options="r.Id as r.Text for r in EmployeeRelationships" ng-cloak>
                                                    <option value="">Select One</option>
                                                </select>
                                                <span class="error" ng-cloak ng-show="form['EmployeeNewRelationship'].$error.required && Step4Submitted">Please select a relationship</span>
                                            </div>
                                            <div class="col-sm-3 col-header">First Name</div>
                                            <div class="col-sm-9 field-input">
                                                <input type="text" name="contactFirstname{{$index}}" id="txtFname" class="form-control create-case-select" ng-model="relative.FirstName" ng-required="forms.SelectedFamilyMemberId==relative.Id && EmployeeCreateCaseModel.LeaveFor=='Family'" placeholder="First Name" employeeid="{{EmployeeId}}" contacttype="{{EmployeeNewRelationship.Id}}" lname="{{EmployeeNewRelationship}}" lnameid="txtLname" is-contact-duplicate />
                                                <span class="error" ng-cloak ng-show="form['contactFirstname\{\{$index\}\}'].$error.required && Step4Submitted">Please enter first name</span>
                                            </div>
                                            <div class="col-sm-3 col-header">Last Name</div>
                                            <div class="col-sm-9 field-input">
                                                <input type="text" name="contLastname{{$index}}" id="txtLname" class="form-control create-case-select" ng-model="relative.LastName" placeholder="Last Name" ng-required="forms.SelectedFamilyMemberId==relative.Id && EmployeeCreateCaseModel.LeaveFor=='Family'" />
                                                <span class="error" ng-cloak ng-show="form['contLastname\{\{$index\}\}'].$error.required && Step4Submitted">Please enter last name</span>
                                            </div>
                                            <div class="col-sm-3 col-header">DOB</div>
                                            <div class="col-sm-9 input-group" style="padding-left: 15px; width: 265px;">
                                                <input type="text" name="EmpContactDOB{{$index}}" id="EmpContactDOB{{$index}}" class="form-control" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="relative.DOB" placeholder="MM/dd/yyyy" ng-required="forms.SelectedFamilyMemberId==relative.Id && EmployeeCreateCaseModel.LeaveFor=='Family'" />
                                                <label for="EmpContactDOB{{$index}}" class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </label>
                                            </div>
                                            <div class="col-sm-offset-3 error" style="padding-left: 15px;" ng-cloak ng-show="form['EmpContactDOB\{\{$index\}\}'].$error.required && Step4Submitted">Please enter date of birth</div>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                            <div class="col-sm-offset-3 error" ng-cloak ng-show="forms.SelectedFamilyMemberId==null && Step4Submitted">Please select a family member or add new one</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-offset-3 col-sm-9">
                            <span ng-show="forms.frmStep4.LeaveFor.$error.required && Step4Submitted" class="error">Please select an option</span>
                        </div>
                    </form>
                    <br />
                    <button type="button" class="btn btn-primary pull-right" ng-click="GoToStep(3)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="Step4Submitted=true; Step4Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
                </div>
            </div>
            <div id="Step5" class="hide">
                <div class="col-sm-offset-1 col-sm-11">
                    <form name="forms.frmStep6" novalidate>
                        <div>
                            <div class="col-sm-5" ng-repeat="absenceReason in AbsenceReasons | filter:FilterReasons" ng-if="EmployeeCreateCaseModel.LeaveFor == 'Self'">
                                <div class="radio-wrap">
                                    <label class="btn btn-info tooltip-link" ng-class="{'has-error':SelectedAbsenceReason == null && SelectedAbsenceReasonCategory == null && forms.submitted, 'active': SelectedAbsenceReason.Name == absenceReason.Name || SelectedAbsenceReasonCategory.Name == absenceReason.Name}" ng-cloak>
                                        <!-- data-toggle="tooltip" title="Select if employee him/herself has a health issue" -->
                                        <input type="radio"
                                               ng-checked="{{SelectedAbsenceReason.Name == absenceReason.Name || SelectedAbsenceReasonCategory.Name == absenceReason.Name}}"
                                               ng-class="{'absence-reason-category':absenceReason.IsCategory, 'absence-reason-item': !absenceReason.IsCategory}"
                                               ng-click="onClickAbsenceReason(absenceReason)"
                                               ng-required="true"
                                               ng-model="forms.SelectedReason"
                                               name="{{absenceReason.IsCategory ? 'AbsenceReasonCategory' : 'AbsenceReasonId'}}"
                                               id="{{absenceReason.IsCategory ? absenceReason.Category + 'AbsenceReasonCategory' : absenceReason.Id + 'AbsenceReasonId'}}"
                                               value="{{absenceReason.IsCategory ? absenceReason.Category : absenceReason.Id}}" absence-reason-click ng-cloak> {{absenceReason.Name}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5" ng-repeat="absenceReason in AbsenceReasons | filter:FilterReasons" ng-if="EmployeeCreateCaseModel.LeaveFor == 'Family'">
                                <div class="radio-wrap">
                                    <label class="btn btn-info tooltip-link" ng-class="{'has-error':SelectedAbsenceReason == null && SelectedAbsenceReasonCategory == null && forms.submitted, 'active': SelectedAbsenceReason.Name == absenceReason.Name || SelectedAbsenceReasonCategory.Name == absenceReason.Name}" ng-cloak>
                                        <!-- data-toggle="tooltip" title="Select if employee him/herself has a health issue" -->
                                        <input type="radio"
                                               ng-checked="{{SelectedAbsenceReason.Name == absenceReason.Name || SelectedAbsenceReasonCategory.Name == absenceReason.Name}}"
                                               ng-class="{'absence-reason-category':absenceReason.IsCategory, 'absence-reason-item': !absenceReason.IsCategory, 'active': forms.SelectedReason.Id == absenceReason.Id }"
                                               ng-click="onClickAbsenceReason(absenceReason)"
                                               ng-required="true"
                                               ng-model="forms.SelectedReason"
                                               name="{{absenceReason.IsCategory ? 'AbsenceReasonCategory' : 'AbsenceReasonId'}}"
                                               id="{{absenceReason.IsCategory ? absenceReason.Category + 'AbsenceReasonCategory' : absenceReason.Id + 'AbsenceReasonId'}}"
                                               value="{{absenceReason.IsCategory ? absenceReason.Category : absenceReason.Id}}" absence-reason-click ng-cloak> {{absenceReason.Name}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-offset-1 col-sm-11">
                                <span ng-cloak ng-show="SelectedAbsenceReason == null  && SelectedAbsenceReasonCategory == null && frmStep6Submitted" class="error">Please select a reason</span>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-show="SelectedAbsenceReason.Code == 'PREGMAT' || SelectedAbsenceReason.Code == 'ADOPT' || SelectedAbsenceReason.Code == 'EHC' || SelectedAbsenceReason.Code == 'FHC' || SelectedAbsenceReasonCategory.Name == 'Military' || SelectedAbsenceReasonCategory.Name == 'Other' || SelectedAbsenceReasonCategory.Name == 'Administrative'" ng-cloak>
                            <hr />
                        </div>
                        <div class="col-sm-11" ng-show="SelectedAbsenceReasonCategory.Name == 'Military'" ng-cloak>
                            <div>
                                <label ng-if="EmployeeCreateCaseModel.LeaveFor=='Self'">
                                    Are you active duty or retired military?
                                </label>
                                <label ng-if="EmployeeCreateCaseModel.LeaveFor=='Family'">
                                    Is your {{Relation == 'NewRel' ? EmployeeNewRelationship.Text : EmployeeExistingRelationship.Text}} active duty or retired military?
                                </label>
                            </div><!--/.create-case-select-->
                            <div class="col-sm-8">
                                <div class="row">
                                    <div class="btn-group group-3" data-toggle="buttons">
                                        <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.MilitaryStatusId == 0}" ng-click="EmployeeCreateCaseModel.MilitaryStatusId=0;">
                                            <input type="radio" name="MilitaryStatus" ng-model="EmployeeCreateCaseModel.MilitaryStatusId" ng-required="SelectedAbsenceReasonCategory.Name == 'Military'" /> No (Civilian)
                                        </label>
                                        <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.MilitaryStatusId == 1}" ng-click="EmployeeCreateCaseModel.MilitaryStatusId=1;">
                                            <input type="radio" name="MilitaryStatus" ng-model="EmployeeCreateCaseModel.MilitaryStatusId" ng-required="SelectedAbsenceReasonCategory.Name == 'Military'" /> Active Duty
                                        </label>
                                        <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.MilitaryStatusId == 3}" ng-click="EmployeeCreateCaseModel.MilitaryStatusId=3;">
                                            <input type="radio" name="MilitaryStatus" ng-model="EmployeeCreateCaseModel.MilitaryStatusId" ng-required="SelectedAbsenceReasonCategory.Name == 'Military'" /> Retired
                                        </label>
                                    </div>
                                </div>
                                <span class="error" ng-cloak ng-show="forms.frmStep6.MilitaryStatus.$error.required && frmStep6Submitted">Please select a military status</span>
                            </div>
                        </div>
                        <div class="col-sm-12 clearfix">&nbsp;</div>
                        <div class="col-sm-11" ng-show="SelectedAbsenceReasonCategory.Name == 'Military'" ng-cloak>
                            <label>select the reason for this military related leave of absence</label>
                        </div>
                        <div class="col-sm-12" ng-repeat="absenceReason in AbsenceReasons | filter:filterOnlyAbsenceReasonsWithChildren">
                            <div class="row absence-reason-category-div" id="{{absenceReason.Category + 'AbsenceReasonCategoryDiv'}}" style="display:none">
                                <!-- ng-if="($parent.selectedReason != 'Other' && $parent.selectedReason != 'Military') || (EmployeeCreateCaseModel.LeaveFor=='Family' && (childReason.Code == 'PARENTAL' || childReason.Code == 'MILITARY' || childReason.Code == 'EXIGENCY' || childReason.Code == 'CEREMONY')) || (EmployeeCreateCaseModel.LeaveFor=='Self' && $parent.selectedReason == 'Other' && childReason.Code != 'PARENTAL') || (EmployeeCreateCaseModel.LeaveFor=='Self' && $parent.selectedReason == 'Military' && childReason.Code == 'RESERVETRAIN')" -->
                                <div class="col-sm-5" ng-repeat="childReason in absenceReason.Children | filter:{IsForFamilyMember: false}" ng-show="EmployeeCreateCaseModel.LeaveFor == 'Self' && SelectedAbsenceReasonCategory != null">
                                    <div class="radio-wrap">
                                        <label class="btn btn-info tooltip-link"  ng-class="{'has-error':SelectedAbsenceReason == null && forms.submitted, 'active': SelectedAbsenceReasonCategory.Id == absenceReason.Id }" ng-cloak>
                                            <input type="radio" class="absence-reason-child-item"
                                                   ng-checked="{{SelectedAbsenceReason.Id == childReason.Id}}"
                                                   ng-click="onClickAbsenceReason(childReason)"
                                                   name="AbsenceReasonId"
                                                   id="{{childReason.Id + 'AbsenceReasonItem'}}"
                                                   value="{{childReason.Id}}" ng-cloak
                                                   ng-required="IsRequired"
                                                   ng-model="selectedReasonChild"> {{childReason.Name}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5" ng-repeat="childReason in absenceReason.Children | filter:{IsForFamilyMember: true}" ng-show="EmployeeCreateCaseModel.LeaveFor == 'Family' && SelectedAbsenceReasonCategory != null">
                                    <div class="radio-wrap">
                                        <label class="btn btn-info tooltip-link"  ng-class="{'has-error':SelectedAbsenceReason == null && forms.submitted, 'active': SelectedAbsenceReasonCategory.Id == absenceReason.Id}" ng-cloak>
                                            <input type="radio" class="absence-reason-child-item"
                                                   ng-checked="{{SelectedAbsenceReason.Id == childReason.Id}}"
                                                   ng-click="onClickAbsenceReason(childReason)"
                                                   name="AbsenceReasonId"
                                                   id="{{childReason.Id + 'AbsenceReasonItem'}}"
                                                   value="{{childReason.Id}}" ng-cloak
                                                   ng-required="IsRequired"
                                                   ng-model="selectedReasonChild"> {{childReason.Name}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <span ng-cloak ng-show="SelectedAbsenceReason == null  && frmStep6Submitted" class="error">Please select a reason</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-11" ng-show="SelectedAbsenceReason.Code == 'PREGMAT'" ng-cloak>
                            <div>
                                <label class="col-sm-3">Expected Delivery Date</label>
                                <div class="input-group date create-case-select col-sm-9">
                                    <input type="text" id="expectedDeliveryDate" datepicker-options="dateOptions" at-datepicker-popup="MM/dd/yyyy" ng-required="SelectedAbsenceReason.Code == 'PREGMAT'"
                                           name="expectedDeliveryDate" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.ExpectedDeliveryDate" />
                                    <label for="expectedDeliveryDate" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </div>
                                <div class="error col-sm-offset-3" ng-cloak ng-show="forms.frmStep6.expectedDeliveryDate.$error.required && frmStep6Submitted">Please select date</div>
                                <label class="col-sm-3">
                                    Actual Delivery Date
                                </label>
                                <div class="col-sm-9 input-group date create-case-select">
                                    <input type="text" id="actualDeliveryDate" datepicker-options="dateOptions" at-datepicker-popup="MM/dd/yyyy" ng-required="SelectedAbsenceReason.Code == 'PREGMAT'"
                                           name="actualDeliveryDate" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.ActualDeliveryDate" />
                                    <label for="actualDeliveryDate" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </div>
                                <div class="error col-sm-offset-3" ng-cloak ng-show="forms.frmStep6.actualDeliveryDate.$error.required && frmStep6Submitted">Please select date</div>
                                <label class="col-sm-3">
                                    Will Use Bonding?
                                </label>
                                <div class="col-sm-9 create-case-select">
                                    <div class="row btn-group group-2" data-toggle="buttons">
                                        <label id="willUseBonding" class="btn btn-info" ng-click="EmployeeCreateCaseModel.WillUseBonding=true;">
                                            <input type="radio" ng-model="EmployeeCreateCaseModel.WillUseBonding" value="true" /> Yes
                                        </label>
                                        <label id="willNotUseBonding" class="btn btn-info" ng-click="EmployeeCreateCaseModel.WillUseBonding=false;">
                                            <input type="radio" ng-model="EmployeeCreateCaseModel.WillUseBonding" value="false" /> No
                                        </label>
                                    </div>
                                </div>
                                <div id="bondingDatesDiv" class="col-sm-12" ng-show="EmployeeCreateCaseModel.WillUseBonding==true">
                                    <div class="row">
                                        <label class="col-sm-3">
                                            Bonding Dates
                                        </label>
                                        <div class="input-daterange input-group col-sm-9 create-case-select" ng-cloak>
                                            <input type="text" name="BondingStartDate" class="form-control create-case-select" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="EmployeeCreateCaseModel.BondingStartDate" />
                                            <span class="input-group-addon">to</span>
                                            <input type="text" name="BondingEndDate" class="form-control create-case-select" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="EmployeeCreateCaseModel.BondingEndDate" />
                                        </div>
                                    </div>
                                </div>
                            </div><!--/.create-case-select-->
                        </div>
                        <div class="col-sm-11" ng-show="SelectedAbsenceReason.Code == 'ADOPT'" ng-cloak>
                            <div>
                                <label class="col-sm-3">Adoption Date / Foster Care Start Date</label>
                                <div class="input-group date create-case-select col-sm-9">
                                    <input type="text" id="adoptionDate" datepicker-options="dateOptions" at-datepicker-popup="MM/dd/yyyy" ng-required="SelectedAbsenceReason.Code == 'ADOPT'"
                                           name="adoptionDate" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.AdoptionDate" />
                                    <label for="adoptionDate" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </div>
                                <span class="error" ng-cloak ng-show="forms.frmStep6.adoptionDate.$error.required && frmStep6Submitted">Please select adoption date / foster care start date</span>
                            </div><!--/.create-case-select-->
                        </div>
                        <div class="col-sm-11" ng-show="SelectedAbsenceReason.Code == 'EHC' || SelectedAbsenceReason.Code == 'FHC'" ng-cloak style="margin-bottom: 15px;">
                            <div class="col-sm-8">
                                <div class="row">
                                    <div>
                                        <label>
                                            Short Description
                                        </label>
                                        <div>
                                            <textarea name="HealthConditionDesc" class="form-control" ng-model="EmployeeCreateCaseModel.ShortDescription" placeholder="Health condition short description" ng-required="SelectedAbsenceReason.Code == 'EHC' || SelectedAbsenceReason.Code == 'FHC'"></textarea>
                                        </div>
                                        <span class="error" ng-cloak ng-show="forms.frmStep6.HealthConditionDesc.$error.required && frmStep6Submitted">Please enter description</span>
                                    </div><!--/.create-case-select-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="row" style="height: 100px !important; display:table !important;">
                                    <div style="display:table-cell !important; vertical-align: bottom !important;">
                                        <a class="btn btn-link" data-toggle="modal" data-target="#RolenResponsibilitis">&nbsp;Rights and Responsbilities</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                    <button type="button" class="btn btn-primary pull-right" ng-click="GoToStep(4)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="frmStep6Submitted = true; Step6Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
                </div>
            </div>
            <div id="Step6" class="hide">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="days-list">
                                <table class="table table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <th>Effective From</th>
                                            <th>Effective To</th>
                                            <th>Schedule</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="s in EmployeeInfo.WorkSchedules | orderBy : 'StartDate'">
                                            <td>{{s.StartDate | ISODateToDate | date: 'MM/dd/yyyy'}}</td>
                                            <td>{{s.EndDate != null ? (s.EndDate | ISODateToDate | date: 'MM/dd/yyyy') : "perpetual"}}</td>
                                            <td>{{s.TextRepresentation}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-12">
                            <div class="pull-right col-sm-12" style="padding-right: 20px;">
                                <div class="row">
                                    <div class="col-sm-10 text-right"><label class="confimation-text">Is this information correct?</label></div>
                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="btn-group group-2" data-toggle="buttons">
                                                <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.IsWorkScheduleCorrect == true}" ng-click="ValidateScheduleError=false; EmployeeCreateCaseModel.IsWorkScheduleCorrect=true; ShowScheduleWarning = false;">
                                                    <input type="radio" ng-model="EmployeeCreateCaseModel.IsWorkScheduleCorrect" value="true" /> Yes
                                                </label>
                                                <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.IsWorkScheduleCorrect == false}" ng-click="ValidateScheduleError=false; EmployeeCreateCaseModel.IsWorkScheduleCorrect=false; ShowScheduleWarning = true;">
                                                    <input type="radio" ng-model="EmployeeCreateCaseModel.IsWorkScheduleCorrect" value="false" /> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-bottom: 15px;">
                            <div class="error pull-right" ng-cloak ng-show="ValidateScheduleError">Please select an option</div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <div class="col-sm-12" style="margin-bottom: 15px;" ng-if="ShowScheduleWarning">
                            <div class="col-sm-12"><div class="text-info">* Your Supervisor and HR department will be notified to verify your current work schedule</div></div>
                        </div>
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary pull-right" ng-click="GoToStep(5)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="Step7Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
                </div>
            </div>
            <div id="Step7" class="hide">
                <div class="col-sm-offset-1 col-sm-11">
                    <div>
                        <div class="col-sm-12">
                            <div class="row row-offset-sm">
                                Employee Name : <label>{{EmployeeInfo.FirstName}} {{EmployeeInfo.LastName}}</label>
                            </div>
                            <div class="row row-offset-sm">
                                How are you planning to be out of office? <label>{{EmployeeCreateCaseModel.CaseTypeId==1 ? "Full Time" : EmployeeCreateCaseModel.CaseTypeId==4 ? "Work Reduced Hours" : EmployeeCreateCaseModel.CaseTypeId==8 ? "Administrative" : "Intermittently"}}</label>
                            </div>
                            <div class="row row-offset-sm">
                                <span ng-if="EmployeeCreateCaseModel.CaseTypeId ==1">What dates do you anticipate being or have been out of the office?</span>
                                <span ng-if="EmployeeCreateCaseModel.CaseTypeId ==8">What dates do you anticipate?</span>
                                <span ng-if="EmployeeCreateCaseModel.CaseTypeId == 2 || EmployeeCreateCaseModel.CaseTypeId==4">What period of time do you anticipate or have been in need of a reduced schedule?</span>
                                <label>
                                    {{EmployeeCaseStartDate | date:'MM/dd/yyyy'}} to {{EmployeeCaseEndDate | date:'MM/dd/yyyy'}}
                                </label>
                            </div>
                            <div class="row row-offset-sm">
                                For whom are you needing this leave of absence?
                                <label>
                                    <span ng-if="EmployeeCreateCaseModel.LeaveFor == 'Self'">
                                        For MySelf
                                    </span>
                                </label>
                                <label>
                                    <span ng-if="EmployeeCreateCaseModel.LeaveFor == 'Family'">
                                        For {{forms.SelectedFamilyMember.Text}} : {{forms.SelectedFamilyMember.FirstName}} {{forms.SelectedFamilyMember.LastName}}
                                    </span>
                                </label>
                            </div>
                            <div class="row row-offset-sm">
                                What is a reason for leave of absence? <label>{{SelectedAbsenceReason.Name}}</label>
                            </div>
                        </div>
                        <div class="clearfix">&nbsp;</div>
                        <!-- <div class="col-sm-12">
                            <div class="pull-right col-sm-12" style="padding-right: 20px;">
                                <div class="row">
                                    <div class="col-sm-10 text-right"><label style="color: #ff8300; font-size: 14px; margin-top: 3px;">Is this information correct?</label></div>
                                    <div class="col-sm-2">
                                        <div class="row">
                                            <div class="btn-group group-2" data-toggle="buttons">
                                                <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.IsWorkScheduleCorrect == true}" ng-click="ValidateSummaryError=false; EmployeeCreateCaseModel.IsDetailsConfirmed=false;">
                                                    <input type="radio" ng-model="EmployeeCreateCaseModel.IsDetailsConfirmed" value="true" /> Yes
                                                </label>
                                                <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.IsWorkScheduleCorrect == false}" ng-click="ValidateSummaryError=false; EmployeeCreateCaseModel.IsDetailsConfirmed=false; ">
                                                    <input type="radio" ng-model="EmployeeCreateCaseModel.IsDetailsConfirmed" value="false" /> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="margin-bottom: 15px;">
                            <div class="error pull-right" ng-cloak ng-show="ValidateSummaryError">Please select an option</div>
                        </div>
                        <div class="clearfix">&nbsp;</div> -->
                    </div>
                    <br />
                    <button type="button" class="btn btn-primary pull-right" ng-click="GoToStep(6)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="CreateCase();" style="width: 70px;">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-sm-12" ng-show="!IsESSCaseReview && IsA">
        <div class="row row-offset">
            <div class="pull-center">
                <a class="btn btn-link" data-toggle="modal" data-target="#CancelCaseCreation">Cancel</a>
            </div>
        </div>
    </div>-->
    <div class="col-sm-12" ng-show="IsESSCaseReview">
        <div class="row row-offset">
            <div class="pull-center">
                <button type="button" class="btn btn-primary" ng-click="ApproveCase()">Accept Leave Request</button>
                <button type="button" class="btn btn-primary" ng-click="ShowCancelReason = true;">Decline Leave Request</button>
                <a class="btn btn-link" href="/">Back</a>
            </div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>
    <div class="col-sm-12" ng-show="IsESSCaseReview && ShowCancelReason">
        <div class="row row-offset">
            <div class="col-sm-2 col-sm-offset-1">
                Reason
            </div>
            <div class="col-sm-5">
                <select id="ddlCaseCencel" class="form-control" ng-model="CaseCancelReasonSelect" ng-options="reason.Id as reason.Text for reason in CaseCancelReason">
                    <option value="">--Please Select--</option>
                </select>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div ng-show="CaseCancelReasonSelect==0" class="row row-offset">
            <div class="col-sm-5 col-sm-offset-3">
                <textarea class="form-control"></textarea>
            </div>
        </div>
        <div class="row row-offset">
            <div class="pull-center">
                <button type="button" class="btn btn-primary" ng-click="CancelCase()">Cancel Leave</button>
            </div>
        </div>
    </div>
    <div class="clearfix">&nbsp;</div>

    <div class="modal fade" id="ContactDuplication" tabindex="-1" role="dialog" aria-labelledby="ContactDuplication" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Relationship Duplication</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            A relationship named <strong>{{EmployeeNewRelationship.Text}}</strong> already exists. Do you still want to add?
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="AllowNewContact()">Yes</button>
                    <button type="button" class="btn btn-link" ng-click="DenyNewContact()">No</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="RolenResponsibilitis" tabindex="-1" role="dialog" aria-labelledby="RolenResponsibilitis" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Rights and Responsibilities</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            Implement Roles and Responsibilities Notice in ESS
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="CancelCaseCreation" tabindex="-1" role="dialog" aria-labelledby="CancelCaseCreation" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                    <h4 class="modal-title">Case Creation Cancellation Confirmation</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            Are you sure you don't want to make leave request?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="ReturnToHomePage()">Ok</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="CaseCreatedSuccessfully" tabindex="-1" role="dialog" aria-labelledby="CaseCreatedSuccessfully" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="" ng-click="modalDismiss()" class="btn close">&times;</a>
                    <h4 class="modal-title">Case Created Successfully</h4>
                </div>
                <div class="modal-body" id="printSection">
                    <div class="row">
                        <div class="col-sm-12">
                            <p style="padding-top: 10px;" class="hide">
                                <strong>Case Created Successfully</strong>
                            </p>
                            <p style="padding-top: 10px;">
                                Thank you for submitting your leave request. We will review your request and respond soon.
                            </p>
                            <div class="col-sm-12 hide">
                                <div class="row row-offset-sm">
                                    Employee Name : <label>{{EmployeeInfo.FirstName}} {{EmployeeInfo.LastName}}</label>
                                </div>
                                <div class="row row-offset-sm">
                                    How are you planning to be out of office? <label>{{EmployeeCreateCaseModel.CaseTypeId==1 ? "Full Time" : EmployeeCreateCaseModel.CaseTypeId==4 ? "Work Reduced Hours" : EmployeeCreateCaseModel.CaseTypeId==8 ? "Administrative" : "Intermittently"}}</label>
                                </div>
                                <div class="row row-offset-sm">
                                    <span ng-if="EmployeeCreateCaseModel.CaseTypeId ==1">What dates do you anticipate being or have been out of the office?</span>
                                    <span ng-if="EmployeeCreateCaseModel.CaseTypeId ==8">What dates do you anticipate?</span>
                                    <span ng-if="EmployeeCreateCaseModel.CaseTypeId == 2 || EmployeeCreateCaseModel.CaseTypeId==4">What period of time do you anticipate or have been in need of a reduced schedule?</span>
                                    <label>
                                        {{EmployeeCaseStartDate | date:'MM/dd/yyyy'}} to {{EmployeeCaseEndDate | date:'MM/dd/yyyy'}}
                                    </label>
                                </div>
                                <div class="row row-offset-sm">
                                    For whom are you needing this leave of absence?
                                    <label>
                                        <span ng-if="EmployeeCreateCaseModel.LeaveFor == 'Self'">
                                            For MySelf
                                        </span>
                                    </label>
                                    <label>
                                        <span ng-if="EmployeeCreateCaseModel.LeaveFor == 'Family'">
                                            For {{forms.SelectedFamilyMember.Text}} : {{forms.SelectedFamilyMember.FirstName}} {{forms.SelectedFamilyMember.LastName}}
                                        </span>
                                    </label>
                                </div>
                                <div class="row row-offset-sm">
                                    What is a reason for leave of absence? <label>{{SelectedAbsenceReason.Name}}</label>
                                </div>
                            </div>
                            <p style="padding-top: 10px;">
                                Your Leave Request Number is : <label>{{CaseCreatedModel.CaseNumber}}</label> <br />
                                Use the above number as your reference when you call in or write to us.
                            </p>
                           <!-- <p style="padding-top: 10px;">
                                Please bring and save this page for future references.
                            </p> -->
                            <p style="padding-top: 10px;">
                                If you have any questions please contact:<br /><br />
                                {{CaseCreatedModel.EmployerName}} <br />
                                {{CaseCreatedModel.EmployerAddress.Address1}} {{CaseCreatedModel.EmployerAddress.Address2}} {{CaseCreatedModel.EmployerAddress.City}} {{CaseCreatedModel.EmployerAddress.State}} {{CaseCreatedModel.EmployerAddress.PostalCode}}<br />
                                {{CaseCreatedModel.HRContactName}} <br />
                                {{CaseCreatedModel.HRContactPhone | tel}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="" ng-click="modalDismiss()" data-dismiss="modal">Go To My Cases</a>
                    <a class="btn btn-primary" href="" ng-click="print()">Print</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- END : Mock up for accordian design like walmart -->
</div>