﻿<div ng-controller="employeeMyInfoCtrl" ng-init="init()">
    <div class="row" ng-cloak>
        <div class="col-sm-12">
            <div class="row">
                    <h4 class="pull-center"><b>My Info</b></h4>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Name:</label>
                </div>
                <div class="col-sm-4">
                    <a href="employees/{{CurrentUserEmpId}}/view" class="btnLnk"><strong>{{EmployeeInfo.FirstName}} {{EmployeeInfo.LastName}}</strong></a>
                </div>
                <div class="col-sm-2">
                    <label>Address:</label>
                </div>
                <div class="col-sm-4 btnLnk" ng-if="EmployeeInfo.Address">
                    {{EmployeeInfo.Address.Address1}}<div class="clearfix"></div>
                    {{EmployeeInfo.Address.City}},
                    {{EmployeeInfo.Address.State}}
                    {{EmployeeInfo.Address.PostalCode}}<div class="clearfix"></div>
                    {{EmployeeInfo.Address.Country}}
                </div>
            </div>
            <div class="row clearfix" ></div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Work Phone:</label>
                </div>
                <div class="col-sm-4 ng-valid-tel btnLnk">
                    {{(EmployeeInfo.WorkPhone| tel) || 'N/A'}}
                </div>
                <div class="col-sm-2">
                    <label>Work Email:</label>
                </div>
                <div class="col-sm-4 btnLnk">
                    {{EmployeeInfo.Email || 'N/A'}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Home Phone:</label>
                </div>
                <div class="col-sm-4 ng-valid-tel btnLnk">
                    {{(EmployeeInfo.HomePhone | tel) || 'N/A'}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <label>Cell Phone:</label>
                </div>
                <div class="col-sm-4 ng-valid-tel btnLnk">
                    {{(EmployeeInfo.CellPhone | tel) || 'N/A'}}
                </div>
                <div class="col-sm-2" ng-if="EmployeeInfo.AltEmail">
                    <label>Alt Email:</label>
                </div>
                <div class="col-sm-4 btnLnk" ng-if="EmployeeInfo.AltEmail">
                    {{EmployeeInfo.AltEmail || 'N/A'}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label>Alt Phone:</label>
                </div>
                <div class="col-sm-4 ng-valid-tel btnLnk">
                    {{(EmployeeInfo.AltPhone | tel) || 'N/A'}}
                </div>
            </div>
        </div>
    </div>
</div>