﻿<div ng-controller="EmployeeCasesIndexCtrl" ng-init="init()">
    <!--<hr style="margin-top: 0px !important"   />-->
    <h4 class="pull-center">
        <b>My Cases</b>
    </h4>
    <div ng-repeat="case in Cases">
        <div class="col-sm-12" style="margin-bottom:2%">
            <div class="row">
                <div class="col-sm-2 content ess-color">
                    <div class="row text-center">
                        <div>
                            <a class="btn btn-link" href="/cases/{{case.CaseId}}/attachments">Attachments</a>
                        </div>
                        <div>
                            <a class="btn btn-link" href="/cases/{{case.CaseId}}/notes">Notes</a>
                        </div>
                        <div>
                            <a class="btn btn-link" href="/cases/{{case.CaseId}}/view">ToDos</a>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-12">
                    <div class="row ess-color">
                        <div class="col-sm-3 text-left">
                            <a class="btn btn-link" href="/cases/{{case.CaseId}}/attachments">Attachments1</a>
                        </div>
                        <div class="col-sm-3 text-center">
                            <a class="btn btn-link" href="/cases/{{case.CaseId}}/notes">Notes</a>
                        </div>
                        <div class="col-sm-3 text-right">
                            <a class="btn btn-link" href="/cases/{{case.CaseId}}/view">ToDos(2)</a>
                        </div>
                    </div>
                </div>-->
                <div class="col-sm-10 content">
                    <div class="row">
                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>Case #:</b>
                                </div>
                                <div class="col-sm-8">
                                    <a href="/Cases/{{case.CaseId}}/View" class="btnLnk">{{case.CaseNumber}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>Start Date:</b>
                                </div>
                                <div class="col-sm-8">
                                    {{case.StartDate | ISODateToDate | date: 'MM/dd/yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>Reason:</b>
                                </div>
                                <div class="col-sm-8">
                                    {{case.Reason}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>End Date:</b>
                                </div>
                                <div class="col-sm-8">
                                    {{case.EndDate | ISODateToDate | date: 'MM/dd/yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>Type:</b>
                                </div>
                                <div class="col-sm-8">
                                    {{case.CaseType}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>Status:</b>
                                </div>
                                <div class="col-sm-8">
                                    {{case.Status}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>Description:</b>
                                </div>
                                <div class="col-sm-8">
                                    <span ng-show="case.Description.length > 25">
                                        <span popover data-trigger="hover" data-html="true" data-container="body" style="cursor:pointer;" class="popover-dismiss" data-content="<span style='width:200px !important; word-wrap:break-word !important;'>{{case.Description}}</span>">{{case.Description | limitTo: 25}}<a>...</a></span>
                                    </span>
                                    <span ng-show="case.Description.length <= 25">
                                        {{case.Description}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4" style="padding-right:0">
                                    <b>Case Opened:</b>
                                </div>
                                <div class="col-sm-8">
                                    {{case.CreatedDate | ISODateToDate | date: 'MM/dd/yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>Summary:</b>
                                </div>
                                <div class="col-sm-8">
                                    {{case.Summary}}
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6 data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <b>Last Updated:</b>
                                </div>
                                <div class="col-sm-8">
                                    {{case.ModifiedDate | ISODateToDate | date: 'MM/dd/yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="text-center" ng-if="Cases.length == 0">
        <h4>No Case Found</h4>
    </div>
</div>