﻿<div ng-controller="EmployeeDashCtrl">
    <div class="row">
        <ul ng-if="IsHRSupervisor" class="nav nav-employee-help" role="tablist">
            <li role="presentation"><a data-target=".myinfo" aria-controls="home" role="tab" data-toggle="tab" ng-click="showSearch=false; SetViewMe()" id="me"><h4>Me</h4></a></li>
            <li role="presentation" class="active"><a data-target=".myteam" aria-controls="profile" role="tab" data-toggle="tab" ng-click="showSearch=true; SetViewMyTeam()" id="team"><h4>My Team</h4></a></li>
        </ul>
    </div>
    <div class="row" ng-init="Init()">
        <div class="col-sm-3" ng-if="IsHRSupervisor">
            <div role="tabpanel" class="row">
                <div class="col-sm-12" style="padding:0 3% 0 0;margin-top:3%" ng-if="IsHRSupervisor && showSearch">
                    <input type="text" placeholder="Search for a topic" class="form-control form-search" />
                    <span class="search-feedback"><img src="Content/Images/icon-search.png" height="15" width="15" /></span>
                </div>
                <div class="clearfix"></div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane  myinfo" style="margin-top:3%">
                        <ul id="EssNavStack" class="nav nav-pills nav-stacked">
                            <li class="active"><a href="" id="viewMyCases" role="tab" data-toggle="tab" ng-click="SetMyCasesActive('MyInfo')"><h4><img src="Content/Images/ssportal-ico_cc-cases-c-icon.png" height="21" width="21" />&nbsp;<b>View My Cases</b></h4></a></li>
                            <li ng-if="isLOA"><a href="" role="tab" data-toggle="tab" ng-click="SetReqNewLeaveActive('MyInfo')"><h4><img src="Content/Images/ssportal-ico_cc-leave-c-icon.png" height="21" width="21" />&nbsp;<b>Request A Leave</b></h4></a></li>
                            <li><a href="" role="tab" data-toggle="tab" id="requestAccomm" ng-click="SetReqNewAccomActive('MyInfo')"><h4><img src="Content/Images/ssportal-ico_cc-accom-c-icon.png" height="21" width="21" />&nbsp;<b>File A Case</b></h4></a></li>
                            <li><a href="" id="viewMyInfo" role="tab" ng-click="SetMyInfoActive('MyInfo')" data-toggle="tab"><h4><img src="Content/Images/ssportal-ico_cc-info-c-icon.png" height="21" width="21" />&nbsp;<b>View My Info</b></h4></a></li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane active myteam">
                        <ul id="EssNavStack" class="nav nav-pills nav-stacked">
                            <li class="active"><a href="" id="viewMyTeamCases" role="tab" data-toggle="tab" ng-click="SetMyCasesActive('MyTeam')"><h4><img src="Content/Images/ssportal-ico_cc-cases-c-icon.png" height="21" width="21" />&nbsp;<b>View Cases</b></h4></a></li>
                            <li><a href="" role="tab" ng-click="SetMyInfoActive('MyTeam')" data-toggle="tab"><h4><img src="Content/Images/ssportal-ico_cc-info-c-icon.png" height="21" width="21" />&nbsp;<b>View My Team</b></h4></a></li>
                            <!--<li><a href="" role="tab" data-toggle="tab" ng-click="SetReqNewLeaveActive('MyTeam')"><h4><img src="Content/Images/icon-requestaccom_highlight.png" height="21" width="21" />&nbsp;<b>View Todo's</b></h4></a></li>
                            <li><a href="" role="tab" data-toggle="tab" ng-click="SetReqNewAccomActive('MyTeam')"><h4><img src="Content/Images/icon-intermittentleave_highlight.png" height="21" width="21" />&nbsp;<b>View Reports</b></h4></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" ng-if="IsEmployee" style="padding:0">
            <ul id="EssNavStack" class="nav nav-pills nav-stacked">
                <li class="active"><a href="" id="viewMyCases" role="tab" data-toggle="tab" ng-click="SetMyCasesActive('MyInfo')"><h4><img src="Content/Images/ssportal-ico_cc-cases-c-icon.png" height="21" width="21" />&nbsp;<b>View My Cases</b></h4></a></li>
                <li ng-if="isLOA"><a href="" role="tab" data-toggle="tab" id="requestLeave" ng-click="SetReqNewLeaveActive('MyInfo')"><h4><img src="Content/Images/ssportal-ico_cc-leave-c-icon.png" height="21" width="21" />&nbsp;<b>Request A Leave</b></h4></a></li>
                <li><a href="" role="tab" data-toggle="tab" id="requestAccomm" ng-click="SetReqNewAccomActive('MyInfo')"><h4><img src="Content/Images/ssportal-ico_cc-accom-c-icon.png" height="21" width="21" />&nbsp;<b>File A Case</b></h4></a></li>
                <li><a id="viewMyInfo" href="" role="tab" ng-click="SetMyInfoActive('MyInfo')" data-toggle="tab"><h4><img src="Content/Images/ssportal-ico_cc-info-c-icon.png" height="21" width="21" />&nbsp;<b>View My Info</b></h4></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-offset-1 col-md-8" style="border: 1px solid">
            <div ng-view>
            </div>
        </div>
    </div>
</div>
