﻿<div ng-controller="CaseIndexCtrl" ng-init="init('index')">
    <div class="row">
        <div class="col-sm-12">
            <div id="sup-myteam-cases">
                <div class="row row-header">
                    <div class="col-sm-3" ng-click="UpdateCaseSort('EmployeeName')">
                        <span>Emp. Name</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'EmployeeName'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateCaseSort('CaseNumber')">
                        <span>Case #</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'CaseNumber'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateCaseSort('StartDate')">
                        <span>Start Dt</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'StartDate'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateCaseSort('RTWDate')">
                        <span>RTW Dt</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'RTWDate'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-click="UpdateCaseSort('Status')">
                        <span>Status</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'Status'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                </div>
                <div id="sup-myteam-cases-scroll" class="row row-filter">
                    <div class="col-sm-3">
                        <input type="text" ng-keyup="GetCases(false)" ng-model="CasesFilter.EmployeeName" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" ng-keyup="GetCases(false)" ng-model="CasesFilter.CaseNumber" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" ng-model="CasesFilter.StartDate" class="form-control filter" placeholder="Filter" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" ng-model="CasesFilter.RTWDate" class="form-control filter" placeholder="Filter" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" />
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control filter" ng-change="GetCases(false)" ng-model="CasesFilter.Status" ng-options="status.Id as status.Text for status in CaseStatusList">
                           
                        </select>

                        <!--<input type="text" ng-keyup="GetCases(false)" ng-model="CasesFilter.Status" class="form-control filter" placeholder="Filter" />-->
                    </div>
                </div>
            </div>
            <div class="col-sm-12" id="sup-myteam-cases-scroll">
                <div class="col-sm-12">
                    <div class="row row-hover" ng-repeat="case in Cases" ng-click="GetViewCaseUrl(case.Id)">
                        <a class="row-link">
                            <div class="col-sm-3" ng-cloak ng-bind="case.EmployeeName">
                            </div>
                            <div class="col-sm-2" ng-bind="case.CaseNumber" ng-cloak>
                            </div>
                            <div class="col-sm-2" ng-bind="case.StartDate | ToDate | date:'MM/dd/yyyy'" ng-cloak>
                            </div>
                            <div class="col-sm-2" ng-bind="case.RTWDate | ToDate | date:'MM/dd/yyyy'" ng-cloak>
                            </div>
                            <div class="col-sm-3" ng-bind="case.Status" ng-cloak>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<cases-last-reviewed></cases-last-reviewed>