﻿<div  ng-controller="ToDoCtrl" ng-init="init('index')">
    <div id="sup-myteam-todos-header" class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <select class="form-control" ng-model="UserId" ng-options="user.Id.toString() as user.DisplayName for user in UsersList"></select>
            </div>

            <div class="col-sm-7">
                <a ng-click="ReassignTodos()" class="btn btn-primary">Re-Assign Todos</a>
                <a ng-click="CheckAll();" class="btnLnk">check all</a> |
                <a ng-click="UncheckAll();" class="btnLnk">uncheck all</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="sup-myteam-todos">
                <div class="row row-header">
                    <div class="col-sm-3" ng-click="UpdateToDoSort('EmployeeName')">
                        <span>Employee Name</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'EmployeeName'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-click="UpdateToDoSort('Title')">
                        <span>To-Do</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'Title'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateToDoSort('CaseNumber')">
                        <span>Case Number</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'CaseNumber'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateToDoSort('DueDate')">
                        <span>Due</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'DueDate'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateToDoSort('Status')">
                        <span>Status</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'Status'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-filter">
                    <div class="col-sm-3">
                        <input ng-model="ToDosFilter.EmployeeName" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-3">
                        <input ng-model="ToDosFilter.Text" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-2">
                        <input ng-model="ToDosFilter.CaseNumber" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-2">
                        <div class="field-input input-group date">
                            <input type="text" id="ToDoFilterDue" name="ToDoFilterDue" class="form-control input-sm filter" ng-model="ToDosFilter.Due"
                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="On" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <select ng-model="ToDosFilter.Status" ng-change="GetToDos(false)" class="form-control filter" ng-options="status.Id as status.Text for status in todoItemStatuses"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" id="sup-myteam-todos-scroll">
                <div class="col-sm-12" ng-repeat="toDo in ToDos">
                    <div ng-class="{'overdue' : toDo.Status == 'Overdue'}" class="row row-hover" ng-click="OpenTodoModal(toDo)">
                        <div class="col-sm-3" ng-cloak>
                            <input type="checkbox" class="todo-checkbox" ng-model="reassigntodos.Todos[$index].ApplyStatus" ng-click="$event.stopPropagation();" />&nbsp;
                            {{toDo.EmployeeName}}
                        </div>
                        <div class="col-sm-3" ng-bind="toDo.Title" ng-cloak>
                        </div>
                        <div class="col-sm-2" ng-bind="toDo.CaseNumber" ng-cloak>
                        </div>
                        <div class="col-sm-2" ng-bind="toDo.DueDate | ToDate | date:'MM/dd/yyyy'" ng-cloak>
                        </div>
                        <div class="col-sm-2" ng-bind="toDo.Status" ng-cloak>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
