﻿<div  ng-controller="EmployeeIndexCtrl" ng-init="init('index')">
    <div class="row">
        <!--<div class="col-sm-2">
            <div class="content-section">Employees</div>
            <br />
            <a class="btn btn-primary btn-sm btn-icon-employee-index" href="/employees">All Employees</a>
            <br />
            <a class="btn btn-primary btn-sm btn-icon-employee-create" href="/Employees/Edit" has-permission="CreateEmployee">New Employee</a>
        </div>-->
        <div class=" col-sm-12">
            <div id="sup-myteam-team">
                <div class="row row-header" id="empSort">
                    <div class="empSort col-sm-4" ng-click="UpdateEmployeeSort('Name')">
                        <span>Name</span>
                        <div class="sort" ng-show="EmployeesFilter.SortExpression == 'Name'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="empSort col-sm-4" ng-click="UpdateEmployeeSort('EmployeeNumber')">
                        <span>ID</span>
                        <div class="sort" ng-show="EmployeesFilter.SortExpression == 'EmployeeNumber'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <!--<div class="empSort col-sm-3" ng-click="UpdateEmployeeSort('Email')">
                <span>Email</span>
                <div class="sort" ng-show="EmployeesFilter.SortExpression == 'Email'">
                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                </div>
            </div>-->
                    <div class="empSort col-sm-4" ng-click="UpdateEmployeeSort('HireDate')">
                        <span>Hire Date</span>
                        <div class="sort" ng-show="EmployeesFilter.SortExpression == 'HireDate'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-filter" id="empFilters">
                    <div class="col-sm-4">
                        <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.Name" ng-keyup="GetEmployees(false)" />
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.EmployeeNumber" ng-keyup="GetEmployees(false)" />
                    </div>
                    <!--<div class="col-sm-3">
                <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.Email" ng-keyup="GetEmployees(false)" />
            </div>-->
                    <div class="col-sm-4">
                        <div class="field-input input-group date">
                            <input type="text" id="EmployeeFilterHireDate" name="EmployeeFilterHireDate" class="form-control input-sm filter" ng-model="EmployeesFilter.HireDate"
                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="On " />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" >
                <div class="col-sm-12">
                    <div class="row row-hover" ng-repeat="employee in Employees" ng-click="GetViewEmployeeUrl(employee.Id)">
                        <a class="row-link">
                            <div class="col-sm-4" ng-cloak ng-bind="employee.Name">
                            </div>
                            <div class="col-sm-4" ng-bind="employee.EmployeeNumber" ng-cloak>
                            </div>
                            <!--<div class="col-sm-3" ng-cloak ng-bind="employee.Email">
                </div>-->
                            <div class="col-sm-4" ng-cloak ng-bind="employee.HireDate | date : 'MM/dd/yyyy'">
                            </div>
                        </a>
                        <div class="popover-custom">
                            <div class="popover right" data-container="body">
                                <div class="arrow"></div>
                                <h3 class="popover-title">Cases</h3>
                                <div class="popover-content">
                                    <p ng-cloak ng-show="employee.EmployeeCasesInfo.length > 0" ng-repeat="employeeCaseInfo in employee.EmployeeCasesInfo">
                                        <a ng-href="/cases/{{employeeCaseInfo.CaseId}}/view">#{{employeeCaseInfo.CaseNumber}}</a><br />
                                        <span class="font-size-small">{{employeeCaseInfo.StartDate | date:'MM/dd/yyyy'}} - {{employeeCaseInfo.EndDate | date:'MM/dd/yyyy'}}</span>
                                        <span class="font-size-small">{{employeeCaseInfo.Reason}} </span>
                                        <br />
                                        <span class="font-size-small">{{employeeCaseInfo.Status}} </span>
                                        <br />
                                        <span class="font-size-small">{{employeeCaseInfo.CaseType}}</span>
                                    </p>
                                    <p ng-cloak ng-show="employee.EmployeeCasesInfo.length == 0">No cases on record</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
