﻿<div class="scrollOrganization-admin" ng-show="assignOrgTree.ChildOrganizationVisibilityTree.length>0 || assignOrgTree.Level==1">        
    <form name="frm{{assignOrgTree.OrganizationName + assignOrgTree.Level}}" novalidate>                
        <div class="col-sm-4">
            <span ng-repeat="n in Range(1,assignOrgTree.Level)">
                <span class="child-tree-indent"></span>
            </span>
            <span class="glyphicon glyphicon-plus-sign" ng-show="assignOrgTree.ChildOrganizationVisibilityTree.length && assignOrgTree.Expanded==false" ng-click="ExpandCollapseOrganization(assignOrgTree, true)"></span>
            <span class="glyphicon glyphicon-minus-sign" ng-show="assignOrgTree.ChildOrganizationVisibilityTree.length && assignOrgTree.Expanded==true" ng-click="ExpandCollapseOrganization(assignOrgTree, false)" />
            <span ng-class="assignOrgTree.ChildOrganizationVisibilityTree.length?'child-tree-text-indent':'level1-nochild-tree-text-indent'">
                <span ng-class="assignOrgTree.Level==1?'level1-org-text':''">{{ assignOrgTree.OrganizationName }}</span>
            </span>
        </div>
            <div class="col-sm-2 pull-center">
                <input name="assignorgtree.organizationname" ng-model="assignOrgTree.Affiliation" value="-1" ng-checked="assignOrgTree.Affiliation == '-1' || assignOrgTree.Affiliation == ''" id="{{ assignOrgTree.OrganizationName + '_N'}}" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="assignOrgTree.OrganizationName" ng-model="assignOrgTree.Affiliation" value="1" ng-checked="assignOrgTree.Affiliation == '1'" id="{{ assignOrgTree.OrganizationName + '_M'}}" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="assignOrgTree.OrganizationName" ng-model="assignOrgTree.Affiliation" value="0" ng-checked="assignOrgTree.Affiliation == '0'" id="{{ assignOrgTree.OrganizationName + '_V'}}" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="assignOrgTree.OrganizationName" ng-model="assignOrgTree.Affiliation" value="2" ng-checked="assignOrgTree.Affiliation == '2'" id="{{ assignOrgTree.OrganizationName + '_L'}}" type="radio" />
            </div>        
    </form>
</div>
 <div ng-show="assignOrgTree.ChildOrganizationVisibilityTree.length==0  && assignOrgTree.Level>1">     
        <form name="frm{{assignOrgTree.OrganizationName + assignOrgTree.Level}}" novalidate>
            <div class="col-sm-4">
                <span ng-repeat="n in Range(1,assignOrgTree.Level)">
                    <span class="child-tree-indent"></span>
                </span>
                <span class="child-tree-text-indent">
                    {{ assignOrgTree.OrganizationName }}
                </span>
            </div>
            <div class="col-sm-2 pull-center">
                <input name="assignOrgTree.OrganizationName" ng-model="assignOrgTree.Affiliation" value="-1" ng-checked="assignOrgTree.Affiliation == '-1' || assignOrgTree.Affiliation == ''" id="{{ assignOrgTree.OrganizationName + '_N'}}" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="assignOrgTree.OrganizationName" ng-model="assignOrgTree.Affiliation" value="1" ng-checked="assignOrgTree.Affiliation == '1'" id="{{ assignOrgTree.OrganizationName + '_M'}}" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="assignOrgTree.OrganizationName" ng-model="assignOrgTree.Affiliation" value="0" ng-checked="assignOrgTree.Affiliation == '0'" id="{{ assignOrgTree.OrganizationName + '_V'}}" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="assignOrgTree.OrganizationName" ng-model="assignOrgTree.Affiliation" value="2" ng-checked="assignOrgTree.Affiliation == '2'" id="{{ assignOrgTree.OrganizationName + '_L'}}" type="radio" />
            </div>
        </form>
</div>
<div class="scrollOrganization-admin" ng-show="assignOrgTree.Expanded==true">
    <div ng-repeat="assignOrgTree in assignOrgTree.ChildOrganizationVisibilityTree">
        <div ng-include src="'/scripts/app-angular/Admin/EmployeeOrganization/assign-organization-visibility-treeview.html'"></div>
    </div>
</div>