﻿<div ng-show="orgTree.ChildOrganizationVisibilityTree.length>0 || orgTree.Level==1">
    <span ng-repeat="n in Range(1,orgTree.Level)">
        <span class="child-tree-indent"></span>
    </span>
    <span class="glyphicon glyphicon-plus-sign" ng-show="orgTree.ChildOrganizationVisibilityTree.length && orgTree.Expanded==false" ng-click="ExpandCollapseOrganization(orgTree, true)" />
    <span class="glyphicon glyphicon-minus-sign" ng-show="orgTree.ChildOrganizationVisibilityTree.length && orgTree.Expanded==true" ng-click="ExpandCollapseOrganization(orgTree, false)" />
    <span ng-class="orgTree.ChildOrganizationVisibilityTree.length?'child-tree-text-indent':'level1-nochild-tree-text-indent'">
        <span ng-class="orgTree.Level==1?'level1-org-text':''">
            <span ng-click="LoadOrganization(orgTree)" title="{{ orgTree.Level==1 ? 'Click to load Organization Hierarchy' : ''}}">
                {{ orgTree.OrganizationName }} {{orgTree.AffiliationInitials}}
            </span>
        </span>
    </span>
</div>    
<div ng-show="orgTree.ChildOrganizationVisibilityTree.length==0 && orgTree.Level>1">
    <span ng-repeat="n in Range(1,orgTree.Level)">
        <span class="child-tree-indent"></span>
    </span>
    <span class="glyphicon glyphicon-check" />
    <span class="child-tree-text-indent">
        {{ orgTree.OrganizationName }} {{orgTree.AffiliationInitials}}
    </span>
</div>            
<div ng-show="orgTree.Expanded==true">
    <div ng-repeat="orgTree in orgTree.ChildOrganizationVisibilityTree">
        <div ng-include src="'/scripts/app-angular/Admin/EmployeeOrganization/current-organization-treeview.html'"></div>
    </div>
</div>