﻿<div id="filters" class="collapse ad-filter-bar adhoc-filter-container">
    <div class="row">
        <div class="col-xs-2 col-header">
            Field
        </div>
        <div class="col-xs-9 col-header">
            Filter
        </div>
        <div class="col-xs-1">
            <button class="btn btn-icon add-button pull-right" id="addFilter-adhoc" data-source-element-id="filterTemplate" data-target-element-id="adHocReportFilters"><span class="fa fa-plus"></span></button>
        </div>
    </div>
    <p id="addFiltersText">
        There are currently no filters. Click the '+' to add a new filter.
    </p>
    <div class="absencesoft-repeating-container" id="adHocReportFilters">
       
    </div>
    <p id="runFiltersText" class="hide">
        You must hit Run Button to apply filter(s) to report.
    </p>
</div>
<script type="text/template" id="filterTemplate">
  
</script>