﻿<div id="side-navbar-tree" style="left:105px;">   
    <div class="vertical-scroll">
        <a href="" class="return-ad-btn">
            <i class="fa fa-long-arrow-left"></i> Return To Report List
        </a>
        <h4 id="reportTypeTitle" class="report-type-title"></h4>
        <input type="search" placeholder="search text" class="input-search-textbox" id="categorySearch" />
        <div class="css-treeview">
        </div>
    </div>
</div>
