﻿<div class="leftNavbar">
    <div id="side-navbar" class="sideBar">
        <div class="ad-cat-vscroll">
            <div class="vertical-hoc-menu">
                <a class="btn vertical-nav-button adhoc-category-button" href="">
                    <i class="adhoc-icon-class"></i>
                    <span class="report-category-name ah-light-gray adhoc-report-name"></span>
                </a>
            </div>
        </div>
    </div>
    <div id="adhoc-report-type">
        <div class="adhoc-report-type hide">
            <ul class="ad-close-menu">
                <li>
                    <a href="" class="adhoc-report-type-href">
                        Close Menu <span class="fa fa-times pull-right"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
