﻿@*
    Model true = we're on a sub page
    Model false = we're on the ad hoc reporting home page
*@
@model bool
@{
    string closeUrl = "/reporting/home";
    if (Model)
    {
        closeUrl = "/reporting/adhoc";
    }
}

<div class="top-navbar-fixed ad-dis-btn topBar">
    <input type="hidden" id="adhockey" />
    <div class="col-md-1">
        <h5>Adhoc 2.0</h5>
    </div>
    <div class="col-md-11">
        <div class="pull-right">

            <button class="btn btn-default report-run-btn" id="load-report" data-toggle="modal" data-target="#savedReportsModal">
                <span class="fa fa-folder-open-o" aria-hidden="true"></span>  <span id="run-report-load">Favorites</span>
            </button>

            @if (Model)
            {
                <div class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle report-run-btn" data-toggle="dropdown"><span class="fa fa-arrow-circle-right" aria-hidden="true"></span> Run Report <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" style="background-color:#FFF;">
                            <li id="run-report">
                                <a href="#" id="run-report-span">On Page Result</a>
                            </li>
                            <li>
                                <a href="#" id="export-csv"><span id="run-report-csv">Export CSV</span></a>
                            </li>
                            <li>
                                <a href="#" id="export-pdf"><span id="run-report-pdf">Export PDF</span></a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle report-run-btn" data-toggle="dropdown"> <span class="fa fa-save" aria-hidden="true"></span> Save As <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" style="background-color:#FFF;">
                            <li>
                                <a href="#" id="save-report"><span id="run-report-save">Save</span></a>
                            </li>
                            <li>
                                <a href="#" id="saveas-report"><span id="run-report-saveas">Save As</span></a>
                            </li>
                           
                        </ul>
                    </div>
                </div>

            }
            <button class="btn btn-default report-run-btn" id="view-progress" data-toggle="modal" data-target="#queueStatusModal">
                <span class="fa fa-tasks" aria-hidden="true"></span> <span id="view-report-span"> View Progress</span>
            </button>

            <button class="btn btn-default report-run-btn" id="btn-back-report-dashboard" onclick="window.location.assign('@closeUrl');">
                <span class="fa fa-arrow-circle-left" aria-hidden="true"></span> <span id="back-report-span">Back</span>
            </button>
            @if (Model)
            {
                <button id="export-close" type="button" class="btn btn-default ad-nav-btns ad-filter-btn report-filter" data-toggle="collapse" data-target="#filters">
                    FILTER <span class="fa fa-filter" aria-hidden="true"></span>
                </button>
            }
        </div>

    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="savedReportsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                <h4 class="modal-title ad-modal-title">Load Report</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="adhoc-mostrec">
                            <h1>
                                Saved Reports
                            </h1>
                            <div class="row adhoc-report-list-all">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right ad-modal-cancel-btn" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Queue Status Modal -->
<div id="queueStatusModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="queue-modal-header">Queue Status</h4>
            </div>
            <div class="modal-body" id="queue-modal-content">
                <h3>Current Processing Status</h3>
                <div id="queue-current-status"></div>
                <hr />
                <h3>History</h3>
                <div id="queue-history"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



@if (Model)
{
    @*SAVE-AS button modal*@
    <div class="modal fade" tabindex="-1" id="adHocSaveReportAsDialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                    <h4 class="modal-title ad-modal-title"><span id="adHocReportSaveText">Save Report As:</span></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 ad-modal-inputs">
                            <input type="text" id="adHocReportName" required />
                            <span id="adHocReportNameRequired" class="error hide">You must provide a name for the report.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right ad-modal-save-btn" id="saveAdHocReportAs">Save</button>
                    <button type="button" class="btn btn-default pull-right ad-modal-cancel-btn" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="noFieldsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                    <h4 class="modal-title ad-modal-title">No Fields Selected</h4>
                </div>
                <div class="modal-body">
                    <p>Please select the fields you want to run before generating a report.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right ad-modal-cancel-btn" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
