﻿
@{
    Layout = "~/Views/Shared/_FullWidthLayout.cshtml";
}

<div class="container-fluid">    
    @Html.Partial("_ReportSideBar")
   
    <div class="adhoc-report-container adhoc-container">
        @Html.Partial("_ToolBar", true)
        @Html.Partial("_CategorySideBar")
        @Html.Partial("_AdhocReportFilters")       
        <div class="alert alert-info fade in" id="report-saved-alert">
            <button type="button" class="close">×</button>
            <span></span>
        </div>
        <div id="export-report-area">
            <h3 class="ad-report-title">
                <i class="fa fa-bar-chart ah-bright-blue"></i>
                <span id="adHocReportTitle">
                    <text id="adhoc-report-name">Untitled Report</text>

                </span>
            </h3>
            <div id="adHocLoading" class="ad-loading-modal hide">
                <span class="fa fa-spin fa-spinner"></span> <h4>Loading ... </h4>
            </div>
            <div id="adHocReportResults">
                <div class="col-xs-12 col-wrap table-responsive report-table">
                    <div class="margins-and-size-grid adhoc-table">
                        <table class="table table-striped" id="AdHocReportDataGrid">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <p id="adHocMessage"></p>

            </div>
        </div>

    </div>
