﻿
@{
    Layout = "~/Views/Shared/_FullWidthLayout.cshtml";
}

<div class="container-fluid">

    @Html.Partial("_ReportSideBar")   
    <div class="adhoc-container">
        @Html.Partial("_ToolBar", false)
        <div class="row">
            <div class="col-xs-12 text-center ad-start">
                <h1>Get Started</h1>
                <h4>Please either choose categories from the menu on the left, or load a prior report.</h4>
            </div>
        </div>
        @Html.Partial("_MostRecent")
        <div class="row adhoc-cat-list">
        </div>
    </div>
</div>
