﻿@model AbsenceSoft.Logic.ListResults

@{
    var isInquiry = ViewBag.Status == "Inquiry";

    ViewBag.Title = (isInquiry ? "Inquiry" : "Case") + " Activity";

    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

@Html.Action("ParentCaseInfo", "Cases", new { caseId = ViewBag.CaseId, status = ViewBag.Status })
<div ng-controller="CaseActivityCtrl" ng-init="init(@theModel)" ng-cloak>
    <div class="row row-offset hidden-print">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <div class="content-section">@(isInquiry ? "Inquiry" : "Case") Activity</div>
                    <div class="btn-icon-notes"></div>
                </div>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row row-header top-row-style" id="empSort" style="cursor: pointer">
                                            <div class="col-sm-2" ng-click="UpdateCaseActivitySort('CreatedDate')">
                                                <span>Date</span>
                                                <div class="sort" ng-show="SortExpression == 'CreatedDate'">
                                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[SortAsc == true]"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3" ng-click="UpdateCaseActivitySort('Category')">
                                                <span>Category</span>
                                                <div class="sort" ng-show="SortExpression == 'Category'">
                                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[SortAsc == true]"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-2" ng-click="UpdateCaseActivitySort('CreatedBy')">
                                                <span>Written By</span>
                                                <div class="sort" ng-show="SortExpression == 'CreatedBy'">
                                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[SortAsc == true]"></span>
                                                </div>
                                            </div>                                            
                                            <div class="col-sm-2" ng-click="UpdateCaseActivitySort('Type')">                                                
                                                <span>Type</span>
                                                <div class="sort" ng-show="SortExpression == 'Type'">
                                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[SortAsc == true]"></span>
                                                </div>                                                                                            
                                            </div>
                                            @*Pull is needed for Description column below because width of Type column above was changed from "col-sm-1" to "col-sm-2" to accomodate 
                                                sorting icon which was going on a different line*@
                                            <div class="col-sm-3 col-md-pull-1" ng-click="UpdateCaseActivitySort('Description')">
                                                <span>Description</span>
                                                <div class="sort" ng-show="SortExpression == 'Description'">
                                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[SortAsc == true]"></span>
                                                </div>
                                            </div>                                                                                         
                                        </div>
                                        <div class="row row-filter bottom-row-style" id="caseActivityFilters">
                                            <div class="col-sm-2">
                                                <input type="text" ng-model="DateFilter" class="form-control filter" placeholder="Date" />
                                            </div>
                                            <div class="col-sm-3">
                                                <input type="text" ng-model="CategoryFilter" class="form-control filter" placeholder="Category" />
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" ng-model="WrittenByFilter" class="form-control filter" placeholder="Written By" />
                                            </div>
                                            <div class="col-sm-1">                                                
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" ng-model="DescriptionFilter" class="form-control filter" placeholder="Description" />
                                            </div>                                            
                                        </div>
                                        <div class="row">
                                                <div class="col-sm-12">
                                                <div class="pull-right">
                                                    <a style="cursor:pointer" ng-click="ToggleAllActivity(true)">expand all</a> |
                                                    <a style="cursor:pointer" ng-click="ToggleAllActivity(false)">collapse all</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row white-attach-box">
                                            <div class="col-sm-12 note" ng-repeat="activity in CaseActivity | filter:FilterCaseActivity | orderBy:SortExpression:!SortAsc">
                                                <div class="row">
                                                    <div>
                                                        <div class="col-sm-3" ng-bind="activity.CreatedDate | ToDate | date:'MM/dd/yy hh:mm a'"></div>
                                                        <div class="col-sm-pull-1 col-sm-2" ng-bind="activity.Category | splitCamelCaseString"></div>
                                                        <div class="col-sm-2" ng-bind="activity.CreatedBy"></div>
                                                        <div class="col-sm-1 pull-center">
                                                            <span ng-show="activity.Type == 'ToDo'" class="glyphicon glyphicon-check" data-toggle="tooltip" title="ToDo"></span>
                                                            <span ng-show="activity.Type == 'Communication'" class="glyphicon glyphicon-envelope" data-toggle="tooltip" title="Communication"></span>
                                                            <span ng-show="activity.Type == 'Attachment'" class="glyphicon glyphicon-folder-open" data-toggle="tooltip" title="Attachment"></span>
                                                            <span ng-show="activity.Type == 'Note'" class="glyphicon glyphicon-comment" data-toggle="tooltip" title="Note"></span>
                                                            <span ng-show="activity.Type == 'Reassignment'" class="fa fa-retweet tweet-color" data-toggle="tooltip" title="Reassignment"></span>
															<span ng-show="activity.Type == 'CaseReporter'" class="glyphicon glyphicon-check" data-toggle="tooltip" title="Case Reporter"></span>
                                                            <span ng-show="activity.Type == 'Assignment'" class="fa fa-retweet tweet-color" data-toggle="tooltip" title="Assignment"></span>
                                                        </div>
                                                        <div class="col-sm-4" ng-bind-html="hiImALink(activity.Description)"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" ng-cloak>
                                                    <div class="pull-right">
                                                        <a href="" ng-click="activity.visible =! activity.visible" ng-hide="activity.visible">more</a>
                                                        <a href="" ng-click="activity.visible =! activity.visible" ng-show="activity.visible">less</a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-13 summary-box-border" ng-show="activity.visible">                                                  
                                                    <div ng-show="activity.CaseCloseReason" ng-bind-html="hiImALinks(activity.CaseCloseReason)"></div>
                                                    <div ng-show="!activity.CaseCloseReason" ng-bind-html="hiImALinks(activity.Description, activity.Contact, activity.Answer, activity.Category, activity.SAnswer)"></div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2 col-right">
                                <a href="@Url.RouteUrl((isInquiry ? "Inquiry" : "Case") + "Communications", new { caseId = ViewBag.CaseId })" class="btn btn-primary" has-permission="SendCommunication">Communications</a>
                                <a href="@Url.RouteUrl((isInquiry ? "Inquiry" : "Case") + "Notes", new { caseId = ViewBag.CaseId })" class="btn btn-primary" has-permission="ViewNotes">Notes</a>
                                <a href="@Url.RouteUrl((isInquiry ? "Inquiry" : "Case") + "Attachments", new { caseId = ViewBag.CaseId })" class="btn btn-primary" has-permission="ViewAttachment">Attachments</a>
                                <a class="btn btn-primary" ng-click="SelectPrintTypes()">Print</a>
                                @if (HasFeatureAndPermission(Feature.CaseBulkDownload, Permission.CaseBulkDownload))
                                {
                                    @Html.RouteLink("Bulk Download", "CaseBulkDownload", new { caseId = ViewBag.CaseId }, new { @class = "btn btn-primary" })
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Modal -->
    <select-activity-type></select-activity-type>
    <!-- /Modal -->
        <div class="visible-print">
            <div class="row row-header" id="empSort" style="cursor: pointer">
                <div class="col-sm-2">Date</div>
                <div class="col-sm-3">Category</div>
                <div class="col-sm-2">Written By</div>
                <div class="col-sm-1">Type</div>
                <div class="col-sm-4">Description</div>
            </div>
            <div class="col-sm-12 note" ng-repeat="activity in CaseActivity" ng-show="(activity.Type == 'ToDo' && PrintToDo) || (activity.Type == 'Attachment' && PrintAttachment) || (activity.Type == 'Communication' && PrintCommunication) || (activity.Type == 'Note' && PrintNote)">
                <div class="row">
                    <div class="col-sm-2" ng-bind="activity.CreatedDate | ToDate | date:'MM/dd/yy'"></div>
                    <div class="col-sm-3" ng-bind="activity.Category | splitCamelCaseString"></div>
                    <div class="col-sm-2" ng-bind="activity.CreatedBy"></div>
                    <div class="col-sm-1">
                        <span ng-show="activity.Type == 'ToDo'" class="glyphicon glyphicon-check" data-toggle="tooltip" title="ToDo"></span>
                        <span ng-show="activity.Type == 'Communication'" class="glyphicon glyphicon-envelope" data-toggle="tooltip" title="Communication"></span>
                        <span ng-show="activity.Type == 'Attachment'" class="glyphicon glyphicon-folder-open" data-toggle="tooltip" title="Attachment"></span>
                        <span ng-show="activity.Type == 'Note'" class="glyphicon glyphicon-comment" data-toggle="tooltip" title="Note"></span>
                        <span ng-show="activity.Type == 'Reassignment'" class="glyphicon glyphicon-comment" data-toggle="tooltip" title="Reassignment"></span>
                    </div>
                    <div class="col-sm-4" ng-bind="activity.Description"></div>
                </div>
            </div>
        </div>
 </div>



