﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Queue Status Modal -->
<div id="queueStatusModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="queue-modal-header">Queue Status</h4>
            </div>
            <div class="modal-body" id="queue-modal-content">
                <h3>Current Processing Status</h3>
                <div id="queue-current-status"></div>
                <hr />
                <a class="right" href="#" id="clear-history">Clear History</a>
                <h3>History</h3>
                <div id="queue-history"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="container ess-report">
    @RenderBody()
</div>

@RenderSection("scripts", false)