﻿@model AbsenceSoft.SelfService.Models.Home.LogoViewModel

<div class="ess-companylogo pull-right hidden-xs hidden-sm hidden-md">
    @if (!string.IsNullOrEmpty(Model.Url))
    {
        <img src="@Model.Url" title="@Model.Name" />
    }
    else
    {
        <h1>@Model.Name</h1>
    }
</div>