﻿
@model AbsenceSoft.SelfService.Models.UserViewModel

<div class="toolbar">
    <div class="row">
        <div class="pull-left user-info hidden-xs">
            <div class="row">
                <div class="col-xs-12">
                    <h5>Hello, @Model.FirstName @Model.LastName</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 user-email">
                    @Model.Email | @Model.Employer <a href="@Url.RouteUrl("User")"><i class="fa fa-pencil pull-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <a href="@Url.RouteUrl((string)ViewBag.HomeRoute, new { Area=""})">
            <div class="pull-left menu-items text-center teal">
                <div class="row menu-icons">
                    <span class="fa fa-briefcase"></span>
                </div>
                <div class="row menu-text hidden-xs">
                    My Cases
                </div>
            </div>
        </a>
        @if (Model.ViewEmployees)
        {
        <a href="@Url.RouteUrl("MyTeam")">
            <div class="pull-left menu-items text-center teal">
                <div class="row menu-icons">
                    <span class="fa fa-users"></span>
                </div>
                <div class="row menu-text hidden-xs">
                    My Team
                </div>
            </div>
        </a>

        <!-- Reports -->
            if (Model.HasAccessToReports)
            {

        <a href="@Url.Action("Index", null, new { area = "Reporting", controller = "Home" })">
            <div class="pull-left menu-items text-center teal">
                <div class="row menu-icons">
                    <span class="fa fa-line-chart"></span>
                </div>
                <div class="row menu-text hidden-xs">
                    Reports
                </div>
            </div>
        </a>
            }

    <div class="pull-left text-center teal-dark hidden-xs">
        <div class="hidden-xs">
            <select id="searchMyTeam" multiple="multiple"></select>
        </div>
    </div>

}
else
{
    <a href="@Url.RouteUrl("NewRequest", null)">
        <div class="pull-left menu-items text-center teal">
            <div class="row menu-icons">
                <span class="fa fa-calendar-plus-o"></span>
            </div>
            <div class="row menu-text hidden-xs">
                New Request
            </div>
        </div>
    </a>
            if (Model.TimeOffCanBeRequested())
            {
    <a href="@Url.RouteUrl("NewTimeOffRequest", null)">
        <div class="pull-left menu-items text-center teal">
            <div class="row menu-icons">
                <span class="fa fa-clock-o"></span>
            </div>
            <div class="row menu-text hidden-xs">
                Add Time Off
            </div>
        </div>
    </a>
            }
        }
        <a href="@Url.RouteUrl("User")" class="visible-xs">
            <div class="pull-left menu-items text-center teal">
                <div class="row menu-icons">
                    <span class="fa fa-user"></span>
                </div>
            </div>
        </a>
        @{ Html.RenderAction("GetLogo", "Home"); }
    </div>
</div>