﻿@{
    ViewBag.Title = "Health Check";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@model AbsenceSoft.Models.Health.HealthCheckViewModel

<h1>
    Health Check - 
    @if (Model.IsOK)
    {
        <span class="text-success">Happy <i class="fa fa-smile-o"></i></span>
    }
    else
    {
        <span class="text-danger">Sad <i class="fa fa-frown-o"></i></span>
    }
</h1>
<div>
    <div class="panel @(Model.ServerOK ? "panel-success" : "panel-danger")">
        <div class="panel-heading">
            <div class="panel-title">Server</div>
        </div>
        <div class="panel-body">
            @foreach(var msg in Model.ServerMessage)
            {
                @msg<br />
            }
        </div>
    </div>

    <div class="panel @(Model.DnsOK ? "panel-success" : "panel-danger")">
        <div class="panel-heading">
            <div class="panel-title">DNS / Network</div>
        </div>
        <div class="panel-body">
            @foreach (var msg in Model.DnsMessage)
            {
                @msg<br />
            }
        </div>
    </div>

    <div class="panel @(Model.DatabaseOK ? "panel-success" : "panel-danger")">
        <div class="panel-heading">
            <div class="panel-title">Database</div>
        </div>
        <div class="panel-body">
            @foreach (var msg in Model.DatabaseMessage)
            {
                @msg<br />
            }
        </div>
    </div>

    <div class="panel @(Model.DataWarehouseOK ? "panel-success" : "panel-danger")">
        <div class="panel-heading">
            <div class="panel-title">Data Warehouse</div>
        </div>
        <div class="panel-body">
            @foreach (var msg in Model.DataWarehouseMessage)
            {
                @msg<br />
            }
        </div>
    </div>

    <div class="panel @(Model.S3OK ? "panel-success" : "panel-danger")">
        <div class="panel-heading">
            <div class="panel-title">S3</div>
        </div>
        <div class="panel-body">
            @foreach (var msg in Model.S3Message)
            {
                @msg<br />
            }
        </div>
    </div>

    <div class="panel @(Model.SqsOK ? "panel-success" : "panel-danger")">
        <div class="panel-heading">
            <div class="panel-title">SQS</div>
        </div>
        <div class="panel-body">
            @foreach (var msg in Model.SqsMessage)
            {
                @msg<br />
            }
        </div>
    </div>

    <div class="panel @(Model.SmtpOK ? "panel-success" : "panel-danger")">
        <div class="panel-heading">
            <div class="panel-title">SES / SMTP</div>
        </div>
        <div class="panel-body">
            @foreach (var msg in Model.SmtpMessage)
            {
                @msg<br />
            }
        </div>
    </div>
</div>