﻿<div class="row">
    <div class="col-xs-12">
        <div class="report-popular-header">
            <h3><i class="fa fa-line-chart"></i>&nbsp;&nbsp;Business Intelligence Reports</h3>
            <h6>Shows patterns and trends within leave or accommodation usage</h6>
        </div>
    </div>
    <div id="bi-report-popular">
        <div id="bi-report-popular">
            <div class="col-sm-3" id="bi-report-card">
                <div class="report-card">
                    <div class="report-graph">
                        <a class="bi-tile-navigation" href="#"><i class="fa fa-line-chart"></i></a>
                    </div>
                    <div class="bi-title report-title" data-toggle="collapse" aria-expanded="false" aria-controls="cardflip">
                        <span class="bi-report-title">[Report_Title_Here]</span>
                        <div class="report-card-menu text-right"><i class="fa fa-ellipsis-v"></i></div>
                    </div>
                    <div id="#cardflip" class="bi-report-card collapse cardflip">
                        <div class="report-title">
                            <span class="bi-report-title">[Report_Title_Here]</span>
                            <div class="report-card-menu text-right"><i class="bi-title-flipIcon fa fa-times" data-toggle="collapse" aria-expanded="false" aria-controls="cardflip"></i></div>
                        </div>
                        <div class="report-description">
                            <p class="bi-report-description">[Report_Deccription_Here]</p>
                        </div>
                        <div class="report-card-button">
                            <a class="bi-report-go report-goto" href="#" title="GO TO REPORT">GO TO REPORT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
