﻿@Html.Hidden("howmanysaved", "4", new { id = "NoOfCardsForSavedReports" })
<div class="row">
    <div class="col-xs-12">
        <div class="report-popular-header">
            <h3> <i class="fa fa-user-secret"></i>Forensic Reports</h3>
            <h6>Uses data to identify cases requiring extra attention, e.g. abuse, chronic conditions, high utilization</h6>
        </div>
    </div>
    <div id="forensic-report-popular">
        <div id="forensic-report-popular">
            <div class="col-sm-3" id="forensic-report-card">
                <div class="report-card">
                    <div class="report-graph">
                        <a class="forensic-tile-navigation" href="#"><i class="fa fa-line-chart"></i></a>
                   </div>
                    <div class="forensic-title report-title" data-toggle="collapse" aria-expanded="false" aria-controls="cardflip">
                        <span class="forensic-report-title">[Report_Title_Here]</span>
                        <div class="report-card-menu text-right"><i class="fa fa-ellipsis-v"></i></div>
                    </div>
                    <div id="#cardflip" class="forensic-report-card collapse cardflip">
                        <div class="report-title">
                            <span class="forensic-report-title">[Report_Title_Here]</span>
                            <div class="report-card-menu text-right"><i class="forensic-title-flipIcon fa fa-times" data-toggle="collapse" aria-expanded="false" aria-controls="cardflip"></i></div>
                        </div>
                        <div class="report-description">
                            <p class="forensic-report-description">[Report_Deccription_Here]</p>
                        </div>
                        <div class="report-card-button">
                            <a class="forensic-report-go report-goto" href="#" title="GO TO REPORT">GO TO REPORT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

