﻿<div class="row">
    <div class="col-xs-12">
        <div class="report-popular-header">
            <h3><i class="fa fa-pie-chart"></i>Operations Reports</h3>
            <h6>Basic information on leave and accommodation cases such as duration, condition, approval status</h6>
        </div>
    </div>
    <div id="operation-report-popular">
        <div class="col-sm-3" id="operation-report-card">
            <div class="report-card">
                <div class="report-graph">
                    <a class="operation-tile-navigation" href="#"> <i class="fa fa-line-chart"></i></a>
                </div>
                <div class="operation-title report-title" data-toggle="collapse" aria-expanded="false" aria-controls="cardflip">
                    <span class="operation-report-title">[Report_Title_Here]</span>
                    <div class="report-card-menu text-right"><i class="fa fa-ellipsis-v"></i></div>
                </div>
                <div id="#cardflip" class="operation-report-card collapse cardflip">
                    <div class="report-title">
                        <span class="operation-report-title">[Report_Title_Here]</span>
                        <div class="report-card-menu text-right"><i class="operation-title-flipIcon fa fa-times" data-toggle="collapse" aria-expanded="false" aria-controls="cardflip"></i></div>
                    </div>
                    <div class="report-description">
                        <p class="operation-report-description">[Report_Deccription_Here]</p>
                    </div>
                    <div class="report-card-button">
                        <a class="operation-report-go report-goto" href="#" title="GO TO REPORT">GO TO REPORT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
