﻿@model IEnumerable<AbsenceSoft.Areas.Reporting.Models.ReportViewModel>


<div class="flyout-categories">
    <div class="fly-headers">
        @foreach (var item in Model)
        {
            <h4>@Html.ActionLink(item.Name, "Index", "Run", new { area = "Reporting", id = item.Id }, new { @class = "report-flyout-name" })</h4>
        }
    </div>
</div>
