﻿@Html.Hidden("howmanysaved", "4", new { id = "NoOfCardsForSavedReports" }) 
    <div class="row">
        <div class="col-xs-12">
            <div class="report-popular-header">
                <h2><i class="fa fa-line-chart"></i>Saved Reports</h2><div class="pull-right ActiveIfCount" style="display:none;">@Html.ActionLink("View All", "AllSavedReport")</div>
            </div>
        </div>
        <div id="saved-report">
        </div>
</div>
