﻿@Html.Hidden("howmany", "4", new { id = "NoOfCards" }) 
    <div class="row">
        <div class="col-xs-12">
            <div class="report-popular-header">
                <h2><i class="fa fa-line-chart"></i>Shared Reports</h2><div class="pull-right ActiveIfCount" style="display:none;">@Html.ActionLink("View All", "AllSharedReport")</div>
            </div>
        </div>
        <div id="SharedReport">
            <div class="col-sm-3" id="SharedReportCard">
                <div class="report-card">
                    <div class="report-graph">
                        <a class="shared-tile-navigation" href="#"> <i class="fa fa-line-chart"></i></a>
                    </div>
                    <div class="shared-title report-title" data-toggle="collapse"  aria-expanded="false" aria-controls="cardflip">
                        <span class="shared-report-title">[Report_Title_Here]</span>
                        <div class="report-card-menu text-right"><i class="fa fa-ellipsis-v"></i></div>
                    </div>
                    <div id="#cardflip" class="shared-report-card collapse cardflip">
                        <div class="report-title">
                            <span class="shared-report-title">[Report_Title_Here]</span>
                            <div class="report-card-menu text-right"><i class="shared-title-flipIcon fa fa-times" data-toggle="collapse" aria-expanded="false" aria-controls="cardflip"></i></div>
                        </div>
                        <div class="report-description">
                            <p class="shared-report-description">[Report_Deccription_Here]</p>
                        </div>
                        <div class="report-card-button">
                            <a class="shared-report-go report-goto" href="#" title="GO TO REPORT">GO TO REPORT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
