﻿
<div class="SharedReport hide">
    @Html.Partial("_SharedReport")
</div>

<div class="saved-report-container hide">
    @Html.Partial("_SavedReport")
</div>

<div class="bi-report-container hide">
    @Html.Partial("_BiPopularReport")
</div>

<div class="operation-report-container hide">
    @Html.Partial("_OpsPopularReport")
</div>

<div class="forensic-report-container hide">
    @Html.Partial("_ForensicPopularReport")
</div>


