﻿<div class="report-sidemenu text-center" id="report-side-bar">
    <ul>

        @if (CurrentUserHasPermission(Permission.RunCaseManagerReport.Id))
            {
            <li class="report-menu-toggles" data-toggle="collapse" title="Basic information on leave and accommodation cases such as duration, condition, approval status" data-target="#opflyout" aria-expanded="false" aria-controls="opflyout">
                <a>
                    <div class="row">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    Operations Reports
                </a>
            </li>
        }

        @if (HasFeatureAndPermission(Feature.BusinessIntelligenceReport, Permission.RunBIReport))
            {
            <li class="report-menu-toggles" title="Shows patterns and trends within leave or accommodation usage" data-toggle="collapse" data-target="#biflyout" aria-expanded="false" aria-controls="biflyout">
                <a>
                    <div class="row">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    Business Intelligence Reports
                </a>
            </li>
        }

        <li class="report-menu-toggles" data-toggle="collapse" title="Uses data to identify cases requiring extra attention, e.g. abuse, chronic conditions, high utilization" data-target="#forensicflyout" aria-expanded="false" aria-controls="forensicflyout">
            <a>
                <div class="row">
                    <i class="fa fa-user-secret"></i>
                </div>
                Forensic Reporting
            </a>
        </li>
        @if (HasFeatureAndPermission(Feature.AdHocReporting, Permission.RunAdHocReport))
            {
            <li class="report-menu-toggles" title="User defined reports that can incorporate any data element within AbsenceTracker" data-toggle="collapse" data-target="#adhocflyout" aria-expanded="false" aria-controls="adhocflyout">
                <a>
                    <div class="row">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    Ad Hoc Reporting
                </a>
            </li>
        }
        @if (HasFeatureAndPermission(Feature.OshaReporting, Permission.RunOshaReport))
        {
            <li class="report-menu-toggles" data-toggle="collapse" title="OSHA injury and illness record keeping forms" data-target="#oshaflyout" aria-expanded="false" aria-controls="oshaflyout">
                <a>
                    <div class="row">
                        <i class="fa fa-steam"></i>
                    </div>
                    OSHA REPORTS
                </a>
            </li>
        }
    </ul>
</div>
@if (CurrentUserHasPermission(Permission.RunCaseManagerReport))
{
    <div class="report-flyout collapse width" id="opflyout" name="Operations Report">
        <div class="row">
            <div class="col-xs-12 fly-search">
                <input type="search" placeholder="Search For Report" class="report-category-search">
            </div>
        </div>
        <div class="report-category-content scroll-vertical"></div>
    </div>
}
@if (HasFeatureAndPermission(Feature.BusinessIntelligenceReport, Permission.RunBIReport))
{
    <div class="report-flyout collapse width" id="biflyout" name="Business Intelligence Reports">
        <div class="row">
            <div class="col-xs-12 fly-search">
                <input type="search" placeholder="Search For Report" class="report-category-search">
            </div>
        </div>
        <div class="report-category-content scroll-vertical"></div>
    </div>
}
<div class="report-flyout collapse width" id="forensicflyout" name="Forensic Report">
    <div class="row">
        <div class="col-xs-12 fly-search">
            <input type="search" placeholder="Search For Report" class="report-category-search">
        </div>
    </div>
    <div class="report-category-content scroll-vertical"></div>
</div>
@if (HasFeatureAndPermission(Feature.AdHocReporting, Permission.RunAdHocReport))
{
    <div class="report-flyout collapse width" id="adhocflyout" name="AdHoc Report">
        <div class="row">
            <div class="col-xs-12 fly-search">
                <input type="search" placeholder="Search For Report" class="report-category-search">
            </div>
        </div>
        <div class="report-category-content scroll-vertical"></div>
    </div>
}
@if (HasFeatureAndPermission(Feature.OshaReporting, Permission.RunOshaReport))
{
    <div class="report-flyout collapse width" id="oshaflyout" name="OSHA Report">
        <div class="row">
            <div class="col-xs-12 fly-search">
                <input type="search" placeholder="Search For Report" class="report-category-search">
            </div>
        </div>
        <div class="report-category-content scroll-vertical"></div>
    </div>

}
