﻿@model AbsenceSoft.Models.Cases.CaseAssignmentRuleSetViewModel

@{
    ViewBag.Title = "Edit Case Assignment Rule Set";
}

@using (Ajax.BeginRouteForm("CaseAssignmentRuleSetSave", new { customerId = Customer.Current.Id }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "editCaseAssignmentRuleSetForm", OnSuccess = "AbsenceSoft.PageStart('#editCaseAssignmentRuleSetForm')" }, new { id = "editCaseAssignmentRuleSetForm" }))
{
    <input type="hidden" id="hdnCaseAssignmentCustomer" value="@Customer.Current.Id" />
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Case Assignment Rules of <span class="customer-name">@Customer.Current.Name</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink("Cancel", "ViewCaseAssignmentRules", new { customerId = Customer.Current.Id }, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.CustomerId)
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Code)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 dropdown-ind">
                            Case Assignee Type
                        </div>
                        <div class="col-sm-7 dropdown-ind">
                            @Html.DropDownListFor(m => m.CaseAssigneeTypeCode, new SelectList(Model.CaseAssigneeTypes, "Key", "Value"), "Primary Assignee", new { @class = "form-control", @id = "caseAssigneeTypes" })
                            @Html.ValidationMessageFor(m => m.CaseAssigneeTypeCode)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 dropdown-ind">
                            Behavior
                        </div>
                        <div class="col-sm-7 dropdown-ind">
                            @Html.EnumDropDownListFor(m => m.Behavior, "Default", new { @class = "form-control", @id = "behaviors" })
                            @Html.ValidationMessageFor(m => m.Behavior)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Description)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11 dropdown-ind">
                            <div class="col-sm-10 dropdown-ind">
                                Rules
                            </div>
                            <div class="col-sm-2 dropdown-ind">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default btn-edit btn-small-icon btn-add-case-assignment-rule" title="Add Rule"><span class="glyphicon glyphicon-plus add-case-assignment-rule" title="Add Rule"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="case-assignment-rules dropdown-ind row">
                        @if (Model.CaseAssignmentRules != null && Model.CaseAssignmentRules.Count > 0)
                        {
                            foreach (AbsenceSoft.Models.Cases.CaseAssignmentRuleViewModel rule in Model.CaseAssignmentRules.OrderBy(r => r.Order))
                            {
                                <div>
                                    @Html.Partial("CaseAssignmentRule", rule)
                                </div>
                            }
                        }
                        else
                        {

                            <div class="col-sm-11 border">
                                No Rules Configured
                            </div>

                        }
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row col-sm-offset-4">
                        <input type="submit" value="Save Case Assignment Rule Set" class="btn btn-primary" />
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            @Ajax.RouteLink("Delete", "DeleteCaseAssignmentRuleSet", new { customerId = Customer.Current.Id, caseAssigneeId = Model.Id }, new AjaxOptions()
                       {
                           HttpMethod = "DELETE"
                       }, new { @class = "btn btn-danger" })
                        }
                        @Html.RouteLink("Cancel", "ViewCaseAssignmentRules", new { customerId = Customer.Current.Id }, new { @class = "btn btn-link" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="employerValues" class="case-assignment-hide">
        <select class="form-control case-assignment-rule-use-values" multiple="multiple" placeholder="Select Employers">
            @foreach (string key in Model.Employers.Keys)
            {
                <option value="@key">@Model.Employers[key]</option>
            }
        </select>
        <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
    </div>
    <div id="workStateValues" class="case-assignment-hide">
        <select class="form-control case-assignment-rule-use-values" multiple="multiple" placeholder="Select Work States">
            @foreach (string key in Model.WorkStates.Keys)
            {
                <option value="@key">@Model.WorkStates[key]</option>
            }
        </select>
        <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
    </div>
    <div id="policiesValues" class="case-assignment-hide">
        <select class="form-control case-assignment-rule-use-values" multiple="multiple" placeholder="Select Policies">
            @foreach (string key in Model.Policies.Keys)
            {
                <option value="@key">@Model.Policies[key]</option>
            }
        </select>
        <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
    </div>
    <div id="policyTypesValues" class="case-assignment-hide">
        <select class="form-control case-assignment-rule-use-values" multiple="multiple" placeholder="Select Policy Types">
            @foreach (string key in Model.PolicyTypes.Keys)
            {
                <option value="@key">@Model.PolicyTypes[key]</option>
            }
        </select>
        <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
    </div>
    <div id="caseTypesValues" class="case-assignment-hide">
        <select class="form-control case-assignment-rule-use-values" multiple="multiple" placeholder="Select Case Types">
            @foreach (string key in Model.CaseTypes.Keys)
            {
                <option value="@key">@Model.CaseTypes[key]</option>
            }
        </select>
        <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
    </div>
	if (CurrentCustomer.HasFeature(Feature.AdminOrganizations))
    {
		<div id="officeLocationsValues" class="case-assignment-hide">
			<select class="form-control case-assignment-rule-use-values" multiple="multiple" placeholder="Select Office Locations">
            @if (Model.Employers != null && Model.Employers.Keys != null)
            {
                foreach (string key in Model.Employers.Keys)
                {
                    <optgroup label="@Model.Employers[key]">
                        @foreach (var location in Model.OfficeLocations.Where(c => c.EmployerId == key).ToList())
                        {
                            <option value="@location.Code">@location.Name (@location.Code)</option>
                        }
                    </optgroup>
                }
            }

            </select>
            <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
        </div>
    }
    if (Model.CustomFields.Any())
    {
        foreach (var item in Model.CustomFields)
        {
            if (item.ValueType == CustomFieldValueType.SelectList)
            {
                if (item.ListValues.Count > 0)
                {
                    <div id="CustomFieldValues_@item.Code" class="case-assignment-hide">
                        <select class="form-control case-assignment-rule-use-values" multiple="multiple" placeholder="Select values">
                            @foreach (var val in item.ListValues)
                            {
                                <option value="@val.Key">@val.Value</option>
                            }
                        </select>
                        <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
                    </div>
                }
            }
        }
    }
    <div id="assignmentTypesValues" class="case-assignment-hide">
        <div class="col-sm-4">
            Assignment
        </div>
        <div class="col-sm-3 case-assignment-padding-35L">
            <select class="form-control case-assignment-use-type" placeholder="Select Assignment">
                @foreach (string key in Model.AssignmentTypes.Keys)
                {
                    <option value="@key">@Model.AssignmentTypes[key]</option>
                }
            </select>
            <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
        </div>
        <div class="col-sm-4 case-assignment-type-value-use-selection">
        </div>
    </div>
    <div id="assignmentTeamsValues" class="case-assignment-hide">
        <select class="form-control case-assignment-use-type-value" placeholder="Select a Team">
            @foreach (string key in Model.AssignmentTeams.Keys)
            {
                <option value="@key">@Model.AssignmentTeams[key]</option>
            }
        </select>
        <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
    </div>
    <div id="assignmentUsersValues" class="case-assignment-hide">
        <select class="form-control case-assignment-use-type-value2" placeholder="Select a User">
            @foreach (string key in Model.AssignmentUsers.Keys)
            {
                <option value="@key">@Model.AssignmentUsers[key]</option>
            }
        </select>
        <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
    </div>
    <div id="accommodationTypesValues" class="case-assignment-hide">
        <select class="form-control case-assignment-rule-use-values" multiple="multiple" placeholder="Select Accommodation Types">
            @foreach (string key in Model.AccommodationTypes.Keys)
            {
                <option value="@key">@Model.AccommodationTypes[key]</option>
            }
        </select>
        <span class="field-validation-valid help-block" data-valmsg-replace="true"></span>
    </div>
}