﻿@model AbsenceSoft.Logic.ListResults

@using (Ajax.BeginForm("SaveRulesetOrder", new { customerId = Customer.Current.Id }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "SuccessMessage", OnFailure = "FailMessage" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" class="return-total" value="@Model.Total" />
    <div class="col-sm-12">
        @foreach (var item in Model.Results)
        {
            <div class="row row-hover">
                <a href="@Url.RouteUrl("CaseAssignmentRuleSetEdit", new { caseAssignmentRuleSetId = item.Get<string>("Id"), customerId = item.Get<string>("CustomerId") })">
                    @{
                        string name = item.Get<string>("Name");
                        string description = item.Get<string>("Description");
                        string code = item.Get<string>("Code");
                        string caseAssigneeTypeName = item.Get<string>("CaseAssigneeTypeName");
                        int CaseAssignmentRuleOrder = item.Get<int>("CaseAssignmentRuleOrder");
                    }

                    <div class="col-sm-2">
                        @name
                    </div>
                    <div class="col-sm-2">
                        @code
                    </div>
                    <div class="col-sm-2">
                        @(string.IsNullOrWhiteSpace(caseAssigneeTypeName) ? "(Primary Assignee)" : caseAssigneeTypeName)
                    </div>
                    <div class="col-sm-4">
                        @description
                    </div>

                </a>
                <div class="col-sm-2">
                    <input class="case-assignment-ruleset-changed" type="hidden" name="IsChanged" value="false" />
                    <input class="case-assignment-ruleset-code" type="hidden" name="Code" value="@code" />
                    <input class="case-assignment-ruleset-order" type="hidden" id="CaseAssignmentRuleOrder" name="CaseAssignmentRuleOrder" value="@CaseAssignmentRuleOrder" />
                    <button type="button" class="btn btn-default btn-edit btn-small-icon case-ruleset-move-up" title="Move Up"><span class="glyphicon glyphicon-chevron-up" title="Move Up"></span></button>
                    <button type="button" class="btn btn-default btn-edit btn-small-icon case-ruleset-move-down" title="Move Down"><span class="glyphicon glyphicon-chevron-down" title="Move Down"></span></button>
                </div>
            </div>
        }
        
    </div>
}