.bold {
  font-weight: bold;
}
.text-white {
  color: #ffffff;
}
.text-uppercase {
  text-transform: uppercase;
}
body {
  padding: 60px 0px;
  margin-bottom: 100px;
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
}
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}
.login-box {
  background: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 35px 20px;
  margin-top: 50px;
}
.login-box .btn-save {
  width: 100%;
}
.login-box .form-control {
  height: 60px;
  font-size: 16px;
  padding: 0 15px;
  border-radius: 0px;
  margin-top: -1px;
  color: #21a1c6;
}
.login-box .log-email {
  position: relative;
}
.login-box .log-email:after {
  content: "\f0e0";
  font-family: FontAwesome;
  position: absolute;
  font-size: 24px;
  top: 12px;
  right: 30px;
  color: #ff8300;
}
.login-box .log-pass {
  position: relative;
}
.login-box .log-pass:after {
  content: "\f084";
  font-family: FontAwesome;
  position: absolute;
  font-size: 24px;
  top: 12px;
  right: 30px;
  color: #ff8300;
}
.login-box label {
  position: absolute;
  color: #666666;
  text-transform: uppercase;
  top: 2px;
  left: 20px;
  font-size: 10px;
}
.login-box .log-errors span.field-validation-error:after {
  content: "";
}
.login-box .log-errors ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.login-box .log-errors span,
.login-box .log-errors li {
  color: #ff0000;
  font-size: 14px;
  display: block;
  background: #ffe5e5;
  padding: 2px 5px 2px 15px;
  margin: 5px 0px;
  position: relative;
}
.login-box .log-errors span:after,
.login-box .log-errors li:after {
  content: "\f071";
  font-family: FontAwesome;
  position: absolute;
  font-size: 16px;
  top: 2px;
  left: -7px;
  color: #ff0000;
}
.login-box .log-errors span:empty,
.login-box .log-errors li:empty {
  background: #ffffff;
}
.login-box .log-errors span:empty:after,
.login-box .log-errors li:empty:after {
  content: "";
  color: #ffffff;
}
.login-box .log-errors li {
  padding: 5px 5px 5px 40px;
}
.login-box .log-errors li:after {
  left: 10px;
  top: 30%;
}
.navbar-brand {
  position: relative;
  padding-left: 50px;
}
.navbar-brand:after {
  content: "\f015";
  font-family: FontAwesome;
  position: absolute;
  font-size: 24px;
  top: 15px;
  left: 15px;
  z-index: 1;
  transition: 500ms;
}
.navbar-brand:hover:after {
  font-size: 36px;
  left: 8px;
  transition: 500ms;
  color: #ff8300;
}
input[type="search"] {
  height: 40px;
  border: none;
  outline: #ffffff;
  width: 100%;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  position: relative;
  box-shadow: inset 2px 1px 3px 0px #999;
}
.input-group-addon {
  background: #ffffff;
  color: #ff8300;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  box-shadow: inset -2px 1px 3px 0px #999999;
}
.search-customer {
  background: #21a1c6;
  color: #ffffff;
  padding: 30px;
}
.search-customer h4 {
  color: #ffffff;
  margin: 0 0 10px;
}
.mt5 {
  margin-top: 5px;
  display: block;
}
.mt20 {
  margin-top: 20px;
}
.mtb20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn {
  border-radius: 0px;
  text-transform: uppercase;
}
.btn-save {
  background: #005472;
  color: #ffffff;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
}
.btn-save:hover,
.btn-save:active,
.btn-save:focus {
  background: #007aa5;
  color: #ffffff;
}
.form-control {
  height: 40px;
}
.navbar {
  background: #005472;
  box-shadow: 0px 1px 5px 0px #666666;
  padding-right: 10px;
}
.navbar a {
  color: #ffffff;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
  color: #f1f1f1;
}
.navbar .btn-nav {
  background: #007aa5;
  color: #ffffff;
  height: 40px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
}
.navbar .btn-nav:hover,
.navbar .btn-nav:focus,
.navbar .btn-nav:active {
  background: #009fd8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
}
.navbar .btn-nav i {
  padding-right: 7px;
}
.navbar .nav > li > a {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  background: #007aa5;
  height: 40px;
}
.navbar .nav .caret,
.navbar .nav a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar .nav-tabs > li.active > a,
.navbar .nav-tabs > li.active > a:hover,
.navbar .nav-tabs > li.active > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  background-color: #009fd8;
  height: 40px;
  margin: 5px;
  padding: 10px 20px;
}
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus {
  background-color: #009fd8;
}
.navbar .dropdown-menu {
  z-index: 1040;
}
.navbar .dropdown-menu > li > a {
  padding: 7px 20px;
}
.navbar .dropdown-menu > li > a:hover {
  background: #21a1c6;
}
.navbar .dropdown-menu i {
  margin-right: 10px;
}
.navbar .nav-user {
  color: #ffffff;
  text-transform: uppercase;
}
footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #262626;
  color: #ffffff;
  text-align: center;
  padding: 25px 0 10px;
  border-top: 10px solid #666666;
}
a {
  color: #21a1c6;
}
a:hover,
a:active,
a:focus {
  color: #ff8300;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #005472;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}
.customer-list ul {
  list-style: none;
  padding: 0px;
  margin-top: 20px;
}
.customer-list li {
  background: #ffffff;
  width: 33%;
  margin: 0px 0px;
  display: inline-block;
  border: 1px solid #f1f1f1;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  position: relative;
}
.customer-list li a {
  display: block;
  text-decoration: none;
}
.customer-list li:hover {
  background: #21a1c6;
  transition: ease 600ms;
  color: #ffffff;
}
.customer-list li:hover a {
  color: #ffffff;
  text-decoration: none;
}
.btn-customer {
  background: #333333;
  color: #ffffff;
  font-size: 16px;
}
.btn-customer:hover,
.btn-customer:focus,
.btn-customer:active {
  color: #ffffff;
  background: #ff9c33;
}
.btn-customer.active {
  background: #ff8300;
}
.btn-customer i {
  font-size: 24px;
  margin: 0 10px;
}
.btn-employer {
  background: #333333;
  color: #ffffff;
  font-size: 16px;
}
.btn-employer:hover,
.btn-employer:focus,
.btn-employer:active {
  color: #ffffff;
  background: #007aa5;
}
.btn-employer.active {
  background: #005472;
}
.btn-employer i {
  font-size: 24px;
  margin: 0 10px;
}
.customer-result:after {
  content: "\f19c";
  font-family: FontAwesome;
  position: absolute;
  font-size: 56px;
  color: #f1f1f1;
  top: 0px;
  left: -8%;
  z-index: 1;
  transition: 500ms;
}
.customer-result:hover:after {
  color: #ffffff;
  left: -5%;
  transition: 500ms;
}
.employer-result:after {
  content: "\f0f7";
  font-family: FontAwesome;
  position: absolute;
  font-size: 60px;
  color: #f1f1f1;
  top: 0px;
  left: -4%;
  z-index: 1;
  transition: 500ms;
}
.employer-result:hover:after {
  color: #ffffff;
  left: -1%;
  transition: 500ms;
}
.slideouts:after {
  font-family: FontAwesome;
  position: absolute;
  font-size: 60px;
  color: #f1f1f1;
  top: 0px;
  left: -2%;
  z-index: 1;
  transition: 500ms;
}
.slideouts:hover:after {
  color: #ffffff;
  left: 2%;
  transition: 500ms;
}
.templates:after {
  content: "\f115";
}
.policies:after {
  content: "\f085";
}
.workflows:after {
  content: "\f0e8";
}
.name-bar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 50px;
  height: 60px;
  background: #fff;
  padding: 15px;
  z-index: 1029;
  box-shadow: 0 0 4px 0px #333;
}
.name-bar h1 {
  margin: -5px 0px;
  display: inline-block;
}
.nav-tabs {
  border-bottom: none;
  margin-bottom: 20px;
  background: #666666;
}
.nav-tabs li {
  cursor: pointer;
}
.nav-tabs li a {
  color: #f1f1f1;
  border-radius: 0px;
  display: block;
  cursor: pointer;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
  color: #ffffff;
  background-color: #ff8300;
  border: none;
  cursor: pointer;
}
.customer-content {
  padding-top: 100px;
}
.paperwork-content {
  padding: 1px 15px 15px;
  background: #ffffff;
}
.paperwork-content .form-control {
  background: #f1f1f1;
  box-shadow: none;
  border: none;
}
.paperwork-content .btn-new,
.paperwork-content .btn-delete {
  margin-top: 20px;
}
.h100 {
  height: 100px;
}
.check-list {
  background: #ffffff;
  padding: 10px 10px 5px;
  margin: 5px 0px;
  width: 100%;
  height: 40px;
}
.check-list:hover {
  background: #e4e4e4;
  cursor: pointer;
}
.check-list input[type="checkbox"] {
  margin-right: 5px;
}
.user-returns {
  background: #ffffff;
  padding: 5px 0px;
  margin: 5px 0px;
}
.user-returns:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.user-thead .form-control {
  height: 30px;
  margin-bottom: 10px;
}
.user-last {
  text-indent: 5px;
}
.user-lock {
  text-indent: 15px;
}
.modal-body strong {
  color: #ff8300;
  font-size: 16px;
}
.user-scroll {
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 -10px 0 0;
}
.btn-commup {
  margin-top: 26px;
  height: 40px;
  line-height: 30px;
  background: #21a1c6;
  color: #ffffff;
  border: none;
}
.btn-commup:hover,
.btn-commup:active,
.btn-commup:focus {
  background: #3cbade;
  color: #ffffff;
  text-decoration: none;
}
a.return-link {
  padding-left: 17px;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
}
a.return-link:after {
  content: "\f177";
  font-family: FontAwesome;
  position: absolute;
  font-size: 12px;
  top: 0px;
  left: 0%;
  z-index: 1;
}
.btn-new {
  background: #7ed321;
  border: none;
  padding-left: 30px;
  height: 40px;
  line-height: 30px;
  color: #ffffff;
  width: 100%;
  position: relative;
}
.btn-new:focus,
.btn-new:hover,
.btn-new:active {
  color: #ffffff;
  background: #97e245;
}
.btn-new:after {
  content: "\f055";
  font-family: FontAwesome;
  position: absolute;
  font-size: 24px;
  top: 5px;
  left: 15px;
  z-index: 1;
}
.btn-delete {
  height: 40px;
  line-height: 30px;
  width: 100%;
  text-align: right;
}
.btn-delete:after {
  content: "\f014";
  font-family: FontAwesome;
  position: absolute;
  font-size: 20px;
  top: 25px;
  left: 23px;
  z-index: 1;
}
.user-unlocked i {
  font-size: 100px;
  margin: 0 20px 0 0;
  float: left;
  color: #ff8300;
}
.user-unlocked h3 {
  display: inline-block;
}
.user-unlocked p {
  text-transform: uppercase;
  font-size: 14px;
  color: #005472;
}
.perm-editor .well {
  min-height: 20px;
  padding: 10px 15px;
  margin-bottom: 30px;
  background-color: #21a1c6;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.perm-editor .well h4 {
  color: #ffffff;
  margin: -15px -15px 10px;
  background: #1a7d9a;
  padding: 10px;
}
.perm-editor .well .check-list {
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}
.perm-editor .well .check-list:hover {
  background: rgba(255, 255, 255, 0.4);
}
.name-box {
  background: #005472;
  padding: 20px;
  margin: 0px 0px 20px;
}
.name-box label {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
.password-rules {
  margin-bottom: -50px;
}
/*Billing Report Styles Start*/
.bill_report {
  background-color: #ffffff;
}
.bill_report h3,
.bill_report h4 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}
.bill_report h3 {
  display: inline-block;
}
.bill_report input,
.bill_report select {
  background: #f1f1f1;
}
.bill_report hr {
  background: #f1f1f1;
  height: 1px;
  margin: 40px 0;
}
.bill_report .title {
  margin-left: 15px;
  margin-bottom: 20px;
}
.bill_report .border_right {
  border-right: 1px solid #f1f1f1;
}
.bill_report .date_range_ddl {
  width: 160px;
}
.bill_report .date_range {
  width: 430px;
}
.bill_report .date_range input {
  max-width: 165px;
  display: inline-block;
}
.bill_report .date_range span {
  padding: 0 5px;
  font-size: 16px;
}
.bill_report .div_bill_report .download_bill_report {
  float: right;
  margin-top: 15px;
  background: #21a1c6;
  border: 1px solid #21a1c6;
  color: #ffffff;
  border-radius: 0px;
  width: 180px;
  text-transform: uppercase;
  border-radius: 4px;
}
.bill_report .div_bill_report .table {
  border: 2px solid #f1f1f1;
  margin-top: 10px;
  font-size: 14px;
}
.bill_report .div_bill_report .table thead th {
  border: 0px;
  background: #333333;
  color: #ffffff;
  font-weight: normal;
}
.bill_report .div_bill_report .table tbody td {
  border: 0px;
}
.bill_report .div_bill_report .table td {
  background: #ffffff;
}
.bill_report .div_bill_report .table td.odd {
  background: #f1f1f1;
}
.bill_report .div_bill_report #myModal .modal-footer,
.bill_report .div_bill_report #myModal .modal-header {
  border: none;
}
.bill_report .btn_run_report {
  background: #005472;
  color: #ffffff;
  width: 150px;
  border: 1px solid #005472;
  border-radius: 4px;
  margin-left: 35px;
}
.bill_report .btn_schedule_report {
  background: #ffffff;
  color: #005472;
  border: 1px solid #005472;
  border-radius: 4px;
  display: none;
}
.bill_report #billrpt_no_data,
.bill_report #billrpt_loading_msg {
  color: #333333;
  padding-top: 20px;
  padding-bottom: 20px;
}
/*Billing Report Styles End*/
