﻿//COLORS//
@primary: #005472;
@secondary: #21A1C6;
@third: #FF8300;
@litegray: #F1F1F1;
@gray: #666;
@graydark: #333;
@white: #FFF;
@green: #7ED321;
@red: #ff0000;

//FONTS//
@PrimaryFont: 'Open Sans', sans-serif;
@SecondaryFont: 'Oswald', sans-serif;

.bold {
    font-weight: bold;
}

.text-white {
    color: @white;
}

.text-uppercase {
    text-transform: uppercase;
}

body {
    padding: 60px 0px;
    margin-bottom: 100px;
    background: @litegray;
    font-family: @PrimaryFont;
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

.login-box {
    background: @white;
    border: none;
    border-radius: 10px;
    padding: 35px 20px;
    margin-top: 50px;

    .btn-save {
        width: 100%;
    }

    .form-control {
        height: 60px;
        font-size: 16px;
        padding: 0 15px;
        border-radius: 0px;
        margin-top: -1px;
        color: @secondary;
    }

    .log-email {
        position: relative;

        &:after {
            content: "\f0e0";
            font-family: FontAwesome;
            position: absolute;
            font-size: 24px;
            top: 12px;
            right: 30px;
            color: @third;
        }
    }

    .log-pass {
        position: relative;

        &:after {
            content: "\f084";
            font-family: FontAwesome;
            position: absolute;
            font-size: 24px;
            top: 12px;
            right: 30px;
            color: @third;
        }
    }

    label {
        position: absolute;
        color: @gray;
        text-transform: uppercase;
        top: 2px;
        left: 20px;
        font-size: 10px;
    }

    .log-errors {
        span.field-validation-error {
            &:after {
                content: "";
            }
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
        }

        span, li {
            color: @red;
            font-size: 14px;
            display: block;
            background: lighten(@red, 45%);
            padding: 2px 5px 2px 15px;
            margin: 5px 0px;
            position: relative;

            &:after {
                content: "\f071";
                font-family: FontAwesome;
                position: absolute;
                font-size: 16px;
                top: 2px;
                left: -7px;
                color: @red;
            }

            &:empty {
                background: @white;

                &:after {
                    content: "";
                    color: @white;
                }
            }
        }

        li {
            padding: 5px 5px 5px 40px;

            &:after {
                left: 10px;
                top: 30%;
            }
        }
    }
}

.navbar-brand {
    position: relative;
    padding-left: 50px;

    &:after {
        content: "\f015";
        font-family: FontAwesome;
        position: absolute;
        font-size: 24px;
        top: 15px;
        left: 15px;
        z-index: 1;
        transition: 500ms;
    }

    &:hover {

        &:after {
            font-size: 36px;
            left: 8px;
            transition: 500ms;
            color: @third;
        }
    }
}


input[type="search"] {
    height: 40px;
    border: none;
    outline: @white;
    width: 100%;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    position: relative;
    box-shadow: inset 2px 1px 3px 0px #999;
}

.input-group-addon {
    background: @white;
    color: @third;
    border: none;
    border-radius: 0 10px 10px 0;
    font-size: 20px;
    box-shadow: inset -2px 1px 3px 0px #999;
}


.search-customer {
    background: @secondary;
    color: @white;
    padding: 30px;

    h4 {
        color: @white;
        margin: 0 0 10px;
    }
}

.mt5 {
    margin-top: 5px;
    display: block;
}

.mt20 {
    margin-top: 20px;
}

.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}


.btn {
    border-radius: 0px;
    text-transform: uppercase;
}

.btn-save {
    background: @primary;
    color: @white;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;

    &:hover, &:active, &:focus {
        background: lighten(@primary, 10%);
        color: @white;
    }
}

.form-control {
    height: 40px;
}


.navbar {
    background: @primary;
    box-shadow: 0px 1px 5px 0px @gray;
    padding-right: 10px;

    a {
        color: @white;

        &:hover, &:active, &:focus {
            color: @litegray;
        }
    }

    .btn-nav {
        background: lighten(@primary, 10%);
        color: @white;
        height: 40px;
        padding: 10px 20px;
        margin: 5px;
        border: none;

        &:hover, &:focus, &:active {
            background: lighten(@primary, 20%);
            color: @white;
            border: none;
            padding: 10px 20px;
        }


        i {
            padding-right: 7px;
        }
    }

    .nav > li > a {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        background: lighten(@primary, 10%);
        height: 40px;
    }


    .nav .caret, .nav a:hover .caret {
        border-top-color: @white;
        border-bottom-color: @white;
    }


    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav > li > a:hover, .nav > li > a:focus {
        background-color: lighten(@primary, 20%);
        height: 40px;
        margin: 5px;
        padding: 10px 20px;
    }

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: lighten(@primary, 20%);
    }

    .dropdown-menu {
        z-index: 1040;
    }

    .dropdown-menu > li > a {
        padding: 7px 20px;

        &:hover {
            background: @secondary;
        }
    }

    .dropdown-menu {
        i {
            margin-right: 10px;
        }
    }

    .nav-user {
        color: @white;
        text-transform: uppercase;
    }
}



footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: darken(@graydark, 5%);
    color: @white;
    text-align: center;
    padding: 25px 0 10px;
    border-top: 10px solid @gray;
}

a {
    color: @secondary;

    &:hover, &:active, &:focus {
        color: @third;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: @primary;
    text-transform: uppercase;
    font-family: @SecondaryFont;
}


.customer-list {
    ul {
        list-style: none;
        padding: 0px;
        margin-top: 20px;
    }

    li {
        background: @white;
        width: 33%;
        margin: 0px 0px;
        display: inline-block;
        border: 1px solid @litegray;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-weight: bold;
        overflow: hidden;
        position: relative;

        a {
            display: block;
            text-decoration: none;
        }

        &:hover {
            background: @secondary;
            transition: ease 600ms;
            color: @white;

            a {
                color: @white;
                text-decoration: none;
            }
        }
    }
}

.btn-customer {
    background: @graydark;
    color: @white;
    font-size: 16px;

    &:hover, &:focus, &:active {
        color: @white;
        background: lighten(@third,10%);
    }

    &.active {
        background: @third;
    }

    i {
        font-size: 24px;
        margin: 0 10px;
    }
}

.btn-employer {
    background: @graydark;
    color: @white;
    font-size: 16px;

    &:hover, &:focus, &:active {
        color: @white;
        background: lighten(@primary,10%);
    }

    &.active {
        background: @primary;
    }

    i {
        font-size: 24px;
        margin: 0 10px;
    }
}

.customer-result {

    &:after {
        content: "\f19c";
        font-family: FontAwesome;
        position: absolute;
        font-size: 56px;
        color: @litegray;
        top: 0px;
        left: -8%;
        z-index: 1;
        transition: 500ms;
    }

    &:hover {
        &:after {
            color: @white;
            left: -5%;
            transition: 500ms;
        }
    }
}

.employer-result {

    &:after {
        content: "\f0f7";
        font-family: FontAwesome;
        position: absolute;
        font-size: 60px;
        color: @litegray;
        top: 0px;
        left: -4%;
        z-index: 1;
        transition: 500ms;
    }

    &:hover {
        &:after {
            color: @white;
            left: -1%;
            transition: 500ms;
        }
    }
}

.slideouts {
    &:after {
        font-family: FontAwesome;
        position: absolute;
        font-size: 60px;
        color: @litegray;
        top: 0px;
        left: -2%;
        z-index: 1;
        transition: 500ms;
    }

    &:hover {
        &:after {
            color: @white;
            left: 2%;
            transition: 500ms;
        }
    }
}

.templates {
    &:after {
        content: "\f115";
    }
}

.policies {
    &:after {
        content: "\f085";
    }
}

.workflows {
    &:after {
        content: "\f0e8";
    }
}

.name-bar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 50px;
    height: 60px;
    background: #fff;
    padding: 15px;
    z-index: 1029;
    box-shadow: 0 0 4px 0px #333;

    h1 {
        margin: -5px 0px;
        display: inline-block;
    }
}

.nav-tabs {
    border-bottom: none;
    margin-bottom: 20px;
    background: @gray;

    li {
        cursor: pointer;

        a {
            color: @litegray;
            border-radius: 0px;
            display: block;
            cursor: pointer;
        }
    }
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav > li > a:hover, .nav > li > a:focus {
    color: @white;
    background-color: @third;
    border: none;
    cursor: pointer;
}

.customer-content {
    padding-top: 100px;
}

.paperwork-content {
    padding: 1px 15px 15px;
    background: @white;

    .form-control {
        background: @litegray;
        box-shadow: none;
        border: none;
    }

    .btn-new, .btn-delete {
        margin-top: 20px;
    }
}

.h100 {
    height: 100px;
}

.check-list {
    background: @white;
    padding: 10px 10px 5px;
    margin: 5px 0px;
    width: 100%;
    height: 40px;

    &:hover {
        background: darken(@litegray, 5%);
        cursor: pointer;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }
}

.user-returns {
    background: @white;
    padding: 5px 0px;
    margin: 5px 0px;

    &:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
}

.user-thead {
    .form-control {
        height: 30px;
        margin-bottom: 10px;
    }
}

.user-last {
    text-indent: 5px;
}

.user-lock {
    text-indent: 15px;
}

.modal-body {
    strong {
        color: @third;
        font-size: 16px;
    }
}

.user-scroll {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 -10px 0 0;
}

.btn-commup {
    margin-top: 26px;
    height: 40px;
    line-height: 30px;
    background: @secondary;
    color: @white;
    border: none;

    &:hover, &:active, &:focus {
        background: lighten(@secondary,10%);
        color: @white;
        text-decoration: none;
    }
}

a.return-link {
    padding-left: 17px;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;

    &:after {
        content: "\f177";
        font-family: FontAwesome;
        position: absolute;
        font-size: 12px;
        top: 0px;
        left: 0%;
        z-index: 1;
    }
}

.btn-new {
    background: @green;
    border: none;
    padding-left: 30px;
    height: 40px;
    line-height: 30px;
    color: @white;
    width: 100%;
    position: relative;

    &:focus, &:hover, &:active {
        color: @white;
        background: lighten(@green, 10%);
    }

    &:after {
        content: "\f055";
        font-family: FontAwesome;
        position: absolute;
        font-size: 24px;
        top: 5px;
        left: 15px;
        z-index: 1;
    }
}

.btn-delete {
    height: 40px;
    line-height: 30px;
    width: 100%;
    text-align: right;

    &:after {
        content: "\f014";
        font-family: FontAwesome;
        position: absolute;
        font-size: 20px;
        top: 25px;
        left: 23px;
        z-index: 1;
    }
}

.user-unlocked {
    i {
        font-size: 100px;
        margin: 0 20px 0 0;
        float: left;
        color: @third;
    }

    h3 {
        display: inline-block;
    }

    p {
        text-transform: uppercase;
        font-size: 14px;
        color: @primary;
    }
}

.perm-editor {
    .well {
        min-height: 20px;
        padding: 10px 15px;
        margin-bottom: 30px;
        background-color: @secondary;
        color: @white;
        border: none;
        border-radius: 0px;
        box-shadow: none;

        h4 {
            color: @white;
            margin: -15px -15px 10px;
            background: darken(@secondary, 10%);
            padding: 10px;
        }

        .check-list {
            background: fade(@white, 20%);
            font-weight: bold;


            &:hover {
                background: fade(@white, 40%);
            }
        }
    }
}

.name-box {
    background: @primary;
    padding: 20px;
    margin: 0px 0px 20px;

    label {
        color: @white;
        text-transform: uppercase;
        font-size: 16px;
        font-family: @SecondaryFont;
    }
}

.password-rules {
    margin-bottom: -50px;
}

/*Billing Report Styles Start*/

.bill_report {
    background-color: @white;

    h3, h4 {
        text-transform: uppercase;
        font-family: @PrimaryFont;
        color: @graydark;
    }

    h3 {
        display: inline-block;
    }

    input, select {
        background: @litegray;
    }

    hr {
        background: @litegray;
        height: 1px;
        margin: 40px 0;
    }

    .title {
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .border_right {
        border-right: 1px solid @litegray;
    }

    .date_range_ddl {
        width: 160px;
    }

    .date_range {
        width: 430px;

        input {
            max-width: 165px;
            display: inline-block;
        }

        span {
            padding: 0 5px;
            font-size: 16px;
        }
    }


    .div_bill_report {
        .download_bill_report {
            float: right;
            margin-top: 15px;
            background: @secondary;
            border: 1px solid @secondary;
            color: @white;
            border-radius: 0px;
            width: 180px;
            text-transform: uppercase;
            border-radius: 4px;
        }

        .table {
            border: 2px solid @litegray;
            margin-top: 10px;
            font-size: 14px;

            thead th {
                border: 0px;
                background: @graydark;
                color: @white;
                font-weight: normal;
            }

            tbody td {
                border: 0px;
            }

            td {
                background: @white;
            }

            td.odd {
                background: @litegray;
            }
        }

        #myModal .modal-footer,
        #myModal .modal-header {
            border: none;
        }
    }

    .btn_run_report {
        background: @primary;
        color: @white;
        width: 150px;
        border: 1px solid @primary;
        border-radius: 4px;
        margin-left: 35px;
    }

    .btn_schedule_report {
        background: @white;
        color: @primary;
        border: 1px solid @primary;
        border-radius: 4px;
        display: none;
    }

    #billrpt_no_data, #billrpt_loading_msg {
        color: @graydark;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

/*Billing Report Styles End*/