﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Policy Configuration Report</title>
    <style type="text/css">
        body { font-family: 'Times New Roman', Times, serif; font-size: 9pt; }
        p { margin: 6px 0; }
        h1, h2, h3, h4, h5, h6 { margin: 6px 0 0 0; }
        h1 { margin-bottom: 6px; font-size: 16pt; }
        h2 { font-size: 14pt; border-bottom: solid 1px #000; margin-bottom: 6px; }
        h3 { font-size: 12pt; }
        h4 { font-size: 11pt; }
        h5 { font-size: 10pt; }
        h6 { font-size: 9pt; }
        ul { margin: 6px 0; padding-left: 30px; }
    </style>
</head>
<body>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%;">
        <tr>
            <td>
                <h1>AbsenceTracker &trade;</h1>
                <i>&copy; {{Year}} - AbsenceSoft LLC</i>
                <hr />
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size:12pt;padding:12px;">Company Confidential Information - To Be Read By Authorized Parties Only: The information in this document is confidential, proprietary, or 
                privileged and may be subject to protection under the law, including the Electronic Communications Protection Act and the Health 
                Insurance Portability and Accountability Act. This document is intended for the sole use of the individual or entity to which explicit permission has been granted. 
                You are hereby notified that any unauthorized use, distribution, or copying of this document is strictly prohibited and may 
                subject you to criminal or civil penalties.</p>
                <hr />
            </td>
        </tr>
        <tr>
            <td valign="middle" align="center" style="width:100%;" width="100%">
                <span style="font-size:16pt;font-weight:600;">Policy Configuration Audit Report</span>
                <hr />
            </td>
        </tr>
        <tr>
            <td><div style="height:8px;"></div></td>
        </tr>
        <tr>
            <td valign="middle" align="center" style="width:100%;font-size:8pt;font-style:italic;" width="100%">Generated on {{ReportDate}}</td>
        </tr>
        <tr>
            <td><div style="height:20px;"></div></td>
        </tr>
        <tr>
            <td valign="middle" align="center" style="width:100%;" width="100%">
                <div style="text-align:left; width:600px;">
                    <h2>Table of Contents</h2>
                    <table>
                        <thead>
                            <tr>
                                <th style="width:550px;text-align:left;">Policy</th>
                                <th style="width:100px;text-align:left;white-space:nowrap;text-wrap:none;">Page(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each ToC}}
                            <tr>
                                <td style="width:550px;text-align:left;">{{Item1}}</td>
                                <td style="width:100px;text-align:left;white-space:nowrap;text-wrap:none;">{{#eq Item2 Item3}}{{Item2}}{{#else}}{{Item2}} - {{Item3}}{{/eq}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>