﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Policy Configuration Audit Report: {{Name}} - {{Code}}</title>
    <style type="text/css">
        body { font-family: 'Times New Roman', Times, serif; font-size: 9pt; }
        p { margin: 6px 0; }
        h1, h2, h3, h4, h5, h6 { margin: 12px 0 0 0; }
        h1 { margin-bottom: 6px; font-size: 16pt; }
        h2 { font-size: 14pt; }
        h3 { font-size: 12pt; }
        h4 { font-size: 11pt; }
        h5 { font-size: 10pt; }
        h6 { font-size: 9pt; }
        ul { margin: 6px 0; padding-left: 30px; }
    </style>
</head>
<body>
    <h1>{{Name}} - {{Code}}</h1>
    <br />
    <hr />
    {{#if Description}}<p>{{Description}}</p>{{/if}}
    <p>Effective as of {{EffectiveDate}}; this {{PolicyType}} policy is a {{#if IsCustom}}custom{{#else}}core{{/if}} policy. {{Restrictions}}</p>
    {{#if ConsecutiveTo}}<p>This policy runs consecutive to the following: {{ConsecutiveTo}}</p>{{/if}}
    {{#if SupplementalTo}}<p>This policy is supplimental to the following when paid: {{SupplementalTo}}</p>{{/if}}

    {{#if HasSelectionRules}}
    <h3>Global Selection Rules</h3>
    <p>Regardless of reason, the following groups of rules will be applied to determine whether this policy should be further considered for eligibility. Selection rules ensure we only consider appropriate policies that meet a minimum set of criteria but never actually get displayed to any end user; they simply <i>filter</i> policies before eligibility is evaluated.</p>
    {{#each SelectionRules}}
    <h4>{{Name}}</h4>
    {{#if Description}}<p>{{Description}}</p>{{/if}}
    <p>{{Summary}}</p>
    {{#if HasRules}}<ul>{{#each Rules}}<li>{{Text}}</li>{{/each}}</ul>{{/if}}
    {{/each}}
    {{/if}}

    {{#if HasEligibilityRules}}
    <h3>Global Eligibility Rules</h3>
    <p>Regardless of reason, the following groups of rules will be used to determine eligibility for this policy. <strong>All</strong> rule groups must be satisfied in order for eligibility to be granted to the employee.</p>
    {{#each EligibilityRules}}
    <h4>{{Name}}</h4>
    {{#if Description}}<p>{{Description}}</p>{{/if}}
    <p>{{Summary}}</p>
    {{#if HasRules}}<ul>{{#each Rules}}<li>{{Text}}</li>{{/each}}</ul>{{/if}}
    {{/each}}
    {{/if}}

    {{#if HasReasons}}
    <p>This policy is configured for the following reasons where each reason specifies it's own entitlement, periods, pay, rules, etc.</p>
    {{#each Reasons}}
    <h2>{{ReasonName}} ({{ReasonCode}})</h2>
    <p>{{Summary}}</p>

    {{#if HasSelectionRules}}
    <h3>Selection Rules</h3>
    <p>In addition to the global selection rules for this policy, for the reason of <i>{{ReasonName}}</i> the following selection criteria will also be evaluated.</p>
    {{#each SelectionRules}}
    <h4>{{Name}}</h4>
    {{#if Description}}<p>{{Description}}</p>{{/if}}
    <p>{{Summary}}</p>
    {{#if HasRules}}<ul>{{#each Rules}}<li>{{Text}}</li>{{/each}}</ul>{{/if}}
    {{/each}}
    {{/if}}

    {{#if HasEligibilityRules}}
    <h3>Eligibility Rules</h3>
    <p>In addition to the global eligibility rules for this policy, for the reason of <i>{{ReasonName}}</i> the following eligibliity criteria will also be evaluated.</p>
    {{#each EligibilityRules}}
    <h4>{{Name}}</h4>
    {{#if Description}}<p>{{Description}}</p>{{/if}}
    <p>{{Summary}}</p>
    {{#if HasRules}}<ul>{{#each Rules}}<li>{{Text}}</li>{{/each}}</ul>{{/if}}
    {{/each}}
    {{/if}}
    
    {{#if HasTimeRules}}
    <h3>Entitlement Rules</h3>
    <p>The following sets of rules will adjust the total entitlement an employee gets based on the rule criteria and greater of the configured entitlement for this reason, OR, what's configured below, whichever is greater. This is generally used for negotiated contracts with unions or differences in policies by location, etc.</p>
    {{#each TimeRules}}
    <h4>{{Name}}</h4>
    {{#if Description}}<p>{{Description}}</p>{{/if}}
    <p>{{Summary}}</p>
    {{#if HasRules}}<ul>{{#each Rules}}<li>{{Text}}</li>{{/each}}</ul>{{/if}}
    {{/each}}
    {{/if}}

    {{#if HasPaymentRules}}
    <h3>Payment Rules</h3>
    <p>The following rules override the paid portion of the policy if all groups pass.</p>
    {{#each PaymentRules}}
    <h4>{{Name}}</h4>
    {{#if Description}}<p>{{Description}}</p>{{/if}}
    <p>{{Summary}}</p>
    {{#if HasRules}}<ul>{{#each Rules}}<li>{{Text}}</li>{{/each}}</ul>{{/if}}
    {{/each}}
    {{/if}}

    {{/each}}
    {{/if}}
</body>
</html>