﻿@model AbsenceSoft.Models.OshaApi.OshaApiTokenViewModel

@using (Ajax.BeginForm("Save", new { employerId = Model.EmployerId }, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "editToken",
    OnSuccess = "AbsenceSoft.PageStart('#editOshaApiTokenForm')",
    InsertionMode = InsertionMode.Replace
}, new { id = "editOshaApiTokenForm" }))
{
<div id="editToken">
    <h2>OSHA API token (Bearer) for <span class="customer-name">@Current.Employer().Name</span></h2>
    <hr />

            @if (Model.Saved)
            {
                <div class="row">
                    <div class="col-xs-12">
                        Token saved Successfully.
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-xs-12">

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @Html.EditorFor(model => model.ApiToken)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 pull-right">
                    <button type="submit" id="btnSaveToken" class="btn btn-primary">Save Token</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    Regarding OSHA API bearer tokens see the OSHA API documentation, <a href="@Url.Content("~/content/osha_ita_api_documentation.pdf")" target="_blank">Click here</a>
                </div>
            </div>
</div>
        }
