﻿@model AbsenceSoft.Models.Search.SearchViewModel
@using System.Text.RegularExpressions

@{
    Layout = "~/Views/Shared/_FullWidthLayout.cshtml";
}

<div class="as_advance_search">
    <div class="as_search_filter" id="searchBoxFilter">
        <div class="as_filter_box" id="asFilterBox">
            <div class="advanced">
                Refine Search
            </div>
            <div class="form-group">
                <h5 class="sub_title">
                    EMPLOYER
                    <a id="as_unselect" class="as_select_unselect_all">Unselect All</a>
                </h5>
                <div id="employersList">
                    @foreach (var employer in Model.FacetResults.Where(e => e.Employer != null).Select(e => e.Employer).Distinct())
                    {
                        <div class="checkbox as_chk">
                            <input type="checkbox" id="@Regex.Replace(employer,"[^a-zA-Z0-9_]+","").ToLower()" value="@employer" class="checkboxlst" checked />
                            <label for="@Regex.Replace(employer,"[^a-zA-Z0-9_]+","").ToLower()"><span></span> @employer </label>
                        </div>
                    }
                </div>
            </div>
            <div class="form-group">
                <h5 class="sub_title">LAST NAME</h5>
                <div class="as_lastname">
                    <input type="text" id="txtLastName" placeholder="Enter name here..." class="form-control as_textalign" />
                    <span class="as_clearable"></span>
                </div>
            </div>
            <div class="form-group as_birth_date">
                <h5 class="sub_title"> DATE OF BIRTH</h5>
                <div class='input-group date' id='datepickerDOB'>
                    <input class="form-control" data-val="true" data-val-date="The field Date Of Birth must be a date."
                           id="txtDOB" name="txtDOB" type="text" placeholder="MM/DD/YYYY" tabindex="-1" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="as_search_result">
        <div id="divSearchResult" class="as_emp_result">
            <div id="as_load_screen">
                <div id="as_loading">
                    <span class="fa fa-spin fa-spinner" aria-hidden="true"></span>
                </div>
            </div>
            <div class="as_header_emp_result">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Search Results | <span class="search_term"> @Model.SearchText </span></h1>
                    </div>

                    <div class="col-sm-6 found_result">
                        <span id="searchcount" class="count"> @Model.SearchCount </span> results were found.
                    </div>

                    <div class="col-sm-6 sort_by">
                        <span> SORT BY: </span>
                        <select class="form-control select" id="as_sortddl">
                            <option value="relevance">Relevance</option>
                            <option value="ln">Last Name</option>
                            <option value="fn">First Name</option>
                            <option value="cn" selected>Case Number</option>
                            <option value="em">Employer</option>
                        </select>
                    </div>
                </div>
            </div>
            <input type="hidden" id="page" value="1" />
            <input type="hidden" id="as_searchCount" value="0" />

            <div id="searchList">
                @Html.Partial("SearchList", Model)
            </div>

            <div id="noSearches" class="hide">
                <div class="row bg-white teal-dark text-center">
                    <div class="col-xs-12">
                        <h4>There are no more search result to view.</h4>
                    </div>
                </div>
                <p></p>
            </div>

            <div id="loadMoreSearches" class="col-xs-12 hide">
                <div class="row at-load">
                    <h3>
                        <span class="fa fa-chevron-down"></span>
                        Load More Search Results
                        <span class="fa fa-chevron-down"></span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>