﻿@model AbsenceSoft.Logic.Customers.SearchResult
@using AbsenceSoft.Logic.Common
@using System.Text.RegularExpressions

@{
    var regex = new Regex(Model.SearchText, RegexOptions.IgnoreCase);
    var evaluateTitle = new MatchEvaluator(match => RegexEvaluators.Wrap(match, Model.Title, "<span class='mark_searchTerm'>{0}</span>", exactMatch: false));
    var evaluateDescription = new MatchEvaluator(match => RegexEvaluators.Wrap(match, Model.Description, "<span class='mark_searchTerm'>{0}</span>", exactMatch: false));
    var dob = Model.DOB.HasValue ? Model.DOB.Value.ToString("MM/dd/yyyy") : string.Empty;
    <div class="row" em="@Regex.Replace(Model.Employer == null ? "" : Model.Employer,"[^a-zA-Z0-9_]+","").ToLower()"
            ln="@Model.LastName.ToLower()"
            db='@dob.Replace("/","")'>
        @if (Model.CaseNumber != "NA")
        {
            <div class="col-xs-12">
                <div class="as_case_employee">
                    <div class="col-sm-11">
                        <div class="as_emp_info">
                            <h2 class="case_title">
                                <a href="@Model.Url">
                                    @Html.Raw(regex.Replace(Model.Title, evaluateTitle))
                                </a>
                            </h2>
                            <p>
                                @Html.Raw(regex.Replace(Model.Description, evaluateDescription))
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <a href="@Model.Url"><i class="hidden-sm hidden-xs fa fa-chevron-right as_right_arrow" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-xs-12">
                <div class="as_employee_row">
                    <div class="col-sm-11">
                        <div class="as_emp_info">
                            <a href="@Model.Url">
                                @Html.Raw(regex.Replace(Model.Title, evaluateTitle))
                            </a>
                            <p>
                                @Html.Raw(regex.Replace(Model.Description, evaluateDescription))
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <a href="@Model.Url"><i class="hidden-sm hidden-xs fa fa-chevron-right as_right_arrow" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
}