﻿@model  AbsenceSoft.Models.Employees.EmployeeViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-7">
                        Employee : <a href="@Url.RouteUrl("ViewEmployee", new { employeeId = Model.Id})"> @Model.FirstName @Model.LastName </a>  <br />
                        <div>Employer : @Model.EmployerName</div>
                    </div>
                    <div class="col-sm-5">
                        <div>Employee ID : @Model.EmployeeNumber</div>
                        <div>Hire Date: @Model.HireDate.ToString("MM/dd/yyyy")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bulk-download-for-employee" ng-controller="BulkDownloadsForEmployeeCtrl" ng-init="InitBulkDownloadsForEmployee('@Model.Id')">
    <div class="row row-offset">
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content-section">
                        <div class="row">
                            <h5><strong>Bulk Download Requests</strong></h5>
                            <span class="fa fa-download fa-4x"></span>
                        </div>
                        <div class="row mt12">
                            <div class="col-xs-12">
                                <button id="zipDownload" ng-click="BulkDownloadCases(caseExportFormat.Zip)"  class="btn btn-primary btn-block">Queue ZIP Download</button>
                            </div>
                            <div class="col-xs-12">
                                <button id="pdfDownload" ng-click="BulkDownloadCases(caseExportFormat.Pdf)" class="btn btn-primary btn-block">Queue PDF Download*</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="border col-sm-12">
                    <div class="row row-header">
                        <div class="col-sm-1">
                            <input type="checkbox" id="selectAllCases" name="selectAllCases" ng-model="selectAllCases" ng-click="SelectAllCases($event)">
                        </div>
                        <div class="col-sm-2">
                            Case ID
                        </div>
                        <div class="col-sm-3">
                            Reason
                        </div>
                        <div class="col-sm-2">
                            Date Start
                        </div>
                        <div class="col-sm-2">
                            Date End
                        </div>
                        <div class="col-sm-1">
                            Status
                        </div>
                    </div>
                    <div class="row scroll bulk-download-cases">
                        <div class="row" ng-repeat="case in employeeCases">
                            <div class="center col-sm-1">
                                <input type="checkbox" id="chkCase_{{$index}}" name="chkCase_{{$index}}" ng-model="case.IsChecked" ng-click="CheckAllSelected($index, $event)">
                            </div>
                            <div class="col-sm-2">
                                <a href="/cases/{{case.CaseId}}/view">{{case.CaseNumber}}</a>
                            </div>
                            <div class="col-sm-3">
                                {{case.Reason}}
                            </div>
                            <div class="col-sm-2">
                                {{case.StartDate | ToDate | date: 'MM/dd/yyyy'}}
                            </div>
                            <div class="col-sm-2">
                                {{case.EndDate | ToDate | date: 'MM/dd/yyyy'}}
                            </div>
                            <div class="col-sm-1">
                                {{case.Status}}
                            </div>
                        </div>
                    </div>
                </div>
                <span ng-if="employeeCases.length <= 0">
                    No cases on record.
                </span>
            </div>
        </div>
    </div>
    <div class="row row-offset">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">            
            <div class="row row-header top-row-style bottom-row-style">
                <div class="col-sm-4">
                    Created Date
                    <span class="fa fa-chevron-down"></span>
                </div>
                <div class="col-sm-4">
                    Export Type
                </div>
                <div class="col-sm-4">
                    Status
                </div>
            </div>
            <div class="row scroll">
                <div class="col-sm-12" ng-repeat="caseStatus in casesBulkDownloadStatus">
                    <div class="row bulk-download-row">
                        <div class="col-sm-4">
                            {{caseStatus.cdt | date:'MM/dd/yyyy hh:mm:ss'}}
                        </div>
                        <div class=" col-sm-4 pf">
                            {{GetCaseExportFormat(caseStatus.DownloadType)}}
                        </div>
                        <div class="col-sm-4 bulk-download-status">
                            {{GetCaseExportProcessingStatus(caseStatus.Status)}}
                            <a id="aNewPdfDownload" ng-if="(caseStatus.Status === caseExportProcessingStatus.Complete) && AbsenceSoft.hasStringValue(caseStatus.DocumentId)" href="/documents/{{caseStatus.DocumentId}}/download">
                                <span class="fa fa-download"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-offset-sm">
                <div class="col-xs-12">
                    <br/>
                    <p class="small">*PDF Download will only include files that can convert to PDF, such as MS Word Documents, HTML documents and documents that are already PDF.</p>
                </div>
            </div>
        </div>
    </div>
</div>