﻿@model  AbsenceSoft.Models.BulkDownload.CaseBulkDownloadViewModel
@Html.Action("ParentCaseInfo", "Cases", new { caseId = Model.CaseId })

<div ng-non-bindable >
    @Html.HiddenFor(m => m.CaseId, new { id = "caseId" })
    <div class="row row-offset">
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content-section">
                        <div class="row">
                            <h5><strong>Bulk Download Requests</strong></h5>
                            <span class="fa fa-download fa-4x"></span>
                        </div>
                        <div class="row mt12">
                            <div class="col-xs-12">
                                <button id="newZipDownload" class="btn btn-primary btn-block">Queue ZIP Download</button>
                            </div>
                            <div class="col-xs-12">
                                <button id="newPdfDownload" class="btn btn-primary btn-block">Queue PDF Download*</button>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row row-header top-row-style bottom-row-style">
                <div class="col-sm-4">
                    Created Date
                    <span class="fa fa-chevron-down"></span>
                </div>
                <div class="col-sm-4">
                    Export Type
                </div>
                <div class="col-sm-4">
                    Status
                </div>
            </div>
            <div class="row white-attach-box" id="bulkDownloadList">
                @foreach (var bulkDownload in Model.BulkDownloads)
                {
                    <div class="col-sm-12">
                        <div class="row bulk-download-row">
                            @Html.HiddenFor(m => bulkDownload.Id, new { @class="bulk-download-id"})
                            <div class="col-sm-4 bulk-created-date">
                                @bulkDownload.CreatedDate
                            </div>
                            <div class="col-sm-4">
                                @bulkDownload.DownloadType.ToString().SplitCamelCaseString()
                            </div>
                            <div class="col-sm-3 bulk-download-status">
                                @bulkDownload.Status.ToString().SplitCamelCaseString()
                                @if (bulkDownload.Status == ProcessingStatus.Complete && !string.IsNullOrEmpty(bulkDownload.DocumentId))
                                {
                                    <a href="@Url.RouteUrl("DownloadDocument", new { documentId = bulkDownload.DocumentId })">
                                        <span class="fa fa-download"></span>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row row-offset-sm">
                <div class="col-xs-12">
                    <p class="small">*PDF Download will only include files that can convert to PDF, such as MS Word Documents, HTML documents and documents that are already PDF.</p>
                </div>
            </div>
        </div>
    </div>
</div>