﻿<div ng-init="init('{{CurrentUserEmpId}}', '', '', '', 'True')" has-permission="CreateCase">
    <div class="row">

        <!-- START : Mock up for accordian design like walmart -->
        <div class="col-sm-12">
            <h4 class="pull-center">
                <b><span ng-show="EmployeeCreateCaseModel.Status == 'Inquiry'">Inquiry</span><span ng-show="EmployeeCreateCaseModel.Status != 'Inquiry'">Case</span> Request For {{EmployeeInfo.FirstName}} {{EmployeeInfo.LastName}}</b>
            </h4>
            <div class="clearfix">&nbsp;</div>
            <h4 class="inline">
                <a href="" title="Validate Personal Info"><span ng-show="PanelStatus[0] == false" class="badge-active">1</span></a> <span ng-show="PanelStatus[0] == false">&nbsp;<b>Validate Personal Info</b>&nbsp;</span>
                <a href="" ng-click="GoToStep(1)"><span ng-show="PanelStatus[0] == true" class="badge-done">1</span></a>
                <span ng-show="PanelStatus[0] == undefined" class="badge-inactive">1</span>
            </h4>
            <h4 class="inline">
                <a href="" title="Case Reason"><span ng-show="PanelStatus[1] == false" class="badge-active">2</span></a> <span ng-show="PanelStatus[1] == false">&nbsp;<b><span ng-show="EmployeeCreateCaseModel.Status == 'Inquiry'">Inquiry</span><span ng-show="EmployeeCreateCaseModel.Status != 'Inquiry'">Case</span> Reason</b>&nbsp;</span>
                <a href="" title="Case Reason" ng-click="GoToStep(2)"><span ng-show="PanelStatus[1] == true" class="badge-done">2</span></a>
                <span ng-show="PanelStatus[1] == undefined" class="badge-inactive">2</span>
            </h4>
            <h4 class="inline">
                <a href="" title="Anticipated Dates"><span ng-show="PanelStatus[2] == false" class="badge-active">3</span></a>
                <span ng-show="EmployeeCreateCaseModel.CaseTypeId ==1 && PanelStatus[2] == false">&nbsp;<b>What dates are anticipated being or have been out of the office?</b>&nbsp;</span>
                <span ng-show="EmployeeCreateCaseModel.CaseTypeId ==8 && PanelStatus[2] == false">&nbsp;<b ng-show="EmployeeCreateCaseModel.Status != 'Inquiry'">What dates are anticipated?</b><b ng-show="EmployeeCreateCaseModel.Status == 'Inquiry'">Date of inquiry?</b>&nbsp;</span>
                <span ng-show="(EmployeeCreateCaseModel.CaseTypeId == 2 || EmployeeCreateCaseModel.CaseTypeId==4) && PanelStatus[2] == false">&nbsp;<b>What period of time do you anticipate or have been in need of a reduced schedule?</b>&nbsp;</span>
                <a ng-click="GoToStep(3)" href=""><span ng-show="PanelStatus[2] == true" class="badge-done">3</span></a>
                <span ng-show="PanelStatus[2] == undefined" class="badge-inactive">3</span>
            </h4>
            <h4 class="inline" ng-if="ui.ShowSummarizeRequest">
                <a href="" title="Summarize Request"><span ng-show="PanelStatus[5] == false" class="badge-active">4</span></a>
                <span ng-show="PanelStatus[5] == false">&nbsp;<b>Summarize Request</b>&nbsp;</span>
                <a ng-click="GoToStep(6)" href="" title="Summarize Request"><span ng-show="PanelStatus[5] == true" class="badge-done">4</span></a>
                <span ng-show="PanelStatus[5] == undefined" class="badge-inactive">4</span>
            </h4>
            <h4 class="inline" ng-if="!ui.ShowOtherQuestions">
                <a href="" title="Case Summary Confirmation">
                    <span ng-show="PanelStatus[7] == false" class="badge-active">{{ GetRelativeStep(5) }}</span>
                </a>
                <span ng-show="PanelStatus[7] == false">&nbsp;<b><span ng-show="EmployeeCreateCaseModel.Status == 'Inquiry'">Inquiry</span><span ng-show="EmployeeCreateCaseModel.Status != 'Inquiry'">Case</span> Summary Confirmation</b>&nbsp;</span>
                <a ng-click="GoToStep(8)" href="" title="Case Summary Confirmation"><span ng-show="PanelStatus[7] == true" class="badge-done">{{ GetRelativeStep(5) }}</span></a>
                <span ng-show="PanelStatus[7] == undefined" class="badge-inactive">{{ GetRelativeStep(5) }}</span>
            </h4>
            <h4 class="inline" ng-if="ui.ShowOtherQuestions">
                <a href="" title="Other Details">
                    <span ng-show="PanelStatus[6] == false" class="badge-active">{{ GetRelativeStep(5) }}</span>
                </a>
                <span ng-show="PanelStatus[6] == false">&nbsp;<b>Other Details</b>&nbsp;</span>
                <a ng-click="GoToStep(7)" href="" title="Other Details"><span ng-show="PanelStatus[6] == true" class="badge-done">{{ GetRelativeStep(5) }}</span></a>
                <span ng-show="PanelStatus[6] == undefined" class="badge-inactive">{{ GetRelativeStep(5) }}</span>
            </h4>
            <h4 class="inline" ng-if="ui.ShowOtherQuestions">
                <a href="" title="Case Summary Confirmation">
                    <span ng-show="PanelStatus[7] == false" class="badge-active">{{ GetRelativeStep(6) }}</span>
                </a>
                <span ng-show="PanelStatus[7] == false">&nbsp;<b><span ng-show="EmployeeCreateCaseModel.Status == 'Inquiry'">Inquiry</span><span ng-show="EmployeeCreateCaseModel.Status != 'Inquiry'">Case</span> Summary Confirmation</b>&nbsp;</span>
                <a ng-click="GoToStep(8)" href="" title="Case Summary Confirmation"><span ng-show="PanelStatus[7] == true" class="badge-done">{{ GetRelativeStep(6) }}</span></a>
                <span ng-show="PanelStatus[7] == undefined" class="badge-inactive">{{ GetRelativeStep(6) }}</span>
            </h4>
        </div>
    </div>
    <div class="row-offset">
        <div class="col-sm-12">
            <div id="Step1" ng-include="'/scripts/app-angular/case/wizard/contact.partial.html'">
            </div>

            <div id="Step2" class="hide" ng-include="'/scripts/app-angular/case/wizard/reason.partial.html'">
            </div>

            <div id="Step3" class="hide" ng-include="'/scripts/app-angular/case/wizard/request-date.partial.html'">
            </div>

            <div id="Step5" class="hide" ng-include="'/scripts/app-angular/case/wizard/unknown.partial.html'">
            </div>

            <div id="Step6" class="hide" ng-include="'/scripts/app-angular/case/wizard/summary.partial.html'">
            </div>

            <div id="Step7" class="hide">
                <div ng-if="ui.currentQuestionSet" ng-include="'/scripts/app-angular/case/wizard/other-questions-dynamic.partial.html'" />
                <div ng-if="!ui.currentQuestionSet" ng-include="'/scripts/app-angular/case/wizard/other-questions.partial.html'" />
            </div>

            <div id="Step8" class="hide" ng-include="'/scripts/app-angular/case/wizard/confirmation.partial.html'">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="modal fade" id="RolenResponsibilitis" tabindex="-1" role="dialog" aria-labelledby="RolenResponsibilitis" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Rights and Responsibilities</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            Implement Roles and Responsibilities Notice in ESS
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="CaseWarning" tabindex="-1" role="dialog" aria-labelledby="CaseWarning" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Stop - Further Action Required!</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            Contact the local WC Manager for further assistance with this request. A case will not be created.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="CaseCreatedSuccessfully" tabindex="-1" role="dialog" aria-labelledby="CaseCreatedSuccessfully" aria-hidden="true" data-backdrop="static">
        <div ng-include="'/scripts/app-angular/case/wizard/success.partial.html'" />
    </div>

    <div class="modal fade" id="ContactDuplication" tabindex="-1" role="dialog" aria-labelledby="ContactDuplication" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Relationship Duplication</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            A relationship named <strong>{{EmployeeNewRelationship.Text}}</strong> already exists. Do you still want to add?
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="AllowNewContact()">Yes</button>
                    <button type="button" class="btn btn-link" ng-click="DenyNewContact()">No</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>
