﻿<div class="col-sm-offset-1 col-sm-11">
    <div>
        <div class="col-sm-12">
            <div class="row row-offset-sm">
                Employee Name: <label>{{EmployeeInfo.FirstName}} {{EmployeeInfo.LastName}}</label>
            </div>
            <div class="row row-offset-sm">
                <span ng-if="EmployeeCreateCaseModel.CaseTypeId ==1">What dates are anticipated being or have been out of the office?</span>
                <span ng-if="EmployeeCreateCaseModel.CaseTypeId ==8">What dates are anticipated?</span>
                <span ng-if="EmployeeCreateCaseModel.CaseTypeId == 2 || EmployeeCreateCaseModel.CaseTypeId==4">What period of time do you anticipate or have been in need of a reduced schedule?</span>
                <label>
                    {{ui.EmployeeCaseStartDate | date:'MM/dd/yyyy'}} <span ng-show="ui.EmployeeCaseEndDate">to</span>
                    {{ui.EmployeeCaseEndDate | date:'MM/dd/yyyy'}}
                </label>
               
            </div>
            <div class="row row-offset-sm" ng-if="!ui.ShowSummaryDurationOnly">
                Request Type: <label>{{EmployeeCreateCaseModel.AccommodationRequest.Type.Name}}</label>
            </div>
            <div class="row row-offset-sm" ng-if="EmployeeCreateCaseModel.AccommodationRequest.GeneralHealthCondition">
                Description: <label>{{EmployeeCreateCaseModel.AccommodationRequest.GeneralHealthCondition}}</label>
            </div>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
    <br />
    <div class="btn-toolbar pull-right">
        <button type="button" class="btn btn-primary" ng-click="GoToStep(6)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview && !ui.ShowOtherQuestions">Back</button>
        <button type="button" class="btn btn-primary" ng-click="GoToStep(7)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview && ui.ShowOtherQuestions">Back</button>
        <button type="button" class="btn btn-primary" ng-click="CreateCase();" ng-disabled="ui.IsCaseCreating" style="width: 70px;">Submit</button>
    </div>
</div>