﻿<div class="col-sm-offset-1 col-sm-11">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-2 col-header">
                Name
            </div>
            <div class="col-sm-4 capitalize">
                {{EmployeeInfo.FirstName}} {{EmployeeInfo.LastName}}
            </div>
            <div class="col-sm-3 col-header">
                Employee ID
            </div>
            <div class="col-sm-3">
                {{EmployeeInfo.EmployeeNumber}}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-2 col-header">
                Address
            </div>
            <div class="col-sm-4 capitalize">
                <span style="width:50px !important; word-wrap:break-word !important;">
                    {{EmployeeInfo.Address.Address1}} {{EmployeeInfo.Address.Address2}} {{EmployeeInfo.Address.City}} {{EmployeeInfo.Address.State}} {{EmployeeInfo.Address.PostalCode}}
                </span>
            </div>
            <div class="col-sm-3 col-header">
                Work Phone
            </div>
            <div class="col-sm-3">
                {{EmployeeInfo.WorkPhone | tel}}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-2 col-header">
                Work Email
            </div>
            <div class="col-sm-4">
                {{EmployeeInfo.Email}}
            </div>
            <div class="col-sm-3 col-header">
                Home Phone
            </div>
            <div class="col-sm-3">
                {{EmployeeInfo.HomePhone | tel}}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-2 col-header">
                Alt Email
            </div>
            <div class="col-sm-4">
                {{EmployeeInfo.AltEmail}}
            </div>

            <div class="col-sm-3 col-header">
                Cell Phone
            </div>
            <div class="col-sm-3">
                {{EmployeeInfo.CellPhone | tel}}
            </div>
        </div>
        <div class="clearfix"><br /><br /></div>
        <div class="col-sm-9 col-sm-offset-3" ng-if="!forms.ShowDetailsToEdit">
            <div class="row">
                <div class="col-sm-6 col-header"><label class="confimation-text">Is this information correct?</label></div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="btn-group group-2" data-toggle="buttons">
                            <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.IsContactInformationCorrect == true}" ng-click="ValidateInfoError=false; forms.ShowDetailsToEdit=false; EmployeeCreateCaseModel.IsContactInformationCorrect=true">
                                <input type="radio" ng-model="EmployeeCreateCaseModel.IsContactInformationCorrect" value="true" /> Yes
                            </label>
                            <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.IsContactInformationCorrect == false}" ng-click="ValidateInfoError=false; forms.ShowDetailsToEdit = true; EmployeeCreateCaseModel.IsContactInformationCorrect=false">
                                <input type="radio" ng-model="EmployeeCreateCaseModel.IsContactInformationCorrect" value="false" /> No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form name="forms.frmContactMethod" class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-4 col-header">
                                Preferred Way Of Contact
                            </div>
                            <div class="col-sm-8">
                                <select name="ContactPreference"
                                        ng-model="EmployeeCreateCaseModel.ContactPreference"
                                        class="form-control create-case-select"
                                        ng-required="true"
                                        ng-options="item.value as item.label for item in ContactOptions"
                                        ng-change="SetContactPref()"></select>
                                <span class="error" ng-cloak ng-show="forms.frmContactMethod.ContactPreference.$error.required && Step1Submitted">Select a Contact Preference</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-hide="EmployeeCreateCaseModel.ContactPreference == 'Email'">
                        <div class="col-sm-12">
                            <div class="col-sm-4 col-header">
                                Preferred Contact Time
                            </div>
                            <div class="col-sm-8">
                                <select name="TimePreference"
                                        ng-model="EmployeeCreateCaseModel.TimePreference"
                                        class="form-control create-case-select"
                                        ng-required="EmployeeCreateCaseModel.ContactPreference=='Phone'">
                                    <option value="">Please select</option>
                                    <option value="Morning">Morning (8-12)</option>
                                    <option value="Afternoon">Afternoon (12-5)</option>
                                    <option value="Evening">Evening (5-8)</option>
                                </select>
                                <span class="error" ng-cloak ng-show="forms.frmContactMethod.TimePreference.$error.required && Step1Submitted">Select a Preferred Contact Time</span>
                            </div>
                        </div>
                    </div>
                    <div class="row" has-permission="EditECommunicationRequest">
                        <div class="col-sm-12">
                            <div class="col-sm-4 col-header">
                                E-Communications?
                            </div>
                            <div class="col-sm-8">
                                <div class="btn-group group-2 create-case-select" data-toggle="buttons">
                                    <label class=" btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.SendECommunication == true}" ng-click="EmployeeCreateCaseModel.SendECommunication=true">
                                        <input type="radio" value="true" ng-model="EmployeeCreateCaseModel.SendECommunication" /> Yes
                                    </label>
                                    <label class="btn btn-radio" ng-class="{ 'active' : EmployeeCreateCaseModel.SendECommunication == false }" ng-click="EmployeeCreateCaseModel.SendECommunication=false">
                                        <input type="radio" value="false" ng-model="EmployeeCreateCaseModel.SendECommunication" /> No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form name="forms.frmStep1" novalidate>
            <div ng-show="forms.ShowDetailsToEdit">
                <div class="col-sm-12">
                    <div class="col-sm-2 col-header">
                        Work Email
                    </div>
                    <div class="col-sm-4">
                        <input type="text" disabled name="email" class="form-control" ng-model="EmployeeCreateCaseModel.NewEmail" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 col-header">
                        Alt Email
                    </div>
                    <div class="col-sm-4 capitalize">
                        <input type="email" name="AltEmail" class="form-control" ng-required="true" ng-model="EmployeeCreateCaseModel.NewAltEmail" />
                        <span class="error" ng-cloak ng-show="forms.frmStep1.AltEmail.$error.required && Step1Submitted">Alt Email is required</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 col-header">
                        State
                    </div>
                    <div class="col-sm-4">
                        <select id="states" name="States" ng-show="ShowAddressStateDropDown" ng-model="EmployeeCreateCaseModel.NewState" class="form-control input-sm">
                            <option value=""></option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                            <option value="AS">American Samoa</option>
                            <option value="GU">Guam</option>
                            <option value="MP">Northern Mariana Islands</option>
                            <option value="PR">Puerto Rico</option>
                            <option value="UM">United States Minor Outlying Islands</option>
                            <option value="VI">Virgin Islands</option>
                            <option value="AA">Armed Forces Americas</option>
                            <option value="AP">Armed Forces Pacific</option>
                            <option value="AE">Armed Forces Others</option>
                        </select>
                        <input type="text" class="form-control input-sm" ng-show="ShowAddressStateTextBox" name="State" ng-model="EmployeeCreateCaseModel.NewState" />
                        <span class="error" ng-cloak ng-show="forms.frmStep1.States.$error.required && Step1Submitted && ShowAddressStateDropDown">Please select state</span>
                        <span class="error" ng-cloak ng-show="forms.frmStep1.States.$error.required && Step1Submitted && ShowAddressStateTextBox">Please enter state</span>
                    </div>
                    <div class="col-sm-2 col-header">
                        Address
                    </div>
                    <div class="col-sm-4 capitalize">
                        <input type="text" name="NewAddress" class="form-control" ng-model="EmployeeCreateCaseModel.NewAddress" ng-required="forms.ShowDetailsToEdit" />
                        <span class="error" ng-cloak ng-show="forms.frmStep1.NewAddress.$error.required && Step1Submitted">Please enter address</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 col-header">
                        City
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="City" class="form-control" ng-model="EmployeeCreateCaseModel.NewCity"/>                        
                    </div>
                    <div class="col-sm-2 col-header">
                        Zip
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control input-sm" name="PostalCode" ng-model="EmployeeCreateCaseModel.NewZipcode"/>                        
                        <span class="error" data-ng-show="forms.frmStep1.PostalCode.$error.valid">Not valid zip code</span>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 col-header">
                        &nbsp;
                    </div>
                    <div class="col-sm-4 capitalize">
                        &nbsp;
                    </div>
                    <div class="col-sm-2 col-header">
                        &nbsp;
                    </div>
                    <div class="col-sm-4 capitalize">
                        <a style="cursor:pointer" ng-model="empinfomore" ng-click="empinfomore =! empinfomore">Alternate Mailing Address</a>
                    </div>
                </div>
                <div ng-show="empinfomore">
                    <div class="col-sm-12">
                        <div class="col-sm-2 col-header">
                            State
                        </div>
                        <div class="col-sm-4">
                            <select id="states" name="States" ng-show="ShowAltAddressStateDropDown" ng-model="EmployeeCreateCaseModel.NewAltState" class="form-control input-sm">
                                <option value=""></option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                                <option value="AS">American Samoa</option>
                                <option value="GU">Guam</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="UM">United States Minor Outlying Islands</option>
                                <option value="VI">Virgin Islands</option>
                                <option value="AA">Armed Forces Americas</option>
                                <option value="AP">Armed Forces Pacific</option>
                                <option value="AE">Armed Forces Others</option>
                            </select>
                            <input type="text" class="form-control input-sm" ng-show="ShowAltAddressStateTextBox" name="AltState" ng-model="EmployeeCreateCaseModel.NewAltState" />
                        </div>
                        <div class="col-sm-2 col-header">
                            Address
                        </div>
                        <div class="col-sm-4 capitalize">
                            <input type="text" name="NewAltAddress" class="form-control" ng-model="EmployeeCreateCaseModel.NewAltAddress" />
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-2 col-header">
                            City
                        </div>
                        <div class="col-sm-4">
                            <input type="text" name="AltCity" class="form-control" ng-model="EmployeeCreateCaseModel.NewAltCity" />
                        </div>
                        <div class="col-sm-2 col-header">
                            Zip
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" name="AltPostalCode" ng-model="EmployeeCreateCaseModel.NewAltZipcode" />
                            <span class="error" data-ng-show="forms.frmStep1.AltPostalCode.$error.valid">Not valid zip code</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 col-header">
                        Work Phone
                    </div>
                    <div class="col-sm-4 capitalize">
                        <input type="text" disabled class="form-control input-sm" ng-model="EmployeeCreateCaseModel.NewWorkPhone" name="WorkPhone" ng-blur-tel />
                    </div>
                    <div class="col-sm-2 col-header">
                        Cell Phone
                    </div>
                    <div class="col-sm-4 capitalize">
                        <input type="text" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.NewCellPhone" name="WorkPhone" ng-blur-tel />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 col-header">
                        Home Phone
                    </div>
                    <div class="col-sm-4 capitalize">
                        <input type="text" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.NewHomePhone" name="WorkPhone" ng-blur-tel />
                    </div>
                    <div class="col-sm-2 col-header">
                        Alt Phone
                    </div>
                    <div class="col-sm-4 capitalize">
                        <input type="text" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.NewAltPhone" name="Alt" ng-blur-tel />
                    </div>
                </div>
            </div>
        </form>
        <div class="col-sm-offset-1 col-sm-11" ng-show="forms.ShowNewContactWarning" style="margin-bottom: 10px;">
            <label class="text-info">
                Your HR department will be notified to verify new
            </label>
        </div>
        <br />
        <button type="submit" class="btn btn-primary pull-right" ng-click="Step1Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
    </div>
</div>