﻿<div class="col-sm-offset-1 col-sm-11">
    <form submitted name="forms.frmStep8" novalidate ng-submit="actions.Step8Submit()" >
        <div dynamic-questions
             current-question-set="ui.currentQuestionSet">
        </div>

        <br />
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-primary" ng-click="Step7Back()" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
            <button type="submit" class="btn btn-primary" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
        </div>
    </form>
</div>