﻿<div class="col-sm-offset-1 col-sm-11">
    <form name="forms.frmStep8" novalidate>
        <div class="row row-offset" ng-show="ui.ShowOtherQuestions">
            <div class="col-sm-12 border">
                <div class="row">
                    <div class="col-sm-12">
                        The following fields can be optionally entered and will be saved when the case is created.
                    </div>
                </div>
                <div class="row row-offset">
                    <div class="col-sm-12">
                        <div class="col-sm-12"><strong>Summary Of Situation & Employee Ask</strong></div>
                    </div>      
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <textarea class="form-control" name="EmployeeAskForDesc" ng-model="EmployeeCreateCaseModel.EmployeeAskForDesc"></textarea>
                        <!--<div class="error" ng-cloak ng-show="forms.frmStep8.EmployeeAskForDesc.$error.required && (!forms.frmStep8.EmployeeAskForDesc.$pristine || Step8Submitted)">Please describe what the employee is asking for.</div>-->
                    </div>
                </div>
                <div ng-if="ui.SelectedAbsenceReason.Code == 'ACCOMM'">
                    <div class="row row-offset">
                        <div class="col-sm-12">
                            <div class="col-sm-9"><strong>Is the employee at work?</strong></div>
                            <div class="col-sm-3">
                                <div class="btn-group group-3" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.IsEmployeeAtWork == true}" ng-click="forms.ShowWorkplaceModification=true; EmployeeCreateCaseModel.IsEmployeeAtWork=true">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.IsEmployeeAtWork" value="true" /> Yes
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.IsEmployeeAtWork == false}" ng-click="forms.ShowWorkplaceModification=false;  EmployeeCreateCaseModel.IsEmployeeAtWork=false; EmployeeCreateCaseModel.WorkplaceModificationDesc=null;">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.IsEmployeeAtWork" value="false" /> No
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.IsEmployeeAtWork == null }" ng-click="forms.ShowWorkplaceModification=false;  EmployeeCreateCaseModel.IsEmployeeAtWork=null; EmployeeCreateCaseModel.WorkplaceModificationDesc=null;">
                                        <input type="radio" value="null" ng-model="EmployeeCreateCaseModel.IsEmployeeAtWork" /> N/A
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-if="forms.ShowWorkplaceModification">
                            <div class="col-sm-12"><strong>Are any workplace modifications being made at this time?</strong></div>
                            <div class="col-sm-12">
                                <textarea name="txtWorkplaceModificationDesc" ng-model="EmployeeCreateCaseModel.WorkplaceModificationDesc" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row row-offset" ng-if="ui.showIsEmployeeOnLeave">
                        <div class="col-sm-12">
                            <div class="col-sm-9"><strong>Is employee on leave?</strong></div>
                            <div class="col-sm-3 pull-right">
                                <div class="btn-group group-3" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.IsEmployeeOnLeave == true}" ng-click="forms.ShowCaseNumberInput=true; EmployeeCreateCaseModel.IsEmployeeOnLeave=true">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.IsEmployeeOnLeave" value="true" /> Yes
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.IsEmployeeOnLeave == false}" ng-click="forms.ShowCaseNumberInput=false; EmployeeCreateCaseModel.EmpOtherLeaveCaseNumber = null; EmployeeCreateCaseModel.IsEmployeeOnLeave=false">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.IsEmployeeOnLeave" value="false" /> No
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.IsEmployeeOnLeave == null }" ng-click="forms.ShowCaseNumberInput=false; EmployeeCreateCaseModel.IsEmployeeOnLeave=null;  EmployeeCreateCaseModel.EmpOtherLeaveCaseNumber = null;">
                                        <input type="radio" value="null" ng-model="EmployeeCreateCaseModel.IsEmployeeOnLeave" /> N/A
                                    </label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div ng-if="ui.showCaseNumber">
                        <div class="row row-offset">
                            <div class="col-sm-12">
                                <div class="col-sm-12"><strong>Case Number</strong></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <textarea class="form-control" name="EmpOtherLeaveCaseNumber" ng-model="EmployeeCreateCaseModel.EmpOtherLeaveCaseNumber"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="EmployeeCreateCaseModel.IsEmployeeAtWork == false && EmployeeCreateCaseModel.IsEmployeeOnLeave == false">
                        <div class="col-sm-12">
                            <div class="col-sm-12 error">Please call MyLeave Services @@ 888-892-7180 to initiate leave of absence</div>
                        </div>
                    </div>
                    <div class="row row-offset" ng-if="false">
                        <div class="col-sm-12">
                            <div class="col-sm-9"><strong>Did the employee self-assess?</strong></div>
                            <div class="col-sm-3 pull-right">
                                <div class="btn-group group-3" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.IsEmployeeSelfAssessed == true}" ng-click="EmployeeCreateCaseModel.IsEmployeeSelfAssessed=true">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.IsEmployeeSelfAssessed" value="true" /> Yes
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.IsEmployeeSelfAssessed == false}" ng-click="EmployeeCreateCaseModel.DateAssessed = null; EmployeeCreateCaseModel.IsEmployeeSelfAssessed=false">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.IsEmployeeSelfAssessed" value="false" /> No
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.IsEmployeeSelfAssessed == null }" ng-click="EmployeeCreateCaseModel.DateAssessed = null; EmployeeCreateCaseModel.IsEmployeeSelfAssessed=null">
                                        <input type="radio" value="null" ng-model="EmployeeCreateCaseModel.IsEmployeeSelfAssessed" /> N/A
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4" ng-if="EmployeeCreateCaseModel.IsEmployeeSelfAssessed == true">
                                <div class="input-group date">
                                    <input type="text" class="form-control input-sm" id="DateAssessed" name="DateAssessed" ng-model="EmployeeCreateCaseModel.DateAssessed" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" />
                                    <label for="DateAssessed" class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-12">
                            <div class="col-sm-9"><strong>Are there performance issues?</strong></div>
                            <div class="col-sm-3 pull-right">
                                <div class="btn-group group-3" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.HasPerformanceIssue == true}" ng-click="EmployeeCreateCaseModel.HasPerformanceIssue=true">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.HasPerformanceIssue" value="true" /> Yes
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.HasPerformanceIssue == false}" ng-click="EmployeeCreateCaseModel.PerformanceIssueDesc = null; EmployeeCreateCaseModel.HasPerformanceIssue=false">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.HasPerformanceIssue" value="false" /> No
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.HasPerformanceIssue == null }" ng-click="EmployeeCreateCaseModel.PerformanceIssueDesc = null; EmployeeCreateCaseModel.HasPerformanceIssue=null">
                                        <input type="radio" value="null" ng-model="EmployeeCreateCaseModel.HasPerformanceIssue" /> N/A
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="EmployeeCreateCaseModel.HasPerformanceIssue == true">
                        <div class="col-sm-12">
                            <textarea class="form-control" name="PerformanceIssueDesc" ng-model="EmployeeCreateCaseModel.PerformanceIssueDesc"></textarea>
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-12">
                            <div class="col-sm-9"><strong>Are there any work place concerns?</strong></div>
                            <div class="col-sm-3 pull-right">
                                <div class="btn-group group-3" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.HasWorkConcerns == true}" ng-click="EmployeeCreateCaseModel.HasWorkConcerns=true">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.HasWorkConcerns" value="true" /> Yes
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.HasWorkConcerns == false}" ng-click="EmployeeCreateCaseModel.WorkConcernDesc = null; EmployeeCreateCaseModel.HasWorkConcerns=false">
                                        <input type="radio" ng-model="EmployeeCreateCaseModel.HasWorkConcerns" value="false" /> No
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.HasWorkConcerns == null }" ng-click="EmployeeCreateCaseModel.WorkConcernDesc = null; EmployeeCreateCaseModel.HasWorkConcerns=false">
                                        <input type="radio" value="null" ng-model="EmployeeCreateCaseModel.HasWorkConcerns" /> N/A
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="EmployeeCreateCaseModel.HasWorkConcerns == true">
                        <div class="col-sm-12">
                            <textarea class="form-control" name="WorkConcernDesc" ng-model="EmployeeCreateCaseModel.WorkConcernsDesc"></textarea>
                        </div>
                    </div>


                    <div class="row" has-permission="JobAssignment">
                        <div class="col-sm-10 pull-left">
                            <div class="col-sm-6">
                                <div class="col-sm-3 col-wrap">
                                    <label class="control-label" for="Job_Code">Job</label>
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    <select class="form-control job-code" id="Job_Code" name="JobCode" 
                                            ng-model="EmployeeCreateCaseModel.Job.Code" ng-options="Job.Code as Job.Name for Job in EmployeeCreateCaseModel.Jobs" ng-required="EmployeeCreateCaseModel.JobAssignmentPermission==true">
                                        <option value="">Select a Job</option>                                        
                                    </select>
                                    <span class="error" ng-show="forms.frmStep8.JobCode.$error.required && (forms.frmStep8.JobCode.$touched || Step8Submitted)">Job is Required</span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="col-sm-3 col-wrap">
                                    <label class="control-label" for="Job_Code">Job Title</label>
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    <input class="form-control" id="Job_Title" name="Job.Title" type="text" ng-model="EmployeeCreateCaseModel.Job.Title" />
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-10 pull-left">
                            <div class="col-sm-12">
                                <span class="error" ng-show="forms.frmStep8.Job_Code.$error.required && (!forms.frmStep8.Job_Code.$pristine || Step8Submitted)">Job is Required</span>
                            </div>
                        </div>
                        <div class="col-sm-10 pull-left" ng-show="EmployeeCreateCaseModel.Job.Code != '' &&  EmployeeCreateCaseModel.Job.Code != null" id="jobDateRow">
                            <div class="col-sm-6">
                                <div class="col-sm-3 col-wrap">
                                    <label class="form-label" for="Job_StartDate">Start Date</label>
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    <div class="input-group date editor">
                                        <input class="form-control" id="Job_StartDate" name="Job.StartDate" type="text" ng-model="EmployeeCreateCaseModel.Job.StartDate" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col-wrap">
                                    <label class="form-label" for="Job_EndDate">End Date</label>
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    <div class="input-group date editor">
                                        <input class="form-control" id="Job_EndDate" name="Job.EndDate" type="text" ng-model="EmployeeCreateCaseModel.Job.EndDate" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>                                                
                                                
                        <div class="col-sm-10 pull-left" ng-show="EmployeeCreateCaseModel.Job.Code != '' &&  EmployeeCreateCaseModel.Job.Code != null">
                            <div class="col-sm-6">
                                <div class="col-sm-3 col-wrap">
                                    <label class="control-label" for="Job_Status_Status">Status</label>
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    <div class='btn-group group-3' data-toggle='buttons'>
                                        <label class='btn btn-info' ng-click="EmployeeCreateCaseModel.Job.Status.Status=0;" ng-class="{ 'active' : EmployeeCreateCaseModel.Job.Status.Status == 0}">Pending<input id="Job_Status_Status" name="Job.Status.Status" ng-model="EmployeeCreateCaseModel.Job.Status.Status" type="radio" value="Pending" /></label>
                                        <label class='btn btn-info' ng-click="EmployeeCreateCaseModel.Job.Status.Status=1;" ng-class="{ 'active' : EmployeeCreateCaseModel.Job.Status.Status == 1}">Approved<input id="Job_Status_Status" name="Job.Status.Status" ng-model="EmployeeCreateCaseModel.Job.Status.Status" type="radio" value="Approved" /></label>
                                        <label class='btn btn-info' ng-click="EmployeeCreateCaseModel.Job.Status.Status=2;" ng-class="{ 'active' : EmployeeCreateCaseModel.Job.Status.Status == 2}">Denied<input id="Job_Status_Status" name="Job.Status.Status" ng-model="EmployeeCreateCaseModel.Job.Status.Status" type="radio" value="Denied" /></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" ng-show="EmployeeCreateCaseModel.Job.Status.Status == 2 && EmployeeCreateCaseModel.Job.Code !='' && EmployeeCreateCaseModel.Job.Code !=null">
                                <div class="col-sm-3 col-wrap">
                                    <label class="control-label" for="Job_Status_DenialReason">Reason</label>
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    <select class="form-control" id="Job_Status_DenialReason" name="Job.Status.DenialReason" ng-model="EmployeeCreateCaseModel.Job.Status.DenialReason" ng-options="DenialReason.Id as DenialReason.Text for DenialReason in EmployeeCreateCaseModel.DenialReasons">
                                        <option value=""></option>
                                    </select>
                                </div>

                            </div>

                        </div>
                        <div class="col-sm-10 pull-left" ng-show="EmployeeCreateCaseModel.Job.Status.Status == 2 && EmployeeCreateCaseModel.Job.Status.DenialReason=='0' && EmployeeCreateCaseModel.Job.Code !='' && EmployeeCreateCaseModel.Job.Code !=null">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3 col-wrap">
                                    <label class="control-label" for="Job_Status_DenialReasonOther">Other Reason</label>
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    <input class="form-control" id="Job_Status_DenialReasonOther" name="Job.Status.DenialReasonOther" type="text" ng-model="EmployeeCreateCaseModel.Job.Status.DenialReasonOther" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row" ng-required="EmployeeCreateCaseModel.JobAssignmentPermission==true" ng-show="EmployeeCreateCaseModel.JobHistory != null && EmployeeCreateCaseModel.JobHistory.length>0">
                        <div class="col-sm-10">
                            <div class="col-sm-6">
                            </div>
                            <div class="col-sm-6">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-7">
                                    <a class="btn-link pull-right" ng-click="EmployeeCreateCaseModel.ShowJobHistory = !EmployeeCreateCaseModel.ShowJobHistory">show job history</a>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div id="wrEmployeeJobHistory" ng-show="EmployeeCreateCaseModel.JobHistory != null && EmployeeCreateCaseModel.JobHistory.length>0 && EmployeeCreateCaseModel.ShowJobHistory">
                        <!--<div class="row">-->
                        <div class="col-sm-10">
                            <div class="col-sm-11">
                                <table class="table table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <th>Starting</th>
                                            <th>Ending</th>
                                            <th>Job</th>
                                            <th>Title</th>
                                            <th>Location</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="history in EmployeeCreateCaseModel.JobHistory">
                                            <td>{{history.StartDate | date:"MM/dd/yyyy"}}</td>
                                            <td>{{history.EndDate === null ? "current":history.EndDate  | date:"MM/dd/yyyy"}}</td>
                                            <td>{{history.Display}}</td>
                                            <td>{{history.Title}}</td>
                                            <td>{{history.OfficeLocation}}</td>
                                            <td title="{{history.StatusHint}}">{{history.StatusHint === null ? "" : history.StatusHint}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                     <div class="row row-offset">
                            <div class="col-sm-12">
                                <div class="col-sm-12"><strong>What is the employee's current schedule?</strong></div>
                            </div>
                     </div>
                     <div class="row">
                             <div class="col-sm-12">
                                <textarea class="form-control" name="CurrentSchedule" ng-model="EmployeeCreateCaseModel.CurrentSchedule"></textarea>
                            </div>
                     </div>
                  </div>
            </div>
        </div>
    </form>
    <br />
    <div class="btn-toolbar pull-right">
        <button type="button" class="btn btn-primary" ng-click="Step7Back()" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
        <button type="button" class="btn btn-primary" ng-click="Step8Submitted = true; actions.Step8Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
    </div>
</div>