﻿<form name="forms.frmStep2" class="col-sm-offset-1 col-sm-11">
    <div ng-repeat="absenceReason in AbsenceReasons | filter:FilterReasons" class="text-center">
        <div class="btn-group btn-group-lg text-center">
            <label ng-repeat="child in absenceReason.Children"
                   ng-click="$parent.$parent.onClickAbsenceReason(child)"
                   ng-class="{'active' : child == ui.SelectedAbsenceReason}"
                   class="btn btn-default">
                {{child.Name}}
            </label>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="btn-toolbar pull-right">
        <button type="button" class="btn btn-primary" ng-click="GoToStep(1)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
        <button type="button" class="btn btn-primary" ng-click="Step2Submitted=true; Step2Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
    </div>
</form>

