﻿<div class="col-sm-offset-1 col-sm-11">
    <form name="forms.frmStep3" novalidate>
        <div class="row">
            <div class="col-sm-3 col-header">Request Date<span ng-show="SelectedAbsenceReason.Code != 'INQ'">s</span></div>
            <div class="col-sm-6">
                <div class="input-daterange input-group approval-dates-input-group">
                    <input max-date="ui.EmployeeCaseEndDate"
                           type="text" 
                           name="EmpCaseStartDate" 
                           class="form-control"
                           at-datepicker-popup="MM/dd/yyyy" 
                           datepicker-options="dateOptions" 
                           show-button-bar="true" 
                           ng-model="ui.EmployeeCaseStartDate"
                           ng-class="{'has-error':forms.frmStep3.EmpCaseStartDate.$error.required && (!forms.frmStep3.EmpCaseStartDate.$pristine || Step3Submitted)}" required="required" />
                    <span ng-show="SelectedAbsenceReason.Code != 'INQ'" class="input-group-addon">to</span>
                    <input ng-show="SelectedAbsenceReason.Code != 'INQ'" type="text" name="EmpCaseEndDate" class="form-control"
                           at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="ui.EmployeeCaseEndDate"
                           ng-class="{'has-error':forms.frmStep3.EmpCaseEndDate.$error.required && (!forms.frmStep3.EmpCaseEndDate.$pristine || Step3Submitted)}" />
                </div>
                <div>
                    <div class="error" ng-cloak ng-show="forms.frmStep3.EmpCaseStartDate.$error.required && (!forms.frmStep3.EmpCaseStartDate.$pristine || Step3Submitted)">Please enter an accommodation start date</div>
                    <div class="error" ng-cloak ng-show="(!forms.frmStep3.EmpCaseEndDate.$pristine || Step3Submitted) && forms.frmStep3.EmpCaseStartDate.$error.required && EmployeeCreateCaseModel.AccommodationRequest.Duration === 1">Please enter an accommodation end date</div>
                    <div class="error" ng-cloak ng-show="forms.frmStep3.EmpCaseStartDate.$error.dateLowerThan">The end date cannot be before the start date.</div>
                </div>
            </div>
        </div>
        <div class="btn-toolbar pull-right">
            <button type="button" class="btn btn-primary" ng-click="GoToStep(2)" style="width: 70px; margin-left: 2px" ng-show="!IsESSCaseReview">Back</button>
            <button type="button" class="btn btn-primary" ng-click="Step3Submitted=true; Step3Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
        </div>
    </form>
    <br />
</div>