﻿<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a href="" ng-click="ui.modalDismiss()" class="btn close">&times;</a>
            <h4 class="modal-title"><span ng-show="EmployeeCreateCaseModel.Status == 'Inquiry'">Inquiry</span><span ng-show="EmployeeCreateCaseModel.Status != 'Inquiry'">Case</span> Created Successfully</h4>
        </div>
        <div class="modal-body" id="printSection">
            <div class="row">
                <div class="col-sm-12">
                    <div class="hide">
                        <strong><span ng-show="EmployeeCreateCaseModel.Status == 'Inquiry'">Inquiry</span><span ng-show="EmployeeCreateCaseModel.Status != 'Inquiry'">Case</span> Created Successfully</strong>
                    </div>

                    <div ng-switch="ui.SelectedAbsenceReason.Code">
                        <div ng-switch-when="MED">

                            <p ng-if="ui.questionsById.IsImpairingMedication.Answer !== 'No'">
                                Thank you for coordinating with Amazon on prescription medication use. Your responses indicate your medication may cause impairment.
                            </p>
                            <p ng-if="ui.questionsById.PrescribedMedication.Answer === 'MM'">
                                You indicated you are using medicinal marijuana. Please turn in a copy of your current prescription card within 7 days.
                                You will be required to submit an updated prescription card before expiration dates.
                                Additionally, please have the Impairment Inquiry form completed by your doctor and returned within 7 days for review and next steps.
                                Until the review occurs, you will be off work without pay (excused) for up to 7 days.
                                Once the completed Impairment Inquiry is submitted, it will be reviewed.
                                After the review, you will be contacted for either release to work (with or without accommodation) or next step options.
                            </p>
                            <p ng-if="ui.questionsById.IsImpairingMedication.Answer === 'No'">
                                Thank you for coordinating with Amazon on prescription medication use. Your responses indicated the medication is not impairing.
                                No further action is required of you.
                            </p>
                        </div>

                        <div ng-switch-default>
                            <p style="padding-top: 10px;">
                                Thank you for submitting your request. MyAccommodation services
                                will review your request and contact you for any further details.
                            </p>
                            <p>
                                Please review the packet provided which will include the required paperwork.
                            </p>
                        </div>

                        <p style="padding-top: 10px;">
                            Your request number : <label>{{CaseCreatedModel.CaseNumber}}</label> <br />
                            Use the above number as your reference when you call, email or
                            write to us.
                        </p>

                        <br />
                        <div class="hide" id="otherPrintSection" ng-if="ui.ShowOtherQuestions">
                            <div class="row row-offset">
                                <div class="col-sm-12">
                                    <div class="col-sm-12"><strong>Other Information:</strong></div>
                                    <div class="col-sm-12"><strong>Summary Of Situation & Employee Ask:</strong> - {{EmployeeCreateCaseModel.EmployeeAskForDesc || 'N/A'}}</div>
                                    <div class="col-sm-12"><strong>Is the employee at work?</strong> - {{EmployeeCreateCaseModel.IsEmployeeAtWork ? 'Yes' : 'No'}}</div>
                                    <div class="col-sm-12"><strong>Are any workplace modifications being made at this time?</strong> - {{EmployeeCreateCaseModel.WorkplaceModificationDesc || 'No'}}</div>
                                    <div class="col-sm-12"><strong>Is employee on leave?</strong> - {{EmployeeCreateCaseModel.IsEmployeeOnLeave ? 'Yes' : 'No'}}</div>
                                    <div class="col-sm-12"><strong>Are there performance issues?</strong> - {{EmployeeCreateCaseModel.HasPerformanceIssue ? 'Yes, ' + EmployeeCreateCaseModel.PerformanceIssueDesc : 'No'}}</div>
                                    <div class="col-sm-12"><strong>Are there any work place concerns?</strong> - {{EmployeeCreateCaseModel.HasWorkConcerns ? 'Yes, ' + EmployeeCreateCaseModel.WorkConcernsDesc : 'No'}}</div>
                                    <div class="col-sm-12"><strong>What is the employee's current schedule?</strong> - {{EmployeeCreateCaseModel.CurrentSchedule || 'N/A'}}</div>
                                </div>
                            </div>
                        </div>

                        <p style="padding-top: 10px;">
                            If you have any questions please contact:
                        </p>

                        <p style="text-align: left; font-family: 'Times New Roman' !important; font-size: 12px !important;">

                            <div ng-switch="ui.SelectedAbsenceReason.Code">
                                <div ng-switch-when="SER">
                                    <strong>Safety/AmCare</strong>
                                </div>

                                <div ng-switch-default>
                                    <font style="color: red"><strong>myAccommodation</strong></font><br />
                                    <b>Phone</b>: 1-888-892-7180, press option 6 <br />
                                    <b>Fax</b>: 1-206-946-7289 <br />
                                    <b>Email</b>: <ins>accommodations@amazon.com</ins><br />
                                    <b>Escalations:</b> <a href="https://tt.amazon.com/quicklink/Q000139408">quicklink</a> (only accessible from within Amazon’s network) <br />
                                    <b>General Inquiry:</b> <a href="https://tt.amazon.com/quicklink/Q000263140">quicklink</a> (you must be on the Amazon network to access) <br />
                                </div>

                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span ng-if="inputparams && inputparams.ReturnUrl">
                    <a class="btn btn-primary" href="{{inputparams.ReturnUrl}}">{{inputparams.ReturnMessage}}</a>
                </span>
                <span ng-if="!inputparams || !inputparams.ReturnUrl">
                    <a class="btn btn-primary" href="" ng-click="ui.modalDismiss()" data-dismiss="modal">Go To My Cases</a>
                </span>
                <a class="btn btn-primary" href="" ng-click="ui.print()">Print</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
