﻿<div class="col-sm-offset-1 col-sm-11">
    <form name="forms.frmStep7" novalidate>
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="row" ng-if="!ui.ShowSummaryDurationOnly">
                    <div class="col-sm-3 col-header">
                        Request Type
                    </div>
                    <div class="col-sm-9" ng-if="AccommodationTypes.length <= 5">
                        <div>
                            <div class="btn-group pull-right" data-toggle="buttons" ng-class="{'group-5-wrap' :AccommodationTypes.length > 2}">
                                <label ng-click="SetType(accom)" ng-repeat="accom in AccommodationTypes" class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.AccommodationRequest.Type == 1, 'has-error':!EmployeeCreateCaseModel.AccommodationRequest.Type && Step7Submitted}">
                                    <input type="radio" name="AccommType" value="accomm" ng-model="EmployeeCreateCaseModel.AccommodationRequest.Type" required="required" /> {{accom.Name}}
                                </label>
                                <span class="error" ng-cloak ng-show="frmCreateCase.AccommType.$error.required && forms.submitted">Please enter the Request Type</span><br />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9" ng-if="AccommodationTypes.length > 5">
                        <select name="AccommType" ng-class="{'has-error':forms.frmStep7.RequestType.$error.required && Step7Submitted}" class="form-control" required="required" ng-model="EmployeeCreateCaseModel.AccommodationRequest.Type" ng-options="accom as accom.Name for accom in AccommodationTypes" ng-change="OnAccomTypeSelected()">
                            <option value="">Please select</option>
                        </select>
                        <span class="error" ng-cloak ng-show="forms.frmStep7.AccommType.$error.required && Step7Submitted">Please select request type</span><br />
                        <span ng-show="ui.ShowAccomLeaveTypeMssg" class="error">* Using the Administrative case type will not track lost time for the accommodation case.  If you want to track lost time use the Consecutive, Intermittent, or Reduced case type above.</span>
                    </div>
                </div>
                <div class="row" ng-show="EmployeeCreateCaseModel.AccommodationRequest.Type.Code == 'OTR'">
                    <div class="col-sm-3 col-header">
                        Other Description
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control input-sm" ng-model="EmployeeCreateCaseModel.AccommodationRequest.OtherDescription" />
                    </div>
                </div>
                <div class="row row-offset" ng-if="ui.ShowIsWorkRelated">
                    <div class="col-sm-3 col-header">
                        Is Work Related?
                    </div>
                    <div class="col-sm-4">
                        <div class="btn-group group-2" data-toggle="buttons">
                            <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.AccommodationRequest.IsWorkRelated == true}" ng-click="OnWorkRelatedClick(true)">
                                <input type="radio" name="IsWorkRelated" ng-model="EmployeeCreateCaseModel.AccommodationRequest.IsWorkRelated" ng-required="ui.ShowIsWorkRelated" /> Yes
                            </label>
                            <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.AccommodationRequest.IsWorkRelated == false}" ng-click="OnWorkRelatedClick(false)">
                                <input type="radio" name="IsWorkRelated" ng-model="EmployeeCreateCaseModel.AccommodationRequest.IsWorkRelated" ng-required="ui.ShowIsWorkRelated" /> No
                            </label>
                        </div>
                        <div class="error" ng-cloak ng-show="frmCreateCase.IsWorkRelated.$error.required && forms.submitted">Work Related is Required</div>
                    </div>
                    <div class="error" ng-cloak ng-show="(EmployeeCreateCaseModel.AccommodationRequest.IsWorkRelated === null || EmployeeCreateCaseModel.AccommodationRequest.IsWorkRelated === undefined) && Step7Submitted">Work Related is Required</div>
                </div>

                <div class="row error" ng-if="EmployeeCreateCaseModel.AccommodationRequest.IsWorkRelated && EmployeeCreateCaseModel.AccommodationRequest.Type.Code == 'LTA'">
                    <div class="col-sm-offset-3">
                        Additional Medical may not be needed if restrictions and limitations have been provided by the WC team.
                    </div>
                </div>

                <div class="row row-offset">
                    <div class="col-sm-3 col-header">
                        Duration
                    </div>
                    <div class="col-sm-4">
                        <div ng-class="{'btn-group': EmployeeCreateCaseModel.AccommodationRequest.Type.Code != 'Leave' && EmployeeCreateCaseModel.CaseTypeId != 1 && EmployeeCreateCaseModel.CaseTypeId != 2, 'group-2': EmployeeCreateCaseModel.AccommodationRequest.Type.Code != 'Leave' && EmployeeCreateCaseModel.CaseTypeId != 1 && EmployeeCreateCaseModel.CaseTypeId != 2}" data-toggle="buttons">
                            <label class="btn btn-info" 
                                   ng-class="{ 'active' : EmployeeCreateCaseModel.AccommodationRequest.Duration == 1, 'has-error':!EmployeeCreateCaseModel.AccommodationRequest.Duration && Step7Submitted}" 
                                   ng-click="EmployeeCreateCaseModel.AccommodationRequest.Duration=1;SetStartEndDate(1)">
                                <input type="radio" name="Duration" value="1" ng-model="EmployeeCreateCaseModel.AccommodationRequest.Duration" required /> Temporary
                            </label>
                            <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.AccommodationRequest.Duration == 2, 'has-error':!EmployeeCreateCaseModel.AccommodationRequest.Duration && Step7Submitted}" 
                                   ng-click="EmployeeCreateCaseModel.AccommodationRequest.Duration=2; EmployeeCreateCaseModel.AccommodationRequest.EndDate=null;SetStartEndDate(2)" ng-hide="EmployeeCreateCaseModel.AccommodationRequest.Type.Code == 'Leave' || EmployeeCreateCaseModel.CaseTypeId == 1 || EmployeeCreateCaseModel.CaseTypeId == 2">
                                <input type="radio" name="Duration" value="2" ng-model="EmployeeCreateCaseModel.AccommodationRequest.Duration" required /> Permanent
                            </label>
                        </div>
                    </div>
                    <span ng-show="!EmployeeCreateCaseModel.AccommodationRequest.Duration && Step7Submitted" class="error">Please select an option.</span>
                </div>
                <div class="row" ng-show="EmployeeCreateCaseModel.AccommodationRequest.Duration != null">
                    <div class="col-sm-3 col-header">Request Dates</div>
                    <div class="col-sm-6">
                        <div class="input-daterange input-group approval-dates-input-group">
                            <input date-lower-than='{{EmployeeCreateCaseModel.AccommodationRequest.EndDate}}' type="text" name="AddAccommodationStartDate" class="form-control"
                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="EmployeeCreateCaseModel.AccommodationRequest.StartDate"
                                   required="required" ng-class="{'has-error':forms.frmStep7.AddAccommodationStartDate.$error.required && (!forms.frmStep7.AddAccommodationStartDate.$pristine || Step7Submitted)}" />
                            <span class="input-group-addon" ng-show="EmployeeCreateCaseModel.AccommodationRequest.Duration == 1">to</span>
                            <input type="text" name="AddAccommodationEndDate" class="form-control" ng-required="EmployeeCreateCaseModel.AccommodationRequest.Duration == 1" ng-show="EmployeeCreateCaseModel.AccommodationRequest.Duration == 1"
                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="EmployeeCreateCaseModel.AccommodationRequest.EndDate"
                                   ng-class="{'has-error':forms.frmStep7.AddAccommodationEndDate.$error.required && (!forms.frmStep7.AddAccommodationEndDate.$pristine || Step7Submitted)}" />
                        </div>
                        <div>
                            <div class="error" ng-cloak ng-show="forms.frmStep7.AddAccommodationStartDate.$error.required && (!forms.frmStep7.AddAccommodationStartDate.$pristine || Step7Submitted)">Please enter an accommodation start date</div>
                            <div class="error" ng-cloak ng-show="forms.frmStep7.AddAccommodationEndDate.$error.required && (!forms.frmStep7.AddAccommodationEndDate.$pristine || Step7Submitted)">Please enter an accommodation end date</div>
                            <div class="error" ng-cloak ng-show="forms.frmStep7.AddAccommodationStartDate.$error.dateLowerThan">The end date cannot be before the start date.</div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="ui.NewHCP">&nbsp;</div>
                <div class="row pull-center" ng-if="!ui.ShowSummaryDurationOnly">
                    <a ng-click="ui.AddHCP=true;" ng-show="ui.AddHCP == false || ui.AddHCP == undefined">Add Health Care Provider</a>
                    <a ng-click="ui.AddHCP=false;" ng-show="ui.AddHCP == true">Add Health Care Provider</a>
                </div>
                <div class="row" ng-show="ui.AddHCP">
                    &nbsp;
                </div>
                <div ng-show="ui.AddHCP">
                    <div class="row" ng-show="ui.AddHCP">
                        <div class="col-sm-3 col-header">
                            Primary HCP
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="EmployeeCreateCaseModel.AccommodationRequest.HCPContactId" ng-options="contact.ContactId as contact.Name for contact in ProviderContacts" ng-change="HCPContactChangeAccom(EmployeeCreateCaseModel.AccommodationRequest.HCPContactId)">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="col-sm-1" style="margin-top: 4px !important; padding-left: 0; padding-right: 0;"><i style="cursor:pointer;" class="glyphicon glyphicon-refresh" tooltip="Refresh HCP List" ng-click="GetProviderContacts()"></i></div>
                    </div>
                </div>
                <div class="row" ng-show="ui.NewHCP">
                    &nbsp;
                </div>
                <div ng-show="ui.NewHCP">
                    <div class="row">
                        <div class="col-sm-3 col-header">
                            Health Care Provider Name
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" name="AccommHCPFirstName" placeholder="First" ng-model="EmployeeCreateCaseModel.AccommodationRequest.HCPFirstName" />
                            <input type="text" class="form-control input-sm" name="AccommHCPLastName" placeholder="Last" ng-model="EmployeeCreateCaseModel.AccommodationRequest.HCPLastName" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-header">
                            Health Care Provider Phone
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" name="AccommHCPPhone" ng-model="EmployeeCreateCaseModel.AccommodationRequest.HCPPhone" ng-blur-tel ng-class="{'has-error':(!forms.frmStep7.AccommHCPPhone.$pristine || Step7Submitted) && forms.frmStep7.AccommHCPPhone.$error.tel}" />
                            <span class="error" ng-cloak ng-show="forms.frmStep7.AccommHCPPhone.$error.tel && Step7Submitted">Please enter a valid phone number</span><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-header">
                            Health Care Provider Fax
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" name="AccommHCPFax" ng-model="EmployeeCreateCaseModel.AccommodationRequest.HCPFax" ng-blur-tel ng-class="{'has-error':(!forms.frmStep7.AccommHCPFax.$pristine || Step7Submitted) && forms.frmStep7.AccommHCPFax.$error.tel}" />
                            <span class="error" ng-cloak ng-show="forms.frmStep7.AccommHCPFax.$error.tel && Step7Submitted">Please enter a valid phone number</span><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br />
    <div class="btn-toolbar pull-right">
        <button type="button" class="btn btn-primary" ng-click="GoToStep(3)" style="width: 70px; margin-left: 2px" ng-show="!ui.IsESSCaseReview">Back</button>
        <button type="button" class="btn btn-primary" ng-click="Step7Submitted = true; Step7Submit();" style="width: 70px;" ng-show="!ui.IsESSCaseReview">Next</button>
    </div>
</div>
