﻿<div class="col-sm-offset-1 col-sm-11">
    <form name="forms.frmStep6" novalidate>
        <div>
            <div class="col-sm-5" ng-repeat="absenceReason in AbsenceReasons | filter:FilterReasons" ng-if="EmployeeCreateCaseModel.LeaveFor == 'Self'">
                <div class="radio-wrap">
                    <label class="btn btn-info tooltip-link" ng-class="{'has-error':SelectedAbsenceReason == null && SelectedAbsenceReasonCategory == null && forms.submitted, 'active': SelectedAbsenceReason.Name == absenceReason.Name || SelectedAbsenceReasonCategory.Name == absenceReason.Name}" ng-cloak>
                        <input type="radio"
                               ng-checked="{{SelectedAbsenceReason.Name == absenceReason.Name || SelectedAbsenceReasonCategory.Name == absenceReason.Name}}"
                               ng-class="{'absence-reason-category':absenceReason.IsCategory, 'absence-reason-item': !absenceReason.IsCategory}"
                               ng-click="onClickAbsenceReason(absenceReason)"
                               ng-required="true"
                               ng-model="forms.SelectedReason"
                               name="{{absenceReason.IsCategory ? 'AbsenceReasonCategory' : 'AbsenceReasonId'}}"
                               id="{{absenceReason.IsCategory ? absenceReason.Category + 'AbsenceReasonCategory' : absenceReason.Id + 'AbsenceReasonId'}}"
                               value="{{absenceReason.IsCategory ? absenceReason.Category : absenceReason.Id}}" absence-reason-click ng-cloak> {{absenceReason.Name}}
                    </label>
                </div>
            </div>
            <div class="col-sm-5" ng-repeat="absenceReason in AbsenceReasons | filter:FilterReasons" ng-if="EmployeeCreateCaseModel.LeaveFor == 'Family'">
                <div class="radio-wrap">
                    <label class="btn btn-info tooltip-link" ng-class="{'has-error':SelectedAbsenceReason == null && SelectedAbsenceReasonCategory == null && forms.submitted, 'active': SelectedAbsenceReason.Name == absenceReason.Name || SelectedAbsenceReasonCategory.Name == absenceReason.Name}" ng-cloak>
                        <input type="radio"
                               ng-checked="{{SelectedAbsenceReason.Name == absenceReason.Name || SelectedAbsenceReasonCategory.Name == absenceReason.Name}}"
                               ng-class="{'absence-reason-category':absenceReason.IsCategory, 'absence-reason-item': !absenceReason.IsCategory, 'active': forms.SelectedReason.Id == absenceReason.Id }"
                               ng-click="onClickAbsenceReason(absenceReason)"
                               ng-required="true"
                               ng-model="forms.SelectedReason"
                               name="{{absenceReason.IsCategory ? 'AbsenceReasonCategory' : 'AbsenceReasonId'}}"
                               id="{{absenceReason.IsCategory ? absenceReason.Category + 'AbsenceReasonCategory' : absenceReason.Id + 'AbsenceReasonId'}}"
                               value="{{absenceReason.IsCategory ? absenceReason.Category : absenceReason.Id}}" absence-reason-click ng-cloak> {{absenceReason.Name}}
                    </label>
                </div>
            </div>
            <div class="col-sm-offset-1 col-sm-11">
                <span ng-cloak ng-show="SelectedAbsenceReason == null  && SelectedAbsenceReasonCategory == null && frmStep6Submitted" class="error">Please select a reason</span>
            </div>
        </div>
        <div class="col-sm-12" ng-show="SelectedAbsenceReason.Code == 'PREGMAT' || SelectedAbsenceReason.Code == 'ADOPT' || SelectedAbsenceReason.Code == 'EHC' || SelectedAbsenceReason.Code == 'FHC' || SelectedAbsenceReasonCategory.Name == 'Military' || SelectedAbsenceReasonCategory.Name == 'Other' || SelectedAbsenceReasonCategory.Name == 'Administrative'" ng-cloak>
            <hr />
        </div>
        <div class="col-sm-11" ng-show="SelectedAbsenceReasonCategory.Name == 'Military'" ng-cloak>
            <div>
                <label ng-if="EmployeeCreateCaseModel.LeaveFor=='Self'">
                    Are you active duty or retired military?
                </label>
                <label ng-if="EmployeeCreateCaseModel.LeaveFor=='Family'">
                    Is your {{Relation == 'NewRel' ? EmployeeNewRelationship.Text : EmployeeExistingRelationship.Text}} active duty or retired military?
                </label>
            </div><!--/.create-case-select-->
            <div class="col-sm-8">
                <div class="row">
                    <div class="btn-group group-3" data-toggle="buttons">
                        <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.MilitaryStatusId == 0}" ng-click="EmployeeCreateCaseModel.MilitaryStatusId=0;">
                            <input type="radio" name="MilitaryStatus" ng-model="EmployeeCreateCaseModel.MilitaryStatusId" ng-required="SelectedAbsenceReasonCategory.Name == 'Military'" /> No (Civilian)
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.MilitaryStatusId == 1}" ng-click="EmployeeCreateCaseModel.MilitaryStatusId=1;">
                            <input type="radio" name="MilitaryStatus" ng-model="EmployeeCreateCaseModel.MilitaryStatusId" ng-required="SelectedAbsenceReasonCategory.Name == 'Military'" /> Active Duty
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : EmployeeCreateCaseModel.MilitaryStatusId == 3}" ng-click="EmployeeCreateCaseModel.MilitaryStatusId=3;">
                            <input type="radio" name="MilitaryStatus" ng-model="EmployeeCreateCaseModel.MilitaryStatusId" ng-required="SelectedAbsenceReasonCategory.Name == 'Military'" /> Retired
                        </label>
                    </div>
                </div>
                <span class="error" ng-cloak ng-show="forms.frmStep6.MilitaryStatus.$error.required && frmStep6Submitted">Please select a military status</span>
            </div>
        </div>
        <div class="col-sm-12 clearfix">&nbsp;</div>
        <div class="col-sm-11" ng-show="SelectedAbsenceReasonCategory.Name == 'Military'" ng-cloak>
            <label>select the reason for this military related leave of absence</label>
        </div>
        <div class="col-sm-12" ng-repeat="absenceReason in AbsenceReasons | filter:filterOnlyAbsenceReasonsWithChildren">
            <div class="row absence-reason-category-div" id="{{absenceReason.Category + 'AbsenceReasonCategoryDiv'}}" style="display:none">
                <!--@*ng-if="($parent.selectedReason != 'Other' && $parent.selectedReason != 'Military') || (EmployeeCreateCaseModel.LeaveFor=='Family' && (childReason.Code == 'PARENTAL' || childReason.Code == 'MILITARY' || childReason.Code == 'EXIGENCY' || childReason.Code == 'CEREMONY')) || (EmployeeCreateCaseModel.LeaveFor=='Self' && $parent.selectedReason == 'Other' && childReason.Code != 'PARENTAL') || (EmployeeCreateCaseModel.LeaveFor=='Self' && $parent.selectedReason == 'Military' && childReason.Code == 'RESERVETRAIN')"*@-->
                <div class="col-sm-5" ng-repeat="childReason in absenceReason.Children | filter:{IsForFamilyMember: false}" ng-show="EmployeeCreateCaseModel.LeaveFor == 'Self' && SelectedAbsenceReasonCategory != null">
                    <div class="radio-wrap">
                        <label class="btn btn-info tooltip-link" @* data-toggle="tooltip" title="Select if employee him/herself has a health issue" *@ ng-class="{'has-error':SelectedAbsenceReason == null && forms.submitted, 'active': SelectedAbsenceReasonCategory.Id == absenceReason.Id }" ng-cloak>
                            <input type="radio" class="absence-reason-child-item"
                                   ng-checked="{{SelectedAbsenceReason.Id == childReason.Id}}"
                                   ng-click="onClickAbsenceReason(childReason)"
                                   name="AbsenceReasonId"
                                   id="{{childReason.Id + 'AbsenceReasonItem'}}"
                                   value="{{childReason.Id}}" ng-cloak
                                   ng-required="IsRequired"
                                   ng-model="selectedReasonChild"> {{childReason.Name}}
                        </label>
                    </div>
                </div>
                <div class="col-sm-5" ng-repeat="childReason in absenceReason.Children | filter:{IsForFamilyMember: true}" ng-show="EmployeeCreateCaseModel.LeaveFor == 'Family' && SelectedAbsenceReasonCategory != null">
                    <div class="radio-wrap">
                        <label class="btn btn-info tooltip-link" @* data-toggle="tooltip" title="Select if employee him/herself has a health issue" *@ ng-class="{'has-error':SelectedAbsenceReason == null && forms.submitted, 'active': SelectedAbsenceReasonCategory.Id == absenceReason.Id}" ng-cloak>
                            <input type="radio" class="absence-reason-child-item"
                                   ng-checked="{{SelectedAbsenceReason.Id == childReason.Id}}"
                                   ng-click="onClickAbsenceReason(childReason)"
                                   name="AbsenceReasonId"
                                   id="{{childReason.Id + 'AbsenceReasonItem'}}"
                                   value="{{childReason.Id}}" ng-cloak
                                   ng-required="IsRequired"
                                   ng-model="selectedReasonChild"> {{childReason.Name}}
                        </label>
                    </div>
                </div>
                <div class="col-sm-12">
                    <span ng-cloak ng-show="SelectedAbsenceReason == null  && frmStep6Submitted" class="error">Please select a reason</span>
                </div>
            </div>
        </div>
        <div class="col-sm-11" ng-show="SelectedAbsenceReason.Code == 'PREGMAT'" ng-cloak>
            <div>
                <label class="col-sm-3">Expected Delivery Date</label>
                <div class="input-group date create-case-select col-sm-9">
                    <input type="text" id="expectedDeliveryDate" datepicker-options="dateOptions" at-datepicker-popup="MM/dd/yyyy" ng-required="SelectedAbsenceReason.Code == 'PREGMAT'"
                           name="expectedDeliveryDate" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.ExpectedDeliveryDate" />
                    <label for="expectedDeliveryDate" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </label>
                </div>
                <div class="error col-sm-offset-3" ng-cloak ng-show="forms.frmStep6.expectedDeliveryDate.$error.required && frmStep6Submitted">Please select date</div>
                <label class="col-sm-3">
                    Actual Delivery Date
                </label>
                <div class="col-sm-9 input-group date create-case-select">
                    <input type="text" id="actualDeliveryDate" datepicker-options="dateOptions" at-datepicker-popup="MM/dd/yyyy" ng-required="SelectedAbsenceReason.Code == 'PREGMAT'"
                           name="actualDeliveryDate" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.ActualDeliveryDate" />
                    <label for="actualDeliveryDate" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </label>
                </div>
                <div class="error col-sm-offset-3" ng-cloak ng-show="forms.frmStep6.actualDeliveryDate.$error.required && frmStep6Submitted">Please select date</div>
                <label class="col-sm-3">
                    Will Use Bonding?
                </label>
                <div class="col-sm-9 create-case-select">
                    <div class="row btn-group group-2" data-toggle="buttons">
                        <label id="willUseBonding" class="btn btn-info" ng-click="EmployeeCreateCaseModel.WillUseBonding=true;">
                            <input type="radio" ng-model="EmployeeCreateCaseModel.WillUseBonding" value="true" /> Yes
                        </label>
                        <label id="willNotUseBonding" class="btn btn-info" ng-click="EmployeeCreateCaseModel.WillUseBonding=false;">
                            <input type="radio" ng-model="EmployeeCreateCaseModel.WillUseBonding" value="false" /> No
                        </label>
                    </div>
                </div>
                <div id="bondingDatesDiv" class="col-sm-12" ng-show="EmployeeCreateCaseModel.WillUseBonding==true">
                    <div class="row">
                        <label class="col-sm-3">
                            Bonding Dates
                        </label>
                        <div class="input-daterange input-group col-sm-9 create-case-select" ng-cloak>
                            <input type="text" name="BondingStartDate" class="form-control create-case-select" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="EmployeeCreateCaseModel.BondingStartDate" />
                            <span class="input-group-addon">to</span>
                            <input type="text" name="BondingEndDate" class="form-control create-case-select" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="EmployeeCreateCaseModel.BondingEndDate" />
                        </div>
                    </div>
                </div>
            </div><!--/.create-case-select-->
        </div>
        <div class="col-sm-11" ng-show="SelectedAbsenceReason.Code == 'ADOPT'" ng-cloak>
            <div>
                <label class="col-sm-3">Adoption Date / Foster Care Start Date</label>
                <div class="input-group date create-case-select col-sm-9">
                    <input type="text" id="adoptionDate" datepicker-options="dateOptions" at-datepicker-popup="MM/dd/yyyy" ng-required="SelectedAbsenceReason.Code == 'ADOPT'"
                           name="adoptionDate" class="form-control input-sm" ng-model="EmployeeCreateCaseModel.AdoptionDate" />
                    <label for="adoptionDate" class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </label>
                </div>
                <span class="error" ng-cloak ng-show="forms.frmStep6.adoptionDate.$error.required && frmStep6Submitted">Please select adoption date / foster care start date</span>
            </div><!--/.create-case-select-->
        </div>
        <div class="col-sm-11" ng-show="SelectedAbsenceReason.Code == 'EHC' || SelectedAbsenceReason.Code == 'FHC'" ng-cloak style="margin-bottom: 15px;">
            <div class="col-sm-8">
                <div class="row">
                    <div>
                        <label>
                            Short Description
                        </label>
                        <div>
                            <textarea name="HealthConditionDesc" class="form-control" ng-model="EmployeeCreateCaseModel.ShortDescription" placeholder="Health condition short description" ng-required="SelectedAbsenceReason.Code == 'EHC' || SelectedAbsenceReason.Code == 'FHC'"></textarea>
                        </div>
                        <span class="error" ng-cloak ng-show="forms.frmStep6.HealthConditionDesc.$error.required && frmStep6Submitted">Please enter description</span>
                    </div><!--/.create-case-select-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row" style="height: 100px !important; display:table !important;">
                    <div style="display:table-cell !important; vertical-align: bottom !important;">
                        <a class="btn btn-link" data-toggle="modal" data-target="#RolenResponsibilitis">&nbsp;Rights and Responsbilities</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br />
    <button type="button" class="btn btn-primary pull-right" ng-click="frmStep6Submitted = true; Step6Submit();" style="width: 70px;" ng-show="!IsESSCaseReview">Next</button>
</div>