﻿@model IEnumerable<AbsenceSoft.Reporting.ResultData>

@if (Model == null || Model.Count() == 0)
{
    <div class="case-error">
        <h5 class="text-center"><strong>No Records Found</strong></h5>
    </div>
}
else
{

    List<string> keys = Model.SelectMany(s => s.Keys).Distinct().ToList();

    <div class="col-sm-12 report-table">
        <table class="table table-condensed table-hover table-striped">
            <tbody>
                <tr class="head-border">
                    @foreach (var key in keys)
                    {
                        <th class="data-border">
                            <strong>
                                @key.SplitCamelCaseString()
                            </strong>
                        </th>
                    }
                </tr>
                @foreach (var data in Model)
                {
                    <tr class="data-border">
                        @foreach (var key in keys)
                        {
                            string resultString = "";
                            dynamic value = data[key];
                            if (value != null)
                            {
                                if (value is IEnumerable<object>)
                                {
                                    if (value is AbsenceSoft.Reporting.LinkItem)
                                    {
                                        resultString = string.Format("{0}", value["Value"]);
                                    }

                                }
                                else if (value is DateTime)
                                {
                                    resultString = ((DateTime)value).ToShortDateString();
                                }
                                else if (value is DateTime?)
                                {
                                    resultString = ((DateTime?)value).Value.ToShortDateString();
                                }
                                else if(value is MongoDB.Bson.BsonDateTime)
                                {
                                    resultString = ((MongoDB.Bson.BsonDateTime)value).ToUniversalTime().ToShortDateString();
                                }
                                else
                                {
                                    resultString = value.ToString();
                                }
                            }

                            <td class="data-border">
                                @Html.Raw(resultString)
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}



