﻿@model AbsenceSoft.SelfService.Models.Reports.ReportListModel

<ul class="nav">
    @if (Model.HasChildren == true)
    {
        <li class="reportlist">
            <a class="updownarrow" href="#" id="parent_@Model.Id" data-toggle="collapse" data-target="#@Model.Id" aria-expanded="true"><h4>@Model.Title</h4></a>

            <ul class="nav reportlistholder collapse in" id="@Model.Id" role="menu" aria-labelledby="parent_@Model.Id">
                @foreach (var rpt in Model.ChildReportList)
                {
                    <li>
                        <a href="/reports/@rpt.Report.Id/view">
                            <span>@rpt.Title</span>
                            <span class="rightarrow"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                }
            </ul>
        </li>

    }
    else
    {
        <li class="reportlist" id="parent_@Model.Id">
            <a class="left" role="button" href="/reports/@Model.Report.Id/view">
                <h4>@Model.Title</h4>
                <span class="rightarrow"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></span>
            </a>
        </li>
    }
</ul>