﻿@model AbsenceSoft.SelfService.Models.Reports.ESSReportModel
<div class="row ess-headline">
    <div class="col-sm-12">
        <span class="fa fa-line-chart ess-headicon"></span>
        <h1>My Reports</h1>
    </div>
</div>

<div class="row">
    <nav id="reportcontainer" class="reportcontainer">
        @if (Model.TeamReports != null && Model.TeamReports.Count > 0)
    {
            <div class="col-lg-6">
                <div class="ess-team-report">
                    <h1>My Team Reports</h1>

                    @foreach (var rpt in Model.TeamReports)
                {
                        @Html.Partial("_Report", rpt)
                }

                </div>
            </div>
    }

        @if (Model.OrganizationReports != null && Model.OrganizationReports.Count > 0)
    {
            <div class="col-lg-6">
                <div class="ess-org-report">
                    <h1>My Organization Reports</h1>

                    @foreach (var rpt in Model.OrganizationReports)
                {
                        @Html.Partial("_Report", rpt)
                }
                </div>
            </div>
    }
    </nav>
</div>


