﻿@model AbsenceSoft.SelfService.Models.Reports.ReportViewModel
@{
    string Title = Model.BaseReport.ESSReportDetails.Type == ESSReportType.OrganizationReport ? "My Organization Report" : "My Team Report";
    string reportName = Model.BaseReport.ESSReportDetails.ESSReportName;
    string reportTitle = string.Format("{0} | {1}", Title, reportName);

    ViewBag.Title = Title;
}

@using (Html.BeginRouteForm("RunReport", new { reportId = Model.ReportId }, FormMethod.Post, new { @class = "form-horizontal ess-report", id = "viewReportForm", ng_non_bindable = "" }))
{
    @Html.AntiForgeryToken()
    <!-- Heading -->
    <div class="row ess-headline">
        <div class="col-sm-12"></div>
        <div class="col-sm-10">
            <span class="fa fa-line-chart ess-headicon"></span>
            <h1>@Title | </h1>
            <span class="essreportname">@reportName</span>
        </div>

        <!-- Exportable reports on run -->
        <!-- Show the Export buttons if the report is exportable and has been run -->
        @if (!Model.IsChart && Model.IsReportRun && (Model.BaseReport.IsExportableToCsv || Model.BaseReport.IsExportableToPdf))
        {
            <div class="col-sm-2 exportreport">
                <div class="pull-right">
                    <div class="dropdown">
                        <i class="fa fa-spinner fa-spin hidden"></i>
                        <a class="btn exportbutton" data-toggle="dropdown" role="button">Export<i class="fa fa-external-link" aria-hidden="true"></i></a>
                        <ul role="menu" class="dropdown-menu exportoption">
                            @*<li role="presentation"><a tabindex="-1" role="menuitem"><strong class="text-primary">Export</strong></a></li>
                                <li class="divider"></li>*@
                            @if (Model.BaseReport.IsExportableToPdf)
                            {
                                <li role="presentation"><input type="submit" name="command" value="Export To PDF" class="btn" /></li>
                            }
                            @if (Model.BaseReport.IsExportableToCsv)
                            {
                                <li role="presentation"><input type="submit" name="command" value="Export To CSV" class="btn" /></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>


    @Html.HiddenFor(m => m.ReportId, new { id = "reportId" })

    <!-- Start Panel for Criteria -->
    <div class="panel panel-default row">

        <!-- Criteria heading-->
        <div class="panel-heading" role="tab" id="headingOne">
            <a href="#criteria" role="button" data-toggle="collapse">
                <div id="reportView" class="reportDevider">
                    <label class="lblHeader">
                        @if (Model.IsReportRun)
                        {
                            <i class="fa fa-cog" aria-hidden="true"></i><span class="pointer">Modify Report Criteria</span>
                        }
                        else
                        {
                            <span>Select Report Criteria</span>
                        }
                    </label>
                    @if (Model.IsReportRun)
                    {
                        <label class="lblHeader reportrunon"><span class="pointer">Report Ran @System.DateTime.Now.ToString("MM/dd/yyyy")</span></label>
                    }
                </div>
            </a>
        </div>

        <!-- Criteria Body -->
        <div class="panel-body">

            @if (Model.Criteria.ShowAgeCriteria)
            {
                <div class="col-sm-12 col-wrap">
                    <div class="col-sm-offset-1 col-sm-5">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Age From</label>
                                <div class="col-sm-4">
                                    <div class="input-group date editor">
                                        @Html.TextBoxFor(m => m.Criteria.AgeFrom, "{0:d}", new { id = "criteriaAgeFrom", @class = "form-control input-sm datepicker" })
                                        <label for="criteriaAgeFrom" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <label class="control-label">
                                        To
                                    </label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group date editor">
                                        @Html.TextBoxFor(m => m.Criteria.AgeTo, "{0:d}", new { id = "criteriaAgeTo", @class = "form-control input-sm datepicker" })
                                        <label for="criteriaAgeTo" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <!-- Build the list of criteria that they can select for this report -->
            @if (Model.Criteria.HasCriterias)
            {
                <div class="col-sm-12">

                    <div class="row collapse @if (!Model.IsReportRun)
                {<text>in</text>}" id="criteria">
                        <div class="col-sm-12 ess-caseinputs">
                            <div class="col-sm-12">


                                <!-- Date Clause if model is not chart -->
                                @if (!Model.IsChart)
                                {
                                    <div class="col-sm-6">
                                        <label class="control-label">Date Range</label>
                                       
                                        <table class="criteriafiltertable criteriafilter">
                                            <tr>
                                                <td class="dateinput">@Html.TextBoxFor(m => m.Criteria.StartDate, "{0:d}", new { id = "criteriaStartDate", @class = "form-control input-sm datepicker" })</td>
                                                <td class="to"><label>TO</label></td>
                                                <td class="dateinput">@Html.TextBoxFor(m => m.Criteria.EndDate, "{0:d}", new { id = "criteriaStartDate", @class = "form-control input-sm datepicker" })</td>
                                            </tr>
                                        </table>
                                    </div>
                                }


                                @for (int i = 0; i < Model.Criteria.Filters.Count; i++)
                                {
                                    @:<div class="col-lg-6 col-xs-12">


                                        @Html.HiddenFor(m => Model.Criteria.Filters[i].Name)
                                        <label class="control-label">@Model.Criteria.Filters[i].Prompt</label>
                                        <div class="criteriafilter">
                                            @switch (Model.Criteria.Filters[i].ControlType)
                                            {
                                                case ControlType.ReadOnlyText:
                                                    @Html.TextBoxFor(m => Model.Criteria.Filters[i].Value, new { @class = "form-control", placeholder = Model.Criteria.Filters[i].Prompt, disabled = "true" })
                                                    break;
                                                case ControlType.TextBox:
                                                    @Html.TextBoxFor(m => Model.Criteria.Filters[i].Value, new { @class = "form-control", placeholder = Model.Criteria.Filters[i].Prompt })
                                                    break;
                                                case ControlType.Numeric:
                                                    @Html.TextBoxFor(m => Model.Criteria.Filters[i].Value, new { @class = "form-control", placeholder = Model.Criteria.Filters[i].Prompt, type = "number", step = 1 })
                                                    break;
                                                case ControlType.SelectList:
                                                    if (Model.Criteria.Filters[i].KeepOptionAll)
                                                    {
                                                        @Html.DropDownListFor(m => Model.Criteria.Filters[i].Value, Model.Criteria.Filters[i].Options.Select(o => new SelectListItem()
                                                   {
                                                       Text = o.Text,
                                                       Value = o.Value.ToString()
                                                   }), "All", new { @class = "form-control" })
                                                    }
                                                    else
                                                    {
                                                        @Html.DropDownListFor(m => Model.Criteria.Filters[i].Value, Model.Criteria.Filters[i].Options.Select(o => new SelectListItem()
                                                   {
                                                       Text = o.Text,
                                                       Value = o.Value.ToString()
                                                   }), new { @class = "form-control" })
                                                    }

                                                    break;
                                                case ControlType.RadioButtonList:
                                                    <div class="btn-group group-@( Model.Criteria.Filters[i].Options.Count + 1)" data-toggle="buttons">
                                                        <label class="filterbtn btn btn-info @if ( Model.Criteria.Filters[i].Value == null)
                                                                                        {<text>active</text>}">
                                                            <input type="radio" name="@string.Format("Criteria.Filters[{0}].Value", i)" value="" /> All
                                                        </label>
                                                        @foreach (var option in Model.Criteria.Filters[i].Options)
                                                        {
                                                            <label class="filterbtn btn btn-info @if (option.Value.Equals( Model.Criteria.Filters[i].Value))
                                                                                                {<text>active</text>}">
                                                                <input type="radio" name="@string.Format("Criteria.Filters[{0}].Value", i)" value="@option.Value" @if (option.Value.Equals(Model.Criteria.Filters[i].Value)) { <text> checked </text>                    } /> @option.Text
                                                            </label>
                                                        }
                                                    </div>
                                                    break;

                                                case ControlType.CheckBoxList: /// Checkbox list is actually a multi select drop down
                                                    @Html.DropDownListFor(m => Model.Criteria.Filters[i].Values, Model.Criteria.Filters[i].Options.Select(o => new SelectListItem()
                                               {
                                                   Text = o.Text,
                                                   Value = o.Value.ToString()
                                               }), new { @class = "form-control styledddl", multiple = "true" })
                                                    break;
                                                case ControlType.Duration:
                                                    @Html.EditorFor(m => Model.Criteria.Filters[i], "ReportDuration")
                                                    break;
                                                default:
                                                    throw new NotImplementedException();
                                            }
                                        </div>

                                    if (i == Model.Criteria.Filters.Count - 1)
                                    {
                                        @:</div><div>
                                    }
                                    else if ((i + 1) % 2 != 0)
                                    {
                                        @:</div></div><div class="col-sm-12">
                                    }
                                    else
                                    {
                                        @:</div>
                                    }
                                }


                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        <i class="fa fa-spinner fa-spin hidden"></i>
                                        @if (!Model.IsChart && Model.BaseReport.IsExportableToCsv)
                                        {
                                            <button type="submit" name="command" value="Export To CSV" class="btn btn-secondary"><span>Export To CSV</span></button>
                                        }
                                        @if (!Model.IsChart && Model.BaseReport.IsExportableToPdf)
                                        {
                                            <button type="submit" name="command" value="Export To PDF" class="btn btn-secondary"><span>Export To PDF</span></button>
                                        }
                                        @if (Model.BaseReport.IsViewable)
                                        {
                                            <button id="runReport" type="submit" name="command" value="Run Report" class="btn run-button"><i class="fa fa-play-circle" aria-hidden="true"></i><span>Run Report</span></button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            }




            <div class="row">

                <!-- Chart Section -->
                <div class="col-sm-12" id="chartContainer">
                    <div class="col-sm-12 text-center" id="chartTitle"></div>
                    <div class="col-sm-12 text-center">
                        <a href="#criteria" data-toggle="collapse" id="chartCriteria"></a>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="theChart">

                            </div>
                        </div>
                    </div>
                </div>


                <!-- Results Section -->
                <div class="row row-offset">
                    @if (Model.IsReportRun && Model.Results.Success)
                    {
                        if (Model.BaseReport.IsGrouped)
                        {
                            if (Model.Results.Groups != null && Model.Results.Groups.Count() > 0)
                            {
                            <div class="col-sm-12">
                                @foreach (var group in Model.Results.Groups)
                                {
                                    string groupId = string.Format("groupSection{0}", group.Key);
                                    <a class="report-toc" href="#@groupId">@group.Label</a>
                                    if (Model.Results.Groups.IndexOf(group) != Model.Results.Groups.Count - 1)
                                    {
                                        <text>|</text>
                                    }
                                }
                            </div>
                                foreach (var group in Model.Results.Groups)
                                {
                                    string groupId = string.Format("groupSection{0}", group.Key);
                                <div class="col-sm-12 text-primary report-group-label">
                                    <label id="@groupId">@group.Label</label>
                                </div>
                                @Html.Partial("_ReportResults", group.Items)
                                }
                            }
                            else
                            {
                                <div class="case-error">
                                    <h5 class="text-center"><strong>No Records Found</strong></h5>
                                </div>
                            }
                        }
                        else
                        {
                            @Html.Partial("_ReportResults", Model.Results.Items)
                        }
                    }
                </div>



                <!-- Error Section -->
                <div id="message" class="error text-center">
                    @if (Model.IsReportRun && !Model.Results.Success)
                {
                        <p>Unable to run the report.<br />@Model.Results.Error</p>
                    }
                </div>

                <div class="col-sm-12 row-offset"></div>

            </div>

        </div>
    </div>
}


@section scripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
}
