﻿@model AbsenceSoft.Models.Templates.CommunicationTemplateViewModel

@using (Html.BeginRouteForm("SaveCommunications", FormMethod.Post, new { id = "editCommunicationTemplateForm", ng_non_bindable = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewCommunications")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Communication Template</h3>

                <div class="pull-right admin-enabled">
                    @if (!Model.IsCustom())
                    {
                        @Html.Partial("_AdminConfigEnableDisableButtons", Model)
                    }

                    @if (Model.IsDeleteable())
                    {
                        
                            @Ajax.RouteLink("Delete", "DeleteCommunications", new { employerId = ViewBag.EmployerId, id = Model.Id }, new AjaxOptions()
                           {
                               HttpMethod = "DELETE"
                           }, new { @class = "btn btn-primary btn-danger" })
                        
                    }
                </div>
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Id, new { @id="templateId" })
        <input type="hidden" name="EmployerId" id="employerId" value="@ViewBag.EmployerId" />
        @Html.HiddenFor(m => m.DocumentId)
        @Html.HiddenFor(m => m.DocumentName)
        <div class="row">
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.Code)
                        @if (Model.Id != null)
                        {
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @readonly = "readonly" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control"})
                        }

                        @Html.ValidationMessageFor(m => m.Code)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-9 form-group">
                        @Html.LabelFor(m => m.Subject)
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Subject)
                    </div>
                    <div class="col-xs-3 form-group">
                        @Html.LabelFor(m => m.DocType)
                        @Html.EnumUIDropDownListFor(m => m.DocType, "Select a Doc Type", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DocType)
                    </div>
                </div>
                <div class="row admin-check-large">
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.AttachLatestIncompletePaperwork)
                        @Html.CheckBoxFor(m => m.AttachLatestIncompletePaperwork)
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.IsLOASpecific)
                        @Html.CheckBoxFor(m => m.IsLOASpecific)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        @Html.LabelFor(m => m.Paperwork)
                        @Html.PaperworkListBoxFor(m => m.Paperwork, new { @class = "form-control", multiple = "multiple", id = "selectedPaperwork" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="file" id="communicationTemplateUploadFile" name="document" class="hide" />
                    <label for="communicationTemplateUploadFile" class="btn btn-primary admin-logo-btn">Upload New Communication Template</label>
                </div>
                <div class="form-group hide" id="uploadedTemplate">
                    <span id="templateName"></span> <span class="fa fa-2x fa-times text-danger" id="cancelCommunicationTemplateUpload"></span>
                </div>
            </div>
            <div class="col-xs-2">
                <a href="@Url.AdministrationRouteUrl("DownloadTemplateCatalog")" class="admin-down-cat">
                    Download Catalog
                </a>
                <a href="~/Content/Communications Tool User Guide.pdf" class="admin-comm-btn">
                    Communications Tool User Guide
                </a>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.DocumentId))
        {
            <div class="form-group" id="currentCommunicationTemplate">
                @Html.RouteLink(Model.DocumentName ?? "Current Communication Template", "DownloadDocument", new { documentId = Model.DocumentId }, null)
            </div>
        }
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "EditCommunications", new { employerId = EmployerId, id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            @if (Model.IsSaveable())
            {
                <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveCommunicationTemplate"/>
            }
        </div>
    </div>
}