﻿@{
    ViewBag.Title = "Paperwork Template - AbsenceTracker";
}

<div ng-controller="PaperworkTemplateCtrl" ng-init="Init('@ViewBag.EmployerId', '@ViewBag.TemplateId', '@ViewBag.Saved')">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-1">&nbsp;</div>
            <div class="pull-left">
                <h2><span ng-bind="PaperworkTemplate.Name"></span> Template of <span class="name-header" ng-bind="EmployerInfo.SignatureName"></span></h2>
            </div>
            <div class="pull-right col-sm-3">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="~/Content/Communications Tool User Guide.pdf" target="_blank" class="align-with-header">User Guide</a>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-1">&nbsp;</div>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-1">&nbsp;</div>
                <form name="editPaperworkTemplate">
                    <div class="col-sm-11 border">
                        <div class="row">
                            <div class="col-sm-2 col-header">Name</div>
                            <div class="col-sm-10 field-input">
                                <input type="text" class="form-control input-sm" name="Name" ng-model="PaperworkTemplate.Name" ng-required="true" />
                                <span class="error" ng-show="(editPaperworkTemplate.Name.$dirty || editPaperworkTemplate.$dirty) && editPaperworkTemplate.Name.$invalid">Please enter paperwork name</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-header">Description</div>
                            <div class="col-sm-10 field-input">
                                <input type="text" class="form-control input-sm" name="Description" ng-model="PaperworkTemplate.Description" ng-required="true" />
                                <span class="error" ng-show="(editPaperworkTemplate.Description.$dirty || editPaperworkTemplate.$dirty) && editPaperworkTemplate.Description.$invalid">Please enter paperwork description</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-header">Enclosure Text</div>
                            <div class="col-sm-10 field-input">
                                <input type="text" class="form-control input-sm" name="EnclosureText" ng-model="PaperworkTemplate.EnclosureText" ng-required="true" />
                                <span class="error" ng-show="(editPaperworkTemplate.EnclosureText.$dirty || editPaperworkTemplate.$dirty) && editPaperworkTemplate.EnclosureText.$invalid">Please enter paperwork enclosure text</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-header">
                                Requires Review?
                                <icon-help tooltip-placement="right" 
                                           tooltip="Setting 'Requires Review' to 'Yes' will generate a TO-DO when paperwork is received.  IMPORTANT: You must also set a value in Return Date Adjustment."></icon-help>
                            </div>
                            <div class="col-sm-2 field-input">
                                <div class="btn-group group-2" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : PaperworkTemplate.RequiresReview}" ng-click="PaperworkTemplate.RequiresReview=true">
                                        <input type="radio" name="RequiresReview" ng-model="PaperworkTemplate.RequiresReview" value="true" ng-required="true" />
                                        Yes
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : PaperworkTemplate.RequiresReview==false}" ng-click="PaperworkTemplate.RequiresReview=false">
                                        <input type="radio" name="RequiresReview" ng-model="PaperworkTemplate.RequiresReview" value="false" ng-required="true" />
                                        No
                                    </label>
                                </div>
                            </div>
                            <span ng-show="PaperworkTemplate.RequiresReview && PaperworkTemplate.ReturnDateAdjustmentDays == null" class="error" role="alert">Please also specify a Return Date Adjustment.</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-header">Document Type <icon-help tooltip-placement="right" tooltip="While you can upload documents of any type, our templating engine only supports MS Word documents" /></div>
                            <div class="col-sm-2 field-input">
                                <select class="form-control input-sm" name="DocType" ng-model="PaperworkTemplate.DocType" ng-required="true">
                                    <option value="0">None</option>
                                    <option value="1">Template</option>
                                    <option value="2">Html</option>
                                    <option value="3">MS Word</option>
                                    <option value="4">Pdf</option>
                                </select>
                                <span class="error" ng-show="(editPaperworkTemplate.DocType.$dirty || editPaperworkTemplate.$dirty) && editPaperworkTemplate.DocType.$invalid">Please select a document type</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-header">
                                Return Date Adjustment
                            </div>
                            <div class="col-sm-2 field-input">
                                <input type="number" min="0" class="form-control input-sm" name="ReturnDateAdjustment" empty-to-null ng-model="PaperworkTemplate.ReturnDateAdjustmentDays"
                                       tooltip="Enter a value of 0 or greater and a 'Paperwork Due' TO-DO will be generated for that many days from the sent date.  Leave this value empty, and no TO-DO will be generated." />
                                <span class="error" ng-show="(editPaperworkTemplate.ReturnDateAdjustment.$dirty || editPaperworkTemplate.$dirty) && editPaperworkTemplate.ReturnDateAdjustment.$invalid">If specified, Return Date Adjustment must be a numeric integer value of 0 or higher</span>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-2 col-header">File</div>
                            <div class="col-sm-10 field-input" ng-show="PaperworkTemplate.FileName">
                                <a ng-href="/Documents/{{PaperworkTemplate.FileId}}/Download" ng-model="PaperworkTemplate.FileName" target="_blank"><span class="fa fa-download"></span> <span ng-bind="PaperworkTemplate.FileName"></span></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 dragzone">
                                <input file-upload upload-complete="UploadComplete" employer="EmployerInfo" id="paperworkFile" style="display:none" type="file" name="paperworkFile" data-url="/Templates/Paperwork" data-sequential-uploads="false">
                                <label id="paperworkFileLabel" for="paperworkFile" class="btn btn-primary">Select File</label>
                                <label for="paperworkFile">or drag and drop to replace existing paperwork.</label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-2 col-header">Criteria Groups</div>
                            <div class="col-sm-2">
                                <button class="btn btn-default btn-edit btn-small-icon" ng-click="AddGroup()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div ng-repeat="group in PaperworkTemplate.Criteria">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm" ng-model="group.Name" ng-required="true" />
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control input-sm" ng-model="group.SuccessType" ng-required="true">
                                                <option value="0">And</option>
                                                <option value="1">Or</option>
                                                <option value="2">Not</option>
                                                <option value="3">Nor</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn btn-default btn-edit btn-small-icon" ng-click="RemoveGroup(group)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div ng-repeat="criteria in group.Criteria">
                                        <div class="row">
                                            <div class="col-sm-1">&nbsp;</div>
                                            <div class="col-sm-3">
                                                <select class="form-control input-sm" ng-model="criteria.CriteriaType" ng-required="true">
                                                    <option value="0">None</option>
                                                    <option value="1">Policy</option>
                                                    <option value="2">Absence Reason</option>
                                                    <option value="3">Case Type</option>
                                                    <option value="4">Leave of Absence Expression</option>
                                                    <option value="5">Contact Type</option>
                                                    <option value="6">Military Status</option>
                                                    <option value="7">Accomodation</option>
                                                    <option value="8">Work State</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control input-sm" ng-model="criteria.Criteria" ng-required="true" />
                                            </div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-default btn-edit btn-small-icon" ng-click="AddCriteria(group)">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                                <button class="btn btn-default btn-edit btn-small-icon" ng-show="group.Criteria.length > 1" ng-click="RemoveCriteria(group, criteria)">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-2 col-header">Additional Fields</div>
                            <div class="col-sm-2">
                                <button class="btn btn-default btn-edit btn-small-icon" ng-click="AddField()">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                        </div>
                        <div id="paperworktemplate-fields-headers" class="row" ng-show="PaperworkTemplate.Fields.length > 0">
                            <div class="col-sm-12">
                                <div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <span type="text" class="col-header">Name</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span type="text" class="col-header">Type</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span type="text" class="col-header">Required</span>
                                        </div>
                                        <div class="col-sm-2">
                                            <span type="text" class="col-header">Order</span>
                                        </div>
                                        <div class="col-sm-1">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div ng-repeat="field in PaperworkTemplate.Fields">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control input-sm" ng-model="field.Name" ng-required="true" />
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" ng-model="field.Type" ng-required="true" ng-options="o.v as o.n for o in [{ n: 'Text', v: 0 }, { n: 'Work Restrictions', v: 4 }]"></select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control input-sm" ng-model="field.Required" ng-required="true" ng-options="o.v as o.n for o in [{ n: 'No', v: false }, { n: 'Yes', v: true }]"></select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control input-sm" ng-model="field.Order" ng-required="true" />
                                        </div>
                                        <div class="col-sm-1">
                                            <button class="btn btn-default btn-edit btn-small-icon" ng-click="RemoveField(field)">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row pull-center">
                <div class="col-sm-12">
                    <button class="btn btn-primary" ng-click="forms.submitted=true; SavePaperworkTemplate()">Save Paperwork Template</button>
                    <button class="btn btn-danger" ng-show="PaperworkTemplate.Id" ng-click="DeletePaperworkTemplate()">Delete</button>
                    <a href="@string.Format("/Templates/{0}/Manage", ViewBag.EmployerId)" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>