﻿@model AbsenceSoft.Models.Templates.PaperworkTemplateViewModel

@using (Html.BeginRouteForm("SavePaperwork", FormMethod.Post, new { id = "editPaperworkTemplateForm", ng_non_bindable = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewPaperwork")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Paperwork Template</h3>
                @if (Model.IsDeleteable())
                {
                    <div class="pull-right">
                        @Ajax.RouteLink("Delete", "DeletePaperwork", new { employerId = ViewBag.EmployerId, id = Model.Id }, new AjaxOptions()
                   {
                       HttpMethod = "DELETE"
                   }, new { @class = "btn btn-primary btn-danger" })
                    </div>
                }
            </div>
        </div>

        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.Id)
        <input type="hidden" name="EmployerId" id="employerId" value="@ViewBag.EmployerId" />
        @Html.HiddenFor(m => m.CustomerId)
        @Html.HiddenFor(m => m.FileId)
        @Html.HiddenFor(m => m.FileName)

        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Code)
                @if (Model.Id != null)
                {
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @readonly = "readonly" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                }
                @Html.ValidationMessageFor(m => m.Code)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9 form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div class="col-xs-3 form-group">
                @Html.LabelFor(m => m.DocType)
                @Html.EnumUIDropDownListFor(m => m.DocType, "Select a Doc Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DocType)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.EnclosureText)
                @Html.TextBoxFor(m => m.EnclosureText, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EnclosureText)
            </div>
            <div class="col-xs-3 form-group admin-check-large">
                @Html.LabelFor(m => m.RequiresReview)
                @Html.CheckBoxFor(m => m.RequiresReview)
            </div>
            <div class="col-xs-3 form-group admin-check-large">
                @Html.LabelFor(m => m.IsForApprovalDecision)
                @Html.CheckBoxFor(m => m.IsForApprovalDecision)
            </div>
            <div class="admin-group-addon">
                <div class="col-xs-3 form-group">
                    @Html.LabelFor(m => m.ReturnDateAdjustment)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ReturnDateAdjustment, new { @class = "form-control" })
                        <div class="input-group-addon">days</div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ReturnDateAdjustment)
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="file" id="paperworkTemplateUploadFile" name="document" class="hide" />
            <label for="paperworkTemplateUploadFile" class="btn btn-primary admin-logo-btn">Upload New Paperwork Template</label>
        </div>
        <div class="form-group hide" id="uploadedPaperwork">
            <span id="templateName"></span> <span class="fa fa-2x fa-times text-danger" id="cancelPaperworkTemplateUpload"></span>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.FileId))
        {
            <div class="form-group" id="currentPaperworkTemplate">
                @Html.RouteLink(Model.FileName ?? "Current Paperwork Template", "DownloadDocument", new { documentId = Model.FileId }, null)
            </div>
        }
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <h3>Rules</h3>
                <span class="pull-right">
                    <button class="btn btn-primary addnew-admin-btn add-button" data-source-element-id="ruleGroup" data-target-element-id="criteriaContainer">Add New Rule Group</button>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 absencesoft-repeating-container" id="criteriaContainer">
                @for (int i = 0; i < Model.Criteria.Count; i++)
                {
                    var id = string.Format("ruleGroup{0}", Model.Criteria[i].Id);
                    <div class="absencesoft-repeating admin-rule-group">
                        <div class="row">
                            <div class="col-xs-4 form-group">
                                @Html.LabelFor(m => Model.Criteria[i].Name)
                                @Html.TextBoxFor(m => Model.Criteria[i].Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.Criteria[i].Name)
                            </div>
                            <div class="col-xs-4 form-group">
                                @Html.LabelFor(m => Model.Criteria[i].SuccessType)
                                @Html.EnumUIDropDownListFor(m => Model.Criteria[i].SuccessType, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.Criteria[i].SuccessType)
                            </div>
                            <div class="col-xs-2 text-center">
                                <button class="btn btn-primary addnew-admin-btn add-child-section">
                                    Add New Rule
                                </button>
                                <a href="#@id" data-toggle="collapse" class="rule-toggle">
                                    <i class="fa fa-chevron-circle-down"></i> Toggle Rules
                                </a>
                            </div>
                            <div class="col-xs-2 text-center">
                                <button class="remove-button btn btn-primary btn-danger">
                                    Remove Rule Group
                                </button>
                            </div>

                        </div>
                        <div class="collapse rule-container" id="@id">
                            @if (Model.Criteria[i].Criteria == null)
                            {
                                <p class="no-rules">There are no rules currently configured.</p>
                                continue;
                            }

                            @for (int j = 0; j < Model.Criteria[i].Criteria.Count; j++)
                            {
                                <div class="row rule-row">
                                    <div class="col-xs-4">
                                        @Html.LabelFor(m => Model.Criteria[i].Criteria[j].CriteriaType)
                                        @Html.EnumUIDropDownListFor(m => Model.Criteria[i].Criteria[j].CriteriaType, new { @class = "form-control criteria-type" })
                                        @Html.ValidationMessageFor(m => Model.Criteria[i].Criteria[j].CriteriaType)
                                    </div>
                                    <div class="col-xs-4">
                                        @Html.LabelFor(m => Model.Criteria[i].Criteria[j].Criteria)
                                        @Html.TextBoxFor(m => Model.Criteria[i].Criteria[j].Criteria, new { @class = "form-control criteria-value" })
                                        @Html.ValidationMessageFor(m => Model.Criteria[i].Criteria[j].Criteria)
                                    </div>
                                    <div class="col-xs-2 text-left">
                                        <button class="btn btn-primary btn-danger remove-child-section">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <h3>Fields</h3>
                <span class="pull-right">
                    <button class="btn btn-primary addnew-admin-btn add-button" data-source-element-id="field" data-target-element-id="fieldsContainer">Add New Field</button>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 absencesoft-repeating-container" id="fieldsContainer">
                @for (int i = 0; i < Model.Fields.Count; i++)
                {
                    <div class="absencesoft-repeating admin-rule-group">
                        <div class="row">
                            <div class="col-xs-3">
                                @Html.LabelFor(m => Model.Fields[i].Name)
                                @Html.TextBoxFor(m => Model.Fields[i].Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.Fields[i].Name)
                            </div>
                            <div class="col-xs-3">
                                @Html.LabelFor(m => Model.Fields[i].Type)
                                @Html.EnumDropDownListFor(m => Model.Fields[i].Type, "Select A Type", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.Fields[i].Type)
                            </div>
                            <div class="col-xs-2 admin-check-large">
                                @Html.LabelFor(m => Model.Fields[i].Required)
                                @Html.CheckBoxFor(m => Model.Fields[i].Required)
                            </div>
                            <div class="col-xs-2">
                                @Html.LabelFor(m => Model.Fields[i].Order)
                                @Html.TextBoxFor(m => Model.Fields[i].Order, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => Model.Fields[i].Order)
                            </div>
                            <div class="col-xs-2 text-center">
                                <button class="remove-button btn btn-primary btn-danger">
                                    Remove Field
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "EditPaperwork", new { employerId = ViewBag.EmployerId, id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            @if (Model.IsSaveable())
            {
                <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="savePaperworkTemplate"/>
            }
        </div>
    </div>
}

@{
    var ruleGroupTemplate = new AbsenceSoft.Models.Templates.PaperworkTemplateCriteriaGroupViewModel();
    var ruleTemplate = new AbsenceSoft.Models.Templates.PaperworkTemplateCriteriaViewModel();
    var field = new AbsenceSoft.Models.Templates.PaperworkFieldViewModel();
}

<script type="text/template" id="ruleGroup">
    <div class="absencesoft-repeating admin-rule-group">
        <div class="row">
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => ruleGroupTemplate.Name, new { @for = "Criteria[i].Name" })
                @Html.TextBoxFor(m => ruleGroupTemplate.Name, new { Name = "Criteria[i].Name", @class = "form-control criteria-name" })
                @Html.ValidationMessageFor(m => ruleGroupTemplate.Name)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => ruleGroupTemplate.SuccessType, new { @for = "Criteria[i].SuccessType" })
                @Html.EnumUIDropDownListFor(m => ruleGroupTemplate.SuccessType, new { Name = "Criteria[i].SuccessType", @class = "form-control criteria-success-type" })
                @Html.ValidationMessageFor(m => ruleGroupTemplate.SuccessType)
            </div>
            <div class="col-xs-2 text-center">
                <button class="btn btn-primary addnew-admin-btn add-child-section">
                    Add New Rule
                </button>
                <a href="" data-toggle="collapse" class="rule-toggle">
                    <i class="fa fa-chevron-circle-down"></i> Toggle Rules
                </a>
            </div>

            <div class="col-xs-2 text-center">
                <button class="remove-button btn btn-primary btn-danger" type="button">
                    Remove Rule Group
                </button>
            </div>

        </div>
        <div class="collapse rule-container" id="">
            <p class="no-rules">There are no rules currently configured.</p>
        </div>
    </div>
</script>

<script type="text/template" id="rule">
    <div class="row rule-row">
        <div class="col-xs-4">
            @Html.LabelFor(m => ruleTemplate.CriteriaType)
            @Html.EnumUIDropDownListFor(m => ruleTemplate.CriteriaType, new { @class = "form-control criteria-type" })
            @Html.ValidationMessageFor(m => ruleTemplate.CriteriaType)
        </div>
        <div class="col-xs-4">
            @Html.LabelFor(m => ruleTemplate.Criteria)
            @Html.TextBoxFor(m => ruleTemplate.Criteria, new { @class = "form-control criteria-value" })
            @Html.ValidationMessageFor(m => ruleTemplate.Criteria)
        </div>
        <div class="col-xs-2 text-left">
            <button class="btn btn-primary btn-danger remove-child-section">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
    </div>
</script>

<script type="text/template" id="field">
    <div class="absencesoft-repeating admin-rule-group">
        <div class="row">
            <div class="col-xs-3">
                @Html.LabelFor(m => field.Name)
                @Html.TextBoxFor(m => field.Name, new { @class = "form-control", Name="Fields[i].Name", })
                @Html.ValidationMessageFor(m => field.Name)
            </div>
            <div class="col-xs-3">
                @Html.LabelFor(m => field.Type)
                @Html.EnumDropDownListFor(m => field.Type, "Select A Type", new { @class = "form-control", Name="Fields[i].Type" })
                @Html.ValidationMessageFor(m => field.Type)
            </div>
            <div class="col-xs-2 admin-check-large">
                @Html.LabelFor(m => field.Required)
                @Html.CheckBoxFor(m => field.Required, new { Name = "Fields[i].Required" })
            </div>
            <div class="col-xs-2">
                @Html.LabelFor(m => field.Order)
                @Html.TextBoxFor(m => field.Order, new { @class = "form-control", Name = "Fields[i].Order"  })
                @Html.ValidationMessageFor(m => field.Order)
            </div>
            <div class="col-xs-2">
                <button class="remove-button btn btn-primary btn-danger text-center">
                    Remove Field
                </button>
            </div>
        </div>
    </div>
</script>