﻿@model AbsenceSoft.Logic.ListResults
<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    string customerId = item.Get<string>("CustomerId");
    string employerId = item.Get<string>("EmployerId");
    string name = item.Get<string>("Name");
    string code = item.Get<string>("Code");
    string docType = item.Get<DocumentType>("DocType").ToString().SplitCamelCaseString();
    DateTime? modifiedDate = item.Get<DateTime?>("ModifiedDate");
    bool Suppressed = item.Get<bool>("Suppressed");

    <div class="row">
        <div class="col-sm-12 admin2userlink">
            <a href="@Url.AdministrationRouteUrl("EditCommunications", new { id = id })">
                <div class="row mb5">
                    <div class="col-sm-4 wrapword" style="max-width:400px !important; word-wrap: break-word !important;">
                        @name
                    </div>
                    <div class="col-sm-3">
                        @code
                    </div>
                    <div class="col-sm-3">
                        @docType
                    </div>
                    <div class="col-sm-1">
                        @if (string.IsNullOrEmpty(customerId) && string.IsNullOrEmpty(employerId))
                        {
                            if (Suppressed) //Added to merge to one column status ticket - AT-5088
                            {
                                <text>Disabled</text>
                            }
                            else
                            {
                                <text>Enabled</text>
                            }
                        }
                        else
                        {
                            <text>Customized</text>
                        }
                    </div>
                    <div class="col-sm-1">
                        @if (modifiedDate.HasValue)
                        {
                            @modifiedDate.Value.ToShortDateString()
                        }
                    </div>
                </div>
            </a>
        </div>
    </div>
}