﻿@model IEnumerable<AbsenceSoft.Administration.Models.Communication.CommunicationTemplateViewModel>

<div class="row mtb20">
    <div class="col-xs-9 input-group">
        <input type="search" id="searchCommunicationTemplates" class="form-control" placeholder="Search Communication Templates..." />
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
    </div>
    <div class="col-xs-3">
        @Html.RouteLink("Communication Template", "EditCommunicationTemplate", null, new { @class = "btn btn-new" })
    </div>
</div>
<div class="customer-list">
    <ul>
        @foreach (var comms in Model)
        {
            <li class="communication-template">@Html.RouteLink(comms.Name, "EditCommunicationTemplate", new { id = comms.Id })</li>
        }
    </ul>
</div>
