﻿@model IEnumerable<AbsenceSoft.Administration.Models.Communication.PaperworkTemplateViewModel>

<div class="row mtb20">
    <div class="col-xs-9 search-box">
        <input type="search" id="searchPaperworkTemplates" class="form-control" placeholder="Search Paperwork Templates..." />
    </div>
    <div class="col-xs-3">
        @Html.RouteLink("Paperwork Template", "EditPaperworkTemplate", null, new { @class="btn btn-new"})
    </div>
</div>
<div class="customer-list">
    <ul>
        @foreach (var comms in Model)
        {
            <li class="paperwork-template">@Html.RouteLink(comms.Name, "EditPaperworkTemplate", new { id = comms.Id })</li>
        }
    </ul>
</div>