﻿@model AbsenceSoft.Administration.Models.Communication.CommunicationTemplateViewModel

@{
    ViewBag.Title = "Edit Communication Template";
    bool isNew = string.IsNullOrEmpty(Model.Id);
    AbsenceSoft.Administration.Models.DeleteButtonConfirmationViewModel deleteConfirmationButton = null;

    string name = Model.Name;
    if (isNew)
    {
        name = "New Communication Template";
    }
    else
    {
        deleteConfirmationButton = new AbsenceSoft.Administration.Models.DeleteButtonConfirmationViewModel(Url.RouteUrl("DeleteCommunicationTemplate", new { id = Model.Id }),
            string.Format("Please type <strong>confirm</strong> in the box below to confirm that you intend to delete the communication template {0} for all customers.",
                Model.Name));
    }


}

<div class="name-bar">
    <h1>@name</h1>
    @if (!isNew && CurrentUserHasPermission(Permission.DeleteCommunicationTemplate))
    {
        <span class="pull-right">
            @Html.Partial("_DeleteConfirmationButton", deleteConfirmationButton)
        </span>
    }
</div>
<div class="h100"></div>
@Html.RouteLink("Return To Templates", "Templates", null, new { @class = "return-link" })
<div class="paperwork-content mt20">
    @using (Html.BeginRouteForm("SaveCommunicationTemplate", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.DocumentId)
        @Html.HiddenFor(m => m.DocumentName)
        <div class="row mt20">
            <div class="col-xs-6">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-6">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
        </div>
        <div class="row mt20">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.Subject)
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Subject)
            </div>
        </div>
        <div class="row mt20">
            <div class="col-xs-6">
                @Html.LabelFor(m => m.AttachLatestIncompletePaperwork)
                @Html.CheckBoxFor(m => m.AttachLatestIncompletePaperwork, new { @class = "form-control" })
            </div>
            <div class="col-xs-6">
                @Html.LabelFor(m => m.IsLOASpecific)
                @Html.CheckBoxFor(m => m.IsLOASpecific, new { @class = "form-control" })
            </div>
        </div>
        if (!string.IsNullOrWhiteSpace(Model.DocumentId))
        {
            <div class="row mt20">
                <div class="col-xs-12">
                    @Html.RouteLink(Model.DocumentName ?? "Current Communication Template", "DownloadDocument", new { documentId = Model.DocumentId }, null)
                </div>
            </div> 
        }
        <div class="row mt20">
            <div class="col-xs-3">
                @Html.LabelFor(m => m.DocType)
                @Html.EnumDropDownListFor(m => m.DocType, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DocType)
            </div>
            <div class="col-xs-9">
                <div class="form-group">
                    <input type="file" id="communicationTemplateUploadFile" name="document" class="hide" />
                    <label for="communicationTemplateUploadFile" class="btn btn-commup">Upload New Communication Template</label>
                </div>
                <div class="form-group hide" id="uploadedTemplate">
                    <span id="templateName"></span> <span class="fa fa-2x fa-times text-danger" id="cancelCommunicationTemplateUpload"></span>
                </div>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.PaperworkCodes)
                @Html.PaperworkListBoxFor(m => m.PaperworkCodes, new { @class = "form-control", multiple = "multiple", id = "selectedPaperwork" })
            </div>
        </div>
        <div class="row mt20">
            <div class="col-sm-12 text-center">
                <input type="submit" class="btn btn-save" value="Save Communication Template" />
            </div>
        </div>
    }
</div>