﻿@model AbsenceSoft.Administration.Models.Communication.PaperworkTemplateViewModel

@{
    ViewBag.Title = "Edit Paperwork Template";
    bool isNew = string.IsNullOrEmpty(Model.Id);
    AbsenceSoft.Administration.Models.DeleteButtonConfirmationViewModel deleteConfirmationButton = null;

    string name = Model.Name;
    if (isNew)
    {
        name = "New Paperwork Template";
    }
    else
    {
        deleteConfirmationButton = new AbsenceSoft.Administration.Models.DeleteButtonConfirmationViewModel(Url.RouteUrl("DeletePaperworkTemplate", new { id = Model.Id }),
            string.Format("Please type <strong>confirm</strong> in the box below to confirm that you intend to delete the paperwork template {0} for all customers.",
                Model.Name));
    }
}

<div class="name-bar">
    <h1>@name</h1>
    @if (!isNew && CurrentUserHasPermission(Permission.DeleteCommunicationTemplate))
    {
        <span class="pull-right">
            @Html.Partial("_DeleteConfirmationButton", deleteConfirmationButton)
        </span>
    }
</div>
<div class="h100"></div>
    @Html.RouteLink("Return To Templates", "Templates", null, new { @class = "return-link" })
<div class="paperwork-content mt20">
    @using (Html.BeginRouteForm("SavePaperworkTemplate", FormMethod.Post, new { enctype = "multipart/form-data", id = "editPaperworkTemplate" }))
    {
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.DocumentId)
        @Html.HiddenFor(m => m.DocumentName)
        <div class="row mt20">
            <div class="col-xs-6">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-6">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
        </div>
        <div class="row mt20">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="row mt20">
            <div class="col-xs-4">
                @Html.LabelFor(m => m.EnclosureText)
                @Html.TextBoxFor(m => m.EnclosureText, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EnclosureText)
            </div>
            <div class="col-xs-4">
                @Html.LabelFor(m => m.ReturnDateAdjustment)
                @Html.TextBoxFor(m => m.ReturnDateAdjustment, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ReturnDateAdjustment)
            </div>
            <div class="col-xs-4 text-left">
                @Html.LabelFor(m => m.RequiresReview)
                @Html.CheckBoxFor(m => m.RequiresReview, new { @class = "form-control" })
            </div>
            <div class="col-xs-4 text-left">
                @Html.LabelFor(m => m.IsForApprovalDecision)
                @Html.CheckBoxFor(m => m.IsForApprovalDecision, new { @class = "form-control" })
            </div>
        </div>
        if (!string.IsNullOrWhiteSpace(Model.DocumentId))
        {
            <div class="row mt20">
                <div class="col-xs-12">
                    @Html.RouteLink(Model.DocumentName ?? "Current Paperwork Template", "DownloadDocument", new { documentId = Model.DocumentId }, null)
                </div>
            </div>            
        }
        <div class="row mt20">
            <div class="col-xs-3">
                @Html.LabelFor(m => m.DocType)
                @Html.EnumDropDownListFor(m => m.DocType, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DocType)
            </div>
            <div class="col-xs-9">
                <div class="form-group">
                    <input type="file" id="paperworkTemplateUploadFile" name="document" class="hide" />
                    <label for="paperworkTemplateUploadFile" class="btn btn-commup">Upload New Paperwork Template</label>
                </div>
                <div class="form-group hide" id="uploadedTemplate">
                    <span id="templateName"></span> <span class="fa fa-2x fa-times text-danger" id="cancelPaperworkTemplateUpload"></span>
                </div>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-xs-9"><h3>Paperwork Criteria</h3></div>
            <div class="col-xs-3">
                <button class="btn btn-new" id="newCriteria">Criteria</button>
            </div>
        </div>
        <div class="row mt20 hide" id="invalidRules">
            <div class="col-xs-12">
                <p>All Rules Must Have A Value</p>
            </div>
        </div>
        <div id="paperworkCriteria">
            @foreach (var group in Model.Criteria)
            {
                <div class="criteria-group">
                    <div class="row mt20">
                        <div class="col-xs-3">
                            <label>
                                Name
                                <input type="text" class="form-control criteria-name" value="@group.Name" />
                            </label>
                        </div>
                        <div class="col-xs-3">
                            <label>
                                Success Type
                                <select class="form-control criteria-success-type">
                                    <option value="">Select A Success Type</option>
                                    @foreach (var val in Enum.GetValues(typeof(RuleGroupSuccessType)).Cast<RuleGroupSuccessType>())
                                    {
                                        <option value="@val" @if (val == group.SuccessType) { <text> selected</text>}>@val.ToString()</option>
                                    }
                                </select>
                            </label>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-new new-rule">Rule</button>
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger btn-delete delete-criteria">Remove Criteria</button>
                        </div>
                    </div>
                    <div class="criteria-rules">
                        @foreach (var criteria in group.Group)
                    {
                            <div class="row criteria-rule">
                                <div class="col-xs-3 col-sm-offset-1">
                                    <label>
                                        Rule Type
                                        <select class="form-control rule-type">
                                            <option value="">Select A Type</option>
                                            @foreach (var val in Enum.GetValues(typeof(PaperworkCriteriaType)).Cast<PaperworkCriteriaType>())
                                            {
                                                <option value="@val" @if (val == criteria.CriteriaType) { <text> selected</text>}>@val.ToString()</option>
                                            }
                                        </select>
                                    </label>
                                </div>
                                <div class="col-xs-2">
                                    <label>
                                        Rule
                                        <input type="text" class="form-control rule" value="@criteria.Criteria" />
                                    </label>
                                </div>
                                <div class="col-xs-2">
                                    <button class="btn btn-delete btn-danger delete-rule">Remove Rule</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="row mt20">
            <div class="col-sm-12 text-center">
                <input type="submit" class="btn btn-save" value="Save Paperwork Template" />
            </div>
        </div>
    }
</div>


<div class="criteria-group hide" id="groupTemplate">
    <div class="row mt20">
        <div class="col-xs-3">
            <label>
                Name
                <input type="text" class="form-control criteria-name"  />
            </label>
        </div>
        <div class="col-xs-3">
            <label>
                Success Type
                <select class="form-control criteria-success-type">
                    <option value="">Select A Success Type</option>
                    @foreach (var val in Enum.GetValues(typeof(RuleGroupSuccessType)).Cast<RuleGroupSuccessType>())
                    {
                        <option value="@val">@val.ToString()</option>
                    }
                </select>
            </label>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-new new-rule">Rule</button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-danger btn-delete delete-criteria">Remove Criteria</button>
        </div>
    </div>
    <div class="criteria-rules"></div>
</div>

<div class="row criteria-rule hide" id="ruleTemplate">
    <div class="col-xs-3 col-sm-offset-1">
        <label>
            Rule Type
            <select class="form-control rule-type">
                <option value="">Select A Type</option>
                @foreach (var val in Enum.GetValues(typeof(PaperworkCriteriaType)).Cast<PaperworkCriteriaType>())
                {
                    <option value="@val">@val.ToString()</option>
                }
            </select>
        </label>
    </div>
    <div class="col-xs-3">
        <label>
            Rule
            <input type="text" class="form-control rule" />
        </label>
    </div>
    <div class="col-xs-2">
        <button class="btn btn-danger btn-delete delete-rule">Remove Rule</button>
    </div>
</div>