﻿@{
    ViewBag.Title = "Template Configuration";
}

<div class="name-bar">
    <h1>Core Template Configuration</h1>
</div>
<div class="customer-content">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#communications" data-toggle="tab">Communications</a></li>
        <li><a href="#paperwork" data-toggle="tab">Paperwork</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="communications">
            @Html.Action("CommunicationTemplates")
        </div>
        <div class="tab-pane" id="paperwork">
            @Html.Action("PaperworkTemplates")
        </div>
    </div>
</div>
