﻿@model AbsenceSoft.Models.Reports.AdHocReportResultViewModel

@if (Model.Success && Model.Items != null && Model.RecordCount > 0)
{
    IEnumerable<string> keys = Model.Items.SelectMany(s => s.Keys).Distinct();

    foreach (var item in Model.Items)
    {
        <tr>
            @foreach (var key in keys)
            {
                <td class="data-border">
                    @(item[key] == null ? "" : item[key].ToString())
                </td>
            }
        </tr>
    }
}
