﻿@model AbsenceSoft.Models.Reports.AdHocReportListViewModel
@{
    List<List<AbsenceSoft.Models.Reports.AdHocReportViewModel>> columns = new List<List<AbsenceSoft.Models.Reports.AdHocReportViewModel>>();
    int columnSize = 12 / Model.NumberOfColumns;
    for (int i = 0; i < Model.Reports.Count(); i++)
    {
        int remainder = i % Model.NumberOfColumns;
        List<AbsenceSoft.Models.Reports.AdHocReportViewModel> currentColumnList = null;
        if (remainder >= columns.Count)
        {
            currentColumnList = new List<AbsenceSoft.Models.Reports.AdHocReportViewModel>();
            columns.Add(currentColumnList);
        }
        else
        {
            currentColumnList = columns[remainder];
        }

        currentColumnList.Add(Model.Reports[i]);

    }
}

<div class="row">
    <div class="col-xs-12 text-center">
        <div class="adhoc-mostrec">
            <h1>
            @if (Model.Reports.Count > 0)
            {
                @Model.Title
            }
            else
            {
                @Model.NoReportsMessage
            }
            </h1>
            <div class="row">
                @foreach (var column in columns)
                {
                    <div class="col-xs-@columnSize">
                        <ul id="adhocSavedReportList">
                            @foreach (var report in column)
                            {
                                <li>
                                    @Html.RouteLink(report.Name, "AdHocReport", new { reportTypeId = report.Type.Id, reportId = report.Id })
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
