﻿@model IEnumerable<AbsenceSoft.Models.Reports.ReportTypeViewModel>

<div class="row">
    @foreach (AdHocReportType reportCategory in Enum.GetValues(typeof(AdHocReportType)))
    {
        <div class="col-sm-3  col-xs-6">
            <div class="text-center adh-type-list">
                @Html.Partial("_AdHocReportCategoryIcon", reportCategory)
                <ul>
                    @foreach (var type in Model.Where(r => r.AdHocReportType == reportCategory))
                {
                        <li>
                            @Html.RouteLink(type.Name, "AdHocReport", new { reportTypeId = type.Id })
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>