﻿@model AbsenceSoft.Models.Reports.ReportTypeViewModel

<div id="side-navbar-tree">
    <div class="vertical-scroll">
        @{
            string id = string.Format("#{0}ReportCategory", Model.AdHocReportType);
        }
        <a href="@id" class="return-ad-btn">
            <i class="fa fa-long-arrow-left"></i> Return To Report List
        </a>
        <h4 id="reportTypeTitle" class="report-type-title">@string.Format("{0} Report", Model.Name)</h4>
        <input type="search" placeholder="search text" class="input-search-textbox" id="categorySearch" />
        <div class="css-treeview">
            @foreach (var category in Model.Categories)
            {
                string categoryId = string.Format("adHocReportCategory{0}", category.Name.Replace(" ", ""));
                <ul class="adhoc-report-category-container">
                    <li>
                        <label data-toggle="collapse" data-target="#@categoryId" class="adhoc-report-category">
                            @category.Name <span class="fa fa-chevron-circle-down pull-right ah-light-gray treemenu-margin"></span>
                        </label>
                        <ul class="ad-menu-list collapse sidetree-lists" id="@categoryId" style="overflow:hidden; overflow-y:scroll; max-height: 20.5em;">
                            @foreach (var field in category.Fields)
                            {
                                <li class="format-tree-primary-branch">
                                    <input type="hidden" @if (field.IncludedInReport) { <text> class="include"</text>} value="@field.Name" />
                                    <p>@field.DisplayName</p> 
                                    <span class="fa fa-plus-circle pull-right ah-bright-green @if(field.IncludedInReport){<text>ad-menu-x</text>}"></span>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>