﻿@model AbsenceSoft.Models.Reports.AdHocReportFilterViewModel


<div class="row">
    <div class="col-xs-2">
        @Html.DropDownListFor(m => m.Operator, Model.Operators, "Select a comparison", new { @class = "form-control filter-operator" })
    </div>
    <div class="col-xs-10">
        @switch (Model.ControlType)
        {
            case ControlType.ReadOnlyText:
                @Html.TextBoxFor(m => m.Value, new { @class="form-control filter-value", @readonly="readonly"})
                break;
            case ControlType.TextBox:
            case ControlType.Minutes:
            case ControlType.Numeric:
                @Html.TextBoxFor(m => m.Value, new { @class = "form-control filter-value"})
                break;
            case ControlType.CheckBoxList:
            case ControlType.RadioButtonList:
            case ControlType.SelectList:
            @Html.DropDownListFor(m => m.Value, Model.Options, "Select a comparison", new { @class = "form-control filter-value" })
                break;
            case ControlType.TextArea:
                @Html.TextAreaFor(m => m.Value, new { @class = "form-control filter-value" })
                break;
            case ControlType.Date:
                @Html.TextBoxFor(m => m.Value, new { @class = "form-control filter-value date-editor" })
                break;
            case ControlType.CheckBox:
                <input type="text" class="form-control filter-value" />
                break;
            case ControlType.Hidden:
            case ControlType.Duration:
            default:
                @Model.ControlType.ToString().SplitCamelCaseString()
                break;
        }
    </div>
</div>