﻿@model   AbsenceSoft.Models.Reports.AdHocReportFiltersViewModel

<div id="filters" class="collapse ad-filter-bar">
    <div class="row">
        <div class="col-xs-2 col-header">
            Field
        </div>
        <div class="col-xs-9 col-header">
            Filter
        </div>

    </div>
    <p id="addFiltersText" @if (Model.Filters.Count > 0) { <text> class="hide" </text> }>
        There are currently no filters. Click the '+' to add a new filter.
    </p>
    <div class="absencesoft-repeating-container" id="adHocReportFilters">
        @foreach (var filter in Model.Filters)
        {
            <div class="row absencesoft-repeating">
                <div class="col-xs-2">
                    <select class="report-fields-for-filtering form-control">
                        <option value="">Select a field for filtering</option>
                        @foreach (var category in Model.Categories)
                        {
                            <optgroup label="@category.Name">
                                @foreach (var field in category.Fields)
                                {
                                    <option value="@field.Name" @if (filter.FieldName == field.Name) { <text> selected</text> }>@field.DisplayName</option>
                                }
                            </optgroup>
                        }
                    </select>
                </div>
                <div class="col-xs-9 filter-container">
                    @Html.Partial("_Filter", filter)
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-icon btn-remove-filter remove-button pull-right"><span class="fa fa-times"></span></button>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn-icon add-button pull-right plus-btn" id="addFilter" data-source-element-id="filterTemplate" data-target-element-id="adHocReportFilters"><span class="fa fa-plus"></span></button>
        </div>
    </div>
    <p id="runFiltersText" class="hide">
        You must hit Run Button to apply filter(s) to report.
    </p>
</div>
<script type="text/template" id="filterTemplate">
    <div class="row absencesoft-repeating">
        <div class="col-xs-2">
            <select class="report-fields-for-filtering form-control">
                <option value="">Select a field for filtering</option>
                @foreach (var category in Model.Categories)
                {
                    <optgroup label="@category.Name">
                        @foreach (var field in category.Fields)
                        {
                            <option value="@field.Name">@field.DisplayName</option>
                        }
                    </optgroup>
                }
            </select>
        </div>
        <div class="col-xs-9 filter-container">

        </div>
        <div class="col-xs-1">
            <button class="btn-icon btn-remove-filter remove-button pull-right minu-btn"><span class="fa fa-times"></span></button>
        </div>
    </div>
</script>