﻿@model IEnumerable<AbsenceSoft.Models.Reports.AdHocReportCategory>
@{
    var includedFields = Model.SelectMany(f => f.Fields)
        .Where(f => f.IncludedInReport)
        .OrderBy(f => f.Order);
}


@foreach (var includedField in includedFields)
{
    <th class="adhoc-field" draggable="true">
        <h>@includedField.DisplayName</h>
        <input type="hidden" value="@includedField.Name" />
    </th>
}