﻿@model Dictionary<string, List<AbsenceSoft.Reporting.BaseReport>>
@{
    ViewBag.Title = "Report";
}


<div class="container">
    <div class="col-xs-12 dash-header employee-header">
        <h2 class="ml0"><i class="fa fa-line-chart"></i>@ViewBag.Category</h2>
        <button type="button" class="btn btn-primary navbar-btn pull-right" id="btnReportList">Back</button>
    </div>
    <div>
        @{
            foreach (string category in Model.Keys.Where(k => k != "Audit Report"))
            {
                <div class="col-sm-12 report-content-area">
                    <div class="col-sm-1">
                        <img class="img-responsive reportMenuImage" src='/Content/Images/@Model[category][0].IconImage' alt="" style="max-height: 50px!important; max-width: 50px !important;" />
                    </div>
                    <div class="col-sm-10">
                        <label>@Model[category][0].Category</label>
                        <div class="report-group-types">
                            <span>
                                @{
                                    for (int count = 0; count < Model[category].Count; count++)
                                    {
                                        <a href="/reports/@Model[category][count].Id/view">@Model[category][count].Name</a>
                                        if (count < (Model[category].Count - 1))
                                        {
                                            <span>&nbsp;|&nbsp;</span>
                                        }
                                    }
                                }
                            </span>
                        </div>
                    </div>
                </div>
                                    }
        }
    </div>
</div>