﻿<div class="container">
    <div class="row">
        <div class="col-sm-12 report-home-screen-title">
            <h1><i class="fa fa-area-chart fa-lg report-home-screen-icon"></i>Reporting Home</h1>
        </div>
    </div>
    <div class="row text-center">
        @if (CurrentUserHasPermission(Permission.RunCaseManagerReport.Id))
        {
            <div class="col-sm-4">
                <a class="btn main-report-button" id="operationsReports" name="operationsReports">
                    <div>
                        <span class="fa fa-pie-chart operations-report-icon"></span>
                    </div>
                    <h4 class="control-label">
                        <strong class="title-operations-report">Operations Reports</strong>
                    </h4>
                </a>
            </div>
      }

      @if (CurrentCustomerHasFeature(Feature.BusinessIntelligenceReport))
      {
          if (CurrentUserHasPermission(Permission.RunBIReport.Id))
            {
              <div class="col-sm-4">
                  <a class="btn main-report-button" id="biReports" name="biReports">
                    <div class="row">
                      <span class="fa fa-line-chart business-intelligence-report-icon"></span>
                    </div>
                    <h4 class="control-label ad-dark-red">
                      <strong class="title-business-intelligence-report">Business Intelligence Reports</strong>
                    </h4>
                  </a>
                </div>
            }
      }

      @if (CurrentUserHasPermission(Permission.RunAdHocReport.Id) && CurrentCustomerHasFeature(Feature.AdHocReporting))
        {
            <div class="col-sm-4">
                <a class="btn main-report-button" id="adhocReports" name="adhocReports" href="@Url.RouteUrl("AdHocReports")">
                    <div class="row">
                        <span class="fa fa-bar-chart adhoc-report-icon"></span>
                    </div>
                    <h4 class="control-label">
                        <strong class="title-adhoc-report">Ad Hoc Reporting</strong>
                    </h4>
                </a>
            </div>
        }
    </div>

    @if (CurrentUserHasPermission(Permission.RunOshaReport.Id) && CurrentCustomerHasFeature(Feature.OshaReporting))
    {
        <hr />
        <div class="row text-left">
            <div class="col-sm-6">
                <a class="btn main-report-button-osha" id="oshaReports" name="oshaReports" href="reports/oshareports">
                    <div class="row">
                        <div class="col-sm-12 osha-logo">
                            <img class="img-rounded" src="~/Content/Images/btn-icon-osha.png" />
                            <h4 class="osha-report-text text-left">
                                OSHA REPORTS
                            </h4>
                            <h4 class="subtitle-osha-report text-left">
                                By Year and Report Type
                            </h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }

</div>
