﻿@model IEnumerable<AbsenceSoft.Models.Reports.ReportTypeViewModel>

<div id="side-navbar">
    <div class="ad-cat-vscroll">
        @foreach (AdHocReportType reportCategory in Enum.GetValues(typeof(AdHocReportType)))
        {
            bool active = Model.Any(rt => rt.AdHocReportType == reportCategory && rt.Active);
            if (Model.Count(rt => rt.AdHocReportType == reportCategory) == 0)
            {
                continue;
            }

            string id = string.Format("{0}ReportCategory", reportCategory);
            <div class="vertical-hoc-menu">
                <a class="btn vertical-nav-button adhoc-category-button @if(active){<text>active original-active</text>}" href="#@id">
                    @Html.Partial("_AdHocReportCategoryIcon", reportCategory)
                    <span class="ah-light-gray">@reportCategory.ToString()</span>
                </a>
            </div>
        }
    </div>
</div>

@foreach (AdHocReportType reportCategory in Enum.GetValues(typeof(AdHocReportType)))
{
    if (Model.Count(rt => rt.AdHocReportType == reportCategory) == 0)
    {
        continue;
    }

    string id = string.Format("{0}ReportCategory", reportCategory);
    <div class="adhoc-report-type hide" id="@id">
        <ul class="ad-close-menu">
            <li>
                <a href="#@id">
                    Close Menu <span class="fa fa-times pull-right"></span>
                </a>
            </li>
        </ul>
        <ul>
            @foreach (var reportType in Model.Where(rt => rt.AdHocReportType == reportCategory))
            {

                <li>
                    @*
                        Render the link differently for the given report if the user is viewing that report.
                        This is achieved by interrogating the segments and looking for a segment id==reportType.Id 
                    *@
                    @if (!Request.Url.Segments.Any(r => String.Equals(r, reportType.Id)))
                    {
                        <a href="@Url.RouteUrl("AdHocReport", new {reportTypeId = reportType.Id})">
                            <span class="fa fa-arrow-circle-right pull-right"></span> @reportType.Name
                        </a>
                    }
                    else
                    {
                        <a class="ad-category-current" href="#@id">
                            <span class="fa fa-arrow-circle-right pull-right"></span> @reportType.Name
                        </a>
                    }
                </li>
            }
        </ul>
    </div>

}