﻿@*
    Model true = we're on a sub page
    Model false = we're on the ad hoc reporting home page
*@
@model bool
@{
    string closeUrl = Url.RouteUrl("ReportHome");
    if (Model)
    {
        closeUrl = Url.RouteUrl("AdHocReports");
    }
}


<div class="top-navbar-fixed ad-dis-btn">
    <a class="btn btn-default ad-nav-btns ad-close-btn" href="@closeUrl">
        CLOSE
    </a>
    <button type="button" class="btn btn-default ad-nav-btns ad-load-btn" data-toggle="modal" data-target="#savedReportsModal">
        <span class="fa fa-folder-open-o"></span> LOAD
    </button>
    @if (!Model && CurrentCustomerHasFeature(Feature.ReportingTwoBeta) && CurrentUserHasPermission(Permission.ImportReportDefinition))
    {
        <button type="button" class="btn btn-default ad-nav-btns ad-load-btn" data-toggle="modal" data-target="#uploadScreensModal">
            <span class="fa fa-folder-open-o"></span> Import
        </button>

    }
    @if (Model)
    {
        <button type="button" class="btn btn-default ad-nav-btns ad-save-btn" id="saveAdHocReport">
            <span class="fa fa-floppy-o"></span> SAVE
        </button>
        <button type="button" class="btn btn-default ad-nav-btns ad-saveas-btn" id="saveAsAdHocReport">
            <!--data-toggle="modal" data-target="#adHocSaveReportAsDialog">-->
            <span class="fa fa-floppy-o"></span> SAVE AS
        </button>
        <button type="button" class="btn btn-default ad-nav-btns ad-run-btn" id="runAdHocReport">
            <span class="fa fa-play-circle"></span> RUN
        </button>
        using (Html.BeginRouteForm("ExportAdHocReport", FormMethod.Post, new { id = "exportAdHocReportForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="jsonReportData" value="" id="adHocReportData" />
            <button type="button" class="btn btn-default ad-nav-btns ad-export-btn" id="exportAdHocReport">
                <span class="fa fa-file-excel-o"></span> EXPORT TO CSV
            </button>
        }
        <button type="button" class="btn btn-default ad-nav-btns ad-filter-btn pull-right" data-toggle="collapse" data-target="#filters">
            FILTER <span class="fa fa-filter"></span>
        </button>
    }
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="savedReportsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                <h4 class="modal-title ad-modal-title">Load Report</h4>
            </div>
            <div class="modal-body">
                @Html.Action("SavedReports")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right ad-modal-cancel-btn" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" tabindex="-1" role="dialog" id="uploadScreensModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                <h4 class="modal-title ad-modal-title">Upload File</h4>
            </div>
          
        @using (Html.BeginRouteForm("UploadAdhocReport", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadAdHocReportForm" }))
        {
        <div class="modal-body">
            <div class="input-group">
                <span class="form-control"></span>
                <span class="input-group-btn">
                    <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();" style="margin:0; border-top-right-radius:3px;
  border-bottom-right-radius:3px;">Import</span>
                    <input name="uploaded_file" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file" accept=".report">
                </span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnUploadReport" class="btn btn-default pull-right ad-modal-cancel-btn" >Submit</button>
            <button type="button" class="btn btn-default pull-right ad-modal-cancel-btn" data-dismiss="modal">Close</button>
        </div>
        }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



@if (Model)
{
    @*SAVE-AS button modal*@
    <div class="modal fade" tabindex="-1" id="adHocSaveReportAsDialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                    <h4 class="modal-title ad-modal-title"><span id="adHocReportSaveText">Save Report As:</span></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 ad-modal-inputs">
                            <input type="text" id="adHocReportName" required />
                            <span id="adHocReportNameRequired" class="error hide">You must provide a name for the report.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-right ad-modal-save-btn" id="saveAdHocReportAs">Save</button>
                    <button type="button" class="btn btn-default pull-right ad-modal-cancel-btn" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="noFieldsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                    <h4 class="modal-title ad-modal-title">No Fields Selected</h4>
                </div>
                <div class="modal-body">
                    <p>Please select the fields you want to run before generating a report.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-right ad-modal-cancel-btn" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}
