﻿@{
    Layout = "~/Views/Shared/_FullWidthLayout.cshtml";
}

@Html.Partial("_Toolbar", false)
@Html.Action("ReportSidebar")
<div class="adhoc-container">
    <div class="row">
        <div class="col-xs-12 text-center ad-start">
            <h1>Get Started</h1>
            <h4>Please either choose categories from the menu on the left, or load a prior report.</h4>
        </div>
    </div>
    @Html.Action("MostRecentAdHocReports")
    @Html.Action("AdHocReportTypes")
</div>


