﻿@model AbsenceSoft.Models.Reports.AdHocReportViewModel
@{
    Layout = "~/Views/Shared/_FullWidthLayout.cshtml";
}
@Html.Partial("_Toolbar", true)
@Html.Action("ReportSidebar", new { activeId = Model.Type.Id })
@Html.Action("ReportCategories", new { reportTypeId = Model.Type.Id, reportId = Model.Id })
<div class="adhoc-report-container">
    @Html.HiddenFor(m => m.Id, new { id = "adHocReportId" })
    @Html.HiddenFor(m => m.Type.Id, new { id = "adHocReportTypeId" })
    @Html.Action("ReportFilters", new { reportTypeId = Model.Type.Id, reportId = Model.Id })

    <div class="alert alert-info fade in" id="report-saved-alert">
        <button type="button" class="close">×</button>
        <span></span>
    </div>

    <div class="pull-right">
        <button class="deladrep-btn-body dropdown-toggle far fa-trash-alt" role="button" data-toggle="dropdown" id="deleteImageButton">
            <span class="fa fa-trash ah-white deladrep-btn-bg" aria-hidden="true"></span>
        </button>
        <!-- Pop-Up -->
        <div id="deleteAdHocReportPopUp" class="dropdown-menu drep-dropdown-menu">
            <div class="m-content">
                <div class="m-header">
                    <h4 class="deladrep-title">DELETE REPORT</h4>
                </div>
                <div class="row deladrep-body ah-light-gray-background">
                    <div class="col-xs-8">
                        <p>If you delete the report it will not be recoverable. Please make sure you wish to permanently delete the report.</p>
                    </div>
                    <div class="col-xs-4">
                        <button id="deleteAdHocReport" type="button" class="btn ar-modal-delete-btn deladrep-btn" data-dismiss="modal">DELETE REPORT</button>
                    </div>
                </div>
            </div>

            </div>
        </div>
        @if (CurrentCustomerHasFeature(Feature.ReportingTwoBeta) && CurrentUserHasPermission( Permission.ExportReportDefinition))
        {
        <div id="exportAdHocReportPopUp" class="pull-right adhoc-border-box">
            <button href="#" class="expadrep-btn-body dropdown-toggle far" role="button" data-toggle="dropdown" id="exportImageButton" title="export report">
                <span class="fa fa-file-excel-o ah-white" aria-hidden="true"></span>
            </button>
            <!-- Pop-Up -->

            <div id="exportAdHocReportPopUp" class="dropdown-menu exprep-dropdown-menu">
                <div class="m-content">
                    <div class="m-header">
                        <h4 class="exp-rep-title"><i class="fa fa-share"></i>&nbsp;&nbsp;EXPORT REPORT</h4>
                    </div>
                    <div class="row expadrep-body">
                        <div class="col-xs-12">
                            <p>Do you want to export "Employee Report" from stage to production environment ?</p>
                        </div>

                    </div>
                    <form id="exportReportForm">
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <div class="submit-rpt-btns">
                                    <button type="button" class="btn cancel-btn">CANCEL</button>
                                    <button type="button" id="btnExportReport" class="btn save-btn">EXPORT REPORT</button>
                                </div>
                            </div>
                        </div>                        
                    </form>
                </div>

            </div>

        </div>
        }


        <h3 class="ad-report-title">
            <i class="fa fa-bar-chart ah-bright-blue"></i>
            <span id="adHocReportTitle">
                @if (string.IsNullOrEmpty(Model.Name))
            {
                <text>Untitled Report</text>
            }
            else
            {
                @Html.DisplayFor(m => m.Name)
            }
        </span>
    </h3>
    <div id="adHocLoading" class="ad-loading-modal hide">
        <span class="fa fa-spin fa-spinner"></span> <h4>Loading ... </h4>
    </div>
    <div id="adHocReportResults">
        <div class="col-xs-12 col-wrap table-responsive report-table">
            <div class="margins-and-size-grid adhoc-table">
                <table class="table table-striped" id="AdHocReportDataGrid">
                    <thead>
                        <tr>
                            @if (Model.Results != null)
                            {
                                @Html.Action("ReportHeader", new { reportId = Model.Id })
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Results != null)
                        {
                            @Html.Partial("_AdHocReportResults", Model.Results)
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.Results != null)
        {
            @Html.Partial("_ResultsInformation", Model.Results)
        }
        else
        {
            <p id="adHocMessage"></p>
        }
    </div>
</div>