﻿@{
    ViewBag.Title = "Report";
}
@{
    Layout = "~/Views/Shared/_FullWidthLayout.cshtml";
}
<style type="text/css">
    @@media screen {
        #printSection {
            display: none;
        }
    }

    @@media print {
        body * {
            visibility: hidden;
        }

        #printSection,
        #printSection * {
            visibility: visible;
        }

        #printSection {
            position: absolute;
            left: 0;
            top: 0;
        }
    }
</style>
@if (CurrentCustomerHasFeature(Feature.ReportingTwoBeta))
{
    <a href="@Url.Action("Index", "Home", new { area = "Reporting" })" class="beta-link">
       <i class="fa fa-info-circle"></i> Try The Reporting 2.0 Beta <i class="fa fa-line-chart"></i>
    </a>
}

<div>
    <div class="row">       
        <div class="col-sm-12" id="grpReport">
            <input type="hidden" id="hdnSelectReport" name="hdnSelectReport" value="home">
            @{Html.RenderPartial("_ReportHome");}            
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
}

