﻿@model AbsenceSoft.Models.OshaApi.Osha300AFormPreviewModel
@using (Ajax.BeginForm("Submit300A", new { }, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "Osha300APreviewForm",
    OnSuccess = "AbsenceSoft.PageStart('#Osha300APreviewForm')",
    InsertionMode = InsertionMode.ReplaceWith
},
new { id = "Osha300APreviewForm" }))
{
    @Html.AntiForgeryToken()
    for (int i = 0; i < Model.Osha300AFormPreviewList.Count; i++)
    {
        var model = Model.Osha300AFormPreviewList[i];
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row row-header">
                    <div class="col-lg-8">
                        <div>
                            OSHA’s Form 300A
                        </div>
                        <div>
                            <h2>Summary of Work-Related Injuries and Illnesses</h2>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div align="right">
                            <h4>Year <u>@Html.DisplayFor(m => model.Year)</u></h4>
                            U.S. Department of Labor<br />
                            Occupational Safety and Health Administration
                            <div>Form approved OMB no. 1218-0176</div>
                        </div>
                    </div>
                </div>
                <div class="row"><hr /></div>

                <div class="row">
                    <div class="col-lg-8">
                        <div>
                            All establishments covered by Part 1904 must complete this Summary page, even if no work-related injuries or illnesses occurred during the year. Remember to review the Log
                            to verify that the entries are complete and accurate before completing this summary.
                            Using the Log, count the individual entries you made for each category. Then write the totals below, making sure you’ve added the entries from every page of the Log. If you
                            had no cases, write “0.”
                            Employees, former employees, and their representatives have the right to review the OSHA Form 300 in its entirety. They also have limited access to the OSHA Form 301 or
                            its equivalent. See 29 CFR Part 1904.35, in OSHA’s recordkeeping rule, for further details on the access provisions for these forms.
                        </div>
                        <br />
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading col-header">Number of Cases</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        Total number of
                                        deaths
                                    </div>
                                    <div class="col-sm-3">
                                        Total number of
                                        cases with days
                                        away from work
                                    </div>
                                    <div class="col-sm-3">
                                        Total number of
                                        cases with job
                                        transfer or restriction
                                    </div>
                                    <div class="col-sm-3">
                                        Total number of
                                        other recordable
                                        cases
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.TotalCasesDeaths)</u>
                                    </div>
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.TotalCasesWithDaysAwayFromWork)</u>
                                    </div>
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.TotalCasesWithDaysTransferRestriction)</u>
                                    </div>
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.TotalCasesOther)</u>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        (G)
                                    </div>
                                    <div class="col-sm-3">
                                        (H)
                                    </div>
                                    <div class="col-sm-3">
                                        (I)
                                    </div>
                                    <div class="col-sm-3">
                                        (J)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading col-header">Number of Days</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        Total number of days away
                                        from work
                                    </div>
                                    <div class="col-sm-3">
                                        Total number of days of job
                                        transfer or restriction
                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.NumberOfDays)</u>
                                    </div>
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.NumberOfDaysJobRestriction)</u>
                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        (K)
                                    </div>
                                    <div class="col-sm-3">
                                        (L)
                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-heading col-header">Injury and Illness Types</div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div>Total number of...</div>
                                        <div>(M)</div>
                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        (1) Injuries
                                    </div>
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.TotalInjuries)</u>
                                    </div>
                                    <div class="col-sm-3">
                                        (4) Poisonings
                                    </div>
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.TotalPoisoning)</u>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        (2) Skin disorders
                                    </div>
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.TotalSkinDisorder)</u>
                                    </div>
                                    <div class="col-sm-3">
                                        (5) Hearing loss
                                    </div>
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.TotalHearingLoss)</u>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        (3) Respiratory conditions
                                    </div>
                                    <div class="col-sm-3">
                                        <u>@Html.DisplayFor(m => model.TotalRespiratory)</u>
                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                    <div class="col-sm-3">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="col-header">
                            Post this Summary page from February 1 to April 30 of the year following the year covered by the form.
                        </div>
                        <br />
                        <div>
                            Public reporting burden for this collection of information is estimated to average 58 minutes per response, including time to review the instructions, search and gather the data needed, and
                            complete and review the collection of information. Persons are not required to respond to the collection of information unless it displays a currently valid OMB control number. If you have any
                            comments about these estimates or any other aspects of this data collection, contact: US Department of Labor, OSHA Office of Statistical Analysis, Room N-3644, 200 Constitution Avenue, NW,
                            Washington, DC 20210. Do not send the completed forms to this office.
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-header">
                                        <h5><b>Establishment information</b></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7"><b>Your establishment name</b></div>
                                    <div class="col-sm-5"><u>@Html.DisplayFor(m => model.EstablishmentName)</u></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">Street</div>
                                    <div class="col-sm-8">
                                        <u>@Html.DisplayFor(m => model.StreetAddress)</u>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">City</div>
                                    <div class="col-sm-8">
                                        <u>@Html.DisplayFor(m => model.City)</u>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">State</div>
                                    <div class="col-sm-8">
                                        <u>@Html.DisplayFor(m => model.State)</u>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        ZIP
                                    </div>
                                    <div class="col-sm-8">
                                        <u>@Html.DisplayFor(m => model.PostalCode)</u>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        Industry description <i>( e.g., Manufacture of motor truck trailers)</i>
                                    </div>
                                    <div class="col-sm-12">
                                        <u>@Html.DisplayFor(m => model.IndustryDescription)</u>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        Standard Industrial Classification (SIC), if known <i>(e.g., 3715)</i>
                                    </div>
                                    <div class="col-sm-12">
                                        <u>
                                            @if (model.NaicsCode > 0)
                                            {@Html.DisplayFor(m => model.SicCode)}
                                        </u>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        OR
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        North American Industrial Classification (NAICS), if known <i>(e.g., 336212)</i>
                                    </div>
                                    <div class="col-sm-12">
                                        <u>@Html.DisplayFor(m => model.NaicsCode)</u>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5><b>Employment information</b></h5>
                                        <i>(If you don’t have these figures, see the Worksheet on the back of this page to estimate.)</i>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        Annual average number of employees
                                    </div>
                                    <div class="col-sm-6">
                                        <u>@Html.DisplayFor(m => model.AverageEmployeeCount)</u>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        Total hours worked by all employees last year
                                    </div>
                                    <div class="col-sm-6">
                                        <u>@Html.DisplayFor(m => model.TotalHoursWorked)</u>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12 col-header">
                                        <h5><b>Sign here</b></h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>Knowingly falsifying this document may result in a fine.</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">

                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-12">
                                        I certify that I have examined this document and that to the best of my
                                        knowledge the entries are true, accurate, and complete.
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-8">
                                        Company executive
                                    </div>
                                    <div class="col-sm-4">
                                        Title
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        Phone
                                    </div>
                                    <div class="col-sm-4">
                                        Date
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].AverageEmployeeCount);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].City);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].EmployerId);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].EmployerName);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].EstablishmentCode);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].EstablishmentId);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].EstablishmentName);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].EstablishmentType);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].EstablishmentTypeCode);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].IndustryDescription);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].NaicsCode);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].NumberOfDays);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].NumberOfDaysJobRestriction);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].PostalCode);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].SicCode);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].Size);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].State);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].StreetAddress);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalAllOtherIllnesses);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalCasesDeaths);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalCasesOther);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalCasesWithDaysAwayFromWork);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalCasesWithDaysTransferRestriction);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalHearingLoss);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalHoursWorked);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalInjuries);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalPoisoning);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalRespiratory);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].TotalSkinDisorder);
        @Html.HiddenFor(m => m.Osha300AFormPreviewList[i].Year);
    }

    <div class="col-sm-12">
        <input type="submit" value="E-File 300A" class="btn btn-primary navbar-btn" />
        @Html.RouteLink("Cancel", "reporthome", null, new { @class = "btn btn-primary navbar-btn" })
    </div>
}
