﻿@model AbsenceSoft.Models.Reports.OshaReportViewModel

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <a href="/reports" class="return-osha-btn">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Return To Report Home
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 osha-report-home-screen-title">
            <h2><i class="fa fa-area-chart fa-lg osha-report-home-screen-icon"></i>OSHA Reports</h2>
            <h6>OSHA injury and illness record keeping forms</h6>
        </div>
    </div>

    <div>
        @using (Html.BeginRouteForm("OshaReports", FormMethod.Post, new { id = "DownloadOshaForm" }))
        {
            @Html.AntiForgeryToken()
    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered" />
            <input style="display:none" type="password" name="fakepasswordremembered" />

            <div class="row">
                <div class="col-sm-9">
                    @if (CurrentUser.Customer != null && CurrentUser.Customer.HasFeature(Feature.MultiEmployerAccess) && CurrentUser.Employers.Count > 1)
                    {
                        <span>To run a report, please select an employer, the report type and the year of the report then click 'Run Report' to view the entire report in PDF format</span>
                    }
                    else
                    {
                    <span>To run a report, please select the report type and the year of the report then click 'Run Report' to view the entire report in PDF format</span>
                    }
                </div>
            </div>
            <div class="osha-main-report">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="row">
                            <img class="osha-report-icon img-rounded" src="~/Content/Images/btn-icon-osha.png" />
                        </div>
                    </div>

                    <div class="col-sm-1">
                        <!--gap between columns-->
                        <br />
                    </div>

                    <div class="col-sm-5">

                        @if (CurrentUser.Customer != null && CurrentUser.Customer.HasFeature(Feature.MultiEmployerAccess) && CurrentUser.Employers.Count > 1)
                        {
                            <div class="row">
                                <div class="col-sm-12 mb20">
                                    <div class="row">
                                        @Html.LabelFor(m => m.EmployerId, new { @class = "control-label osha-report-text" })
                                    </div>
                                    <div class="row">
                                        <div class="@(Html.ValidationErrorFor(m => m.Form, "has-error"))">
                                            @Html.EmployerDropDownListFor(m => m.EmployerId, new { @class = "form-control" }, "Please select an employer...")
                                            @Html.ValidationMessageFor(m => m.EmployerId, null, new { @class = "help-block" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.HiddenFor(m => m.EmployerId)
                        }
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="row">
                                    @Html.LabelFor(m => m.SelectedLocation, new { @class = "control-label osha-report-text" })
                                </div>
                                <div class="row">
                                    <div class="select2-wrap">
                                        @Html.ListBoxFor(m => m.SelectedLocation, new MultiSelectList(Model.OfficeLocations.Select(y => new SelectListItem() { Value = y.Code, Text = y.Name }), "Value", "Text"), new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    @Html.LabelFor(m => m.SelectedYear, new { @class = "control-label osha-report-text" })
                                </div>
                                <div class="row">
                                    <div class="@(Html.ValidationErrorFor(m => m.SelectedYear, "has-error"))">
                                        <div class="hidden osha-no-years-found">
                                            <span>There are no reportable cases.</span>
                                        </div>
                                        <i class="fa fa-spinner fa-spin hidden year-spinner"></i>
                                        @Html.ListBoxFor(x => x.SelectedYear, new MultiSelectList(Model.Years.Select(y => new SelectListItem() { Value = y.ToString(), Text = y.ToString() }), "Value", "Text"), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.SelectedYear, null, new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="row">
                                    @Html.LabelFor(m => m.Form, new { @class = "control-label osha-report-text" })
                                </div>
                                <div class="row">
                                    <div class="@(Html.ValidationErrorFor(m => m.Form, "has-error"))">
                                        @Html.DropDownListFor(m => m.Form, Model.Forms.Select(f => new SelectListItem() { Value = f.Item1.ToString(), Text = f.Item2.ToString() }), "Please select a report...", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.Form, null, new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <br />
                            </div>
                        </div>
                        <br />                  
                        <div class="row">
                            <div class="col-sm-5">
                                <!-- Show any results, if any -->
                                @Html.DisplayTextFor(m => m.Results)
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 text-center">
                        <div class="row">                            
                            <input class="btn btn-primary osha-run-report" id="btnOshaViewReport" type="submit" value="RUN REPORT" />
                            <br /><i class="fa fa-spinner fa-spin hidden run-spinner"></i>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
