﻿@model AbsenceSoft.Models.Reports.ReportViewModel
@{
    string reportTitle = string.Format("{0} > {1} {2}", Model.BaseReport.MainCategory, Model.BaseReport.Category, Model.BaseReport.Name);
    ViewBag.Title = reportTitle;
}

@using (Html.BeginRouteForm("RunReport", new { reportId = Model.ReportId }, FormMethod.Post, new { @class = "form-horizontal", id = "viewReportForm", ng_non_bindable="" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ReportId, new { id = "reportId" })
    <div class="col-sm-12">
        <div class="pull-left dash-header">
            <h2 class="ml0">@reportTitle</h2>
        </div>

        <div class="pull-right">
            <button type="button" class="btn btn-primary navbar-btn" onclick="history.go(-1); return false;" id="btnSubReportList">Back</button>
        </div>
    </div>
    <div class="col-sm-12"><hr /></div>
    if (Model.BaseReport.HasLinkedReport && Model.IsReportRun)/// Figure out how to make sure that we have data in the chart too
    {
        <div class="pull-right">
            @Html.ActionLink("View Detailed Report", "View Report", new { reportId = Model.BaseReport.LinkedReport.ReportId }, new { @class = "btn btn-link" })
        </div>
    }

    if (Model.Criteria.ShowAgeCriteria)
    {
        <div class="col-sm-12 col-wrap">
            <div class="col-sm-offset-1 col-sm-5">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Age From</label>
                        <div class="col-sm-4">
                            <div class="input-group date editor">
                                @Html.TextBoxFor(m => m.Criteria.AgeFrom, "{0:d}", new { id = "criteriaAgeFrom", @class = "form-control input-sm" })
                                <label for="criteriaAgeFrom" class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-1 text-center">
                            <label class="control-label">
                                To
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group date editor">
                                @Html.TextBoxFor(m => m.Criteria.AgeTo, "{0:d}", new { id = "criteriaAgeTo", @class = "form-control input-sm" })
                                <label for="criteriaAgeTo" class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Build the list of criteria that they can select for this report -->
    if (Model.Criteria.HasCriterias)
    {
        <div class="col-sm-12">
            <div class="report-area">
            <a href="#criteria" role="button" data-toggle="collapse">
                <div id="reportView" class="reportDevider">
                    <label class="lblHeader">
                        @if (Model.IsReportRun)
                        {
                            <text>Refine your selection criteria</text>
                        }
                        else
                        {
                            <text>Selection Criteria</text>
                        }
                    </label>
                    <label class="lblHeader pull-right report-right-margin"><i class="fa fa-chevron-down"></i></label>
                </div>
            </a>
            <div class="row collapse @if (!Model.IsReportRun)
                                     {<text>in</text>}" id="criteria">
                <div class="col-sm-12 row-offset">
                    <div class="col-sm-10">
                        @if (!Model.IsChart)
                        {
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Date Range</label>
                                <div class="col-sm-4">
                                    <div class="input-group date editor">
                                        @Html.TextBoxFor(m => m.Criteria.StartDate, "{0:d}", new { id = "criteriaStartDate", @class = "form-control input-sm" })
                                        <label for="txtStartDate" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-1 text-center">
                                    <label class="control-label">TO</label>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group date editor">
                                        @Html.TextBoxFor(m => m.Criteria.EndDate, "{0:d}", new { id = "criteriaStartDate", @class = "form-control input-sm" })
                                        <label for="txtStartDate" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                        @for (int i = 0; i < Model.Criteria.Filters.Count; i++)
                        {
                            @Html.HiddenFor(m => Model.Criteria.Filters[i].Name)
                            <div class="form-group">
                                <label class="col-sm-3 control-label">@Model.Criteria.Filters[i].Prompt</label>
                                <div class="col-sm-9">
                                    @switch (Model.Criteria.Filters[i].ControlType)
                                    {
                                        case ControlType.ReadOnlyText:
                                            @Html.TextBoxFor(m => Model.Criteria.Filters[i].Value, new { @class = "form-control", placeholder = Model.Criteria.Filters[i].Prompt, disabled = "true" })
                                            break;
                                        case ControlType.TextBox:
                                        @Html.TextBoxFor(m => Model.Criteria.Filters[i].Value, new { @class = "form-control", placeholder = Model.Criteria.Filters[i].Prompt })
                                            break;
                                        case ControlType.Numeric:
                                        @Html.TextBoxFor(m => Model.Criteria.Filters[i].Value, new { @class = "form-control", placeholder = Model.Criteria.Filters[i].Prompt, type = "number", step = 1 })
                                            break;
                                        case ControlType.SelectList:
                                            if (Model.Criteria.Filters[i].KeepOptionAll)
                                            {
                                                @Html.DropDownListFor(m => Model.Criteria.Filters[i].Value, Model.Criteria.Filters[i].Options.Select(o => new SelectListItem()
                                   {
                                       Text = o.Text,
                                       Value = o.Value.ToString()
                                   }), "All", new { @class = "form-control" })
                                            }
                                            else
                                            {
                                                @Html.DropDownListFor(m => Model.Criteria.Filters[i].Value, Model.Criteria.Filters[i].Options.Select(o => new SelectListItem()
                                   {
                                       Text = o.Text,
                                       Value = o.Value.ToString()
                                   }), new { @class = "form-control" })
                                            }

                                            break;
                                        case ControlType.RadioButtonList:
                                        <div class="btn-group group-@(Model.Criteria.Filters[i].Options.Count + 1)" data-toggle="buttons">
                                            <label class="btn btn-info @if (Model.Criteria.Filters[i].Value == null)
                                                                       {<text>active</text>}">
                                                <input type="radio" name="@string.Format("Criteria.Filters[{0}].Value", i)" value="" /> All
                                            </label>
                                            @foreach (var option in Model.Criteria.Filters[i].Options)
                                            {
                                                <label class="btn btn-info @if (option.Value.Equals(Model.Criteria.Filters[i].Value))
                                                                           {<text>active</text>}">
                                                    <input type="radio" name="@string.Format("Criteria.Filters[{0}].Value", i)" value="@option.Value" @if (option.Value.Equals(Model.Criteria.Filters[i].Value)) { <text> checked </text>   } /> @option.Text
                                                </label>
                                            }
                                        </div>
                                            break;

                                        case ControlType.CheckBoxList: /// Checkbox list is actually a multi select drop down
                                        @Html.ListBoxFor(m => Model.Criteria.Filters[i].Values, Model.Criteria.Filters[i].Options.Select(o => new SelectListItem()
                                   {
                                       Text = o.Text,
                                       Value = o.Value.ToString()
                                   }), new { @class = "form-control" })
                                            break;
                                        case ControlType.Duration:
                                        @Html.EditorFor(m => Model.Criteria.Filters[i], "ReportDuration")
                                            break;
                                        default:
                                            throw new NotImplementedException();
                                    }
                                </div>
                            </div>
                        }

                        <div class="col-sm-12">
                            <div class="pull-right">
                                <i class="fa fa-spinner fa-spin hidden"></i>
                                @if (!Model.IsChart && Model.BaseReport.IsExportableToCsv)
                                {
                                    <input type="submit" name="command" value="Export To CSV" class="btn btn-secondary run-button" />
                                }
                                @if (!Model.IsChart && Model.BaseReport.IsExportableToPdf)
                                {
                                    <input type="submit" name="command" value="Export To PDF" class="btn btn-secondary run-button" />
                                }
                                @if (Model.BaseReport.IsViewable)
                                {
                                    <input id="runReport" type="submit" name="command" value="Run Report" class="btn btn-primary run-button" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    }

    if (Model.IsReportRun)
    {
        <div class="col-sm-12 text-center">
            @string.Format("{0} {1}", Model.BaseReport.Category, Model.BaseReport.Name)
        </div>
        <div class="col-sm-12 text-center">
            <a href="#criteria" data-toggle="collapse">@Model.Criteria.PlainEnglish</a>
        </div>
    }

    <!-- Show the Export buttons if the report is exportable and has been run -->
    if (!Model.IsChart && Model.IsReportRun && (Model.BaseReport.IsExportableToCsv || Model.BaseReport.IsExportableToPdf))
    {
        <div class="col-sm-12">
            <div class="pull-right">
                <div class="dropdown">
                    <i class="fa fa-spinner fa-spin hidden"></i>
                    <a class="btn btn-primary" data-toggle="dropdown" role="button"><i class="glyphicon glyphicon-export"></i> Export<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li role="presentation"><a tabindex="-1" role="menuitem"><strong class="text-primary">Export</strong></a></li>
                        <li class="divider"></li>
                        @if (Model.BaseReport.IsExportableToPdf)
                        {
                            <li role="presentation"><input type="submit" name="command" value="Export To PDF" class="btn btn-secondary btn-block run-button" /></li>
                        }
                        @if (Model.BaseReport.IsExportableToCsv)
                        {
                            <li role="presentation"><input type="submit" name="command" value="Export To CSV" class="btn btn-secondary btn-block run-button" /></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }



    <div class="col-sm-12" id="chartContainer">
        <div class="col-sm-12 text-center" id="chartTitle"></div>
        <div class="col-sm-12 text-center">
            <a href="#criteria" data-toggle="collapse" id="chartCriteria"></a>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="theChart">

                </div>
            </div>
        </div>
    </div>
    <div class="row row-offset">
        @if (Model.IsReportRun && Model.Results.Success)
        {
            if (Model.BaseReport.IsGrouped)
            {
                <div class="col-sm-12">
                    @foreach (var group in Model.Results.Groups)
                    {
                        string groupId = string.Format("groupSection{0}", group.Key);
                        <a class="report-toc" href="#@groupId">@group.Label</a>
                        if (Model.Results.Groups.IndexOf(group) != Model.Results.Groups.Count - 1)
                        {
                            <text>|</text>
                        }
                    }
                </div>
                foreach (var group in Model.Results.Groups)
                {
                    string groupId = string.Format("groupSection{0}", group.Key);
                    <div class="col-sm-12 text-primary report-group-label">
                        <label id="@groupId">@group.Label</label>
                    </div>
                    @Html.Partial("_ReportResults", group.Items)
                }
            }
            else
            {
                @Html.Partial("_ReportResults", Model.Results.Items)
            }
        }
    </div>
    <div id="message" class="error text-center">
        @if (Model.IsReportRun && !Model.Results.Success)
        {
            <p>Unable to run the report.<br />@Model.Results.Error</p>
        }
    </div>
    <div class="col-sm-12 row-offset"></div>
}


@section scripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
}