﻿@model AbsenceSoft.Models.OshaApi.ApiResultViewModel
<div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-header">
                    @foreach (var model in Model.Form300AResponses)
                    {
                        if (model.Errors == null && model.Establishment != null && model.Establishment.Id > 0)
                        {
                            <h3><b>OSHA Form 300A Submitted successfully.</b></h3>
                            <div class="row">
                                <div class="col-sm-6"><b>Your establishment ID</b></div>
                                <div class="col-sm-6">@Html.DisplayFor(m => model.Establishment.Id)</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6"><b>Name of Establishment</b></div>
                                <div class="col-sm-6">@Html.DisplayFor(m => model.Establishment.EstablishmentName)</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6"><b>Year Filing For</b></div>
                                <div class="col-sm-6">@Html.DisplayFor(m => model.YearFilingFor)</div>
                            </div>

                        }
                        else
                        {
                            <h3><b>OSHA Form 300A Submission failed.</b></h3>
                            <div class="row">
                                <div class="col-sm-6"><b>Errors</b></div>
                                <div class="col-sm-6">
                                    @foreach (var error in model.Errors)
                                    {
                                        <p>@error</p>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="btn-toolbar">
        <div class="pull-right">
            @Html.RouteLink("Reports Home", "reporthome", null, new { @class = "btn btn-primary navbar-btn" })
        </div>
    </div>
</div>