﻿@model AbsenceSoft.Data.Cases.CaseAssignmentType

@{
    ViewBag.Title = "Edit Case Assignment Role";
    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<div ng-controller="CaseAssignmentCtrl" ng-init="InitEdit(@theModel)">
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Case Assignment Roles Of <span style="color: #ff8300; font-weight:bold" ng-bind="BasicInfo.CompanyName"></span></h2>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-sm-12"><hr /></div></div>
            <div class="border">
                <form name="editCaseAssignmentType" id="editCaseAssignmentType">
                    <div class="row">
                        <div class="col-sm-3 col-header">Role Name</div>
                        <div class="col-sm-6 field-input">
                            <input type="text" class="form-control input-sm" name="Name" ng-model="AssignmentType.Name" required />
                            <span class="error" ng-show="(editCaseAssignmentType.Name.$dirty || form.submitted) && editCaseAssignmentType.Name.$invalid">Please enter a name for this assignment type.</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-header">Max Allowed Per Case</div>
                        <div class="col-sm-6 field-input">
                            <input type="number" class="form-control input-sm" name="MaxAllowedPerCase" ng-model="AssignmentType.MaxAllowedPerCase" />
                        </div>
                    </div>
                    <div class="row" ng-show="Employers.length > 1">
                        <div class="col-sm-3 col-header">Employer</div>
                        <div class="col-sm-6 field-input">
                            <select ng-model="AssignmentType.EmployerId" class="form-control" ng-options="employer.Id as employer.Name for employer in Employers">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 pull-center">
                            <button type="button" class="btn btn-primary" ng-click="SaveCaseAssignmentType()">Save</button>
                            <button type="button" class="btn btn-danger" ng-click="DeleteCaseAssignmentType()" ng-show="AssignmentType.Id">Delete</button>
                            @Html.ActionLink("Cancel", "Index", new { customerId = Model.CustomerId }, new { @class = "btn btn-link" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


