﻿@model IEnumerable<AbsenceSoft.Data.Cases.CaseAssignmentType>

@{
    ViewBag.Title = "Case Assignment Types";
    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<div ng-controller="CaseAssignmentCtrl" ng-init="InitList(@theModel)">
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Case Assignment Type Of <span style="color: #ff8300; font-weight:bold" ng-bind="BasicInfo.CompanyName"></span></h2>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-sm-12"><hr /></div></div>
            <div class="row item-list">
                <div class="col-sm-2 content-section">
                    Case Assignment Type
                    <a href="@Url.Action("EditCaseAssignmentType", new { customerId = ViewBag.CustomerId})" class="btn btn-primary btn-sm btn-icon-policies-normal">New Assignment Type</a>
                </div>
                <div class="col-sm-10">
                    <div class="border">
                        <div class="row row-header">
                            <div class="col-sm-8">
                                Type Name
                            </div>
                            <div class="col-sm-4" ng-show="Employers.length > 1">
                                Employer
                            </div>
                        </div>
                        <div class="row scroll">
                            <div class="col-sm-12">
                                <div class="row row-hover" ng-repeat="assignmentType in AssignmentTypes" ng-click="GoToAssignmentTypeEdit(assignmentType)">
                                    <div class="col-sm-8" ng-bind="assignmentType.Name"></div>
                                    <div class="col-sm-4" ng-bind="assignmentType.Employer.Name || 'All'" ng-show="Employers.length > 1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>