﻿@model AbsenceSoft.Models.AccommodationTypes.AccommodationTypeViewModel

@using (Ajax.BeginRouteForm("SaveAccommodationType", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "editAccommodationTypeForm",
    OnComplete = "AbsenceSoft.AccommodationType.Start()"
}, new { id = "editAccommodationTypeForm", ng_non_bindable = "" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewAccommodationTypes")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>

    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Accommodation Type</h3>
                <div class="pull-right admin-enabled">
                    @if (Model.IsDeleteable())
                    {
                        @Ajax.RouteLink("Delete", "DeleteAccommodationType", new { id = Model.Id }, new AjaxOptions()
                        {
                            HttpMethod = "DELETE"
                        }, new { @class = "btn btn-primary btn-danger" })
                    }
                    @if (!Model.IsCustom())
                    {
                        if (Model.IsAccommodationTypeSuppressedAtCustomerLevel())
                        {
                            <div class="disabled-button-div" data-toggle="tooltip" data-placement="bottom" title="This configuration needs to be enabled at the customer level.">
                                <span class="fa fa-toggle-off"></span><label class="disabled-button-label">DISABLED</label>
                            </div>
                        }
                        else
                        {
                            <div class="btn btn-group group-2" data-toggle="buttons">
                                <label class="ar-disabled-toggle enabled-btn btn btn-info @if (!Model.IsDisabled) {<text>active</text>}">
                                    <input type="radio" name="Enabled" class="ays-ignore" /> Enabled
                                </label>
                                <label class="ar-disabled-toggle disabled-btn btn btn-info @if (Model.IsDisabled) {<text>active</text>}">
                                    <input type="radio" name="Enabled" class="ays-ignore" /> Disabled
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CustomerId)
        <input type="hidden" name="EmployerId" value="@EmployerId" id="employerId" />
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "accommodationTypeCode" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
        </div>
        <div class="row  admin-check-large">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Order)
                @Html.TextBoxFor(m => m.Order, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Order)
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Duration)
                @Html.EnumUIDropDownListFor(m => m.Duration, new { @class = "form-control" })
            </div>
        </div>
        
        <div class="row admin-check-large">
            @if (CurrentCustomerHasFeature(Feature.AccommodationTypeCategories))
            {
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.Categories)
                    @Html.TextAreaFor(m => m.Categories, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Categories)
                </div>
            }
                <div class="col-xs-6 form-group">
                    @Html.LabelFor(m => m.PreventNew)
                    @Html.CheckBoxFor(m => m.PreventNew, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PreventNew)
                </div>
            </div>
        
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "EditAccommodationType", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveAccommodationType" />
        </div>
    </div>
}