﻿@model AbsenceSoft.Logic.ListResults
<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    string customerId = item.Get<string>("CustomerId");
    string employerId = item.Get<string>("EmployerId");
    string name = item.Get<string>("Name");
    string code = item.Get<string>("Code");
    DateTime? modifiedDate = item.Get<DateTime?>("ModifiedDate");
    <div class="row">
        <div class="col-sm-12 admin2userlink">
            <a href="@Url.AdministrationRouteUrl("EditAccommodationType", new { id = id, employerId = employerId })">
                <div class="row mb5">
                    <div class="col-sm-4">
                        @name
                    </div>
                    <div class="col-sm-4">
                        @code
                    </div>
                    <div class="col-sm-2">
                        @if (string.IsNullOrEmpty(customerId) && string.IsNullOrEmpty(employerId))
                        {
                            if (item.Get<bool>("Disabled"))
                            {
                                <text>Disabled</text>
                            }
                            else
                            {
                                <text>Enabled</text>
                            }
                        }
                        else
                        {
                            <text>Customized</text>
                        }
                    </div>
                    <div class="col-sm-2">
                        @if (modifiedDate.HasValue)
                        {
                            @modifiedDate.Value.ToShortDateString()
                        }
                    </div>
                </div>
            </a>
        </div>
    </div>
}
