﻿@model AbsenceSoft.Models.Employees.EmployeeNecessityViewModel
@using (Ajax.BeginRouteForm("EmployeeNecessitySave", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "editEmployeeNecessityForm",
    OnSuccess = "AbsenceSoft.WorkRestrictions.InitNecessities()",
    InsertionMode = InsertionMode.ReplaceWith
}, new { id = "editEmployeeNecessityForm", @class = "transition" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CaseId)
    @Html.HiddenFor(m => m.EmployeeId)
    <div class="col-sm-12 row-offset-sm">
        <div class="row">
            <div class="col-sm-12 col-wrap wr-header">
                @if (Model.Id == null)
                {
                    <text>Add New Employee Necessity</text>
                }
                else
                {
                    <text>Edit Existing Employee Necessity</text>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.EditorFor(m => m.StartDate)
            </div>
            <div class="col-sm-6">
                @Html.EditorFor(m => m.EndDate)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if (Model.NecessityId == null)
                {
                    @Html.EditorFor(m => m.NecessityId, new { id = "employeeNecessityId" })
                }
                else
                {
                    @Html.EditorFor(m => m.NecessityId, new { id = "employeeNecessityId", @readonly = "readonly" })
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button class="btn btn-link" id="cancelEmployeeNecessity">Cancel</button>
                    <input type="submit" value="Save Employee Necessity" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    </div>
}