﻿@model AbsenceSoft.Models.Demands.NecessityViewModel

@using (Ajax.BeginRouteForm("NecessitySave", null, new AjaxOptions() {
        HttpMethod = "POST",
        UpdateTargetId = "editNecessityForm",
        OnSuccess = "AbsenceSoft.EditNecessity.Start()",
        InsertionMode = InsertionMode.ReplaceWith }, 
    new { id = "editNecessityForm" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewNecessities")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return To List
    </a>
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Necessity</h3>
                @if (Model.IsDeleteable())
                {
                    <div class="pull-right">
                        @Ajax.RouteLink("Delete", "DeleteNecessity", new { id = Model.Id, employerId = ViewBag.EmployerId }, new AjaxOptions()
                           {
                               HttpMethod = "DELETE"
                           }, new { @class = "btn btn-primary btn-danger" })
                    </div>
                }
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id)
        <input type="hidden" name="EmployerId" value="@ViewBag.EmployerId" />
        <div class="row">
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Type)
                @Html.EnumUIDropDownListFor(m => m.Type, "Select a necessity type", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Type)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "EditNecessity", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" />
        </div>
    </div>

}

