﻿<div>
    <div class="form-group">
        <label >Every year, on the</label>
        <select class="form-control-static" 
                name="monthWeek" 
                ng-model="weekOfMonth"
                ng-options="monthWeek.Value as monthWeek.Label for monthWeek in monthWeeks">
        </select>

        <select class="form-control-static" 
                name="weekDay" 
                ng-model="dayOfWeek" 
                ng-options="weekday.Value as weekday.Label for weekday in weekDays" >
        </select>

        <label>of</label>

        <select class="form-control-static" 
                name="month" 
                ng-model="month"
                ng-options="month.Value as month.Label for month in months">
        </select>
    </div>

</div>