﻿@model  List<AbsenceSoft.Models.Administration.EmployerInfo>

@{
    var currentCustomer = Current.Customer();
    bool hasMoreThanTenEmployers = Model.Count > 10;
    var userPermissionsList = GetCurrentUserPermissionList();
}

<div id="administrationSidebar" class="admin-sidebar">
    <ul class="">
        <li>
            <a href="@Url.RouteUrl("AdministrationIndex", null, false)" class="cust-name">
                <span class="fa fa-building"></span>
                @currentCustomer.Name
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
@if (CurrentCustomerHasFeature(Feature.AdminEmployers))
{
        <li>
            <a href="#employers" data-toggle="collapse">
                <span class="fa fa-building-o"></span>
                Employers
                <i class="fa fa-chevron-down"></i>
            </a>
            <div id="employers" class="collapse">
                @if (hasMoreThanTenEmployers)
                {
                    <input type="search" placeholder="Search for Employers..." class="form-control" id="employerSearch" />
                   <div class="viewemp">@Html.RouteLink("View All Employers", "ViewAllEmployers")</div> 
                }
                <ul class="adside-links">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var employer = Model[i];
                        <li class="employer-administration @if (i > 9)
                        {<text>hide</text>}">
                            @Html.RouteLink(employer.EmployerName, "AdministrationIndex", new { employerId = employer.EmployerId }, new { @class = "employer-link" })
                        </li>
                    }
                    @if (HasFeatureAndPermissionFromList(Feature.MultiEmployerAccess, Permission.EditEmployerInfo, userPermissionsList))
                    {
                        <li>
                            <a href="@Url.RouteUrl("AdministrationIndex", new { employerId = "new" })">
                                ADD NEW EMPLOYER <span class="fa fa-plus add-new-employer"></span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </li>
}
        @if (CurrentUserHasPermissionFromList(Permission.EditUser, userPermissionsList))
        {
            <li>
                <a href="@Url.RouteUrl("ViewUsers")">
                    <span class="fa fa-users"></span>
                    Manage Users
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        }
        @if (CurrentUserHasPermissionFromList(Permission.EditRoleDefinition, userPermissionsList))
        {
            <li>
                <a href="@Url.RouteUrl("EditRoles")">
                    <span class="fa fa-user"></span>
                    Manage Roles
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        }
    </ul>
</div>