﻿@model   List<AbsenceSoft.Models.Administration.AdministrationLinkViewModel>

@{
    var currentCustomer = Current.Customer();
    var currentEmployer = Current.Employer();
    List<AbsenceSoft.Models.Administration.AdministrationLinkViewModel> linksToDisplay = null;
    if (currentEmployer == null)
    {
        linksToDisplay = Model.Where(l => l.DisplayForCustomer).ToList();
    }
    else
    {
        linksToDisplay = Model.Where(l => l.DisplayForEmployer).ToList();
    }

    /// build the columns
    List<List<AbsenceSoft.Models.Administration.AdministrationLinkViewModel>> columns = new List<List<AbsenceSoft.Models.Administration.AdministrationLinkViewModel>>();
    int linksColumn = (int)Math.Ceiling((double)linksToDisplay.Count() / 4.0);
    for (int i = 0; i < linksToDisplay.Count(); i++)
    {
        int colCount = i / linksColumn;
        List<AbsenceSoft.Models.Administration.AdministrationLinkViewModel> currentColumnList = null;
        if (colCount >= columns.Count)
        {
            currentColumnList = new List<AbsenceSoft.Models.Administration.AdministrationLinkViewModel>();
            columns.Add(currentColumnList);
        }
        else
        {
            currentColumnList = columns[colCount];
        }

        currentColumnList.Add(linksToDisplay[i]);
    }

    int colSize = 12;

    if (columns.Count > 1)
    {
        colSize = 12 / columns.Count;
    }
}

<div id="administrationHeader">
    <h3>
        @if (currentEmployer == null)
        {
            <text>@currentCustomer.Name</text>
        }
        else
        {
            <text>@currentEmployer.Name</text>

        }
    </h3>
    <ul class="nav-pills admin-subnav">
        <li>
            @Html.AdministrationLink("Main", "AdministrationIndex")
        </li>
        @if (Model.Count > 0 && (currentEmployer == null || !currentEmployer.IsDeleted))
            {
            <li class="dropdown ad-header-configs">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Configurations</a>
                <div id="configurationDropdown" class="dropdown-menu row">
                    @foreach (var column in columns)
                    {
                        <ul class="col-sm-@colSize col-xs-12">
                            @foreach (var link in column)
                            {
                                if ((currentEmployer == null && link.DisplayForCustomer) || (currentEmployer != null && link.DisplayForEmployer))
                                {
                                    <li>
                                         @if (string.IsNullOrWhiteSpace(link.LinkUrl))
                                        {
                                            @Html.AdministrationLink(link.LinkText, link.RouteName)
                                        }
                                        else
                                        {
                                            <a href='@link.LinkUrl'>@link.LinkText</a>
                                        }
                                    </li>
                                }
                            }
                        </ul>
                    }
                </div>
            </li>
        }
       @if (HasFeatureAndPermission(Feature.AdminSecuritySettings, Permission.EditCustomerInfo) && currentEmployer == null)
       {
        <li>
            @Html.RouteLink("Security", "SecuritySettings")
        </li>
       }
       @if (HasFeatureAndPermission(Feature.SingleSignOn, Permission.EditSSOSettings))
       {
        <li>
            @Html.AdministrationLink("SSO Settings", "SSOSettings")
        </li>
       }
    </ul>
</div>
