﻿@model  AbsenceSoft.Models.IDisableableViewModel

@if (Model.IsDisableable())
{
    <div class="disabled-button-div" data-toggle="tooltip" data-placement="bottom" title="This configuration needs to be enabled at the customer level.">
        <span class="fa fa-toggle-off"></span><label class="disabled-button-label">DISABLED</label>
    </div>
}
else
{
    <div class="btn btn-group group-2" data-toggle="buttons">
        <label class="comm-disabled-toggle enabled-btn btn btn-info @if (!Model.Suppressed)
                                {<text>active</text>}">
            <input type="radio" name="Enabled" class="ays-ignore" /> Enabled
        </label>
        <label class="comm-disabled-toggle disabled-btn btn btn-info @if (Model.Suppressed)
                                {<text>active</text>}">
            <input type="radio" name="Enabled" class="ays-ignore" /> Disabled
        </label>
    </div>
}
