﻿@model  AbsenceSoft.Models.IViewModel
@{ 
    var currentEmployer = Current.Employer();
    var currentCustomer = Current.Customer();
}

@* If they aren't looking at a specific document, nothing to do *@
@if (string.IsNullOrEmpty(Model.Id))
{
    return;
}



@if (string.IsNullOrEmpty(Model.CustomerId))
{
    @* They are editing or viewing an AbsenceSoft Default document *@
    string warningMessage = string.Format("This is an AbsenceSoft core {0}.  Making any changes to this {0} will override the default {0} behavior.", Model.DisplayType.ToLower());
    <div class="alert alert-warning" role="alert">
        @warningMessage
    </div>
}
else if (currentEmployer != null && Model.EmployerId == null)
{
    @* They are editing or viewing a Customer Configured document, but opened it from the Employer Level *@
    string warningMessage = string.Format("This {0} is configured for {1}. Making any changes to this {0} will only apply to {2}.", Model.DisplayType.ToLower(), currentCustomer.Name, currentEmployer.Name);
    <div class="alert alert-warning" role="alert">
        @warningMessage
    </div>
}