﻿@model AbsenceSoft.Models.Todos.BaseTodoModel

@using (Html.BeginRouteForm("ChangeToDoStatus", FormMethod.Post, new { id = "cancelToDoForm", @class="hide" }))
{
    @Html.AntiForgeryToken()
    <div id="divCancelReason" class="cancel-reason">
        <label>
            Reason For Canceling
        </label>
        @Html.HiddenFor(m => Model.Id, new { @class = "form-control", id= "canceledToDoId" })
        @Html.TextAreaFor(m => Model.CancelReason, new { @class = "form-control", @required = true, id= "cancelToDoReason" })
        @Html.ValidationMessageFor(m => Model.CancelReason, null, new { @class = "text-danger" })
        <div class="pull-center">
            <input type="submit" value="CANCEL TO-DO" class="btn btn-danger admin-delete-btn" id="cancelToDo" name="cancelToDo" />
        </div>
    </div>
}

