﻿@model AbsenceSoft.Models.Signup.ChangePasswordModel

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="ChangePasswordModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            @Html.Partial("_ChangePasswordForm", Model)
        </div>
    </div>
</div>
