﻿@model AbsenceSoft.Models.Signup.ChangePasswordModel

@using (Ajax.BeginForm("UpdatePassword", "Administration", new { area = "" }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "changePasswordForm", OnSuccess = "AbsenceSoft.PageStart('#changePasswordForm')" }, new { id = "changePasswordForm" }))
{
    @Html.AntiForgeryToken()    
    @Html.HiddenFor(m => m.UserId)
    @Html.ValidationSummary(true, "Unable to change password")
    <div class="modal-body">        
        @Html.EditorFor(m => m.CurrentPassword)
        @Html.EditorFor(m => m.NewPassword)
        @Html.EditorFor(m => m.ConfirmNewPassword)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save" />
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
    </div>
}
