﻿@model List<AbsenceSoft.Models.CustomFields.CustomFieldViewModel>
@if (Model.Count > 0 && CurrentUserHasPermission(Permission.ViewCustomFields))
{
    <div class="col-sm-2 text-center">
        <div class="content-section">Custom Fields</div>
        <div class="btn-icon-notes"></div>
    </div>
    <div class="col-sm-8 employee-area">
        <div class="row ">
            <div class="col-sm-12">
                <div class="row">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4 col-wrap">
                                    <label class="control-label">
                                        @Model[i].Name
                                    </label>
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    @if (Model[i].ValueType == CustomFieldValueType.UserEntered)
                                    {
                                        switch (Model[i].DataType)
                                        {
                                            case CustomFieldType.Text:
                                                <input type="text" id="EmployeeCustomFields[@i].SelectedValue" name="EmployeeCustomFields[@i].SelectedValue" data-val="@Model[i].IsRequired.ToString().ToLower()" data-val-required="@Model[i].Name field is required." class="form-control field-input" value="@Model[i].SelectedValue" />
                                                break;
                                            case CustomFieldType.Number:
                                                <input type="number" id="EmployeeCustomFields[@i].SelectedValue" name="EmployeeCustomFields[@i].SelectedValue" data-val="@Model[i].IsRequired.ToString().ToLower()" data-val-required="@Model[i].Name field is required." class="form-control field-input" value="@Model[i].SelectedValue" />
                                                break;
                                            case CustomFieldType.Date:
                                                DateTime temp;
                                                <div class="form-group">
                                                    <div class="input-group date editor" id="divEmployeeCustomFields[@i].SelectedValue">
                                                        <input id="EmployeeCustomFields[@i].SelectedValue" name="EmployeeCustomFields[@i].SelectedValue" type="text" placeholder="mm/dd/yyyy" class="form-control" data-val="@Model[i].IsRequired.ToString().ToLower()" data-val-required="@Model[i].Name field is required." value=" @( Model[i].SelectedValue != null ? (DateTime.TryParse(Model[i].SelectedValue.ToString(), out temp) ? Convert.ToDateTime(Model[i].SelectedValue).ToUIString() : "") : "")" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                break;
                                            case CustomFieldType.Flag:
                                                <div class="btn-group group-2" data-toggle="buttons">
                                                    <label class="btn btn-info @(Model[i].SelectedValue != null && Model[i].SelectedValue.ToString().ToLower() == "true" ? "active" : "")">
                                                        <input type="radio" name="EmployeeCustomFields[@i].SelectedValue" value="true" /> Yes
                                                    </label>
                                                    <label class="btn btn-info @(Model[i].SelectedValue != null && Model[i].SelectedValue.ToString().ToLower() != "true" ? "active" : "")">
                                                        <input type="radio" name="EmployeeCustomFields[@i].SelectedValue" value="false" /> No
                                                    </label>
                                                </div>
                                                break;
                                        }
                                    }
                                    @if (Model[i].ValueType == CustomFieldValueType.SelectList)
                                    {
                                        @Html.DropDownListFor(m => Model[i].SelectedValue, Model[i].ListValues.Select(f => new SelectListItem() { Value = f.Value, Text = f.Key, Selected = f.Key == Convert.ToString(Model[i].SelectedValue) }), "Select Value", new { @class = "form-control field-input", Name = string.Format("EmployeeCustomFields[{0}].SelectedValue", i), data_val = @Model[i].IsRequired.ToString().ToLower(), data_val_required = @Model[i].Name + " field is required." });
                                    }
                                    <span class="field-validation-valid" data-valmsg-for="EmployeeCustomFields[@i].SelectedValue" data-valmsg-replace="true"></span>
                                    <input type="hidden" name="EmployeeCustomFields[@i].Code" value="@Model[i].Code" />
                                    <input type="hidden" name="EmployeeCustomFields[@i].Id" value="@Model[i].Id" />
                                    <input type="hidden" name="EmployeeCustomFields[@i].ValueType" value="@Model[i].ValueType" />
                                    <input type="hidden" name="EmployeeCustomFields[@i].DataType" value="@Model[i].DataType" />
                                    <input type="hidden" name="EmployeeCustomFields[@i].Name" value="@Model[i].Name" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
