﻿<div id="dashboard-charts" class="row row-offset" has-permission="TeamDashboard">
    <div class="col-sm-4"><div id="case-load-chart" class="dashboard-chart"></div></div>
    <div class="col-sm-4"><div id="open-todos-chart" class="dashboard-chart"></div></div>
    <div class="col-sm-4"><div id="overdue-todos-chart" class="dashboard-chart"></div></div>
</div>

