﻿@model AbsenceSoft.Models.Employees.EmployeeViewModel

<div class="row">
    <div class="col-sm-2 col-header">
        @Html.DisplayNameFor(m => m.FullName)
    </div>
    <div class="col-sm-4">
        @Html.RouteLink(Model.FullName, "ViewEmployee", new { employeeId = Model.Id })
    </div>
    <div class="col-sm-2 col-header">
        @Html.DisplayNameFor(m => m.EmployeeNumber)
    </div>
    <div class="col-sm-4">
        @Html.DisplayFor(m => m.EmployeeNumber)
    </div>
    <div class="btn-right-corner">
        <a class="btn btn-default btn-edit" href="@Url.RouteUrl("EditEmployee", new {employeeId = Model.Id})">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-header">
        @Html.DisplayNameFor(m => m.HireDate)
    </div>
    <div class="col-sm-4">
        @Html.DisplayFor(m => m.HireDate)
    </div>
</div>
<div class="row">
    <div class="pull-right">
        <a href="#moreEmployeeInfo" data-toggle="collapse">additional info</a>
    </div>
</div>
<div class="collapse" id="moreEmployeeInfo">
    <div class="row">
        <div class="col-sm-2 col-header">
            @Html.DisplayNameFor(m => m.Gender)
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(m => m.Gender)
        </div>
        <div class="col-sm-2 col-header">
            @Html.DisplayNameFor(m => m.DateOfBirth)
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(m => m.DateOfBirth)
        </div>
        <div class="col-sm-2 col-header">
            @Html.DisplayNameFor(m => m.SSN)
        </div>
        <div class="col-sm-4">
            @Html.DisplayFor(m => m.SSN)
        </div>
    </div>
</div>
