﻿@using AbsenceSoft.Common;
@{
    var myMessages = new AbsenceSoft.Common.Messaging(Context);
    string curMessage = null;
}
<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var ielt8 = false;
        if (document.all && !document.addEventListener) {
            var ielt8 = true;
        }
    </script>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-custom/_main.css")" />
    @Scripts.Render("~/Scripts/jquery-2.1.0.min.js",
            "~/Scripts/jquery.cookie.js",
                    "~/Scripts/jquery.validate.js",
                     "~/Scripts/jquery.validate.unobtrusive.js",
                        "~/Scripts/jquery.unobtrusive-ajax.js",
            "~/Scripts/noty/packaged/jquery.noty.packaged.min.js",
            "~/Scripts/noty/layouts/topCenter.js",
                    "~/Scripts/noty/themes/AbsenceTracker.js"
       )

    @Scripts.Render("~/bundles/widgets")

    <script type="text/javascript">
        // Globals
        var siteRoot = '@Url.Content("~/")';

        $(function () {
            // Global AJAX error handler
            $(document).ajaxError(function (e, xhr, settings, exception) {
                if (xhr.statusText != "abort") {
                    var n = noty({ timeout: 10000, layout: 'topCenter', type: 'error', text: 'Oops. An error occurred (' + exception + '). We\'ve logged this, but it might work if you try it again.' });
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/app-angular/main")
    @Scripts.Render("~/bundles/ngtemplates")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</head>
<body data-ga-track="true" data-ga-application="Portal"
      data-ga-customer="@(Current.Customer() == null ? null : Current.Customer().Name)"
      data-ga-employer="@(Current.Employer() == null ? null : Current.Employer().Name)"
      data-ga-user="@(Current.User() == null ? null : Current.User().Email)">

    @Html.AntiForgeryToken()
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.RouteUrl("Home")" class="navbar-brand" title="AbsenceTracker Home">
                    @if (AbsenceSoft.Data.Customers.Customer.Current != null)
                    {
                        if ((string.IsNullOrWhiteSpace(AbsenceSoft.Data.Customers.Customer.Current.LogoId)))
                        {
                            @AbsenceSoft.Data.Customers.Customer.Current.Name
                        }
                        else
                        {
                            <img src="@Url.RouteUrl("CustomerImage", new { customerId = AbsenceSoft.Data.Customers.Customer.Current.Id, fileId = AbsenceSoft.Data.Customers.Customer.Current.LogoId})" style="max-height:87px; max-width:364px;" alt="@AbsenceSoft.Data.Customers.Customer.Current.Name" onerror="var p = this.parentElement; p.removeChild(this); p.innerText = '@(AbsenceSoft.Data.Customers.Customer.Current.Name)';" />
                        }
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/AbsenceSoft-logo-200.png")" style="max-height:40px; max-width:364px;" />
                    }
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul id="navbar-nav" class="nav navbar-nav">
                    <li ng-if="!'@ViewBag.IsEmployeeSelfService'">@Html.ActionLink("Sign Up", "account", "signup")</li>
                    <li ng-if="'@ViewBag.IsEmployeeSelfService'">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="http://absencesoft.com/contact-us/">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">

        @*BEGIN: Alerts
            Ok, so below is a block for pumping error, info, success messages, etc. back to the client using alerts.
            However you want to display these is cool with me, as toast, as inline messages, as bubbles, etc. Bootstrap
            has some nice alert styles out of the box, which is nice :-), but whatever works; these just geneate alerts
            if there are any
        *@
        @if (myMessages.HasMessages)
        {
            <div id="alerts">
                @*ERRORS*@
                @while (myMessages.Errors.TryDequeue(out curMessage))
                {
                    <div class="alert alert-danger">@curMessage</div>
                }
                @*WARNINGS*@
                @while (myMessages.Warnings.TryDequeue(out curMessage))
                {
                    <div class="alert alert-warning">@curMessage</div>
                }
                @*INFORMATION*@
                @while (myMessages.Info.TryDequeue(out curMessage))
                {
                    <div class="alert alert-info">@curMessage</div>
                }
                @*SUCCESS*@
                @while (myMessages.Success.TryDequeue(out curMessage))
                {
                    <div class="alert alert-success">@curMessage</div>
                }
            </div>
        }
        @*END: Alerts*@@RenderBody()

    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row footer-link-wrap">
                Powered by <a href="http://www.absencesoft.com"><img src="@Url.Content("~/Content/Images/absenceSoft-logo.png")" alt="absenceSoft" /></a>
            </div>
            <div class="row copyright">
                &copy; @DateTime.Now.Year - AbsenceSoft LLC
                <span class="comodo-img">
                    <a href="http://ssl.comodo.com/wildcard-ssl-certificates.php">
                        <img src="@Url.Content("~/Content/Images/comodo_secure_113x59_white.gif")" alt="Wildcard SSL" width="85" height="40" />
                    </a><br>
                </span>
            </div>

        </div>
    </footer>

    @RenderSection("scriptsfooter", required: false)
    @Html.Partial("_GoogleAnalytics")
</body>
</html>
