﻿@model AbsenceSoft.Models.Home.LogoModel


@if (Model.IncludeHomeLink)
{
    <a href="@Url.RouteUrl("Home")">
        <img src="@Model.LogoUrl" class="logo" alt="@Model.LogoName" />
    </a>
}
else
{
    <img src="@Model.LogoUrl" class="logo" alt="@Model.LogoName" />
}


