﻿@{
    /// This will also be removed once we pull angular out all the way
    var userPermissions = ViewBag.UserPermissions;
    var IsTeamApp = (Array.IndexOf(userPermissions, "TeamDashboard") > -1);
    var IsEmployee = (Array.IndexOf(userPermissions, "EmployeeDashboard") > -1);
    var IsHRSupervisor = (Array.IndexOf(userPermissions, "MyEmployeesDashboard") > -1);
    var CanEditCustomerInfo = (Array.IndexOf(userPermissions, "EditCustomerInfo") > -1);
    var CanEditRoleDefinition = (Array.IndexOf(userPermissions, "EditRoleDefinition") > -1);
    var CanEditEmployerInfo = (Array.IndexOf(userPermissions, "EditEmployerInfo") > -1);
}

<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>


    <script src="~/Scripts/Global/fontawesome.config.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/global")
    @Scripts.Render("~/bundles/app")
    @Styles.Render("~/styles/app")

    <!--To Be Removed once we pull angular out all the way-->
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app-angular/main")
    @Scripts.Render("~/bundles/ngtemplates")
    @RenderSection("scripts", required: false)
    @RenderSection("head", required: false)
</head>
<body data-ga-track="true" data-ga-application="Portal"
      data-ga-customer="@(Current.Customer() == null ? null : Current.Customer().Name)"
      data-ga-employer="@(Current.Employer() == null ? null : Current.Employer().Name)"
      data-ga-user="@(Current.User() == null ? null : Current.User().Email)">

    @Html.AntiForgeryToken()

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.Action("Logo", "Home")
            </div>
            <div class="navbar-right admin2">
                <ul id="navbar-nav" class="nav navbar-nav">
                    @if (AbsenceSoft.Data.Security.User.Permissions.ProjectedPermissions.Contains(Permission.SearchCases.Id))
                    {
                        <li>
                            <div id="search-body">
                                @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "navbar-form" }))
                                {
                                    <div class="form-group search-input">
                                        <input class="form-control" type="text" name="searchText" placeholder="Search Case/Inquiry ID or Name..." />
                                    </div>
                                    <div class="search-button">
                                        <button type="submit" class="glyphicon glyphicon-search"></button>
                                    </div>

                                    }
                                </div>
                            </li>
                        }
                        <li class="home2"><i class="fa fa-home"></i>@Html.RouteLink("Home", "Home")</li>
                        @if (AbsenceSoft.Data.Security.User.Permissions.ProjectedPermissions.Intersect(Permission.AnyReports).Any())
                        {
                            <li class="reports2"><i class="fa fa-line-chart"></i>@Html.ActionLink("Reports", "Index", "Reports", new { area = "" }, new { id = "reportsNav" })</li>
                        }
                        
                            <li class="adminh2"><i class="fa fa-gear"></i> @Html.ActionLink("Admin", "Index", "Administration", new { area = "" }, null)</li>
                        
                        <li class="dropdown myaccounthead">
                            <i class="fa fa-user"></i>
                            <a href="#" class="dropdown-toggle nav-tab-menu" data-toggle="dropdown">
                                ACCOUNT
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a>@AbsenceSoft.Data.Security.User.Current.DisplayName</a></li>
                                <li class="divider"></li>
                                <li><a href="#changePasswordModal" data-toggle="modal">Password</a></li>
                                <li class="divider"></li>
                                <li>@Html.RouteLink("Logout", "Logout")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row footer-link-wrap">
                Powered by <a href="http://www.absencesoft.com"><img src="@Url.Content("~/Content/Images/absenceSoft-logo.png")" alt="absenceSoft" /></a>
            </div>
            <div class="row copyright">
                &copy; @DateTime.Now.Year - AbsenceSoft LLC
            </div>
        </div>
    </footer>


    @Html.Partial("_LogoutWarning")
    @{
        var changePasswordModel = new AbsenceSoft.Models.Signup.ChangePasswordModel()
        {
            UserId = AbsenceSoft.Data.Security.User.Current.Email
        };
    }
    @Html.Partial("_ChangePassword", changePasswordModel)
    @RenderSection("scriptsfooter", required: false)
    <!-- To be removed once Angular is removed -->
    <script type="text/javascript">
        var permissionsList = @Html.Raw(Json.Encode(userPermissions));
        setInterval(AbsenceSoft.LogoutWarning.CheckAuthentication, 60000);
    </script>
    @Html.Partial("_GoogleAnalytics")
</body>
</html>
