﻿<input type="hidden" id="showTimeTrackerInHours" value="false" />
<input type="hidden" id="showParenthesesText" value="false" />
<input type="hidden" id="chkPThours" value="false" />
<input type="hidden" id="chkPTpolicydefault" value="false" />

<div id="timeTrackerPopover" class="hidden popover">
    <div class="popover-title">TIME TRACKER DISPLAY UNITS</div>
    <div class="popover-body">
        <span class="checkboxtext">Select the default view :</span>
        <div class="btn-group-justified" data-toggle="buttons" id="rbTimeTracker">
            <label class="btn btn-info btn-xs">
                <input type="radio" name="timetracker" id="showPolicydefaults" value="showPolicydefaults" onchange="AbsenceSoft.TimeTracker.OnChangeTimeTrackerToggle(this);"> POLICY DEFAULTS
            </label>
            <label class="btn btn-info btn-xs">
                <input type="radio" name="timetracker" id="showHours" value="showHours" onchange="AbsenceSoft.TimeTracker.OnChangeTimeTrackerToggle(this);"> HOURS
            </label>
        </div>
        <div id="chkHours" class="checkbox">
            <input id="includehours" type="checkbox" name="showpvalue" onclick="AbsenceSoft.TimeTracker.OnClickParenthesesCheck(this);">
            <label for="includehours" class="checkboxtext">
                <span>Include hours in parentheses</span>
            </label>
        </div>
        <div id="chkDefaults" class="checkbox">
            <input id="includepolicydefaults" name="showpvalue" type="checkbox" onclick="AbsenceSoft.TimeTracker.OnClickParenthesesCheck(this);">
            <label for="includepolicydefaults" class="checkboxtext">
                <span>Include policy defaults in parentheses</span>
            </label>
        </div>
        <hr class="hlinestyle" />
        <span class="checkboxtext"> Policies excluded from time conversion : </span>
        <ul class="checkboxtext">
            <li ng-repeat="timetracking in TimeTrackingInfo" ng-cloak ng-show="timetracking.ExcludeFromTimeConversion">
                {{ timetracking.PolicyName }}
            </li>
        </ul>
    </div>
</div>