﻿@{
    ViewBag.Title = "Account Registration Summary";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@model AbsenceSoft.Models.Signup.AccountSummaryVM
@{
    var models = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
}
<div ng-controller="SignUpCtrl" ng-init="AccountSummary(@models)">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="color: #ff8300" ng-if="AccountInfo.IsLogin == false">Hi {{AccountInfo.FirstName}}&nbsp;{{AccountInfo.LastName}}</h1><br />
            <h1 style="color: #ff8300" ng-if="AccountInfo.IsLogin == true">Welcome {{AccountInfo.FirstName}}&nbsp;{{AccountInfo.LastName}}</h1><br />
            <p style="font-weight:bold;" ng-if="AccountInfo.IsLogin == false">Congratulations and thank you for registering with AbsenceTracker - FMLA and Absence Management made easy.</p>
            <p style="font-weight:bold;">As soon as your account has been verified, we will email you instructions on how to access your account.</p>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-9">
            <div class="summary-box-border">
                <table width="100%">
                    <tr>
                        <td>
                            <p style="font-weight:bold;">Here's the summary of your account registration information:</p>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="summary-header"><strong>Contact Information:</strong></span><br />
                            <span><strong>First Name:</strong> {{AccountInfo.FirstName}}</span><br />
                            <span><strong>Last Name:</strong> {{AccountInfo.LastName}}</span><br />
                            <span><strong>Company Name:</strong> {{AccountInfo.CompanyName}}</span><br />
                            <span><strong>Address 1:</strong> {{AccountInfo.Address1}}</span><br />
                            <span><strong>Address 2:</strong> {{AccountInfo.Address2}}</span><br />
                            <span><strong>City:</strong> {{AccountInfo.City}}</span><br />
                            <span><strong>State/Province:</strong> {{AccountInfo.State}}</span><br />
                            <span><strong>Country:</strong> {{AccountInfo.Country}}</span><br />
                            <span><strong>Postal Code:</strong> {{AccountInfo.PostalCode}}</span><br />
                            <span><strong>Phone:</strong> {{AccountInfo.PhoneNumber}}</span><br />
                            <span><strong>Email Address (Login):</strong> {{AccountInfo.Email}}</span><br /><br />
                        </td>
                        @*<td style="vertical-align: top">
                            <span class="summary-header"><strong>Billing Address:</strong></span><br />
                            <span><strong>Address1:</strong></span> {{AccountInfo.BillingAddress1}}<br />
                            <span><strong>Address2:</strong></span> {{AccountInfo.BillingAddress2}}<br />
                            <span><strong>City:</strong></span> {{AccountInfo.BillingCity}}<br />
                            <span><strong>State/Province:</strong></span> {{AccountInfo.BillingState}}<br />
                            <span><strong>Country:</strong></span> {{AccountInfo.BillingCountry}}<br />
                            <span><strong>Postal Code:</strong></span> {{AccountInfo.BillingPostalCode}}<br /><br />
                        </td>
                        <td style="vertical-align: top">
                            <span class="summary-header"><strong>Plan chosen:</strong></span><br />
                            <span><strong>Plan:</strong></span> {{AccountInfo.Size}}<br />
                        </td>*@
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<br />

<table>
    <tr>
        <td>
            <p>
                Have any questions? We're here 24/7 so feel free to call us anytime at 866.211.5152, reply to this email or
                <a href="mailto:contact@absencesoft.com" target="_blank">contact us</a> and we'll be happy to assist you.
            </p>
        </td>
    </tr>
</table>

