﻿@model AbsenceSoft.Models.Cases.CaseAssignmentRuleViewModel

<input class="case-assignment-rule-id" type="hidden" id="Id" name="Id" value="@Model.Id" />
<input class="case-assignment-rule-order" type="hidden" id="Order" name="Order" value="@Model.Order" />
<div class="col-sm-11 border case-assignment-rule case-assignment-padding-5L">
    <div class="row col-sm-12">
        <div class="col-sm-4">
            Name
        </div>
        <div class="col-sm-7 case-assignment-padding-35L">
            <input type="text" id="Name" name="Name" data-val="true" data-val-required="The Name field is required." class="form-control case-assignment-rule-name" value="@Model.Name" placeholder="Enter Rule Name" />
            <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-edit btn-small-icon case-rule-delete" title="Remove Rule"><span class="glyphicon glyphicon-remove" title="Remove Rule"></span></button>
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4">
            Behavior
        </div>
        <div class="col-sm-7 case-assignment-padding-35L">
            @Html.EnumDropDownListFor(m => m.Behavior, "Default/Inherited", new { @class = "form-control case-assignment-rule-behavior", @id = "Behavior" })
            <span class="field-validation-valid" data-valmsg-for="Behavior" data-valmsg-replace="true"></span>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class=" row col-sm-12">
        <div class="col-sm-4">
            Description
        </div>
        <div class="col-sm-7 case-assignment-padding-35L">
            <input type="text" id="Description" name="Description" class="form-control case-assignment-rule-description" cols="20" data-val="true" data-val-required="The Description field is required." rows="2" value="@Model.Description" placeholder="Enter Rule Description" />
            <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-edit btn-small-icon case-rule-move-up" title="Move Up"><span class="glyphicon glyphicon-chevron-up" title="Move Up"></span></button>
        </div>
    </div>
    <div class="row col-sm-12">
        <div class="col-sm-4">
            Rule
        </div>
        <div class="col-sm-3 case-assignment-padding-35L">
            <select name="RuleId" id="RuleId" class="form-control case-assignment-rule-type" data-val="true" data-val-required="The Rule field is required." placeholder="Select a Rule">
                @foreach (string key in Model.RuleTypes.Keys)
                {
                    int ruleIndex;
                    if (int.TryParse(key != "" ? key : "0", out ruleIndex))
                    {
                        if (!string.IsNullOrWhiteSpace(Model.RuleType) && Model.RuleType == key)
                        {
                            <option value="@key" selected>@Model.RuleTypes[key]</option>
                        }
                        else
                        {
                            <option value="@key">@Model.RuleTypes[key]</option>
                        }
                    }
                    else if (Model.CustomFields.Any())
                    {
                        CustomField customField = Model.CustomFields.FirstOrDefault(f => f.Code == key);
                        if (!string.IsNullOrWhiteSpace(Model.RuleType) && Model.RuleType == key)
                        {
                            <option selected value="@key" customFieldType="@((int)customField.Target)" customFieldId="@customField.Id" data-customType="@customField.DataType" data-valueType="@customField.ValueType">@customField.Name</option>
                        }
                        else
                        {
                            <option value="@key" customFieldType="@((int)customField.Target)" customFieldId="@customField.Id" data-customType="@customField.DataType" data-valueType="@customField.ValueType">@customField.Name</option>
                        }
                    }
                }
            </select>
            <span class="field-validation-valid" data-valmsg-for="RuleType" data-valmsg-replace="true"></span>
            @Html.HiddenFor(m => m.CustomFieldId, new { @class = "case-assignment-rule-type-hidden", @id = "CustomFieldId" })
            @Html.HiddenFor(m => m.CustomFieldType, new { @class = "case-assignment-rule-type-hidden-type", @id = "CustomFieldType" })
        </div>
        <div class="col-sm-4 case-assignment-rule-value-selection">
            @{
                Dictionary<string, string> selectList = null;
                switch (Model.RuleType)
                {
                    case "1":
                        selectList = Model.Employers;
                        break;
                    case "2":
                        selectList = Model.WorkStates;
                        break;
                    case "3":
                        selectList = Model.CaseTypes;
                        break;
                    case "4":
                        selectList = Model.Policies;
                        break;
                    case "5":
                        selectList = Model.PolicyTypes;
                        break;
                    case "6":
                        <div class='col-sm-6 case-assignment-padding-0R'>
                            <input type='text' data-val='true' data-val-required='Value is required.' class='form-control case-assignment-rule-value' value="@Model.Value" placeholder="Enter a Value" />
                            <span class='field-validation-valid help-block' data-valmsg-replace='true'></span>
                        </div>
                        <div class='col-sm-6 case-assignment-padding-0R'>
                            <input type='text' data-val='true' data-val-required='Value is required.' class='form-control case-assignment-rule-value2' value="@Model.Value2" placeholder="Enter a Value" />
                            <span class='field-validation-valid help-block' data-valmsg-replace='true'></span>
                        </div>
                        break;
                    case "10": // Policy Crosswalk
                        <input type='text' data-val='true' data-val-required='Value is required.' class='form-control case-assignment-rule-value' value="@Model.Value" placeholder="Enter a Value" />
                        <span class='field-validation-valid help-block' data-valmsg-replace='true'></span>
                        break;
                    case "11":
                        if (Model.Employers != null)
                        {
                            <select id="RuleValues" name="RuleValues" class="form-control case-assignment-rule-values" multiple="multiple" data-val="true" data-val-required="This field is required." placeholder="Select Values">

                                @foreach (string vkey in Model.Employers.Keys)
                                {
                                    <optgroup label="@Model.Employers[vkey]">

                                        @foreach (var location in Model.OfficeLocations.Where(c => c.EmployerId == vkey).ToList())
                                        {
                                            if (Model.RuleValues != null && Model.RuleValues.Contains(location.Code))
                                            {
                                                <option value="@location.Code" selected>@location.Name ( @location.Code)</option>
                                            }
                                            else
                                            {
                                                <option value="@location.Code">@location.Name ( @location.Code)</option>
                                            }

                                        }
                                    </optgroup>
                                }
                            </select>
                        }
                        break;
                    case "12":
                        selectList = Model.AccommodationTypes;
                        break;
                    default: // Custom fields

                        CustomField customField = Model.CustomFields.FirstOrDefault(f => f.Code == Model.RuleType);
                        if (customField == null)
                        {
                            break;
                        }
                        if (customField.ValueType == CustomFieldValueType.UserEntered)
                        {
                            if (customField.DataType == CustomFieldType.Date)
                            {
                                <input id="customFieldDate" type='text' data-val='true' data-val-required='Value is required.' class='form-control case-assignment-rule-value' value="@Model.Value" placeholder="Enter a Value" />
                                <span class='field-validation-valid help-block' data-valmsg-replace='true'></span>
                                <script>
                                    //AT-6540-for date editing. I had to put this code here because no other way found because external JS placing did not worked.
                                    $('#customFieldDate').datepicker({ autoclose: true });
                                </script>
                            }
                            else
                            {
                                <input type='text' data-val='true' data-val-required='Value is required.' class='form-control case-assignment-rule-value' value="@Model.Value" placeholder="Enter a Value" />
                                <span class='field-validation-valid help-block' data-valmsg-replace='true'></span>
                            }
                        }
                        if (customField.ValueType == CustomFieldValueType.SelectList)
                        {
                            <select id="CustomFieldValues" name="CustomFieldValues" class="form-control case-assignment-rule-values" multiple="multiple" data-val="true" data-val-required="This field is required." placeholder="Select Values">
                                @foreach (var item in customField.ListValues)
                                {
                                    if (Model.RuleValues != null)
                                    {
                                        if (Model.RuleValues.Contains(item.Key))
                                        {
                                            <option selected value="@item.Key">@item.Value</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                }
                            </select>
                        }
                        break;
                }
            }


            @if (selectList != null)
            {
                <select id="RuleValues" name="RuleValues" class="form-control case-assignment-rule-values" multiple="multiple" data-val="true" data-val-required="This field is required." placeholder="Select Values">

                    @foreach (string key in selectList.Keys)
                    {
                        if (Model.RuleValues != null && Model.RuleValues.Contains(key))
                        {
                            <option value="@key" selected>@selectList[key]</option>
                        }
                        else
                        {
                            <option value="@key">@selectList[key]</option>
                        }
                    }
                </select>
            }

            <div class='col-sm-12 case-assignment-height-5H'>&nbsp;</div>
            <span class="field-validation-valid" data-valmsg-for="RuleValues" data-valmsg-replace="true"></span>
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-edit btn-small-icon case-rule-move-down" title="Move Down"><span class="glyphicon glyphicon-chevron-down" title="Move Down"></span></button>
        </div>
    </div>
    <div class="row col-sm-12 case-assignment-value-selection">
        @{
            switch (Model.RuleType)
            {
                case "1":
                case "2":
                case "3":
                case "4":
                case "5":
                case "6":
                case "10":
                case "11":
                case "12":
                    <div class="col-sm-4">
                        Assignment
                    </div>
                    <div class="col-sm-3 case-assignment-padding-35L">
                        <select id="CaseAssignmentType" name="CaseAssignmentType" class="form-control case-assignment-type" data-val="true" data-val-required="This field is required." placeholder="Select Assignment Type">
                            @foreach (string key in Model.AssignmentTypes.Keys)
                            {
                                if (!string.IsNullOrWhiteSpace(Model.CaseAssignmentType) && Model.CaseAssignmentType == key)
                                {
                                    <option value="@key" selected>@Model.AssignmentTypes[key]</option>
                                }
                                else
                                {
                                    <option value="@key">@Model.AssignmentTypes[key]</option>
                                }
                            }
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="CaseAssignmentType" data-valmsg-replace="true"></span>
                    </div>
                    <div class="col-sm-4 case-assignment-type-value-selection">
                        @{
                            Dictionary<string, string> assignmentValues = null;
                            switch (Model.CaseAssignmentType)
                            {
                                case "1":
                                    assignmentValues = Model.AssignmentTeams;
                                    break;
                                case "2":
                                    assignmentValues = Model.AssignmentUsers;
                                    break;
                            }
                            if (assignmentValues != null)
                            {
                                <select id="CaseAssignmentId" name="CaseAssignmentId" class="form-control case-assignment-type-value" data-val="true" data-val-required="This field is required." placeholder="Select Assignment">
                                    @foreach (string key in assignmentValues.Keys)
                                    {
                                        if (Model.CaseAssignmentId != null && Model.CaseAssignmentId == key)
                                        {
                                            <option value="@key" selected>@assignmentValues[key]</option>
                                        }
                                        else
                                        {
                                            <option value="@key">@assignmentValues[key]</option>
                                        }
                                    }
                                </select>
                                <span class="field-validation-valid" data-valmsg-for="CaseAssignmentId" data-valmsg-replace="true"></span>
                            }
                        }
                    </div>
                    break;
                default:
                    int ruleIndex;
                    if (Model.CustomFields.Any() && !int.TryParse(Model.RuleType, out ruleIndex))
                    {
                        <div class="col-sm-4">
                            Assignment
                        </div>
                        <div class="col-sm-3 case-assignment-padding-35L">
                            <select id="CaseAssignmentType" name="CaseAssignmentType" class="form-control case-assignment-type" data-val="true" data-val-required="This field is required." placeholder="Select Assignment Type">
                                @foreach (string key in Model.AssignmentTypes.Keys)
                                {
                                    if (!string.IsNullOrWhiteSpace(Model.CaseAssignmentType) && Model.CaseAssignmentType == key)
                                    {
                                        <option value="@key" selected>@Model.AssignmentTypes[key]</option>
                                    }
                                    else
                                    {
                                        <option value="@key">@Model.AssignmentTypes[key]</option>
                                    }
                                }
                            </select>
                            <span class="field-validation-valid" data-valmsg-for="CaseAssignmentType" data-valmsg-replace="true"></span>
                        </div>
                        <div class="col-sm-4 case-assignment-type-value-selection">
                            @{
                                Dictionary<string, string> assignmentValuesForCustomFields = null;
                                switch (Model.CaseAssignmentType)
                                {
                                    case "1":
                                        assignmentValuesForCustomFields = Model.AssignmentTeams;
                                        break;
                                    case "2":
                                        assignmentValuesForCustomFields = Model.AssignmentUsers;
                                        break;
                                }
                                if (assignmentValuesForCustomFields != null)
                                {
                                    <select id="CaseAssignmentId" name="CaseAssignmentId" class="form-control case-assignment-type-value" data-val="true" data-val-required="This field is required." placeholder="Select Assignment">
                                        @foreach (string key in assignmentValuesForCustomFields.Keys)
                                        {
                                            if (Model.CaseAssignmentId != null && Model.CaseAssignmentId == key)
                                            {
                                                <option value="@key" selected>@assignmentValuesForCustomFields[key]</option>
                                            }
                                            else
                                            {
                                                <option value="@key">@assignmentValuesForCustomFields[key]</option>
                                            }
                                        }
                                    </select>
                                    <span class="field-validation-valid" data-valmsg-for="CaseAssignmentId" data-valmsg-replace="true"></span>
                                }
                            }
                        </div>
                    }
                    break;
            }
        }
    </div>
</div>

<div class='col-sm-12 case-assignment-height-5H'>&nbsp;</div>
