﻿
<div class="row">
    <div class="col-sm-2">
        <div class="content-section">Employer Info</div>
        <div class="btn-icon-signup-employerinfo"></div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Signature Name
                </div>
                <div class="col-sm-7 field-input">
                    <input type="text" ng-class="{'has-error':(!frmSignUpStep3.SignatureName.$pristine || submitted) && frmSignUpStep3.SignatureName.$error.required}" id="txtSignatureName" class="form-control" name="SignatureName" placeholder="Enter SignatureName" ng-model="SignUpData.Employer.SignatureName" title="Enter SignatureName" value="{{SignUpData.Employer.SignatureName}}" ng-cloak required />
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.SignatureName.$pristine || submitted) && frmSignUpStep3.SignatureName.$error.required">Please enter Signature Name</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6" style="padding: 1px;">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Size
                </div>
                <div class="col-sm-7 field-input">
                    <select id="ddlSize" ng-model="SignUpData.Employer.MaxEmployees" name="MaxEmployees" class="form-control" ng-options="r.Id as r.Text for r in CompanySize">
                        <option value="" ng-if="false"></option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-offset">
    <div class="col-sm-2">
        <div class="content-section">Contact Info</div>
        <div class="btn-icon-signup-employer-contactinfo"></div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Address 1
                </div>
                <div class="col-sm-7 field-input">
                    <input type="text" ng-class="{'has-error':(!frmSignUpStep3.Address1.$pristine || submitted) && frmSignUpStep3.Address1.$error.required}" class="form-control" ng-model="SignUpData.Employer.Address1" name="Address1" id="txtAddress1" placeholder="Enter address1" title="Enter address1" required>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.Address1.$pristine || submitted) && frmSignUpStep3.Address1.$error.required">Please enter address1</span>
                </div>
            </div>
            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Address 2
                </div>
                <div class="col-sm-7 field-input">
                    <input type="text" class="form-control" ng-class="{'has-error':(!frmSignUpStep3.Address2.$pristine || submitted) && frmSignUpStep3.Address2.$error.required}" ng-model="SignUpData.Employer.Address2" name="Address2" id="txtAddress1" placeholder="Enter address2" title="Enter address2">
                </div>
            </div>
            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    City
                </div>
                <div class="col-sm-7 field-input">
                    <input type="text" class="form-control" ng-class="{'has-error':(!frmSignUpStep3.City.$pristine || submitted) && frmSignUpStep3.City.$error.required}" ng-model="SignUpData.Employer.City" name="City" id="txtCity" placeholder="Enter city" title="Enter city" required>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.City.$pristine || submitted) && frmSignUpStep3.City.$error.required">Please enter city</span>
                </div>
            </div>
            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Country
                </div>
                <div class="col-sm-7 field-input">
                    <select id="ddlCountries" ng-class="{'has-error':(!frmSignUpStep3.Country.$pristine || submitted) && frmSignUpStep3.Country.$error.required}" ng-model="SignUpData.Employer.Country" name="Country" class="form-control" required>
                        <option value="US" selected>United States</option>
                        <option value="UM">United States Minor Outlying Islands</option>
                        <option value="AF">Afghanistan</option>
                        <option value="AX">Åland Islands</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AS">American Samoa</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AI">Anguilla</option>
                        <option value="AQ">Antarctica</option>
                        <option value="AG">Antigua and Barbuda</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia</option>
                        <option value="BA">Bosnia and Herzegovina</option>
                        <option value="BW">Botswana</option>
                        <option value="BV">Bouvet Island</option>
                        <option value="BR">Brazil</option>
                        <option value="IO">British Indian Ocean Territory</option>
                        <option value="BN">Brunei Darussalam</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CA">Canada</option>
                        <option value="CV">Cape Verde</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="CF">Central African Republic</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CX">Christmas Island</option>
                        <option value="CC">Cocos (Keeling) Islands</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoros</option>
                        <option value="CG">Congo</option>
                        <option value="CD">Congo, The Democratic Republic of The</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CR">Costa Rica</option>
                        <option value="CI">Cote D'ivoire</option>
                        <option value="HR">Croatia</option>
                        <option value="CU">Cuba</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="DK">Denmark</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egypt</option>
                        <option value="SV">El Salvador</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="ER">Eritrea</option>
                        <option value="EE">Estonia</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FK">Falkland Islands (Malvinas)</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="FJ">Fiji</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="GF">French Guiana</option>
                        <option value="PF">French Polynesia</option>
                        <option value="TF">French Southern Territories</option>
                        <option value="GA">Gabon</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="DE">Germany</option>
                        <option value="GH">Ghana</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GR">Greece</option>
                        <option value="GL">Greenland</option>
                        <option value="GD">Grenada</option>
                        <option value="GP">Guadeloupe</option>
                        <option value="GU">Guam</option>
                        <option value="GT">Guatemala</option>
                        <option value="GG">Guernsey</option>
                        <option value="GN">Guinea</option>
                        <option value="GW">Guinea-bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HT">Haiti</option>
                        <option value="HM">Heard Island and Mcdonald Islands</option>
                        <option value="VA">Holy See (Vatican City State)</option>
                        <option value="HN">Honduras</option>
                        <option value="HK">Hong Kong</option>
                        <option value="HU">Hungary</option>
                        <option value="IS">Iceland</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IR">Iran, Islamic Republic of</option>
                        <option value="IQ">Iraq</option>
                        <option value="IE">Ireland</option>
                        <option value="IM">Isle of Man</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japan</option>
                        <option value="JE">Jersey</option>
                        <option value="JO">Jordan</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="KE">Kenya</option>
                        <option value="KI">Kiribati</option>
                        <option value="KP">Korea, Democratic People's Republic of</option>
                        <option value="KR">Korea, Republic of</option>
                        <option value="KW">Kuwait</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="LA">Lao People's Democratic Republic</option>
                        <option value="LV">Latvia</option>
                        <option value="LB">Lebanon</option>
                        <option value="LS">Lesotho</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libyan Arab Jamahiriya</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MO">Macao</option>
                        <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                        <option value="MG">Madagascar</option>
                        <option value="MW">Malawi</option>
                        <option value="MY">Malaysia</option>
                        <option value="MV">Maldives</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MQ">Martinique</option>
                        <option value="MR">Mauritania</option>
                        <option value="MU">Mauritius</option>
                        <option value="YT">Mayotte</option>
                        <option value="MX">Mexico</option>
                        <option value="FM">Micronesia, Federated States of</option>
                        <option value="MD">Moldova, Republic of</option>
                        <option value="MC">Monaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="ME">Montenegro</option>
                        <option value="MS">Montserrat</option>
                        <option value="MA">Morocco</option>
                        <option value="MZ">Mozambique</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Namibia</option>
                        <option value="NR">Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NL">Netherlands</option>
                        <option value="AN">Netherlands Antilles</option>
                        <option value="NC">New Caledonia</option>
                        <option value="NZ">New Zealand</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeria</option>
                        <option value="NU">Niue</option>
                        <option value="NF">Norfolk Island</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="NO">Norway</option>
                        <option value="OM">Oman</option>
                        <option value="PK">Pakistan</option>
                        <option value="PW">Palau</option>
                        <option value="PS">Palestinian Territory, Occupied</option>
                        <option value="PA">Panama</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Peru</option>
                        <option value="PH">Philippines</option>
                        <option value="PN">Pitcairn</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="QA">Qatar</option>
                        <option value="RE">Reunion</option>
                        <option value="RO">Romania</option>
                        <option value="RU">Russian Federation</option>
                        <option value="RW">Rwanda</option>
                        <option value="SH">Saint Helena</option>
                        <option value="KN">Saint Kitts and Nevis</option>
                        <option value="LC">Saint Lucia</option>
                        <option value="PM">Saint Pierre and Miquelon</option>
                        <option value="VC">Saint Vincent and The Grenadines</option>
                        <option value="WS">Samoa</option>
                        <option value="SM">San Marino</option>
                        <option value="ST">Sao Tome and Principe</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SN">Senegal</option>
                        <option value="RS">Serbia</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SG">Singapore</option>
                        <option value="SK">Slovakia</option>
                        <option value="SI">Slovenia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="SO">Somalia</option>
                        <option value="ZA">South Africa</option>
                        <option value="GS">South Georgia and The South Sandwich Islands</option>
                        <option value="ES">Spain</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SD">Sudan</option>
                        <option value="SR">Suriname</option>
                        <option value="SJ">Svalbard and Jan Mayen</option>
                        <option value="SZ">Swaziland</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="SY">Syrian Arab Republic</option>
                        <option value="TW">Taiwan, Province of China</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TZ">Tanzania, United Republic of</option>
                        <option value="TH">Thailand</option>
                        <option value="TL">Timor-leste</option>
                        <option value="TG">Togo</option>
                        <option value="TK">Tokelau</option>
                        <option value="TO">Tonga</option>
                        <option value="TT">Trinidad and Tobago</option>
                        <option value="TN">Tunisia</option>
                        <option value="TR">Turkey</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TC">Turks and Caicos Islands</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UG">Uganda</option>
                        <option value="UA">Ukraine</option>
                        <option value="AE">United Arab Emirates</option>
                        <option value="GB">United Kingdom</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Viet Nam</option>
                        <option value="VG">Virgin Islands, British</option>
                        <option value="VI">Virgin Islands, U.S.</option>
                        <option value="WF">Wallis and Futuna</option>
                        <option value="EH">Western Sahara</option>
                        <option value="YE">Yemen</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.Country.$pristine || submitted) && frmSignUpStep3.Country.$error.required">Please select country</span>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    State
                </div>
                <div class="col-sm-7 field-input">
                    <select id="ddlStates" name="State" ng-class="{'has-error':(!frmSignUpStep3.State.$pristine || submitted) && frmSignUpStep3.State.$error.required}" ng-show="SignUpData.Employer.Country == 'US'" ng-model="SignUpData.Employer.State" class="form-control" ng-required="SignUpData.Employer.Country == 'US'">
                        <option value="">Select State</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                        <option value="AS">American Samoa</option>
                        <option value="GU">Guam</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="UM">United States Minor Outlying Islands</option>
                        <option value="VI">Virgin Islands</option>
                        <option value="AA">Armed Forces Americas</option>
                        <option value="AP">Armed Forces Pacific</option>
                        <option value="AE">Armed Forces Others</option>
                    </select>
                    <input type="text" ng-show="SignUpData.Employer.Country != 'US'" ng-class="{'has-error':(!frmSignUpStep3.StateText.$pristine || submitted) && frmSignUpStep3.StateText.$error.required}" class="form-control" ng-model="SignUpData.Employer.State" name="StateText" id="txtState" placeholder="Enter state" title="Enter state" ng-required="SignUpData.Employer.Country != 'US'">
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.State.$pristine || submitted) && frmSignUpStep3.State.$error.required">Please select state</span>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.StateText.$pristine || submitted) && frmSignUpStep3.StateText.$error.required">Please enter state</span>
                </div>
            </div>
            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Zip Code
                </div>
                <div class="col-sm-7 field-input">
                    @*<input type="text" class="form-control" ng-class="{'has-error':(!frmSignUpStep3.PostalCode.$pristine || submitted) && frmSignUpStep3.PostalCode.$error.required}" ng-model="SignUpData.Employer.PostalCode" ng-pattern="PostalCodeRquirements" name="PostalCode" id="txtPostalCode" placeholder="Enter zip code" title="Enter zip code" required>
                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.PostalCode.$pristine || submitted) && frmSignUpStep3.PostalCode.$error.required">Please enter zip code</span>
                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.PostalCode.$pristine || submitted) && frmSignUpStep3.PostalCode.$error.pattern">Please enter valid zip code</span>
                        <span class="error" data-ng-show="frmSignUpStep3.PostalCode.$error.valid && !frmSignUpStep3.PostalCode.$error.required">Not valid zip code</span>*@

                    <input type="text" class="form-control" ng-class="{'has-error':((!frmSignUpStep3.PostalCode.$pristine || submitted) && frmSignUpStep3.PostalCode.$error.required) || (frmSignUpStep3.PostalCode.$error.valid && submitted && !frmSignUpStep3.PostalCode.$error.required)}" ng-model="SignUpData.Employer.PostalCode" name="PostalCode" id="txtPostalCode" placeholder="Enter zip code" title="Enter zip code" required>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.PostalCode.$pristine || submitted) && frmSignUpStep3.PostalCode.$error.required">Please enter zip code</span>
                    <span class="error" data-ng-show="frmSignUpStep3.PostalCode.$error.valid && submitted && !frmSignUpStep3.PostalCode.$error.required">Not valid zip code</span>
                </div>
            </div>
            <div class="clearfix"></div>


            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Phone
                </div>
                <div class="col-sm-7 field-input">
                    <input type="text" ng-blur-tel class="form-control" ng-class="{'has-error':((!frmSignUpStep3.Phone.$pristine || submitted) && frmSignUpStep3.Phone.$error.required) || frmSignUpStep3.Phone.$error.tel}" @*ng-pattern="PhoneRequirements"*@ ng-model="SignUpData.Employer.Phone" name="Phone" id="txtPhone" placeholder="(800) 555-1212" title="United States phone number in the format (XXX) XXX-XXXX." required>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.Phone.$pristine || submitted) && frmSignUpStep3.Phone.$error.required">Please enter phone number</span>
                    <span class="error" ng-cloak ng-show="frmSignUpStep3.Phone.$error.tel">Please enter valid phone number</span>
                </div>
            </div>
            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Fax
                </div>
                <div class="col-sm-7 field-input">
                    @*<input type="text" ng-blur-tel class="form-control" ng-class="{'has-error':((!frmSignUpStep3.Fax.$pristine || submitted) && frmSignUpStep3.Fax.$error.required) || frmSignUpStep3.Fax.$error.tel}" @*ng-pattern="PhoneRequirements" ng-model="SignUpData.Employer.Fax" name="Fax" id="txtFax" placeholder="(800) 555-1212" title="United States phone number in the format (XXX) XXX-XXXX." required>*@
                    <input type="text" ng-model="SignUpData.Employer.Fax" ng-blur-tel class="form-control" @*ng-pattern="PhoneRequirements"*@ name="Fax" id="txtFax" placeholder="(800) 555-1212" title="United States phone number in the format (XXX) XXX-XXXX.">
                    @*<span class="error" ng-cloak ng-show="frmSignUpStep3.Fax.$error.required">Please enter fax number</span>
                        <span class="error" ng-cloak ng-show="frmSignUpStep3.Fax.$error.tel">Please enter valid fax number</span>*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row row-offset" ng-show="HasEmployeeSelfService">
    <div class="col-sm-2">
        <div class="content-section">Employer SS Url</div>
    </div>
    <div class="col-sm-4">
        <input type="text" ng-model-employer-domain-onblur employerid="" ng-class="{'has-error':((!frmSignUpStep3.Url.$pristine || submitted) && frmSignUpStep3.Url.$error.required) || frmSignUpStep3.Url.$error.subDomain}" class="form-control" ng-model="SignUpData.Employer.Url" name="Url" id="txtUrl" placeholder="Enter url" title="Enter url" required>
        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.Url.$pristine || submitted) && frmSignUpStep3.Url.$error.required">Please enter url</span>
        <span class="error" ng-cloak ng-show="frmSignUpStep3.Url.$error.subDomain">Url is not available</span>
    </div>
    <div class="col-sm-4 field-input" style="padding-left:0;padding-top:0.5%">
        <strong>.absencetracker.com</strong>@*<strong>.{{DomainLabel}}</strong>*@
    </div>
</div>
<div class="row row-offset">
    <div class="col-sm-2">
        <div class="content-section">Policy Information</div>
        <div class="btn-icon-signup-employer-policyinfo"></div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    FML Period Type
                </div>
                <div class="col-sm-7 field-input">
                    <select id="ddlFMLType" ng-class="{'has-error':(!frmSignUpStep3.FMLPeriodType.$pristine || submitted) && frmSignUpStep3.FMLPeriodType.$error.required}" class="form-control" name="FMLPeriodType" ng-model="SignUpData.Employer.FMLPeriodType" ng-options="r.Id as r.Text for r in FMLPeriodTypes" required>
                        <option value="">Select One</option>
                    </select>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.FMLPeriodType.$pristine || submitted) && frmSignUpStep3.FMLPeriodType.$error.required">Please select FML Period Type</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 col-wrap" ng-cloak ng-show="SignUpData.Employer.FMLPeriodType == 3">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Reset Month
                </div>
                <div class="col-sm-7 field-input">
                    <select id="ddlResetMonth" ng-change="SetDayForSelectedMonth(SignUpData.Employer.ResetMonth)" name="ResetMonth" class="form-control" ng-class="{'has-error':(!frmSignUpStep3.ResetMonth.$pristine || submitted) && frmSignUpStep3.ResetMonth.$error.required}" ng-model="SignUpData.Employer.ResetMonth" ng-required="SignUpData.Employer.FMLPeriodType == 3">
                        <option value="" selected="selected">Select Month</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.ResetMonth.$pristine || submitted) && frmSignUpStep3.ResetMonth.$error.required">Please select Month</span>
                </div>
            </div>
            <div class="col-sm-6 col-wrap" ng-cloak ng-show="SignUpData.Employer.FMLPeriodType == 3">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Reset Day Of Month
                </div>
                <div class="col-sm-7 field-input">
                    <select id="ddlResetDay" name="ResetDayofMonth" ng-options="r.items as r.items for r in Days" ng-class="{'has-error':(!frmSignUpStep3.ResetDayofMonth.$pristine || submitted) && frmSignUpStep3.ResetDayofMonth.$error.required}" class="form-control" ng-model="SignUpData.Employer.ResetDayofMonth" ng-required="SignUpData.Employer.FMLPeriodType == 3">
                        <option selected="selected" value="">Select Day</option>
                    </select>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.ResetDayofMonth.$pristine || submitted) && frmSignUpStep3.ResetDayofMonth.$error.required">Please select Day</span>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 col-wrap">
                <div class="col-sm-4 field-name" style="vertical-align: middle">
                    Weekly Work Hours
                </div>
                <div class="col-sm-7 field-input">
                    <input id="txtWorkHours" ng-class="{'has-error':(!frmSignUpStep3.WorkHours.$pristine || submitted) && frmSignUpStep3.WorkHours.$error.required}" type="number" class="form-control input-sm" name="WorkHours" placeholder="Enter WorkHours" ng-model="SignUpData.Employer.FTWeeklyWorkHours" title="Enter WorkHours" value="{{SignUpData.Employer.WorkHours}}" ng-cloak required />
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.WorkHours.$pristine || submitted) && frmSignUpStep3.WorkHours.$error.required">Please enter Work Hours</span>
                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.WorkHours.$pristine || submitted) && frmSignUpStep3.WorkHours.$error.number">Please enter valid Work hours</span>
                </div>
            </div>

            <div class="clearfix"></div>
            <br />

            <div class="col-sm-12">
                <input type="checkbox" id="EnableSpouseAtSameEmployerRule" name="EnableSpouseAtSameEmployerRule" ng-model="SignUpData.Employer.EnableSpouseAtSameEmployerRule" value="{{SignUpData.Employer.EnableSpouseAtSameEmployerRule}}" />
                <label for="EnableSpouseAtSameEmployerRule" tooltip="This option allows the division of entitlement time between spouses with the same employer">&nbsp;Spouse At Same Employer Rule?</label>
            </div>
            <div class="col-sm-12">
                <input type="checkbox" id="Enable50In75MileRule" name="Enable50In75MileRule" ng-model="SignUpData.Employer.Enable50In75MileRule" value="{{SignUpData.Employer.Enable50In75MileRule}}" />
                <label for="Enable50In75MileRule" tooltip="By selecting this rule your organization will differentiate between worksites with and without 50 employees within a 75 mile radius">&nbsp;50 in 75 Rule?</label>
            </div>
            <div class="col-sm-12">
                <input type="checkbox" id="AllowIntermittentForBirthAdoptionOrFosterCare" name="AllowIntermittentForBirthAdoptionOrFosterCare" ng-model="SignUpData.Employer.AllowIntermittentForBirthAdoptionOrFosterCare" value="{{SignUpData.Employer.AllowIntermittentForBirthAdoptionOrFosterCare}}" />
                <label for="AllowIntermittentForBirthAdoptionOrFosterCare" tooltip="Selecting this option will allow your employees to utilize intermittent time for Birth, Adoption and Foster Care reasons">&nbsp;Allow Intermittent For Birth Adoption Or Foster Care?</label>
            </div>
            <div class="col-sm-12">
                <input type="checkbox" id="IgnoreScheduleForPriorHoursWorked" name="IgnoreScheduleForPriorHoursWorked" ng-model="SignUpData.Employer.IgnoreScheduleForPriorHoursWorked" value="{{SignUpData.Employer.IgnoreScheduleForPriorHoursWorked}}" />
                <label for="IgnoreScheduleForPriorHoursWorked" tooltip="Selecting this option will Skip the System's calculation of Prior Hours Worked for an Employee">&nbsp;Ignore system calculations for Total Hours Worked Last 12 Months</label>
            </div>
            <div class="col-sm-12">
                <input type="checkbox" id="IgnoreAverageMinutesWorkedPerWeek" name="IgnoreAverageMinutesWorkedPerWeek" ng-model="SignUpData.Employer.IgnoreAverageMinutesWorkedPerWeek" value="{{SignUpData.Employer.IgnoreAverageMinutesWorkedPerWeek}}" />
                <label for="IgnoreAverageMinutesWorkedPerWeek" tooltip="Selecting this option will Skip the System's calculation of Average Minutes Worked per week for an Employee">&nbsp;Ignore system calculations for Average Minutes Worked per Week</label>
            </div>
            <!--
            <div class="col-sm-12">
                <input type="checkbox" id="IsPubliclyTradedCompany" name="IsPubliclyTradedCompany" ng-model="SignUpData.Employer.IsPubliclyTradedCompany" value="{{SignUpData.Employer.IsPubliclyTradedCompany}}" />
                <label for="IsPubliclyTradedCompany">&nbsp;Is Publicly Traded Company?</label>
            </div> -->
        </div>
    </div>
</div>
<div class="row row-offset">
    <div class="col-sm-2">
        <div class="content-section">Employer Logo Attachment</div>
        <div class="btn-icon-signup-employer-logo"></div>
    </div>
    <div class="col-sm-8" style="padding-left:2.7%;padding-right:5%" ng-controller="CustAttachmentsCtrl" ng-init="init(1,04/30/2014)">
        <div class="row">
            <div class="col-sm-12 dragzone" ng-hide="ShowUploadPanel == false">
                <input id="customerLogo" style="display:none" type="file" name="customerLogo" data-url="/SignUp/Logo" multiple data-sequential-uploads="false">
                <label id="caseAttachmentsLabel" for="customerLogo" class="btn btn-primary">Select Files</label>
                <label for="customerLogo">or drag and drop.</label>
            </div>
            <div class="col-sm-12" ng-hide="ShowUploadPanel == false">
                &nbsp;
            </div>
            <div class="col-sm-12" ng-hide="ShowUploadPanel == false">
                <div class="error">The suggested logo size is 364 px (width) and 87 px (height).</div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="progress">
                        <div class="bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>
            @* when user select file *@
            <div id="newAttachments" class="col-sm-12 col-wrap" ng-show="NewAttachments.length > 0 && IsUploadInProgress == false">
                <div class="col-sm-7 col-wrap col-header">Description</div>
                <div class="col-sm-4 col-header text-center">Attachment</div>
                <div class="col-sm-1 col-header">Action</div>
            </div>
            <div class="col-sm-12 col-wrap" ng-show="NewAttachments.length > 0 && IsUploadInProgress == false">
                <hr />
            </div>
            <div ng-repeat="attachment in NewAttachments">
                <div class="col-sm-12 col-wrap">
                    <div ng-show="attachment.IsUploading==false">
                        <div class="col-sm-7 col-wrap">
                            <textarea class="form-control" ng-model="attachment.Description" rows="3"></textarea>
                        </div>
                        <div class="col-sm-4 text-center">
                            <div>{{attachment.FileName}}</div>
                        </div>
                        <div class="col-sm-1">
                            <div><a href="" ng-click="CancelFileUpload(attachment)">Cancel</a></div>
                        </div>
                    </div>
                </div>

                @* uploading attachment message and cancel button div *@
                <div class="col-sm-12 col-wrap">
                    <div class="col-sm-10 col-wrap" ng-show="attachment.ShowMessage==true">{{attachment.Message}}</div>
                    <div class="col-sm-2 col-wrap">
                        <button type="button" ng-show="attachment.ShowCancel==true" class="btn btn-link" ng-click="CancelFileUpload(attachment)">Cancel</button>
                    </div>
                </div>
                @* end *@
            </div>
            @* end *@

            <div class="col-sm-12" ng-show="FileUploadInProgress == true">
                <label style="color: #ff8300; font-size: 15px;">File Upload In Progress...</label>
            </div>
                 @* upload button *@
            <div class="col-sm-12" ng-show="NewAttachments.length > 0">
                <div class="col-sm-1 col-wrap col-sm-offset-6">
                    <button type="button" class="btn btn-primary" ng-disabled="isDisabled" ng-click="isDisabled=true; UploadFiles()">Upload</button>
                </div>
            </div>
            @* end *@

            <!--./Add new-->
            <div class="col-sm-12">
                <div id="previousAttachments" class="row row-header row-style" ng-show="Attachments.length > 0">
                    <div class="col-sm-3">Attachment</div>
                    <div class="col-sm-9 text-right">Action</div>
                </div>
                <div class="row" ng-repeat="attachment in Attachments track by $index | orderBy:'-CreatedDate'">
                    <div class="col-sm-3"><a target="_blank" href="{{attachment.Id}}">{{attachment.FileName}}</a></div>
                    <div class="col-sm-9 text-right"><a href="javascript:void(0);" ng-click="Delete(attachment)">Delete</a></div>
                </div>
            </div>
        </div>
    </div>
</div>