﻿@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<hgroup>
    <h1>Error.</h1>
    <h2>An error occurred while processing your request.</h2>
</hgroup>
@if (!string.IsNullOrWhiteSpace(Response.StatusDescription))
{
    <p>@Response.StatusDescription</p>
}
