﻿@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<style type="text/css">
    #navbar-nav {
        display:none;
    }
</style>
<div class="container body-content">
    <hgroup>
        <h1>Unauthorized.</h1>
        @if (!string.IsNullOrWhiteSpace(Response.StatusDescription))
        {
            <h2>@Response.StatusDescription</h2>
        }
        else
        {
            <h2>@T("Errors.Users.Unauthorized", "Sorry, you are not authorized to view that resource. Please consult with your System Administrator.")</h2>
        }
    </hgroup>
</div>
