﻿@model AbsenceSoft.Models.Cases.EmployeeClassViewModel

@using (Ajax.BeginRouteForm("SaveEmployeeClasses", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "editEmployeeClassForm",
    OnComplete = "AbsenceSoft.EditEmployeeClasses.Start()"
}, new { id = "editEmployeeClassForm", ng_non_bindable = "" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewEmployeeClasses")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>

    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Employee Class</h3>
                <div class="pull-right admin-enabled">
                    @if (Model.IsDeleteable())
                    {
                    <div class="btn btn-group group-1 pull-right">
                        @Ajax.RouteLink("Delete", "DeleteEmployeeClass", new { id = Model.Id }, new AjaxOptions()
                        {
                            HttpMethod = "DELETE"
                        }, new { @class = "btn btn-primary btn-danger" })
                    </div>
                    }
                    @if (Model.IsEmployeeClassSuppressedAtCustomerLevel(Model.Code))
                    {
                        <div class="disabled-button-div" data-toggle="tooltip" data-placement="bottom" title="This configuration needs to be enabled at the customer level.">
                                <span class="fa fa-toggle-off"></span><label class="disabled-button-label">DISABLED</label>
                            </div>
                    }
                    else
                    {
                        if (Model.Locked)
                        {
                            <div class="disabled-button-div" data-toggle="tooltip" data-placement="bottom" title="This configuration is locked.">
                                    <span class="fa fa-toggle-off"></span><label class="disabled-button-label">LOCKED</label>
                                </div>
                        }
                        else
                        {
                            <div class="btn btn-group group-2" data-toggle="buttons">
                                    <label class="ar-disabled-toggle enabled-btn btn btn-info @if (!Model.IsDisabled) {<text>active</text>}">
                                        <input type="radio" name="Enabled" class="ays-ignore" /> Enabled
                                    </label>
                                    <label class="ar-disabled-toggle disabled-btn btn btn-info @if (Model.IsDisabled) {<text>active</text>}">
                                        <input type="radio" name="Enabled" class="ays-ignore" /> Disabled
                                    </label>
                                </div>
                        }
                    }
                </div>
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CustomerId)
        <input type="hidden" name="EmployerId" value="@EmployerId" id="employerId" />
        @Html.ValidationSummary(true, "Unable to save the denial reason. Please see the validation errors below.")
        <div class="row">
            <div class="col-xs-2 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "EmployeeClassName" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-2 form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "EmployeeClassCode" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div class="col-xs-1 form-group">
                @Html.LabelFor(m => m.Order)
                @Html.TextBoxFor(m => m.Order, new { @class = "form-control", type = "Number", min = "0" })
                @Html.ValidationMessageFor(m => m.Order)
            </div>
        </div>
        <div class="form-group text-center">
            <input type="hidden" class="list-filter" name="EmployerId" value="@ViewBag.EmployerId" />
            @Html.RouteLink("Undo Changes", "EditEmployeeClass", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveEmployeeClass" />
        </div>
    </div>
}