﻿<div class="col-xs-12 well item-list">
    <input type="hidden" class="page" value="1" />
    <input type="hidden" class="url" value="@Url.RouteUrl("ListEmployeeClasses")" />
    <input type="hidden" class="total" value="" />
    <div class="row">
        <div class="col-xs-12 admin-sub-header">
            <h2>Employee Class</h2>
            <span class="pull-right">
                @Html.AdministrationLink("New Employee Class", "EditEmployeeClass", new { @class = "btn btn-primary addnew-admin-btn" })
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row row-header">
                <div class="col-sm-4 list-sort">
                    Name
                    <input type="hidden" class="sort-name" value="Name" />
                    <i class="glyphicon sort glyphicon-chevron-up"></i>
                </div>
                <div class="col-sm-3 list-sort">
                    Code
                    <input type="hidden" class="sort-name" value="Code" />
                    <i class="glyphicon sort"></i>
                </div>
                <div class="col-sm-2 list-sort">
                    Order
                    <input type="hidden" class="sort-name" value="Order" />
                    <i class="glyphicon sort"></i>
                </div>
                <div class="col-sm-1">
                    Status
                </div>
                <div class="col-sm-1 list-sort">
                    Last Edited
                    <input type="hidden" class="sort-name" value="ModifiedDate" />
                    <i class="glyphicon sort"></i>
                </div>
            </div>
            <div class="row row-filter">
                <input type="hidden" class="list-filter" name="EmployerId" value="@ViewBag.EmployerId" />
                <div class="col-sm-4">
                    <input type="text" name="Name" class="list-filter form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-3">
                    <input type="text" name="Code" class="list-filter form-control filter" placeholder="Filter" />
                </div>
            </div>
            <div class="admin2userlist">
                <div class="scroll list-display">
                </div>
            </div>
        </div>
    </div>
</div>