﻿@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div ng-controller="SignUpCtrl">
    <form name="frmSignUpStep1" id="frmSignUpStep1" novalidate>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12" style="padding-left:4.5%;padding-right:4.5%">
                        <h1 class="">First, let's hear about you</h1> @*(Step 1 of 3)*@<br />
                        <hr />
                    </div>
                    <div class="col-sm-12" style="padding-left:4.5%;padding-right:4.5%">
                        <div class="col-sm-2" style="margin-top: 2%;">
                            <div class="content-section">User Information</div>
                            <div class="btn-icon-signup-userinfo" style="height: 175px !important;"></div>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <div class="row">
                                <div class="col-sm-12 col-wrap">
                                    <div class="col-sm-3 field-name">
                                        First Name
                                    </div>
                                    <div class="col-sm-6 field-input">
                                        <input type="text" ng-class="{'has-error':(!frmSignUpStep1.FirstName.$pristine || submitted) && frmSignUpStep1.FirstName.$error.required}" class="form-control" ng-model="SignUpData.FirstName" name="FirstName" id="txtFirstName" placeholder="Enter first name" title="Enter first name" required>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep1.FirstName.$pristine || submitted) && frmSignUpStep1.FirstName.$error.required">Please enter first name</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-wrap">
                                    <div class="col-sm-3 field-name">
                                        Last Name
                                    </div>
                                    <div class="col-sm-6 field-input">
                                        <input type="text" ng-class="{'has-error':(!frmSignUpStep1.LastName.$pristine || submitted) && frmSignUpStep1.LastName.$error.required}" class="form-control" ng-model="SignUpData.LastName" name="LastName" id="txtLastName" placeholder="Enter last name" title="Enter last name" required>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep1.LastName.$pristine || submitted) && frmSignUpStep1.LastName.$error.required">Please enter last name</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12 col-wrap">
                                    <div class="col-sm-3 field-name">
                                        Login
                                    </div>
                                    <div class="col-sm-6 field-input">
                                        <input type="email" name="Email" 
                                               ng-class="{'has-error':(!frmSignUpStep1.Email.$pristine && submitted && frmSignUpStep1.Email.$error.required) || (!frmSignUpStep1.Email.$pristine && submitted && frmSignUpStep1.Email.$error.email)}" 
                                               at-unique-email
                                               signup="true"
                                               ng-model="SignUpData.Email" 
                                               class="form-control" 
                                               id="txtEmail" 
                                               placeholder="Enter email address" 
                                               title="Enter email address" 
                                               required>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep1.Email.$pristine && submitted) && frmSignUpStep1.Email.$error.required">Please enter email</span>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep1.Email.$pristine && submitted) && frmSignUpStep1.Email.$error.email">Please enter a valid email address</span>
                                        <span class="error" ng-cloak ng-show="frmSignUpStep1.Email.$error.matchesDomain" ng-bind="matchesDomainContent"></span>
                                        <span class="error" ng-cloak ng-show="frmSignUpStep1.Email.$error.uniqueEmail && !frmSignUpStep1.Email.$error.matchesDomain">Email Address already exists</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12 col-wrap">
                                    <div class="col-sm-3 field-name">
                                        Password
                                    </div>
                                    <div class="col-sm-6 field-input" tooltip="The password must be at least eight digits long, contain a minimum of one lower case character, one upper case character, and one digit or special character.">
                                        <input type="password" ng-trim="false" ng-blur-password-check ng-class="{'has-error':!frmSignUpStep1.Password.$pristine || submitted && frmSignUpStep1.Password.$error.required}" name="Password" @*ng-pattern="PasswordRequirements"*@ ng-model="SignUpData.Password" class="form-control" id="txtPassword" placeholder="Enter password" title="Enter password" required> @*ng-cloak ng-show="!ShowPassword"*@
                                        @*<input type="text" ng-trim="false" ng-class="{'has-error':!frmSignUpStep1.Password.$pristine || submitted && frmSignUpStep1.Password.$error.required}" name="Password" ng-pattern="PasswordRequirements" ng-model="SignUpData.Password" class="form-control" id="txtPassword" placeholder="Enter password" title="Enter password" required ng-cloak ng-show="ShowPassword">*@
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep1.Password.$pristine || submitted) && frmSignUpStep1.Password.$error.required">Please enter password</span>
                                        <span class="error" ng-show="(!frmSignUpStep1.Password.$pristine || submitted) && (frmSignUpStep1.Password.$error.password && !frmSignUpStep1.Password.$error.required)" ng-cloak>The password must be at least eight digits long, contain a minimum of one lower case character, one upper case character, and one digit or special character</span>
                                    </div>
                                    <div class="col-sm-1 show-hide-password"><i class="fa fa-eye fa-lg passwordtoggle" tooltip="Click To Show Password" style="cursor:pointer"></i></div>
                                </div>
                                <div class="col-sm-12 col-wrap">
                                    <div class="col-sm-3 field-name">
                                        Confirm Password
                                    </div>
                                    <div class="col-sm-6 field-input">
                                        <input type="password" ng-trim="false" name="ConfirmPassword" ng-class="{'has-error':(!frmSignUpStep1.ConfirmPassword.$pristine || submitted) && frmSignUpStep1.ConfirmPassword.$error.required}" ng-model="SignUpData.ConfirmPassword" class="form-control" id="txtConfirmPassword" placeholder="Re-Enter password" title="Re-Enter password" required>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep1.ConfirmPassword.$pristine || submitted) && frmSignUpStep1.ConfirmPassword.$error.required">Please re-enter password<br /></span>
                                        <span class="error" ng-cloak ng-show="SignUpData.Password != SignUpData.ConfirmPassword && frmSignUpStep1.ConfirmPassword.$dirty && !frmSignUpStep1.Password.$error.pattern && !frmSignUpStep1.ConfirmPassword.$error.required">Password and Confirm password must match<br /></span>
                                        <span class="error" ng-cloak ng-show="frmSignUpStep1.Password.$error.password && frmSignUpStep1.ConfirmPassword.$dirty">The password must be at least eight digits long, contain a minimum of one lower case character, one upper case character, and one digit or special character</span>
                                    </div>
                                    <div class="col-sm-1 show-hide-password"><i class="fa fa-eye fa-lg confirmpasswordtoggle" tooltip="Click To Show Password" style="cursor:pointer"></i></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-12" style="padding-left:4.5%;padding-right:4.5%">
                <div class="row">
                    <div class="col-sm-2" style="margin-top: 6%;">
                        <div class="content-section">Company Information</div>
                        <div class="btn-icon-signup-companyinfo" style="height: 175px !important;"></div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <div class="row">
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-3 field-name">
                                    Company Name
                                </div>
                                <div class="col-sm-6 field-input">
                                    <input type="text" ng-class="{'has-error':(!frmSignUpStep1.CompanyName.$pristine || submitted) && frmSignUpStep1.CompanyName.$error.required}" class="form-control" ng-blur="SetDomainName()" ng-model="SignUpData.Name" name="CompanyName" id="txtCompanyName" placeholder="Enter company name" title="Enter company name" required>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep1.CompanyName.$pristine || submitted) && frmSignUpStep1.CompanyName.$error.required">Please enter company name</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-wrap" ng-cloak ng-show="IsCompanyinfoEdit != true">
                                <div class="col-sm-3 field-name" tooltip="This is going to be your dedicated URL and this is how you will access AbsenceTracker">
                                    Company URL
                                </div>
                                <div class="col-sm-6 field-input">
                                    <input type="text" ng-class="{'has-error':((!frmSignUpStep1.Url.$pristine || submitted) && frmSignUpStep1.Url.$error.required) || frmSignUpStep1.Url.$error.subDomain}" class="form-control" ng-model="SignUpData.SubDomain" name="Url" id="txtUrl" placeholder="Enter url" title="Enter url" required>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep1.Url.$pristine || submitted) && frmSignUpStep1.Url.$error.required">Please enter url</span>
                                    <span class="error" ng-cloak ng-show="frmSignUpStep1.Url.$error.subDomain">Url is not available</span>
                                </div>
                                <div class="col-sm-1 field-input" style="padding-left:0;padding-top:1%">
                                    <strong>@string.Format(AbsenceSoft.Common.Properties.Settings.Default.BaseUrl.Replace("https://", "").Replace("http://", ""), ".")</strong>
                                </div>
                            </div>
                            <div class="col-sm-12 col-wrap" ng-cloak ng-show="IsCompanyinfoEdit == true" style="padding-top:5px !important; padding-bottom:7px !important;">
                                <div class="col-sm-3 field-name">
                                    Company URL
                                </div>
                                <div class="col-sm-1 field-name">
                                    <label>
                                        {{SignUpData.SubDomain}}.absencetracker.com
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-3 field-name">
                                    Address 1
                                </div>
                                <div class="col-sm-6 field-input">
                                    <input type="text" ng-class="{'has-error':(!frmSignUpStep1.Address1.$pristine || submitted) && frmSignUpStep1.Address1.$error.required}" class="form-control" ng-model="SignUpData.Address1" name="Address1" id="txtAddress1" placeholder="Enter address1" title="Enter address1" required>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep1.Address1.$pristine || submitted) && frmSignUpStep1.Address1.$error.required">Please enter address1</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-3 field-name">
                                    Address 2
                                </div>
                                <div class="col-sm-6 field-input">
                                    <input type="text" class="form-control" ng-model="SignUpData.Address2" name="Address2" id="txtAddress1" placeholder="Enter address2" title="Enter address2">
                                </div>
                            </div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-3 field-name">
                                    City
                                </div>
                                <div class="col-sm-6 field-input">
                                    <input type="text" ng-class="{'has-error':(!frmSignUpStep1.City.$pristine || submitted) && frmSignUpStep1.City.$error.required}" class="form-control" ng-model="SignUpData.City" name="City" id="txtCity" placeholder="Enter city" title="Enter city" required>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep1.City.$pristine || submitted) && frmSignUpStep1.City.$error.required">Please enter city</span>
                                </div>
                            </div>

                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-3 field-name">
                                    Country
                                </div>
                                <div class="col-sm-6 field-input">
                                    <select id="ddlCountries" ng-class="{'has-error':(!frmSignUpStep1.Country.$pristine || submitted) && frmSignUpStep1.Country.$error.required}" ng-model="SignUpData.Country" name="Country" class="form-control" required>
                                        <option value="US" selected>United States</option>
                                        <option value="UM">United States Minor Outlying Islands</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AX">Åland Islands</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AQ">Antarctica</option>
                                        <option value="AG">Antigua and Barbuda</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CA">Canada</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CN">China</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">Congo, The Democratic Republic of The</option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">Cote D'ivoire</option>
                                        <option value="HR">Croatia</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI">Finland</option>
                                        <option value="FR">France</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GE">Georgia</option>
                                        <option value="DE">Germany</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GU">Guam</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GG">Guernsey</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard Island and Mcdonald Islands</option>
                                        <option value="VA">Holy See (Vatican City State)</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran, Islamic Republic of</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IM">Isle of Man</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JE">Jersey</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KP">Korea, Democratic People's Republic of</option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People's Democratic Republic</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libyan Arab Jamahiriya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macao</option>
                                        <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT">Malta</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="FM">Micronesia, Federated States of</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="ME">Montenegro</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="AN">Netherlands Antilles</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PW">Palau</option>
                                        <option value="PS">Palestinian Territory, Occupied</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL">Poland</option>
                                        <option value="PT">Portugal</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">Reunion</option>
                                        <option value="RO">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="SH">Saint Helena</option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint Lucia</option>
                                        <option value="PM">Saint Pierre and Miquelon</option>
                                        <option value="VC">Saint Vincent and The Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="RS">Serbia</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SK">Slovakia</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">South Georgia and The South Sandwich Islands</option>
                                        <option value="ES">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SD">Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="SY">Syrian Arab Republic</option>
                                        <option value="TW">Taiwan, Province of China</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TL">Timor-leste</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands, British</option>
                                        <option value="VI">Virgin Islands, U.S.</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep1.Country.$pristine || submitted) && frmSignUpStep1.Country.$error.required">Please select country</span>
                                </div>
                            </div>

                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-3 field-name">
                                    State
                                </div>
                                <div class="col-sm-6 field-input">
                                    <select id="ddlStates" ng-class="{'has-error':(!frmSignUpStep1.State.$pristine || submitted) && frmSignUpStep1.State.$error.required}" name="State" ng-show="SignUpData.Country == 'US'" ng-model="SignUpData.State" class="form-control" ng-required="SignUpData.Country == 'US'">
                                        <option value="">Select State</option>
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="GU">Guam</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="UM">United States Minor Outlying Islands</option>
                                        <option value="VI">Virgin Islands</option>
                                        <option value="AA">Armed Forces Americas</option>
                                        <option value="AP">Armed Forces Pacific</option>
                                        <option value="AE">Armed Forces Others</option>
                                    </select>
                                    <input type="text" ng-show="SignUpData.Country != 'US'" ng-class="{'has-error':(!frmSignUpStep1.StateText.$pristine || submitted) && frmSignUpStep1.StateText.$error.required}" class="form-control" ng-model="SignUpData.State" name="StateText" id="txtState" placeholder="Enter state" title="Enter state" ng-required="SignUpData.Country != 'US'">
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep1.State.$pristine || submitted) && frmSignUpStep1.State.$error.required">Please select state</span>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep1.StateText.$pristine || submitted) && frmSignUpStep1.StateText.$error.required">Please enter state</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-3 field-name">
                                    Zip Code
                                </div>
                                <div class="col-sm-6 field-input">
                                    <input type="text" ng-class="{'has-error':((!frmSignUpStep1.PostalCode.$pristine || submitted) && frmSignUpStep1.PostalCode.$error.required) || (frmSignUpStep1.PostalCode.$error.valid && submitted && !frmSignUpStep1.PostalCode.$error.required)}" class="form-control" ng-model="SignUpData.PostalCode" name="PostalCode" id="txtPostalCode" placeholder="Enter zip code" title="Enter zip code" required>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep1.PostalCode.$pristine || submitted) && frmSignUpStep1.PostalCode.$error.required">Please enter zip code</span>
                                    @*<span class="error" ng-cloak ng-show="(!frmSignUpStep1.PostalCode.$pristine || submitted) && frmSignUpStep1.PostalCode.$error.pattern">Please enter valid zip code</span>*@
                                    <span class="error" data-ng-show="frmSignUpStep1.PostalCode.$error.valid && submitted && !frmSignUpStep1.PostalCode.$error.required">Not valid zip code</span>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-3 field-name">
                                    Phone
                                </div>
                                <div class="col-sm-6 field-input">
                                    <input type="text" ng-blur-tel class="form-control" ng-class="{'has-error':((!frmSignUpStep1.Phone.$pristine || submitted) && frmSignUpStep1.Phone.$error.required) || frmSignUpStep1.Phone.$error.tel}" @*ng-pattern="PhoneRequirements"*@ ng-model="SignUpData.Phone" name="Phone" id="txtPhone" placeholder="(800) 555-1212" title="United States phone number in the format (XXX) XXX-XXXX." required>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep1.Phone.$pristine || submitted) && frmSignUpStep1.Phone.$error.required">Please enter phone number</span>
                                    <span class="error" ng-cloak ng-show="frmSignUpStep1.Phone.$error.tel">Please enter valid phone number</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 terms-of-use">
                <input type="checkbox" id="chkTerms" class="" checked />
                <span>I accept the @Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home").</span>
                <h5 class="error" id="hError"></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="padding-left:4.5%;padding-right:4.5%">
                <hr />
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 pull-center">
                <div class="pull-center">
                    <input type="button" class="btn btn-primary" value="Create Account" ng-disabled="isDisabled" ng-click="submitted=true; isDisabled=true; SaveCustomerWithConfiguration(frmSignUpStep1.$valid)" />
                    <a href="/" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </div>

    </form>
</div>
@section scripts{

    <script type="text/javascript">



        // PASSWORD
        // Mouse is not down on page load
        var mouseStillDown = false;
        // Run function on mousedown event
        $(document).on("mousedown", ".passwordtoggle", function (event) {
            //Change variable to mouse down
            mouseStillDown = true;
            mouseDownFunction();
        });
        //Mouse down function changes input attribute
        function mouseDownFunction() {
            //console.log("mouse down");
            $("input[name='Password']").attr("type", "text");
            //change eye icons
            $(".passwordtoggle").removeClass("fa-eye").addClass("fa-eye-slash");
        }
        // Run function on mouseup event
        $(document).on("mouseup", ".passwordtoggle", function (event) {
            //Change variable to mouse up
            mouseStillDown = false;
            mouseUpFunction();
        });
        //Mouse up function changes input attribute
        function mouseUpFunction() {
            //console.log("mouse up");
            $("input[name='Password']").attr("type", "Password");
            //change eye icons
            $(".passwordtoggle").removeClass("fa-eye-slash").addClass("fa-eye");
        }

        // CONFIRM PASSWORD
        // Mouse is not down on page load
        var mouseStillDownConfirm = false;
        // Run function on mousedown event
        $(document).on("mousedown", ".confirmpasswordtoggle", function (event) {
            //Change variable to mouse down
            mouseStillDownConfirm = true;
            mouseDownFunctionConfirm();
        });
        //Mouse down function changes input attribute
        function mouseDownFunctionConfirm() {
            //console.log("mouse down");
            $("input[name='ConfirmPassword']").attr("type", "text");
            //change eye icons
            $(".confirmpasswordtoggle").removeClass("fa-eye").addClass("fa-eye-slash");
        }
        // Run function on mouseup event
        $(document).on("mouseup", ".confirmpasswordtoggle", function (event) {
            //Change variable to mouse up
            mouseStillDownConfirm = false;
            mouseUpFunctionConfirm();
        });
        //Mouse up function changes input attribute
        function mouseUpFunctionConfirm() {
            //console.log("mouse up");
            $("input[name='ConfirmPassword']").attr("type", "Password");
            //change eye icons
            $(".confirmpasswordtoggle").removeClass("fa-eye-slash").addClass("fa-eye");
        }


    </script>
}