﻿@{
    ViewBag.Title = "Approve/Deny User";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@model AbsenceSoft.Models.Signup.ApproveDenyUser
@{
    var models = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
}
<div ng-controller="SignUpCtrl" ng-init="ApproveDenyUser(@models)">
    <div class="row">
        <div class="col-sm-12" style="padding-left:4.5%;padding-right:4.5%">
            <h1 class="">{{Action}} User</h1><br />
            <hr />
        </div>
    </div>
    <div class="row row-offset">
        <div class="col-sm-12" style="padding-left:4.5%;padding-right:4.5%">
            <h4 class="error">{{ErrorMessage}}</h4>
            <h4 class="text-success" style="font-weight:bold">{{SuccessMessage}}</h4>
        </div>       
    </div>
</div>

