﻿@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div ng-controller="SignUpCtrl">

    <form name="frmSignUpStep2" novalidate>
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12" style="padding-left:4.5%;padding-right:4.5%">
                        @if (User.Identity.IsAuthenticated  && Request.QueryString["returnuser"] != null)
                        {
                            <span style="font-size:12pt;">Welcome back @AbsenceSoft.Data.Security.User.Current.DisplayName!</span>
                        }
                        <h1 class="">Ok, now your company information</h1>(Step 2 of 3)<br />
                        <hr />
                    </div>
                    @Html.Partial("CompanyInfo")
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-left:4.5%;padding-right:4.5%">
                <hr />
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 pull-center">
                <div class="pull-center">
                    <input type="button" class="btn btn-primary" value="Yes, continue registration" ng-click="submitted=true; SaveCustomer(frmSignUpStep2.$valid)" />
                    &nbsp;&nbsp;@Html.ActionLink("No, continue registration later!", "Logout", "Home")
                </div>
            </div>
        </div>
    </form>
</div>
