﻿@{
    ViewBag.Title = "Employer";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@model AbsenceSoft.Models.Signup.UpdateEmployerModel
@{
    var models = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
}
<div ng-controller="SignUpCtrl" ng-init="init(@models)">
    <form name="frmSignUpStep3">
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12" style="padding-left:4.5%;padding-right:4.5%">
                       @* @if (User.Identity.IsAuthenticated && Request.QueryString["returnuser"] != null)
                        {
                            <span style="font-size:12pt;">Welcome back @AbsenceSoft.Data.Security.User.Current.DisplayName!</span>
                        }
                        *@
                        <h1 class="">Please provide some information about your leave policies</h1>@*(Step 3 of 3)*@<br /><hr />
                    </div>
                </div>

                @Html.Partial("EmployerInfo")
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" style="padding-left:4.5%;padding-right:4.5%">
                <hr />
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 pull-center">
                <div class="pull-center">
                    <input type="button" class="btn btn-primary" value="Save" ng-disabled="isDisabled" ng-click="submitted=true; isDisabled=true; SaveEmployer(frmSignUpStep3.$valid)" />
                    @*&nbsp;&nbsp;@Html.ActionLink("No, continue registration later!", "Logout", "Home")*@
                    @*<a href="/" class="btn btn-link">Cancel</a>*@
                </div>
            </div>
        </div>
    </form>

    <!--EE Custom Fields-->
    <div class="modal fade" id="RegCompleted" tabindex="-1" role="dialog" aria-labelledby="RegCompleted" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Employer Registration Completed</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        Your employer registration is completed successfully. Now you can create employee or load employee through batch upload process.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="GoTo('CreateEmployee')">Create Employee</button>
                    <button type="button" class="btn btn-primary" ng-click="GoTo('BatchUpload')">Batch Upload</button>
                    <button type="button" class="btn btn-link" ng-click="GoTo('Dashboard')">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>
