﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    <a href="@Url.RouteUrl("OrganizationEdit", new {organizationId = item.Get<string>("Id"), employerId = item.Get<string>("EmployerId")})">
        @{
    string name = item.Get<string>("Name");
    string description = item.Get<string>("Description");
    string code = item.Get<string>("Code");
        }
        <div class="col-sm-3">
            @name
        </div>
        <div class="col-sm-3">
            @code
        </div>
        <div class="col-sm-6">
            @description
        </div>
    </a>
}
