﻿@model dynamic
@{
    ViewBag.Title = "Manage Organizations";
}
<script id="organizationTemplate" type="text/x-jquery-tmpl">
    {{if Level == 1}}
    <div class="col-sm-12">
        <span class="manage-org-apply-template-alt-color">&nbsp;</span>
    </div>
    {{/if}}
    <div class="col-sm-12 {{if Level == 1}}{{if Expanded == true}}org-expand-border{{else}}org-collapse-border{{/if}}{{/if}} {{if Level > 1 && $item.Expanded == false}}manage-org-hide-child{{/if}}">
        {{if Level == 1}}
        <div class="manage-org-arrow-left-1 {{if Expanded == false}}org-level-one-seperator-collapse{{/if}}"></div>
        <input type="hidden" class="save-border-style" />
        {{/if}}
        {{if Level > 1}}
        {{if ChildOrganizationVisibilityTree && ChildOrganizationVisibilityTree.length>0}}
        <span class="glyphicon glyphicon-plus-sign level1-org-text {{if Expanded==true}}manage-org-hide-child{{/if}}"></span>
        <span class="glyphicon glyphicon-minus-sign level1-org-text {{if Expanded==false}}manage-org-hide-child{{/if}}"></span>
        {{else}}
        {{if Level > 1}}        
            &emsp;
        {{/if}}
        {{/if}}
        {{/if}}
        {{if Level == 1 && ChildOrganizationVisibilityTree && ChildOrganizationVisibilityTree.length > 0}}
        <span class="glyphicon-org-expandable-ring glyphicon-org-expandable pull-right {{if Expanded == true}}manage-org-hide-child{{/if}}">
            <span class="glyphicon glyphicon-org-expandable-bordered glyphicon-chevron-down level1-org-text"></span>
        </span>
        <span class="glyphicon-org-collapsable-ring glyphicon-org-collapsable pull-right {{if Expanded == false}}manage-org-hide-child{{/if}}">
            <span class="glyphicon glyphicon-org-collapsable-bordered glyphicon-chevron-up level1-org-text"></span>
        </span>
        {{/if}}
        <div class="manage-org-label">
            {{if Level == 1}}
            <span class="org-name-level-one">${OrganizationName} | ${OrganizationCode}</span>
            {{/if}}
            {{if Level == 2}}
            <span class="org-name-level-two">${OrganizationName} | ${OrganizationCode}</span>
            {{/if}}
            {{if Level > 2}}
            <span class="org-name-level-normal">${OrganizationName} | ${OrganizationCode}</span>
            {{/if}}
            <span class="child-tree-text-indent" />
            <span class="glyphicon-org-ring glyphicon-org-edit" title="Edit Organization">
                <span class="glyphicon glyphicon-pencil glyphicon-org-bordered"></span>
            </span>
            <span class="glyphicon-org-ring glyphicon-org-add" title="Add Organization">
                <span class="glyphicon glyphicon-plus glyphicon-org-bordered"></span>
            </span>
            <span class="glyphicon-org-ring glyphicon-org-delete" title="Delete Organization">
                <span class="glyphicon glyphicon-trash glyphicon-org-bordered"></span>
            </span>
        </div>
        <input type="hidden" class="org-id" value="${Id}" />
        <input type="hidden" class="org-code" value="${OrganizationCode}" />
        <input type="hidden" class="org-name" value="${OrganizationName}" />
        <input type="hidden" class="org-type" value="${OrganizationTypeCode}" />
        <input type="hidden" class="org-description" value="${OrganizationDescription}" />

        <input type="hidden" class="org-sic" value="${SicCode}" />
        <input type="hidden" class="org-naics" value="${NaicsCode}" />
        <input type="hidden" class="org-address-address1" value="${OrganizationAddress1}" />
        <input type="hidden" class="org-address-address2" value="${OrganizationAddress2}" />
        <input type="hidden" class="org-address-city" value="${OrganizationCity}" />
        <input type="hidden" class="org-address-state" value="${OrganizationState}" />
        <input type="hidden" class="org-address-postal" value="${OrganizationPostalCode}" />
        <input type="hidden" class="org-address-country" value="${OrganizationCountry}" />

        <input type="hidden" class="org-parent-code" value="{{if Level > 1}}${$item.ParentOrganizationCode}{{/if}}" />
        {{if Level == 1}}
        <div class="org-level-one-seperator {{if Expanded == false}}org-level-one-seperator-collapse{{/if}}">
            <div class="col-sm-12">
                <span class="manage-org-apply-template-alt-color">&nbsp;</span>
            </div>
            <div class="col-sm-12">
                <span class="manage-org-apply-template-alt-color">&nbsp;</span>
            </div>
            <div class="col-sm-12 manage-org-level-one-seperator"/>
            <div class="col-sm-12">
                <span class="manage-org-apply-template-alt-color">&nbsp;</span>
            </div>
            <div class="col-sm-12">
                <span class="manage-org-apply-template-alt-color">&nbsp;</span>
            </div>
        </div>
        {{/if}}
        {{if ChildOrganizationVisibilityTree}}
        {{tmpl(ChildOrganizationVisibilityTree, {ParentOrganizationCode : OrganizationCode, Expanded : Expanded}) "#organizationTemplate"}}
        {{/if}}
    </div>
</script>
<script id="titleTemplate" type="text/x-jquery-tmpl">
    <option value="${Code}">${Name}</option>
</script>
<div class="row">
    <div class="col-sm-6">        
        <a id="adminRef" href="/administration/@Model.EmployerId">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Return to Admin
         </a>
    </div>
    <div class="col-sm-6">
        <a href="@Url.RouteUrl("AnnualInfoEntry")">
            <span class="fa fa-arrow-left"></span>
            Organization Annual Info
        </a>
    </div>
    
</div>

<input type="hidden" id="hdnOrgEmployerId" value="@Model.EmployerId" />
<input type="hidden" id="hdnOrgEmployerName" value="@Model.EmployerName" />
<div class="col-sm-1">
    &nbsp;
</div>
<div class="col-sm-10">
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6 manage-org-employer-outline">
                    <h4>@Model.EmployerName.ToUpper()'S ORGANIZATIONS</h4>
                </div>                
                <div class="col-sm-4 manage-org-search-outline">
                    <input type="text" placeholder="Find Organization" id="orgSearch" class="form-control" />
                </div>
                <div class="col-sm-2 pull-right manage-org-search-outline">
                    <button type="button" id="addNewButton" class="btn btn-primary btn-edit form-control" data-toggle="modal" data-target="#orgModalDialog">Add New</button>
                </div>
            </div>
            <div class="col-sm-12">
                <div class=" col-sm-12 manage-org-header-outline">
                    <span class="org-apply-template-alt-color">&nbsp;</span>
                </div>
            </div>                
            <div class="clearfix">&nbsp;</div>
            <div class="col-sm-12">
                <div class="col-sm-10 col-sm-offset-1">
                    <div id="results"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="orgModalDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form id="frmOrgEdit">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="orgTitle">Add New Organization</span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnOrgId" value=""/>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-8 col-header">
                            Name
                        </div>
                        <div class="col-sm-4  col-header">
                            Code
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-8">
                            <input type="text" id="orgNameText" name="orgNameText" class="form-control">                            
                        </div>
                        <div class="col-sm-4">
                            <input type="text" id="orgCodeText" name="orgCodeText" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12 col-header">
                            Description
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="2" id="orgDescription" name="orgDescription"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12 col-header">
                            Organization Type
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <select class="form-control" id="organizationType" name="organizationType">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12 col-header">
                            Parent Organization
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-12">
                            <select class="form-control" id="parentOrganization" name="parentOrganization">
                            </select>
                        </div>
                    </div>
                </div>
                @if (CurrentCustomerHasFeature(Feature.OshaReporting))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6 col-header">
                                SIC Code
                            </div>
                            <div class="col-sm-6  col-header">
                                NAICS Code
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <input type="text" id="orgSicText" name="orgSicText" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <input type="text" id="orgNaicsText" name="orgNaicsText" class="form-control">
                            </div>
                        </div>
                    </div>
                }                              
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6 col-header">
                            Address 1
                        </div>
                        <div class="col-sm-6  col-header">
                            Address 2
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <input type="text" id="orgAddress1Text" name="orgAddress1Text" class="form-control">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" id="orgAddress2Text" name="orgAddress2Text" class="form-control">
                        </div>
                    </div>
                </div>       
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3 col-header">
                            Country
                        </div>
                        <div class="col-sm-3  col-header">
                            State
                        </div>
                        <div class="col-sm-3 col-header">
                            Postal 
                        </div>
                        <div class="col-sm-3  col-header">
                            City
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-3">
                            <select class="form-control country-editor" id="orgCountryText" name="orgCountryText"></select>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="orgStateText" name="orgStateText" class="form-control region-editor">
                        </div>
                         <div class="col-sm-3">
                            <input type="text" id="orgPostalText" name="orgPostalText" class="form-control">
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="orgCityText" name="orgCityText" class="form-control">
                        </div>
                       
                    </div>
                </div>                           
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12 pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="btnSaveOrganization" class="btn btn-primary">Add Organization</button>
                    </div>
                </div>                
            </div>
        </div>
        </form>
    </div>
</div>
<div id="orgDeleteModalDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete <span id="orgDeleteTitle">Organization</span></h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hdnDeleteOrgId" value="" />
                    Are you sure you want to delete the organization "<span id="orgDeleteName"></span>"? This action will delete all of "<span id="orgDeleteName1"></span>" including the organizations
beneath it and can’t be undone.
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12 pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="btnDeleteOrganization" class="btn btn-primary">Yes, Delete</button>
                        </div>
                    </div>      
                </div>
            </div>        
    </div>
</div>