﻿@{
    ViewBag.Title = "Organizations";
}

<div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-11">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h2>Organizations of <span class="customer-name">@Employer.Current.Name</span></h2>
                </div>
                <div class="pull-right">
                    @Html.RouteLink("Back", "AdministrationIndex", null, new { @class = "btn btn-primary navbar-btn" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row item-list">
            <input type="hidden" class="page" value="1" />
            <input type="hidden" class="url" value="@Url.RouteUrl("ListOrganizations")" />
            <input type="hidden" class="total" value="" />
            <div class="col-sm-2">
                <div class="content-section">
                    Organizations
                    @Html.RouteLink("New Organization", "OrganizationEdit", new { employerId = Employer.Current.Id }, new { @class = "btn btn-primary btn-sm btn-icon-policies-normal" })
                </div>
            </div>
            <div class="col-sm-10">
                <div class="border">
                    <div class="row row-header">
                        <div class="col-sm-3 list-sort">
                            Name
                            <input type="hidden" class="sort-name" value="Name" />
                            <i class="glyphicon sort"></i>
                        </div>
                        <div class="col-sm-3 list-sort">
                            Code
                            <input type="hidden" class="sort-name" value="Code" />
                            <i class="glyphicon sort"></i>
                        </div>
                        <div class="col-sm-6 list-sort">
                            Description
                            <input type="hidden" class="sort-name" value="Description" />
                            <i class="glyphicon sort"></i>
                        </div>
                    </div>
                    <div class="row row-filter">
                        <input type="hidden" name="EmployerId" class="list-filter" value="@Employer.Current.Id" />
                        <div class="col-sm-3">
                            <input type="text" name="Name" class="list-filter form-control filter" placeholder="Filter" />
                        </div>
                        <div class="col-sm-3">
                            <input type="text" name="Code" class="list-filter form-control filter" placeholder="Filter" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" name="Description" class="list-filter form-control filter" placeholder="Filter" />
                        </div>
                    </div>
                    <div class="scroll list-display">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

