﻿<div class="row">
    <div class="col-sm-4 row-header">
        Case Assignee Types
    </div>
    <div class="col-sm-8 field-input">
        <div class="select2-wrap">
            <input type="text" id="case-assignment-type-codes" ng-model="NodeData.CaseAssigneeTypeCode" class="form-control select2 bigdrop activity-assignee-type-codes" placeholder="Select Case Assignee Types" />
        </div>
    </div>
</div>