﻿<div class="row">
    <div class="col-sm-4 col-header">Due In</div>
    <div class="col-sm-4">
        <input class="input-sm form-control activity-time" type="text"/>
    </div>
    <div class="col-sm-4">
        <select class="input-sm form-control activity-units">
            @foreach (var val in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.ToDoResponseTime)))
            {
                <option value="@((int)val)">@val.ToString().SplitCamelCaseString()</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Due From</div>
    <div class="col-sm-8">
        <select class="input-sm form-control activity-target-due-date">
            <option value="">Current Date (default)</option>
            @foreach (var val in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.CaseEventType)))
            {
                <option value="@((int)val)">@val.ToString().SplitCamelCaseString()</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">Due in can be either a negative or a positive value.  In combination with setting a Due From event, this will allow you to create ToDos due before certain events are going to happen.</div>
    <div class="col-sm-12">Due from allows you set the due date of the to-do item based on a case event using the value specified for <em>Due In</em> as an offset.
    For instance, RTW could be due 1 day after the estimated RTW date.</div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Title</div>
    <div class="col-sm-8">
        <input class="input-sm form-control activity-title" type="text" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Priority</div>
    <div class="col-sm-8">
        <select class="input-sm form-control activity-priority">
            @foreach (var val in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.ToDoItemPriority)))
            {
                <option value="@((int)val)">@val.ToString().SplitCamelCaseString()</option>
            }
        </select>
    </div>
</div>
<div class="row col-header">
    <div class="col-sm-4">Optional</div>
    <div class="col-sm-8">
        <input type="checkbox" class="activity-optional"/>
    </div>
</div>
<div class="row col-header">
    <div class="col-sm-4">Ensure only 1</div>
    <div class="col-sm-8">
        <input type="checkbox" class="activity-unique" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">If <em>Ensure only 1</em> is checked, this workflow will cancel any duplicates of this ToDo item and only keep the latest one.</div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Hide Until</div>
    <div class="col-sm-4">
        <input class="input-sm form-control activity-hide-days" type="text" />
    </div>
    <div class="col-sm-4">
        Days
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Hide From</div>
    <div class="col-sm-8">
        <select class="input-sm form-control activity-target-hide-date">
            <option value="">Current Date (default)</option>
            @foreach (var val in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.CaseEventType)))
            {
                <option value="@((int)val)">@val.ToString().SplitCamelCaseString()</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">Hide Until allows you set the period in which the to-do item becomes visible to the case manager, for instance RTW could be hidden until 7 days before the estimated RTW date. Like Due In, Hide Until can be either a positive or a negative number.  In the given example, Hide Until would be -7.</div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Assignee Type</div>
    <div class="col-sm-8">
        <div class="select2-wrap">
            <input type="hidden" class="form-control select2 big-drop activity-assignee-type-code" placeholder="Assignee Type" />
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-sm-4 col-header">Auto Complete</div>
    <div class="col-sm-8">
        <input type="checkbox" class="activity-autocomplete" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>If <em>Auto Complete</em> is checked, this workflow will automatically complete the ToDo and move to the next step when it is triggered by the user who would be assigned the ToDo.</p>
    </div>
</div>