﻿@Html.Partial("_BaseToDoActivityConfiguration")
<div class="row">
    <div class="col-sm-4 col-header">Apply to Spouse's Case</div>
    <div class="col-sm-8">
        <input type="checkbox" class="activity-apply-to-spouse" />
    </div>
</div>