﻿<div class="row">
    <div class="col-sm-4 row-header">
        Note
    </div>
    <div class="col-sm-8">
        <input class="input-sm form-control activity-note-template" type="text"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 row-header">
        Category
    </div>
    <div class="col-sm-8">
        <select class="input-sm form-control activity-note-category">
            <option value="">Unknown</option>
            @foreach (var val in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.NoteCategoryEnum)))
            {
                <option value="@((int)val)">@val.ToString().SplitCamelCaseString()</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 row-header">
        Confidential
    </div>
    <div class="col-sm-8">
        <input type="checkbox" class="activity-note-confidential"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Apply to Spouse's Case</div>
    <div class="col-sm-8">
        <input type="checkbox" class="activity-note-apply-to-spouse"/>
    </div>
</div>