﻿<div class="row">
    <div class="col-sm-4 row-header">Item Type</div>
    <div class="col-sm-8">
        <select class="input-sm form-control activity-item-type" >
            <option value="">All (default)</option>
            @foreach (var val in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.ToDoItemType)))
            {
                <option value="@((int)val)">@val.ToString().SplitCamelCaseString()</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Title</div>
    <div class="col-sm-8">
        <input class="input-sm form-control activity-title" type="text" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">If provided, only ToDos with a matching title will be closed.</div>
</div>
<div class="row">
    <div class="col-sm-4 row-header">Close All</div>
    <div class="col-sm-8">
        <input type="Checkbox" class="activity-close-all" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">If this box is checked, all ToDos on the case will be closed.  If it is not checked, only the ToDos associated with this workflow will be closed.</div>
</div>
