﻿<div class="row">
    <div class="col-sm-4 row-header">
        Condition Name
    </div>
    <div class="col-sm-8">
        <input type="text" class="input-sm form-control activity-rules-name" />
    </div>
    
</div>
<div class="row">
    <div class="col-sm-4 row-header">
        Success
    </div>
    <div class="col-sm-4">
        <select class="input-sm form-control activity-rules-success-type">
            <option value="0">And</option>
            <option value="1">Or</option>
            <option value="2">No Rules May Pass</option>
            <option value="3">One Rule Must Fail</option>
        </select>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary addnew-admin-btn" id="addNewRule">Add New Rule</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="hide" id="rulesInvalid">The below rules are improperly configured.  Please check the highlighted fields and try again.</p>
    </div>
</div>
<div class="row form-horizontal">
    <div class="col-xs-12" id="rulesContainer">

    </div>
</div>