﻿@Html.Partial("_BaseToDoActivityConfiguration")
<div class="row">
    <div class="col-sm-8 col-header">Automatically Determine If Within Certification</div>
    <div class="col-sm-4">
        <input type="checkbox" class="activity-approve-automatically" />
    </div>
</div>
