﻿@Html.Partial("_BaseToDoActivityConfiguration")
<div class="row">
    <div class="col-sm-4 col-header">
        Question
    </div>
    <div class="col-sm-8">
        <input type="text" class="input-sm form-control activity-question-name" id="question" />
    </div>

</div>

<div class="row">
    <div class="col-sm-4 col-header">
        Answer
    </div>
    <div class="col-sm-6">
        <input type="text" class="form-control answer-option" name="Anwser" id="answer1" />

    </div>
    <div class="col-sm-2">
        <button class="btn btn-primary addnew-admin-btn" id="addAnswerOption">Add</button>
    </div>

</div>
<div class="row">
    <div class="col-sm-12 " id="tableAnswerOption">

        
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p class="invalidError hide" id="AddAnswerRowError">At least two answers are required</p>
    </div>
</div>     