﻿@Html.Partial("_BaseToDoActivityConfiguration")
<div class="row">
    <div class="col-sm-4 col-header">Communication</div>
    <div class="col-sm-8">
        <input type="hidden" class="form-control select2 bigdrop activity-template-code" placeholder="Communications" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Default Send Method</div>
    <div class="col-sm-8">
        <select class="input-sm form-control activity-send-method">
            <option value="1">Email</option>
            <option value="0">Mail</option>
        </select>
    </div>
</div>
<div class="activity-email-selected hide">
    <div class="row">
        <div class="col-sm-4 col-header">Send Automatically</div>
        <div class="col-sm-8">
            <input type="checkbox" class="activity-send-automatically" />
        </div>
    </div>
    <div class="activity-send-automatically-selected ">
        <div class="row">
            <div class="col-sm-4 col-header">To</div>
            <div class="col-sm-8">
                <div class="select2-wrap">
                    <input type="" id="to-contact-types" class="form-control select2 bigdrop activity-email-to" placeholder="Contact Types"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-header">CC</div>
            <div class="col-sm-8">
                <div class="select2-wrap">
                    <input type="" id="cc-contact-types" class="form-control select2 bigdrop activity-email-cc" placeholder="Contact Types" />
                </div>
            </div>
        </div>
    </div>
</div>
