﻿<div class="row">
    <div class="col-sm-4 col-header">Workflow to Start</div>
    <div class="col-sm-8">
        <input type="hidden" class="form-control select2 bigdrop activity-workflow-code" placeholder="Workflow" />
        
    </div>
</div>
