﻿<div class="row">
    <div class="col-sm-4 row-header">Update All</div>
    <div class="col-sm-8">
        <input type="checkbox" class="activity-update-all" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">If this box is checked, all ToDos on the case will be updated.  If it is not checked, only the ToDos associated with this workflow will be updated.</div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Set Status To</div>
    <div class="col-sm-8">
        <select class="input-sm form-control activity-status">
            @foreach (var val in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.ToDoItemStatus)))
            {
                <option value="@((int)val)">@val.ToString().SplitCamelCaseString()</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Where Status Is</div>
    <div class="col-sm-8">
        <select class="input-sm form-control activity-where-status">
            @foreach (var val in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.ToDoItemStatus)))
            {
                <option value="@((int)val)">@val.ToString().SplitCamelCaseString()</option>
            }
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Where Result Is</div>
    <div class="col-sm-8">
        <input class="input-sm form-control activity-result-text" type="text"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">When ToDo items are completed or canceled, for example on Case Cancel, you can filter on that result to more specifically target which ToDos to update.</div>
</div>