﻿<div class="row">
    <div class="col-sm-4 col-header">Endpoint URL</div>
    <div class="col-sm-8">
        <input class="input-sm form-control activity-endpoint-url" type="text" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Name</div>
    <div class="col-sm-8">
        <input class="input-sm form-control activity-event-name" type="text" />
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-header">Description</div>
    <div class="col-sm-8">
        <input class="input-sm form-control activity-friendly-description" type="text" />
    </div>
</div>
<div class="row">
    <h4>Customs Http Headers</h4>
</div>
<br />

<div class="row">
    <div class="row">
        <div class="col-md-6">Name</div>
        <div class="col-md-6">Value</div>
    </div>
    <div class="row namevalueTemplate">
        <div class="col-md-6"> <input class="input-sm form-control activity-event header-name" type="text" /></div>
        <div class="col-md-6"> <input class="input-sm form-control activity-event header-value" type="text" /></div>
    </div>
    <div class="row namevalueTemplate">
        <div class="col-md-6"> <input class="input-sm form-control activity-event header-name" type="text" /></div>
        <div class="col-md-6"> <input class="input-sm form-control activity-event header-value" type="text" /></div>
    </div>
    <div class="row namevalueTemplate">
        <div class="col-md-6"> <input class="input-sm form-control activity-event header-name" type="text" /></div>
        <div class="col-md-6"> <input class="input-sm form-control activity-event header-value" type="text" /></div>
    </div>

</div>
<div class="row ">
    <div class="col-md-offset-11">
        <button type="button" class="btn btn-default addNew-NameValueTemplate">Add</button>
    </div>
</div>
