﻿@model AbsenceSoft.Models.Workflow.WorkflowDesignViewModel

@{
    Layout = "~/Views/Shared/_AdministrationSidebarLayout.cshtml";
}
@if (!string.IsNullOrWhiteSpace(Model.DesignerData))
{
    <script>
    (function (AbsenceSoft, $) {
        AbsenceSoft.DesignWorkflow = AbsenceSoft.DesignWorkflow || {};
        AbsenceSoft.DesignWorkflow.DesignerData = @Html.Raw(Model.DesignerData);
    })(window.AbsenceSoft = window.AbsenceSoft || {}, jQuery)
    </script>
}


<a href="@Url.AdministrationRouteUrl("EditWorkflow", new { id = Model.Id })">
    <span class="fa fa-long-arrow-left"></span> Return to Workflow @Model.Name
</a>
<div class="row">
    <div class="col-xs-12">
        <div class="user-headline">
            <h3>Design Workflow <span>|</span> @Model.Name</h3> 
        </div>
    </div>
</div>

<div class="well" ng-non-bindable>
    @Html.Partial("_AdministrationWarningBanner", Model)
    @Html.HiddenFor(m => m.Id, new { id = "workflowId" })
    <input type="hidden" name="EmployerId" id="employerId" value="@ViewBag.EmployerId" />
    @Html.HiddenFor(m => m.TargetEventType, new { id = "targetEventType" })
    <div class="row">
        <div class="col-sm-3 admin-dw-menu">
            @Html.Action("WorkflowToolbar", new { eventType = Model.TargetEventType })
        </div>
        <div class="col-sm-9">
            <div class="canvas" id="workflow-designer">
                <div class="controls">
                    <i class="fa fa-arrows selected-mode" mode="pan" title="Pan Mode"></i>
                    <i class="fa fa-pencil" mode="select" title="Select Mode"></i>
                    <i class="fa fa-home" reset title="Zoom To Fit"></i>
                </div>
                <div id="miniview" class="miniview"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            @Html.RouteLink("Undo Changes", "DesignWorkflow", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn" id="saveWorkflowDesign" />
        </div>
    </div>
</div>

<script type="jtk" class="dlg" id="dlgOutcome" title="Select Outcome">
    <select value="${outcome}" jtk-focus jtk-commit="true" jtk-att="outcome">
        <r-each in="list">
            <r-if test="selected == true">
                <option id="${id}" selected>${value}</option>
            <r-else>
                <option id="${id}">${value}</option>    
            </r-if>            
        </r-each>
    </select>
</script>

<script type="jtk" id="tmplAction">
    <div style="left:${left}px;top:${top}px;width:${w}px;height:${h}px;" class="flowchart-object flowchart-action">
        <div style="position:relative">
            <div class="node-edit node-action">
                <i class="fa fa-pencil-square-o" />
            </div>
            <div class="node-delete node-action">
                <i class="fa fa-times" />
            </div>
            <svg:svg width="${w}" height="${h}">
                <svg:rect x="0" y="0" width="${w}" height="${h}" class="outer" />
                <svg:rect x="10" y="10" width="${w-20}" height="${h-20}" class="inner" />
                <svg:text text-anchor="middle" x="${w/2}" y="${h/2}" dominant-baseline="central">${text}</svg:text>
            </svg:svg>
        </div>
        <jtk-target port-type="target" />
        <jtk-source port-type="source" filter=".outer" />
    </div>
</script>

<script type="jtk" id="tmplQuestion">
    <div style="left:${left}px;top:${top}px;width:${w}px;height:${h}px;" class="flowchart-object flowchart-question">
        <div style="position:relative">
            <div class="node-edit node-action">
                <i class="fa fa-pencil-square-o" />
            </div>
            <div class="node-delete node-action">
                <i class="fa fa-times" />
            </div>
            <svg:svg width="${w}" height="${h}">
                <svg:path d="M ${w/2} 0 L ${w} ${h/2} L ${w/2} ${h} L 0 ${h/2} Z" class="outer" />
                <svg:path d="M ${w/2} 10 L ${w-10} ${h/2} L ${w/2} ${h-10} L 10 ${h/2} Z" class="inner" />
                <svg:text text-anchor="middle" x="${w/2}" y="${h/2}" dominant-baseline="central">${text}</svg:text>
            </svg:svg>
        </div>
        <jtk-source port-type="source" filter=".outer" />
        <jtk-target port-type="target" />
    </div>
</script>



<script type="jtk" class="dlg" id="dlgConfirm" title="Please Confirm">
    ${msg}?
</script>

<script type="jtk" class="dlg" id="dlgMessage" title="Message" cancel="false">
    ${msg}
</script>