﻿@model AbsenceSoft.Models.Workflow.WorkflowViewModel
@{
    bool isNew = true;
    if (!string.IsNullOrWhiteSpace(Model.Id))
    {
        isNew = false;
    }
    var theWorkflow = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

@* This little bit of script gets the json representation of the model into our js for us, without having made an Ajax call *@
<script>
    (function (AbsenceSoft, $) {
        AbsenceSoft.EditWorkflow = AbsenceSoft.EditWorkflow || {};
        var json = JSON.stringify(@Html.Raw(theWorkflow));
        AbsenceSoft.EditWorkflow.Workflow = JSON.parse(json);
    })(window.AbsenceSoft = window.AbsenceSoft || {}, jQuery);
</script>

@using (Html.BeginRouteForm("SaveWorkflow", FormMethod.Post, new { id = "editWorkflowForm", ng_non_bindable = "" }))
{
    <a href="@Url.AdministrationRouteUrl("ViewWorkflows")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>


    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Workflow</h3>
                @if (!isNew)
                {
                    <div class="pull-right admin-enabled">
                        @if (Model.IsDeleteable())
                        {
                            @Ajax.RouteLink("Delete", "DeleteWorkflow", new { workflowId = Model.Id, employerId = ViewBag.EmployerId }, new AjaxOptions()
                            {
                                HttpMethod = "DELETE"
                            }, new { @class = "btn btn-primary btn-danger", id = "deleteWorkflow" })
                        }

                        @if (Model.IsWorkflowSuppressedAtCustomerLevel())
                        {
                            <div class="disabled-button-div" data-toggle="tooltip" data-placement="bottom" title="This configuration needs to be enabled at the customer level.">
                                <span class="fa fa-toggle-off"></span><label class="disabled-button-label">DISABLED</label>
                            </div>
                        }
                        else
                        {
                            <div class="btn btn-group group-2" data-toggle="buttons">
                                <label class="wf-disabled-toggle enabled-btn btn btn-info @if (!Model.IsDisabled) {<text>active</text>}">
                                    <input type="radio" name="Enabled" class="ays-ignore" /> Enabled
                                </label>
                                <label class="wf-disabled-toggle disabled-btn btn btn-info @if (Model.IsDisabled) {<text>active</text>}">
                                    <input type="radio" name="Enabled" class="ays-ignore" /> Disabled
                                </label>
                            </div>
                        }
                    </div>
                    <div class="pull-right" style="@(!Model.IsCustom() ? "padding-top:7px;" : "")">
                        @Ajax.RouteLink("Copy Workflow", "CopyWorkflow", new { Code = Model.Code, CustomerId = Model.CustomerId, EmployerId = ViewBag.EmployerId, NewCode = Model.Code + "Copy", NewDescription = Model.Description, NewName = Model.Name + "Copy" }, new AjaxOptions()
                        {
                            HttpMethod = "POST"
                        }, new { @class = "btn btn-primary btn-copy" })
                    </div>
                }
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        <div class="row">
            <div class="col-xs-9">
                @Html.HiddenFor(m => m.Id, new { id = "workflowId" })
                <input type="hidden" name="EmployerId" id="employerId" value="@ViewBag.EmployerId" />
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "workflowName" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.Code)
                        @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "workflowCode" })
                        @Html.ValidationMessageFor(m => m.Code)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.TargetEventType)
                        @Html.EnumUIDropDownListFor(m => m.TargetEventType, "Select a target event type", new { @class = "form-control", id = "targetEventType" })
                        @Html.ValidationMessageFor(m => m.TargetEventType)
                    </div>
                    <div class="col-xs-3 form-group">
                        @Html.LabelFor(m => m.EffectiveDate)
                        @Html.TextBoxFor(m => m.EffectiveDate, "{0:d}", new { @class = "form-control date-editor", id = "effectiveDate" })
                        @Html.ValidationMessageFor(m => m.EffectiveDate)
                    </div>
                    <div class="col-xs-3 form-group">
                        @Html.LabelFor(m => m.Order)
                        @Html.TextBoxFor(m => m.Order, new { @class = "form-control", id = "workflowOrder" })
                        @Html.ValidationMessageFor(m => m.Order)
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", id = "description" })
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <a href="#rules" data-toggle="collapse" class="@if (isNew) {<text>wfr-disabled-link</text>} else {<text>wfr-enabled-link</text> }">
                    Show Rules
                </a>
                <a href="@Url.RouteUrl("DesignWorkflow", new { id = Model.Id, employerId = ViewBag.EmployerId })" class="@if(isNew){<text>wf-disabled-link</text>} else {<text>wf-enabled-link</text> }">
                    Design Workflow
                </a>
                <p id="disabledDesignHint" class="hide design-disabled">You must Save Changes before you can design the workflow or edit the rules.</p>
            </div>
        </div>
        <div id="rules" class="collapse">
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                    <h3>Rules</h3>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelFor(m => m.CriteriaName)
                        </div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.CriteriaName, new { @class = "form-control", id = "criteriaName" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            @Html.LabelFor(m => m.CriteriaSuccessType)
                        </div>
                        <div class="col-sm-5">
                            @Html.DropDownListFor(m => m.CriteriaSuccessType,
                                     new List<SelectListItem> {
                                            new SelectListItem { Value = "0" , Text = "And" },
                                            new SelectListItem { Value = "1" , Text = "Or" },
                                            new SelectListItem { Value = "2" , Text = "No Rules May Pass" },
                                            new SelectListItem { Value = "3" , Text = "One Rule Must Fail" }
                                     }, new { @class = "form-control", id = "criteriaSuccessType" })
                            @*@Html.EnumUIDropDownListFor(m => m.CriteriaSuccessType, new { @class = "form-control", id = "criteriaSuccessType" })*@
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary addnew-admin-btn pull-right" id="addNewRule">Add New Rule</button>
                        </div>
                    </div>
                    @*<span class="pull-right">
                            <button class="btn btn-primary addnew-admin-btn" id="addNewRule">Add New Rule</button>
                        </span>*@
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="hide" id="rulesInvalid">The below rules are improperly configured.  Please check the highlighted fields and try again.</p>
                </div>
            </div>
            <div class="row form-horizontal">
                <div class="col-xs-12" id="rulesContainer">

                </div>
            </div>
        </div>
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "EditWorkflow", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveWorkflowTemplate" />
        </div>
    </div>
}

