﻿@model IEnumerable<AbsenceSoft.Models.Workflow.ActivityCategory>

@{ 
    var theActivities = Newtonsoft.Json.JsonConvert.SerializeObject(Model.SelectMany(ac => ac.Activities));
}

<script>
    (function (AbsenceSoft, $) {
        AbsenceSoft.DesignWorkflow = AbsenceSoft.DesignWorkflow || {};
        AbsenceSoft.DesignWorkflow.Activities = JSON.parse('@Html.Raw(theActivities)')
    })(window.AbsenceSoft = window.AbsenceSoft || {}, jQuery);
</script>
<div class="toolbox">
    <h2>Workflow Activities</h2>
    <input type="text" class="form-control input-sm" id="filterText" placeholder="Filter..."/>
    <div class="panel-group">
        @foreach (var category in Model)
        {
            string categoriesId = string.Format("{0}Activities", category.CategoryName);
            <div class="panel panel-default dev-workflow-category">
                <div class="panel panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#@categoriesId">
                            @category.CategoryName
                        </a>
                    </h4>
                </div>
                <div id="@categoriesId" class="panel panel-collapse collapse">
                    <div class="panel-body toolbox-category">
                        <ul class="list-group">
                            @foreach (var activity in category.Activities)
                            {
                                <li class="list-group-item dev-activity" jtk-node-type="@activity.Template" jtk-activity-id="@activity.Id">
                                    @activity.Name
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@foreach (var category in Model)
{
    foreach (var activity in category.Activities)
    {
        string formId = string.Format("dlg{0}", activity.Id);
        <div class="modal fade" id="@formId">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">@string.Format("{0} Configuration", activity.Name)</h4>
                    </div>
                    <div class="modal-body">
                        @Html.Partial(string.Format("_{0}Configuration", activity.Id))
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary dev-configuration-save-changes">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    }

}