﻿@model AbsenceSoft.Administration.Models.Home.ChangePasswordViewModel

<div class="modal fade" id="changePasswordModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="changePasswordForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <div class="modal-body">
                    <div class="login-box">
                        <div class="col-xs-12 log-pass">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "changePasswordPassword" })
                        </div>
                        <div class="col-xs-12 log-pass">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "changePasswordConfirm" })
                        </div>
                        <div class="col-xs-12">
                            <div class="log-errors">
                                @Html.ValidationMessageFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="log-errors" id="changePasswordErrors">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id="changePasswordSave" value="Change Password"/>
                </div>
            </form>
        </div>
    </div>
</div>