﻿

<div class="modal fade" tabindex="-1" role="dialog" id="completeConfirmation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm Complete</h4>
            </div>
            <div class="modal-body">
                <p class="bold">This action cannot be undone.</p>
                <p id="confirmationMessagenew">Have you received a request to close the case from employer?</p>
                <br />
                @*<input type="text" class="form-control" id="confirmOperation" value="confirm" />*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="completeConfirmed">Confirm Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->