﻿
<div class="modal fade" tabindex="-1" role="dialog" id="deleteEmpConfirmation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <p class="bold">This action cannot be undone.</p>
                <p id="confirmationMessageEmp"></p>
                <br />               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="deleteEmpConfirmed">Confirm Delete</button>
            </div>
        </div>
    </div>
</div>