﻿@model  AbsenceSoft.Administration.Models.IHasFeatures


@using (Ajax.BeginRouteForm(Model.SaveRoute, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    OnSuccess = "AbsenceSoft.Features.Saved()"
}))
{
    @Html.HiddenFor(m => m.Id)

    <div class="row mtb20">
        <div class="col-xs-12 input-group">
            <input type="search" id="searchFeatures" class="form-control" placeholder="Search Features..." />
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
    </div>
    <div class="row">
        @Html.HiddenFor(m => m.Id)
        @for (int i = 0; i < Model.Features.Count; i++)
        {
            <div class="feature">
                <div class="col-sm-4">
                    <label class="check-list">
                        @Html.CheckBoxFor(m => Model.Features[i].Enabled)
                        @Html.HiddenFor(m => Model.Features[i].Feature)
                        @Model.Features[i].ToString()
                    </label>
                </div>
            </div>
        }
    </div>
    <div class="row mt20">
        <div class="col-sm-12 text-center">
            <input type="submit" class="btn btn-save" value="Save Features" />
        </div>
    </div>

}
