﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AbsenceSoft Administration</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
    <script src="https://use.fontawesome.com/b8caad7f2f.js"></script>
    @Styles.Render("~/Content/sitecss")
</head>
<body data-ga-track="true" data-ga-application="Admin"
      data-ga-user="@(Current.User() == null ? null : Current.User().Email)">
    <div class="navbar navbar-fixed-top">
        <div class="container-fluid">
            
                @Html.ActionLink("AbsenceSoft Administration", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav navbar-right">
                        @if (CurrentUserHasPermission(Permission.EditRoleDefinition) || CurrentUserHasPermission(Permission.EditUser))
                        {
                            <li><a href="@Url.RouteUrl("Settings")" class="btn btn-nav"><i class="fa fa-gears"></i> Settings</a></li>
                        }
                        @if(CurrentUserHasPermission(Permission.ViewAdminReports))
                        {
                            <li><a href="@Url.Action("Index", "Report")" class="btn btn-nav"><i class="fa fa-line-chart"></i> Reports</a></li>
                        }
                        <li class="dropdown">
                            <a data-target="#" href="#" data-toggle="dropdown">@Html.Action("UserName", "Home") <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#changePasswordModal" data-toggle="modal"><i class="fa fa-key"></i> Change Password</a></li>
                                <li><a href="@Url.RouteUrl("Logout")"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <div class="container-fluid">
        <footer>
            <p>&copy; @DateTime.Now.Year - AbsenceSoft Administration</p>
        </footer>
    </div>
    @if (Request.IsAuthenticated)
    {
        @Html.Partial("_DeleteConfirmation")
        @Html.Partial("_ChangePassword", new AbsenceSoft.Administration.Models.Home.ChangePasswordViewModel())
    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Html.Partial("_GoogleAnalytics")
</body>
</html>
