﻿<div class="modal fade" id="formsAuthTimeout" tabindex="-1" role="dialog" aria-labelledby="FormsAuthTimeout" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Logout Warning</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h4>For security reasons, your session will time out at <span class="session-timeout"></span>, unless you continue.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary continue-session">Continue session</button>
                @Html.RouteLink("Logout", "Logout")
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
