﻿@model AbsenceSoft.Models.OrganizationAnnualInfos.OrganizationAnnualInfoEntryViewModel
@{
    ViewBag.Title = "Organization Annual Info";
}
@using (Ajax.BeginRouteForm("AnnualInfoEntrySave", null,
                            new AjaxOptions
                            {
                                HttpMethod = "POST",
                                UpdateTargetId = "annualInfoEntryForm",
                                OnSuccess = "AbsenceSoft.PageStart('#annualInfoEntryForm')",
                                InsertionMode = InsertionMode.ReplaceWith
                            },
              new { id = "annualInfoEntryForm", @class = "transition" }))
{
    @Html.AntiForgeryToken()
    <div class="well annualinfolist">
      
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2><strong>OSHA Reports |</strong> Average Employees Per Year / Total Hours Worked By Location</h2>
                    </div>
                    <div class="pull-right">
                        <input type="file" id="organizationAnnualinfoBulkUploadFile" class="hide" />
                        <label for="organizationAnnualinfoBulkUploadFile" class="btn btn-primary addnew-admin-btn">UPLOAD CSV</label>
                    </div>
                </div>
                <p id="errorUploadingAnnualInfo" class="row-offset hide error">
                    Please review your file for any missing required fields.  You can re-upload your file with the corrections to load the remaining data.
                </p>
                <p id="hideUnableToParseFile" class="row-offset error hide"></p>
                <div id="ecBulkUploadMessage" class="ad-loading-modal hide">
                    <span class="fa fa-spin fa-spinner"></span> <h4>Parsing CSV File ... </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                        <h5>Enter both the average employees and hours worked totals into the corresponding boxes to update each year and location</h5>
                </div>
            </div>
            <div class="row">
                <input type="hidden" id="employerId" name="employerId" class="list-filter" value="@Employer.CurrentId" />
                <input type="hidden" id="numberOfYearsBack" name="numberOfYearsBack" class="list-filter" value="@Model.NumberOfYearsBack" />
                <div class="col-sm-12 scroll">
                    <table class="table table-striped table-bordered text-center">
                        <thead class="wr-tableheader">
                            <tr>
                                <th>Location</th>
                                @for (int i = 0; i < Model.Years.Count(); i++)
                            {
                        <th class="text-center">@Model.Years[i]</th>
                            }
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.OrganizationAnnualInfoLocations.Count(); i++)
                        {
                    <tr>
                        <td>@Model.OrganizationAnnualInfoLocations[i].Location</td>
                        @for (int ic = 0; ic < Model.OrganizationAnnualInfoLocations[i].OrganizationAnnualInfoYears.Count(); ic++)
                                {
                            <td>
                                @Html.HiddenFor(m => Model.OrganizationAnnualInfoLocations[i].OrganizationAnnualInfoYears[ic].OrganizationCode)
                                @Html.HiddenFor(m => Model.OrganizationAnnualInfoLocations[i].OrganizationAnnualInfoYears[ic].Year)
                                <div class="row">
                                    <div class="col-sm-6"><p class="row text-right">Avg Emp.</p></div>
                                    <div class="col-sm-6">@Html.TextBoxFor(m => Model.OrganizationAnnualInfoLocations[i].OrganizationAnnualInfoYears[ic].AverageEmployeeCount, new { @class = "form-control" })</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6"><p class="row text-right">Total Hours</p></div>
                                    <div class="col-sm-6"> @Html.TextBoxFor(m => Model.OrganizationAnnualInfoLocations[i].OrganizationAnnualInfoYears[ic].TotalHoursWorked, "{0:F2}", new { @class = "form-control" })</div>
                                </div>
                            </td>
                                }
                    </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <a href="@Url.RouteUrl("AnnualInfoEntry",new { numberOfYearsBack = Model.NumberOfYearsBack + 5 })">
                            <span class="fa fa-arrow-left"></span>
                            GO BACK 5 YEARS
                        </a>
                    </div>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-primary  admin-logo-btn" value="SUBMIT" />
                    </div>
                </div>
             </div>
            <div id="ecUploadMessage">
                <h4>@Model.Message</h4>
            </div>
    </div>
}