﻿@import "_variables.less";

.color-stable-bg{
    background-color:@stable;
}
.color-stable-fg{
    color: @stable;
}
.color-balanced-bg {
    background-color: @brand-success;
}

.color-balanced-fg {
    color: @brand-success;
}