﻿


.vertical-nav-briefcase-icon {
    color: teal;
    font-size: 50px;
}

#side-nav-tree{
    font-size: 14px;
    background-color: dimgray;
    height: 1000px;
    width: 180px;
    float: left;
    padding: 0px;
}

div.scroll-adhoc-grids-basic-report {
    height: 500px;
    overflow: scroll;
}


.input-search-textbox:focus {
    outline: none;
}

.search-button:hover {
    cursor: pointer;
}

.button-green-background {
    background-color: green;
}

.button-blue-background {
    background-color: blue;
}

.button-orange-background {
    background-color: orange;
}

.verticalLine {
    border-left: thin solid #FFFFFF;
}
