﻿//Attachments
.dragzone {
    border: 5px dashed @gray-lighter;
    &:hover {
        border-color: @brand-1;
    }
    
    > label {
        margin:25px 5px 25px 10px;
    }   

    > form > label {
        margin:25px 5px 25px 10px;
    }   
}