﻿//Case

//Leave Sub Reason
.leavesubreason::before { 
    content:"; ";
}
.leavesubreason:nth-of-type(1)::before { 
    content:"";
}

.time-used-available {
    margin-bottom: 5px;
}
.policy {
    margin-bottom: 20px;
}
.short-description {
    height: 35px!important;
}
.policies-table-header {
    padding: 0 16px 6px 16px;
}
.override-status {
    width:40%;
    display:inline-block;
}
.override-value {
    width:38%;
    display:inline-block;
}
.rule-group-description {
    margin-bottom:9px;
}

//Cases > View > Policies
.case-view-policies {
    .checkbox-column {
        position: relative;
    }
    input[type="checkbox"] {
        position:absolute;
        margin-top:3px;
    }
    .make-room-for-checkbox {
        margin-left: 22px;
    }
}
/*.case-view-policies {
    .checkbox-column {
        position: relative;
    }
    input[type="checkbox"] {
        position:absolute;
        margin-top:3px;
        display:none;
    }
}*/

//Certification Details
.certificationdetail {
    &:nth-of-type(1) {
        margin-top:0;
    }
}

//Accommodations Details
.accommodationsdetail {
    &:nth-of-type(1) {
        margin-top:0;
    }
}
.accommodationsbtn{position:absolute;right:0;margin:5px;z-index:99}
.accommodationsbtn .btn{padding:2px 5px;font-size:12px;line-height:1.5;border-radius:3px}
.case-view-accommodations {
    .checkbox-column {
        position: relative;
    }
    input[type="checkbox"] {
        position:absolute;
        margin-top:3px;
    }
    .make-room-for-checkbox {
        margin-left: 22px;
    }
}


//Calendars
#calendars {
    //todo: remove disabled class from calendars. I don't think it's doing anything. I'd rather use classes old and new to gray out dates
    .disabled {
        color:@text-color!important;
    }
    //remove pointer from cells that display the months
    .datepicker thead tr:first-child th, .datepicker tfoot tr th {
        cursor: default;
        background: none;
    }
    .cal-cell {
        .popover-custom {
            position: relative;
            .popover {
                top: auto;
                bottom: 30px;
                left: -147px;
                width: 315px;
                max-width: none;
                .case {
                    margin-top: 10px;
                }
                .policy {
                    margin: 5px 0;
                }
            }
        }
    }
    .holiday {
        .popover-custom {
            .popover {
                left: -100px;
                width: 219px;
            }
        }
    }
    .cal-cell:hover > .popover-custom > .popover {
        display:block;
    }
    .approved {
        background-color: lighten(@brand-success, 25%)!important;
        border-radius:0px;
    }
    .denied {
        background-color: lighten(@brand-danger, 20%)!important;
        border-radius:0px;
    }
    .pending {
        background-color: lighten(@brand-4, 35%)!important;
        border-radius:0px;
    }
    .approved.denied,.approved.pending,.denied.pending {
        background-color: lighten(@brand-3, 40%)!important;
        border-radius:0px;
    }
    .holiday {
        background-color:@gray-lightest!important;
        border-radius:0px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #calendars {
        .datepicker {
            padding: 4px 0;
            table tr td, table tr th {
                width: 25px;
                padding: 4px;
            }
        }
    }
}
@media (max-width: 991px) {
    #calendars {
        > div {
            float:none;
        }
    }
}

//Case create
.radio-wrap .btn {
    margin-bottom:10px;
    min-width: 250px;
    text-align: left;
}
.create-case-select {
    margin-bottom:10px;
    width: 250px;
}
.eligible-no ul {
    padding-left:15px;
}

//Hide New Case button on Case Create page
.controller-cases .hide-when {
    display:none;
}

//Intermittent Request
#intermittentRequest  {
    .available {
        margin-top:5px;
    }
}

@gray-lighter: #F1F1F1;
@icon-approved-color: #7ED321;
@icon-pending-color: #FF8300;
@icon-denied-color: #A22F3D;

.adjudicationstatus {
    width: 100%;
    background-color: @gray-lighter;
    border-radius: @border-radius-base;
    padding-left: 0px;
    margin: 5px 30px 5px 0px;
    padding: 5px 5px 5px 0px;
    line-height: 18px;

    .childdiv {
        text-align: left;
        padding-left: 2px;

        span {
            font-weight: bold;
            font-size: 12px;
        }

        .grid-separator {
            float: right;
        }
    }

    .iconpending {
        &:after {
            content: "\f10c";
            font-family: FontAwesome;
            font-size: 14px;
            z-index: 1;
            top: 20%;
            position: absolute;
            right: 10px;
            color: @icon-pending-color;
        }
    }

    .iconapproved {
        &:after {
            content: "\f05d";
            font-family: FontAwesome;
            float: right;
            font-size: 14px;
            z-index: 1;
            top: 20%;
            position: absolute;
            right: 10px;
            color: @icon-approved-color;
        }
    }

    .icondenied {
        &:after {
            content: "\f05e";
            font-family: FontAwesome;
            float: right;
            font-size: 14px;
            z-index: 1;
            top: 20%;
            position: absolute;
            right: 10px;
            color: @icon-denied-color;
        }
    }
}


