﻿//Communications
//TODO: Is this necessary to fix the margins? 
/*.communications-create {
    form {
        margin-left: -15px;
        margin-right: -15px;
    }
}*/
/*
    //TODO: Must add CSS as custom format http://www.tinymce.com/tryit/custom_formats.php
.mce-tinymce {
    body {
        font: @font-family-base;
        font-size: @font-size-base;
        line-height: @line-height-base;
    }
}*/
.selectedPacketTypeLabelHide {
    display: none;
}
.selectedPacketTypeLabelShow {
    display: block;
}
.htmleditor {
    margin:0;
}

.comm-scrollbar
{
	background: #F5F5F5;
	overflow-y: auto;
    height:120px;
}

.comm-force-overflow
{
	min-height: 30px;    
    height:120px;    
}

.comm-attach::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}


.comm-attach::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
.comm-attach::-webkit-scrollbar-thumb
{
	border-radius: 6px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: lightgrey;
}
.comm-attach-header
{
    background-color:gray;
    line-height:35px;
    height:35px;
    color: #ffffff;
    padding-left:5px;
    width: 100%; 
    overflow: hidden;
}
.comm-attach-header-left
{
    width:2%;
    float: left;
    vertical-align:middle;
}
.comm-attach-header-right
{
    margin-left:2%;
    vertical-align:middle;
}
.comm-attach-body-blank-space
{
    background-color:#fff;padding-left:0px;line-height:10px;
}
.comm-attach-body
{
    background-color:#fff;padding-left:0px;
}
.comm-attach-body-beginning-space
{
    line-height:2px; background-color:#ffffff;
}
.comm-general-header
{
    background-color:#ffffff;
}
.comm-general-header-right
{
    .comm-general-header;
    font-size:smaller;
}
.comm-attach-body-hor-line-1
{
    line-height:1px;background-color:#ffffff;
}
.comm-attach-body-hor-line-2
{
    background-color:lightgray;line-height:1px;
}
.comm-attach-body-hor-line-3
{
    line-height:2px;background-color:#ffffff;
}
.comm-attach-list
{
    padding-left:0px; background-color:#ffffff;
}
.comm-padding-0
{
    padding-left:0px;
}
.commdragzone {
    height:140px;
    border: 2px dashed @gray-lighter;
    &:hover {
        border-color: @brand-1;
    }
    
    > label {
        margin:55px 5px 55px 10px;
    }   

    > form > label {
        margin:55px 5px 55px 10px;
    }   
}