﻿.input-salary {
    width: 66%;
    display: inline-block;
}
//Playing with widths on Employee Create to avoid line wrap
.employees-create {
    .col-wrap > div {
        padding-left: 0px;
        padding-right: 0px;
    }
    .field-input {
        margin-left: 4%;
    }
    .manual-column {
        width: 19%;
    }
    //Specific hacks
    .prior-hours-worked .field-name {
        white-space:nowrap;
    }
    .employee-spouse .field-input {
        margin-left: 2%;
    }
    .schedule-type .field-input {
        margin:0;
        padding:0;
    }
    .schedule-days {
        .field-input {
            padding: 0 25px 0 0;
        }
    }
}

//Schedule
.schedule-days {
    .field-input {
        width: 90px;
        position: relative;
        min-height: 1px;
        float: left;
        margin:0;
        .form-control {
            padding: 3px 5px;
        }
    }
}

//Employee View
#viewfull {
    .field-name {
        font-weight:bold
    }
    .field-input {
        display:none;
    }
}

//Hide last comma of Schedule list
.days-list i:last-child {
    display: none;
}

