﻿body {
    //padding-top: 50px;
    padding-bottom: 20px;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-brand {
    padding:10px 15px;
    span {
        color: @gray-dark;
        float:left;
        &:nth-child(2) {
            padding: 6px 0 0 10px;
        }
    }
}

.navbar-search {
    float: right;
    margin: 12px 0 0 12px;
}
#navbar-nav {
    float: right;
}
#subnav {
    display:none;
    background-color: @brand-4;
    height:3px;
}
#subnav-links {
    margin: 5px;
    float: right;
    font-size: 13px;
    a {
        color: white;
        padding: 5px;
    }
}
//Margin between header and main content
.body-content {
    margin-top: 45px;
}

.dropdown-menu{
    background-color: #F5F5F5;
}
