﻿@theme-color:         #69b1e5;
@theme-dark-color:         #5E9FCE;
@theme-border-color:    #d6eaf8;
@border-radius:             4px;

a {
    color: @theme-color;
}

a:hover, 
a:focus {
    color: @theme-dark-color;
}

.btn-link {
    color: @theme-color;
}

.btn-link:hover, 
.btn-link:focus {
    color: @theme-dark-color;
}

.btn-primary {
    background-color: @theme-color;
    border-color: @theme-border-color;
    color: #fff;
}


.btn-primary:hover, 
.btn-primary:active,
.btn-primary:focus {
    background-color: @theme-dark-color;
    border-color: @theme-border-color;
    color: #fff;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active{
    background-color: @theme-dark-color;
    border-color: @theme-border-color;
    color: #fff;
}

.btn-icon-case-index {
    background-image: url("../Images/btn-icon-case-index-blue.png");   
}

.btn-icon-employee-info {
    background-image: url("../Images/btn-icon-employee-info-blue.png");   
}

.btn-icon-history {
    background-image: url("../Images/btn-icon-history-blue.png");   
}

.top-row-style {
    background: @theme-border-color;
    padding-top: 4px;
    border: 4px solid @theme-color;
    border-top-right-radius: @border-radius;
    border-top-left-radius: @border-radius;
    border-bottom: 0;
}

.bottom-row-style {
    background: @theme-border-color;
    border: 4px solid @theme-color;
    border-bottom-right-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
    border-top: 0;
}

.row-hover:hover {
    background-color: @theme-border-color;
    cursor: pointer;
}

.summary-box-border {
    border: 1px solid @theme-dark-color !important;
}