﻿footer {
    padding-top:50px;
    .footer-link-wrap {
        padding-top: 20px;
        text-align:center;
        img {
            margin-top:-8px;
        }
    }
    .copyright {
        padding-top: 20px;
        text-align:center;
    }
}
