﻿@theme-color:         #e47297;
@theme-light-color:      #E98EAC;
@theme-dark-color:         #D07391;
@theme-border-color:    #f8dde6;
@border-radius:             4px;

a {
    color: @theme-color;
}

a:hover, 
a:focus {
    color: @theme-dark-color;
}

.btn-link {
    color: @theme-color;
}

.btn-link:hover, 
.btn-link:focus {
    color: @theme-dark-color;
}

.btn-primary {
    background-color: @theme-color;
    border-color: @theme-border-color;
    color: #fff;
}


.btn-primary:hover, 
.btn-primary:active,
.btn-primary:focus {
    background-color: @theme-dark-color;
    border-color: @theme-border-color;
    color: #fff;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active{
    background-color: @theme-dark-color;
    border-color: @theme-border-color;
    color: #fff;
}

.text-primary {
    color: @theme-color;
}

.text-primary.answer {
    font-weight: bold;
}


.text-primary:hover,
.text-primary:focus,
.text-primary:active {
    color: @theme-dark-color;
}

.top-row-style {
    background: @theme-border-color;
    padding-top: 4px;
    border: 4px solid @theme-color;
    border-top-right-radius: @border-radius;
    border-top-left-radius: @border-radius;
    border-bottom: 0;
}

.bottom-row-style {
    background: @theme-border-color;
    border: 4px solid @theme-color;
    border-bottom-right-radius: @border-radius;
    border-bottom-left-radius: @border-radius;
    border-top: 0;
}

/*.btn-icon-case-index {
    background-image: url("../Images/btn-icon-case-index-blue.png");   
}

.btn-icon-employee-info {
    background-image: url("../Images/btn-icon-employee-info-blue.png");   
}

.btn-icon-history {
    background-image: url("../Images/btn-icon-history-blue.png");   
}*/



.row-hover:hover {
    background-color: @theme-border-color;
    cursor: pointer;
}

.summary-box-border {
    border: 1px solid @theme-dark-color !important;
}

//Attachments
.dragzone {
    &:hover {
        border-color: @theme-dark-color;
    }
    
    > label {
        margin:25px 5px 25px 10px;
    }   

    > form > label {
        margin:25px 5px 25px 10px;
    }   
}

.panel-default {
    border-color: @theme-color;

    .panel-heading:hover {
        background-color: #f5f5f5;
    }

    .confimation-text {
        color: @theme-color; 
        font-size: 14px; 
        margin-top: 3px;
    }
}

.btn-radio {
    background-color: #999;
    border-color: #8c8c8c;
    color: #fff;
}

.btn-radio:active, .btn-radio.active, .open .dropdown-toggle.btn-radio {
    background-image: none;
}
.btn-radio:hover, .btn-radio:focus, .btn-radio:active, .btn-radio.active, .open .dropdown-toggle.btn-radio {
    background-color: @theme-color;
    border-color: @theme-color;
    color: #fff;
}