﻿@import "_colors.less";
@import "../bootstrap/mixins.less";

.content-section {
    font-weight: bold;
    text-align: center;
    /*font-size: 14px;*/
    color: @gray-dark;
    margin-top: 5px;

    .tooltip {
        text-transform: none;
        font-weight: normal;
    }
}

//Icons
div[class*="btn-icon-"] {
    background-repeat: no-repeat;
    background-position: 50% 0px;
    width: 100%;
    min-height: 50px;
    margin: 6px 0 0 0;
    //max-width: 150px;
    vertical-align: middle;
    white-space: nowrap;
    .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @border-radius-base);
    .user-select(none);
    padding: 0;
}

[class^="glyphicon-"].icon-fixed-width,
[class*=" glyphicon-"].icon-fixed-width {
  display: inline-block;
  width: 1.1428571428571428em;
  text-align: right;
  padding-right: 0.2857142857142857em;
}

.btn-icon-case-index {
    background-image: url("../Images/btn-icon-case-index-reverse.png");
}

.btn-icon-case-index-home {
    background-image: url("../Images/btn-icon-case-index.png");
}

.btn-icon-case-create {
    background-image: url("../Images/btn-icon-case-create-reverse.png");
}

.btn-icon-case-info {
    background-image: url("../Images/btn-icon-case-info-reverse.png");
}

.btn-icon-policies {
    background-image: url("../Images/btn-icon-policies-reverse.png");
}

.btn-icon-policies-normal {
    background-image: url("../Images/btn-icon-policies.png");
}

.btn-icon-absence-reason {
    background-image: url("../Images/btn-icon-absence-reason-small-white.png");
}

.btn-icon-absence-reason-normal {
    background-image: url("../Images/btn-icon-absence-reason-small.png");
}

.btn-icon-policy-abs-reason{
    background-image: url("../Images/btn-icon-policy-abs-reason.png");
}

.btn-icon-accommodations {
    background-image: url("../Images/btn-icon-accommodations-reverse.png");
}

.btn-icon-std-01 {
    background-image: url("../Images/btn-icon-std-01.png");
}

.btn-icon-return-to-work {
    background-image: url("../Images/btn-icon-return-to-work.png");
}

.btn-icon-time-tracker {
    background-image: url("../Images/btn-icon-time-tracker-reverse.png");
}

.btn-icon-work-restriction {
    background-image: url("../Images/btn-icon-work-restrictions-knockout.png-small.png");
}

.btn-icon-history {
    background-image: url("../Images/btn-icon-history-reverse.png");
}

.btn-icon-notes {
    background-image: url("../Images/btn-icon-notes-reverse.png");
}

.btn-icon-employee-index {
    background-image: url("../Images/btn-icon-employee-index-reverse.png");
}

.btn-icon-employee-index-home {
    background-image: url("../Images/btn-icon-employee-index.png");
}

.btn-icon-employee-create {
    background-image: url("../Images/btn-icon-employee-create-reverse.png");
}

.btn-icon-employee-create-home {
    background-image: url("../Images/btn-icon-employee-create.png");
}

.btn-icon-employee-info {
    background-image: url("../Images/btn-icon-employee-info-reverse.png");
}

.btn-icon-todo-index {
    background-image: url("../Images/btn-icon-todo-index-reverse.png");
}

.btn-icon-todo-index-home {
    background-image: url("../Images/btn-icon-todo-index.png");
}

/*.btn-icon-todo-create {background-image: url("../Images/btn-icon-todo-create-reverse.png");}*/
.btn-icon-attachment-index {
    background-image: url("../Images/btn-icon-attachments-reverse.png");
}

.btn-icon-attachment-create {
    background-image: url("../Images/btn-icon-attachments-create-reverse.png");
}

.btn-icon-communication {
    background-image: url("../Images/btn-icon-communication-reverse.png");
}

.btn-icon-communication-create {
    background-image: url("../Images/btn-icon-communication-create-reverse.png");
}

.btn-icon-communication-info {
    background-image: url("../Images/btn-icon-communication-edit-reverse.png");
}

.btn-icon-contacts {
    background-image: url("../Images/btn-icon-contacts-reverse.png");
}

.btn-icon-certifications {
    background-image: url("../Images/btn-icon-certification-reverse.png");
}

.btn-icon-signup-userinfo {
    background-image: url("../Images/btn-icon-signup-userinfo.png");
    background-size: contain;
}

.btn-icon-signup-companyinfo {
    background-image: url("../Images/btn-icon-signup-companyinfo.png");
    background-size: contain;
}

.btn-icon-signup-employerinfo {
    background-image: url("../Images/btn-icon-signup-employerinfo.png");
}

.btn-icon-signup-employer-contactinfo {
    background-image: url("../Images/btn-icon-contacts-reverse.png");
}

.btn-icon-signup-employer-policyinfo {
    background-image: url("../Images/btn-icon-policies-reverse.png");
}

.btn-icon-signup-employer-holidays {
    background-image: url("../Images/btn-icon-history-reverse.png");
}

.btn-icon-signup-employer-logo {
    background-image: url("../Images/btn-icon-signup-employer-logo.png");
}

.btn-adminicon-billinginfo {
    background-image: url("../Images/btn-icon-admin-billinginfo.png");
    background-color: #FF8300;
}

.btn-adminicon-companyinfo {
    background-image: url("../Images/btn-icon-admin-companyinfo.png");
    background-color: #FF8300;
}

.btn-adminicon-employerinfo {
    background-image: url("../Images/btn-icon-admin-employerinfo.png");
    background-color: #FF8300;
}

.btn-adminicon-userinfo {
    background-image: url("../Images/btn-icon-admin-userinfo.png");
    background-color: #FF8300;
}

.btn-icon-user-assignment {
    background-image: url("../Images/user.png");
}
//Style row headers like on the Indices and Communications>Index, etc.
.row-style {
    .color-stable-bg;
    border: 4px solid lighten(@brand-2, 25%);
    border-radius: @border-radius-base;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 5px;
}

.top-row-style {
    .color-stable-bg;
    padding-top: 4px;
    border: 4px solid lighten(@brand-2, 25%);
    border-top-right-radius: @border-radius-base;
    border-top-left-radius: @border-radius-base;
    border-bottom: 0;
}

.bottom-row-style {
    .color-stable-bg;
    border: 4px solid lighten(@brand-2, 25%);
    border-bottom-right-radius: @border-radius-base;
    border-bottom-left-radius: @border-radius-base;
    border-top: 0;
}

//Provide spacing above rows
.row-offset {
    margin-top: 30px;
}

.row-offset-sm {
    margin-top: 15px;
}

.row-header {
    font-weight: bold;
    //color: white;
    //background-color: @gray-dark;
}

.col-header {
    font-weight: bold;
}

//This will eventually be replaced by JS (delete later)
.temporary-link, .temporary-link:hover {
    color: inherit;
}
//Border to match PSD comps
.border {
    border: 1px solid @gray-lighter;
    padding: 15px;
    //font-size: 13px;
    border-radius: @border-radius-large;
}

.border-margin-bottom {
    border: 1px solid @gray-lighter;
    padding: 15px;    
    border-radius: @border-radius-large;
    margin-bottom:6px;
}

.proposal3-border {
    border: 1px solid @gray-lighter;

    > div {
        min-height: 35px;
    }
}

.overdue {
    color: red;
}

.italic {
    font-style: italic;
    font-size: @font-size-small;
}

.hover-show, .btn-hover {
    visibility: hidden;
}

*:hover > .hover-show {
    visibility: visible;
}

.modal-link {
    cursor: pointer;
}

.font-size-small {
    font-size: @font-size-small;
}

.form-control, .btn, .modal-footer .btn + .btn, .input-group, .select2-wrap {
    margin-bottom: 7px;
}

.hover-highlight {
    &:hover {
        .color-stable-bg;
    }
}

.hover-link {
    &:hover {
        cursor:pointer;
    }
}

.row-hover {
    padding-top: 3px;
    padding-bottom: 3px;

    &:hover {        
        .color-stable-bg;
        //color:white;
        cursor: pointer;

        .btn-hover {
            visibility: visible;
        }
    }

    .checkbox {
        display: inline-block;
        margin: 0 5px 0 0;
    }
}


//Make full width
.fullwidth {
    width: 100%;
}

.glyphicon-exclamation-sign {
    color: red;
}

.inline-block {
    display: inline-block;
}

.sort {
    color: @gray-lighter;
    font-size: 10px;
    display: inline;
}

.modal-footer {
    text-align: center;
}

//Space items in group full, even width, such as <labels>
.group-2 {
    width: 100%;

    > * {
        width: 50%;
    }
}

.group-3 {
    width: 100%;

    > * {
        width: 33%;
    }
}

.group-4 {
    width: 100%;

    > * {
        width: 25%;
    }
}

.group-5 {
    width: 100%;

    > * {
        width: 20%;
    }

    > label {
        word-wrap: break-word !important;
    }
}

.pull-center {
    text-align: center !important;
}

//When embedding columns within a column WITHOUT a row
.col-wrap {
    padding: 0;
}

.col-right {
    a, button {
        width: 100%;
        margin-bottom: 12px;
        white-space: normal;
        max-width: 140px;
    }
}

.filter {
    padding: 1px 2px;
    font-size: 12px;
    line-height: 14px;
    height: 22px;
    border-radius: 0;
    margin-left: -1px;
}

//TODO: Fix this so that the background color is not darkened
/*.btn-info {
  &:active,
  &.active {
    .box-shadow(none);
    .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
  }
}*/

//Hide radio/checkbox
.btn-info > input[type=radio], .btn-info > input[type=checkbox] {
    //display: none;
}

//Provide some spacing in between buttons that are centered
.btn-centered {
    margin: 0 7px;
}

//Wrapper for things like "close" and "edit" buttons
.btn-right-corner {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    z-index: 99;
    float: right;
    .btn {
        padding: 2px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }
}


//Wrapper for things like "close" and "edit" buttons
.btn-bottom-right-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 5px;
    z-index: 99;
    .btn {
        padding: 2px 5px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
        background-color: #ff8300;
        color: #fff;
    }
}

.btn-right-interactive-process {
    display: inline-block; 
    padding: 2px 4px; 
    font-size: 12px; 
    line-height: 1.25;
}

.glyphicon-remove, .state-danger-text {
    color: @state-danger-text;
}

.glyphicon-ok {
    color: green;
}

//Modals
.modal-header {
    padding: 15px 20px;
}

.modal-body {
    padding: 20px 25px;
}

@media screen and (min-width: 768px) {
    .modal-lg {
        width: 700px;
    }
}

//Accordion
.panel-default > .panel-heading:hover {    
    .color-stable-bg;
    cursor: pointer;
}

//Select2
.select2-container .select2-choice {
    height: 32px !important;
}

.select2-no-results {
    display: none !important;
}

//CSS columns
.columns-3 {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.validation-summary-errors {
    .alert;
    .alert-danger;
}

.validation-summary-errors ul {
    .list-unstyled;
}

.form-group.has-error{
    border: none;
}

.error, .field-validation-error
{
    color: red;
    // KRC: stop bolding errors. Makes it hard to provide formatted instructions.
    /*font-weight: bold !important;*/
}

/*
    Hide form and control errors when not submitted
    or everything is valid
*/
ng-form.form-not-submitted.ng-invalid .ng-invalid + div.control-error,
ng-form.form-not-submitted.ng-invalid div.form-error,
ng-form div.form-error,
ng-form div.control-error,
ng-form.form-not-submitted .ng-invalid + div[ng-messages],
ng-form .ng-valid + div[ng-messages],

form.form-not-submitted.ng-invalid .ng-invalid + div.control-error,
form.form-not-submitted.ng-invalid div.form-error,
form div.form-error,
form div.control-error,
form.form-not-submitted .ng-invalid + div[ng-messages],
form .ng-valid + div[ng-messages]
{
    display:none;
}

/*
    Show form and control errors once submitted
*/
ng-form.form-submitted.ng-invalid .ng-invalid + div.control-error,
ng-form.form-submitted.ng-invalid div.form-error,
ng-form.form-submitted.ng-invalid .ng-invalid + div[ng-messages],

form.form-submitted.ng-invalid .ng-invalid + div.control-error,
form.form-submitted.ng-invalid div.form-error,
form.form-submitted.ng-invalid .ng-invalid + div[ng-messages]
{
    display:block;
    .error;
}


/*
    Add error styling to controls once submitted
*/
ng-form.form-submitted.ng-invalid .ng-invalid ,
form.form-submitted.ng-invalid .ng-invalid 
{
    .has-error;
    .error;
}


form.form-submitted .ng-invalid,
/*input.ng-invalid.ng-dirty {
  border: 1px solid red;
}*/
input.ng-valid.ng-dirty {
    border: 1px solid green;
}

.capitalize {
    text-transform: capitalize;
}

//AngularUI datepicker
.ng-valid-date {
    table {
        margin: 5px;

        th > .btn {
            color: @link-color;
        }

        td > .btn {
            border: 0;
            padding: 5px 8px;
        }
    }

    li:nth-of-type(2) {
        padding-top: 2px !important;

        span {
            text-align: center;
            width: 100%;

            button {
                display: none;
            }

            button:nth-of-type(1) {
                display: inline-block;
                border-bottom-right-radius: 3px !important;
                border-top-right-radius: 3px !important;
                float: none;
            }
        }

        > button {
            display: none;
        }
    }
}

//Top and bottom margin for contacts
.contact-detail {
    margin-top: 20px;
}

.edit-contact-button-row {
    margin-bottom: 30px;
}

// Show/hide password toggle
.show-hide-password {
    padding: 0;
    width: 30px;
    height: 40px;
    line-height: 32px;
    vertical-align: middle;
    margin-left: -4px;
}


//report
.reportDevider {
    height: 30px;
    background-color: #FF8300;
}

#reportView .lblHeader {
    color: #fff !important;
    margin-left: 10px !important;
    font-size: 15px !important;
    vertical-align: middle !important;
    line-height: 30px !important;
    cursor: pointer;
}

#reportView {
    margin-top: 15px !important;
    border-radius: 6px 6px 6px 6px;
}


.reportMenuImage {
    margin: -5px 4px -17px 4px;
    border-radius: 6px 6px 0px 0px;
}

.reportImage {
    min-height: 200px !important;
    min-width: 200px !important;
}

.reportMenu {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.display-none {
    display: none;
}

a {
    cursor: pointer;
}

.head-border {
    border-bottom: 1px solid #CCCCCC;
}

.data-border {
    border-top: none !important;
}

.bottom-border {
    border-bottom: 2px solid #CCCCCC;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.animation {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -o-perspective: 2000px;
    perspective: 2000px;
}

.cube {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.animate-enter,
.animate-leave {
    -webkit-transition: 3000ms linear -webkit-transform, 3000ms linear opacity, 3000ms linear background-color;
    -moz-transition: 3000ms linear -moz-transform, 3000ms linear opacity, 3000ms linear background-color;
    -o-transition: 3000ms linear -o-transform, 3000ms linear opacity, 3000ms linear background-color;
    transition: 3000ms linear transform, 3000ms linear opacity, 3000ms linear background-color;
    position: absolute;
}

.animate-enter {
    background-color: green;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: translateX(100%) rotateY(90deg);
    -moz-transform: translateX(100%) rotateY(90deg);
    -o-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg);
    opacity: 0;
}

.animate-enter.animate-enter-active {
    background-color: yellow;
    -webkit-transform: translateX(0%) rotateY(0deg);
    -moz-transform: translateX(0%) rotateY(0deg);
    -o-transform: translateX(0%) rotateY(0deg);
    transform: translateX(0%) rotateY(0deg);
    opacity: 1;
}

.animate-leave {
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.animate-leave.animate-leave-active {
    background-color: gray;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    -moz-transform: translateX(-100%) rotateY(-90deg);
    -o-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg);
    opacity: 0;
}

.report-table {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
}

.report-group-label {
    margin-top: 15px;
    margin-bottom: 5px;
}

.report-group-types {
    margin-bottom: 15px;
}

.report-right-margin {
    margin-right: 10px !important;
}

.report-toc {
    font-size: 15px !important;
    font-weight: bold !important;
}

.noty-bulleted-content {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.noty-message {
    padding-top: 10px !important;
    padding-bottom: 5px !important;
}

.noty_buttons {
    background-color: transparent !important;
}

.noty-confirm-message {
    margin-top: 10px !important;
    margin-left: 30px !important;
    font-weight: bold !important;
}

.ielt8-warning {
    font-size: smaller !important;
}


#fileList {
    .color-stable-bg;
    border: 4px solid lighten(@brand-2, 25%);
    //border: 10px solid lighten(@brand-primary, 45%);
    border-radius: @border-radius-large;

    .content-section {
        padding-top: 3px;
    }

    .border {
        border: 0;
        padding: 0 15px;
    }

    .row-header {
        padding: 5px 15px 5px 0;
        color: @gray-darker;
        //Make column header clickable for sorting on Dashboard only
        span {
            cursor: pointer;
        }
    }

    .row-data {
        background: white;
        margin-bottom: 0;
        height: 180px !important;
        max-height: 215px !important;
        overflow-y: scroll;
        margin-bottom: 0;
        .row:hover {
            cursor: pointer;
        }

        .data {
            margin-bottom: 5px !important;
        }
    }
}

#fileList .row-data {
}




#fileErrors {
    .color-stable-bg;    

    .content-section {
        padding-top: 3px;
    }

    .border {
        border: 0;
        padding: 0 15px;
    }

    .row-header {
        padding: 5px 15px 5px 0;
        color: @gray-darker;
        border: 4px solid lighten(@brand-2, 25%);
        //border: 10px solid lighten(@brand-primary, 45%);
        border-radius: @border-radius-large;
        //Make column header clickable for sorting on Dashboard only
        span {
            cursor: pointer;
        }
    }

    .row-data {
        background: white;
        margin-bottom: 0;
        .row:hover {
            cursor: pointer;
        }

        .data {
            margin-bottom: 5px !important;
        }
    }
}

.file-error-detail {
    font-size: 14px !important;
    margin-bottom: 15px !important;
}


.file-error-detail .error-message {
    color: #AD5857 !important;
}

.file-error-detail .error-row-source {
    height: 130px !important;
    max-height: 150px !important;
    overflow-y: scroll;
    margin-bottom: 0;
}

#ShowErrorDetail .modal-lg-width {
    width: 750px !important;
}

#AddPolicyEvents .modal-lg-width {
    width: 750px !important;
}

#InteractiveProcess .modal-lg-width {
    width: 750px !important;
}

#RuleGroups .modal-lg-width {
    width: 750px !important;
}

.add-user-info .modal-title {
    text-align: center !important;
}

.btn .remove-margin {
    margin: 0 0 0 0 !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

.less-padding-on-sides {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.smaller-font {
    font-size: 75% !important;
}

.administration-box {
    background: none repeat scroll 0 0 #fff;
    border: 2px solid #ffcd99;
    border-radius: 4px;
    height: 65px;
}

.administration-header {
    color: #ff8300;
    font-size: 14px;
}


.administration-btn-right-corner .btn {
    float: right;
    position: relative;
    right: 0;
    top: 14px;
    z-index: 99;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 2px 5px;
    margin-right: 20px;
}

.app-modal-window .modal-dialog {
    width: 800px !important;
}

.icon-upload-employees {
    background-image: url("../Images/upload-arrow-icon.png");
    background-repeat: no-repeat;
}

.summary-header {
    color: #ff8300;
    font-size: 13px;
}

.summary-box-border {
    border: 1px solid #ff8300;
    border-radius: 8px;
    padding: 15px;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #fff;
    background-color: #ff8300;
    font-size: 13px;
    padding: 7px;
    display: none;
    border-radius: 4px;
}

.back-to-top:hover {
    background-color: #d66e00;
    color: #fff;
}

div[class*="btn-adminicon-"] {
    -moz-user-select: none;
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-size: 13px;
    height: 61px;
    line-height: 1.42857;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}


@media screen and (min-width: @screen-sm-min) {
    #ViewGuidelines .modal-content {
        width: 700px !important;
    }
}

#ViewGuidelines .modal-body {
        height: 450px !important;
        overflow: auto;
    }


#InteractiveProcess .modal-body {
        max-height: 450px !important;
        overflow: auto;
    }


button.alertClose {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.alertClose {
    color: #000;
    float: right;
    font-size: 15.5px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}

.case-page-section-header {
    font-size: 14px; 
    .color-stable-bg;
    background: none repeat scroll 0 0; 
    border-bottom: 0px; 
    border-top: 1px solid #bfbfbf; 
    border-left:1px solid #bfbfbf; 
    border-right: 1px solid #bfbfbf; 
    padding: 15px 0px 0px 15px; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.case-page-section-content {
    margin-bottom: 10px !important; 
    border-bottom: 1px solid #bfbfbf; 
    border-top: 0px; 
    border-left:1px solid #bfbfbf; 
    border-right: 1px solid #bfbfbf; 
    padding: 15px 0px 0px 0px; 
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px;
}


.btn-radio {
    background-color: #999;
    border-color: #8c8c8c;
    color: #fff;
}

.btn-radio:active, .btn-radio.active, .open .dropdown-toggle.btn-radio {
    background-image: none;
}
.btn-radio:hover, .btn-radio:focus, .btn-radio:active, .btn-radio.active, .open .dropdown-toggle.btn-radio {
    background-color: #FF8300;
    border-color: #FF8300;
    color: #fff;
}

.name-header{
    color: #ff8300;
    font-weight:bold;
}
.btn-icon-attachments {
    background-image: url("../Images/btn-icon-attachments.png");
    background-color: transparent;
    -webkit-transform: rotate(-45deg);    
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    zoom: 0.6;    
    -moz-transform:  scale(0.6,0.6) rotate(-45deg);
    -moz-transform-origin:-1px 10px;
}