﻿@import "_colors.less";

//Icons
a[class*="btn-icon-"] {
    background-repeat: no-repeat;
    background-position: 50% 7px;
    width: 100%;
    height: 75px;
    padding-top: 52px;
    margin: 8px 0;
    max-width: 125px;
}

.home-index .btn-icon-case-index {
    background-image: url("../Images/btn-icon-case-index.png");
}

.home-index .btn-icon-case-create {
    background-image: url("../Images/btn-icon-case-create.png");
}

.home-index .btn-icon-employee-index {
    background-image: url("../Images/btn-icon-employee-index.png");
}

.home-index .btn-icon-employee-create {
    background-image: url("../Images/btn-icon-employee-create.png");
}

.home-index .btn-icon-todo-index {
    background-image: url("../Images/btn-icon-todo-index.png");
}

.home-index .btn-icon-todo-create {
    background-image: url("../Images/btn-icon-todo-create.png");
}

//Login page only
.login-box {
    text-align: center;

    legend {
        border: 0;
        padding: 30px 0 20px;
        text-align: center;
    }

    .logo {
        margin: -11px 0 0 5px;
    }

    .form-control {
        margin-bottom: 17px;
    }

    .terms-of-use {
        font-size: 1.2em;
    }

    .btn-login {
        padding-bottom: 50px;

        button {
            font-size: 1.2em;
            margin-top: -10px;
        }
    }
}

.home-index h2 {
    margin: 8px 0 10px;
}

.home-index .content-section {
    text-transform: uppercase;
    /*font-size: 14px;*/
}

.home-index .column-todo {
    width: 12%;
}

.home-index .column-todo-right {
    width: 88%;
}

/*.absencereasons-index .content-section {
    text-transform: uppercase;
}*/

.absencereasons-index .column-absencereason {
    width: 14%;
}

.absencereasons-index .column-absencereason-right {
    width: 86%;
}

#todo, #cases, #employees, #policy, #absreason, .item-list {
    .color-stable-bg;
    
    border: 2px solid #f1f1f1;
    //border: 10px solid lighten(@brand-primary, 45%);
    border-radius: @border-radius-large;

    .content-section {
        padding-top: 3px;
    }

    .border {
        border: 0;
        padding: 0 15px;
    }

    .row-header {
        padding: 8px 15px 1px 0;
        color: @gray-darker;
        //Make column header clickable for sorting on Dashboard only
        span {
            cursor: pointer;
        }
    }

    .row-filter {
        padding: 0px 15px 0px 0;
    }

    .scroll {
        background: white;
        margin-bottom: 0;
        .row:hover {
            cursor: pointer;
        }
    }

    .filter {
        border-color: lighten(@brand-2, 25%);
    }
}
.ESS-item-list{
    border: none;
    border-top:1px solid #000;
    border-radius:0px;
    background: #FFF;
}
.ESS-item-list .scroll .row:hover{
    cursor: pointer;
    background-color: #8D8D8D;
}

#manage-employer, #manage-user {    
    background: lighten(#f2f2f2, 30%);
    background: #f2f2f2;
    border: 2px solid #f1f1f1;
    //border: 10px solid lighten(@brand-primary, 45%);
    border-radius: @border-radius-large;

    .content-section {
        padding-top: 3px;
    }

    .border {
        border: 0;
        padding: 0 15px;
    }

    .row-header {
        padding: 8px 15px 1px 0;
        color: @gray-darker;
        //Make column header clickable for sorting on Dashboard only
        span {
            cursor: pointer;
        }
    }

    .row-filter {
        padding: 0px 15px 0px 0;
    }

    .scroll {
        background-color: white;
        margin-bottom: 0;
        .row:hover {
            cursor: pointer;
            background-color: #fff3e5 !important;
        }

        .even {
            background-color: #f2f2f2 !important;
        }

        .odd {
            background-color: #fff !important;
        }
    }

    .filter {
        border-color: lighten(@brand-2, 25%);
    }
}



#manage-employer, #manage-user {
    margin-top: 10px;

    .scroll {
        height: 200px;

        .btn {
            padding: 2px 8px;
            margin: 3px 0;
        }

        .btn-todo {
            width: 100%;
            text-align: left;
        }
    }

    .employee-name {
        color: @text-color;

        &:hover {
            color: @text-color;
            text-decoration: none;
        }
    }
}

#todo {
    margin-top: 10px;

    .scroll {
        height: 200px;

        .btn {
            padding: 2px 8px;
            margin: 3px 0;
        }

        .btn-todo {
            width: 100%;
            text-align: left;
        }
    }

    .employee-name {
        color: @text-color;

        &:hover {
            color: @text-color;
            text-decoration: none;
        }
    }
}

#employees-cases {
    > div {
        padding: 0px;
    }

    .scroll {
        height: 180px;
    }
}

#employees {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
}

#cases {
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#policy {
    margin-top: 10px;

    .scroll {
        height: 200px;

        .btn {
            padding: 2px 8px;
            margin: 3px 0;
        }

        .btn-todo {
            width: 100%;
            text-align: left;
        }
    }
}

#absreason {
    margin-top: 10px;

    .scroll {
        height: 200px;

        .btn {
            padding: 2px 8px;
            margin: 3px 0;
        }

        .btn-todo {
            width: 100%;
            text-align: left;
        }
    }
}

// Show/hide password toggle
.home-login .show-hide-password {
    line-height: 40px;
    margin-left: -10px;
}

// for employer column - set text label width for employee / cases widgets
.large-text-label-without-Employer {
    max-width: 100px !important;
    word-wrap: break-word !important;
}

.large-text-label-with-employer {
    max-width: 100px !important;
    word-wrap: break-word !important;
}

#employee-myinfo {
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    border: 4px solid #69b1e5;
    border-radius: 8px;
    height: 245px;

    .my-info {
        background: none repeat scroll 0 0 #69b1e5;
        height: 50px;
    }

    .btnLnk {
        color: #69b1e5;
    }
}

.emp-dashboard-myinfo, #emp-dashboard-myteam {
    > div {
        padding: 0px;
        margin-top: 15px;
    }

    .scroll {
        height: 180px;
    }
}

/*.nav-supervisor-tabs {   
    border-bottom: none !important;
}*/


.nav-supervisor-tabs > li > a {
    color: #000;
    font-weight: bold;
}


.nav-supervisor-tabs > li > a:hover {
    background-color: #fff !important;
    border-color: #fff;
}

.nav-supervisor-tabs > li.active > a, .nav-supervisor-tabs > li.active > a:hover, .nav-supervisor-tabs > li.active > a:focus {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 4px solid #ff8300;
    color: #ff8300;
    cursor: pointer;
    font-weight: bold;
}

.nav-employees-tabs {
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    border: none;
}

.nav-employees-tabs > li > a {
    color: @brand-2;
}

.nav-employees-tabs > li > a:hover {
    background-color: #288832 !important;
    color: #fff;
    border-color: #fff;
}

.newbutton {
    font-weight: bold;
}

.newbutton:hover {
    background-color: #69bb9d !important;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
}

.nav-employees-tabs > li.active > a:hover {
    background-color: #fff !important;
    border-color: #fff;
}

#sup-myteam-team {
    //background: lighten(#69b1e5, 25%);
    //background: #69b1e5;
    //border: 4px solid #69b1e5;
    //border: 10px solid lighten(@brand-primary, 45%);
    //border-radius: @border-radius-large;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;

    .content-section {
        padding-top: 3px;
    }

    .border {
        border: 0;
        padding: 0 15px;
    }

    .row-header {
        padding: 8px 15px 1px 0;
        color: @gray-darker;
        //Make column header clickable for sorting on Dashboard only
        span {
            cursor: pointer;
        }
    }

    .btn-primary {
        background-color: #69b1e5 !important;
        border-color: #69b1e5 !important;
    }

    .row-filter {
        padding: 0px 15px 0px 0;
    }

    .scroll-content {
        /*min-height: 215px !important;
        max-height: 215px !important;
        overflow-y: scroll !important;*/
        background: white;
        margin-bottom: 0;
    }

    .filter {
        border-color: lighten(#4D4D4D, 10%);
    }

    .content {
        /*height: 150px;*/
        .data {
            margin-top: 10px;
        }
    }
}

#sup-myteam-team-scroll {
    .row:hover {
        cursor: pointer;
        background-color: lighten(#4D4D4D, 25%);
    }

    overflow-y: auto !important;
    max-height: 240px !important;
}

#sup-myteam-cases {
    // background: lighten(#69bb9d, 25%);
    //background: #69b1e5;
    // border: 4px solid #69bb9d;
    //border: 10px solid lighten(@brand-primary, 45%);
    // border-radius: @border-radius-large;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;

    .content-section {
        padding-top: 3px;
    }

    .border {
        border: 0;
        padding: 0 15px;
    }

    .row-header {
        padding: 8px 15px 1px 0;
        color: @gray-darker;
        //Make column header clickable for sorting on Dashboard only
        span {
            cursor: pointer;
        }
    }

    .btn-primary {
        background-color: #69bb9d !important;
        border-color: #69bb9d !important;
    }

    .row-filter {
        padding: 0px 15px 0px 0;
    }

    .scroll-content {
        /*min-height: 215px !important;
        max-height: 215px !important;
        overflow-y: scroll !important;*/
        background: white;
        margin-bottom: 0;
    }

    .filter {
        border-color: lighten(#4D4D4D, 10%);
    }

    .content {
        /*height: 150px;*/
        .data {
            margin-top: 10px;
        }
    }
}

#sup-myteam-cases-scroll {
    .row:hover {
        cursor: pointer;
        background-color: lighten(#4D4D4D, 25%);
    }

    max-height: 240px !important;
    overflow-y: auto !important;
}

#sup-myteam-todos {
    // background: lighten(#e47297, 25%);
    //background: #69b1e5;
    // border: 4px solid #e47297;
    //border: 10px solid lighten(@brand-primary, 45%);
    // border-radius: @border-radius-large;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;

    .content-section {
        padding-top: 3px;
    }

    .border {
        border: 0;
        padding: 0 15px;
    }

    .row-header {
        padding: 8px 15px 1px 0;
        color: @gray-darker;
        //Make column header clickable for sorting on Dashboard only
        span {
            cursor: pointer;
        }
    }


    .row-filter {
        padding: 0px 15px 0px 0;
    }

    .scroll-content {
        background: white;
        margin-bottom: 0;
    }

    .filter {
        border-color: lighten(#4D4D4D, 10%);
    }

    .content {
        /*height: 150px;*/
        .data {
            margin-top: 10px;
        }
    }
}

#sup-myteam-todos-scroll {
    .row:hover {
        cursor: pointer;
        background-color: lighten(#4D4D4D, 25%);
    }

    max-height: 240px !important;
    overflow-y: auto !important;
}

/*#sup-myteam-todos-header {

    .btnLnk {
        color: #e47297;
    }

    .btnLnk:hover,
    .btnLnk:active,
    .btnLnk:focus {
        color: #e47297;
    }


    .btn-primary {
        background-color: #e47297;
        border-color: #f8dde6;
        color: #fff;
    }

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        background-color: #e47297;
        border-color: #f8dde6;
        color: #fff;
    }
}*/

#emp-cases {
    background: lighten(@brand-2, 30%);
    background: #69bb9d;
    border: 4px solid #69bb9d;
    //border: 10px solid lighten(@brand-primary, 45%);
    border-radius: @border-radius-large;

    .content-section {
        padding-top: 3px;
    }

    .border {
        border: 0;
        padding: 0 15px;
    }

    .row-header {
        padding: 8px 15px 1px 0;
        color: @gray-darker;
        //Make column header clickable for sorting on Dashboard only
        span {
            cursor: pointer;
        }
    }

    .row-filter {
        padding: 0px 15px 0px 0;
    }

    .scroll {
        background: white;
        margin-bottom: 0;
        .row:hover {
            cursor: pointer;
        }
    }

    .filter {
        border-color: lighten(@brand-2, 25%);
    }

    .content {
        min-height: 160px;

        .data {
            margin-top: 10px;
        }
    }


    .btnLnk {
        color: #69bb9d;
    }
}


a.blue:hover {
    color: #69b1e5;
    text-decoration: none;
}

a.green:hover {
    color: #69BB9D;
    text-decoration: none;
}

a.red:hover {
    // color: #DE6D5C;
    color: #e47297;
    text-decoration: none;
}

a.purple:hover {
    color: #6B69F9;
    text-decoration: none;
}

a.blue:focus {
    color: white;
    text-decoration: none;
}

a.green:focus {
    color: white;
    text-decoration: none;
}

a.red:focus {
    color: white !important;
    text-decoration: none;
}

a.purple:focus {
    color: white !important;
    text-decoration: none;
}


h4.menu {
    padding: 15px;
}

h4.submenu {
    padding: 5px;
}

.blue-border {
    border-left: 4px solid #69b1e5;
}

.green-border {
    border-left: 4px solid #69BB9D;
}

.red-border {
    border-left: 4px solid #e47297;
}

.purple-border {
    border-left: 4px solid #6B69F9;
}

.text-blue {
    color: #69b1e5 !important;
}

.text-green {
    color: #69BB9D !important;
}

.text-red {
    color: #e47297 !important;
}

.text-purple {
    color: #6B69F9 !important;
}

.text-white {
    color: white !important;
}

.blue-bac {
    background-color: #69b1e5 !important;
}

.green-bac {
    background-color: #69BB9D !important;
}

.red-bac {
    background-color: #e47297 !important;
}

.purple-bac {
    background-color: #6B69F9 !important;
}

.nav-employee-help > li {
    display: inline-block !important;
}

.nav-employee-help > li > a {
    color: black;
}

.nav-employee-help > li.active > a {
    border-bottom: 4px solid black !important;

    h4 {
        color: black !important;
        font-weight: bold !important;
    }
}

.nav-employee-help-blue > li > a:hover {
    /*color: white !important;
    background-color: #69b1e5;*/
    border-bottom: 4px solid #69B1E5;
    color: #69B1E5 !important;
    background-color: white !important;
}

/*.nav-employee-help-blue-submenu > li > a:hover {
    color: white !important;
    background-color: #69BEE5;
}*/

.nav-employee-help-green > li > a:hover {
    /*color: white !important;
    background-color: #69BB9D;*/
    border-bottom: 4px solid #69BB9D;
    color: #69BB9D !important;
    background-color: white !important;
}

.nav-employee-help-red > li > a:hover {
    /*color: white !important;
    background-color: #e47297;*/
    border-bottom: 4px solid #e47297;
    color: #e47297 !important;
    background-color: white !important;
}

.nav-employee-help-purple > li > a:hover {
    /*color: white !important;
    background-color: #6B69F9;*/
    border-bottom: 4px solid #6B69F9;
    color: #6B69F9 !important;
    background-color: white !important;
}


.nav-employee-help-blue > li.active > a, .nav-employee-help-blue > li.active > a:hover, .nav-employee-help-blue > li.active > a:focus {
    /*background-color: #69b1e5;
    color: #ffffff !important;*/
    border-bottom: 4px solid #69b1e5;
    color: #69b1e5 !important;
    background-color: white !important;
}

/*.nav-employee-help-blue-submenu > li.active > a, .nav-employee-help-blue-submenu > li.active > a:hover, .nav-employee-help-blue-submenu > li.active > a:focus {
    background-color: #69BEE5;
    color: #ffffff !important;

    border-bottom:4px solid #69BEE5;
    color:#69BEE5 !important;
}*/

.nav-employee-help-green > li.active > a, .nav-employee-help-green > li.active > a:hover, .nav-employee-help-green > li.active > a:focus {
    /*background-color: #69BB9D;
    color: #ffffff !important;*/
    border-bottom: 4px solid #69BB9D;
    color: #69BB9D !important;
    background-color: white !important;
}

.nav-employee-help-red > li.active > a, .nav-employee-help-red > li.active > a:hover, .nav-employee-help-red > li.active > a:focus {
    /*background-color: #e47297;
    color: #ffffff !important;*/
    border-bottom: 4px solid #e47297;
    color: #e47297 !important;
    background-color: white !important;
}

.nav-employee-help-purple > li.active > a, .nav-employee-help-purple > li.active > a:hover, .nav-employee-help-purple > li.active > a:focus {
    /*background-color: #6B69F9;
    color: #ffffff !important;*/
    border-bottom: 4px solid #6B69F9;
    color: #6B69F9 !important;
    background-color: white !important;
}

.search-feedback {
    display: block;
    height: 34px;
    line-height: 34px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: -2px;
    width: 34px;
    z-index: 2;
}

.form-search {
    padding-left: 30px;
}

.has-feedback {
    position: relative;
}

.badge-active {
    background-color: #ff8300;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    padding: 1px 7px;
    text-align: center !important;
}

.badge-done {
    background-color: #76c143 !important;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    padding: 1px 7px;
    text-align: center !important;
}

.badge-inactive {
    background-color: #4D4D4D !important;
    border-radius: 10px;
    color: #fff;
    font-weight: 900;
    padding: 1px 7px;
    text-align: center !important;
}

.ess-color {
    background-color: #4D4D4D !important;

    a {
        color: white !important;
        outline: none !important;
    }
}

ul#EssNavStack {
    background-color: #F1F2F2 !important;

    li {
        a {
            color: #4D4D4D !important;
        }

        a:hover {
            background-color: #F1F2F2 !important;
        }

        a:focus {
            outline: none !important;
        }
    }

    li.active {
        background-color: #4D4D4D !important;

        a {
            background-color: #4D4D4D !important;
            color: white !important;
            outline: none !important;
        }
    }
}

.inline {
    display: inline !important;
}

.group-5-wrap {
    display: flex !important;
}

.group-5-wrap > label {
    width: 20%;
    white-space: normal;
}

.row-no-margins {
    margin-left: 0px;
    margin-right: 0px;
}

.scrollOrganization{
    cursor: pointer;        
    overflow-y: scroll;
    max-height: 240px !important;
    .even {
            background-color: #FFF !important;
        }

        .odd {
            background-color: #F1F1F1 !important;
        }        
}