﻿//Proposal home page
.scroll {
    max-height: 215px;
    overflow-y: scroll;
    margin-bottom:-15px;
    .row {
        //min-height: 35px;
    }
    //This was going to be used to show extra details about the cases/employees on row hover
    /*.show-links {
        visibility:hidden;
    }
    .row:hover {
        .show-links {
            visibility: visible;
            font-size: 14px;
            color: @gray;
            font-style: italic;
        }
    }*/
}

.viewtodo-scrollbar {
    max-height: 320px;
    overflow-y: scroll;
    margin-bottom: -15px;  
}

.scroll-header {
    padding: 10px 15px 10px 0;
}
//Employee and Case index
.action-index .popover-custom {
    position:relative;
    .popover {
        top: -50px;
        left: auto;
        right: -130px;
        width: 245px;
        .arrow {
            top: 58px;
        }
    }
}
/*.employees-index .popover-custom {
    .popover {
        top: -69px;
    }
}*/
.action-index .row:hover > .popover-custom > .popover {
    display:block;
}

//For the link that opens individual employees/cases
.row-link,.row-link:hover {
    color: @text-color;
}
