﻿//Notes
.note {
    margin: 5px 0;
    border-top: 1px solid @gray-lightest;
    padding-top: 10px;
    &:first-child {
        border:0;
    }
    .note-snippet {
        white-space:nowrap; 
        overflow:hidden;
        text-overflow:ellipsis; 
    }
    .note-text {
        white-space: pre-wrap;
        margin-bottom: 30px;
    }
}
