﻿#search-body {
    position: relative;

    .search-input {
        margin-right: 0px;

        input {
            width: 245px;
            border: 2px solid @brand-primary;
            padding-right:25px;
        }
    }

    .search-button {
        position: absolute;
        top: 5px;
        right: 5px;

        button {
            border: 0;
            background: none;
            padding: 4px 0px;
            margin-left: -33px;
            color: @gray;
        }
        button:hover{
            color:#105fce;
        }
    }
}
