﻿//Todos
#view-todo-modal {
    .duedate {
        position: relative;
        display: inline-block;

        > span {
            color: @link-color;
            cursor: pointer;
            font-weight: bold;
        }

        .popover {
            display: block;
            width: 340px;
            top: 16px;
            left: -155px;
            max-width: none;
        }
    }

    .secondary-information {
        color: @gray-light;
    }
}
