﻿@model AbsenceSoft.Models.Cases.OshaFormFieldViewModel

@using (Ajax.BeginRouteForm("SaveOshaFormField", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "editOshaForm",
    OnComplete = "AbsenceSoft.Osha.Start()"
}, new { id = "editOshaForm", ng_non_bindable = "" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewOshaFormField")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>

    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>OSHA Reporting | @Model.Name</h3>
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CustomerId)
        @Html.HiddenFor(m => m.EmployerId)
        @Html.HiddenFor(m => m.Code)
        @Html.HiddenFor(m => m.Name)
        <input type="hidden" name="EmployerId" value="@EmployerId" id="employerId" />
        <div class="row">
            @if (CurrentCustomerHasFeature(Feature.WorkRelatedReporting))
        {
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Options)
                @Html.TextAreaFor(m => m.Options, new { @class = "form-control", rows = "8" })
                @Html.ValidationMessageFor(m => m.Options)
            </div>
    }
        </div>
        <div class="form-group text-center">
            <input type="hidden" class="list-filter" name="EmployerId" value="@ViewBag.EmployerId" />
            @Html.RouteLink("Undo Changes", "EditOshaFormField", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="SaveOshaFormField" />
        </div>
    </div>
}