﻿@model AbsenceSoft.Logic.ListResults
<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    DateTime? modifiedDate = item.Get<DateTime?>("ModifiedDate");
    string name = item.Get<string>("Name");
    string customerId = item.Get<string>("CustomerId");
    string employerId = item.Get<string>("EmployerId");
    <div class="row">
        <div class="col-sm-12 admin2userlink">
            <a href="@Url.AdministrationRouteUrl("EditOshaFormField", new { id = id})">
                <div class="row mb5">
                    <div class="col-sm-4">
                        @name
                    </div>
                    <div class="col-sm-4">
                        @if (string.IsNullOrEmpty(customerId) && string.IsNullOrEmpty(employerId))
                        {
                            <text>Core</text>
                        }
                        else
                        {
                            <text>Overridden</text>
                        }
                    </div>
                    <div class="col-sm-4">
                        @if (modifiedDate.HasValue)
                        {
                            @modifiedDate.Value.ToShortDateString()
                        }
                    </div>
                </div>
            </a>
        </div>
    </div>
}
