﻿<div class="col-xs-12 well item-list">
    <input type="hidden" class="page" value="1" />
    <input type="hidden" class="url" value="@Url.RouteUrl("ListOshaFormField")" />
    <input type="hidden" class="total" value="" />
    <input type="hidden" class="list-filter" name="EmployerId" value="@ViewBag.EmployerId" />
    <div class="row">
        <div class="col-xs-12 admin-sub-header">
            <h2 class="padL6">OSHA Reporting</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row row-header">
                <div class="col-sm-4 list-sort padL0">
                    Name
                    <input type="hidden" class="sort-name" value="Name" />
                    <i class="glyphicon sort glyphicon-chevron-up"></i>
                </div>
                <div class="col-sm-4 padL0">
                    Status
                </div>
                <div class="col-sm-4 list-sort padL0">
                    Last Edited
                    <input type="hidden" class="sort-name" value="ModifiedDate" />
                    <i class="glyphicon sort"></i>
                </div>
            </div>
            <div class="admin2userlist">
                <div class="scroll list-display">
                </div>
            </div>
        </div>
    </div>
</div>

