﻿
@{
    Layout = "~/Views/Shared/_LoginAndChangePasswordLayout.cshtml";
}

<div class="forgot-password">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="white">Your account has been successfully created.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.RouteLink("Click here to login.", "Login", null, new { @class = "btn btn-return-home" })
        </div>
    </div>
</div>

