﻿@model AbsenceSoft.SelfService.Models.Home.CreateAccountViewModel
@{
    Layout = "~/Views/Shared/_LoginAndChangePasswordLayout.cshtml";
}

<div class="forgot-password">
    @using (Html.BeginRouteForm("CreateAccountSubmit", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.VerificationKey)
        <h4 class="white">COMPLETE ACCOUNT REGISTRATION</h4>

        <div class="form-group login-pass">
            @Html.EditorFor(m => m.Password, new
       {
           htmlAttributes =
                new { placeholder = Html.DisplayNameFor(m => m.Password) }
       })
        </div>
        <br />
        <div class="form-group login-pass">
            @Html.EditorFor(m => m.ConfirmNewPassword, new
       {
           htmlAttributes =
                new { placeholder = Html.DisplayNameFor(m => m.ConfirmNewPassword) }
       })
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" value="CREATE ACCOUNT" class="btn btn-ess btn-login" />
            </div>

        </div>
        <div class="term-error">
            @Html.ValidationSummary(true)
        </div>
    }
</div>


