﻿@model AbsenceSoft.SelfService.Models.Home.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginAndChangePasswordLayout.cshtml";
}
<div class="forgot-password">
    @using (Html.BeginRouteForm("ForgotPasswordSubmit", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h3 class="white">Forgot Password</h3>
        <label>Enter your email address in the field below and click Reset Password to request a password reset for your account.</label>
        <div class="form-group login-email login-email-rounded">
            @Html.EditorFor(m => m.Email, new
   {
       htmlAttributes =
                new { placeholder = @Html.DisplayNameFor(m => m.Email) }
   })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "errShow" })
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.RouteLink("Cancel", "Login", null, new { @class = "btn btn-cancel-passw" })
                <input type="submit" value="Reset Password" class="btn btn-ess btn-repass" />
            </div>
        </div>
    }
</div>