﻿@model IEnumerable<AbsenceSoft.SelfService.Models.CaseViewModel>

@Html.AntiForgeryToken()

<div class="row ess-headline">
    <div class="col-sm-12">
        <span class="fa fa-briefcase ess-headicon"></span>
        <h1>My Cases</h1>
        <a href="#caseFilters" data-toggle="collapse" class="btn icon">
            <span class="fa fa-filter"></span>
        </a>
        @Html.RouteLink(string.Format("NEW REQUEST"), "NewRequest", null, new { @class = "btn btn-default btn-empreq-manager" })
    </div>
</div>

<div class="row uppercase collapse ess-filters" id="caseFilters">
    <input type="hidden" id="page" value="1" />
    <div class="col-sm-3">
        <div class="btn-group ess-filterbtn" data-toggle="buttons">
            <label class="btn btn-default">
                Open Cases
                <input type="radio" name="CaseStatus" class="case-status" value="-1" />
            </label>
            <label class="btn btn-default">
                Closed Cases
                <input type="radio" name="CaseStatus" class="case-status" value="1" />
            </label>
        </div>
    </div>
    <div class="col-sm-6 ess-filterchecks">
        <span>Status:</span>
        <label>
            <input type="checkbox" id="includeApproved" class="case-adjudication" value="true" checked />
            Approved
        </label>
        <label>
            <input type="checkbox" id="includeDenied" class="case-adjudication" value="true" checked />
            Denied
        </label>
        <label>
            <input type="checkbox" id="includePending" class="case-adjudication" value="true" checked />
            Pending
        </label>
    </div>
    <div class="col-sm-3 text-right">
        <button id="applyFilters" class="btn btn-filters">Apply Filters</button>
        <button id="clearFilters" class="btn btn-default btn-filterclear">Clear</button>
    </div>
</div>
<div class="clearfix"></div>

<div id="caseList">
    @Html.Partial("CaseList", Model)
</div>

<div id="noCases" class="hide">
    <div class="row bg-white teal-dark text-center">
        <div class="col-xs-12">
            <h4>No cases match your filtering criteria</h4>
        </div>
    </div>
    <p></p>
</div>

@if (ViewBag.HasMoreCases)
{
    <div id="loadMoreCases">
        <div class="row ess-load">
            <h3>
                <span class="fa fa-chevron-down"></span>
                Load More Cases
                <span class="fa fa-chevron-down"></span>
            </h3>
        </div>
    </div>
}
