﻿@model AbsenceSoft.SelfService.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginAndChangePasswordLayout.cshtml";
}

@using (Html.BeginRouteForm("Login", FormMethod.Post, new { id = "loginForm" }))
{
    <div class="email-error">
        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "" })
    </div>
    <div class="form-group login-email">
        @Html.EditorFor(m => m.Email, new
   {
       htmlAttributes =
         new { placeholder = @Html.DisplayNameFor(m => m.Email) }
   })
    </div>
    <div class="form-group login-pass">
        @Html.EditorFor(m => m.Password, new
   {
       htmlAttributes =
         new { placeholder = @Html.DisplayNameFor(m => m.Password) }
   })
    </div>
    <div class="pass-error">
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        <label>
            @Html.EditorFor(m => m.TermsAndConditions)
            By logging into this site, you agree to the site's @Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home").
        </label>
        <div class="term-error">
            @Html.ValidationMessageFor(m => m.TermsAndConditions, null, new { @class = "" })
        </div>
    </div>
    <input type="submit" value="Login" class="btn btn-ess btn-login" />
    <div class="term-error">
        @Html.ValidationSummary(true)
    </div>
    <div class="form-group">
        @if (CurrentCustomer == null || CurrentCustomer.SecuritySettings == null || CurrentCustomer.SecuritySettings.EnableSelfServiceRegistration)
                {
            <div class="pull-left">@Html.RouteLink("Register New Account", "RegisterAccount")</div>
        }
        <div class="pull-right">@Html.RouteLink("Forgot Password?", "ForgotPassword")</div>
    </div>
}
@if (Model.ShowSsoButton)
{
    <div class="form-group">
        <div class="border-login">
            <span>OR</span>
        </div>
        <div class="defaultlogo @if (Model.ShowLogo) {<text>showlogo</text>} ">
            <a href="@Url.Action("AssertionInitiate", "SSO")" class="btn btn-ess btn-sso">LOGIN WITH @Model.PortalName</a>
        </div>
    </div>
}

<script type="text/javascript">
    window.onload = function () {
        $(".validation-summary-errors").hide();
        if ($(".validation-summary-errors li").text().length > 0) {
            $(".validation-summary-errors li").parent();
            $(".validation-summary-errors").show();
        }
    }
</script>
