﻿@model AbsenceSoft.SelfService.Models.Home.RegisterAccountSubmitViewModel
@{
    Layout = "~/Views/Shared/_LoginAndChangePasswordLayout.cshtml";
}
@{
    string message = null;
    string title = null;
    switch (Model.Status)
    {
        case RegistrationStatus.DisabledUser:
            title = "USER ACCOUNT IS DISABLED";
            message = T("ESS.SelfRegister.Messages.DisabledUser", "User Account is disabled.  Please contact an administrator", EmployerId).ToHtmlString();
            break;
        case RegistrationStatus.UserExists:
            title = "USER ACCOUNT EXISTS";
            message = T("ESS.SelfRegister.Messages.UserExists", "User account already exists. Please try logging in.", EmployerId).ToHtmlString();
            break;
        case RegistrationStatus.EmailSent:
            title = "EMAIL SUCCESSFULLY SENT";
            message = T("ESS.SelfRegister.Messages.CheckEmail", "Please check your work email address for your account creation email. Follow the link provided to validate and create your account.", EmployerId).ToHtmlString();
            break;
        case RegistrationStatus.EmployeeNotFound:
            title = "EMPLOYEE NOT FOUND";
            message = T("ESS.SelfRegister.Messages.EmployeeNotFound", "An employee with that email was not found.  Please contact your administrator.", EmployerId).ToHtmlString();
            break;
        case RegistrationStatus.ErrorSendingEmail:
            title = "ERROR SENDING EMAIL";
            message = T("ESS.SelfRegister.Messages.ErrorSendingEmail", "There was an error when attempting to send the registration email.  Please contact your administrator.", EmployerId).ToHtmlString();
            break;
        case RegistrationStatus.EmailResent:
            title = "EMAIL SUCCESSFULLY RESENT";
            message = T("ESS.SelfRegister.Messages.ResendEmail", "The email has been successfully resent. Please check your spam folder.", EmployerId).ToHtmlString();
            break;
        case RegistrationStatus.EmailResentToAlt:
            title = "EMAIL SUCCESSFULLY RESENT TO ALTERNATE ADDRESS";
            message = T("ESS.SelfRegister.Messages.ResendToAltEmail", "The email has been successfully resent to your alternate email on file.", EmployerId).ToHtmlString();
            break;
        case RegistrationStatus.SelfRegistrationDisabled:
            title = "SELF REGISTRATION IS DISABLED";
            message = T("ESS.SelfRegister.Messages.SelfRegistrationDisabled", "Your employer has not enabled self registration.  Please contact a system administrator for assistance in setting up your account.", EmployerId).ToHtmlString();
            break;
        case RegistrationStatus.EmployeeNotUnique:
            title = "MULTIPLE EMPLOYEE ACCOUNT EXISTS";
            message = T("ESS.SelfRegister.Email.EmployeeNotUnique", "There is more than one employee with email address. The system does not know which employee is trying to register.", EmployerId).ToHtmlString();
            break;
    }
}
<div class="register-account-submit">
    @using (Html.BeginRouteForm("RegisterAccountSubmit", FormMethod.Post, new { id = "registerAccountSubmitForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.Resend, new { id = "actualResendValue" })
        @Html.HiddenFor(m => m.ResendToAltEmail, new { id = "actualResendToAltValue" })

        <div class="row">
            <div class="col-sm-12">
                <h4 class="teal-dark">
                    @if (Model.Status == RegistrationStatus.EmailSent || Model.Status == RegistrationStatus.EmailResent || Model.Status == RegistrationStatus.EmailResentToAlt)
                    {
                        <span class="fa fa-check-circle register-account-success"></span>
                    }
                    else
                    {
                        <span class="fa fa-warning register-account-failure"></span>
                    } @title
                </h4>
                <p class="teal">
                    @message
                </p>
            </div>
        </div>
        if (Model.Status == RegistrationStatus.EmailSent || Model.Status == RegistrationStatus.EmailResent || Model.Status == RegistrationStatus.EmailResentToAlt)
        {
            <div class="row mt20">
                <div class="col-sm-12 text-left">
                    <p class="teal">Didn't receive your email? Please check your spam folder or resend the email.</p>
                    <a href="#" id="resend">RESEND REGISTRATION EMAIL</a>
                </div>
            </div>
            <div class="row mt20">
                <div class="col-xs-12 text-left">
                    <p class="teal">Haven't received the email and need to send it to your home/alternate email address saved with your employer?</p>
                    <a href="#" id="resendToAlt">SEND TO ALTERNATE EMAIL</a>
                    
                </div>
            </div>

        }
        else
        {
            @Html.RouteLink("Login", "Login")
        }
    }
</div>
