﻿@model AbsenceSoft.SelfService.Models.Home.RegisterAccountSubmitViewModel
@{
    Layout = "~/Views/Shared/_LoginAndChangePasswordLayout.cshtml";
}
<div class="register-account">
    @using (Html.BeginRouteForm("RegisterAccountSubmit", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h4>REGISTER A NEW ACCOUNT</h4>        
        <div class="form-group login-email login-email-rounded">
            @Html.EditorFor(m => m.Email, new
       {
           htmlAttributes =
                new { placeholder = @Html.DisplayNameFor(m => m.Email) }
       })
            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "errShow" })
        </div>
        <label>If the provided email address matches an employee on file, we will send an email to begin the self registration process. Please follow the link provided to create your account and password.</label>
        <div class="row">
            <div class="col-xs-12">
                @Html.RouteLink("Cancel", "Login", null, new { @class = "btn btn-cancel-passw" })
                <input type="submit" value="Register Account" class="btn btn-ess btn-repass" />
            </div>
        </div>
    }
</div>