﻿@model AbsenceSoft.SelfService.Models.Home.ResetPasswordViewModel
@{ 
    Layout = "~/Views/Shared/_LoginAndChangePasswordLayout.cshtml";
}

<div class="forgot-password">
    @using (Html.BeginRouteForm("ResetPasswordSubmit", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ResetKey)
        <h3 class="white">Reset Password</h3>
        <label>Enter your new password in the fields below and click Reset Password</label>

        <div class="form-group login-pass">
            @Html.EditorFor(m => m.NewPassword, new
       {
           htmlAttributes =
                new { placeholder = Html.DisplayNameFor(m => m.NewPassword) }
       })
        </div>
        <br />
        <div class="form-group login-pass">
            @Html.EditorFor(m => m.ConfirmNewPassword, new
       {
           htmlAttributes =
                new { placeholder = Html.DisplayNameFor(m => m.ConfirmNewPassword) }
       })
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.RouteLink("Cancel", "Login", null, new { @class = "btn btn-cancel-passw" })
                <input type="submit" value="Reset Password" class="btn btn-ess btn-repass" />
            </div>

        </div>
        <div class="term-error">
            @Html.ValidationSummary(true)
        </div>
    }
</div>
