﻿@model AbsenceSoft.Models.Cases.CaseAssigneeTypeViewModel

@{
    ViewBag.Title = "Edit Case Assignee Type";
}

@using (Ajax.BeginRouteForm("CaseAssigneeTypeSave", new { customerId = Customer.Current.Id }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "editCaseAssigneeTypeForm", OnSuccess = "AbsenceSoft.PageStart('#editCaseAssigneeTypeForm')" }, new { id = "editCaseAssigneeTypeForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Case Assignee Types of <span class="customer-name">@Customer.Current.Name</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink("Cancel", "ViewCaseAssigneeTypes", new { customerId = Customer.Current.Id }, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>            
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.CustomerId)                                        
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Code)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Description)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.ThresholdCaseCount)
                        </div>
                    </div>
                    <div class="row col-sm-offset-4">
                        <input type="submit" value="Save Case Assignment Type" class="btn btn-primary" />
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            @Ajax.RouteLink("Delete", "DeleteCaseAssigneeType", new { customerId = Customer.Current.Id, caseAssigneeId = Model.Id }, new AjaxOptions()
                   {
                       Confirm = "Are you sure you want to delete the assignment type " + @Model.Name + " ?",
                       HttpMethod = "DELETE"
                   }, new { @class = "btn btn-danger" })
                        }
                        @Html.RouteLink("Cancel", "ViewCaseAssigneeTypes", new { customerId = Customer.Current.Id }, new { @class = "btn btn-link" })
                    </div>
                </div>
            </div>
        </div>
    </div>




}


