﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    <div class="row">
        <a href="@Url.RouteUrl("CaseAssigneeTypeEdit", new { caseAssigneeTypeId = item.Get<string>("Id"), customerId = item.Get<string>("CustomerId") })">
            @{
                string name = item.Get<string>("Name");
                string description = item.Get<string>("Description");
                string code = item.Get<string>("Code");
            }
            <div class="col-sm-3">
                @name
            </div>
            <div class="col-sm-3">
                @code
            </div>
            <div class="col-sm-6">
                @description
            </div>
        </a>
    </div>
}

