﻿@model AbsenceSoft.SelfService.Models.CaseViewModel

@using (Ajax.BeginRouteForm("UpdateContactInfo", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    OnSuccess = "AbsenceSoft.ViewCase.ContactInfoUpdated"
}))
{
    @Html.AntiForgeryToken()
    <div class="row ess-casebg">
        @Html.HiddenFor(m => m.Id)
        <h3>Review Personal Info</h3>
        <div class="ess-caseinputs">
            <div class="row">
                <div class="col-sm-8 col-xs-12 form-group">
                    @Html.LabelFor(m => m.AlternateInfo.EmailAddress)
                    @Html.TextBoxFor(m => m.AlternateInfo.EmailAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AlternateInfo.EmailAddress, null, new { @class = "errShow" })
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                    @Html.LabelFor(m => m.AlternateInfo.PhoneNumber)
                    @Html.TextBoxFor(m => m.AlternateInfo.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AlternateInfo.PhoneNumber, null, new { @class = "errShow" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-xs-12 form-group">
                    @Html.LabelFor(m => m.AlternateInfo.Address1)
                    @Html.TextBoxFor(m => m.AlternateInfo.Address1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AlternateInfo.Address1, null, new { @class = "errShow" })
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                    @Html.LabelFor(m => m.AlternateInfo.Address2)
                    @Html.TextBoxFor(m => m.AlternateInfo.Address2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AlternateInfo.Address2, null, new { @class = "errShow" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12 form-group">
                    @Html.LabelFor(m => m.AlternateInfo.City)
                    @Html.TextBoxFor(m => m.AlternateInfo.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AlternateInfo.City, null, new { @class = "errShow" })
                </div>
                <div class="col-sm-4 col-xs-12 form-group">
                    @Html.LabelFor(m => m.AlternateInfo.State)
                    @Html.StateDropDownListFor(m => m.AlternateInfo.State, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AlternateInfo.State, null, new { @class = "errShow" })
                </div>
                <div class="col-sm-2 col-xs-12 form-group">
                    @Html.LabelFor(m => m.AlternateInfo.ZipCode)
                    @Html.TextBoxFor(m => m.AlternateInfo.ZipCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.AlternateInfo.ZipCode, null, new { @class = "errShow" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input type="submit" value="Update Personal Info" class="btn essbtn-continue" />
            </div>
        </div>
    </div>
}
