﻿@model AbsenceSoft.SelfService.Models.CaseViewModel

@using (Ajax.BeginRouteForm("UpdateWorkRelatedInfo", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    OnSuccess = "AbsenceSoft.ViewCase.ContactInfoUpdated"
}))
{
    @Html.AntiForgeryToken()
    if (Customer.Current.HasFeature(Feature.WorkRelatedReporting))
    {
        <div class="row ess-casebg">
            <h3>Work Related Reporting | EDIT</h3>
            <div>
                <div class="work-related-editor">
                    @Html.HiddenFor(m => m.WorkRelatedInfo.CaseId)
                    <div class="row">
                        <div class="col-sm-12 col-wrap">
                            This employee's illness or injury has been noted as work related.  The following fields should be completed for proper OSHA/WC reporting.
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.IllnessOrInjuryDate)
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.IllnessOrInjuryDate, new { @class = "form-control datepicker", placeholder = "Enter Date of Injury/Illness", @Value = Model.WorkRelatedInfo.IllnessOrInjuryDate.ToString("MM/dd/yyyy") })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.InjuryLocation)
                                @Html.OrganizationDropDownListFor(m => m.WorkRelatedInfo.InjuryLocation, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.Classification, null, new { @class = "help-block" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.WhereOccurred, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.WhereOccurred, new { placeholder = "Location where the event occurred...", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.WhereOccurred)
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(m => m.WorkRelatedInfo.Reportable)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.Classification, new { @class = "control-label" })
                                @Html.EnumUIDropDownListFor(m => m.WorkRelatedInfo.Classification, "Select Classification", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.Classification, null, new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.TypeOfInjury, new { @class = "control-label" })
                                @Html.EnumUIDropDownListFor(m => m.WorkRelatedInfo.TypeOfInjury, "Select Type of Injury", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.TypeOfInjury, null, new { @class = "help-block" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.InjuredBodyPart, new { @class = "control-label" })
                                @Html.WorkRelatedFieldEditorFor(m => m.WorkRelatedInfo.InjuredBodyPart, AbsenceSoft.Logic.Cases.OshaFormFieldService.InjuredBodyPart, "Select Part of Body", "Enter Part of Body", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.InjuredBodyPart, null, new { @class = "help-block" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.DaysAwayFromWork, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.DaysAwayFromWork, new { type = "number", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.DaysAwayFromWork)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.DaysOnJobTransferOrRestriction)
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.DaysOnJobTransferOrRestriction, new { type = "number", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.DaysOnJobTransferOrRestriction)
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(m => m.WorkRelatedInfo.HealthCarePrivate)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="@Html.IdFor(m => m.WorkRelatedInfo.ProviderContact.ContactTypeCode)">Physician (HCP) Type</label>
                                @Html.DropDownListFor(m => m.WorkRelatedInfo.ProviderContact.ContactTypeCode, new AbsenceSoft.Logic.Customers.ContactTypeService().Using(s => s.GetContactTypes(Customer.Current.Id, Employer.CurrentId, ContactTypeDesignationType.Medical)).Select(n => new SelectListItem() { Text = n.Name, Value = n.Code }), "Select Physician (HCP) Type", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ProviderContact.ContactTypeCode)
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="@Html.IdFor(m => m.WorkRelatedInfo.ProviderContact.FirstName)">Physician (HCP) First Name</label>
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.ProviderContact.FirstName, new { @class = "form-control input-sm", placeholder = "First" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ProviderContact.FirstName)
                            </div>
                        </div>
                    </div>


                    @Html.HiddenFor(m => m.WorkRelatedInfo.ProviderContact.EmployeeContactId)
                    @Html.HiddenFor(m => m.WorkRelatedInfo.ProviderContact.Id)
                    @Html.HiddenFor(m => m.WorkRelatedInfo.ProviderContact.Address.Id)


                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="@Html.IdFor(m => m.WorkRelatedInfo.ProviderContact.LastName)">Physician (HCP) Last Name</label>
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.ProviderContact.LastName, new { @class = "form-control input-sm", placeholder = "Last" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ProviderContact.LastName)
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12 col-wrap">
                            <div class="panel panel-info" id="showFacility">
                                <div class="panel-body" align="center"><span class="text-info">CLICK HERE TO ENTER FACILITY INFORMATON IF TREATMENT WAS GIVEN AWAY FROM THE WORKSITE</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">&nbsp;</div>
                    <div id="facilityDIV" class="row">
                        <div class="col-sm-4 col-wrap">
                            <label for="@Html.IdFor(m => m.WorkRelatedInfo.ProviderContact.CompanyName)">Facility Information</label>
                        </div>
                        <div class="col-sm-7 col-wrap">
                            <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.ProviderContact.CompanyName, "error"))">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.ProviderContact.CompanyName, new { placeholder = "Facility, Office Name, etc.", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ProviderContact.CompanyName)
                            </div>
                        </div>
                        <div class="col-sm-7 col-sm-offset-4 col-wrap">
                            <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.ProviderContact.Address.Address1, "error"))">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.ProviderContact.Address.Address1, new { placeholder = "Address", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ProviderContact.Address.Address1)
                            </div>
                        </div>
                        <div class="col-sm-7 col-sm-offset-4 col-wrap">
                            <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.ProviderContact.Address.Address2, "error"))">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.ProviderContact.Address.Address2, new { placeholder = "Address Line 2", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ProviderContact.Address.Address2)
                            </div>
                        </div>
                        <div class="col-sm-7 col-sm-offset-4 col-wrap">
                            <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.ProviderContact.Address.City, "error"))">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.ProviderContact.Address.City, new { placeholder = "City", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ProviderContact.Address.City)
                            </div>
                        </div>
                        <div class="col-sm-7 col-sm-offset-4 col-wrap">
                            <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.ProviderContact.Address.State, "error"))">
                                @Html.StateDropDownListFor(m => m.WorkRelatedInfo.ProviderContact.Address.State, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ProviderContact.Address.State)
                            </div>
                        </div>
                        <div class="col-sm-7 col-sm-offset-4 col-wrap">
                            <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.ProviderContact.Address.PostalCode, "error"))">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.ProviderContact.Address.PostalCode, new { placeholder = "Zip", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ProviderContact.Address.PostalCode)
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.WorkRelatedInfo.ProviderContact.Address.Country)
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(m => m.WorkRelatedInfo.EmergencyRoom)
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(m => m.WorkRelatedInfo.HospitalizedOvernight)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(m => m.WorkRelatedInfo.TimeEmployeeBeganWork)
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                @Html.EditorFor(m => m.WorkRelatedInfo.TimeOfEvent)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.ActivityBeforeIncident, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.ActivityBeforeIncident, new { @class = "form-control input-sm", placeholder = "What was the employee doing just before the incident occurred?" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.ActivityBeforeIncident)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.WhatHappened, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.WhatHappened, new { @class = "form-control input-sm", placeholder = "Describe what happened?" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.WhatHappened)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.InjuryOrIllness, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.InjuryOrIllness, new { @class = "form-control input-sm", placeholder = "What was the injury or illness?" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.InjuryOrIllness)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.WorkRelatedInfo.WhatHarmedTheEmployee, new { @class = "control-label" })
                                @Html.WorkRelatedFieldEditorFor(m => m.WorkRelatedInfo.WhatHarmedTheEmployee, AbsenceSoft.Logic.Cases.OshaFormFieldService.WhatHarmedTheEmployee, "Select Cause of Injury", "What object or substance directly harmed the employee ?", new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.WhatHarmedTheEmployee)
                            </div>
                        </div>
                    </div>

                    @Html.EditorFor(m => m.WorkRelatedInfo.DateOfDeath)
                    <div class="sharps-question">
                        @Html.EditorFor(m => m.WorkRelatedInfo.Sharps)
                    </div>

                    <div class="i-have-sharps" style="@(Model.WorkRelatedInfo.Sharps == true ? "" : "display:none;")">
                        <!--WC/OSHA Sharps-->
                        <div class="row">
                            <div class="col-sm-4 col-wrap">
                                <label>Injury Location(s)</label>
                            </div>
                            <div class="col-sm-7 col-wrap">
                                <div class="row">
                                    @for (int i = 0; i < Model.WorkRelatedInfo.SharpsInfo.InjuryLocation.Count; i++)
                                    {
                                        <div class="col-sm-4">
                                            <label>@Html.CheckBoxFor(m => m.WorkRelatedInfo.SharpsInfo.InjuryLocation[i].Selected)   @Model.WorkRelatedInfo.SharpsInfo.InjuryLocation[i].Text</label>
                                            @Html.HiddenFor(m => m.WorkRelatedInfo.SharpsInfo.InjuryLocation[i].Value)
                                        </div>
                                    }
                                </div>
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.InjuryLocation)
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="row">
                            <div class="col-sm-4 col-wrap">
                                <label for="@Html.IdFor(m => m.WorkRelatedInfo.SharpsInfo.TypeOfSharp)">Sharp Involved (if known)</label>
                            </div>
                            <div class="col-sm-7 col-wrap">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.SharpsInfo.TypeOfSharp, new { @class = "form-control input-sm", placeholder = "Sharp Type" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.TypeOfSharp)
                            </div>
                            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.SharpsInfo.BrandOfSharp, new { @class = "form-control input-sm", placeholder = "Brand/Manufacturer" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.BrandOfSharp)
                            </div>
                            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.SharpsInfo.ModelOfSharp, new { @class = "form-control input-sm", placeholder = "Model Number/Name" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.ModelOfSharp)
                            </div>
                            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.SharpsInfo.BodyFluidInvolved, new { @class = "form-control input-sm", placeholder = "Body Fluid Involved" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.BodyFluidInvolved)
                            </div>
                        </div>
                        <div class="sharps-protection">
                            @Html.EditorFor(m => m.WorkRelatedInfo.SharpsInfo.HaveEngineeredInjuryProtection)
                        </div>
                        <div class="HaveEngineeredInjuryProtection" style="@(Model.WorkRelatedInfo.SharpsInfo.HaveEngineeredInjuryProtection == true ? "" : "display:none;")">
                            @Html.EditorFor(m => m.WorkRelatedInfo.SharpsInfo.WasProtectiveMechanismActivated)
                        </div>
                        <div class="HaveEngineeredInjuryProtection" style="@(Model.WorkRelatedInfo.SharpsInfo.HaveEngineeredInjuryProtection == true ? "" : "display:none;")">
                            <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.SharpsInfo.WhenDidTheInjuryOccur, "has-error"))">
                                <div class="row">
                                    <div class="col-sm-4 col-wrap">
                                        @Html.LabelFor(m => m.WorkRelatedInfo.SharpsInfo.WhenDidTheInjuryOccur, new { @class = "control-label" })
                                    </div>
                                    <div class="col-sm-7 col-wrap">
                                        @Html.EnumUIDropDownListFor(m => m.WorkRelatedInfo.SharpsInfo.WhenDidTheInjuryOccur, "Select When Occurred", new { @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.WhenDidTheInjuryOccur, null, new { @class = "help-block" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.SharpsInfo.JobClassification, "has-error"))">
                            <div class="row">
                                <div class="col-sm-4 col-wrap">
                                    @Html.LabelFor(m => m.WorkRelatedInfo.SharpsInfo.JobClassification, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    @Html.EnumUIDropDownListFor(m => m.WorkRelatedInfo.SharpsInfo.JobClassification, "Select Job Classification", new { @class = "form-control input-sm job-classification" })
                                    @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.JobClassification, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                        <div class="row job-classification-other" style="@(Model.WorkRelatedInfo.SharpsInfo.JobClassification == WorkRelatedSharpsJobClassification.Other ? "" : "display:none;")">
                            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.SharpsInfo.JobClassificationOther, new { placeholder = "Other job classification", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.JobClassificationOther)
                            </div>
                        </div>
                        <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.SharpsInfo.LocationAndDepartment, "has-error"))">
                            <div class="row">
                                <div class="col-sm-4 col-wrap">
                                    @Html.LabelFor(m => m.WorkRelatedInfo.SharpsInfo.LocationAndDepartment, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    @Html.EnumUIDropDownListFor(m => m.WorkRelatedInfo.SharpsInfo.LocationAndDepartment, "Select Location/Department", new { @class = "form-control input-sm location-and-dept" })
                                    @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.LocationAndDepartment, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                        <div class="row location-and-dept-other" style="@(Model.WorkRelatedInfo.SharpsInfo.LocationAndDepartment == WorkRelatedSharpsLocation.Other ? "" : "display:none;")">
                            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.SharpsInfo.LocationAndDepartmentOther, new { placeholder = "Other location/department", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.LocationAndDepartmentOther)
                            </div>
                        </div>
                        <div class="@(Html.ValidationErrorFor(m => m.WorkRelatedInfo.SharpsInfo.Procedure, "has-error"))">
                            <div class="row">
                                <div class="col-sm-4 col-wrap">
                                    @Html.LabelFor(m => m.WorkRelatedInfo.SharpsInfo.Procedure, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    @Html.EnumUIDropDownListFor(m => m.WorkRelatedInfo.SharpsInfo.Procedure, "Select Procedure", new { @class = "form-control input-sm procedure" })
                                    @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.Procedure, null, new { @class = "help-block" })
                                </div>
                            </div>
                        </div>
                        <div class="row procedure-other" style="@(Model.WorkRelatedInfo.SharpsInfo.Procedure == WorkRelatedSharpsProcedure.Other ? "" : "display:none;")">
                            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                                @Html.TextBoxFor(m => m.WorkRelatedInfo.SharpsInfo.ProcedureOther, new { placeholder = "Other procedure name", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.ProcedureOther)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4 col-md-4 col-wrap">
                                @Html.LabelFor(m => m.WorkRelatedInfo.SharpsInfo.ExposureDetail)
                            </div>
                            <div class="col-sm-7 col-xs-7 col-md-4 col-wrap">
                                @Html.TextAreaFor(m => m.WorkRelatedInfo.SharpsInfo.ExposureDetail, new { @rows = 4, @cols = 90, placeholder = "Describe, in detail, how the exposure incident occurred (e.g. the procedure being performed, the device being used, the body part affected, objects or substances involved and how many were involved)" })
                                @Html.ValidationMessageFor(m => m.WorkRelatedInfo.SharpsInfo.ExposureDetail)
                            </div>
                        </div>
                        <!--/.WC/OSHA Sharps-->
                    </div>
                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-xs-12 text-center">
                    @Html.ActionLink("CANCEL EDITS", "ViewHome", "", new { @class = "btn btn-default" })
                    @Html.ActionLink("SAVE EDITS", "ViewHome", "", new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    }
}
