﻿@model AbsenceSoft.SelfService.Models.CaseViewModel
@if (Model.CaseStatus.ToString() != "Inquiry")
{
    <div class="row well">
        @if (Model.WorkRestrictionFeatureEnabled)
        {
            <div class="col-sm-2 col-lg-1 hidden-xs">
                <i class="fa fa-book pending  translucent-icon case-status-icons"></i>
            </div>

            <div class="col-sm-10 col-lg-11 col-xs-12">
                <div class="row uppercase teal-dark">
                    <div class="pull-left ess-caseheader heading-text-color">
                        Work Restrictions
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <div class="row">
                            <div class="row mobile-bt border" id="workRestrictionsDisplay">
                                <div id="addEditWorkRestriction"></div>
                                <!-- #region Work Restrictions -->
                                <div class="col-sm-12">
                                    @if (Model.WorkRestrictions == null || Model.WorkRestrictions.Count() == 0)
                                    {
                                        <p>No Work Restrictions On Record</p>
                                    }
                                    else
                                    {
                                        <div class="row">



                                            <div class="col-sm-3 col-xs-3 teal-dark">  <label>Work Restriction</label></div>
                                            <div class="col-sm-5 col-xs-5 teal-dark">    <label>Demands</label></div>
                                            <div class="col-sm-4 col-xs-4 teal-dark"><label>Duration</label></div>
                                        </div>
                                        foreach (var workRestriction in Model.WorkRestrictions)
                                        {
                                            <div class="wr-container wr-bg-blue">
                                                @Html.DisplayFor(m => workRestriction, new { Status = Model.CaseStatus })
                                            </div>
                                        }
                                    }
                                    <hr />
                                </div>

                                <!-- #endregion -->
                                <!-- #region Employee Necessities -->
                                <div class="col-sm-12">
                                    @if (Model.EmployeeNecessities == null || !Model.EmployeeNecessities.Any())
                                    {
                                        <p>No Known Employee Necessities</p>
                                    }
                                    else
                                    {
                                        <div class="row">



                                            <div class="col-sm-3 teal-dark"><label>Necessity</label></div>
                                            <div class="col-sm-5 teal-dark">   <label>Limitation</label></div>
                                            <div class="col-sm-4 teal-dark"> <label>Duration</label></div>

                                        </div>

                                        foreach (var necessity in Model.EmployeeNecessities)
                                        {

                                            <div class="wr-returns wr-bg-blue">
                                                <div class="row ">
                                                    <div class="col-sm-3">@necessity.Name</div>

                                                    <div class="col-sm-5 wre-inputs">
                                                        @if (!string.IsNullOrWhiteSpace(necessity.Description) && !necessity.Name.Equals(necessity.Description, StringComparison.InvariantCultureIgnoreCase))
                                                        {
                                                            <div class="row">
                                                                <div class="col-sm-3 col-header">@necessity.Type.ToString().SplitCamelCaseString()</div>
                                                                <div class="col-sm-7">@necessity.Description</div>
                                                            </div>
                                                        }
                                                    </div>
                                                    <div class="col-sm-4">
                                                        @necessity.Dates
                                                        @if (CurrentUserHasPermission(Permission.EditEmployeeNecessity))
                                                        {
                                                            <div class="pull-right mobile-icons">
                                                                <a href="@Url.RouteUrl("EmployeeNecessity", new { caseId = Model.Id, employeeNecessityId = necessity.Id })" class="edit-employee-necessity"  title="Edit Employee Necessity"><span class="fa fa-pencil icon" ></span></a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    }
                                    <hr />
                                </div>
                                <div id="addEditEmployeeNecessity"></div>

                                <!-- #endregion -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

}

