﻿@model bool?

@{
    var htmlAttributes = new Dictionary<string, object>();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", ViewBag.@class);
    }
}


<div class="@(Html.ValidationErrorFor(m => m, "error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            <div class="btn-group group-2" data-toggle="buttons">
                <label class="btn btn-info @(Model.HasValue && Model.Value ? "active" : "")">
                    Yes
                    @Html.RadioButton("", true, Model.HasValue && Model.Value, htmlAttributes)
                </label>
                <label class="btn btn-info @(Model.HasValue && !Model.Value ? "active" : "")">
                    No
                    @Html.RadioButton("", false, Model.HasValue && !Model.Value, htmlAttributes)
                </label>
            </div>
            @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
        </div>
    </div>
</div>
