﻿@model Enum

@{
    var htmlAttributes = (ViewBag.@class != null) ? new { @class = ViewBag.@class } : null;
}

<div class="@(Html.ValidationErrorFor(m => m, "error"))">
    <div class="row">
        <div class="col-sm-3 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label header-color" })
        </div>
        <div class="col-sm-4 col-wrap">
            <div class="text-center" data-toggle="tooltip" title="@ViewBag.tooltip">
                @Html.EnumButtonListFor(m => m, htmlAttributes)
                @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
</div>
