﻿@model AbsenceSoft.SelfService.Models.Cases.WorkRelatedViewModel
@if (Customer.Current.HasFeature(Feature.ESSWorkRelatedReporting))
{
    <div class="work-related-editor">
        @Html.HiddenFor(m => m.CaseId)
        @*@Html.Hidden("CaseEndDate", (DateTime?)ViewBag.CaseEndDate)
            @Html.Hidden("EmployeeId", (string)ViewBag.EmployeeId)*@
        <div class="row">
            <div class="col-sm-12 col-wrap">
                This employee's illness or injury has been noted as work related.  The following fields should be completed for proper OSHA/WC reporting.
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.IllnessOrInjuryDate)
                    @Html.TextBoxFor(m => m.IllnessOrInjuryDate, new { @class = "form-control datepicker", placeholder = "Enter Date of Injury/Illness", @Value = Model.IllnessOrInjuryDate.ToString("MM/dd/yyyy") })
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.InjuryLocation)
                    @Html.OrganizationDropDownListFor(m => m.InjuryLocation, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Classification, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.WhereOccurred, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.WhereOccurred, new { placeholder = "Location where the event occurred...", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.WhereOccurred)
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.EditorFor(m => m.Reportable)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Classification, new { @class = "control-label" })
                    @Html.EnumUIDropDownListFor(m => m.Classification, "Select Classification", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.Classification, null, new { @class = "help-block" })
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.TypeOfInjury, new { @class = "control-label" })
                    @Html.EnumUIDropDownListFor(m => m.TypeOfInjury, "Select Type of Injury", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.TypeOfInjury, null, new { @class = "help-block" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.InjuredBodyPart, new { @class = "control-label" })
                    @Html.WorkRelatedFieldEditorFor(m => m.InjuredBodyPart, AbsenceSoft.Logic.Cases.OshaFormFieldService.InjuredBodyPart, "Select Part of Body", "Enter Part of Body", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.InjuredBodyPart, null, new { @class = "help-block" })
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.DaysAwayFromWork, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.DaysAwayFromWork, new { type = "number", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.DaysAwayFromWork)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.DaysOnJobTransferOrRestriction)
                    @Html.TextBoxFor(m => m.DaysOnJobTransferOrRestriction, new { type = "number", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.DaysOnJobTransferOrRestriction)
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.EditorFor(m => m.HealthCarePrivate)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="@Html.IdFor(m => m.ProviderContact.ContactTypeCode)">Physician (HCP) Type</label>
                    @Html.DropDownListFor(m => m.ProviderContact.ContactTypeCode, new AbsenceSoft.Logic.Customers.ContactTypeService().Using(s => s.GetContactTypes(Customer.Current.Id, Employer.CurrentId, ContactTypeDesignationType.Medical)).Select(n => new SelectListItem() { Text = n.Name, Value = n.Code }), "Select Physician (HCP) Type", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.ProviderContact.ContactTypeCode)
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="@Html.IdFor(m => m.ProviderContact.FirstName)">Physician (HCP) First Name</label>
                    @Html.TextBoxFor(m => m.ProviderContact.FirstName, new { @class = "form-control input-sm", placeholder = "First" })
                    @Html.ValidationMessageFor(m => m.ProviderContact.FirstName)
                </div>
            </div>
        </div>


        @Html.HiddenFor(m => m.ProviderContact.EmployeeContactId)
        @Html.HiddenFor(m => m.ProviderContact.Id)
        @Html.HiddenFor(m => m.ProviderContact.Address.Id)


        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="@Html.IdFor(m => m.ProviderContact.LastName)">Physician (HCP) Last Name</label>
                    @Html.TextBoxFor(m => m.ProviderContact.LastName, new { @class = "form-control input-sm", placeholder = "Last" })
                    @Html.ValidationMessageFor(m => m.ProviderContact.LastName)
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12 col-wrap">
                <div class="panel panel-info" id="showFacility">
                    <div class="panel-body" align="center"><span class="text-info">CLICK HERE TO ENTER FACILITY INFORMATON IF TREATMENT WAS GIVEN AWAY FROM THE WORKSITE</span></div>
                </div>
            </div>
        </div>


        <div class="row">&nbsp;</div>
        <div id="facilityDIV" class="row">
            <div class="col-sm-4 col-wrap">
                <label for="@Html.IdFor(m => m.ProviderContact.CompanyName)">Facility Information</label>
            </div>
            <div class="col-sm-7 col-wrap">
                <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.CompanyName, "error"))">
                    @Html.TextBoxFor(m => m.ProviderContact.CompanyName, new { placeholder = "Facility, Office Name, etc.", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.ProviderContact.CompanyName)
                </div>
            </div>
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.Address1, "error"))">
                    @Html.TextBoxFor(m => m.ProviderContact.Address.Address1, new { placeholder = "Address", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.ProviderContact.Address.Address1)
                </div>
            </div>
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.Address2, "error"))">
                    @Html.TextBoxFor(m => m.ProviderContact.Address.Address2, new { placeholder = "Address Line 2", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.ProviderContact.Address.Address2)
                </div>
            </div>
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.City, "error"))">
                    @Html.TextBoxFor(m => m.ProviderContact.Address.City, new { placeholder = "City", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.ProviderContact.Address.City)
                </div>
            </div>
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.State, "error"))">
                    @Html.StateDropDownListFor(m => m.ProviderContact.Address.State, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ProviderContact.Address.State)
                </div>
            </div>
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.PostalCode, "error"))">
                    @Html.TextBoxFor(m => m.ProviderContact.Address.PostalCode, new { placeholder = "Zip", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.ProviderContact.Address.PostalCode)
                </div>
            </div>
            @Html.HiddenFor(m => m.ProviderContact.Address.Country)
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.EditorFor(m => m.EmergencyRoom)
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.EditorFor(m => m.HospitalizedOvernight)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.EditorFor(m => m.TimeEmployeeBeganWork)
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group">
                    @Html.EditorFor(m => m.TimeOfEvent)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.ActivityBeforeIncident, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.ActivityBeforeIncident, new { @class = "form-control input-sm", placeholder = "What was the employee doing just before the incident occurred?" })
                    @Html.ValidationMessageFor(m => m.ActivityBeforeIncident)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.WhatHappened, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.WhatHappened, new { @class = "form-control input-sm", placeholder = "Describe what happened?" })
                    @Html.ValidationMessageFor(m => m.WhatHappened)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.InjuryOrIllness, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.InjuryOrIllness, new { @class = "form-control input-sm", placeholder = "What was the injury or illness?" })
                    @Html.ValidationMessageFor(m => m.InjuryOrIllness)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.WhatHarmedTheEmployee, new { @class = "control-label" })
                    @Html.WorkRelatedFieldEditorFor(m => m.WhatHarmedTheEmployee, AbsenceSoft.Logic.Cases.OshaFormFieldService.WhatHarmedTheEmployee, "Select Cause of Injury", "What object or substance directly harmed the employee ?", new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.WhatHarmedTheEmployee)
                </div>
            </div>
        </div>

        @Html.EditorFor(m => m.DateOfDeath)
        <div class="sharps-question">
            @Html.EditorFor(m => m.Sharps)
        </div>

        <div class="i-have-sharps" style="@(Model.Sharps == true ? "" : "display:none;")">
            <!--WC/OSHA Sharps-->
            <div class="row">
                <div class="col-sm-4 col-wrap">
                    <label>Injury Location(s)</label>
                </div>
                <div class="col-sm-7 col-wrap">
                    <div class="row">
                        @for (int i = 0; i < Model.SharpsInfo.InjuryLocation.Count; i++)
                        {
                            <div class="col-sm-4">
                                <label>@Html.CheckBoxFor(m => m.SharpsInfo.InjuryLocation[i].Selected) @Model.SharpsInfo.InjuryLocation[i].Text</label>
                                @Html.HiddenFor(m => m.SharpsInfo.InjuryLocation[i].Value)
                            </div>
                        }
                    </div>
                    @Html.ValidationMessageFor(m => m.SharpsInfo.InjuryLocation)
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-sm-4 col-wrap">
                    <label for="@Html.IdFor(m => m.SharpsInfo.TypeOfSharp)">Sharp Involved (if known)</label>
                </div>
                <div class="col-sm-7 col-wrap">
                    @Html.TextBoxFor(m => m.SharpsInfo.TypeOfSharp, new { @class = "form-control input-sm", placeholder = "Sharp Type" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.TypeOfSharp)
                </div>
                <div class="col-sm-7 col-sm-offset-4 col-wrap">
                    @Html.TextBoxFor(m => m.SharpsInfo.BrandOfSharp, new { @class = "form-control input-sm", placeholder = "Brand/Manufacturer" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.BrandOfSharp)
                </div>
                <div class="col-sm-7 col-sm-offset-4 col-wrap">
                    @Html.TextBoxFor(m => m.SharpsInfo.ModelOfSharp, new { @class = "form-control input-sm", placeholder = "Model Number/Name" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.ModelOfSharp)
                </div>
                <div class="col-sm-7 col-sm-offset-4 col-wrap">
                    @Html.TextBoxFor(m => m.SharpsInfo.BodyFluidInvolved, new { @class = "form-control input-sm", placeholder = "Body Fluid Involved" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.BodyFluidInvolved)
                </div>
            </div>
            <div class="sharps-protection">
                @Html.EditorFor(m => m.SharpsInfo.HaveEngineeredInjuryProtection)
            </div>
            <div class="HaveEngineeredInjuryProtection" style="@(Model.SharpsInfo.HaveEngineeredInjuryProtection == true ? "" : "display:none;")">
                @Html.EditorFor(m => m.SharpsInfo.WasProtectiveMechanismActivated)
            </div>
            <div class="HaveEngineeredInjuryProtection" style="@(Model.SharpsInfo.HaveEngineeredInjuryProtection == true ? "" : "display:none;")">
                <div class="@(Html.ValidationErrorFor(m => m.SharpsInfo.WhenDidTheInjuryOccur, "has-error"))">
                    <div class="row">
                        <div class="col-sm-4 col-wrap">
                            @Html.LabelFor(m => m.SharpsInfo.WhenDidTheInjuryOccur, new { @class = "control-label" })
                        </div>
                        <div class="col-sm-7 col-wrap">
                            @Html.EnumUIDropDownListFor(m => m.SharpsInfo.WhenDidTheInjuryOccur, "Select When Occurred", new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(m => m.SharpsInfo.WhenDidTheInjuryOccur, null, new { @class = "help-block" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="@(Html.ValidationErrorFor(m => m.SharpsInfo.JobClassification, "has-error"))">
                <div class="row">
                    <div class="col-sm-4 col-wrap">
                        @Html.LabelFor(m => m.SharpsInfo.JobClassification, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7 col-wrap">
                        @Html.EnumUIDropDownListFor(m => m.SharpsInfo.JobClassification, "Select Job Classification", new { @class = "form-control input-sm job-classification" })
                        @Html.ValidationMessageFor(m => m.SharpsInfo.JobClassification, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row job-classification-other" style="@(Model.SharpsInfo.JobClassification == WorkRelatedSharpsJobClassification.Other ? "" : "display:none;")">
                <div class="col-sm-7 col-sm-offset-4 col-wrap">
                    @Html.TextBoxFor(m => m.SharpsInfo.JobClassificationOther, new { placeholder = "Other job classification", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.JobClassificationOther)
                </div>
            </div>
            <div class="@(Html.ValidationErrorFor(m => m.SharpsInfo.LocationAndDepartment, "has-error"))">
                <div class="row">
                    <div class="col-sm-4 col-wrap">
                        @Html.LabelFor(m => m.SharpsInfo.LocationAndDepartment, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7 col-wrap">
                        @Html.EnumUIDropDownListFor(m => m.SharpsInfo.LocationAndDepartment, "Select Location/Department", new { @class = "form-control input-sm location-and-dept" })
                        @Html.ValidationMessageFor(m => m.SharpsInfo.LocationAndDepartment, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row location-and-dept-other" style="@(Model.SharpsInfo.LocationAndDepartment == WorkRelatedSharpsLocation.Other ? "" : "display:none;")">
                <div class="col-sm-7 col-sm-offset-4 col-wrap">
                    @Html.TextBoxFor(m => m.SharpsInfo.LocationAndDepartmentOther, new { placeholder = "Other location/department", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.LocationAndDepartmentOther)
                </div>
            </div>
            <div class="@(Html.ValidationErrorFor(m => m.SharpsInfo.Procedure, "has-error"))">
                <div class="row">
                    <div class="col-sm-4 col-wrap">
                        @Html.LabelFor(m => m.SharpsInfo.Procedure, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7 col-wrap">
                        @Html.EnumUIDropDownListFor(m => m.SharpsInfo.Procedure, "Select Procedure", new { @class = "form-control input-sm procedure" })
                        @Html.ValidationMessageFor(m => m.SharpsInfo.Procedure, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
            <div class="row procedure-other" style="@(Model.SharpsInfo.Procedure == WorkRelatedSharpsProcedure.Other ? "" : "display:none;")">
                <div class="col-sm-7 col-sm-offset-4 col-wrap">
                    @Html.TextBoxFor(m => m.SharpsInfo.ProcedureOther, new { placeholder = "Other procedure name", @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.ProcedureOther)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-4 col-md-4 col-wrap">
                    @Html.LabelFor(m => m.SharpsInfo.ExposureDetail)
                </div>
                <div class="col-sm-7 col-xs-7 col-md-4 col-wrap">
                    @Html.TextAreaFor(m => m.SharpsInfo.ExposureDetail, new { @rows = 4, @cols = 90, placeholder = "Describe, in detail, how the exposure incident occurred (e.g. the procedure being performed, the device being used, the body part affected, objects or substances involved and how many were involved)" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.ExposureDetail)
                </div>
            </div>

            <!--/.WC/OSHA Sharps-->
        </div>
    </div>
}
