﻿@model AbsenceSoft.Models.CaseParentedModel
@{
    //var packetType = ViewBag.PacketType != null ? Convert.ToInt32(ViewBag.PacketType) : 0;
    var packetType = ViewBag.PacketType;
    var caseAttachmentListModel = Model as AbsenceSoft.Models.Communications.CreateCummunicationViewModel;
    var parentInstanceId = caseAttachmentListModel.CaseId;
   
}
@section head {
    <link href="@Url.Content("~/Content/css/select2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/select2-bootstrap.css")" rel="stylesheet" />
  
}
@Html.Action("ParentCaseInfo", "Cases", new { caseId = Model.CaseId, status = ViewBag.Status })
@using (Html.BeginForm("ToPdf", "Communications", FormMethod.Post, new { target = "_blank" }))
{
    @Html.HiddenFor(m => m.CaseId)
    <div ng-controller="CreateCommunicationCtrl" ng-cloak ng-init="init('@Model.CaseId', '@Model.EmployeeId','@caseAttachmentListModel.ToDoItemId',
         '@caseAttachmentListModel.TemplateKey',@Html.Raw(Json.Encode(caseAttachmentListModel.IsResend)),'@caseAttachmentListModel.CommunicationId')">
        <div class="row row-offset">
            <div class="col-sm-12">
                <view-todo-success-modal></view-todo-success-modal>
                <div id="uploadModalDialog" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <form id="frmUploadFile">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"><span id="orgTitle">You have successfully uploaded your files</span></h4>
                                </div>
                                <div class="modal-body">                                    
                                    <div class="row">
                                        <div class="col-sm-12">
                                            Please select where you want following files attached:
                                        </div>
                                        <div class="col-sm-12" ng-repeat="attachment in UploadedAttachments">
                                            {{attachment.FileName}}
                                        </div>
                                    </div>
                                    <div class="row row-offset">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8 pull-center">                                                                                        
                                            <div class="col-sm-4 btn-group group-2" data-toggle="buttons">
                                                <label class="btn btn-info" ng-class="{ 'active' : AttachmentGroup == 1}" ng-click="AttachmentGroup = 1">
                                                    <input type="radio" value="1" ng-model="AttachmentGroup" /> COMMUNICATIONS
                                                </label>
                                                <label class="btn btn-info" ng-class="{ 'active' : AttachmentGroup == 2 }" ng-click="AttachmentGroup = 2">
                                                    <input type="radio" value="2" ng-model="AttachmentGroup" /> CASE
                                                </label>
                                            </div>                                            
                                        </div>
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8 pull-center">
                                            <span class="error" ng-cloak ng-show="AttachmentGroupNotSelected">Please select an option</span>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-sm-12 pull-right">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-primary" ng-click="SaveAtachment()">Save Attachment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="content-section">Compose Communication</div>
                        <div class="btn-icon-communication-create"></div>
                    </div>
                    <div class="col-sm-8">
                        <div class="row" ng-show="IsComposeBlankCommunication == true" ng-cloak>
                            <div class="col-sm-2">
                                <span>Communication</span>
                            </div>
                            <div class="col-sm-6">
                                <!--on page load, show selected value-->
                                <select ng-change="CreateCummunicationViewModel()" ng-model="TemplateKey" ng-options="type.Value as type.Text for type in PacketTypes" class="form-control"></select>
                            </div>
                        </div>
                        <div class="row">
                            @Html.Hidden("howmanysaved", ((AbsenceSoft.Models.Communications.CreateCummunicationViewModel)Model).CommunicationTypeValue, new { id = "hiddenCommType" })
                            <div class="col-sm-2">Send By</div>
                            <div class="col-sm-3">
                                <select class="form-control" id="send-by-option" ng-model="CreateCommunicationModel.CommunicationTypeValue" ng-init="CreateCommunicationModel.CommunicationTypeValue = '@Newtonsoft.Json.JsonConvert.SerializeObject(((AbsenceSoft.Models.Communications.CreateCummunicationViewModel)Model).CommunicationTypeValue)'" ng-change="setCommunicationType()">
                                    <option value="0" ng-selected="@((caseAttachmentListModel.CommunicationTypeValue==0)?"true":"false")">Print/Mail</option>
                                    @if (!Model.SendECommunication.HasValue || Model.SendECommunication.Value)
                                    {
                                        <option value="1" ng-selected="@((caseAttachmentListModel.CommunicationTypeValue==1)?"true":"false")">Email</option>
                                    }

                                    @*<option value="2">Fax</option>
                 <option value="0">Print/Mail</option>
                <option value="3">Phone</option>
                <option value="4">Online</option>
                <option value="5">TextMsg</option>
                                    *@
                                </select>
                            </div>
                            <div class="col-sm-2 col-header">Confidential</div>
                            <div class="col-sm-4">
                                <div class="btn-group group-2" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : CreateCommunicationModel.Public}" ng-click="CreateCommunicationModel.Public = true">
                                        <input type="radio" ng-model="CreateCommunicationModel.Public" ng-value="true" /> No
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : !CreateCommunicationModel.Public}" ng-click="CreateCommunicationModel.Public = false">
                                        <input type="radio" ng-model="CreateCommunicationModel.Public" ng-value="false" /> Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="to" ng-show="CreateCommunicationModel.CommunicationTypeValue == 1" ng-clock>
                            <div class=" col-sm-2">To</div>
                            <div class="col-sm-10">
                                <div class="select2-wrap">
                                    <input id="to_emails" type="text" name="To" ng-model="CreateCommunicationModel.Recipients" ng-change="change" class="form-control select2-multiple" />
                                </div>
                            </div>
                        </div>
                        <div class="row" id="to" ng-show="CreateCommunicationModel.CommunicationTypeValue == 1" ng-clock>
                            <div class=" col-sm-2">CC</div>
                            <div class="col-sm-10">
                                <div class="select2-wrap">
                                    <input id="cc_emails" type="text" name="To" ng-model="CreateCommunicationModel.CCRecipients" ng-change="change" class="form-control select2-multiple" />
                                </div>
                            </div>
                        </div>
                        <div class="row" id="subject" ng-show="CreateCommunicationModel.CommunicationTypeValue == 1" ng-clock>
                            <div class="col-sm-2">Subject</div>
                            <div class="col-sm-10">
                                <input type="text" name="subject" ng-model="CreateCommunicationModel.Subject" class="form-control" maxlength="255"/>
                            </div>
                        </div>
                        <div class="row" id="subject" ng-show="CreateCommunicationModel.CommunicationTypeValue == 1">
                            <div class="col-sm-2">Communication Email Replies go to:</div>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="CreateCommunicationModel.EmailRepliesTypeValue" 
                                        ng-options="type.Id as type.Text for type in EmailRepliesTypes" ng-change="setEmailRepliesType()">
                                 
                                </select>
                                
                            </div>
                        </div>
                        <div class="row mt12" ng-show="LastSavedDate" ng-cloak>
                            <div class="col-xs-12">
                                <div class="comm-draft-box col-xs-12">
                                    <div class="col-xs-10">
                                        <div class="col-sm-12 text-danger">DRAFT</div>
                                        <div class="col-sm-3">Last Saved</div>
                                        <div class="col-sm-9">
                                            <span ng-bind="LastSavedDate | date:'medium'"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <button ng-click="DeleteDraft()" type="button" class="btn btn-danger pull-right"><i class="fa fa-trash-o"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2 col-right comm-draft-returns">
                        <a style="cursor:pointer;" class="btn btn-primary" ng-click="OpenContactsModal()">Contacts</a>
                        <contacts-modal></contacts-modal>
                        <button id="btnSendEmail" type="button" ng-disabled="isDisableSend" ng-click="isDisableSend=true; CreateCommunication()" class="btn btn-primary">{{CreateCommunicationModel.CommunicationTypeValue > 0 ? 'Send' : 'Print'}}</button>
                        <button class="btn btn-primary" type="button" ng-click="SaveAsDraft()" ng-disabled="!isContentLoaded">Save As Draft</button>
                        @*<span ng-show="LastSavedDate" class="saved-time-comm">
                            Saved as a draft at <span ng-bind="LastSavedDate | date:'shortTime'"></span>
                        </span>*@
                        <a class="btn btn-link" href="@Url.RouteUrl("CaseCommunications", new {caseId = Model.CaseId})">Return to Comms</a>
                        <a class="btn btn-link" href="@Url.RouteUrl("ViewCase", new { caseId = Model.CaseId })">Cancel</a>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-offset htmleditor">
            <div class="col-sm-12">
                <textarea name="Message" ng-model="CreateCommunicationModel.Message"></textarea>
            </div>
        </div>

        <div class="row row-offset" ng-cloak>            
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <div class="comm-attach-header">
                        <div class="comm-attach-header-left"><div class="btn-icon-attachments"></div></div>
                        <div class="comm-attach-header-right">ATTACHMENTS</div>
                    </div>
                </div>  
                <div class="col-sm-12">
                    <div class="col-sm-12 comm-attach-body-blank-space">&nbsp;</div>
                    <div class="col-sm-12 comm-attach-body">
                        <div class="col-sm-4">
        <div class="comm-attach-body-beginning-space">&nbsp;</div>
        <div class="col-sm-12">
            <div class="pull-left comm-general-header">Communication Attachments</div>
            <div class="pull-right comm-general-header-right"><a ng-click="SelectAllAttachments(1)">SELECT ALL</a></div>
        </div>
        <div class="comm-attach-body-hor-line-1">&nbsp;</div>
        <div class="comm-attach-body-hor-line-2">&nbsp;</div>
        <div class="comm-attach-body-hor-line-3">&nbsp;</div>
        <div class="col-sm-12 comm-scrollbar comm-attach comm-attach-list">
            <div class="comm-force-overflow comm-padding-0">
                <div class="col-sm-12  comm-padding-0" ng-repeat="paperwork in CreateCommunicationModel.Paperwork">
                    <div class="col-sm-1 comm-padding-0"><input type="checkbox" name="chkSelAttachment" ng-model="paperwork.Checked" /></div>
                    <div class="col-sm-9 comm-padding-0">{{paperwork.Paperwork.Name}}</div>
                    <div class="col-sm-2 comm-padding-0">{{(!paperwork.Paperwork.RequiresReview)?"-":paperwork.DueDate | ISODateToDate | date:'MM/dd/yyyy'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="comm-attach-body-beginning-space">&nbsp;</div>
        <div class="col-sm-12">
            <div class="pull-left comm-general-header">Case Attachments</div>
            <div class="pull-right comm-general-header-right"><a ng-click="SelectAllAttachments(2)">SELECT ALL</a></div>
        </div>
        <div class="comm-attach-body-hor-line-1">&nbsp;</div>
        <div class="comm-attach-body-hor-line-2">&nbsp;</div>
        <div class="comm-attach-body-hor-line-3">&nbsp;</div>
        <div class="col-sm-12 comm-scrollbar comm-attach comm-attach-list">
            <div class="comm-force-overflow comm-padding-0">
                <div class="col-sm-12 comm-padding-0"ng-repeat="caseAttachment in CreateCommunicationModel.CaseAttachments">
                    <div class="col-sm-1 comm-padding-0"><input type="checkbox" name="chkSelCaseAttachment" ng-model="caseAttachment.Checked" /></div>
                    <div class="col-sm-9 comm-padding-0">{{caseAttachment.FileName}}</div>
                    <div class="col-sm-2 comm-padding-0">{{caseAttachment.CreatedDate | ISODateToDate | date:'MM/dd/yyyy'}}</div>
                </div>
            </div>
        </div>
    </div>
                        <div class="col-sm-4 ">
                            <div class="col-sm-12 commdragzone comm-general-header">
                                <input id="caseAttachments" style="display: none" type="file" name="caseAttachments" data-url="/Cases/@parentInstanceId/Attachments/Create" * multiple data-sequential-uploads="true">
                                <label id="caseAttachmentsLabel" for="caseAttachments" class="btn btn-primary">Select Files</label>
                                <label for="caseAttachments">or drag and drop.</label>
                            </div>
                        </div>
                        <div class="col-sm-12">&nbsp;</div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="progress">
                                    <div class="bar" style="width: 0%;"></div>
                                </div>
                                <div id="newAttachments" class="col-sm-12 row-offset" ng-show="NewAttachments.length > 0 && IsUploadInProgress == false">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-4 col-header">Description</div>
                                    <div class="col-sm-4 col-header">Attachment</div>
                                </div>
                                <div ng-repeat="attachment in NewAttachments">
                                    <div class="col-sm-12">
                                        <div ng-show="attachment.IsUploading==false">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-4">
                                                <textarea class="form-control" ng-model="attachment.Description" rows="3"></textarea>
                                            </div>
                                            <div class="col-sm-4">{{attachment.FileName}}</div>
                                            <div class="col-sm-2">
                                                <button type="button" class="btn btn-link" ng-click="CancelFileUpload(attachment)">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10" ng-show="attachment.ShowMessage==true">{{attachment.Message}}</div>
                                        <div class="col-sm-2">
                                            <button type="button" ng-show="attachment.ShowCancel==true" class="btn btn-link" ng-click="CancelFileUpload(attachment)">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="NewAttachments.length > 0">
                                    <div class="col-sm-2 col-sm-offset-10">
                                        <button type="button" class="btn btn-primary" ng-disabled="isDisabled" ng-click="isDisabled=true; UploadFiles()">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>                              
            </div>
        </div>
    </div>


}


@section scripts{

    <script>
            //TineMCE
            var GetActiveEditorContent;
            //See configuration options at http://www.tinymce.com/wiki.php/Configuration
            tinymce.baseURL = "@Url.Content("~/Scripts/tinymce/")"; // trailing slash important
            tinymce.init({
                height: 350,
                menubar: false,
                plugins: "table lists",
                toolbar: "undo | redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | table",
                selector: 'textarea', setup: function (ed) {
                    ed.on('init', function (args) {
                        GetActiveEditorContent = function () {
                            return tinyMCE.activeEditor.getContent();
                        };
                    });
                },
                init_instance_callback: function (editor) {
                    //call load html after initialization
                    //CommunicationsLoadHtmlFile();
                },
                content_css: "@Url.Content("~/Content/bootstrap-custom/_main.css")",
                // Bad, shameful, horribly behaved tinyMCE should not convert our fully qualified URLs to relative
                //  because it then breaks PDF and Email generation 'n' stuff.
                relative_urls: false,
                remove_script_host: false,
                convert_urls: true,
                gecko_spellcheck: true,
                browser_spellcheck: true
            });

            //multi-select To
         
    </script>


}