﻿@model AbsenceSoft.Models.CaseParentedModel
@{ 
    var isInquiry = ViewBag.Status == "Inquiry";
}

@Html.Action("ParentCaseInfo", "Cases", new { caseId = Model.CaseId, status = ViewBag.Status })
<div class="row row-offset" ng-controller="CommunicationIndexCtrl" ng-init="init('@Model.CaseId', '@Model.EmployeeId', '@Model.EmployerId')" ng-cloak>
    <div class="col-sm-2">
        <div class="row">
            <div class="col-sm-12">
                <div class="content-section">Communications</div>
                <div class="btn-icon-communication"></div>
            </div>
        </div>
    </div>    
    <div class="col-sm-8">
        <div class="row row-offset comm-draft-btns">
            <div class="btn-group-justified" data-toggle="buttons">
                <label class="btn btn-primary active" ng-click="CommunicationsFilter.IsDraft = false; GetCommunications(false)">
                    Sent Communications
                    <input type="radio" value="false"/>
                </label>
                <label class="btn btn-primary" ng-click="CommunicationsFilter.IsDraft = true; GetCommunications(false)" >
                    Communication Drafts
                    <input type="radio" value="true"/>
                </label>
            </div>
        </div>
        <div class="row row-offset" ng-cloak>
            <div class="col-sm-12">
                <div class="row row-header top-row-style" id="empSort" style="cursor: pointer">
                    <div class="col-sm-2" ng-click="UpdateCommunicationSort('Name')" ng-hide="CommunicationsFilter.IsDraft">
                        <span>Name</span>
                        <div class="sort" ng-show="CommunicationsFilter.SortExpression == 'Name'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CommunicationsFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-click="UpdateCommunicationSort('Name')" ng-show="CommunicationsFilter.IsDraft">
                        <span>Name</span>
                        <div class="sort" ng-show="CommunicationsFilter.SortExpression == 'Name'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CommunicationsFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateCommunicationSort('Subject')">
                        <span>Subject</span>
                        <div class="sort" ng-show="CommunicationsFilter.SortExpression == 'Subject'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CommunicationsFilter.SortDir == 'asc']"></span>
                        </div>
                    </div> 
                    <div class="col-sm-2">
                        <span>Method</span>
                    </div>                    
                    <div class="col-sm-2" ng-click="UpdateCommunicationSort('SentDates')" ng-hide="CommunicationsFilter.IsDraft">
                        <span>Date</span>
                        <div class="sort" ng-show="CommunicationsFilter.SortExpression == 'SentDate'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CommunicationsFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-click="UpdateCommunicationSort('mdt')" ng-show="CommunicationsFilter.IsDraft">
                        <span>Date</span>
                        <div class="sort" ng-show="CommunicationsFilter.SortExpression == 'SentDate'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CommunicationsFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <span ng-hide="CommunicationsFilter.IsDraft">Recipients</span>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateCommunicationSort('CreatedByName')">
                        <span>Created By</span>
                        <div class="sort" ng-show="CommunicationsFilter.SortExpression == 'CreatedByName'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CommunicationsFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-filter bottom-row-style" id="empFilters">
                    <div class="col-sm-2" ng-hide="CommunicationsFilter.IsDraft">
                        <input ng-model="CommunicationsFilter.CommunicationName" ng-keyup="GetCommunications(false)" type="text" class="form-control filter" placeholder="Name" />
                    </div>
                    <div class="col-sm-3" ng-show="CommunicationsFilter.IsDraft">
                        <input ng-model="CommunicationsFilter.CommunicationName" ng-keyup="GetCommunications(false)" type="text" class="form-control filter" placeholder="Name" />
                    </div>
                    <div class="col-sm-2">
                        <input ng-model="CommunicationsFilter.CommunicationSubject" ng-keyup="GetCommunications(false)" type="text" class="form-control filter" placeholder="Subject" />
                    </div>
                    <div class="col-sm-2">


                        <select ng-model="CommunicationsFilter.CommunicationType" class="form-control filter"
                                ng-change="GetCommunications(false)">
                            <option value="" selected="selected">Select A Method</option>
                            @foreach (var field in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.CommunicationType)))
                            {
                                <option value="@(field.ToString())">@field.ToString()</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-2" ng-hide="CommunicationsFilter.IsDraft">
                        <div class="field-input input-group date">
                            <input type="text" id="NoteFilterDate" name="NoteFilterDate" class="form-control input-sm filter" ng-model="CommunicationsFilter.SentDate"
                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="Sent date" />
                        </div>
                      
                    </div>
                    <div class="col-sm-3" ng-show="CommunicationsFilter.IsDraft">
                        <div class="field-input input-group date">
                            <input type="text" id="NoteFilterDate" name="NoteFilterDate" class="form-control input-sm filter" ng-model="CommunicationsFilter.ModifiedDate"
                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="Date Saved" />
                        </div>
                    </div>
                    <div class="col-sm-2" ng-hide="CommunicationsFilter.IsDraft">
                        <input ng-model="CommunicationsFilter.Recipients" ng-keyup="GetCommunications(false)" type="text" class="form-control filter" placeholder="Recipient" />
                    </div>
                    <div class="col-sm-2">
                        <input ng-model="CommunicationsFilter.CreatedBy" ng-keyup="GetCommunications(false)" type="text" class="form-control filter" placeholder="Created By" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 note">
                        <div class="note-comm-area">
                            <div class="row row-hover" ng-click="GetViewCommunicationUrl(communication)" ng-repeat="communication in Communications">
                                <div class="col-sm-3 comm-save-check" ng-show="CommunicationsFilter.IsDraft">
                                    <input type="checkbox" ng-show="communication.IsDraft" ng-model="communication.Delete" ng-click="$event.stopPropagation(); CheckDeleteStatus()" />
                                    <label>{{communication.Name == null || communication.Name == undefined || communication.Name == '' ? 'Blank Communication' : communication.Name }} </label>
                                </div>
                                <div class="col-sm-2" ng-hide="CommunicationsFilter.IsDraft">
                                    <label style="max-width:150px !important; font-weight: normal; word-wrap: break-word !important;">{{communication.Name == null || communication.Name == undefined || communication.Name == '' ? 'Blank Communication' : communication.Name }} </label>
                                </div>
                                <div class="col-sm-2"><label style="max-width:200px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="communication.Subject"></label></div>
                                <div class="col-sm-2"><label style="max-width:90px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="communication.CommunicationType"></label></div>
                                <div class="col-sm-2" ng-hide="CommunicationsFilter.IsDraft">{{communication.SentDate | ToDate | date:'MM/dd/yyyy'}}</div>
                                <div class="col-sm-3" ng-show="CommunicationsFilter.IsDraft">{{communication.ModifiedDate | ToDate | date:'medium'}}</div>
                                <div class="col-sm-2 wraptexts" ng-hide="communication.IsDraft">
                                    <div ng-repeat="recipient in communication.RecipientsJSON">{{GetRecipient(recipient, $index)}}</div>
                                </div>
                                <div class="col-sm-2 wraptexts">{{communication.CreatedByName}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-offset text-center">
                <button ng-click="DeleteSelectedDrafts()" ng-disabled="IsDeleteDisabled" class="btn btn-danger" ng-show="CommunicationsFilter.IsDraft">Delete Drafts</button>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#composeCommunication" has-permission="SendCommunication">Compose</button>
        <a href="@Url.RouteUrl((isInquiry ? "Inquiry" : "Case") + "Notes", new { caseId = Model.CaseId })" class="btn btn-primary" has-permission="ViewNotes">Notes</a>
        <a href="@Url.RouteUrl((isInquiry ? "Inquiry" : "Case") + "Attachments", new { caseId = Model.CaseId })" class="btn btn-primary" has-permission="ViewAttachment">Attachments</a>
        <a href="@Url.RouteUrl((isInquiry ? "Inquiry" : "Case") + "Activity", new { caseId = Model.CaseId })" class="btn btn-primary" has-permission="ViewNotes">Activity</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="composeCommunication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Compose Communication</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="wrapword">
                                <a ng-href="{{'/Cases/' + CaseId + '/Communications/Create/'}}">Blank</a><br />
                                <div ng-repeat="packetType in PacketTypes">
                                    <a ng-href="{{'/Cases/' + CaseId + '/Communications/Create/' + packetType.Value }}"><span ng-bind="packetType.Text"></span> - <small ng-bind="packetType.Value"></small></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

