﻿@model AbsenceSoft.Models.Communications.BaseCommunicationModel
@*@Html.Action("ParentCaseInfo", "Cases", new { caseId = Model.CaseId, status = ViewBag.Status })*@
<div class="row row-offset" ng-controller="ViewCommunicationCtrl" ng-init="init('@Model.CaseId', '@Model.CommunicationId')" ng-cloak>
   <div class="row row-offset">
        <div class="col-sm-12">
            <div class="col-sm-2">
                <div class="content-section">Communication</div>
                <div class="btn-icon-communication-info"></div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-2">Sent By</div>
                    <div class="col-sm-10" ng-cloak>
                        <div ng-show="Communication.CommunicationType == 0">Print</div>
                        <div ng-show="Communication.CommunicationType == 1" >
                                {{Communication.CreatedByName == null ? "" : Communication.CreatedByName}} {{Communication.CreatedByEmail?" (" + Communication.CreatedByEmail + ")" : ""}}
                        </div>
                        <div ng-show="Communication.CommunicationType == 2">Fax</div>
                        <div ng-show="Communication.CommunicationType == 3">Phone</div>
                        <div ng-show="Communication.CommunicationType == 4">Online</div>
                        <div ng-show="Communication.CommunicationType == 5">TextMsg</div>
                    </div>
                </div>
                <div class="row" ng-show="Communication.CommunicationType == 1" ng-cloak>
                    <div class="col-sm-2">To</div>
                    <div class="col-sm-10">
                        <span ng-repeat="recipient in Communication.Recipients">
                            {{$index == 0 ? "" : ", "}} {{recipient.FirstName == null && recipient.LastName == null ? "Print" : recipient.FirstName + " " + recipient.LastName + (recipient.Email ? " (" + recipient.Email + ")" : "") }}
                        </span>
                    </div>
                    <div class="col-sm-2">Cc</div>
                    <div class="col-sm-10">
                        <span ng-repeat="ccRecipient in Communication.CCRecipients">
                            {{$index == 0 ? "" : ", "}} {{ccRecipient.FirstName == null && ccRecipient.LastName == null ? "Print" : ccRecipient.FirstName + " " + ccRecipient.LastName + (ccRecipient.Email ? " (" + ccRecipient.Email + ")" : "") }}
                        </span>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-sm-2">CC</div>
                    <div class="col-sm-10">
                        hsmith@willings.com
                    </div>
                </div>*@
                <div class="row" ng-show="Communication.CommunicationType == 0" ng-cloak>
                    <div class="col-sm-2">Subject</div>
                    <div class="col-sm-10">
                        {{Communication.Subject}}
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2 col-right" >
                <a ng-href="{{'/Communications/Resend/' + communicationId}}" class="btn btn-primary">Resend</a>
                <a ng-href="{{'/Communications/DownloadPacket/' + communicationId}}" class="btn btn-primary" target="_blank">Download</a>
                <a ng-href="{{' /Cases/' + caseId + '/communications'}}" class="btn btn-primary">Back</a>
            </div>
        </div>
    </div>
    <div class="row row-offset">
        <div class="col-sm-12">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 border" ng-bind-html="deliberatelyTrustDangerousSnippet(Communication.Body)">
            </div>
        </div>
    </div>

    <div class="row row-offset">
        <div class="col-sm-12">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8 border">
                    <div class="row row-header">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-9">
                            Attachments
                        </div>
                    </div>

                    <div class="row" ng-repeat="attachment in Communication.Paperwork" ng-cloak>
                        <div class="col-sm-1">
                            @*<input type="checkbox" checked />*@
                        </div>
                        <div class="col-sm-9" >
                            <a href="/Cases/Paperwork/{{Communication.CaseId}}/Attachments/{{attachment.AttachmentId}}">{{attachment.Paperwork.Name}}</a>
                        </div>
                    </div>
                    <div class="row" ng-repeat="attachment in Communication.CaseAttachments" ng-cloak>
                        <div class="col-sm-1">                           
                        </div>
                        <div class="col-sm-9">
                            <a href="/Cases/{{Communication.CaseId}}/Attachments/{{attachment.Id}}">{{attachment.FileName}}</a>
                        </div>
                    </div>

                    @*<div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" checked />
                        </div>
                        <div class="col-sm-9">
                            FMLA Rights Notice
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" checked />
                        </div>
                        <div class="col-sm-9">
                            Medical Certification
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" />
                        </div>
                        <div class="col-sm-9">
                            EAP Brochure
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <input type="checkbox" />
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option>Other</option>
                            </select>
                        </div>
                    </div>*@
                </div>
        </div>
    </div>
</div>

