﻿@model AbsenceSoft.Administration.Models.ListResultsViewModel<AbsenceSoft.Administration.Models.UserViewModel>


<div class="user-scroll">
    @Html.HiddenFor(m => m.Total, new { @class = "totalResults" })
    @foreach (var user in Model.Results)
    {
        <div class="row user-returns">
            <div class="col-sm-4">
                @Html.RouteLink(user.Email, "EditUser", new { userId = user.Id })
            </div>
            <div class="col-sm-3">
                @user.FirstName
            </div>
            <div class="col-sm-3 user-last">
                @user.LastName
            </div>
            <div class="col-sm-2 text-center user-lock">
                @if (user.IsLocked || user.EndDateLock)
                {
                    <i class="fa fa-lock"></i>
                }
                else
                {
                    <i class="fa fa-unlock"></i>
                }
            </div>
        </div>
    }
</div>
