﻿@model AbsenceSoft.Administration.Models.UserViewModel

@{
    ViewBag.Title = "Edit User";
}
@Html.RouteLink(string.Format("Return To {0}", Model.CustomerName), "EditCustomer", new { customerId = Model.CustomerId }, new { @class = "return-link" })
@if (Model.IsLocked || Model.EndDateLock)
{
    <div class="row mt20">
        <div class="col-xs-12 user-unlocked">
            <i class="fa fa-lock"></i>
            <h3>Unlock Account for User @Model.ToString()</h3>
            @Html.HiddenFor(m => m.Id, new { id = "userId" })
            @if (Model.IsLocked)
            {
                <p>Account Is Locked Because User Failed To Login Too Many Times</p>
            }
            @if (Model.EndDateLock)
            {
                <p>Account Is Locked Because User Has Expired</p>
            }
            <p>Press Unlock Account below to resolve any reported issues, then instruct the user they may attempt to login again.</p>
        </div>
    </div>
    <div class="row mt20">
        <div class="col-xs-12 text-center">
            <input type="submit" class="btn btn-save" value="Unlock Account" id="unlockAccount" />
        </div>
    </div>
}

else {

    <div class="row mt20">
        <div class="col-xs-12 user-unlocked">
            <i class="fa fa-unlock"></i>
            <h3>User @Model.ToString()</h3>
            <p>This user is not locked.</p>
        </div>
    </div>

}






