﻿@model AbsenceSoft.Models.Notes.NoteCategoryViewModel

@{
    ViewBag.Title = "Edit Note Category ";
}

@using (Ajax.BeginRouteForm("NoteCategorySave", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "editNoteCategoryForm",
    OnComplete = "AbsenceSoft.EditNoteCategory.Start()",
    InsertionMode = InsertionMode.ReplaceWith
}, new { id = "editNoteCategoryForm", ng_non_bindable = "" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewNoteCategories")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return To List
    </a>
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Note Category</h3>
                <div class="pull-right admin-enabled">
                    @if (!Model.IsCustom())
                    {
                        @Html.Partial("_AdminConfigEnableDisableButtons", Model)
                    }
                    @if (Model.IsDeleteable() && !Model.HasChildren())
                    {
                        @Ajax.RouteLink("Delete", "DeleteNoteCategory", new { employerId = EmployerId, id = Model.Id }, new AjaxOptions()
                        {
                            HttpMethod = "DELETE"
                        }, new { @class = "btn btn-primary btn-danger" })
                    }
                    
                </div>
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CustomerId)
        <input type="hidden" id="employerId" name="EmployerId" value="@EmployerId" />
        @Html.ValidationSummary(true, "Unable to save the note category. Please see the validation errors below.")
        <div class="row">
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-4">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "noteCategoryCode" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="col-xs-4">
                @Html.LabelFor(m => m.ParentCode)
                @Html.NoteCategoryDropDownListFor(m => m.ParentCode, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ParentCode)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 form-group admin-ab-boxes">
                <h3>Please Select All That Apply:</h3>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary btn-50 @if (Model.TargetsCase) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.TargetsCase)
                        @Html.DisplayNameFor(m => m.TargetsCase)
                    </label>
                    <label class="btn btn-primary btn-50 @if (Model.TargetsEmployee) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.TargetsEmployee)
                        @Html.DisplayNameFor(m => m.TargetsEmployee)
                    </label>
                </div>
            </div>
            <div class="col-xs-4 form-group admin-ab-boxes">
                <h3>@Html.DisplayNameFor(m => m.HideInESS)</h3>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary btn-50 @if (Model.HideInESS.HasValue && Model.HideInESS.Value) {<text>active</text> }">
                        @Html.RadioButtonFor(m => m.HideInESS, true) Yes
                    </label>
                    <label class="btn btn-primary btn-50 @if (!Model.HideInESS.HasValue || !Model.HideInESS.Value) {<text>active</text> }">
                        @Html.RadioButtonFor(m => m.HideInESS, false) No
                    </label>
                </div>
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.NoteCategoryRoles)
                @Html.RolesListBoxFor(m => m.NoteCategoryRoles, new { @class = "form-control", id = "noteCategoryRoles", multiple = "multiple" })
                @Html.ValidationMessageFor(m => m.NoteCategoryRoles)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "EditNoteCategory", new { id = Model.Id }, new { @class = "btn btn-changed admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveNoteCategory" />
        </div>
    </div>
}

