﻿@model IEnumerable<AbsenceSoft.Data.Notes.NoteCategory>

@{
    ViewBag.Title = "Note Categories";
}
<div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-11">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h2>Note Categories of <span class="customer-name">@Customer.Current.Name</span></h2>
                </div>
                <div class="pull-right">
                    @Html.RouteLink("Back", "AdministrationIndex", null, new { @class = "btn btn-primary navbar-btn" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row item-list">
            <div class="col-sm-2">
                <div class="content-section">
                    Note Categories
                    @Html.RouteLink("New Category", "NoteCategoryEdit", new { customerId = Customer.Current.Id }, new { @class = "btn btn-primary btn-sm btn-icon-policies-normal" })            
                </div>
            </div>
            <div class="col-sm-10">
                <div class="border">
                    <div class="tree">
                        @Html.Partial("TreeView", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>