﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    <a href="@Url.RouteUrl("NoteTemplateEdit", new {customerId = Customer.Current.Id, templateId = item.Get<string>("Id")})">
        @{
            string name = item.Get<string>("Name");
            string description = item.Get<string>("Description");
        }
        <div class="col-sm-3">
            @name
        </div>
        <div class="col-sm-9">
            @description
        </div>
    </a>
}