﻿@model AbsenceSoft.Models.Notes.NoteTemplateViewModel

@{
    ViewBag.Title = "Edit Note Template ";
}

@using (Ajax.BeginRouteForm("NoteTemplateSave", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "editNoteTemplateForm", OnSuccess = "AbsenceSoft.PageStart('#editNoteTemplateForm')", InsertionMode = InsertionMode.ReplaceWith }, new { id = "editNoteTemplateForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Note Templates of <span class="customer-name">@Customer.Current.Name</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink("Cancel", "ViewNoteTemplates", null, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    @Html.HiddenFor(m => m.Id)
                    @Html.ValidationSummary(true, "Unable to save the note template.  Please see the validation errors below.")
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Description)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Template)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.EmployerId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Categories, new { multiple = "multiple" })
                        </div>
                    </div>
                    <div class="row pull-center">
                        <input type="submit" value="Save Note Template" class="btn btn-primary" />
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            @Ajax.RouteLink("Delete", "DeleteNoteTemplate", new { customerId = Customer.Current.Id, noteTemplateId = Model.Id }, new AjaxOptions()
                   {
                       HttpMethod = "DELETE"
                   }, new { @class = "btn btn-danger" })
                        }
                        @Html.RouteLink("Cancel", "ViewNoteTemplates", null, new { @class = "btn btn-link" })
                    </div>
                </div>
            </div>
        </div>
    </div>




}

