﻿@model IEnumerable<AbsenceSoft.Models.Notes.NoteCategoryViewModel>

@foreach (var category in Model)
{
    string collapseId = string.Format("noteCategory{0}", category.Id);
    string name = category.Name;
    if (category.IsDisabled)
    {
        name += " (Disabled) ";
    }
    <div class="note-category-name">


        @if (category.ChildCategories != null && category.ChildCategories.Count > 0)
        {
            <a @if (category.IsDisabled) {<text>class="note-category-disabled"</text> } href="#@collapseId" data-toggle="collapse"><i class="fa fa-plus-circle"></i> @name</a>
        }
        else
        {
            <h5 @if (category.IsDisabled) {<text>class="note-category-disabled"</text> }>@name</h5>
        }
        <div class="pull-right">
            <a href="@Url.AdministrationRouteUrl("EditNoteCategory", new { id = category.Id })">
                <span class="fa fa-pencil-square"></span>
            </a>
        </div>
        @if (category.ChildCategories != null && category.ChildCategories.Count > 0)
        {
            <div class="collapse note-category-collapse" id="@collapseId">
                @Html.Partial("TreeView", category.ChildCategories)
            </div>
        }
    </div>

}
