﻿@model IEnumerable<AbsenceSoft.Models.Notes.NoteCategoryViewModel>


<div class="col-xs-12 well">
    <div class="row">
        <div class="col-xs-12 admin-sub-header">
            <h2>Note Categories</h2>
            <span class="pull-right">
                @Html.AdministrationLink("New Note Category", "EditNoteCategory", new { @class = "btn btn-primary addnew-admin-btn" })
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <input type="search" placeholder="SEARCH FOR A CATEGORY" class="form-control" id="searchNoteCategories" />
        </div>
        <div class="col-xs-4">
            <button id="expandAllNoteCategories" class="note-col-btn">
                <span class="fa fa-plus-square-o"></span> EXPAND ALL
            </button>
            <button id="collapseAllNoteCategories" class="note-col-btn">
                <span class="fa fa-minus-square-o"></span> COLLAPSE ALL
            </button>            
        </div>
    </div>
    @Html.Partial("TreeView", Model)
</div>