﻿
<div class="row ess-headline">
    <div class="col-sm-12">
        <span class="fa fa-line-chart ess-headicon"></span>
        <h1>My Reports</h1>
    </div>
</div>

<div class="row">
    <nav id="reportcontainer" class="reportcontainer">
        <div class="col-lg-6">
            <div class="ess-team-report">
                <h1>My Team Reports</h1>
                <ul id="TeamReport" class="nav"></ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ess-org-report">
                <h1>My Organization Reports</h1>
                <ul id="OrganizationReport" class="nav"></ul>
            </div>
        </div>
    </nav>
</div>

