﻿@model AbsenceSoft.Models.EmployeeParentedModel
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                Employee:
                <a href="@Url.RouteUrl("ViewEmployee", new { employeeId = Model.EmployeeId })">@Model.EmployeeFirstName @Model.EmployeeLastName, @Model.EmployeeNumber</a>
            </div>
        </div>
    </div>
</div>
