﻿@model AbsenceSoft.Models.Employees.EmployeeViewModel

@using (Ajax.BeginRouteForm("EditEmployee", new { backURL = Request.UrlReferrer }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "editEmployeeForm", OnSuccess = "AbsenceSoft.PageStart('#editEmployeeForm')", InsertionMode = InsertionMode.ReplaceWith }, new { id = "editEmployeeForm" }))
{
    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display:none" type="text" name="fakeusernameremembered" value="" autocomplete="off"/>
    <input style="display:none" type="password" name="fakepasswordremembered" value="" autocomplete="off" />

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.OriginalEmployeeNumber)
    @Html.HiddenFor(m => m.CustomerId)
    if (!HasFeatureAndPermission(Feature.JobConfiguration, Permission.JobAssignment))
    {
        @Html.HiddenFor(m => m.Job.Title)
    }
    @Html.ValidationSummary(true, "Unable to save the employee.  Please see the validation errors below.")

    <div class="row row-offset">
        <div class="col-sm-8 col-sm-offset-2 required-info">
            <p><span class="fa fa-asterisk"></span> Indicates a required field.</p>
        </div>
    </div>

    if (string.IsNullOrEmpty(Model.EmployerId))
    {
        <div class="row row-offset">
            <div class="col-sm-2">
                <div class="content-section">Employer Info</div>
            </div>
            <div class="col-sm-8 employee-area">
                <div class="row">
                    <div class="col-sm-6 req-ast">
                        @Html.EditorFor(m => m.EmployerId)
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.EmployerId)
    }
    <div class="row row-offset">
        <div class="col-sm-2 text-center">
            <div class="content-section">Employee Info</div>
            <i class="fa fa-user large-side-icons"></i>
        </div>
        <div class="col-sm-8 employee-area">
            <div class="row">
                <div class="col-sm-6 req-ast">
                    @Html.EditorFor(m => m.FirstName)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.MiddleName)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 req-ast">
                    @Html.EditorFor(m => m.LastName)
                </div>
                <div class="col-sm-6 req-ast">
                    @Html.EditorFor(m => m.EmployeeNumber)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.DateOfBirth)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.MilitaryStatus)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Gender)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.SSN)
                </div>
            </div>
        </div>
    </div>
    <div class="row row-offset">
        <div class="col-sm-2 text-center">
            <div class="content-section">Contact Info</div>
            <i class="fa fa-mobile-phone large-side-icons"></i>
        </div>
        <div class="col-sm-8 employee-area">
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Email)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.AltEmail)
                </div>
            </div>
            @Html.HiddenFor(m => m.AddressId)
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Country, new { data_target_region = "residence-region" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.State, new { @class = "residence-region", country = Model.Country })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Address1)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Address2)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.City)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.PostalCode)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.WorkPhone)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.CellPhone)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.HomePhone)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.AltPhone)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.ResidenceCounty)
                </div>
            </div>
            <a  data-toggle="collapse" href="#alternateMailingAddress">Alternate Mailing Address</a>
            <div class="collapse" id="alternateMailingAddress">
                @Html.HiddenFor(m => m.AltAddressId)
                <div class="row">
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.AltCountry, new { data_target_region = "alt-residence-region" })
                    </div>
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.AltState, new { @class = "alt-residence-region", country = Model.AltCountry })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.AltAddress1)
                    </div>
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.AltAddress2)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.AltCity)
                    </div>
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.AltPostalCode)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-offset">
        <div class="col-sm-2 text-center">
            <div class="content-section">Job Info</div>
            <i class="fa fa-building-o large-side-icons"></i>
        </div>
        <div class="col-sm-8 employee-area">
            <div class="row">
                <div class="col-sm-6 req-ast">
                    @Html.EditorFor(m => m.WorkCountry, new { data_target_region = "work-region" })
                </div>
                <div class="col-sm-6 req-ast">
                    @Html.EditorFor(m => m.WorkState, new { @class = "work-region", country = Model.WorkCountry })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.WorkCounty)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.WorkCity)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Organization.Code)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.CostCenter)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Organization.StartDate)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Organization.EndDate)
                </div>
            </div>
            @if (!String.IsNullOrEmpty(Model.Id) && Model.Organization != null && Model.Organization.IHazOrg)
            {
                <div class="row">
                    <div class="col-sm-11">
                        <a href="#employeeLocationHistory" class="pull-right" data-toggle="collapse">show location history</a>
                    </div>
                </div>
                <div class="row collapse" id="employeeLocationHistory">
                    @Html.Action("EmployeeLocationHistory", new { employerId = Model.EmployerId, employeeNumber = Model.EmployeeNumber, fromUI = true })
                </div>
            }
            <div class="row">
                <div class="col-sm-6 req-ast">
                    @Html.EditorFor(m => m.Meets50In75Rule)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.HireDate)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.RehireDate)
                </div>
                <div class="col-sm-6 req-ast">
                    @Html.EditorFor(m => m.ServiceDate)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.TerminationDate)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.EmploymentStatus)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.WorkedPerWeekFriendlyTime, new { @class = "hours-minutes" })
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.WorkedPerWeekAsOf)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.PriorHoursWorked)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.PriorHoursAsOf)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.PayType)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Salary)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 req-ast">
                    @Html.EditorFor(m => m.IsExempt)
                </div>
                <div class="col-sm-6" id="EmployeeClassInfo">
                    @{
                        Html.RenderPartial("_EmployeeClassInfo", Model);
                    }                   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 req-ast">
                    @Html.EditorFor(m => m.IsKeyEmployee)
                </div>

                @if (CurrentCustomerHasFeature(Feature.ShortTermDisablityPay))
                {
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.PayScheduleId)
                    </div>
                }

            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.SpouseEmployeeNumber)
                </div>
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.Department)
                </div>
            </div>
            <div class="row">
                @if (CurrentCustomerHasFeature(Feature.FlightCrew))
                {
                    <div class="col-sm-6">
                        @Html.EditorFor(m => m.IsFlightCrew)
                    </div>
                }              
            </div>
        </div>
    </div>
    if (HasFeatureAndPermission(Feature.JobConfiguration, Permission.JobAssignment))
    {
        <div class="row row-offset">
            <div class="col-sm-2 text-center">
                <div class="content-section">
                    Job Details
                </div>
                <i class="fa fa-pencil large-side-icons"></i>
            </div>
            <div class="col-sm-8 employee-area">
                @Html.EditorFor(m => m.Job, new { OfficeLocation = Model.OfficeLocation })

                @if (Model.JobHistory != null && Model.JobHistory.Count > 0)
                {
                    <div class="row text-right employeejobhistorylink">
                        <a href="#@(Html.IdForModel())employeeJobHistory" class="btn-link" data-toggle="collapse">show job history</a>
                        <span>&nbsp; | &nbsp;</span>
                        <a href="#@(Html.IdForModel())editEmployeeJobHistory" class="btn-link" data-toggle="collapse">edit job history</a>
                    </div>

                    <div class="row collapse" id="@(Html.IdForModel())employeeJobHistory">
                        @Html.Action("EmployeeJobHistory", "Employees", new { employeeNumber = Model.EmployeeNumber, employerId = Model.EmployerId , fromUI=true})
                    </div>

                    <div class="row collapse" id="@(Html.IdForModel())editEmployeeJobHistory">
                        @for (int i = 0; i < Model.JobHistory.Count; i++)
                        {
                            <div class="editemployeejob">
                                @Html.EditorFor(m => m.JobHistory[i], "EditEmployeeJob")
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
    <div class="row row-offset manage-org-hide-child">
        <div class="col-sm-2 text-center">
            <div class="content-section">
                Organization
            </div>
            <i class="fa fa-users large-side-icons"></i>
        </div>
        <div class="col-sm-8 employee-area">
            <div class="col-sm-12 emp-org-margin-30L">CURRENT ORGANIZATIONS</div>
            <div class="col-sm-12">
                &nbsp;
            </div>
            <div id="empCurrentOrganizations">
                @Html.DisplayFor(m => m.EmployeeCurrentOrganizations)
            </div>
            <div class="col-sm-12">&nbsp;</div>
            <div class="col-sm-12 emp-org-margin-30L">
                <a href="#orgAssignment" id="assignEmpOrgCollapse"  data-toggle="collapse">ASSIGN ORGANIZATION VISIBILITY</a>
            </div>
            <div id="orgAssignment" class="collapse">
                <div class="col-sm-12">
                    &nbsp;
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 col-wrap pull-left emp-org-margin-30L">
                        Organization Type
                    </div>
                    <div class="col-sm-4 col-wrap">
                        @if (Model.OrganizationTypes != null)
                        {
                            @Html.DropDownListFor(m => m.OrganizationTypes.Keys, new SelectList(Model.OrganizationTypes,
                                                                                                                                                                                                                                               "Key",
                                                                                                                                                                                                                                                    "Value"), new { @class = "form-control col-right org-type-code", @id = "empOrgType" })
                        }
                    </div>
                    <div class="col-sm-2 col-wrap emp-org-margin30L">
                        Organization Name
                    </div>
                    <div class="col-sm-4 col-wrap">
                        <input id="empOrgNameSearch" placeholder="Search by Organization Name" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-2 col-wrap pull-left emp-org-margin-30L">
                        &nbsp;
                    </div>
                    <div class="col-sm-4 col-wrap">
                        <span id="orgTypeErrorMessage" class="error manage-org-hide-child">Please enter Organization Type</span>
                    </div>
                    <div class="col-sm-2">
                        &nbsp;
                    </div>
                    <div class="col-sm-4 col-wrap emp-org-margin30L">
                        <input type="button" id="btnViewAllEmpOrgs" class="btn btn-primary btn-edit btn-xs pull-right" value="View All">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12">
                        <div class="col-sm-12 col-sm-offset-1" id="empOrgResults">
                            @if (Model.AssignOrganizations != null)
                            {
                                Html.EditorFor(m => m.AssignOrganizations);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-offset">
        <div class="col-sm-2 text-center">
            <div class="content-section">Schedule</div>
            <i class="fa fa-calendar-o large-side-icons"></i>
        </div>
        <div class="col-sm-8 employee-area">
            @if (CurrentCustomerHasFeature(Feature.AdjustEmployeeStartDayOfWeek))
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2 col-wrap">@Html.LabelFor(m => m.StartDayOfWeek)</div>
                            <div class="col-sm-10 col-wrap">@Html.EnumButtonListFor(m => m.StartDayOfWeek)</div>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-12">
                    @Html.EditorFor(m => m.Schedule)
                </div>
            </div>
        </div>
    </div>
    <div class="row row-offset" id="EmployeeCustomFields">
        @{
            Html.RenderPartial("_CustomFields", Model.EmployeeCustomFields);
        }
    </div>
    <div class="row mt30">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="pull-center">
                @{
                    string submitText = "Add New Employee";
                    string routeName = "Home";
                    if (!string.IsNullOrWhiteSpace(Model.Id))
                    {
                        submitText = "Save";
                        routeName = "ViewEmployee";
                    }
                    <input type="submit" class="btn btn-primary" value="@submitText" />
                    @Html.RouteLink("Cancel", routeName, null, new { @class = "btn btn-link", href = Request.UrlReferrer})
                }
            </div>
        </div>
    </div>
}