﻿@model IEnumerable<AbsenceSoft.Models.Employees.EmployeeJobViewModel>

<div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Starting</th>
                        <th>Ending</th>
                        <th>Job</th>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Position</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AbsenceSoft.Models.Employees.EmployeeJobViewModel s in Model)
                    {
                        <tr>
                            <td>@s.StartDate.ToUIString()</td>
                            <td>@(s.EndDate.HasValue ? s.EndDate.Value.ToUIString() : "current")</td>
                            <td>@s.Display</td>
                            <td>@s.Title</td>
                            <td>@s.OfficeLocation</td>
                            <td>@s.Position</td>
                            <td title="@s.StatusHint">@(s.Status == null ? "" : s.Status.Status.ToString().SplitCamelCaseString())</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @if (Model == null || Model.Count() == 0)
    {
        <div class="row">
            <div class="col-sm-12">
                The Employee Has No Job History.
            </div>
        </div>
    }
    <br />
</div>