﻿@model IEnumerable<AbsenceSoft.Models.Employees.EmployeeOrganizationViewModel>

@foreach (var empOrg in Model)
{
    <div class="row">
        <div class="col-sm-6">
            Location: @empOrg.Name
        </div>
        <div class="col-sm-6">
            Dates: @string.Format("{0:d} - {1:d}", empOrg.StartDate, empOrg.EndDate)
        </div>
    </div>
}

@if (Model == null || Model.Count() == 0)
{
    <div class="row">
        <div class="col-sm-12">
            The employee has no location history.
        </div>
    </div>
}
<br />