﻿@model AbsenceSoft.Models.Employees.ViewEmployeeModel
<div class="row row-offset">
    <div class="col-sm-2">
        <div class="content-section">Employee Info</div>
        <i class="fa fa-user large-side-icons"></i>
    </div>
    <div class="col-sm-8 border">
        @if (Model.IsTPA)
        {
            <div class="row">
                <div class="btn-right-corner" has-permission="EditEmployee">
                    <a class="btn btn-default btn-edit" href="@Url.RouteUrl("EditEmployee", new { employeeId = Model.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
                <div class="col-sm-2 col-header">
                    Name
                </div>
                <div class="col-sm-4 capitalize">
                    @if (Model.FirstName != null && Model.FirstName != "")
                    {
                        var name = Model.FirstName + " " + Model.MiddleName + " " + Model.LastName;

                        if (name.Length > 25)
                        {
                            var shortName = name.Substring(0, 25) + "....";
                            <span style="cursor:pointer;" class="popover-dismiss" data-content="<span style='width:50px !important; word-wrap:break-word !important;'>@name</span>"><a href="@Url.RouteUrl("ViewEmployee", new { employeeId = Model.Id })">@shortName</a></span>
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("ViewEmployee", new { employeeId = Model.Id })">@Model.FirstName @Model.MiddleName @Model.LastName</a>
                        }
                    }
                </div>
                <div class="col-sm-2 col-header">
                    Employer
                </div>
                <div class="col-sm-4">
                    @Model.EmployerName
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-header">
                    Employee ID
                </div>
                <div class="col-sm-4">
                    @Model.EmployeeNumber
                </div>
                <div class="col-sm-2 col-header">
                    Hire Date
                </div>
                <div class="col-sm-4">
                    @(Model.HireDate.HasValue ? Model.HireDate.Value.ToString("MM/dd/yyyy") : string.Empty)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-header">
                    Hours Worked
                </div>
                <div class="col-sm-4">
                    @(Model.CalculatedHoursWorked.HasValue ? Math.Round(Model.CalculatedHoursWorked.Value, 2).ToString() : string.Empty)
                    @(Model.PriorHoursWorked.HasValue && Model.PriorHoursWorkedAsOf.HasValue ? "as of " + Model.PriorHoursWorkedAsOf.ToString("MM/dd/yyyy") : string.Empty)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-header">
                    Worked Per Week
                </div>
                <div class="col-sm-4">
                    @(Model.CalculatedWorkedPerWeek != null ? Model.CalculatedWorkedPerWeek : string.Empty)
                    @(Model.WorkedPerWeek.HasValue && Model.WorkedPerWeekAsOf.HasValue ? "as of " + Model.WorkedPerWeekAsOf.ToString("MM/dd/yyyy") : string.Empty)
                </div>
            </div>
            
        }
        else
        {
            <div class="row">
                <div class="btn-right-corner" has-permission="EditEmployee">
                    <a class="btn btn-default btn-edit" href="@Url.RouteUrl("EditEmployee", new { employeeId = Model.Id })"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
                <div class="col-sm-2 col-header">
                    Name
                </div>
                <div class="col-sm-4 capitalize">
                    @if (Model.FirstName != null && Model.FirstName != "")
                    {
                        var name = Model.FirstName + " " + Model.MiddleName + " " + Model.LastName;

                        if (name.Length > 25)
                        {
                            var shortName = name.Substring(0, 25) + "....";
                            <span style="cursor:pointer;" class="popover-dismiss" data-content="<span style='width:50px !important; word-wrap:break-word !important;'>@name</span>"><a href="@Url.RouteUrl("ViewEmployee", new { employeeId = Model.Id })">@shortName</a></span>
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("ViewEmployee", new { employeeId = Model.Id })">@Model.FirstName @Model.MiddleName @Model.LastName</a>
                        }
                    }
                </div>
                <div class="col-sm-3 col-header">
                    Employee ID
                </div>
                <div class="col-sm-3">
                    @Model.EmployeeNumber
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-header">
                    Hire Date
                </div>
                <div class="col-sm-4">
                    @(Model.HireDate.HasValue ? Model.HireDate.Value.ToString("MM/dd/yyyy") : string.Empty)
                </div>
                <div class="col-sm-3 col-header">
                    Hours Worked
                </div>
                <div class="col-sm-3">
                    @(Model.CalculatedHoursWorked.HasValue ? Math.Round(Model.CalculatedHoursWorked.Value, 2).ToString() : string.Empty)
                </div>
            </div>

        }
        <div class="row">
            <div class="col-sm-2 col-sm-offset-10">
                <div class="pull-right"><a href="#" id="showMore" data-toggle="collapse" data-target="#viewfull">more</a></div>
            </div>
        </div>
        <div id="viewfull" class="collapse">
            <div class="row row-offset">
                <div class="col-sm-12 col-header">
                    Employee Info
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Date of Birth:
                    <span id="DOB">@(Model.DOB.HasValue ? Model.DOB.Value.ToString("MM/dd/yyyy") : string.Empty)</span>
                    <i id="dateEye" ng-class="{'fa fa-eye fa-lg':ShowDOB, 'fa fa-eye-slash fa-lg':!ShowDOB}" ng-click="ShowDOB = !ShowDOB" tooltip="{{ShowDOB ? 'Click To Hide DOB' : 'Click To Show DOB'}}" style="cursor:pointer"></i>
                </div>
                <div class="col-sm-4">
                    Gender:
                    @(Model.Gender.HasValue ? Model.Gender.Value.ToString() : string.Empty)
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-12 col-header">
                    Contact Info
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 capitalize">
                    Address:
                    <span style="width:50px !important; word-wrap:break-word !important;">
                        @(Model.Address != null ? Model.Address.Address1 : string.Empty)
                        @(Model.Address != null ? Model.Address.Address2 : string.Empty)
                    </span>
                </div>
                <div class="col-sm-4">
                    Work Phone
                    @if (Model.WorkPhone != null && Model.WorkPhone != "")
                    {
                        @String.Format("{0:(###) ###-####}", Convert.ToInt64(Model.WorkPhone))
                    }
                </div>
                <div class="col-sm-4">
                    Email:
                    @if (Model.Email != null && Model.Email != "")
                    {
                        if (Model.Email.Length > 20)
                        {
                            string[] EmailPieces = Model.Email.Split('.');
                            string DomainExt = EmailPieces[EmailPieces.Length - 1];
                            string Email = Model.Email.Substring(0, 20 - DomainExt.Length);
                            Email = Email + "...." + DomainExt;
                            <span style="cursor:pointer;" class="popover-dismiss" data-content="<span style='width:50px !important; word-wrap:break-word !important;'>@Model.Email</span>">@Email</span>
                        }
                        else
                        {
                            @Model.Email
                        }
                    }
                </div>
                <div class="col-sm-4 capitalize">
                    City:
                    <span style="width:50px !important; word-wrap:break-word !important;">
                        @(Model.Address != null ? Model.Address.City : string.Empty)
                    </span>
                </div>
                <div class="col-sm-4">
                    Cell Phone:
                    @if (Model.CellPhone != null && Model.CellPhone != "")
                    {
                        @String.Format("{0:(###) ###-####}", Convert.ToInt64(Model.CellPhone))
                    }
                </div>
                <div class="col-sm-4">
                    Country:
                    @(Model.Address != null ? Model.Address.Country : string.Empty)
                </div>
                <div class="col-sm-4">
                    State/Zip:
                    @(Model.Address != null ? Model.Address.State : string.Empty),
                    @(Model.Address != null ? Model.Address.PostalCode : string.Empty)
                </div>
                <div class="col-sm-4">
                    Home Phone:
                    @if (Model.HomePhone != null && Model.HomePhone != "")
                    {
                        @String.Format("{0:(###) ###-####}", Convert.ToInt64(Model.HomePhone))
                    }
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-12 col-header">
                    Job Info
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    Work State:
                    @Model.WorkState
                </div>
                <div class="col-sm-4">
                    @(Model.PayType.HasValue ? (Model.PayType.Value.ToString() == "Salary" ? "Salary:" : "Wage:") : "Salary:")
                    <span id="salary">@String.Format("{0:C}", Model.Salary)</span>@(Model.PayType.HasValue ? (Model.PayType.Value.ToString() == "Salary" ? "/year" : "/hour") : string.Empty)
                    <i id="salaryEye" ng-class="{'fa fa-eye fa-lg':ShowSalary, 'fa fa-eye-slash fa-lg':!ShowSalary}" ng-click="ShowSalary = !ShowSalary" tooltip="{{ShowSalary ? 'Click To Hide Salary' : 'Click To Show Salary'}}" style="cursor:pointer" has-permission="ViewSalary"></i>
                </div>
                <div class="col-sm-4">
                    Hire Date:
                    @(Model.HireDate.HasValue ? Model.HireDate.Value.ToString("MM/dd/yyyy") : string.Empty)
                </div>
                <div class="col-sm-4 capitalize">
                    Office Location:
                    @Model.OfficeLocation
                </div>
                <div class="col-sm-4">
                    Exempt:
                    @(Model.IsExempt ? "Yes" : "No")
                </div>
                <div class="col-sm-4">
                    Re-hire Date:
                    @(Model.RehireDate.HasValue ? Model.RehireDate.Value.ToString("MM/dd/yyyy") : string.Empty)
                </div>
                <div class="col-sm-4">
                    Meets 50 in 75 Miles:
                    @Model.Meets50In75MileRule
                </div>
                <div class="col-sm-4">
                    Key Employee:
                    @(Model.IsKeyEmployee ? "Yes" : "No")
                </div>
                <div class="col-sm-4">
                    Service Date:
                    @(Model.ServiceDate.HasValue ? Model.ServiceDate.Value.ToString("MM/dd/yyyy") : string.Empty)
                </div>
                <div class="col-sm-4">
                    Prior Hours Worked:
                    @Model.PriorHoursWorked @(Model.PriorHoursWorked.HasValue ? "as of" : "") @Model.PriorHoursWorkedAsOf.ToString("MM/dd/yyyy")
                </div>
                <div class="col-sm-4">
                    Worked Per Week
                    @Model.WorkedPerWeek @(Model.WorkedPerWeek.HasValue ? "as of" : "") @Model.WorkedPerWeekAsOf.ToString("MM/dd/yyyy")
                </div>
                <div class="col-sm-4 capitalize">
                    Employee Spouse:
                    <a href="@Url.RouteUrl("ViewEmployee", new { employeeId = Model.SpouseEmployeeId })">@Model.SpouseFirstName @Model.SpouseLastName</a>
                </div>
                <div class="col-sm-4">
                    Military Status:
                    @(Model.MilitaryStatus.HasValue ? Model.MilitaryStatus.Value.ToString().SplitCamelCaseString() : string.Empty)
                </div>
                @if(Customer.Current.HasFeature(Feature.ShortTermDisablityPay)) {
                    <div class="col-sm-4">
                        Pay Schedule:
                        @(Model.PaySchedule)
                    </div>
                }
            </div>

            <div class="row row-offset">
                <div class="col-sm-12 col-header">
                    <div class="pull-left">
                        Job Details
                    </div>
                </div>               
            </div>
            @Html.DisplayFor(m => m.Job)
            <div class="row row-offset">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-header">
                            Schedule
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="days-list">
                                @if (Model.WorkSchedules != null)
                                {
                                    <table class="table table-responsive table-hover">
                                        <thead>
                                            <tr>
                                                <th>Effective From</th>
                                                <th>Effective To</th>
                                                <th>Schedule</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var s in Model.WorkSchedules.OrderBy(s => s.StartDate))
                                            {
                                                <tr>
                                                    <td>@s.StartDate.ToUIString()</td>
                                                    <td>@(s.EndDate.HasValue ? s.EndDate.Value.ToUIString() : "perpetual")</td>
                                                    <td>@s.TextRepresentation</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="col-sm-2 col-right">
        <a style="cursor:pointer;" class="btn btn-primary" ng-click="OpenContactsModal()">Contacts</a>
        <contacts-modal></contacts-modal>
        <a href="@Url.RouteUrl("EmployeeNotes", new { employeeId = Model.Id})" class="btn btn-primary hide-when">Notes</a>
    </div>
    <script type="text/javascript">
        $(function () {
            $('.popover-dismiss').popover({
                trigger: 'hover',
                container: 'body',
                html: true
            })
        });
    </script>
</div>
