﻿@*<div class="row">
        <div class="col-sm-12">
            <h1>Employees</h1>
        </div>
    </div>*@
<div ng-controller="EmployeeIndexCtrl" ng-init="init('index')" ng-cloak>
    <div class="row">
        <div class="col-xs-12 dash-header employee-header">
            <h2 class="ml0"><i class="fa fa-users"></i>EMPLOYEES</h2>
            <a href="/Employees/Edit" class="pull-right" has-permission="CreateEmployee1"><i class="fa fa-user-plus"></i></a>
        </div>
    </div>
    @*<div class="row">
            <div class="col-sm-12" id="lastNameQuickFilter">
                <a href="#">View All</a> |
                <a href="#">A</a>
                <a href="#">B</a>
                <a href="#">C</a>
                <a href="#">D</a>
                <a href="#">E</a>
                <a href="#">F</a>
                <a href="#">G</a>
                <a href="#">H</a>
                <a href="#">I</a>
                <a href="#">J</a>
                <a href="#">K</a>
                <a href="#">L</a>
                <a href="#">M</a>
                <a href="#">N</a>
                <a href="#">O</a>
                <a href="#">P</a>
                <a href="#">Q</a>
                <a href="#">R</a>
                <a href="#">S</a>
                <a href="#">T</a>
                <a href="#">U</a>
                <a href="#">V</a>
                <a href="#">W</a>
                <a href="#">X</a>
                <a href="#">Y</a>
                <a href="#">Z</a>
            </div>
        </div>*@
    <div class="row-offset mt12">
        <div class="col-xs-12">
            <div class="row row-header top-row-style" id="empSort" style="cursor: pointer">
                <div class="empSort col-sm-4" ng-click="UpdateEmployeeSort('Name')">
                    <span>Name</span>
                    <div class="sort" ng-show="EmployeesFilter.SortExpression == 'Name'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="empSort" ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]" ng-click="UpdateEmployeeSort('EmployeeNumber')">
                    <span>Employee ID</span>
                    <div class="sort" ng-show="EmployeesFilter.SortExpression == 'EmployeeNumber'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="empSort" ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]" ng-click="UpdateEmployeeSort('HireDate')">
                    <span>Hire Date</span>
                    <div class="sort" ng-show="EmployeesFilter.SortExpression == 'HireDate'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div ng-show="IsTPA && CurrentEmployer == null" class="empSort col-sm-3" ng-click="UpdateEmployeeSort('EmployerName')">
                    <span>Employer</span>
                    <div class="sort" ng-show="EmployeesFilter.SortExpression == 'EmployerName'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
            </div>
            <div class="row row-filter bottom-row-style" id="empFilters">
                <div class="col-sm-4">
                    <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.Name" autocomplete="off" />
                </div>
                <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]">
                    <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.EmployeeNumber" ng-keyup="GetEmployees(false)" autocomplete="off" />
                </div>
                <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]">
                    <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.HireDate" ng-keyup="GetEmployees(false)" autocomplete="off" />
                </div>
                <div class="col-sm-3" ng-show="IsTPA && CurrentEmployer == null">
                    <select ng-model="EmployeesFilter.Employer" ng-change="GetEmployees(false)" class="form-control filter" ng-options="lst.Id as lst.Name for lst in EmployerList">
                        <option value="">All</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row-offset">
        <div class="col-xs-12 list-content-area">
            <div ng-repeat="employee in Employees">
                <div class="row">
                    <a ng-href="/employees/{{employee.Id}}/view" class="row-link">
                        <div class="col-sm-4" ng-cloak>
                            {{employee.Name}}
                        </div>
                        <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]" ng-cloak>
                            {{employee.EmployeeNumber}}
                        </div>
                        <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]" ng-cloak>
                            {{employee.HireDateText}}
                        </div>
                        <div class="col-sm-3" ng-show="IsTPA && CurrentEmployer == null" ng-cloak>
                            <label style="max-width:200px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="employee.EmployerName"></label>
                        </div>
                    </a>
                </div>
                <div class="popover-custom">
                    <div class="popover right">
                        <div class="arrow"></div>
                        <h3 class="popover-title">Cases</h3>
                        <div class="popover-content">
                            @*<a ng-href="/Employees/{{employee.Id}}/Cases/Create" class="btn btn-primary btn-hover">New Case</a>*@
                            <a ng-click="CreateCaseValidation(employee)" class="btn btn-primary btn-hover" has-permission="CreateCase">New Case</a>
                            <p ng-cloak ng-show="employee.EmployeeCasesInfo.length > 0" ng-repeat="employeeCaseInfo in employee.EmployeeCasesInfo">
                                <a ng-href="/cases/{{employeeCaseInfo.CaseId}}/view">#{{employeeCaseInfo.CaseNumber}}</a><br />
                                <span class="font-size-small">{{employeeCaseInfo.StartDate | date:'MM/dd/yyyy'}} - {{employeeCaseInfo.EndDate | date:'MM/dd/yyyy'}}</span>
                                <span class="font-size-small">{{employeeCaseInfo.Reason}} </span>
                                <br />
                                <span class="font-size-small">{{employeeCaseInfo.Status}} </span>
                                <br />
                                <span class="font-size-small">{{employeeCaseInfo.CaseType}}</span>
                                @*<span class="font-size-small">{{employeeCaseInfo.Description}}</span>*@
                            </p>
                            <p ng-cloak ng-show="employee.EmployeeCasesInfo.length == 0">No cases on record</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal: IncompleteEmployee -->
    <div class="modal fade" id="incompleteEmployeeInfoWarning" tabindex="-1" role="dialog" aria-labelledby="modalToDoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Employee Details Incomplete</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            You cannot create case for <strong>{{currentEmployee.Name}}</strong> as his/her information is incomplete. You will have to complete his/her profile before creating case.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="CompleteEmployeeInfo()" class="btn btn-primary" data-dismiss="modal">Complete Employee Info</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal: IncompleteEmployee -->
</div>

@section scripts {
    <script type="text/javascript">
        var ln, fn, eeid, sortBy = 'ln', sort = 1;
        $(function () {
            $('#lastNameQuickFilter a[href=#]').on('click', function (evt) {
                stopEvent(evt);
                var f = $(this).text();
                if (f.length === 1) return filterLn(f);
                return filterLn('');
            });
            $('#ln').on('change keyup paste', function () { filterLn($(this).val()); });
            $('#fn').on('change keyup paste', function () { filterFn($(this).val()); });
            $('#eeid').on('change keyup paste', function () { filterId($(this).val()); });
            //bindEmployeeList();
        });

        function filterLn(n) { if (ln === n) return false; ln = n; return bindEmployeeList(); }
        function filterFn(n) { if (fn === n) return false; fn = n; return bindEmployeeList(); }
        function filterId(n) { if (eeid === n) return false; eeid = n; return bindEmployeeList(); }
        function sortList(s) { if (s === sortBy) { sort = sort * -1; } sortBy = s; return bindemployeeList(); }
        function bindEmployeeList() {
            var req = { ln: ln, fn: fn, eeid: eeid, sort: sort, sortBy: sortBy, page: 0, size: 50 };
            
            return $.ajax({
                dataType: 'json',
                url: '@Url.RouteUrl("EmployeesList")',
                data: req,
                success: function (data) {
                    if (console) console.dir(data);
                    //TODO: Need to make this do something interesting, like bind the grid 'n' stuff.
                }
            });
        }
    </script>

}