﻿@using AbsenceSoft.Common
@using AbsenceSoft.Helpers
@model AbsenceSoft.Models.Employees.CreateEmployeeModel
<div class="col-sm-2 content-section">
    Schedule
</div>
<div class="col-sm-8">
    <div class="row">
        <div class="col-sm-3 field-name manual-column">
            @Html.LabelFor(x => x.WorkSchedule.ScheduleType)
        </div>
        <div class="col-sm-8 field-input">
            <div class="btn-group group-3" data-toggle="buttons">
                <label id="weekly" class="btn btn-info">
                    @Html.AngularInputFor(x => x.WorkSchedule.ScheduleType, 0, new { id = "weeklyType" }) Weekly
                </label>
                <label id="rotating" class="btn btn-info">
                    @Html.AngularInputFor(x => x.WorkSchedule.ScheduleType, 1, new { id = "rotatingType" }) Rotating
                </label>
                <label id="one-time" class="btn btn-info">
                    @Html.AngularInputFor(x => x.WorkSchedule.ScheduleType, 2) Manual
                </label>
            </div>
        </div>
    </div>
    <!--Schedule start and end-->
    <div id="schedule-start-end" class="row" style="display:none;">
        <div class="col-sm-6 col-wrap">
            <div class="col-sm-5 field-name">
                @Html.LabelFor(x => x.WorkSchedule.StartDate)
            </div>
            <div class="col-sm-6 col-sm-offset-1 field-input">
                <div class="field-input input-group date schedule-start">
                    @Html.TextBoxFor(x => x.WorkSchedule.StartDate, new { @class = "form-control input-sm" })
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-wrap">
            <div class="col-sm-5 field-name">
                @Html.LabelFor(x => x.WorkSchedule.EndDate)
            </div>
            <div class="col-sm-6 col-sm-offset-1 field-input">
                <div class="field-input input-group date schedule-end">
                    @Html.TextBoxFor(x => x.WorkSchedule.EndDate, new { @class = "form-control input-sm" })
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--/Schedule start and end-->
    <!--Weekly-->
    <div id="schedule-weekly" class="row" style="display:none;">
        <div>
            <div class="col-sm-3 field-name manual-column">
                Hours per Day
            </div>
            <div class="col-sm-9 col-wrap">
                <div class="schedule-days days_field">
                    <div class="col-sm-1 field-input">
                        Sunday
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Monday
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Tuesday
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Wednesday
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Thursday
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Friday
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Saturday
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Weekly-->
    <!--Rotating-->
    <div id="schedule-rotating" class="row" style="display:none;">
        <div class="col-sm-6 col-wrap">
            <div class="col-sm-5 field-name">
                Days in Rotation
            </div>
            <div class="col-sm-6 col-sm-offset-1 field-input">
                <input class="form-control" id="daysInRotation" />
            </div>
        </div>
    </div>
    <div id="schedule-rotating-per-day" class="row" style="display:none;">
        <div>
            <div class="col-sm-3 field-name manual-column">
                Hours per Day
            </div>
            <div class="col-sm-9 col-wrap">
                <div class="schedule-days" id="rotationDaysCtr">
                    <div class="col-sm-1 field-input">
                        Day 1
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Day 2
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Day 3
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Day 4
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Day 5
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Day 6
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        Day 7
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Rotating-->
    <!--Manual-->
    <div id="schedule-one-time" class="row" style="display:none;">
        <div>
            <div class="col-sm-3 field-name manual-column">
                Hours per Day
            </div>
            <div class="col-sm-9 col-wrap">
                <div class="schedule-days">
                    <div class="col-sm-1 field-input">
                        11/4
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        11/5
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        11/6
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        11/7
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        11/8
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        11/9
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                    <div class="col-sm-1 field-input">
                        11/10
                        <input type="hoursMinutes" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/Manual-->
</div>
