﻿@model AbsenceSoft.Models.Employees.EmployeeViewModel


<div class="row row-offset">
    <div class="col-sm-2 text-center">
        <div class="content-section">Employee Info</div>
         <i class="fa fa-user large-side-icons"></i>
    </div>
    <div class="col-sm-8 border">
        @Html.Partial("_EmployeeInfo", Model)
    </div>
    <div class="col-sm-2 col-right">
        @Html.RouteLink("Notes", "EmployeeNotes", new {employeeId = Model.Id}, new {@class = "btn btn-primary"})
    </div>
</div>
<div class="row row-offset">
    <div class="col-sm-2">
        <div class="content-section">Case History</div>
        <i class="fa fa-briefcase large-side-icons"></i>
    </div>
    <div class="col-sm-8 border">
        @Html.Action("CaseHistory", new { employeeId = Model.Id })
    </div>
    <div class="col-sm-2">

    </div>
</div>
<div class="row row-offset">
    <div class="col-sm-2 text-center">
        <div class="content-section">Time Tracker</div>
        <i class="fa fa-clock-o large-side-icons"></i>
    </div>
    <div class="col-sm-8 border">
        @Html.Action("TimeTracker", new { employeeId = Model.Id })
    </div>
</div>
<div class="row row-offset">
    <div class="col-sm-2 text-center">
        <div class="content-section">Absence History</div>
        <i class="fa fa-calendar large-side-icons"></i>
    </div>
    <div class="col-sm-8 border">
        @Html.Action("AbsenceHistory", new { employeeId = Model.Id })
    </div>
</div>

