﻿@*@if (ViewBag.IsEmployeeSelfService)
{
    <link href="@Url.Content("~/Content/bootstrap-custom/_main-blue.css")" rel="stylesheet" />
}*@
@{
    ViewBag.Title = "Employee - " + ViewBag.EmployeeFullName;
}

<div ng-controller="ViewEmployeeCtrl" ng-init="init('@ViewBag.EmployeeId', '@ViewBag.IsEmployeeSelfService.ToString()')">

    @*@Html.Action("EmployeeInfo", "Employees", new { employeeId = ViewBag.EmployeeId })*@
    @*@Html.Action("CaseHistory", "Cases", new { employeeId = ViewBag.EmployeeId })*@

    <employee-info></employee-info>
    <case-history></case-history>

    <div class="row row-offset" ng-cloak ng-show="LOAFeatureEnabled" has-permission="ViewEmployeeTimeTracker">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2 text-center">
                    <div class="content-section">Time Tracker</div>
                    <i class="fa fa-clock-o large-side-icons"></i>
                </div>
                <div class="col-sm-8 border">
                    <a class="pull-right timetracker-popover" data-toggle="popover" data-popover-content="#timeTrackerPopover" data-html="true" data-placement="bottom"><i class="popovericon fa fa-clock-o text-muted" aria-hidden="true"></i></a>
                    <div class="row row-header">
                        <div class="col-sm-5 time-used-available">
                            Policy
                        </div>
                        <div class="col-sm-3 time-used-available">
                            Time Used
                        </div>
                        <div class="col-sm-3 time-used-available">
                            Time Available
                        </div>
                    </div>
                    <div class="row" ng-repeat="timetracking in TimeTrackingInfo" ng-cloak>
                        <div class="col-sm-5" ng-bind="timetracking.PolicyName"></div>
                        <div class="col-sm-3 showdefaults"><span ng-bind="timetracking.TimeUsedText"></span><span class="text-muted showptextdefault hidden" ng-show="!timetracking.ExcludeFromTimeConversion"> ( <span ng-bind="timetracking.HoursUsedText"></span> )</span> </div>
                        <div class="col-sm-3 showinhours hidden"><span ng-bind="timetracking.ExcludeFromTimeConversion ? timetracking.TimeUsedText : timetracking.HoursUsedText"></span><span class="text-muted showptexthours hidden" ng-show="!timetracking.ExcludeFromTimeConversion"> ( <span ng-bind="timetracking.TimeUsedText"></span> )</span> </div>
                        <div class="col-sm-4 showdefaults"><span ng-bind="timetracking.TimeRemainingText"></span> <span class="text-muted showptextdefault hidden" ng-show="!timetracking.ExcludeFromTimeConversion"> ( <span ng-bind="timetracking.HoursRemainingText"></span> )</span> </div>
                        <div class="col-sm-4 showinhours hidden"><span ng-bind="timetracking.ExcludeFromTimeConversion ? timetracking.TimeRemainingText : timetracking.HoursRemainingText"></span> <span class="text-muted showptexthours hidden" ng-show="!timetracking.ExcludeFromTimeConversion"> ( <span ng-bind="timetracking.TimeRemainingText"></span> )</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-offset" ng-cloak ng-show="LOAFeatureEnabled" has-permission="ViewEmployeeAbsenceHistory">
        <div class="col-sm-2 text-center">
            <div class="content-section">Absence History</div>
            <i class="fa fa-calendar large-side-icons"></i>
        </div>
        <div class="col-sm-8 border">
            <div ng-if="CaseCalendar.HasAnyResults == true">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-left">
                            <a style="cursor:pointer" ng-click="GoToPrev12Months(CaseCalendarDateRange.Start)"><< Previous</a>
                        </div>
                        <div class="pull-right">
                            <a style="cursor:pointer" ng-click="GoToNext12Months(CaseCalendarDateRange.Start)">Next >></a>
                        </div>
                    </div>
                </div>
                <div class="row" id="calendars">
                    <div class="col-sm-4" ng-cloak ng-repeat="month in CaseCalendarMonths" case-month is-ess="@ViewBag.IsEmployeeSelfService.ToString()" calendar-data="CaseCalendar" allow-change="false"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-left">
                            <a style="cursor:pointer" ng-click="GoToPrev12Months(CaseCalendarDateRange.Start)"><< Previous</a>
                        </div>
                        <div class="pull-right">
                            <a style="cursor:pointer" ng-click="GoToNext12Months(CaseCalendarDateRange.Start)">Next >></a>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="CaseCalendar.HasAnyResults == false">
                <div class="row">
                    <div class="col-sm-12">
                        No previous eligible absence history on record.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-offset">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="pull-center">
                <a class="btn btn-primary btn-centered" href="/Employees/Edit/@ViewBag.EmployeeId" has-permission="EditEmployee">Edit Employee</a>
                <button class="btn btn-default btn-centered" data-toggle="modal" data-target="#deleteEmployee" has-permission="DeleteEmployee">Delete Employee</button>
            </div>
        </div>
    </div><!--/.row-->
    <!-- Modal: deleteEmployee -->
    <div class="modal fade" id="deleteEmployee" tabindex="-1" role="dialog" aria-labelledby="modalToDoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Delete Employee</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            Are you sure you want to delete this employee?
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-disabled="isDisabled" ng-click="isDisabled=true; DeleteEmployee()" class="btn btn-primary" data-dismiss="modal">Delete Employee</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal: deleteEmployee -->

    <!-- Modal: IncompleteEmployee -->
    <div class="modal fade" id="incompleteEmployeeInfoWarning" tabindex="-1" role="dialog" aria-labelledby="modalToDoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Employee Details Incomplete</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            You cannot create case for this employee as his following information is incomplete. <br/>
                            <div ng-repeat="field in incompleteFields">
                                <b>{{field}}</b>
                            </div>
                            <br />
                            You will have to complete his profile before creating case.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="CompleteEmployeeInfo()" class="btn btn-primary" data-dismiss="modal">Complete Employee Info</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal: IncompleteEmployee -->

    @Html.Partial("_TimeTrackerPopover");
</div><!--/ng-controller="ViewEmployeeCtrl"-->
