﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    var id = item.Get<string>("Id");
    var value = item.Get<string>("Value");
    var order = item.Get<int>("Order");

    <a href="@Url.RouteUrl("EditCustomerServiceOption", new {id = id})">
        <div class="col-sm-6">
            @value
        </div>
        <div class="col-sm-6">
            @order
        </div>
    </a>
}