﻿@model AbsenceSoft.Models.EmployerContacts.EmployerContactTypeViewModel

@{
    ViewBag.Title = "View Service Types";
}


<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h2>Service Types of <span class="customer-name">@Current.Customer().Name</span></h2>
                </div>
                <div class="pull-right">
                    @Html.RouteLink("Back", "AdministrationIndex", null, new { @class = "btn btn-primary navbar-btn" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row item-list">
            <input type="hidden" class="page" value="1" />
            <input type="hidden" class="url" value="@Url.RouteUrl("ListCustomerServiceOptions")" />
            <input type="hidden" class="total" value="" />
            <div class="col-sm-2">
                <div class="content-section">
                    Service Types
                    @Html.RouteLink("New Service Type", "EditCustomerServiceOption", null, new { @class = "btn btn-primary btn-sm btn-icon-policies-normal" })
                </div>
            </div>
            <div class="col-sm-10">
                <div class="border">
                    <div class="row row-header">
                        <div class="col-sm-6 list-sort">
                            Value
                            <input type="hidden" class="sort-name" value="Value"/>
                            <i class="glyphicon sort"></i>
                        </div>
                        <div class="col-sm-6 list-sort">
                            Order
                            <input type="hidden" class="sort-name" value="Order" />
                            <i class="glyphicon sort glyphicon-chevron-up"></i>
                        </div>
                    </div>
                    <div class="row row-filter">
                        <div class="col-sm-6">
                            <input type="text" name="Value" class="list-filter form-control filter" placeholder="Filter"/>
                        </div>
                        <div class="col-sm-6">
                            
                        </div>
                    </div>
                    <div class="scroll list-display">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



