﻿<div class="input-group">
    <input type="text" name="{{name}}" class="form-control input-sm"
           at-datepicker-popup
           is-open="ui.isDatePickerOpen"
           ng-click="ui.isDatePickerOpen = true"
           ng-required="ngRequired"
           ng-model="CreateCaseModel.Disability.ConditionStartDate">
    <span for="ConditionStartDate" class="input-group-addon" 
          ng-click="ui.isDatePickerOpen = !ui.isDatePickerOpen"
          style="cursor:pointer"
          >

        <i class="fa fa-calendar"></i>
    </span>
</div>