﻿@model AbsenceSoft.Models.PolicyCrosswalk.PolicyCrosswalkTypeViewModel

@using (Ajax.BeginRouteForm("SavePolicyCrosswalkType", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "editPolicyCrosswalkTypeForm",
    OnComplete = "AbsenceSoft.PolicyCrosswalkType.Start()"
}, new { id = "editPolicyCrosswalkTypeForm", ng_non_bindable = "" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewPolicyCrosswalkTypes")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>

    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit PolicyCrosswalk Type</h3>
                <div class="pull-right admin-enabled">
                    @if (Model.IsDeleteable())
                    {
                        @Ajax.RouteLink("Delete", "DeletePolicyCrosswalkType", new { id = Model.Id }, new AjaxOptions()
                           {
                               HttpMethod = "DELETE"
                           }, new { @class = "btn btn-primary btn-danger" })
                    }
                </div>
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CustomerId)
        <input type="hidden" name="EmployerId" value="@EmployerId" id="employerId" />
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "PolicyCrosswalkTypeCode" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
        </div>
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "EditPolicyCrosswalkType", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="savePolicyCrosswalkType" />
        </div>
    </div>
}