﻿@model AbsenceSoft.Models.Sso.SsoProfileViewModel
@{
    string customerOrEmployer = "customer";
    if (CurrentEmployer != null)
    {
        customerOrEmployer = "employer";
    }
}

@if (Model.Saved)
{
    <input type="hidden" id="ssoProfileSaved" value="true" />
}

<div class="well" ng-non-bindable>
    @if (Model.IsNew)
    {
        <div id="ssoInterstitial">
            <h3>NO SSO PROFILE</h3>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="white-box">
                        <p>There is no SSO profile associated with this @customerOrEmployer.  Create a new SSO Profile to use this feature.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <button id="removeSsoInterstitial" class="btn btn-primary admin-logo-btn">CREATE SSO PROFILE</button>
                </div>
            </div>
        </div>
    }


    <div id="ssoSettings" @if (Model.IsNew) { <text> class="hide sso-box" </text>       }>
        <div class="sso-box">
            <h3>SAML2 Metadata Exchange</h3>
            <p>Use the functions below to perform an SAML2 Metadata Exchange supporting either Importing Idp metadata or exporting SP Metadata.</p>
            @Html.ValidationSummary(true, "Unable to save the SSO settings.  Please see the validation errors below.")
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="sso-settings-box">
                        <h4>EXPORT SP METADATA</h4>
                        @if (Model.IsNew)
                {
                    <p>SP Metadata can only be exported if a SSO Profile exists.</p>

        }
        else
        {
            <div class="row">
                <div class="col-sm-3">
                    <label>
                        <input type="checkbox" id="regenerateCertificate" /> Re-Generate
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        <input type="checkbox" id="exportEss" /> Export ESS Data
                    </label>
                </div>
                <div class="col-sm-5">
                    @Html.RouteLink("EXPORT SP METADATA", "ExportSPMetadata", new { employerId = Model.EmployerId }, new { @class = "btn admin-logo-btn pull-right", id = "exportSPMetadata" })
                </div>
            </div>
}
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="sso-settings-box">
                        @using (Html.BeginRouteForm("ImportIdpMetadata", new { employerId = Model.EmployerId }, FormMethod.Post, new { id = "importIdPMetadata", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>IMPORT IdP METADATA</h4>
                    <input type="file" id="idpMetadataFile" name="idpMetadata" class="hide" accept="text/xml" />
                    <label for="idpMetadataFile" class="btn btn-primary sso-grey-btn">Upload IdP Metadata</label>
                    <span id="idpMetadataFileName" class="sso-upload-input">No File Uploaded</span>
                    <input type="submit" id="importIdPMetadata" class="btn admin-logo-btn pull-right" value="IMPORT IdP METADATA">
        }
                    </div>
                </div>
            </div>
            <hr />
            @using (Html.BeginRouteForm("SaveSsoSettings", new { employerId = Model.EmployerId }, FormMethod.Post, new { id = "editSsoSettings", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row" data-toggle="collapse" data-target="#individualSsoSettings">
            <div class="col-xs-12 mb20">
                @if (!string.IsNullOrEmpty(Model.EntityId))
        {
            <span>ENTITY ID: | @Html.Raw(Model.EntityId)</span>
}
                <span class="pull-right"><i class="fa fa-caret-down"></i> VIEW ALL SETTINGS</span>
            </div>
        </div>
        <div id="individualSsoSettings" class="collapse">
            <div class="row">
                <div class="col-sm-12 mb20">
                    <input type="file" id="partnerCertificateFile" name="partnerCertificate" class="hide" />
                    <label for="partnerCertificateFile" class="btn btn-primary sso-grey-btn">PARTNER CERTIFICATE</label>
                    <span id="partnerCertificateFileName" class="sso-upload-input">No File Uploaded</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.IdPEntityId)
                    @Html.TextBoxFor(m => m.IdPEntityId, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.IdPEntityId)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.SingleSignOnServiceUrl)
                    @Html.TextBoxFor(m => m.SingleSignOnServiceUrl, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SingleSignOnServiceUrl)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.SingleSignOnServiceBinding)
                    @Html.TextBoxFor(m => m.SingleSignOnServiceBinding, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SingleSignOnServiceBinding)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.RequestedAuthnContext)
                    @Html.TextBoxFor(m => m.RequestedAuthnContext, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RequestedAuthnContext)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.SingleLogoutServiceUrl)
                    @Html.TextBoxFor(m => m.SingleLogoutServiceUrl, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SingleLogoutServiceUrl)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.SingleLogoutServiceResponseUrl)
                    @Html.TextBoxFor(m => m.SingleLogoutServiceResponseUrl, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SingleLogoutServiceResponseUrl)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.SingleLogoutServiceBinding)
                    @Html.TextBoxFor(m => m.SingleLogoutServiceBinding, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SingleLogoutServiceBinding)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.LogoutRequestLifetime)
                    @Html.TextBoxFor(m => m.LogoutRequestLifetime, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LogoutRequestLifetime)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.NameIdFormat)
                    @Html.TextBoxFor(m => m.NameIdFormat, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NameIdFormat)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.DigestMethod)
                    @Html.TextBoxFor(m => m.DigestMethod, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DigestMethod)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.SignatureMethod)
                    @Html.TextBoxFor(m => m.SignatureMethod, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SignatureMethod)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.KeyEncryptionMethod)
                    @Html.TextBoxFor(m => m.KeyEncryptionMethod, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.KeyEncryptionMethod)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.DataEncryptionMethod)
                    @Html.TextBoxFor(m => m.DataEncryptionMethod, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DataEncryptionMethod)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.ClockSkew)
                    @Html.TextBoxFor(m => m.ClockSkew, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ClockSkew)
                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.ArtifactResolutionServiceUrl)
                    @Html.TextBoxFor(m => m.ArtifactResolutionServiceUrl, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ArtifactResolutionServiceUrl)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.LabelFor(m => m.PortalLoginSourceName)
                    @Html.TextBoxFor(m => m.PortalLoginSourceName, null, new { @class = "form-control" })
                </div>
            </div>
            @if (CurrentCustomerHasFeature(Feature.EmployeeSelfService))
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => m.SelfServiceLoginSourceName)
                @Html.TextBoxFor(m => m.SelfServiceLoginSourceName, null, new { @class = "form-control" })
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.IsEss)
                <div class="btn-group group-4" data-toggle="buttons">
                    <label class="btn btn-info @if (Model.IsEss) {<text>active</text> }">
                        Yes
                        @Html.RadioButtonFor(m => m.IsEss, true)
                    </label>
                    <label class="btn btn-info @if (!Model.IsEss) {<text>active</text> }">
                        No
                        @Html.RadioButtonFor(m => m.IsEss, false)
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                @Html.LabelFor(m => m.IsPortal)
                <div class="btn-group group-4" data-toggle="buttons">
                    <label class="btn btn-info @if (Model.IsPortal) {<text>active</text> }">
                        Yes
                        @Html.RadioButtonFor(m => m.IsPortal, true)
                    </label>
                    <label class="btn btn-info @if (!Model.IsPortal) {<text>active</text> }">
                        No
                        @Html.RadioButtonFor(m => m.IsPortal, false)
                    </label>
                </div>
            </div>
        </div>
}
        </div>

        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "SsoSettings", new { employerId = EmployerId }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            @if (Model.IsSaveable())
    {
        <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveSsoSettings" />
}
        </div>
}
        </div>
    </div>
</div>