﻿<h3>Holiday Schedule for {{Name}}</h3>
<div ng-if="state=='list'">
    <div employer-holiday-listview
         ng-model="Items"
         item-selected="onItemSelected"></div>

    <div class="btn-toolbar">
        <button class="btn btn-lg btn-default"
                ng-disabled="isBusy"
                ng-click="addHoliday()">
            New Holiday
        </button>
    </div>
</div>
<div ng-if="state=='edit' || state=='add'"
     employer-holiday-itemview=""
     cancelled="itemEditCancelled"
     deleted="itemDeleted"
     saved="itemSaved"
     ng-model="editItem"
     employer-id="employerId">
</div>


