﻿<div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Effective</th>
                <th>Description</th>
                <th class="text-center">Or Closest Weekday?</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm | orderBy : 'Name'">
                <td>
                    {{item.Name}}
                </td>
                <td>
                    <span>{{item.StartDate | date:'yyyy-MM-dd'}}</span>
                    <span ng-if="item.EndDate"> &mdash; {{item.EndDate | date:'yyyy-MM-dd'}}</span>                     
                </td>
                <td>
                    {{item.DisplayText}}
                </td>
                <td class="text-center">
                    <span ng-if="item.OrClosestWeekday" class="fa fa-check">
                    </span>
                </td>
                <td class="text-right">
                    <button button-edit title="Edit Holiday {{item.Name}}" ng-click="itemSelected(item)"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>