﻿<form ng-cloak name="employerHolidayForm" ng-submit="submit()" novalidate submitted>

    <div class="form-group">
        <label>Holiday Name</label>
        <input class="form-control" required ng-model="item.Name" name="Name" />
        <div class="control-error" ng-messages="employerHolidayForm.Name" role="alert">
            <div ng-message="required">Name is required</div>
        </div>
    </div>

    <div class="form-group">
        <label>Effective Date Start</label>
        <input class="form-control" name="StartDate" ng-model="item.StartDate" at-datepicker-popup required />
        <div class="control-error" ng-messages="employerHolidayForm.StartDate" role="alert">
            <div ng-message="required">Start Date is required</div>
            <div ng-message="date">Start Date is invalid</div>
        </div>

    </div>

    <div class="form-group">
        <label>Effective Date End</label>
        <input class="form-control" ng-model="item.EndDate" at-datepicker-popup />
        <div class="control-error" ng-messages="employerHolidayForm.EndDate" role="alert">
            <div ng-message="date">End Date is invalid</div>
        </div>
    </div>
    <div class="form-group">
        <label>
            <input type="checkbox" ng-model="item.OrClosestWeekday" />
            Or Closest Weekday?
        </label>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div>
                <div class="form-group">
                    <label>Schedule</label>
                    <div class="btn-group">
                        <button ng-repeat="scheduleType in scheduleTypes"
                                ng-model="item.scheduleType"
                                btn-radio="scheduleType.id"
                                type="button"
                                class="btn btn-default"
                                title="{{scheduleType.longdescription}}">
                            {{scheduleType.label}}
                        </button>
                    </div>
                    <div class="clearfix" />
                </div>
            </div>

            <div>
                <p class="help-block" ng-if="activeScheduleType">
                    <strong>Description: </strong>{{activeScheduleType.longdescription}}
                </p>
                <div name="ScheduleType" schedule-type-picker
                     style="padding:1em"
                     schedule-type-selected="activeScheduleType"
                     schedule-type-required="true"
                     ng-model="item">
                </div>
                <div class="control-error" ng-messages="employerHolidayForm.ScheduleType" role="alert">
                    <div ng-message="scheduleTypeInvalid">
                        Schedule is not selected and/or incomplete.
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="btn-toolbar">
        <div class="pull-left">
            <button type="submit" class="btn btn-lg btn-default" ng-disabled="isBusy">Save</button>
            <button type="button" class="btn btn-lg" ng-disabled="isBusy" ng-click="cancel()">Cancel</button>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-lg btn-danger" ng-disabled="isBusy" ng-click="destroy()" ng-if="item.Id">Remove</button>
        </div>
    </div>

    <div class="form-error">
        Please correct the errors above to continue.
    </div>
</form>