﻿@model AbsenceSoft.Models.Policies.AbsenceReasonViewModel

@using (Ajax.BeginRouteForm("SaveAbsenceReason", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "editAbsenceReasonForm",
    OnComplete = "AbsenceSoft.PageStart('#editAbsenceReasonForm')"
}, new { id = "editAbsenceReasonForm", ng_non_bindable = "" }))
{
    <a href="@Url.AdministrationRouteUrl("ViewAbsenceReasons")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>

    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Absence Reason</h3>
                <div class="pull-right admin-enabled">
                    @if (Model.IsDeleteable() && Model.IsCustom())
                    {
                        @Ajax.RouteLink("Delete", "DeleteAbsenceReason", new { EmployerId = @ViewBag.EmployerId, Code = Model.Code}, new AjaxOptions()
                   {
                       HttpMethod = "DELETE"
                   }, new { @class = "btn btn-primary btn-danger" })
                    }
                    @if (Model.IsAbsenceReasonSuppressedAtCustomerLevel())
                    {
                        <div class="disabled-button-div" data-toggle="tooltip" data-placement="bottom" title="This configuration needs to be enabled at the customer level.">
                            <span class="fa fa-toggle-off"></span><label class="disabled-button-label">DISABLED</label>
                        </div>
                    }
                    else
                    {
                        <div class="btn btn-group group-2" data-toggle="buttons">
                            <label class="ar-disabled-toggle enabled-btn btn btn-info @if (!Model.IsDisabled) {<text>active</text>}">
                                <input type="radio" name="Enabled" class="ays-ignore" /> Enabled
                            </label>
                            <label class="ar-disabled-toggle disabled-btn btn btn-info @if (Model.IsDisabled) {<text>active</text>}">
                                <input type="radio" name="Enabled" class="ays-ignore" /> Disabled
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>

        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id)
        <div class="row">
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "absenceReasonCode" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Country)
                @Html.CountryDropDownListFor(m => m.Country, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Country)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Category)
                @Html.AbsenceReasonCategoryDropDownListFor(m => m.Category, new { @class = "form-control", id = "absenceReasonCategory" })
                @Html.ValidationMessageFor(m => m.Category)
            </div>
            <div class="col-xs-6 form-group hide" id="newAbsenceReasonCategory">
                @Html.LabelFor(m => m.NewCategory)
                @Html.TextBoxFor(m => m.NewCategory, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewCategory)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 admin-ab-boxes">
                <h3>Please Select All That Apply:</h3>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary @if (Model.ConsecutiveCases) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.ConsecutiveCases)
                        @Html.DisplayNameFor(m => m.ConsecutiveCases)
                    </label>
                    <label class="btn btn-primary @if (Model.IntermittentCases) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.IntermittentCases)
                        @Html.DisplayNameFor(m => m.IntermittentCases)
                    </label>
                    <label class="btn btn-primary @if (Model.ReducedCases) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.ReducedCases)
                        @Html.DisplayNameFor(m => m.ReducedCases)
                    </label>
                    <label class="btn btn-primary @if (Model.AdministrativeCases) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.AdministrativeCases)
                        @Html.DisplayNameFor(m => m.AdministrativeCases)
                    </label>
                </div>
            </div>
        </div>
        <div class="row admin-check-large">
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.RequiresRelationship)
                @Html.CheckBoxFor(m => m.RequiresRelationship)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.HideInESS)
                @Html.CheckBoxFor(m => m.HideInESS)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.EditAccommodationType)
                @Html.CheckBoxFor(m => m.EditAccommodationType)
            </div>
        </div>

        <div class="form-group text-center">
            <input type="hidden" class="list-filter" id="EmployerId" name="EmployerId" value="@ViewBag.EmployerId" />
            @Html.RouteLink("Undo Changes", "EditAbsenceReason", new { code = Model.Code }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveAbsenceReason" />
        </div>
    </div>
}