﻿<div id="todo" class="row row-offset" ng-controller="ToDoCtrl" ng-init="init('dashboard')">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12 dash-header todo-header">
                <h2><i class="fa fa-list"></i>TO-DO's</h2> <span class=""> | </span>
                <a class="" href="/todos">View All To-Do's</a>
            </div>

            <div class="col-sm-12 border column-todo-right" id="todoSort">
                <div class="row row-header">
                    <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]" ng-click="UpdateToDoSort('EmployeeName')">
                        <span>Employee</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'EmployeeName'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]" ng-click="UpdateToDoSort('Title')">
                        <span>To-Do</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'Title'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateToDoSort('DueDate')">
                        <span>Due</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'DueDate'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateToDoSort('Status')">
                        <span>Status</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'Status'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateToDoSort('AssignedToName')">
                        <span>Assignee</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'AssignedToName'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-show="IsTPA" ng-click="UpdateToDoSort('EmployerName')">
                        <span>Employer</span>
                        <div class="sort" ng-show="ToDosFilter.SortExpression == 'EmployerName'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-filter" id="todoFilters">
                    <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]">
                        <input ng-model="ToDosFilter.Employee" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]">
                        <input ng-model="ToDosFilter.Text" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-2">
                        <div class="field-input input-group date">
                            <input type="text" id="ToDoFilterDue" name="ToDoFilterDue" class="form-control input-sm filter" ng-model="ToDosFilter.Due"
                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="On" />
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <select ng-model="ToDosFilter.Status" ng-change="GetToDos(false)" class="form-control filter" ng-options="status.Id as status.Text for status in todoItemStatuses"></select>
                    </div>
                    <div class="col-sm-2">
                        <input ng-model="ToDosFilter.AssignedToName" type="text" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-2" ng-show="IsTPA">
                        <select ng-model="ToDosFilter.Employer" ng-change="GetToDos(false)" class="form-control filter" ng-options="lst.Id as lst.Name for lst in EmployerList">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <div class="row scroll" id="scrollTodoCtr" when-scrolled="LoadMoreToDos()">
                    <div class="col-sm-12" id="todoCtr" ng-repeat="toDo in ToDos">
                        <div ng-class="toDo.Status == 'Overdue' ? 'overdue' : ''" class="row row-hover" ng-click="OpenTodoModal(toDo)">
                            <!--@*tooltip="{{toDo.CaseReason}}" *@-->
                            <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]" ng-cloak>
                                <!--@*<a class="employee-name" ng-href="{{GetViewEmployeeUrl(toDo.EmployeeId)}}"><span ng-bind="toDo.EmployeeName"></span></a>*@-->
                                <label style="max-width:200px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="toDo.EmployeeName"></label>
                            </div>
                            <div ng-class="{true: 'col-sm-2', false: 'col-sm-3'}[IsTPA]" ng-cloak>
                                <label style="max-width:200px !important; font-weight: normal; word-wrap: break-word;" ng-bind="toDo.Title"></label>
                            </div>
                            <div class="col-sm-2" ng-bind="toDo.DueDate | ToDate | date:'MM/dd/yyyy'" ng-cloak>
                            </div>
                            <div class="col-sm-2" ng-bind="toDo.Status" ng-cloak>
                            </div>
                            <div class="col-sm-2" ng-bind="toDo.AssignedToName" ng-cloak>
                            </div>
                            <div class="col-sm-2" ng-cloak ng-show="IsTPA">
                                <label style="max-width:200px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="toDo.EmployerName"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>