﻿<div id="cases" ng-controller="CaseIndexCtrl" ng-init="init('dashboard')">
    <div class="row">
        <div class="col-xs-12 dash-header case-header">
            <h2><i class="fa fa-briefcase"></i>CASES</h2> <span class=""> | </span>
            <a class="" href="/cases">View All Cases</a>
        </div>
        <div class="col-sm-12 border">
            <div class="row row-header">
                <div ng-class="{true: 'col-sm-3 less-padding-on-sides', false: 'col-sm-4'}[IsTPA]" ng-click="UpdateCaseSort('EmployeeName')">
                    <span>Employee</span>
                    <div class="sort" ng-show="CasesFilter.SortExpression == 'EmployeeName'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[IsTPA]" ng-click="UpdateCaseSort('Reason')">
                    <span>Reason</span>
                    <div class="sort" ng-show="CasesFilter.SortExpression == 'Reason'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[IsTPA]" ng-click="UpdateCaseSort('Updated')">
                    <span>Updated</span>
                    <div class="sort" ng-show="CasesFilter.SortExpression == 'Updated'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div ng-show="IsTPA" class="col-sm-3 less-padding-on-sides" ng-click="UpdateCaseSort('EmployerName')">
                    <span>Employer</span>
                    <div class="sort" ng-show="CasesFilter.SortExpression == 'EmployerName'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
            </div>
            <div class="row row-filter">
                <div ng-class="{true: 'col-sm-3 less-padding-on-sides', false: 'col-sm-4'}[IsTPA]">
                    <input type="text" ng-keyup="GetCases(false)" ng-model="CasesFilter.EmployeeName" class="form-control filter" placeholder="Filter" />
                </div>
                <div ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[IsTPA]">
                    <input type="text" ng-keyup="GetCases(true)" ng-model="CasesFilter.Reason" class="form-control filter" placeholder="Filter" />
                </div>
                <div ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[IsTPA]">
                    <input type="text" ng-model="CasesFilter.Updated" class="form-control filter" placeholder="Filter" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" />
                </div>
                <div class="col-sm-3 less-padding-on-sides" ng-show="IsTPA">
                    <select ng-model="CasesFilter.Employer" ng-change="GetCases(false)" class="form-control filter" ng-options="lst.Id as lst.Name for lst in EmployerList">
                        <option value="">All</option>
                    </select>
                </div>
            </div>
            <div class="row scroll" when-scrolled="LoadMoreCases()">
                <div class="col-sm-12">
                    <div class="row row-hover" ng-repeat="case in Cases" ng-click="GetViewCaseUrl(case.Id)">
                        <a class="row-link">
                            <div ng-class="{true: 'col-sm-3 less-padding-on-sides', false: 'col-sm-4'}[IsTPA]" ng-cloak>
                                <label ng-class="{true: 'large-text-label-with-employer', false: 'large-text-label-without-Employer'}[IsTPA]" style="font-weight: normal !important;" ng-bind="case.EmployeeName"></label>
                            </div>
                            <!--<div ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[IsTPA]" ng-bind="case.ReasonName" ng-cloak>
                            </div>-->
                            <div ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[IsTPA]" ng-cloak >
                                {{case.ReasonName}}
                            </div>                            
                            <div ng-class="{true: 'col-sm-3', false: 'col-sm-4'}[IsTPA]" ng-bind="case.ModifiedDateText | ToDate | date:'MM/dd/yyyy'" ng-cloak>
                            </div>
                            <div class="col-sm-3 less-padding-on-sides" ng-show="IsTPA" ng-cloak>
                                <label style="max-width:100px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="case.EmployerName"></label>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>