﻿<div id="employees" ng-controller="EmployeeIndexCtrl" ng-init="init('dashboard')">
    <div class="row">
        <div class="col-xs-12 dash-header employee-header">
            <h2><i class="fa fa-users"></i>EMPLOYEES</h2> <span class=""> | </span>
            <a class="" href="/employees">View All Employees</a> <span class=""> | </span>
            <a href="/Employees/Edit" has-permission="CreateEmployee"><i class="fa fa-user-plus"></i></a>
        </div>
        <div class="border col-sm-12">
            <div class="row row-header" id="empSort">
                <div class="empSort" ng-class="{true: 'col-sm-4', false: 'col-sm-7'}[IsTPA]" ng-click="UpdateEmployeeSort('Name')">
                    <span>Name</span>
                    <div class="sort" ng-show="EmployeesFilter.SortExpression == 'Name'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="empSort" ng-class="{true: 'col-sm-4', false: 'col-sm-5'}[IsTPA]" ng-click="UpdateEmployeeSort('EmployeeNumber')">
                    <span>ID</span>
                    <div class="sort" ng-show="EmployeesFilter.SortExpression == 'EmployeeNumber'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div ng-show="IsTPA" class="empSort col-sm-4" ng-click="UpdateEmployeeSort('EmployerName')">
                    <span>Employer</span>
                    <div class="sort" ng-show="EmployeesFilter.SortExpression == 'EmployerName'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
            </div>
            <div class="row row-filter" id="empFilters">
                <div ng-class="{true: 'col-sm-4', false: 'col-sm-7'}[IsTPA]">
                    <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.Name" />
                </div>
                <div ng-class="{true: 'col-sm-4', false: 'col-sm-5'}[IsTPA]">
                    <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.EmployeeNumber" ng-keyup="GetEmployees(false)" />
                </div>
                <div class="col-sm-4" ng-show="IsTPA">
                    <select ng-model="EmployeesFilter.Employer" ng-change="GetEmployees(false)" class="form-control filter" ng-options="lst.Id as lst.Name for lst in EmployerList">
                        <option value="">All</option>
                    </select>
                </div>
            </div>
            <div class="row scroll" when-scrolled="LoadMoreEmployees()">
                <div class="col-sm-12">
                    <div class="row row-hover" ng-repeat="employee in Employees" ng-click="GetViewEmployeeUrl(employee.Id)">
                        <a class="row-link">
                            <div ng-class="{true: 'col-sm-4', false: 'col-sm-7'}[IsTPA]" ng-cloak>
                                <label ng-class="{true: 'large-text-label-with-employer', false: 'large-text-label-without-employer'}[IsTPA]" style="font-weight: normal !important;" ng-bind="employee.Name"></label>
                            </div>
                            <div ng-class="{true: 'col-sm-4', false: 'col-sm-5'}[IsTPA]" ng-bind="employee.EmployeeNumber" ng-cloak>
                            </div>
                            <div class="col-sm-4" ng-show="IsTPA" ng-cloak>
                                <label style="max-width:100px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="employee.EmployerName"></label>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>