﻿<div ng-controller="EmployeeCasesIndexCtrl" ng-init="initEmployeeCases()">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <a class="btn btn-link newbutton" href="/Employees/{{Cases[0].EmployeeId}}/Cases/Create">Request Leave</a>
            <a class="btn btn-link newbutton" href="/cases/{{Cases[0].CaseId}}/view">Request Accommodation</a>
            <a class="btn btn-link newbutton" href="/Employees/{{Cases[0].EmployeeId}}/view">My Info</a>
            <!--<ul class="nav nav-tabs nav-employees-tabs" role="tablist">
                <li role="presentation"><a href="/Employees/{{Cases[0].EmployeeId}}/Cases/Create">New Leave</a></li>
                <li role="presentation"><a href="/cases/{{Cases[0].CaseId}}/view">Request Accommodation</a></li>
                <li role="presentation"><a href="/Employees/{{Cases[0].EmployeeId}}/view">My Info</a></li>
            </ul>-->
        </div>
    </div>
    <!--<hr style="margin-top: 0px !important"   />-->
    <div ng-repeat="case in Cases">
        <div id="emp-cases" class="row" ng-class="{'row-offset' : !$first}">
            <div class="col-sm-2 content" style="display: table !important">
                <div class="row text-center" style="display: table-cell !important ; vertical-align: middle !important">
                    <!--<div class="content-section">Cases</div>-->
                    <div>
                        <a class="btn btn-link" href="/cases/{{case.CaseId}}/attachments">Attachments</a>
                    </div>
                    <div>
                        <a class="btn btn-link" href="/cases/{{case.CaseId}}/notes">Notes</a>
                    </div>
                    <div>
                        <a class="btn btn-link" href="/cases/{{case.CaseId}}/view">ToDos(2)</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 border content" style="background-color: white; border-radius: 0 0">
                <div class="row">
                    <div class="col-sm-4 data">
                        <b>Case #:</b> <a href="/Cases/{{case.CaseId}}/View">{{case.CaseNumber}}</a>
                    </div>
                    <div class="col-sm-4 data">
                        <b>Start Date:</b> {{case.StartDate | ISODateToDate | date: 'MM/dd/yyyy'}}
                    </div>
                    <div class="col-sm-4 data">
                        <b>End Date:</b> {{case.EndDate | ISODateToDate | date: 'MM/dd/yyyy'}}
                    </div>
                    <div class="col-sm-4 data">
                        <b>Type:</b> {{case.CaseType}}
                    </div>
                    <div class="col-sm-4 data">
                        <b>Reason:</b> {{case.Reason}}
                    </div>
                    <div class="col-sm-4 data">
                        <b>Status:</b> {{case.Status}}
                    </div>
                    <div class="col-sm-4 data">
                        <b>Description:</b>
                        <span ng-show="case.Description.length > 25">
                            <span popover data-trigger="hover" data-html="true" data-container="body" style="cursor:pointer;" class="popover-dismiss" data-content="<span style='width:200px !important; word-wrap:break-word !important;'>{{case.Description}}</span>">{{case.Description | limitTo: 25}}<a>...</a></span>
                        </span>
                        <span ng-show="case.Description.length <= 25">
                            {{case.Description}}
                        </span>
                    </div>
                    <div class="col-sm-4 data">
                        <b>Summary:</b> {{case.Summary}}
                    </div>
                    <div class="col-sm-4 data">
                        <b>Case Opened:</b> {{case.cdt | ISODateToDate | date: 'MM/dd/yyyy'}}
                    </div>
                    <div class="col-sm-4 data">
                        <b>Last Updated:</b> {{case.mdt | ISODateToDate | date: 'MM/dd/yyyy'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>