﻿<div id="employee-myinfo" ng-controller="employeeMyInfoCtrl" ng-init="init()">
    <div class="row" ng-cloak>
        <div class="col-sm-12">
            <div class="row my-info">
                <div class="btn-right-corner">
                    <button class="btn btn-default btn-edit"><span class="glyphicon glyphicon-pencil"></span></button>
                </div>
                <div class="col-sm-3">
                    <div class="content-section">My Info1</div>
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-3 text-right">
                    <label>Name :</label>
                </div>
                <div class="col-sm-9">
                    <a href="employees/{{CurrentUseEmpId}}/view">{{EmployeeInfo.Name}}</a>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-3 text-right">
                    <label>DOB :</label>
                </div>
                <div class="col-sm-9">
                    {{EmployeeInfo.DOB | date:"MM/dd/yyyy"}}
                </div>
            </div>-->
            <div class="row">
                <div class="col-sm-3 text-right">
                    <label>Address :</label>
                </div>
                <div class="col-sm-9">
                    {{EmployeeInfo.Address}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    <label>Phone :</label>
                </div>
                <div class="col-sm-9">
                    {{EmployeeInfo.Phone | tel}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 text-right">
                    <label>Email :</label>
                </div>
                <div class="col-sm-9">
                    {{EmployeeInfo.Email}}
                </div>
            </div>
        </div>
    </div>
</div>