﻿<div id="sup-myteam" ng-controller="EmployeeIndexCtrl" ng-init="init('index')">
    <div class="row">
        <!--<div class="col-sm-3">
            <div class="content-section">Employees</div>
            <br />
            <a class="btn btn-primary btn-sm btn-icon-employee-index" href="/employees">All Employees</a>
            <br />
            <a class="btn btn-primary btn-sm btn-icon-employee-create" href="/Employees/Edit" has-permission="CreateEmployee">New Employee</a>
        </div>-->
        <div>
            <div class="border col-sm-12">
                <div class="row row-header" id="empSort">
                    <div class="empSort col-sm-4" ng-click="UpdateEmployeeSort('Name')">
                        <span>Name</span>
                        <div class="sort" ng-show="EmployeesFilter.SortExpression == 'Name'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="empSort col-sm-4" ng-click="UpdateEmployeeSort('EmployeeNumber')">
                        <span>ID</span>
                        <div class="sort" ng-show="EmployeesFilter.SortExpression == 'EmployeeNumber'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <!--<div class="empSort col-sm-3" ng-click="UpdateEmployeeSort('Email')">
                <span>Email</span>
                <div class="sort" ng-show="EmployeesFilter.SortExpression == 'Email'">
                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                </div>
            </div>-->
                    <div class="empSort col-sm-4" ng-click="UpdateEmployeeSort('HireDate')">
                        <span>Hire Date</span>
                        <div class="sort" ng-show="EmployeesFilter.SortExpression == 'HireDate'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[EmployeesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                </div>
                <div class="row row-filter" id="empFilters">
                    <div class="col-sm-4">
                        <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.Name" ng-keyup="GetEmployees(false)" />
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.EmployeeNumber" ng-keyup="GetEmployees(false)" />
                    </div>
                    <!--<div class="col-sm-3">
                <input type="text" class="form-control filter" placeholder="Filter" ng-model="EmployeesFilter.Email" ng-keyup="GetEmployees(false)" />
            </div>-->
                    <div class="col-sm-4">
                        <div class="field-input input-group date">
                            <input type="text" id="EmployeeFilterHireDate" name="EmployeeFilterHireDate" class="form-control input-sm filter" ng-model="EmployeesFilter.HireDate"
                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="On" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row scroll-content" when-scrolled="LoadMoreEmployees()">
                <div class="col-sm-12">
                    <div class="row row-hover" ng-repeat="employee in Employees" ng-click="GetViewEmployeeUrl(employee.Id)">
                        <a class="row-link">
                            <div class="col-sm-4" ng-cloak ng-bind="employee.EmployeeName">
                            </div>
                            <div class="col-sm-4" ng-bind="employee.EmployeeNumber" ng-cloak>
                            </div>
                            <!--<div class="col-sm-3" ng-cloak ng-bind="employee.Email">
                            </div>-->
                            <div class="col-sm-4" ng-cloak ng-bind="employee.HireDate | date : 'MM/dd/yyyy'">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
