﻿<div id="sup-myteam" ng-controller="ToDoCtrl" ng-init="init('dashboard')">
    <div class="row">
        <div class="col-sm-2 column-todo">
            <div class="content-section">
                To-Do's
            </div>
            <!--<br />
            <a class="btn btn-primary btn-sm btn-icon-todo-index" href="/todos">All To-Do's</a>-->
            <!--@*<br />
            <a class="btn btn-primary btn-sm btn-icon-todo-create" href="@Url.Action(" create" , "Todos" )">New To-Do</a>*@-->
        </div>
        <div class="col-sm-10 border column-todo-right">
            <div class="row row-header">
                <div class="col-sm-3" ng-click="UpdateToDoSort('EmployeeName')">
                    <span>Employee Name</span>
                    <div class="sort" ng-show="ToDosFilter.SortExpression == 'EmployeeName'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="col-sm-3" ng-click="UpdateToDoSort('Title')">
                    <span>To-Do</span>
                    <div class="sort" ng-show="ToDosFilter.SortExpression == 'Title'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="col-sm-2" ng-click="UpdateToDoSort('CaseNumber')">
                    <span>Case Number</span>
                    <div class="sort" ng-show="ToDosFilter.SortExpression == 'CaseNumber'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="col-sm-2" ng-click="UpdateToDoSort('DueDate')">
                    <span>Due</span>
                    <div class="sort" ng-show="ToDosFilter.SortExpression == 'DueDate'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
                <div class="col-sm-2" ng-click="UpdateToDoSort('Status')">
                    <span>Status</span>
                    <div class="sort" ng-show="ToDosFilter.SortExpression == 'Status'">
                        <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[ToDosFilter.SortDir == 'asc']"></span>
                    </div>
                </div>
            </div>
            <div class="row row-filter">
                <div class="col-sm-3">
                    <input ng-model="ToDosFilter.EmployeeName" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-3">
                    <input ng-model="ToDosFilter.Text" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-2">
                    <input ng-model="ToDosFilter.CaseNumber" ng-keyup="GetToDos(false)" type="text" class="form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-2">
                    <div class="field-input input-group date">
                        <input type="text" id="ToDoFilterDue" name="ToDoFilterDue" class="form-control input-sm filter" ng-model="ToDosFilter.Due"
                               at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="On" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <select ng-model="ToDosFilter.Status" ng-change="GetToDos(false)" class="form-control filter" ng-options="status.Id as status.Text for status in todoItemStatuses"></select>
                </div>
            </div>
            <div class="row scroll" when-scrolled="LoadMoreToDos()">
                <div class="col-sm-12" ng-repeat="toDo in ToDos">
                    <div ng-class="toDo.Status == 'Overdue' ? 'overdue' : ''" class="row row-hover" ng-click="OpenTodoModal(toDo)">
                        <div class="col-sm-3" ng-bind="toDo.EmployeeName" ng-cloak>
                        </div>
                        <div class="col-sm-3" ng-bind="toDo.Title" ng-cloak>
                        </div>
                        <div class="col-sm-2" ng-bind="toDo.CaseNumber" ng-cloak>
                        </div>
                        <div class="col-sm-2" ng-bind="toDo.DueDate | ToDate | date:'MM/dd/yyyy'" ng-cloak>
                        </div>
                        <div class="col-sm-2" ng-bind="toDo.Status | todoStatus" ng-cloak>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
