﻿<div class="row row-offset" ng-controller="caseHistoryCtrl" ng-init="initCaseHistory()">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2 text-center">
                <div class="content-section">Case History</div>
                <i class="fa fa-briefcase large-side-icons"></i>
            </div>
            <div class="col-sm-8 border">
                <div ng-if="CaseHistory.Cases.length > 0">
                    <div class="row row-header">
                        <div class="col-sm-2">
                            Case ID
                        </div>
                        <div class="col-sm-4" ng-if="!IsEmployeeSelfService">
                            Reason
                        </div>
                        <div class="col-sm-4" ng-if="IsEmployeeSelfService">
                            Type
                        </div>
                        <div class="col-sm-2">
                            Date Start
                        </div>
                        <div class="col-sm-2">
                            Date End
                        </div>
                        <div class="col-sm-2">
                            Status
                        </div>
                    </div>
                    <div class="row" ng-repeat="case in CaseHistory.Cases">
                        <div class="col-sm-2">
                            <a ng-if="case.Status != 'Inquiry'" href="/cases/{{case.CaseId}}/view">{{case.CaseNumber}}</a>
                            <a ng-if="case.Status == 'Inquiry'" href="/inquiries/{{case.CaseId}}/view">{{case.CaseNumber}}</a>
                        </div>
                        <div class="col-sm-4" ng-if="!IsEmployeeSelfService">
                            {{case.Reason}}
                        </div>
                        <div class="col-sm-4" ng-if="IsEmployeeSelfService">
                            {{case.CaseType}}
                        </div>
                        <div class="col-sm-2">
                            {{case.StartDate | ToDate | date: 'MM/dd/yyyy'}}
                        </div>
                        <div class="col-sm-2">
                            {{case.EndDate | ToDate | date: 'MM/dd/yyyy'}}
                        </div>
                        <div class="col-sm-2">
                            {{case.Status}}
                        </div>
                    </div>
                </div>
                <span ng-if="CaseHistory.Cases.length <= 0">
                    No previous cases on record.
                </span>
            </div>
            <div class="col-sm-2 col-right">
                <a ng-href="/Employees/{{EmployeeId}}/Cases/Create" class="btn btn-primary hide-when" has-permission="CreateCase">New Case</a>
                <button class="btn btn-primary float-left" style="max-width: 140px; padding: 6px 9px;" ng-click="EnableAccommodations()" ng-hide="CancelledOrClosedCase || CaseInfo.Case.IsAccommodation || !ADAFeatureEnabled || CaseInfo.Case.CaseType != 'Administrative'" has-permission="AddAccommodation"> Add Accommodations</button>

                <a ng-if="CaseHistory.Cases.length > 0 && HasFeatureAndPermissionsEnabled && !AbsenceSoft.hasStringValue(CaseId)" class="btn btn-primary" href="/bulkdownloadforemployee/{{EmployeeId}}">Bulk Download</a>
            </div>
        </div>
    </div>
</div>