﻿<div ng-controller="CasesLastReviewedCtrl" ng-init="InitList()">
    <div class="row row-offset item-list" ng-class="{'ESS-item-list': IsESS}">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-12 dash-header case-header">
                    <h2><i class="fa fa-briefcase"></i>CASES LAST REVIEWED</h2>
                </div>
                <div class="col-sm-12 border">
                    <div class="row row-header">
                        <div class="col-sm-3">Employee</div>
                        <div class="col-sm-3">Case</div>
                        <div class="col-sm-3">Status</div>
                        <div class="col-sm-3">Reason</div>
                    </div>
                    <div class="row scroll" ng-show="LastViewed.length > 0">
                        <div class="col-sm-12">
                            <div class="row row-hover" ng-repeat="viewed in LastViewed" ng-click="GoToCase(viewed)">
                                <div class="col-sm-3" ng-bind="viewed.EmployeeName"></div>
                                <div class="col-sm-3" ng-bind="viewed.CaseNumber"></div>
                                <div class="col-sm-3" ng-bind="viewed.Status"></div>
                                <div class="col-sm-3" ng-bind="viewed.ReasonName"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="LastViewed.length == 0">
                        <p>You have not viewed any cases.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>