﻿<script type="text/ng-template" id="ChangePasswordModal.html">
    <form name="frmChangePassword" novalidate>
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-4">
                                Current Password
                            </div>
                            <div class="col-sm-6">
                                <input type="password" ng-trim="false" ng-class="{'has-error':!frmChangePassword.CurrentPassword.$pristine || submitted && frmChangePassword.CurrentPassword.$error.required}" name="CurrentPassword" ng-model="ChangePasswordModel.CurrentPassword" class="form-control" placeholder="Enter current password" title="Enter current password" required>
                                <span class="error" ng-cloak ng-show="(!frmChangePassword.CurrentPassword.$pristine || submitted) && frmChangePassword.CurrentPassword.$error.required">Please enter current password</span>
                            </div>
                            <div class="col-sm-1 current-password"><i ng-class="{'fa fa-eye fa-lg':ShowPassword, 'fa fa-eye-slash fa-lg':!ShowPassword}" ng-click="ShowPassword = !ShowPassword" tooltip="{{ShowPassword ? 'Click To Hide Password' : 'Click To Show Password'}}" style="cursor:pointer"></i></div>
                        </div>
                        <div class="row row-offset">
                            <div class="col-sm-4">
                                New Password
                            </div>
                            <div class="col-sm-6 field-input">
                                <input type="password" ng-trim="false" ng-class="{'has-error':!frmChangePassword.Password.$pristine || submitted && frmChangePassword.Password.$error.required}" name="Password" ng-blur-password-check @*ng-pattern="PasswordRequirements" *@ ng-model="ChangePasswordModel.NewPassword" class="form-control" placeholder="Enter new password" title="Enter new password" required>
                                <span class="error" ng-cloak ng-show="(!frmChangePassword.Password.$pristine || submitted) && frmChangePassword.Password.$error.required">Please enter password</span>
                                <span class="error" ng-show="(frmChangePassword.Password.$error.password && !frmChangePassword.Password.$error.required) && (!frmChangePassword.Password.$pristine || submitted)" ng-cloak>The password must be at least eight digits long, contain a minimum of one lower case character, one upper case character, and one digit or special character</span>
                            </div>
                            <div class="col-sm-1 password"><i ng-class="{'fa fa-eye fa-lg':ShowPassword, 'fa fa-eye-slash fa-lg':!ShowPassword}" ng-click="ShowPassword = !ShowPassword" tooltip="{{ShowPassword ? 'Click To Hide New Password' : 'Click To Show New Password'}}" style="cursor:pointer"></i></div>
                        </div>
                        <div class="row row-offset">
                            <div class="col-sm-4">
                                Confirm Password
                            </div>
                            <div class="col-sm-6 field-input">
                                <input type="password" ng-trim="false" name="ConfirmPassword" ng-class="{'has-error':(!frmChangePassword.ConfirmPassword.$pristine || submitted) && frmChangePassword.ConfirmPassword.$error.required}" ng-model="ChangePasswordModel.ConfirmNewPassword" class="form-control" placeholder="Re-Enter new password" title="Re-Enter new password" required>
                                <span class="error" ng-cloak ng-show="(!frmChangePassword.ConfirmPassword.$pristine || submitted) && frmChangePassword.ConfirmPassword.$error.required">Please re-enter password<br /></span>
                                <span class="error" ng-cloak ng-show="ChangePasswordModel.NewPassword != ChangePasswordModel.ConfirmNewPassword && frmChangePassword.ConfirmPassword.$dirty && !frmChangePassword.Password.$error.pattern && !frmChangePassword.ConfirmPassword.$error.required">Password and Confirm password must match<br /></span>
                                <span class="error" ng-cloak ng-show="frmChangePassword.Password.$error.pattern && frmSignUpStep1.ConfirmPassword.$dirty">The password must be at least eight digits long, contain a minimum of one lower case character, one upper case character, and one digit or special character</span>
                            </div>
                            <div class="col-sm-1 confirm-password"><i ng-class="{'fa fa-eye fa-lg':ShowPassword, 'fa fa-eye-slash fa-lg':!ShowPassword}" ng-click="ShowPassword = !ShowPassword" tooltip="{{ShowPassword ? 'Click To Hide Confirm Password' : 'Click To Show Confirm Password'}}" style="cursor:pointer"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="submitted=true; UpdatePassword(frmChangePassword.$valid, ChangePasswordModel)">Save</button>
                <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
            </div>
    </form>
</script>
<script type="text/javascript">

    $(document).on("click", ".password .fa-eye", function () {
        $("input[name='Password']").attr("type", "text");
    });

    $(document).on("click", ".password .fa-eye-slash", function () {
        $("input[name='Password']").attr("type", "Password");
    });

    $(document).on("click", ".confirm-password .fa-eye", function () {
        $("input[name='ConfirmPassword']").attr("type", "text");
    });

    $(document).on("click", ".confirm-password .fa-eye-slash", function () {
        $("input[name='ConfirmPassword']").attr("type", "Password");
    });

    $(document).on("click", ".current-password .fa-eye", function () {
        $("input[name='CurrentPassword']").attr("type", "text");
    });

    $(document).on("click", ".current-password .fa-eye-slash", function () {
        $("input[name='CurrentPassword']").attr("type", "Password");
    });


</script>