﻿<script type="text/ng-template" id="contacts.html">
    <div class="modal-header" ng-init="init()">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Contacts</h4>
    </div>
    <div class="modal-body" style="max-height:400px;overflow-y:auto">
        <!--New Contact-->
        <div class="row">
            <!--<div class="col-sm-6">
                <div class="pull-right">Create New Contact:</div>
            </div>-->
            <div class="col-sm-6">
                <select class="form-control" ng-model="ContactViewModel.ContactTypeCode" ng-change="FilterContacts()" ng-options="contactType.Id as contactType.Text for contactType in ContactTypes">
                    <option value="">New Contact Type</option>
                </select>
                <div class="col-sm-6" ng-show="ContactViewModel.ContactTypeCode == 'OTHER'">
                    <input class="form-control" type="text" placeholder="Other Contact Type" ng-model="EditContact.ContactTypeName" />
                </div>
            </div>
        </div>

        <!--New Contact-->
        <form name="form.frmCreateContact" class="form-horizontal" novalidate>
            <div ng-show="editContact">
                <div class="form-group" ng-show="ContactViewModel.EmployeeContactId == null">
                    <label class="col-sm-4 control-label">Copy Existing Employee</label>                    
                    <div class="col-sm-8">
                        <input placeholder="Begin typing an employee name or id" employee-search class="form-control" ng-model="ContactViewModel.EmployeeToCopy" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="hidden" ng-model="ContactViewModel.Id" />
                        <input type="text" name="FirstName" ng-class="{'has-error':form.frmCreateContact.FirstName.$error.required && (!form.frmCreateContact.FirstName.$pristine || form.submitted)}" required ng-model="ContactViewModel.FirstName" class="form-control" placeholder="First Name">
                        <span class="error" ng-cloak ng-show="form.frmCreateContact.FirstName.$error.required && (!form.frmCreateContact.FirstName.$pristine || form.submitted)">Please enter a first name</span>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="LastName" ng-class="{'has-error':form.frmCreateContact.LastName.$error.required && (!form.frmCreateContact.LastName.$pristine || form.submitted)}" required ng-model="ContactViewModel.LastName" class="form-control" placeholder="Last Name">
                        <span class="error" ng-cloak ng-show="form.frmCreateContact.LastName.$error.required && (!form.frmCreateContact.LastName.$pristine || form.submitted)">Please enter a last name</span>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group date">
                            <input type="text" id="ContactDateOfBirth" name="ContactDateOfBirth" ng-model="ContactViewModel.ContactDateOfBirth" class="form-control input-sm"
                                    at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" />
                            <label for="ContactDateOfBirth" class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </div>
                        <span class="error" ng-cloak ng-show="form.frmCreateContact.ContactDateOfBirth.$invalid">{{ContactDateOfBirthError}}</span>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ContactViewModel.Email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ContactViewModel.WorkPhone" class="form-control" placeholder="Work Phone" ng-blur-tel>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ContactViewModel.CellPhone" class="form-control" placeholder="Cell Phone" ng-blur-tel>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ContactViewModel.HomePhone" class="form-control" placeholder="Home Phone" ng-blur-tel>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ContactViewModel.Address.Address1" class="form-control" placeholder="Address">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ContactViewModel.Address.City" class="form-control" placeholder="City">
                    </div>
                    <div class="col-sm-6">
                        <select id="states" name="State" ng-show="Regions.length > 0" ng-model="ContactViewModel.Address.State" class="form-control" ng-options="region.Code as region.Name for region in Regions">
                            <option value="" selected="selected">Select {{RegionName}}</option>
                        </select>
                        <input type="text" ng-show="Regions.length == 0" class="form-control" ng-model="ContactViewModel.Address.State" name="StateText" id="txtState" placeholder="Enter {{RegionName}}" title="Enter {{RegionName}}">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ContactViewModel.Address.PostalCode" class="form-control" placeholder="Postal Code">
                    </div>
                    <div class="col-sm-6">
                        <select id="countries" name="Address.Country" ng-model="ContactViewModel.Address.Country" class="form-control" ng-options="country.Code as country.Name for country in Countries" ng-change="GetRegionsByCountry(true)"></select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="ContactViewModel.Title" class="form-control" placeholder="Title">
                    </div>
                    <div class="col-sm-6" ng-show="ContactViewModel.ContactType == 4">
                        <input type="text" ng-model="ContactViewModel.ContactPersonName" class="form-control" placeholder="Contact Person Name">
                    </div>

                    <div class="col-sm-6" ng-show="ContactViewModel.ContactType == 4">
                        <div class="btn-group group-2 create-case-select" data-toggle="buttons">
                            <label id="IsPrimary" class="btn btn-info" ng-click="ContactViewModel.IsPrimary=true" ng-class="{ 'active' : ContactViewModel.IsPrimary==true }">
                                <input type="radio" ng-model="ContactViewModel.IsPrimary" value="true" /> Primary HCP
                            </label>
                            <label id="IsPrimary" class="btn btn-info" ng-click="ContactViewModel.IsPrimary=false" ng-class="{ 'active' : ContactViewModel.IsPrimary==false }">
                                <input type="radio" ng-model="ContactViewModel.IsPrimary" value="false" /> Secondary HCP
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-reset-on-click" ng-click="form.submitted=true;SaveContact(form.frmCreateContact.$valid);">Save Contact</button>
                    </div>
                </div>
            </div><!--/New Contact-->
        </form>

        <!--Contact Details-->
        <div class="row">
            <div class="contact-detail" ng-repeat="contact in Contacts">
                <div class="col-sm-6" ng-hide="editContact">
                    <div class="col-sm-12 border">
                        <div class="btn-right-corner">
                            <button has-permission="EditContact" class="btn btn-default btn-edit" style="display: inline-block;" ng-click="form.submitted = false; editContact =! editContact;SetContactToEdit(contact.ContactId)"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-default btn-save" style="display: none"><span class="glyphicon glyphicon-ok"></span></button>
                            <button has-permission="DeleteContact" class="btn btn-default btn-cancel" style="display: inline-block;" data-toggle="modal" data-target="#delete-contact" ng-click="SetContactToDelete(contact)"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div ng-hide="contact.ContactTypeCode == ''">
                            <span class="col-header">Type</span>:
                            <span class="capitalize">{{contact.ContactTypeName != null && contact.ContactTypeName != '' ? contact.ContactTypeName : contact.ContactTypeCode }}</span>
                        </div>
                        <div ng-hide="contact.Name == ''">
                            <span class="col-header">Name</span>:
                            <span class="capitalize">{{contact.Name}}</span>
                        </div>
                        <div ng-hide="contact.Title == ''">
                            <span class="col-header">Title</span>:
                            <span class="capitalize">{{contact.Title}}</span>
                        </div>
                        <div ng-hide="contact.Email == '' || contact.Email == null">
                            <span class="col-header">Email</span>:
                            <span>{{contact.Email}}</span>
                        </div>
                        <div ng-hide="contact.WorkPhone == ''">
                            <span class="col-header">Work</span>:
                            <span>{{contact.WorkPhone | tel}}</span>
                        </div>
                        <div ng-hide="contact.CellPhone == ''">
                            <span class="col-header">Cell</span>:
                            <span>{{contact.CellPhone | tel}}</span>
                        </div>
                        <div ng-hide="contact.HomePhone == ''">
                            <span class="col-header">Home</span>:
                            <span>{{contact.HomePhone | tel}}</span>
                        </div>
                        <div ng-hide="contact.Address == ''">
                            <span class="col-header">Address</span>:
                            <span class="capitalize">{{contact.Address}}</span>
                        </div>
                        <div ng-hide="contact.ContactTypeCode != 'PROVIDER'">
                            <span class="col-header">Contact Person Name</span>:
                            <span class="capitalize">{{contact.ContactPersonName}}</span>
                        </div>
                        <div ng-hide="contact.ContactTypeCode != 'PROVIDER'">
                            <span class="col-header">Is Primary</span>:
                            <span class="capitalize">{{contact.IsPrimary == true ? 'Yes' : 'No'}}</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix" ng-if="$odd"></div>
            </div><!--/.ng-repeat="contact in Contacts"-->
        </div><!--/.row--><!--/Contact Details-->
    </div>
    <div class="modal-footer">
        <span ng-show=""></span>
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
</script>