﻿<script type="text/ng-template" id="DownloadZipLink.html">
    <form name="frmDownloadZipLink">
        <div class="modal-header">
            <button class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
            <h4>Download Links</h4>
        </div>
        <div class="modal-body" >
            <div class="row" >
                <div class="col-sm-12" ng-repeat="link in Links">
                    <a ng-click="GetExportLink(link.Id)" class="btn btn-link">Download data exported on {{link.cdt | date: "MM/dd/yyyy"}}</a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-link" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</script>