﻿<script type="text/ng-template" id="EditCompanyInfo.html">
    <form submitted 
          class="form-horizontal" 
          name="forms.frmSignUpStep2" 
          novalidate
          ng-submit="UpdateCompanyInfo(forms.frmSignUpStep2.$valid)"
          >
        <div class="modal-header" ng-init="init()">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Edit Company Info</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    <div class="row">
                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                Company Name
                            </div>
                            <div class="col-sm-6 field-input">
                                <input type="text" class="form-control" ng-blur="SetDomainName()" ng-model="SignUpData.Customer.Name" name="CompanyName" id="txtCompanyName" placeholder="Enter company name" title="Enter company name" required>
                                <div ng-messages="forms.frmSignUpStep2.CompanyName.$error">
                                    <div ng-message="required">Please enter company name</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-wrap" ng-cloak ng-show="IsCompanyinfoEdit != true">
                            <div class="col-sm-3 field-name" tooltip="This is going to be your dedicated URL and this is how you will access AbsenceTracker">
                                Company URL
                            </div>
                            <div class="col-sm-6 field-input">
                                <input type="text" ng-model-domain-onblur ng-class="{'has-error':((!forms.frmSignUpStep2.Url.$pristine || submitted) && forms.frmSignUpStep2.Url.$error.required) || forms.frmSignUpStep2.Url.$error.subDomain}" class="form-control" ng-model="SignUpData.Customer.SubDomain" name="Url" id="txtUrl" placeholder="Enter url" title="Enter url" required>
                                <span class="error" ng-cloak ng-show="(!forms.frmSignUpStep2.Url.$pristine || submitted) && forms.frmSignUpStep2.Url.$error.required">Please enter url</span>
                                <span class="error" ng-cloak ng-show="forms.frmSignUpStep2.Url.$error.subDomain">Url is not available</span>
                            </div>
                            <div class="col-sm-1 field-input" style="padding-left:0;padding-top:1%">
                                <strong>.absencetracker.com</strong>@*<strong>.{{DomainLabel}}</strong>*@
                            </div>
                        </div>
                        <div class="col-sm-12 col-wrap" ng-cloak ng-show="IsCompanyinfoEdit == true" style="padding-top:5px !important; padding-bottom:7px !important;">
                            <div class="col-sm-3 field-name">
                                Company URL
                            </div>
                            <div class="col-sm-1 field-name">
                                <label>
                                    {{SignUpData.Customer.SubDomain}}.absencetracker.com
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                Address 1
                            </div>
                            <div class="col-sm-6 field-input">
                                <input type="text"class="form-control" ng-model="SignUpData.Customer.Address1" name="Address1" id="txtAddress1" placeholder="Enter address1" title="Enter address1" required>
                                <div ng-messages="forms.frmSignUpStep2.Address1.$error">
                                    <div ng-message="required">Please enter Address1</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                Address 2
                            </div>
                            <div class="col-sm-6 field-input">
                                <input type="text" class="form-control" ng-model="SignUpData.Customer.Address2" name="Address2" id="txtAddress1" placeholder="Enter address2" title="Enter address2">
                            </div>
                        </div>
                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                City
                            </div>
                            <div class="col-sm-6 field-input">
                                <input type="text" class="form-control" ng-model="SignUpData.Customer.City" name="City" id="txtCity" placeholder="Enter city" title="Enter city" required>
                                <div ng-messages="forms.frmSignUpStep2.City.$error">
                                    <div ng-message="required">Please enter City</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                Country
                            </div>
                            <div class="col-sm-6 field-input">
                                <select id="ddlCountries" ng-model="SignUpData.Customer.Country" name="Country" class="form-control">
                                    <option value="US" selected>United States</option>
                                    <option value="UM">United States Minor Outlying Islands</option>
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Åland Islands</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AG">Antigua and Barbuda</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BS">Bahamas</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BO">Bolivia</option>
                                    <option value="BA">Bosnia and Herzegovina</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BV">Bouvet Island</option>
                                    <option value="BR">Brazil</option>
                                    <option value="IO">British Indian Ocean Territory</option>
                                    <option value="BN">Brunei Darussalam</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BI">Burundi</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CA">Canada</option>
                                    <option value="CV">Cape Verde</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="TD">Chad</option>
                                    <option value="CL">Chile</option>
                                    <option value="CN">China</option>
                                    <option value="CX">Christmas Island</option>
                                    <option value="CC">Cocos (Keeling) Islands</option>
                                    <option value="CO">Colombia</option>
                                    <option value="KM">Comoros</option>
                                    <option value="CG">Congo</option>
                                    <option value="CD">Congo, The Democratic Republic of The</option>
                                    <option value="CK">Cook Islands</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="CI">Cote D'ivoire</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CU">Cuba</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czech Republic</option>
                                    <option value="DK">Denmark</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="EE">Estonia</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="FK">Falkland Islands (Malvinas)</option>
                                    <option value="FO">Faroe Islands</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="GF">French Guiana</option>
                                    <option value="PF">French Polynesia</option>
                                    <option value="TF">French Southern Territories</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GM">Gambia</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Germany</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GR">Greece</option>
                                    <option value="GL">Greenland</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GG">Guernsey</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GW">Guinea-bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HT">Haiti</option>
                                    <option value="HM">Heard Island and Mcdonald Islands</option>
                                    <option value="VA">Holy See (Vatican City State)</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IN">India</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IR">Iran, Islamic Republic of</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IM">Isle of Man</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JP">Japan</option>
                                    <option value="JE">Jersey</option>
                                    <option value="JO">Jordan</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KP">Korea, Democratic People's Republic of</option>
                                    <option value="KR">Korea, Republic of</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="LA">Lao People's Democratic Republic</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LY">Libyan Arab Jamahiriya</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MO">Macao</option>
                                    <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malta</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MX">Mexico</option>
                                    <option value="FM">Micronesia, Federated States of</option>
                                    <option value="MD">Moldova, Republic of</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar</option>
                                    <option value="NA">Namibia</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Nepal</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="AN">Netherlands Antilles</option>
                                    <option value="NC">New Caledonia</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="NU">Niue</option>
                                    <option value="NF">Norfolk Island</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="NO">Norway</option>
                                    <option value="OM">Oman</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PW">Palau</option>
                                    <option value="PS">Palestinian Territory, Occupied</option>
                                    <option value="PA">Panama</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="PE">Peru</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PN">Pitcairn</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RE">Reunion</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russian Federation</option>
                                    <option value="RW">Rwanda</option>
                                    <option value="SH">Saint Helena</option>
                                    <option value="KN">Saint Kitts and Nevis</option>
                                    <option value="LC">Saint Lucia</option>
                                    <option value="PM">Saint Pierre and Miquelon</option>
                                    <option value="VC">Saint Vincent and The Grenadines</option>
                                    <option value="WS">Samoa</option>
                                    <option value="SM">San Marino</option>
                                    <option value="ST">Sao Tome and Principe</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SN">Senegal</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SO">Somalia</option>
                                    <option value="ZA">South Africa</option>
                                    <option value="GS">South Georgia and The South Sandwich Islands</option>
                                    <option value="ES">Spain</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="SD">Sudan</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SJ">Svalbard and Jan Mayen</option>
                                    <option value="SZ">Swaziland</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="SY">Syrian Arab Republic</option>
                                    <option value="TW">Taiwan, Province of China</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TZ">Tanzania, United Republic of</option>
                                    <option value="TH">Thailand</option>
                                    <option value="TL">Timor-leste</option>
                                    <option value="TG">Togo</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinidad and Tobago</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TC">Turks and Caicos Islands</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="VE">Venezuela</option>
                                    <option value="VN">Viet Nam</option>
                                    <option value="VG">Virgin Islands, British</option>
                                    <option value="VI">Virgin Islands, U.S.</option>
                                    <option value="WF">Wallis and Futuna</option>
                                    <option value="EH">Western Sahara</option>
                                    <option value="YE">Yemen</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                State
                            </div>
                            <div class="col-sm-6 field-input">
                                <select id="ddlStates" name="State" ng-show="SignUpData.Customer.Country == 'US'" 
                                        ng-model="SignUpData.Customer.State" 
                                        class="form-control" 
                                        ng-required="SignUpData.Customer.Country == 'US'">
                                    <option value="">Select State</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="GU">Guam</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="UM">United States Minor Outlying Islands</option>
                                    <option value="VI">Virgin Islands</option>
                                    <option value="AA">Armed Forces Americas</option>
                                    <option value="AP">Armed Forces Pacific</option>
                                    <option value="AE">Armed Forces Others</option>
                                </select>

                                <div ng-messages="forms.frmSignUpStep2.State.$error">
                                    <div ng-message="required">Please select state</div>
                                </div>

                                <input type="text" ng-show="SignUpData.Customer.Country != 'US'" class="form-control" 
                                       ng-model="SignUpData.Customer.State" 
                                       name="StateText" id="txtState" placeholder="Enter state" title="Enter state" 
                                       ng-required="SignUpData.Customer.Country != 'US'">

                                <div ng-messages="forms.frmSignUpStep2.StateText.$error">
                                    <div ng-message="required">Please enter state</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                Zip Code
                            </div>
                            <div class="col-sm-6 field-input">
                                <input type="text"
                                        class="form-control" ng-model="SignUpData.Customer.PostalCode" 
                                       name="PostalCode" id="txtPostalCode" placeholder="Enter zip code" title="Enter zip code" required>

                                <div ng-messages="forms.frmSignUpStep2.PostalCode.$error">
                                    <div ng-message="required">Please enter zip code</div>
                                    <div ng-message="valid">Not valid zip code</div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                Phone
                            </div>
                            <div class="col-sm-6 field-input">
                                <input type="text" ng-blur-tel class="form-control" ng-model="SignUpData.Customer.Phone" name="Phone" id="txtPhone" placeholder="(800) 555-1212" title="United States phone number in the format (XXX) XXX-XXXX." required>

                                <div ng-messages="forms.frmSignUpStep2.Phone.$error">
                                    <div ng-message="required">Please enter phone number</div>
                                    <div ng-message="valid">Please enter valid phone number</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                Fax
                            </div>
                            <div class="col-sm-6 field-input">
                                <!--@*<input type="text" ng-blur-tel class="form-control" ng-class="{'has-error':((!forms.frmSignUpStep3.Fax.$pristine || submitted) && forms.frmSignUpStep3.Fax.$error.required) || forms.frmSignUpStep3.Fax.$error.tel}" @*ng-pattern="PhoneRequirements" ng-model="SignUpData.Employer.Fax" name="Fax" id="txtFax" placeholder="(800) 555-1212" title="United States phone number in the format (XXX) XXX-XXXX." required>*@-->
                                <input type="text" ng-model="SignUpData.Customer.Fax" ng-blur-tel class="form-control" name="Fax" id="txtFax" placeholder="(800) 555-1212" title="United States phone number in the format (XXX) XXX-XXXX."> <!--@*ng-pattern="PhoneRequirements" *@-->
                                <!--@*<span class="error" ng-cloak ng-show="forms.frmSignUpStep3.Fax.$error.required">Please enter fax number</span>
            <span class="error" ng-cloak ng-show="forms.frmSignUpStep3.Fax.$error.tel">Please enter valid fax number</span>*@-->
                                <div ng-messages="forms.frmSignUpStep2.Fax.$error">
                                    <div ng-message="valid">Please enter valid fax number</div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 col-wrap">
                            <div class="col-sm-3 field-name">
                                Logo
                            </div>
                            <div class="col-sm-8" ng-controller="CustAttachmentsCtrl" ng-init="init(1,04/30/2014)">
                                <div class="col-sm-12 dragzone" ng-hide="ShowUploadPanel == false">
                                    <input id="customerLogo" style="display:none" type="file" name="customerLogo" data-url="/SignUp/Logo" multiple data-sequential-uploads="false">
                                    <label id="caseAttachmentsLabel" for="customerLogo" class="btn btn-primary">Select Files</label>
                                    <label for="customerLogo">or drag and drop.</label>
                                </div>
                                <div class="col-sm-12" ng-hide="ShowUploadPanel == false">
                                    &nbsp;
                                </div>
                                <div class="col-sm-12" ng-hide="ShowUploadPanel == false">
                                    <div class="alert alert-info">The suggested logo size is 364 px (width) and 87 px (height).</div>
                                </div>
                                <div class="col-sm-12" ng-hide="ShowUploadPanel == false">
                                    <div class="alert alert-danger">If no logo is uploaded, your company name will appear as text in all communications.</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="progress">
                                            <div class="bar" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--@* when user select file *@-->
                                <div id="newAttachments" class="col-sm-12 col-wrap" ng-show="NewAttachments.length > 0 && IsUploadInProgress == false">
                                    <div class="col-sm-8 col-header">Attachment</div>
                                    <div class="col-sm-2 col-header">Action</div>
                                </div>
                                <div class="col-sm-12 col-wrap" ng-show="NewAttachments.length > 0 && IsUploadInProgress == false">
                                    <hr />
                                </div>
                                <div ng-repeat="attachment in NewAttachments">
                                    <div class="col-sm-12 col-wrap">
                                        <div ng-show="attachment.IsUploading==false">
                                            <div class="col-sm-8">
                                                <div>{{attachment.FileName}}</div>
                                            </div>
                                            <div class="col-sm-2">
                                                <div><a href="" ng-click="CancelFileUpload(attachment)">Cancel</a></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--@* uploading attachment message and cancel button div *@-->
                                    <div class="col-sm-12 col-wrap">
                                        <div class="col-sm-10 col-wrap" ng-show="attachment.ShowMessage==true">{{attachment.Message}}</div>
                                        <div class="col-sm-2 col-wrap">
                                            <button type="button" ng-show="attachment.ShowCancel==true" class="btn btn-link" ng-click="CancelFileUpload(attachment)">Cancel</button>
                                        </div>
                                    </div>
                                    <!--@* end *@-->
                                </div>
                                <!--@* end *@-->

                                <div class="col-sm-12" ng-show="FileUploadInProgress == true">
                                    <label style="color: #ff8300; font-size: 15px;">File Upload In Progress...</label>
                                </div>
                                <!--@* upload button *@-->
                                <div class="col-sm-12 clearfix" ng-show="NewAttachments.length > 0">&nbsp;</div>
                                <div class="col-sm-12" ng-show="NewAttachments.length > 0">
                                    <div class="col-sm-1 col-wrap col-sm-offset-9">
                                        <button type="button" class="btn btn-primary btn-sm" ng-disabled="isDisabled" ng-click="isDisabled=true; UploadFiles()">Upload</button>
                                    </div>
                                </div>
                                <!--@* end *@-->
                                <!--./Add new-->
                                <div class="col-sm-12">
                                    <div id="previousAttachments" class="row row-header row-style" ng-show="Attachments.length > 0">
                                        <div class="col-sm-3">Attachment</div>
                                        <div class="col-sm-9 text-right">Action</div>
                                    </div>
                                    <div class="row" ng-repeat="attachment in Attachments track by $index | orderBy:'-CreatedDate'">
                                        <div class="col-sm-3"><a target="_blank" href="{{attachment.Id}}">{{attachment.FileName}}</a></div>
                                        <div class="col-sm-9 text-right"><a href="javascript:void(0);" ng-click="Delete(attachment)">Delete</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>

