﻿<script type="text/ng-template" id="EditSecuritySettings.html">
    <form submitted
          class="form-horizontal"
          name="forms.frmSignUpStep2"
          novalidate
          ng-submit="UpdateSecuritySettings(forms.frmSignUpStep2.$valid)">
        <div class="modal-header" ng-init="init()">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Security Settings</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <legend>Inactivity Monitor</legend>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="checkbox" id="ShowInactiveLogoutPrompt" name="ShowInactiveLogoutPrompt" ng-model="SignUpData.Customer.SecuritySettings.ShowInactiveLogoutPrompt" />
                        <label for="ShowInactiveLogoutPrompt" tooltip="Whether or not to show the inactive logout pompt to users for the website.">&nbsp;Prompt users before logging them out?</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password-minlength">Logout Period</label>
                    <div class="col-sm-8" ng-required="true">
                        <input name=""
                               type="number"
                               min="0"
                               max="2147483647"
                               class="form-control"
                               ng-model="SignUpData.Customer.SecuritySettings.InactiveLogoutPeriod" />
                        <div class="help-text">This is the amount of inactive time in minutes allowed on the website, before a user is logged out. Select a shorter time for more secure sessions. (Default session is 60 minutes)</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="checkbox" id="ShowSelfServiceInactiveLogoutPrompt" name="ShowSelfServiceInactiveLogoutPrompt" ng-model="SignUpData.Customer.SecuritySettings.ShowSelfServiceInactiveLogoutPrompt" />
                        <label for="ShowSelfServiceInactiveLogoutPrompt" tooltip="Whether or not to show the inactive logout pompt to users for the self-service section of the webiste.">&nbsp;Prompt users before logging them out of the self-service section?</label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password-minlength">Self-service Logout Period</label>
                    <div class="col-sm-8" ng-required="true">
                        <input name=""
                               type="number"
                               min="0"
                               max="2147483647"
                               class="form-control"
                               ng-model="SignUpData.Customer.SecuritySettings.SelfServiceInactiveLogoutPeriod" />
                        <div class="help-text">This is the amount of inactive time in minutes allowed on the self-service portion of the website, before a user is logged out. Select a shorter time for more secure sessions. (Default session is 60 minutes)</div>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Password Policy</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password-expiration">Expiration</label>
                    <div class="col-sm-8">
                        <select name="password-expiration"
                                class="form-control"
                                ng-required="true"
                                ng-model="SignUpData.Customer.PasswordPolicy.ExpirationDays">
                            <option value="0">Never</option>
                            <option value="30">30 days</option>
                            <option value="60">60 days</option>
                            <option value="90">90 days</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password-minlength">Minimum Length</label>
                    <div class="col-sm-8" ng-required="true">
                        <input name=""
                               type="number"
                               min="8"
                               max="255"
                               class="form-control"
                               ng-model="SignUpData.Customer.PasswordPolicy.MinimumLength" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="PasswordPolicyReuseLimitDays">
                        Reuse Limit (Days)
                    </label>
                    <div class="col-sm-8" ng-required="true">
                        <input name="PasswordPolicyReuseLimitDays"
                               type="number"
                               min="0"
                               max="2147483647"
                               class="form-control"
                               ng-model="SignUpData.Customer.PasswordPolicy.ReuseLimitDays" />
                        <div class="help-text">Password cannot be reused unless it is at least X days old.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="PasswordPolicyReuseLimitCount">
                        Reuse Limit (Recent Passwords)
                    </label>
                    <div class="col-sm-8" ng-required="true">
                        <input name="PasswordPolicyReuseLimitCount"
                               type="number"
                               min="0"
                               max="2147483647"
                               class="form-control"
                               ng-model="SignUpData.Customer.PasswordPolicy.ReuseLimitCount" />
                        <div class="help-text">Password cannot be reused if it is one of the previously used X passwords.</div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>

