﻿<script type="text/ng-template" id="EmployerAccess.html">
    <form name="frmEmployerAccess" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            <h4 class="modal-title">User / Employer Access</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" ng-if="ShowEmployerAccess">
                    <div class="col-sm-3">
                        &nbsp;
                    </div>
                    <div class="col-sm-9">
                        <select name="Employer" class="form-control" ng-options="employer.EmployerId as employer.EmployerName for employer in EmployerAccessModel" ng-model="EmployerAccessModel.SelectedEmployer">
                            <option value="">Choose option</option>
                        </select>
                        <span class="error" ng-cloak ng-show="frmEmployerAccess.Employer.$error.required && submitted">Please select the user or an employer</span>
                    </div>
                </div>
                <div class="col-sm-12 clearfix">&nbsp;</div>
                <div class="col-sm-12" ng-repeat="employer in EmployerAccessModel">
                    <div class="row" ng-if="EmployerAccessModel.SelectedEmployer == employer.EmployerId">
                        <div class="col-sm-12">
                            <div class="col-sm-3">Role</div>
                            <div class="col-sm-9">
                                <div class="col-sm-12" ng-repeat="role in employer.AllRoles | filter:{Type: 0}">
                                    <input type="checkbox" ng-model="role.Apply" />
                                    <span>{{role.Name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 clearfix">&nbsp;</div>
                        <div class="col-sm-12 clearfix">&nbsp;</div>
                        <div class="col-sm-12" ng-if="employer.HasESSRole">
                            <div class="col-sm-2">ESS Role</div>
                            <div class="col-sm-10">
                                <div class="col-sm-12" ng-repeat="role in employer.AllRoles | filter:{Type: 1}">
                                    <input type="checkbox" ng-model="role.Apply" ng-disabled="true" />
                                    <span>{{role.Name}}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="submitted=true; UpdateEmployerAccess(frmEmployerAccess.$valid);">Save</button>
            <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>
