﻿<div class="row row-offset" ng-controller="employeeInfoCtrl" ng-init="initEmpInfo()">
    <div class="col-sm-2 text-center">
        <div class="content-section">Employee Info</div>
        <i class="fa fa-user large-side-icons"></i>
    </div>
    <div class="col-sm-8">
        <div class="row employee-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a ng-href="/Employees/{{EmployeeInfo.Id}}/View" class="summary-header-link" ng-hide="!EmployeeInfo.Id">
                        <span ng-bind="EmployeeFullName" class="rp-emp-name"></span>|<span class="rp-emp-id">Employee ID: <span ng-bind="EmployeeInfo.EmployeeNumber"></span></span>
                    </a>
                    <div ng-show="EmployeeInfo.RiskProfile != null && EmployeeInfo.HasRiskProfileFeature" ng-cloak>
                        <span class="fa fa-{{EmployeeInfo.RiskProfile.Icon}} rp-{{EmployeeInfo.RiskProfile.Color}} rpDisplay" ng-click="CalculateRiskProfile()"></span>
                    </div>
                    <div ng-hide="EmployeeInfo.RiskProfile != null || !EmployeeInfo.HasRiskProfileFeature" class="rp-calculate" ng-show="EmployeeInfo.HasRiskProfileFeature && EmployeeInfo.RiskProfile == null" ng-click="CalculateRiskProfile()" ng-cloak>
                        <i class="fa fa-calculator"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="row">
                                <div class="col-xs-2 col-header">Hire Date:</div>
                                <div class="col-xs-5" ng-bind="EmployeeInfo.HireDate | ISODateToDate | date:'MM/dd/yyyy'"></div>
                                <div class="col-xs-2 col-header">Employer:</div>
                                <div class="col-xs-3" ng-bind="EmployeeInfo.EmployerName"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2 col-header">Hours Worked:</div>
                                <div class="col-xs-5">
                                    <span ng-if="EmployeeInfo.PriorHoursWorked != null">{{EmployeeInfo.PriorHoursWorked}} <span ng-if="EmployeeInfo.PriorHoursWorked != null && EmployeeInfo.PriorHoursWorkedAsOf != null"> as of {{EmployeeInfo.PriorHoursWorkedAsOf | ToDate | date : 'MM/dd/yyyy'}}</span></span><br />
                                    <!--AT-6540: To only show calculated hours if "IgnoreScheduleForPriorHoursWorked" is false for Employer-->
                                    <span ng-if="EmployeeInfo.HasIgnoreScheduleForPriorHoursWorked != true">
                                        <span ng-if="EmployeeInfo.CalculatedHoursWorked != null && EmployeeInfo.CalculatedHoursWorked > 0">{{EmployeeInfo.CalculatedHoursWorked}} (calculated)</span>
                                    </span>
                                </div>
                                <div class="col-xs-2 col-header">Office Location:</div>
                                <div class="col-xs-3" ng-bind="EmployeeInfo.OfficeLocation"></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2 col-header">Worked Per Week:</div>
                                <div class="col-xs-5">
                                    <span ng-if="EmployeeInfo.CalculatedWorkedPerWeek != null">{{EmployeeInfo.CalculatedWorkedPerWeek}}  as of</span><br />
                                    <span ng-if="EmployeeInfo.CalculatedWorkedPerWeek != null">
                                        {{EmployeeInfo.CalculatedWorkedPerWeekAsOf | ToDate | date : 'MM/dd/yyyy'}}
                                        <span ng-if="EmployeeInfo.IgnoreWorkedPerWeek">
                                            <button class="btn btn-link" data-toggle="tooltip" role="button" tabindex="0" data-html="true"
                                                    title="Average worked per week {{EmployeeInfo.CalculatedWorkedPerWeek}} as of {{EmployeeInfo.CalculatedWorkedPerWeekAsOf | ToDate | date : 'MM/dd/yyyy'}}">
                                                <span class="fa fa-question-circle"></span>
                                            </button>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-xs-2 col-header">Average Worked Per Week:</div>
                                <div class="col-xs-3">
                                    <span ng-if="EmployeeInfo.WorkedPerWeekFriendlyTime != null">{{EmployeeInfo.WorkedPerWeekFriendlyTime}}  as of</span><br />
                                    <span ng-if="EmployeeInfo.WorkedPerWeekFriendlyTime != null">
                                        {{EmployeeInfo.WorkedPerWeekAsOf | ToDate | date : 'MM/dd/yyyy'}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <a class="btn btn-default btn-edit rp-edit-emp-btn pull-right" has-permission="EditEmployee" href="/Employees/Edit/{{EmployeeInfo.Id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <div class="pull-right rp-view-empinfo"><a data-toggle="collapse" href="#moreEmployeeInfo">View All Info</a></div>
                        </div>
                    </div>
                    <div id="moreEmployeeInfo" class="collapse">
                        <div class="row row-offset" has-permission="ViewEmployeeInfo">
                            <div class="col-sm-12 col-header">
                                Employee Info
                            </div>
                        </div>
                        <div class="row" has-permission="ViewEmployeeInfo">
                            <div class="col-sm-4">
                                Date of Birth:
                                <span ng-show="ShowDOB">{{EmployeeInfo.DOB | ISODateToDate | date:'MM/dd/yyyy'}}</span><span ng-show="ShowDOB != true">********</span>
                                <i ng-class="{'fa fa-eye fa-lg':ShowDOB, 'fa fa-eye-slash fa-lg':!ShowDOB}" ng-click="DoBEyeClick()" tooltip="{{ShowDOB ? 'Click To Hide DOB' : 'Click To Show DOB'}}" style="cursor: pointer"></i>
                            </div>
                            <div class="col-sm-4">
                                Gender:
                                {{EmployeeInfo.Gender == 77 ? "Male" : EmployeeInfo.Gender == 70 ? "Female" : "Unknown" }}
                            </div>
                            <div class="col-sm-4">
                                SSN:
                                <span ng-show="ShowSSN">{{EmployeeInfo.Ssn}}</span><span ng-show="!ShowSSN">********</span>
                                <i ng-class="{'fa fa-eye fa-lg':ShowSSN, 'fa fa-eye-slash fa-lg':!ShowSSN}" ng-click="SSNEyeClick()" tooltip="{{ShowSSN ? 'Click To Hide SSN' : 'Click To Show SSN'}}" style="cursor:pointer" has-permission="ViewSSN"></i>
                            </div>
                        </div>
                        <div class="row row-offset" has-permission="ViewEmployeeInfo">
                            <div class="col-sm-12 col-header">
                                Employer Info
                            </div>
                        </div>
                        <div class="row" has-permission="ViewEmployeeInfo">
                            <div class="col-sm-4">
                                Employer Name:
                                <span>{{EmployeeInfo.EmployerName}}</span>
                            </div>
                            <div class="col-sm-4">
                                Reference Code:
                                {{EmployeeInfo.EmployerReferenceCode }}
                            </div>
                        </div>
                        <div class="row" has-permission="ViewEmployeeInfo" ng-if="EmployeeInfo.ServiceOptionType && EmployeeInfo.ServiceOptionType.length > 0">
                            <div class="col-sm-4">
                                Service Type:
                                <span>{{EmployeeInfo.ServiceOptionType}}</span>
                            </div>
                            <div class="col-sm-4">

                            </div>
                        </div>
                        <div class="row row-offset" has-permission="ViewEmployeeContactInfo">
                            <div class="col-sm-12 col-header">
                                Contact Info
                            </div>
                        </div>
                        <div class="row" has-permission="ViewEmployeeContactInfo">
                            <div class="col-sm-4 capitalize">
                                Address:
                                <span style="width:50px !important; word-wrap:break-word !important;">
                                    {{EmployeeInfo.Address.Address1}} {{EmployeeInfo.Address.Address2}}
                                </span>
                            </div>
                            <div class="col-sm-4 capitalize">
                                City:
                                <span style="width:50px !important; word-wrap:break-word !important;">
                                    {{EmployeeInfo.Address.City}}
                                </span>
                            </div>
                            <div class="col-sm-4">
                                State/Zip:
                                {{EmployeeInfo.Address.State}} {{EmployeeInfo.Address.PostalCode}}
                            </div>
                            <div class="col-sm-4">
                                Country:
                                {{EmployeeInfo.Address.Country}}
                            </div>
                            <div class="col-sm-4">
                                Residence County:
                                {{EmployeeInfo.ResidenceCounty}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                Work Phone:
                                {{EmployeeInfo.WorkPhone | tel}}
                            </div>
                            <div class="col-sm-4">
                                Cell Phone:
                                {{EmployeeInfo.CellPhone | tel}}
                            </div>
                            <div class="col-sm-4">
                                Home Phone:
                                {{EmployeeInfo.HomePhone | tel}}
                            </div>
                            <div class="col-sm-4">
                                Work Email:
                                <span ng-show="EmployeeInfo.Email.length > 20" style="cursor:pointer;" class="popover-dismiss" data-content="<span style='width:50px !important; word-wrap:break-word !important;'>{{EmployeeInfo.Email}}</span>">{{EmployeeEmail}}</span>
                                <span ng-show="EmployeeInfo.Email.length <= 20">{{EmployeeInfo.Email}}</span>
                            </div>
                            <div class="col-sm-4">
                                Pers Email:
                                <span ng-show="EmployeeInfo.AltEmail.length > 20" style="cursor:pointer;" class="popover-dismiss" data-content="<span style='width:50px !important; word-wrap:break-word !important;'>{{EmployeeInfo.AltEmail}}</span>">{{EmployeeAltEmail}}</span>
                                <span ng-show="EmployeeInfo.AltEmail.length <= 20">{{EmployeeInfo.AltEmail}}</span>
                            </div>
                            <div class="col-sm-4">
                                Alt Phone:
                                {{EmployeeInfo.AltPhone | tel}}
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12" style="padding-top:1em">
                                <a style="cursor:pointer" ng-model="empinfomore1" ng-click="empinfomore1 =! empinfomore1">Alternate Mailing Address</a>
                            </div>
                            <div ng-show="empinfomore1">
                                <div class="col-sm-4 capitalize">
                                    Address:
                                    <span style="width:50px !important; word-wrap:break-word !important;">
                                        {{EmployeeInfo.AltAddress.Address1}} {{EmployeeInfo.AltAddress.Address2}}
                                    </span>
                                </div>
                                <div class="col-sm-4 capitalize">
                                    City:
                                    <span style="width:50px !important; word-wrap:break-word !important;">
                                        {{EmployeeInfo.AltAddress.City}}
                                    </span>
                                </div>
                                <div class="col-sm-4">
                                    State/Zip:
                                    {{EmployeeInfo.AltAddress.State}} {{EmployeeInfo.AltAddress.PostalCode}}
                                </div>
                                <div class="col-sm-4">
                                    Country:
                                    {{EmployeeInfo.AltAddress.Country}}
                                </div>
                                <div class="col-sm-4" ng-show="EmployeeInfo.AltPhone">
                                    Alternate Phone :
                                    {{ EmployeeInfo.AltPhone | tel}}
                                </div>
                            </div>
                        </div>
                        <div class="row row-offset" has-permission="ViewEmployeeJobInfo">
                            <div class="col-sm-12 col-header">
                                Job Info
                            </div>
                        </div>
                        <div class="row" has-permission="ViewEmployeeJobInfo">
                            <div class="col-sm-4">
                                Work State:
                                {{EmployeeInfo.WorkState}}
                            </div>
                            <div class="col-sm-4">
                                {{EmployeeInfo.PayType == 2 ? "Wage" : "Salary"}}:
                                <span ng-show="ShowSalary">{{EmployeeInfo.Salary | currency}}</span><span ng-show="!ShowSalary">********</span>{{EmployeeInfo.PayType == 2 ? "/hour" : "/year"}}
                                <i ng-class="{'fa fa-eye fa-lg':ShowSalary, 'fa fa-eye-slash fa-lg':!ShowSalary}" ng-click="SalaryEyeClick()" tooltip="{{ShowSalary ? 'Click To Hide Salary' : 'Click To Show Salary'}}" style="cursor:pointer" has-permission="ViewSalary"></i>
                            </div>
                            <div class="col-sm-4">
                                Employment Status:
                                {{EmployeeInfo.Status}}
                            </div>
                            <div class="col-sm-4">
                                Hire Date:
                                {{EmployeeInfo.HireDate | ISODateToDate | date:'MM/dd/yyyy'}}
                            </div>
                            <div class="col-sm-4 capitalize">
                                Office Location:
                                {{EmployeeInfo.OfficeLocation}}
                            </div>
                            <div class="col-sm-4">
                                Exempt:
                                {{EmployeeInfo.IsExempt ? "Yes" : "No"}}
                            </div>
                            <div class="col-sm-4" has-permission="ViewEmployeeInfo" ng-show="EmployeeInfo.HasFlightCrewFeature==true">
                                Airline Flight Crew: {{EmployeeInfo.IsFlightCrew ? "Yes" : "No"}}
                            </div>
                            <div class="col-sm-4">
                                Re-hire Date:
                                {{EmployeeInfo.RehireDate | ISODateToDate | date:'MM/dd/yyyy'}}
                            </div>
                            <div class="col-sm-4">
                                Meets 50 in 75 Miles:
                                {{EmployeeInfo.Meets50In75MileRule}}
                            </div>
                            <div class="col-sm-4">
                                Key Employee:
                                {{EmployeeInfo.IsKeyEmployee ? "Yes" : "No"}}
                            </div>
                            <div class="col-sm-4">
                                Termination Date:
                                {{EmployeeInfo.TerminationDate | ISODateToDate | date:'MM/dd/yyyy'}}
                            </div>
                            <div class="col-sm-4">
                                Service Date:
                                {{EmployeeInfo.ServiceDate | ISODateToDate | date:'MM/dd/yyyy'}}
                            </div>
                            <div class="col-sm-4 capitalize">
                                Employee Spouse:
                                <a href="/employees/{{EmployeeInfo.SpouseEmployeeId}}/view">{{EmployeeInfo.SpouseFirstName}} {{EmployeeInfo.SpouseLastName}}</a>
                            </div>
                            <div class="col-sm-4">
                                Military Status:
                                {{EmployeeInfo.MilitaryStatus | militaryStatus}}
                            </div>
                            <div class="col-sm-4" ng-show="EmployeeInfo.PaidLeaveFeatureEnabled==true">
                                Pay Schedule:
                                {{EmployeeInfo.PaySchedule}}
                            </div>
                            <div class="col-sm-4">
                                Cost Center:
                                {{EmployeeInfo.CostCenterCode}}
                            </div>
                            <div class="col-sm-4">
                                Employee Class:
                                {{EmployeeInfo.WorkType}}
                            </div>
                            <div class="col-sm-4">
                                Work County:
                                {{EmployeeInfo.WorkCounty}}
                            </div>
                            <div class="col-sm-4">
                                Work City:
                                {{EmployeeInfo.WorkCity}}
                            </div>
                            <div class="col-sm-4">
                                Department:
                                {{EmployeeInfo.Department}}
                            </div>
                        </div>

                        <div class="row row-offset" has-permission="ViewEmployeeJobDetails">
                            <div class="col-sm-12 col-header">
                                <div class="pull-left">
                                    Job Details
                                </div>
                            </div>
                        </div>
                        <div class="row" has-permission="ViewEmployeeJobDetails">
                            <div class="col-sm-4" ng-show="EmployeeInfo.Job.IHazJob">
                                Job:
                                <a ng-href="/Jobs/{{EmployeeInfo.EmployerId}}/View/{{EmployeeInfo.Job.Code}}/{{EmployeeInfo.Id}}">
                                    {{EmployeeInfo.Job.Display}}
                                </a>
                            </div>
                            <div class="col-sm-4" ng-show="EmployeeInfo.Job.Title">
                                Title:
                                {{EmployeeInfo.Job.Title}}
                            </div>
                            <div class="col-sm-4" ng-show="EmployeeInfo.Job.Activity">
                                Activity:
                                {{EmployeeInfo.Job.Activity | jobClassification}}
                            </div>
                            <div class="col-sm-4" ng-show="EmployeeInfo.Job.IHazJob">
                                Start Date:
                                {{EmployeeInfo.Job.StartDate | ISODateToDate | date:'MM/dd/yyyy'}}
                            </div>
                            <div class="col-sm-4" ng-show="EmployeeInfo.Job.IHazJob">
                                End Date:
                                {{EmployeeInfo.Job.EndDate != null ? (EmployeeInfo.Job.EndDate | ISODateToDate | date: 'MM/dd/yyyy') : "current"}}
                            </div>
                        </div>
                        <div class="row" has-permission="ViewEmployeeJobDetails" ng-show="EmployeeInfo.JobHistory.length > 0">
                            <div class="col-sm-2 col-sm-offset-10">
                                <div class="pull-right"><a href="#employeeJobHistory" class="btn-link pull-right" data-toggle="collapse">show job history</a></div>
                            </div>
                        </div>
                        <div class="row collapse" id="employeeJobHistory" has-permission="ViewEmployeeJobDetails" ng-show="EmployeeInfo.JobHistory.length > 0">
                            <div class="col-sm-12">
                                <div class="row" ng-show="EmployeeInfo.JobHistory != null && EmployeeInfo.JobHistory.length > 0">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Starting</th>
                                                    <th>Ending</th>
                                                    <th>Job</th>
                                                    <th>Title</th>
                                                    <th>Location</th>
                                                    <th>Position</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="j in EmployeeInfo.JobHistory">
                                                    <td>{{j.StartDate | ISODateToDate | date: 'MM/dd/yyyy'}}</td>
                                                    <td>{{j.EndDate != null ? (j.EndDate | ISODateToDate | date: 'MM/dd/yyyy') : "current"}}</td>
                                                    <td>
                                                        <a ng-href="/Jobs/{{EmployeeInfo.EmployerId}}/View/{{j.Code}}/{{j.EmployeeId}}">
                                                            {{j.Name}} ({{j.Code}})
                                                        </a>
                                                    </td>
                                                    <td>{{j.Title}}</td>
                                                    <td>{{j.OfficeLocation}}</td>
                                                    <td>{{j.Position}}</td>
                                                    <td title="{{j.StatusHint}}">{{j.Status.StatusString}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row" ng-hide="EmployeeInfo.JobHistory != null && EmployeeInfo.JobHistory.length > 0">
                                    <div class="col-sm-12">
                                        The Employee Has No Job History.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" has-permission="ViewEmployeeJobDetails" ng-hide="EmployeeInfo.Job.IHazJob || !(!EmployeeInfo.Job.Title)">
                            <div class="col-sm-12">
                                The Employee Has No Job Information/History Set.
                            </div>
                        </div>
                        <div class="row row-offset" has-permission="ViewEmployeeJobInfo">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 col-header">
                                        Organizations
                                    </div>
                                </div>
                                <div class="row org-emp-info">
                                    <div class="col-md-12" ng-hide="EmployeeInfo.EmployeeCurrentOrganizationsList.length > 0">
                                        The Employee Has No Organizations.
                                    </div>
                                    <div class="row org-emp-info" ng-show="EmployeeInfo.EmployeeCurrentOrganizationsList.length > 0">
                                        <div class="col-sm-12">
                                            <div class="days-list">
                                                <table class="table table-responsive table-hover header-alignment">
                                                    <thead>
                                                        <tr>
                                                            <th>Effective From</th>
                                                            <th>Effective To</th>
                                                            <th>Name (Code)</th>
                                                            <th>Type</th>
                                                            <th>Affiliation</th>
                                                            <th>Parent Name (Code)</th>
                                                            <th>Parent Type</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="org in EmployeeInfo.EmployeeCurrentOrganizationsList" class="content-alignment">
                                                          
                                                            <td>{{org.StartDate != null ? (org.StartDate | ISODateToDate | date: 'MM/dd/yyyy') : "perpetual"}}</td>
                                                            <td>{{org.EndDate != null? (org.EndDate | ISODateToDate | date: 'MM/dd/yyyy') : "perpetual"}}</td>
                                                            <td>{{org.Name}} ({{org.Code}})</td>
                                                            <td>{{org.TypeCode}}</td>
                                                            <td>{{org.Affilation}}</td>
                                                            <td>{{org.ParentOrgName}} ({{org.ParentOrgCode}})</td>
                                                            <td>{{org.ParentOrgTypeCode}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                        <div class="row row-offset" ng-if="EmployeeInfo.CustomFields.length > 0" has-permission="ViewCustomFields">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 col-header">
                                        Custom Fields <span class="error" style="font-weight: normal !important" ng-if="isShowParenthesisText">(Data as of case creation date)</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4" ng-repeat="field in EmployeeInfo.CustomFields">
                                        {{field.Name}}: {{field.SelectedValueText}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row row-offset" has-permission="ViewEmployeeWorkSchedule">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 col-header">
                                        Schedule<span ng-show="EmployeeInfo.StartDayOfWeek"> - Week Starts On {{EmployeeInfo.StartDayOfWeek | dayOfWeek}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="days-list">
                                            <table class="table table-responsive table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Effective From</th>
                                                        <th>Effective To</th>
                                                        <th>Schedule</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="s in EmployeeInfo.WorkSchedules" ng-show="s.ShowWorkSchedule || EmployeeInfo.WorkSchedules.length <= 4">
                                                        <td>{{s.StartDate | ISODateToDate | date: 'MM/dd/yyyy'}}</td>
                                                        <td>{{s.EndDate != null ? (s.EndDate | ISODateToDate | date: 'MM/dd/yyyy') : "perpetual"}}</td>
                                                        <td>{{s.TextRepresentation}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="pull-right" ng-show="EmployeeInfo.WorkSchedules.length > 4">
                                                <a class="btn btn-link" ng-click="ToggleWorkSchedules($event)" ng-bind="WorkScheduleText"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-offset" has-permission="ViewEmployeeJobInfo">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 col-header">
                                        Location History
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="days-list">
                                            <table class="table table-responsive table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Effective From</th>
                                                        <th>Effective To</th>
                                                        <th>Location</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="location in EmployeeInfo.LocationHistory">
                                                        <td>{{location.StartDate != null ? (location.StartDate | ISODateToDate | date: 'MM/dd/yyyy') : ""}}</td>
                                                        <td>{{location.EndDate != null ? (location.EndDate | ISODateToDate | date: 'MM/dd/yyyy') : "perpetual"}}</td>
                                                        <td>{{location.Name}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="pull-right" ng-show="EmployeeInfo.WorkSchedules.length > 4">
                                                <a class="btn btn-link" ng-click="ToggleWorkSchedules($event)" ng-bind="WorkScheduleText"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-right">
        <a style="cursor:pointer;" class="btn btn-primary" ng-click="OpenContactsModal()">Contacts</a>
        <a ng-cloak ng-show="EmployeeInfo.HasConsultsFeature == true" has-permission="EmployeeConsults" href="/consultations/{{EmployeeInfo.EmployerId}}/employees/{{EmployeeInfo.Id}}/list/{{CaseId}}" class="btn btn-primary">Consults</a>
        <contacts-modal></contacts-modal>
        <a href="/employees/{{EmployeeInfo.Id}}/notes" ng-if="ShowNotes" class="btn btn-primary hide-when">Notes</a>
        <!--<button ng-show="EmployeeInfo.HasRiskProfileFeature" class="btn btn-primary" ng-click="CalculateRiskProfile()">Calculate Risk Profile</button>-->
    </div>
    <script type="text/javascript">
        $(function () {
            $('.popover-dismiss').popover({
                trigger: 'hover',
                container: 'body',
                html: true
            })
        });
    </script>
</div>