﻿<script type="text/ng-template" id="ForgotPasswordModal.html">
    <form name="frmForgotPassword">
        <div class="modal-header">
            <button class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
            <h4>Forgot Password</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <p>Enter your email address in the field below and click <strong>Reset Password</strong> to request a password reset for your account.</p>
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-6 col-sm-offset-3">
                    <input type="email" title="Email address" placeholder="Email address" ng-model="ResetEmail" name="resetEmail" class="form-control" required />
                    <span class="error" ng-cloak ng-show="(!frmForgotPassword.resetEmail.$prestine || frmForgotPassword.resetEmail.$dirty)  && submitted && frmForgotPassword.resetEmail.$error.required">Please enter email address</span>
                    <span class="error" ng-cloak ng-show="(!frmForgotPassword.resetEmail.$prestine || frmForgotPassword.resetEmail.$dirty)  && submitted && frmForgotPassword.resetEmail.$error.email">Please enter a valid email address</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="ResetPassword(frmForgotPassword)" class="btn btn-primary">Reset Password</button>
            <a href="#" class="btn btn-link" ng-click="cancel()">Cancel</a>
        </div>
    </form>
</script>