﻿<script type="text/ng-template" id="RuleGroups.html">
   <form name="forms.frmAbsReasonRules" novalidate>
       <div class="modal fade" id="RuleGroups" tabindex="-1" role="dialog" aria-labelledby="Rule Groups" aria-hidden="true">
           <div class="modal-dialog" style="width:750px !important">
               <div class="modal-content">
                   <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title">Add Rule Group</h4>
                   </div>
                   <div class="modal-body">

                       <div class="row">
                           <div class="col-sm-2 col-header">Type</div>
                           <div class="col-sm-5 field-input">
                               <select class="form-control input-sm" name="RuleGroupType" ng-change="forms.submitted=false;" ng-model="RuleGroupsEdit.RuleGroupType" ng-options="ruleGroupType.Id as ruleGroupType.Text for ruleGroupType in PolicyRuleGroupTypesList" required>
                                   <option value="" selected>Select a rule group type</option>
                               </select>
                               <span class="error" ng-show="frmAbsReasonRules.RuleGroupType.$error.required && forms.submitted">Select a rule group type</span>
                           </div>
                       </div>

                       <div class="row" ng-show="RuleGroupsEdit.RuleGroupType==2">
                           <div class="col-sm-2 col-header">
                               Entitlement
                           </div>
                           <div class="col-sm-2 field-input">
                               <input type="number" class="form-control input-sm" name="RuleGroupEntitlement" ng-model="RuleGroupsEdit.Entitlement" ng-required="RuleGroupsEdit.RuleGroupType==2" />
                           </div>
                       </div>

                       <div class="row" ng-show="frmAbsReasonRules.RuleGroupEntitlement.$error.required && forms.submitted">
                           <div class="col-sm-2">
                               &nbsp;
                           </div>
                           <div class="col-sm-4">
                               <span class="error">Please enter entitlement</span>
                           </div>
                       </div>

                       <div class="row" ng-show="RuleGroupsEdit.RuleGroupType==1">
                           <div class="col-sm-2 col-header">
                               Description
                           </div>
                           <div class="col-sm-9 field-input">
                               <textarea class="form-control" rows="2" name="RuleGroupDescription" ng-model="RuleGroupsEdit.Description" ng-required="RuleGroupsEdit.RuleGroupType==1"></textarea>
                               <span class="error" ng-show="frmAbsReasonRules.RuleGroupDescription.$error.required && forms.submitted">Please enter description</span>
                           </div>
                       </div>

                       <div class="row" ng-show="RuleGroupsEdit.RuleGroupType==3">
                           <div class="col-sm-3 col-header">
                               Payment %
                           </div>
                           <div class="col-sm-2 field-input">
                               <input type="text" class="form-control input-sm" name="PaymentEntitlementPaymentPercent" ng-model="RuleGroupsEdit.PaymentPercent" ng-required="RuleGroupsEdit.RuleGroupType==3" />
                               <span class="error" ng-show="frmAbsReasonRules.PaymentEntitlementPaymentPercent.$error.required && forms.submitted">Please enter payment %</span>
                           </div>
                           <div class="col-sm-1">&nbsp;</div>
                           <div class="col-sm-2 col-header">
                               Max %
                           </div>
                           <div class="col-sm-2 field-input">
                               <input type="text" class="form-control input-sm" name="PaymentEntitlementMaxPercent" ng-model="RuleGroupsEdit.MaxPercent" ng-required="RuleGroupsEdit.RuleGroupType==3" />
                               <span class="error" ng-show="frmAbsReasonRules.PaymentEntitlementMaxPercent.$error.required && forms.submitted">Please enter max %</span>
                           </div>
                       </div>

                       <div class="row" ng-show="RuleGroupsEdit.RuleGroupType==3">
                           <div class="col-sm-3 col-header">
                               Duration ({{AbsReasonEdit.EntitlementTypeText}})
                           </div>
                           <div class="col-sm-2 field-input">
                               <input type="text" class="form-control input-sm" name="PaymentEntitlementDuration" ng-model="RuleGroupsEdit.Duration" ng-required="RuleGroupsEdit.RuleGroupType==3" />
                               <span class="error" ng-show="frmAbsReasonRules.PaymentEntitlementDuration.$error.required && forms.submitted">Please enter duration</span>
                           </div>
                       </div>

                       <div class="row">&nbsp;</div>

                       <div ng-repeat="ruleGroup in RuleGroupsEdit.RuleGroups track by $index" ng-class="{'rule-group-indent': $index>=1}">

                           <!--Group Row-->
                           <div class="row">
                               <div class="col-sm-2 field-input">
                                   <select class="form-control input-sm" ng-class="SetRuleGroupClass(ruleGroup);" name="RuleGroupSuccessType" ng-model="ruleGroup.SuccessType" ng-options="successType.Id as successType.Text for successType in RuleGroupSuccessTypesList" required>
                                       <option value="" selected>Select</option>
                                   </select>
                               </div>
                               <div class="col-sm-3">of the following rules:</div>
                               <div class="col-sm-5">&nbsp;</div>
                               <div class="col-sm-2">
                                   <button ng-hide="ruleGroup.ShowRuleGroupDelete" class="btn btn-default btn-edit" ng-click="AddRuleGroupClick(ruleGroup)"><span class="glyphicon glyphicon-plus" tooltip="Add Rule Group"></span></button>
                                   <button ng-show="ruleGroup.ShowRuleGroupDelete" class="btn btn-default btn-edit" ng-click="DeleteRuleGroupClick(ruleGroup, rule)"><span class="glyphicon glyphicon-minus" tooltip="Delete Rule Group"></span></button>
                               </div>
                           </div>

                           <div ng-repeat="rule in ruleGroup.Rules">
                               <!--Rule Row-->
                               <div class="row" style="margin-left:20px;">



                                   <!--Left Expression-->
                                   <div class="col-sm-4 field-input">
                                       <select class="form-control input-sm" ng-class="SetRuleClass(rule, 'left');" name="RuleLeftExpression" ng-change="LeftExpressionChange(rule)" ng-model="rule.LeftExpression" ng-options="prompt.Name as prompt.Prompt for prompt in LeftSidePrompts" required>
                                           <option value="" selected>Select a property</option>
                                       </select>
                                   </div>

                                   <!--Operators-->
                                   <div class="col-sm-2 field-input">
                                       <select class="form-control input-sm" ng-class="SetRuleClass(rule, 'operator');" name="RuleOperator" ng-model="rule.Operator" ng-disabled="rule.SelectedOperators==null || rule.SelectedOperators.length==0" ng-options="operator.Id as operator.Text for operator in rule.SelectedOperators" required></select>
                                   </div>

                                   <!--Right expression-->
                                   <div class="col-sm-3 field-input">

                                       <!--Unset - Make a ReadOnly ddl-->
                                       <div ng-if="rule.SelectedRuleExpression == null || rule.SelectedRuleExpression.ControlType == null">
                                           <select class="form-control input-sm" ng-class="SetRuleClass(rule, 'right');" name="RuleRightExpression" ng-model="rule.RightExpression" ng-disabled="true" required>
                                               <option value="" selected></option>
                                           </select>
                                       </div>

                                       <!--TextBox-->
                                       <div ng-if="rule.SelectedRuleExpression.ControlType == 1">
                                           <input type="text" class="form-control input-sm" name="RightExpressionTB" ng-class="SetRuleClass(rule, 'right');" ng-model="rule.RightExpression" required />
                                       </div>

                                       <!--Select List-->
                                       <div ng-if="rule.SelectedRuleExpression.ControlType == 2">
                                           <select class="form-control input-sm" ng-class="SetRuleClass(rule, 'right');" name="RightExpressionList" ng-model="rule.RightExpression" ng-options="opt.Value as opt.Text for opt in rule.SelectedRuleExpression.Options" required>
                                               <option value="" selected>Select a value</option>
                                           </select>
                                       </div>

                                       <!--TextArea-->
                                       <div ng-if="rule.SelectedRuleExpression.ControlType == 3">
                                           <textarea class="form-control" ng-class="SetRuleClass(rule, 'right');" name="RightExpressionTA" rows="2" ng-model="rule.RightExpression" required></textarea>
                                       </div>

                                       <!--Date-->
                                       <div ng-if="rule.SelectedRuleExpression.ControlType == 4">
                                           <div class="input-group">
                                               <input type="text" class="form-control input-sm" ng-class="SetRuleClass(rule, 'right');" name="RightExpressionDate" at-datepicker-popup="MM/dd/yyyy" show-button-bar="true" ng-model="rule.RightExpression" />
                                               <label for="RightExpressionDate" class="input-group-addon">
                                                   <i class="fa fa-calendar"></i>
                                               </label>
                                           </div>
                                       </div>

                                       <!--Minutes-->
                                       <div ng-if="rule.SelectedRuleExpression.ControlType == 5">
                                           <input type="text" class="form-control input-sm" ng-class="SetRuleClass(rule, 'right');" name="RightExpressionMin" ng-model="rule.RightExpression" type="number" required />
                                       </div>

                                       <!--Numeric-->
                                       <div ng-if="rule.SelectedRuleExpression.ControlType == 6">
                                           <input class="form-control input-sm input-salary" ng-class="SetRuleClass(rule, 'right');" name="RightExpressionNum" ng-model="rule.RightExpression" type="number" />
                                       </div>

                                       <!--RadioButtonList-->
                                       <div ng-if="rule.SelectedRuleExpression.ControlType == 7">
                                           <select class="form-control input-sm" ng-class="SetRuleClass(rule, 'right');" name="RightExpressionRBList" ng-model="rule.RightExpression" ng-options="opt.Value as opt.Text for opt in rule.SelectedRuleExpression.Options" required>
                                               <option value="" selected>Select a value</option>
                                           </select>
                                       </div>

                                       <!--CheckBox-->
                                       <div ng-if="rule.SelectedRuleExpression.ControlType == 8">
                                           <select class="form-control input-sm" ng-class="SetRuleClass(rule, 'right');" name="RightExpressionCB" ng-model="rule.RightExpression" required>
                                               <option value="" selected>Select a value</option>
                                               <option value="true" selected>Yes</option>
                                               <option value="false" selected>No</option>
                                           </select>
                                       </div>

                                       <!--CheckBoxList-->
                                       <div ng-if="rule.SelectedRuleExpression.ControlType == 9">

                                       </div>
                                   </div>

                                   <div class="col-sm-2">
                                       <button style="display: inline-block; padding: 2px 4px; font-size: 12px; line-height: 1.35;" class="btn btn-default btn-edit" ng-click="AddRuleClick(ruleGroup)"><span class="glyphicon glyphicon-plus" tooltip="Add Rule"></span></button>
                                       <button style="display: inline-block; padding: 2px 4px; font-size: 12px; line-height: 1.35;" ng-show="rule.ShowRuleDelete" class="btn btn-default btn-edit" ng-click="DeleteRuleClick(ruleGroup, rule)"><span class="glyphicon glyphicon-minus" tooltip="Delete Rule"></span></button>
                                   </div>
                               </div>
                           </div>
                       </div>

                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-primary" ng-click="forms.submitted=true;CreateRuleGroup(frmAbsReasonRules.$valid);">Create Rule Group</button>
                       <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                   </div>
               </div>
               <!-- /.modal-content -->
           </div>
           <!-- /.modal-dialog -->
       </div>
    </form>

</script>

