﻿<script type="text/ng-template" id="SelectActivityType.html">
    <form name="frmSelectActivityType" novalidate>
        <div class="modal-header">
            <button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>            
            <h4 class="modal-title">Print Types</h4>            
            <h6 class="modal-title">Please select the criteria you would like to print and press "Select". Next, press "Ctrl + P" to print your selected criteria.</h6>
        </div>
        <div class="modal-body">                            
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-3"><label>ToDo <input type="checkbox" ng-model="result.toDo" /></label></div>
                        <div class="col-sm-4 col-md-pull-1"><label>Communication <input type="checkbox" ng-model="result.communication" /></label></div>
                        <div class="col-sm-3 col-md-pull-1"><label>Attachment <input type="checkbox" ng-model="result.attachment" /></label></div>
                        <div class="col-sm-2"><label>Note <input type="checkbox" ng-model="result.notes" /></label></div>
                    </div>
                </div>
            </div>        
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="PrintTypes()">Select</button>
            <button type="button" class="btn btn-link" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>