﻿<script type="text/ng-template" id="TodoModalSuccess.html">
     <div class="modal-header">
         <button class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
         <h4 ng-show="IsCommunication">Compose Communication</h4>
         <h4 ng-show="!IsCommunication">New Case</h4>
    </div>
    <div class="modal-body">
		<div class="row">
            <div class="col-sm-12">
                <div ng-show="IsCommunication" class="alert alert-success"><strong>Communication successful!</strong></div>
                <div ng-show="!IsCommunication" class="alert alert-success"><strong>Case created successfully!</strong></div>
            </div>
        </div>
        <div ng-show="ShowPDF && CommunicationId != null">
            <div class="row">
                <div class="col-sm-5">
                    <a ng-href="/Communications/DownloadPacket/{{CommunicationId}}" class="btn btn-info" target="_blank"><strong>Download as Packet</strong></a>
                </div>
            </div>
            <div class="row" ng-repeat="attachment in communicationAttachments.Paperwork" ng-hide="attachment.AttachmentId==null">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info wrapword" ng-click="OpenPDF(communicationAttachments.caseId, attachment.AttachmentId)"><strong>Download {{attachment.Paperwork.Name}} file</strong></button>
                    <span><a href="/Cases/{{communicationAttachments.caseId}}/Attachments/{{attachment.AttachmentId}}">-</a></span>
                </div>
            </div>
            <div class="row" ng-repeat="attachment in communicationAttachments.CaseAttachments">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-info" ng-click="OpenPDF(communicationAttachments.caseId, attachment.Id)"><strong>Download {{attachment.FileName}} file</strong></button>
                    <span><a href="/Cases/{{communicationAttachments.caseId}}/Attachments/{{attachment.Id}}">-</a></span>
                </div>
            </div>
        </div>
        <div ng-show="ShowBodyContents && showToDo">
            <div class="row row-offset">
                <div class="col-sm-12">
                    <p><strong>Would you like to create a communication now?</strong></p>
                    <p>If you don't create a communication now, it will appear in your todo for later.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row row-header">
                        <div class="col-sm-7">Type</div>
                        <div class="col-sm-5">Create New</div>
                    </div>
                    <div class="row" ng-repeat="toDo in toDos | filter:{ItemType:'Communication'}">
                        <div class="col-sm-7" ng-show="toDo.Status!='Complete'">{{toDo.Title}}</div>
                        <div class="col-sm-5">
                            <a ng-show="toDo.Status!='Complete'" href="/Todos/{{toDo.Id}}/Communications/Create" class="btn btn-info">Compose</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/#communicationPrompt-->
    </div><!--/.modal-body-->
    <div class="modal-footer">
        <button ng-show="IsCommunication" class="btn btn-primary" ng-click="cancel()">Return to Case</button>
        <button ng-show="!IsCommunication" class="btn btn-primary" ng-click="cancel()">No, thanks. I'll create a communication later.</button>
    </div>
</script>
