﻿<script type="text/ng-template" id="TodoModal.html">
    <div class="modal-header" ng-init="toDo.NewDueDate = toDo.DueDate">
        <button class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4>To-Do</h4>
    </div>
    <div class="modal-body" ng-show="toDo.Status=='Complete'">
        <div class="row">
            <div class="pull-center">
                <span class="col-header"><span>{{toDo.Title}}</span> is already completed.</span>
            </div>
        </div>
        <div class="row row-offset">
            <div class="pull-center">
                <button type="button" class="btn btn-info" ng-click="reopenToDo(toDo.Id, ToDos)">Reopen This To-Do</button>
            </div>
        </div>       
    </div>
    <div id="view-todo-modal" class="modal-body" ng-show="toDo.Status=='Cancelled'">        
        <div id="remove-case-employee-info">
            <div class="row">
                <div class="col-sm-6">
                    Employee: <a ng-href="/Employees/{{toDo.EmployeeId}}/View">{{toDo.EmployeeName}}</a>
                </div>
                <div class="col-sm-6">
                    Case: <a ng-href="/Cases/{{toDo.CaseId}}/View">{{toDo.CaseReason}}</a>
                </div>
                <div class="col-sm-6">
                    Assigned To: <a ng-click="ShowReassign=true">{{toDo.AssignedToName}}</a>
                </div>
            </div>            
        </div>
        <div id="remove-todo-name-and-due-date">
            <div class="row row-offset">
                <div class="col-sm-12">
                    <span class="col-header"><span>{{toDo.Title}}</span> was cancelled</span>
                    <div class="duedate">
                        <span>{{toDo.ModifiedDate | date:'MM/dd/yyyy'}}</span>                      
                    </div><!--/.duedate-->
                </div>
                <div class="secondary-information">
                    <div class="col-sm-12">
                        Cancelled By: <span>  {{toDo.ModifiedByName}}</span>
                    </div>
                    <div class="col-sm-12">
                        Reason: <span>{{toDo.CancelReason}}</span>
                    </div>
                </div>               
            </div>

            <div class="row row-offset">
                <div class="pull-center">
                    <button type="button" class="btn btn-info" ng-click="reopenToDo(toDo.Id, ToDos)">Reopen This To-Do</button>
                </div>
            </div>
        </div>       
    </div>
    <div class="modal-footer" ng-show="toDo.Status=='Complete' || toDo.Status=='Cancelled'">       
        <button type="button" class="btn btn-primary btn-centered btn-closewindow" ng-click="cancel()">Close Window</button>
    </div>   
    <div id="view-todo-modal" class="modal-body" ng-show="toDo.Status!='Complete' && toDo.Status!='Cancelled'">
        <!--case-employee-info-->

        <div id="case-employee-info">
            <div class="row">
                <div class="col-sm-6">
                    Employee: <a ng-href="/Employees/{{toDo.EmployeeId}}/View">{{toDo.EmployeeName}}</a>
                </div>
                <div class="col-sm-6">
                    Case: <a ng-href="/Cases/{{toDo.CaseId}}/View">{{toDo.CaseReason}}</a>
                </div>
                <div class="col-sm-6">
                    Assigned To: <a ng-click="ShowReassign=true">{{toDo.AssignedToName}}</a>
                </div>
            </div>
            <div class="row pull-center" ng-show="ShowReassign">
                <div class="col-sm-4" has-permission="CompleteToDo">
                    <select class="form-control" ng-model="reassigntodos.UserId" ng-options="user.Id as user.DisplayName for user in Users"></select>
                </div>

                <div class="col-sm-3" has-permission="CompleteToDo">
                    <a ng-click="ShowReassign=false;ReassignTodo()" class="btn btn-primary">Re-Assign To-Do</a>
                </div>
            </div>
        </div>

        <!--todo-name-and-due-date-->
        <div id="todo-name-and-due-date">
            <div class="row row-offset">
                <div class="col-sm-12">
                    <span class="col-header"><span>{{toDo.Title}}</span> is due </span>
                    <div class="duedate">
                        <span ng-click="DueDate = !DueDate;">{{toDo.NewDueDate | date:'MM/dd/yyyy'}}</span>
                        <div ng-show="DueDate">
                            <div class="popover bottom">
                                <div class="arrow"></div>
                                <div class="popover-content">
                                    <div class="pull-center">
                                        <div style="display:inline-block; min-height:290px;">
                                            <div ng-model="toDo.NewDueDate">
                                                <datepicker min="minDate" data-today-btn="true" show-weeks="showWeeks"></datepicker>
                                                <button class="btn btn-primary" ng-click="Today()">Today</button>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Reason for changing due date:</p>
                                    <textarea class="form-control" ng-model="toDo.reason"></textarea>
                                    <div class="error" ng-show="ToDoDueDateChangeReasonNotProvided">
                                        You must provide a reason when changing the due date.
                                    </div>
                                    <button type="button" class="btn btn-primary" ng-click="submitToDo()">Submit</button>
                                </div>
                            </div><!--/.popover-->
                        </div><!--/ng-show="DueDate"-->
                    </div><!--/.duedate-->
                </div>
                <div ng-show="toDo.OriginalDueDate" class="secondary-information">
                    <div class="col-sm-12">
                        Old Due Date: <span>{{toDo.OriginalDueDate | date: 'MM/dd/yyyy'}} </span>   |    Changed By: <span>  {{toDo.ModifiedByName}}</span>
                    </div>
                    <div class="col-sm-12">
                        Reason: <span>{{toDo.DueDateChangeReason}}</span>
                    </div>
                </div>
            </div>
            <!--Description-->
            <div ng-show="toDo.ItemType=='Manual' && toDo.Description">
                <div class="row mt6">
                    <div class="col-sm-12">
                        <span class="col-header">Description: </span><span ng-bind="toDo.Description" />
                    </div>
                </div>
            </div>
            <!--Communication-->
            <div ng-show="toDo.ItemType=='Communication'">
                <div class="row row-offset">
                    <div class="pull-center">
                        <a href="/Todos/{{toDo.Id}}/Communications/Create" class="btn btn-primary btn-centered">{{toDo.Title}}</a>
                    </div>
                </div>
            </div>

            <!--PaperworkDue-->
            <div ng-show="toDo.ItemType=='PaperworkDue'" ng-init='init(toDo.CaseId,toDo.Id)'>
                <div class="row row-offset">
                    <div class="col-sm-12 pull-center">
                        <div class="btn-group btn-group-lg">
                            <button type="button" class="btn btn-info" ng-class="{active:PaperworkReceived===true}" ng-click="PaperworkReceived = true">Paperwork Received</button>
                            <button type="button" class="btn btn-info" ng-class="{active:PaperworkReceived===false}" ng-click="PaperworkReceived = false">Paperwork Not Received</button>
                        </div>
                    </div>
                </div>
                <div ng-show="PaperworkReceived === false">
                    <div class="row">
                        <div class="col-xs-12 col-header mt12">
                            <h5><strong>CHOOSE ONE ACTION TO CONTINUE:</strong></h5>
                        </div>
                    </div>
                    <div class="row gray-box">
                        <div class="col-xs-8">
                            Mark as "Not Received" and complete to-do.
                        </div>
                        <div class="col-xs-4">
                            <button type="button" class="btn btn-primary" ng-click="CompletePaperworkNotReceived()">COMPLETE TO-DO</button>
                        </div>
                    </div>
                    <div class="row gray-box">
                        <div class="col-sm-4">
                            Extend grace period until
                        </div>
                        <div class="col-sm-4">
                            <div class="field-input input-group date">
                                <input type="text" id="ExtendedGracePeriod" name="ExtendedGracePeriod" class="form-control input-sm" ng-model="PaperworkDueModel.NewDueDate" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" />
                                <label for="ExtendedGracePeriod" class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </label>
                            </div>
                            <div class="error" ng-show="GracePeriodNotProvided">
                                You must provide a new date for the grace period.
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-info" ng-click="ExtendGracePeriod()">SUBMIT NEW DATE</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7 col-sm-offset-1">
                            Confirm that the paperwork was never received and close the case.
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-info btn-sm outline-btn" ng-click="PaperworkNotReceivedCloseCase()">CLOSE CASE</button>
                        </div>
                    </div>
                </div>
                <div ng-show="PaperworkReceived === true">
                    <div class="row row-offset">
                        <!--Add new-->
                        <div class="col-sm-12">
                            <div class="dragzone">
                                <input id="caseAttachments" style="display:none" type="file" name="caseAttachments" data-url="/Cases/{{toDo.CaseId}}/Attachments/Create" data-sequential-uploads="true">
                                <label id="caseAttachmentsLabel" for="caseAttachments" class="btn btn-primary">Select File</label> <label for="caseAttachments">or drag and drop.</label>
                            </div>
                        </div>
                    </div>
                    <div class="row row-offset" ng-show="NewAttachments.length > 0 && IsUploadInProgress == false">
                        <div class="col-sm-6 col-header">Attachment</div>
                        <div class="col-sm-6 col-header">Category</div>

                    </div>
                    <div ng-repeat="attachment in NewAttachments">
                        <div class="row">
                            <div class="col-sm-6">{{attachment.FileName}}</div>
                            <div class="col-sm-6">
                                <select ng-model="attachment.AttachmentType" class="form-control">
                                    <option value="1">Communication</option>
                                    <option value="2" selected>Paperwork</option>
                                    <option value="3">Documentation</option>
                                    <option value="0">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-header">Description</div>
                            <div class="col-sm-12 col-header"><textarea class="form-control" ng-model="attachment.Description" rows="3"></textarea></div>
                        </div>
                    </div>
                    <div class="row row-offset pull-center">
                        <button type="button" class="btn btn-info" ng-click="CompletePaperworkReceived()">Complete Without Uploading Paperwork</button>
                        <button type="button" ng-show="NewAttachments.length > 0" ng-click="UploadPaperworkReceived()" class="btn btn-primary">Upload And Complete</button>
                    </div>
                </div>
            </div>

            <!--PaperworkReview-->
            <form name="frmCreateCertification" novalidate>
                <div ng-show="toDo.ItemType=='PaperworkReview'">
                    <div id="todo-review-paperwork">
                        <div class="row row-offset">
                            <div class="col-sm-12">
                                <div class="pull-center">
                                    <!--<button type="button" ng-click="PaperworkReviewApprovedDetails =! PaperworkReviewApprovedDetails" class="btn btn-primary btn-centered">Paperwork Complete</button>-->
                                    <button type="button" ng-click="ShowPaperworkReviewApprovedDetails()" class="btn btn-primary btn-centered">Paperwork Complete</button>
                                    <button type="button" ng-click="PaperworkReviewIncomplete()" class="btn btn-primary btn-centered">Paperwork Incomplete</button>
                                    <button type="button" ng-click="PaperworkReviewDenied()" class="btn btn-primary btn-centered">Paperwork Denied</button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="PaperworkReviewApprovedDetails">
                            <div class="row row-offset">
                                <div class="col-sm-2">Dates</div>
                                <div class="col-sm-8">
                                    <div class="input-daterange input-group approval-dates-input-group">
                                        <input date-lower-than='{{PaperWorkReviewModel.CertificationEndDate}}' type="text" name="CertificationStartDate" class="form-control" required
                                               at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="PaperWorkReviewModel.CertificationStartDate"
                                               ng-class="{'has-error':frmCreateCertification.CertificationStartDate.$error.required && (!frmCreateCertification.CertificationStartDate.$pristine || submitted)}" />
                                        <span class="input-group-addon">to</span>
                                        <input type="text" name="CertificationEndDate" class="form-control"
                                               at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="PaperWorkReviewModel.CertificationEndDate" required
                                               ng-class="{'has-error':frmCreateCertification.CertificationEndDate.$error.required && (!frmCreateCertification.CertificationEndDate.$pristine || submitted)}" />
                                    </div>
                                    <div>
                                        <div class="error" ng-cloak ng-show="frmCreateCertification.CertificationStartDate.$error.required && (!frmCreateCertification.CertificationStartDate.$pristine || submitted)">Please enter certification start date</div>
                                        <div class="error" ng-cloak ng-show="frmCreateCertification.CertificationEndDate.$error.required && (!frmCreateCertification.CertificationEndDate.$pristine || submitted)">Please enter certification end date</div>
                                        <div class="error" ng-cloak ng-show="frmCreateCertification.CertificationStartDate.$error.dateLowerThan">The end date cannot be before the start date.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-offset">
                                <div class="col-sm-2">Notes</div>
                                <div class="col-sm-10">
                                    <textarea class="form-control" ng-model="PaperWorkReviewModel.Certification.Notes" name="CertificationNotes" required></textarea>
                                    <div class="error" ng-cloak ng-show="frmCreateCertification.CertificationNotes.$error.required && (!frmCreateCertification.CertificationNotes.$pristine || submitted)">Please enter a note</div>
                                </div>
                            </div>
                            <div class="row row-offset">
                                <div class="col-sm-2">Frequency</div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" ng-model="PaperWorkReviewModel.Certification.Occurances" name="CertificationOccurances" required />
                                    <div class="error" ng-cloak ng-show="frmCreateCertification.CertificationOccurances.$error.required && (!frmCreateCertification.CertificationOccurances.$pristine || submitted)">Please enter an occurance</div>
                                </div>
                                <div class="col-sm-3">episode(s) every</div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" ng-model="PaperWorkReviewModel.Certification.Frequency" name="CertificationFrequency" required />
                                    <div class="error" ng-cloak ng-show="frmCreateCertification.CertificationFrequency.$error.required && (!frmCreateCertification.CertificationFrequency.$pristine || submitted)">Please enter a frequency</div>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm" ng-model="PaperWorkReviewModel.Certification.FrequencyType" name="CertificationFrequencyType" required>
                                        <option>weeks</option>
                                        <option>months</option>
                                        <option>years</option>
                                    </select>
                                    <div class="error" ng-cloak ng-show="frmCreateCertification.CertificationFrequencyType.$error.required && (!frmCreateCertification.CertificationFrequencyType.$pristine || submitted)">Please enter frequency unit</div>
                                </div>
                            </div>
                            <div class="row row-offset">
                                <div class="col-sm-2">Duration</div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" ng-model="PaperWorkReviewModel.Certification.Duration" name="CertificationDuration" required />
                                    <div class="error" ng-cloak ng-show="frmCreateCertification.CertificationDuration.$error.required && (!frmCreateCertification.CertificationDuration.$pristine || submitted)">Please enter a duration</div>
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm" ng-model="PaperWorkReviewModel.Certification.DurationType" name="CertificationDurationType" required>
                                        <option>minutes</option>
                                        <option>hours</option>
                                        <option>days</option>
                                    </select>
                                    <div class="error" ng-cloak ng-show="frmCreateCertification.CertificationDurationType.$error.required && (!frmCreateCertification.CertificationDurationType.$pristine || submitted)">Please enter a duration unit</div>
                                </div>
                                <div class="col-sm-3">per episode</div>
                            </div>
                            <div class="row row-offset">
                                <div class="col-sm-12">
                                    <div class="pull-center">
                                        <button type="button" ng-click="submitted=true; PaperworkReviewApproved(frmCreateCertification.$valid)" class="btn btn-primary btn-centered">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--
                            <div class="row row-offset">
                                <div class="col-sm-4">Form Type</div>
                                <div class="col-sm-8">
                                    <select class="form-control">
                                        <option>Medical Certificate - FMLA</option>
                                    </select>
                                </div>
                            </div>
                                    <div class="row">
                        <div class="col-sm-4">
                            Criteria
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-4">
                            Valid Health Care Provider
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group group-2" data-toggle="buttons">
                                <label class="btn btn-info">
                                    <input type="radio" name="options" id="option1"> Yes
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options" id="option2"> No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Serious Health Condition
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group group-2" data-toggle="buttons">
                                <label class="btn btn-info">
                                    <input type="radio" name="options2" id="option1"> Yes
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options2" id="option2"> No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            Hospitalized
                        </div>
                        <div class="col-sm-4">
                            <div class="btn-group group-2" data-toggle="buttons">
                                <label class="btn btn-info">
                                    <input type="radio" name="options3" id="option1"> Yes
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options3" id="option2"> No
                                </label>
                            </div>
                        </div>
                    </div>
                                <div class="row row-offset">
                                    <div class="col-sm-12">Physician</div>
                                </div>
                                <div class="row row-offset">
                                    <div class="col-sm-2">First Name</div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" />
                                    </div>
                                    <div class="col-sm-2">Last Name</div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">State</div>
                                    <div class="col-sm-4">
                                        <select id="states" name="states" class="form-control">
                                            <option value=""></option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                            <option value="AS">American Samoa</option>
                                            <option value="GU">Guam</option>
                                            <option value="MP">Northern Mariana Islands</option>
                                            <option value="PR">Puerto Rico</option>
                                            <option value="UM">United States Minor Outlying Islands</option>
                                            <option value="VI">Virgin Islands</option>
                                            <option value="AA">Armed Forces Americas</option>
                                            <option value="AP">Armed Forces Pacific</option>
                                            <option value="AE">Armed Forces Others</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">Zip</div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                        <div class="col-sm-3 col-sm-offset-2">
                            <input type="button" class="btn btn-primary" value="Lookup Physician" />
                        </div>
                    </div>
                                <div class="row row-offset">
                        <div class="col-sm-12">
                            <i style="color: red">Developer's note: only show Enter Reduced Schedule for Reduced types</i>
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-12">Enter Reduced Schedule</div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-3">
                            Start Date
                        </div>
                        <div class="col-sm-3">
                            <div class="field-input input-group date schedule-start">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            End Date (Optional)
                        </div>
                        <div class="col-sm-3">
                            <div class="field-input input-group date schedule-end">
                                <input type="text" class="form-control" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>-->
                    </div>
                </div>
            </form>
            <!--CaseReview-->
            <div ng-show="toDo.ItemType=='CaseReview'">
                <div class="row row-offset">
                    <div class="col-sm-12">
                        <div class="pull-center">
                            <a ng-click="CloseToDoModal(toDo.CaseId)" class="btn btn-primary btn-centered">View Case</a>
                            <button type="button" class="btn btn-primary btn-centered" ng-click="CaseReivewCompleted()">Case Review Completed</button>
                        </div>
                    </div>
                </div>
                <!--
            <div class="row row-offset">
                <div class="col-sm-12">
                    <i style="color: red">Developer's note: only show the two rows below for "Dates From Paperwork" and "Notes From Paperwork" for FMLA or medical type policies (STD/LTD/WC, etc), and not necessarily with others; company policies, or other types of leaves, childhood necessities, etc. don’t require any certification from a doctor, etc. and will have to be adjudicated outside of the paperwork review task.</i>
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-3">
                    Dates From Paperwork
                </div>
                <div class="col-sm-8">
                    11/3/14 - 4/3/15
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-3">
                    Notes From Paperwork
                </div>
                <div class="col-sm-8">
                    The physician said that the condition is such and such, and the employee needs to do such and such. The physician said that the condition is such and such, and the employee needs to do such and such. The physician said that the condition is such and such, and the employee needs to do such and such. The physician said that the condition is such and such, and the employee needs to do such and such.
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-1">To</div>
                <div class="col-sm-3">
                    <div class="field-input input-group date">
                        <input type="text" id="AdjudicationTo" name="AdjudicationTo" class="form-control input-sm" ng-model="AdjudicationTo"
                                at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true"/>
                        <label for="AdjudicationTo" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
                <div class="col-sm-1">From</div>
                <div class="col-sm-3">
                    <div class="field-input input-group date">
                        <input type="text" id="AdjudicationFrom" name="AdjudicationFrom" class="form-control input-sm" ng-model="AdjudicationFrom"
                                at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true"/>
                        <label for="AdjudicationFrom" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <select class="form-control">
                        <option>Approved</option>
                        <option>Denied</option>
                        <option>Pending</option>
                    </select>
                </div>
            </div>
            <div class="row" ng-show="">
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="pull-right">
                        Denial Reason
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option></option>
                        <option>Exhausted</option>
                        <option>Not a Valid Healthcare Provider</option>
                        <option>Not a Serious Health Condition</option>
                        <option>Elimination Period</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="row" ng-show="">
                <div class="col-sm-3">
                    <div class="pull-right">
                        Other Reason
                    </div>
                </div>
                <div class="col-sm-9">
                    <input class="form-control input-sm" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 col-sm-offset-1">
                    <select class="form-control">
                        <option>Apply to All Policies</option>
                        <option>Family Medical Leave Act</option>
                        <option>California Family Rights Act</option>
                        <option>Short Term Disability</option>
                    </select>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <button type="button" class="btn btn-info fullwidth">Apply Status</button>
                </div>
            </div>

            <div class="row row-offset">
                <div class="col-sm-12">
                    <span class="row-header">Family Medical Leave Act</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Consecutive</div>
                <div class="col-sm-3">3/1/14 - 4/1/14</div>
                <div class="col-sm-2">
                    Pending
                </div>
                <div class="col-sm-4" ng-show="DenialReason">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Consecutive</div>
                <div class="col-sm-3">3/1/14 - 4/1/14</div>
                <div class="col-sm-2">
                    Pending
                </div>
                <div class="col-sm-4" ng-show="DenialReason">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Consecutive</div>
                <div class="col-sm-3">3/1/14 - 4/1/14</div>
                <div class="col-sm-2">
                    Pending
                </div>
                <div class="col-sm-4" ng-show="DenialReason">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Consecutive</div>
                <div class="col-sm-3">3/1/14 - 4/1/14</div>
                <div class="col-sm-2">
                    Pending
                </div>
                <div class="col-sm-4" ng-show="DenialReason">
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-12">
                    <span class="row-header">California Family Rights Act</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Consecutive</div>
                <div class="col-sm-3">3/1/14 - 4/1/14</div>
                <div class="col-sm-2">
                    Pending
                </div>
                <div class="col-sm-4" ng-show="DenialReason">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Consecutive</div>
                <div class="col-sm-3">5/1/14 - 6/1/14</div>
                <div class="col-sm-2">
                    Denied
                </div>
                <div class="col-sm-4">
                    Exhausted
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-12">
                    <span class="row-header">Short Term Disability</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Consecutive</div>
                <div class="col-sm-3">3/1/14 - 4/1/14</div>
                <div class="col-sm-2">
                    Pending
                </div>
                <div class="col-sm-4" ng-show="DenialReason">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">Consecutive</div>
                <div class="col-sm-3">5/1/14 - 6/1/14</div>
                <div class="col-sm-2">
                    Denied
                </div>
                <div class="col-sm-4">
                    Exhausted
                </div>
            </div>
            <div class="row row-offset" ng-show="PolicyData.AvailableManualPolicies != null &amp;&amp; PolicyData.AvailableManualPolicies.length &gt; 0">
                <div class="col-sm-6">
                    <select class="form-control ng-pristine ng-valid" ng-model="manualPolicyToAdd" ng-options="c as c.PolicyName for c in PolicyData.AvailableManualPolicies" ng-change="AddManualPolicy(manualPolicyToAdd)">
                        <option value="" class="">Add additional policy</option>
                        <option value="0">CFRA</option>
                        <option value="1">STD</option>
                    </select>
                </div>
            </div>-->
            </div>

            <!--ReturnToWork-->
            <div ng-show="toDo.ItemType=='ReturnToWork'">
                <!--todo-will-return-to-work-->
                <div class="row row-offset">
                    <div class="col-sm-12">
                        <div class="pull-center">
                            <button type="button" class="btn btn-info btn-centered" data-toggle="button" ng-click="dateWillReturntoWork = !dateWillReturntoWork">Will Return to Work</button>
                            <button type="button" class="btn btn-info btn-centered" ng-click="ReturntoWorkNotReturn()">Will Not Return to Work</button>
                            <button type="button" class="btn btn-info btn-centered" ng-click="ReturntoWorkRecertify()">Recertify</button>
                        </div>
                    </div>
                </div>
                <div class="row row-offset" ng-show="dateWillReturntoWork">
                    <div class="col-sm-5">
                        Date employee will return to work
                    </div>
                    <div class="col-sm-4">
                        <div class="field-input input-group date date-return-to-work">
                            <input type="text" id="ReturnToWorkDate" name="ReturnToWorkDate" ng-model="ReturnToWorkModel.ReturnToWorkDate" class="form-control" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" />
                            <label for="ReturnToWorkDate" class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row row-offset" ng-show="ReturnToWorkModel.ShowAccommodation && dateWillReturntoWork">
                    <div class="col-sm-5">
                        Has accommodations?
                    </div>
                    <div class="col-sm-4">
                        <div class="btn-group group-2" data-toggle="buttons">
                            <label class="btn btn-info" ng-class="{'active' : !ReturnToWorkModel.RequireAccommodations}" ng-click="ReturnToWorkModel.RequireAccommodations=false">
                                <input type="radio" name="RequireAccommodations" /> No
                            </label>
                            <label class="btn btn-info" ng-class="{'active' : ReturnToWorkModel.RequireAccommodations}" ng-click="ReturnToWorkModel.RequireAccommodations=true">
                                <input type="radio" name="RequireAccommodations" /> Yes
                            </label>
                        </div>
                    </div>
                </div>

                <!--Work Restrictions-->
                <div class="row row-offset" ng-show="ReturnToWorkModel.ShowAccommodation && dateWillReturntoWork">
                    <div class="col-sm-5">
                        Has work restrictions?
                    </div>
                    <div class="col-sm-4">
                        <div class="btn-group group-2" data-toggle="buttons">
                            <label class="btn btn-info" ng-class="{'active' : !ReturnToWorkModel.HasWorkRestrictions}" ng-click="ReturnToWorkModel.HasWorkRestrictions=false">
                                <input type="radio" name="HasWorkRestrictions" /> No
                            </label>
                            <label class="btn btn-info" ng-class="{'active' : ReturnToWorkModel.HasWorkRestrictions}" ng-click="ReturnToWorkModel.HasWorkRestrictions=true">
                                <input type="radio" name="HasWorkRestrictions" /> Yes
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!--End Work Restrictions-->
            <div class="row row-offset" ng-show="dateWillReturntoWork">
                <div class="pull-center">
                    <button type="button" class="btn btn-primary" ng-click="SaveWillReturnToWork()">Save</button>
                </div>
            </div>

        </div>

        <!--ReturntoWorkRelease-->
        <div ng-show="showWillReturntoWorkRelease">
            <div class="row row-offset">
                <div class="pull-center">
                    <button id="link-SendReleasePaperwork" class="btn btn-primary" ng-click="ReturntoWorkReleaseSend()">Send Release Paperwork</button>
                </div>
            </div>
        </div>

        <!--VerifyReturnToWork-->
        <div ng-show="toDo.ItemType=='VerifyReturnToWork'">
            <!--todo-verifiy-return-to-work-->
            <div class="row row-offset">
                <div class="col-sm-12">
                    <div class="pull-center">
                        <button type="button" class="btn btn-primary btn-centered" ng-click="verifyDateWillReturntoWork = !verifyDateWillReturntoWork">Employee Returned</button>
                        <button type="button" class="btn btn-primary btn-centered" ng-click="VerifyReturntoWorkNo()">Employee Did Not Return</button>
                    </div>
                </div>
            </div>

            <div class="row row-offset" ng-show="verifyDateWillReturntoWork">
                <div class="col-sm-5">
                    Confirm date employee returned
                </div>
                <div class="col-sm-4">
                    <div class="field-input input-group date date-return-to-work">
                        <input type="text" id="VerifyReturnToWorkDate" name="VerifyReturnToWorkDate" ng-model="VerifyReturnToWorkModel.VerifyReturnToWorkDate" class="form-control" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" />
                        <label for="VerifyReturnToWorkDate" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row row-offset" ng-show="verifyDateWillReturntoWork">
                <div class="pull-center">
                    <button type="button" class="btn btn-primary" ng-click="VerifyReturntoWorkYes()">Save</button>
                </div>
            </div>

        </div>

        <!--Ergonomic Assessment Scheduled-->
        <div ng-show="toDo.ItemType=='ScheduleErgonomicAssessment'">
            <div class="row row-offset">
                <div class="col-sm-5">
                    Ergonomic Assessment Scheduled Date
                </div>
                <div class="col-sm-4">
                    <div class="field-input input-group date date-ergo-assessment-scheduled">
                        <input type="text" id="ErgonomicAssessmentScheduledDate" name="ErgonomicAssessmentScheduledDate" ng-model="ErgonomicAssessmentScheduledModel.ErgonomicAssessmentScheduledDate" class="form-control" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-required="true" />
                        <label for="ErgonomicAssessmentScheduledDate" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
                <div><label class="error" ng-if="ShowErgoErrorMsg">Date is required</label></div>
            </div>
            <div class="row row-offset">
                <div class="pull-center">
                    <button type="button" class="btn btn-primary" ng-click="ErgonomicAssessmentScheduledSave()">Save</button>
                </div>
            </div>

        </div>

        <!--Complete Ergonomic Assessment-->
        <div ng-show="toDo.ItemType=='CompleteErgonomicAssessment'">
            <div class="row row-offset">
                <div class="col-sm-8">
                    Was the ergonomic assessment completed?
                </div>

                <div class="btn-group group-4" data-toggle="buttons">
                    <label class="btn btn-info" ng-click="ErgoResponseYes()">
                        <input type="radio" name="ResponseText" value="Yes" ng-required="true" /> Yes
                    </label>
                    <label class="btn btn-info" ng-click="ErgoResponseNotYet()">
                        <input type="radio" name="ResponseText" value="NotYet" ng-required="true" /> Not Yet
                    </label>
                    <label class="btn btn-info" ng-click="ErgoResponseNo()">
                        <input type="radio" name="ResponseText" value="No" ng-required="true" /> Will not be
                    </label>
                </div>
                <span ng-show="CompleteErgonomicAssessmentModel.ResponseText == null && submitted" class="error">Please select an option</span>
            </div>
            <div class="row row-offset">
                <div class="col-sm-5">
                    Assessment Date
                </div>
                <div class="col-sm-4">
                    <div class="field-input input-group date date-ergo-assessment-scheduled">
                        <input type="text" id="AssessmentDate" name="AssessmentDate" ng-model="CompleteErgonomicAssessmentModel.AssessmentDate" class="form-control" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-required="true" />
                        <label for="AssessmentDate" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
                <div><label class="error" ng-if="ShowErgoErrorMsg">Date is required</label></div>
            </div>

            <div class="row row-offset">
                <div class="pull-center">
                    <button type="button" class="btn btn-primary" ng-click="submitted = true;CompleteErgonomicAssessmentSave()">Save</button>
                </div>
            </div>
        </div>


        <!--Equipment Software Ordered-->
        <div ng-show="toDo.ItemType=='EquipmentSoftwareOrdered'">
            <div class="row row-offset">
                <div class="col-sm-6">
                    Was the equipment or software ordered?
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-6">
                    <div class="btn-group group-5" data-toggle="buttons">
                        <label class="btn btn-info" ng-click="EquipmentSoftwareOrderedModel.Completed=true">
                            <input type="radio" name="Completed" value="Yes" ng-required="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-click="EquipmentSoftwareOrderedModel.Completed=false">
                            <input type="radio" name="Completed" value="No" ng-required="true" /> No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row row-offset">
                <div class="pull-center">
                    <button type="button" class="btn btn-primary" ng-click="EquipmentSoftwareOrderedSave()">Save</button>
                </div>
            </div>
        </div>

        <!--Equipment Software Installed-->
        <div ng-show="toDo.ItemType=='EquipmentSoftwareInstalled'">
            <div class="row row-offset">
                <div class="col-sm-6">
                    Was the equipment or software installed?
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-6">
                    <div class="btn-group group-5" data-toggle="buttons">
                        <label class="btn btn-info" ng-click="EquipmentSoftwareInstalledModel.Completed=true">
                            <input type="radio" name="Completed" value="Yes" ng-required="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-click="EquipmentSoftwareInstalledModel.Completed=false">
                            <input type="radio" name="Completed" value="No" ng-required="true" /> No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row row-offset">
                <div class="pull-center">
                    <button type="button" class="btn btn-primary" ng-click="EquipmentSoftwareInstalledSave()">Save</button>
                </div>
            </div>
        </div>

        <!--HRIS Schedule Chage-->
        <div ng-show="toDo.ItemType=='HRISScheduleChange'">
            <div class="row row-offset">
                <div class="col-sm-6">
                    Was the schedule changed?
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-6">
                    <div class="btn-group group-5" data-toggle="buttons">
                        <label class="btn btn-info" ng-click="HRISScheduleChangeModel.Completed=true">
                            <input type="radio" name="Completed" value="Yes" ng-required="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-click="HRISScheduleChangeModel.Completed=false">
                            <input type="radio" name="Completed" value="No" ng-required="true" /> No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row row-offset">
                <div class="pull-center">
                    <button type="button" class="btn btn-primary" ng-click="HRISScheduleChangeSave()">Save</button>
                </div>
            </div>
        </div>

        <!--Other Accommodation-->
        <div ng-show="toDo.ItemType=='OtherAccommodation'">
            <div class="row row-offset">
                <div class="col-sm-6">
                    Was the accommodation completed?
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-6">
                    <div class="btn-group group-5" data-toggle="buttons">
                        <label class="btn btn-info" ng-click="OtherAccommodationModel.Completed=true">
                            <input type="radio" name="Completed" value="Yes" ng-required="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-click="OtherAccommodationModel.Completed=false">
                            <input type="radio" name="Completed" value="No" ng-required="true" /> No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row row-offset">
                <div class="pull-center">
                    <button type="button" class="btn btn-primary" ng-click="OtherAccommodationSave()">Save</button>
                </div>
            </div>
        </div>

        <!--todo-close-case-->
        <div ng-show="toDo.ItemType=='CloseCase'">
            <form name="frmCloseCase" novalidate>
                <!--TODO: check what the server sends back when no validation messages and update ngShow accordingly -->
                <div ng-if="CaseClosedModel.HasAnyResults == true">
                    <div class="row row-offset">
                        <div class="col-sm-12">
                            <div class="alert alert-info">
                                <div>
                                    <strong>Attention:</strong>
                                </div>
                                <ul>
                                    <li ng-repeat="validation in CaseClosedModel.ValidationMessages">
                                        {{validation}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="pull-center">
                            <a class="btn btn-primary" ng-click="CloseToDoModal(toDo.CaseId)">View Case</a>
                            <!--ng-href="/Cases/{{toDo.CaseId}}/View"-->
                        </div>
                    </div>
                </div>
                <div ng-if="CaseClosedModel.HasAnyResults == false">
                    <div class="row row-offset">
                        <div class="col-sm-2">
                            Reason
                        </div>
                        <div class="col-sm-10" ng-if="CaseClosedModel.EnabledCaseClosureCategories == true">
                            <select id="ddlCaseClose" name="ddlCaseClose" class="form-control" ng-change="SelectReason(frmCloseCase)" ng-model="CaseClosedModel.Reason" ng-options="reason.Text as reason.Text for reason in CaseClosureCategory" required>
                                <option value="">Select Close Case Reason...</option>
                            </select>
                            <span class="error" ng-show="frmCloseCase.ddlCaseClose.$error.required">
                                Please select case closure reason
                            </span>
                            <textarea class="form-control" ng-model="CaseClosedModel.OtherReasonText" ng-show="IsOtherReasonVisible" placeholder="Enter Reason Here (required)…" name="txtOtherReason"></textarea>
                        </div>
                        <div class="col-sm-10" ng-if="CaseClosedModel.EnabledCaseClosureCategories == false">
                            <textarea class="form-control" ng-model="CaseClosedModel.Reason"></textarea>
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="pull-center">
                                <button type="button" class="btn btn-primary" ng-click="CloseCase(frmCloseCase)">Close Case</button>
                            </div>
                        </div>
                    </div>
                    <!--<div id="todo-close-case-confirmation" ng-show="showCloseCaseConfirmation">
                    <div class="row row-offset">
                        <div class="col-sm-12">
                            <div class="alert alert-success"><strong>Case closed successfully!</strong></div>
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="pull-center">
                                <a href="/" class="btn btn-primary">Return to Dashboard</a>
                            </div>
                        </div>
                    </div>
                </div>-->
                </div><!-- /ng-hide="ValidationWarning"-->
            </form>
        </div>


        <!--STD Contact EE-->
        <div ng-show="toDo.ItemType=='STDCaseManagerContactsEE'">
            <div class="row row-offset">
                <div class="col-sm-6">
                    Was the employee contacted?
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-6">
                    <div class="btn-group group-5" data-toggle="buttons">
                        <label class="btn btn-info" ng-click="STDCaseManagerContactsEESave(true)">
                            <input type="radio" name="Completed" value="Yes" ng-required="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-click="STDCaseManagerContactsEESave(false)">
                            <input type="radio" name="Completed" value="No" ng-required="true" /> No
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!--STD Contact HCP-->
        <div ng-show="toDo.ItemType=='STDContactHCP'">
            <div class="row row-offset">
                <div class="col-sm-6">
                    Was the health care provider contacted?
                </div>
                <div class="col-sm-6">
                    <div class="btn-group group-5" data-toggle="buttons">
                        <label class="btn btn-info" ng-click="STDContactHCPSave(true)">
                            <input type="radio" name="Completed" value="Yes" ng-required="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-click="STDContactHCPSave(false)">
                            <input type="radio" name="Completed" value="No" ng-required="true" /> No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-sm-5 field-name">
                    <strong>Primary HCP Name</strong>
                </div>
                <div class="col-sm-5">
                    {{STDContactHCPModel.HCPName}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 field-name">
                    <strong>Primary HCP Phone</strong>
                </div>
                <div class="col-sm-3">
                    {{STDContactHCPModel.HCPPhone | tel}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 field-name">
                    <strong>Primary HCP Contact Name</strong>
                </div>
                <div class="col-sm-5">
                    {{STDContactHCPModel.HCPContactName}}
                </div>
            </div>
        </div>

        <!--STDDiagnosis-->
        <div ng-show="toDo.ItemType=='STDDiagnosis'">
            <div class="row row-offset">
                <div class="col-sm-6">
                    Was the STD diagnosis completed?
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-6">
                    <div class="btn-group group-5" data-toggle="buttons">
                        <label class="btn btn-info" ng-click="STDDiagnosisSave(true)">
                            <input type="radio" name="Completed" value="Yes" ng-required="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-click="STDDiagnosisSave(false)">
                            <input type="radio" name="Completed" value="No" ng-required="true" /> No
                        </label>
                    </div>
                </div>
            </div>

            <!--
        <div class="row row-offset">
            <div class="col-sm-12">
                Do you have an attachment(s)?
            </div>
        </div>
        <div class="row row-offset">
            <div class="col-sm-6">
                <div class="btn-group group-5" data-toggle="buttons">
                    <label class="btn btn-info" id="ShowAttachmentUploadYes" ng-click="ShowAttachmentUploadSTD=true">
                        <input type="radio" name="showAttachment" id="option1">
                        Yes
                    </label>
                    <label class="btn btn-info" id="ShowAttachmentUploadSTDdNo" ng-click="ShowAttachmentUploadSTD=false">
                        <input type="radio" name="showAttachment" id="option2">
                        No
                    </label>
                </div>
            </div>
        </div>
        <div class="row row-offset" ng-show="ShowAttachmentUploadSTD">

            <div class="col-sm-12">
                <div class="dragzone">
                    <input id="caseAttachmentsSTD" style="display:none" type="file" name="caseAttachmentsSTD" data-url="/Cases/{{toDo.CaseId}}/Attachments/Create" multiple data-sequential-uploads="true">
                    <label id="caseAttachmentsSTDLabel" for="caseAttachmentsSTD" class="btn btn-primary">Select Files</label> <label for="caseAttachmentsSTD">or drag and drop.</label>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="progress">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </div>
        </div>

        <div id="newAttachmentsSTD" class="row row-offset" ng-show="NewAttachmentsSTD.length > 0 && IsUploadInProgress == false">
            <div class="col-sm-4 col-header">Category</div>
            <div class="col-sm-4 col-header">Description</div>
            <div class="col-sm-2 col-header">Attachment</div>
        </div>
        <div ng-repeat="attachment in NewAttachmentsSTD">
            <div class="row">
                <div ng-show="attachment.IsUploading==false">
                    <div class="col-sm-4">
                        <select ng-model="attachment.AttachmentType" class="form-control">
                            <option value="1">Communication</option>
                            <option value="2">Paperwork</option>
                            <option value="3">Documentation</option>
                            <option value="0">Other</option>
                        </select>
                    </div>
                    <div class="col-sm-4 col-header"><textarea class="form-control" ng-model="attachment.Description" rows="3"></textarea></div>
                    <div class="col-sm-2">{{attachment.FileName}}</div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-link" ng-click="CancelFileUploadSTD(attachment)">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10" ng-show="attachment.ShowMessage==true">{{attachment.Message}}</div>
                <div class="col-sm-2">
                    <button type="button" ng-show="attachment.ShowCancel==true" class="btn btn-link" ng-click="CancelFileUploadSTD(attachment)">Cancel</button>
                </div>
            </div>
        </div>

        <div class="row" ng-show="NewAttachmentsSTD.length > 0">
            <div class="col-sm-2 col-sm-offset-10">
                <button type="button" class="btn btn-primary" ng-click="UploadFilesSTD()">Upload</button>
            </div>
        </div>

            -->
        </div>

        <!--STDDesignatePrimaryHCP-->
        <div ng-show="toDo.ItemType=='STDDesignatePrimaryHCP'">
            <div class="row row-offset">
                <div class="col-sm-10">
                    Was the primary health care provider designated?
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-6">
                    <div class="btn-group group-5" data-toggle="buttons">
                        <label class="btn btn-info" ng-click="STDDesignatePrimaryHCPSave(true)">
                            <input type="radio" name="Completed" value="Yes" ng-required="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-click="STDDesignatePrimaryHCPSave(false)">
                            <input type="radio" name="Completed" value="No" ng-required="true" /> No
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <!--STDFollowUp-->
        <div ng-show="toDo.ItemType=='STDFollowUp'">
            <div class="row row-offset">
                <div class="col-sm-6">
                    Is the STD leave complete?
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-6">
                    <div class="btn-group group-5" data-toggle="buttons">
                        <label class="btn btn-info" ng-click="STDCaseInc=true;STDFollowUpSave(true);">
                            <input type="radio" name="Completed" value="Yes" ng-required="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-click="STDCaseInc=false">
                            <input type="radio" name="Completed" value="No" ng-required="true" /> No
                        </label>
                    </div>
                </div>
            </div>
            <div class="row row-offset" ng-show="STDCaseInc==false">
                <div class="col-sm-10">
                    You will begin the employee contact and HCP contact process again.  Please select a due date for these tasks.
                </div>
            </div>
            <div class="row row-offset" ng-show="STDCaseInc==false">
                <div class="col-sm-5">
                    Contact employee due date
                </div>
                <div class="col-sm-4">
                    <div class="field-input input-group date date-return-to-work">
                        <input type="text" id="EmpDueDate" name="EmpDueDate" ng-model="STDFollowUpModel.ContactEmployeeDueDate" class="form-control" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" />
                        <label for="EmpDueDate" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="STDCaseInc==false">
                <div class="col-sm-5">
                    Contact HCP due date
                </div>
                <div class="col-sm-4">
                    <div class="field-input input-group date date-return-to-work">
                        <input type="text" id="HCPDueDate" name="HCPDueDate" ng-model="STDFollowUpModel.ContactHCPDueDate" class="form-control" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" />
                        <label for="HCPDueDate" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">&nbsp;</div>
            <div class="col-sm-12 pull-center" ng-show="STDCaseInc==false">
                <button type="button" class="btn btn-primary" ng-click="STDFollowUpSave(false)">Submit</button>
            </div>
            <div class="clearfix"></div>
        </div>

        <!--STDGenHealthCond-->
        <div ng-show="toDo.ItemType=='STDGenHealthCond'">
            <div class="row row-offset">
                <div class="col-sm-6">
                    Update the STD general health condition
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="STDGenHealthCondModel.GenHealthCond" />
                </div>
            </div>
            <div class="row row-offset pull-center">
                <button type="button" class="btn btn-primary" ng-click="STDGenHealthCondSave(true)">Update General Health Condition</button>
            </div>
        </div>

        <!--ReviewCaseAttachment-->
        <div ng-show="toDo.ItemType=='ReviewCaseAttachment'">
            <div class="row row-offset">
                <div class="col-sm-10">Attached on {{CaseAttachmentReviewModel.Attachment.cdt | date:'MM/dd/yyyy'}}</div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-4 col-header">Category</div>
                <div class="col-sm-4 col-header">Description</div>
                <div class="col-sm-4 col-header">Attachment</div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <select ng-model="CaseAttachmentReviewModel.Attachment.AttachmentType" class="form-control">
                        <option value="1">Communication</option>
                        <option value="2">Paperwork</option>
                        <option value="3">Documentation</option>
                        <option value="0">Other</option>
                    </select>
                </div>
                <div class="col-sm-4 col-header"><textarea class="form-control" ng-model="CaseAttachmentReviewModel.Attachment.Description" rows="3"></textarea></div>
                <div class="col-sm-4">
                    <a href="/Cases/{{CaseId}}/Attachments/{{CaseAttachmentReviewModel.Attachment.Id}}" target="_blank">
                        <label style="max-width:150px !important; font-weight: normal; word-wrap: break-word !important; cursor:pointer;" ng-bind="CaseAttachmentReviewModel.Attachment.FileName"></label>
                    </a>
                </div>
            </div>
            <div class="row row-offset pull-center">
                <button type="button" class="btn btn-primary" ng-click="ReviewCaseAttachmentSave(true)">Update Attachment</button>
                <button type="button" class="btn btn-primary" ng-click="ReviewCaseAttachmentSave(false)">Close ToDo</button>
            </div>
        </div>

        <!--ReviewCaseNote-->
        <div ng-show="toDo.ItemType=='ReviewCaseNote'">
            <div class="row row-offset">
                <div class="col-sm-10">Created on {{CaseNoteReviewModel.Note.cdt | date:'MM/dd/yyyy'}}, <a ng-href="/Cases/{{toDo.CaseId}}/Notes">View all case notes</a></div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-10 col-header">
                    <textarea class="form-control" ng-model="CaseNoteReviewModel.Note.Notes" rows="3"></textarea>
                </div>
            </div>
            <div class="row row-offset">
                <div class="col-sm-10 col-header">
                    Category
                    <select ng-model="CaseNoteReviewModel.Note.Category" class="form-control">
                        <option value="" selected></option>
                        <option value="0">Case Summary</option>
                        <option value="1">Employee Conversation</option>
                        <option value="2">Manager Conversation</option>
                        <option value="3">HR Conversation</option>
                        <option value="4">Medical</option>
                        <option value="5">Time Off Request</option>
                        <option value="6">Certification</option>
                        <option value="7">Interactive Process</option>
                        <option value="8">Work Restriction</option>
                        <option value="9">Operations Conversation</option>
                        <option value="10">Health Care Provider Conversation</option>
                        <option value="11">Worker Compensation Conversation</option>
                        <option value="12">Safety Conversation</option>
                        <option value="13">Legal Conversation</option>
                        <option value="14">ERC Conversation</option>
                        <option value="15">Employee Relations Conversation</option>
                        <option value="16">Benefits Conversation</option>
                        <option value="17">LOA Conversation</option>
                        <option value="18">Facilities Conversation</option>
                        <option value="19">Payroll Conversation</option>
                        <option value="20">STD/LOA Vendor Conversation</option>
                        <option value="21">LTD Vendor Conversation</option>
                        <option value="23">LTD Vendor Conversation</option>
                        <option value="22">Other</option>

                    </select>
                </div>
            </div>
            <div class="row row-offset pull-center">
                <button type="button" class="btn btn-primary" ng-click="ReviewCaseNoteSave(true)">Update Notes</button>
                <button type="button" class="btn btn-primary" ng-click="ReviewCaseNoteSave(false)">Close ToDo</button>
            </div>
        </div>

        <!--ReviewEmployeeInformation-->
        <div ng-show="toDo.ItemType=='ReviewEmployeeInformation'">
            <div class="row row-offset">
                <!--{{EmployeeInfoReviewModel}}-->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 20%">Field</th>
                                <th style="width: 40%">Old Value</th>
                                <th style="width: 40%">New Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="field in fields" ng-if="EmployeeInfoReviewModel.OldValues[field] != null || EmployeeInfoReviewModel.NewValues[field] != null">
                                <td>
                                    {{field}}
                                </td>
                                <td>
                                    {{EmployeeInfoReviewModel.OldValues[field]}}
                                </td>
                                <td>
                                    {{EmployeeInfoReviewModel.NewValues[field]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row row-offset pull-center">
                <button type="button" class="btn btn-primary" ng-click="ReviewEmployeeInformationSave(true)">Update Info</button>
                <button type="button" class="btn btn-primary" ng-click="ReviewEmployeeInformationSave(false)">Close ToDo</button>
            </div>
        </div>

        <!--ReviewEmployeeCreatedCase-->
        <div ng-show="toDo.ItemType=='ReviewCaseCreated'">
            <div class="row row-offset">
                <div class="pull-center">
                    <a class="btn btn-primary" href="/Employees/{{toDo.CaseId}}/Case/Review/{{toDo.Id}}">Review Case Details</a>
                </div>
            </div>
        </div>

        <!--ReviewWorkSchedule-->
        <form name="frmWorkSchedule" novalidate>
            <div ng-show="toDo.ItemType=='ReviewWorkSchedule'">
                <div class="row row-offset">
                    <!--{{EmployeeWorkScheduleReviewModel}}-->
                    <div class="row row-offset">
                        <!--<div class="col-sm-2">
                        <div class="content-section">Schedule</div>
                        <i class="fa fa-calendar large-side-icons"></i>
                    </div>-->
                        <div class="col-sm-12">
                            <div class="schedule-type">
                                <div class="col-sm-3 field-name manual-column">
                                    Schedule Type
                                </div>
                                <div class="col-sm-8 field-input">
                                    <div class="btn-group group-3" data-toggle="buttons">
                                        <label class="btn btn-info" ng-class="{ 'active' : WorkSchedule.ScheduleType==0, 'has-error':WorkSchedule.ScheduleType == null && submitted}" ng-click="UpdateScheduleType(0)">
                                            <input type="radio" name="ScheduleType" ng-model="WorkSchedule.ScheduleType" value="Weekly" ng-required="toDo.ItemType=='ReviewWorkSchedule'" />
                                            Weekly
                                        </label>
                                        <label class="btn btn-info" ng-class="{ 'active' : WorkSchedule.ScheduleType==1 , 'has-error':WorkSchedule.ScheduleType == null && submitted}" ng-click="UpdateScheduleType(1)">
                                            <input type="radio" name="ScheduleType" ng-model="WorkSchedule.ScheduleType" value="Rotating" ng-required="toDo.ItemType=='ReviewWorkSchedule'" />
                                            Rotating
                                        </label>
                                        <label class="btn btn-info" ng-class="{ 'active' : WorkSchedule.ScheduleType==2, 'has-error':WorkSchedule.ScheduleType == null && submitted }" ng-click="UpdateScheduleType(2)">
                                            <input type="radio" name="ScheduleType" ng-model="WorkSchedule.ScheduleType" value="Manual" ng-required="toDo.ItemType=='ReviewWorkSchedule'" />
                                            Manual
                                        </label>
                                    </div>
                                    <span ng-show="frmWorkSchedule.ScheduleType.$error.required && wsSubmitted" class="error">Please select an option</span>
                                </div>
                            </div>
                            <!--Schedule start and end-->
                            <div ng-show="ScheduleStartEnd">
                                <div class="col-sm-3 field-name">
                                    Start Date
                                </div>
                                <div class="col-sm-3 field-input no-padding-right">
                                    <div class="input-group">
                                        <input id="txtstartDate" name="txtstartDate" type="text" class="form-control" placeholder="mm/dd/yyyy" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="forms.WorkScheduleStartDate"
                                               ng-class="{'has-error':frmCreateEmployee.txtstartDate.$error.required && !frmCreateEmployee.txtstartDate.$prestine && submitted || frmCreateEmployee.txtstartDate.$error.required && frmCreateEmployee.txtstartDate.$dirty}" required />
                                        <label for="txtstartDate" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                    </div>
                                    <span class="error" ng-cloak ng-show="frmWorkSchedule.txtstartDate.$error.required && wsSubmitted">Please enter schedule start date</span>
                                </div>
                                <div class="col-sm-2 field-name no-padding-right">
                                    End (Optional)
                                </div>
                                <div class="col-sm-3 field-input no-padding-right">
                                    <div class="input-group">
                                        <input id="txtEndDate" name="Schedule.EndDate" type="text" class="form-control" placeholder="mm/dd/yyyy" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="forms.WorkScheduleEndDate" />
                                        <label for="txtEndDate" class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!--/Schedule start and end-->
                            <!--Weekly-->
                            <div class="clearfix"></div>
                            <div id="schedule-weekly" ng-show="ScheduleWeekly">
                                <div>
                                    <div class="col-sm-3 field-name manual-column">
                                        Hours per Day
                                    </div>
                                    <div class="col-sm-9 col-wrap">
                                        <div class="schedule-days">
                                            <div class="col-sm-1 field-input">
                                                Sunday
                                                <input type="hoursMinutes" ng-model="Times[0].TotalMinutes" class="form-control" />
                                            </div>
                                            <div class="col-sm-1 field-input">
                                                Monday
                                                <input type="hoursMinutes" ng-model="Times[1].TotalMinutes" class="form-control" />
                                            </div>
                                            <div class="col-sm-1 field-input">
                                                Tuesday
                                                <input type="hoursMinutes" ng-model="Times[2].TotalMinutes" class="form-control" />
                                            </div>
                                            <div class="col-sm-1 field-input">
                                                Wednesday
                                                <input type="hoursMinutes" ng-model="Times[3].TotalMinutes" class="form-control" />
                                            </div>
                                            <div class="col-sm-1 field-input">
                                                Thursday
                                                <input type="hoursMinutes" ng-model="Times[4].TotalMinutes" class="form-control" />
                                            </div>
                                            <div class="col-sm-1 field-input">
                                                Friday
                                                <input type="hoursMinutes" ng-model="Times[5].TotalMinutes" class="form-control" />
                                            </div>
                                            <div class="col-sm-1 field-input">
                                                Saturday
                                                <input type="hoursMinutes" ng-model="Times[6].TotalMinutes" class="form-control" />
                                            </div>
                                        </div>
                                        <span class="error col-sm-12" ng-cloak ng-show="ShowWeeklyHourError && wsSubmitted">Please enter hours for at least one day</span>
                                    </div>
                                </div>
                            </div>
                            <!--/Weekly-->
                            <!--Rotating-->
                            <div id="schedule-rotating" ng-show="ScheduleRotating">
                                <div class="col-sm-3 field-name">
                                    Days in Rotation
                                </div>
                                <div class="col-sm-9 field-input">
                                    <input class="form-control" id="daysInRotation" ng-model="forms.RotationDays" />
                                </div>
                            </div>
                            <div id="schedule-rotating-per-day" ng-show="forms.RotationDays > 0">
                                <div ng-show="ScheduleRotating">
                                    <div class="col-sm-3 field-name manual-column">
                                        Hours per Day
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="schedule-days">
                                            <div class="col-sm-1 field-input" ng-repeat="day in forms.rotationArray track by $index">
                                                Day {{$index+1}}
                                                <input type="hoursMinutes" ng-model="Times[$index].TotalMinutes" class="form-control" name="WorkSchedule.Times[{{$index}}].TotalMinutes" />
                                            </div>
                                        </div>
                                        <span class="error col-sm-12" ng-cloak ng-show="ShowRotationHourError && wsSubmitted">Please enter hours for at least one day</span>
                                    </div>
                                </div>
                            </div>
                            <!--/Rotating-->
                            <!--Manual-->
                            <div id="schedule-one-time" ng-show="ScheduleOneTime">
                                <div>
                                    <div class="col-sm-12 field-name manual-column">
                                        Hours per Day
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-12" ng-show="forms.FilteredDates.length > 0" ng-cloak style="margin-top:10px;">
                                            <div class="col-sm-3 pull-left" style="padding-left:0px !important;">
                                                <a style="cursor:pointer" ng-click="GoToMonth('Prev')"><< {{PrevMonthName}}</a>
                                            </div>
                                            <div class="col-sm-6 clearfix text-center">
                                                <strong>{{CurrentMonthName}}</strong>
                                            </div>
                                            <div class="col-sm-3" style="padding:0px !important;">
                                                <div class="pull-right">
                                                    <a style="cursor:pointer" ng-click="GoToMonth('Next')">{{NextMonthName}} >></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="schedule-days">
                                            <div ng-repeat="day in forms.FilteredDates">
                                                <!--@*| filter:{Name:'April'}*@
                                            @*<div class="col-sm-2">{{day.MonthName}}</div>*@-->
                                                <div class="col-sm-2">
                                                    {{day.SampleDate | ISODateToDate | date: 'MM/dd'}}
                                                    <input type="hoursMinutes" class="form-control" ng-model="day.TotalMinutes" />
                                                </div>
                                            </div>
                                        </div>
                                        <span class="error col-sm-12" ng-cloak ng-show="ShowManualHourError && wsSubmitted">Please enter hours for at least one day</span>
                                    </div>
                                </div>
                            </div>
                            <!--/Manual-->
                        </div>
                    </div>
                </div>
                <div class="row row-offset pull-center">
                    <button type="button" class="btn btn-primary" ng-click="wsSubmitted=true; ReviewWorkScheduleSave(frmWorkSchedule.$valid, false, true)">Update Schedule</button>
                    <button type="button" class="btn btn-primary" ng-click="ReviewWorkScheduleSave(true, true, false)">Close ToDo</button>
                </div>
            </div>
        </form>

        <!--NotifyManager-->
        <div ng-show="toDo.ItemType=='NotifyManager'">
            <div class="row row-offset">
                <div class="pull-center">
                    <a class="btn btn-primary" href="/Cases/{{WCManagerCaseReviewModel.CaseId}}/view">Review Case Details</a>
                </div>
            </div>
            <div class="row row-offset pull-center">
                <button type="button" class="btn btn-primary btn-centered" ng-click="CaseReviewCompleted(true)">Complete ToDo</button>
            </div>
        </div>

        <!--InitiateNewLeaveCase-->
        <div ng-show="toDo.ItemType=='InitiateNewLeaveCase'">
            <div class="row row-offset">
                <div class="pull-center">
                    According to Case # <a href="/Cases/{{InitiateNewLeaveTodo.CaseId}}/view">{{InitiateNewLeaveTodo.CaseNumber}}</a> <a class="btn btn-primary col-sm-offset-1" href="/Employees/{{InitiateNewLeaveTodo.EmployeeId}}/Cases/Create">Initiate New Leave</a>
                </div>
            </div>
            <div class="row row-offset pull-center">
                <button type="button" class="btn btn-primary btn-centered" ng-click="InitiateNewLeaveTodoCompleted()">Complete ToDo</button>
            </div>
        </div>

        <!--DetermineRequest-->
        <div ng-show="toDo.ItemType=='DetermineRequest'">
            <div class="row row-offset">
                <div class="col-sm-6 col-sm-offset-3">
                    <label class="col-header">
                        Date
                    </label>
                    <span ng-bind="IntermittentRequest.RequestDate | ISODateToDate | date: 'MM/dd/yyyy'"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <label class="col-header">
                        Time Requested
                    </label>
                    <span ng-bind="IntermittentRequest.TotalTime"></span>
                </div>
            </div>
            <div class="row" ng-show="IntermittentRequest.ManagerApproved">
                <div class="col-sm-6 col-sm-offset-3">
                    This request has been approved.
                </div>
            </div>
            <div class="row row-offset pull-center">
                <button type="button" class="btn btn-secondary" ng-click="CompleteToDo()">Keep Current Status</button>
                <button type="button" class="btn btn-danger" ng-click="DenyDetermineRequestToDo()">Deny</button>
                <button type="button" class="btn btn-primary" ng-click="ApproveDetermineRequestToDo()">Approve</button>
            </div>
        </div>

        <!--Question-->
        <div ng-if="toDo.ItemType=='Question'">
            <!--todo-Question-->
            <div class="row row-offset">
                <div class="col-sm-12 ">
                    <span class="ng-binding" ng-bind="QuestionConfiguration.Question.Title"></span>
                </div>


            </div>
            <div class="row row-offset">
                <div class="col-sm-12 ">
                    <div class="pull-center">
                        <button type="button" ng-repeat="answer in QuestionConfiguration.Question.AnswerOptions" id="answerbtn_{{$index}}" class="btn btn-info btn-centered" data-toggle="btn-save" data-target="#SaveQuestion" ng-bind="answer" ng-click="SelectAnswerButton($index)" style="margin-top:10px"></button>
                    </div>
                </div>
            </div>
            <div class="row row-offset" id="SaveQuestion" >
                <div class="pull-center">
                    <button type="button" class="btn btn-primary btn-save" ng-click="SaveQuestionToDo()">Save</button>
                </div>
            </div>

        </div>

            <!--Manual-->
            <div ng-show="toDo.ItemType=='Manual'">
                <div class="row row-offset pull-center">
                    <button type="button" class="btn btn-primary btn-centered" ng-click="CompleteManualTodo()">Complete ToDo</button>
                </div>
            </div>
            <div ng-show="toDo.Status!='Complete' && toDo.Status!='Cancelled'" class="modal-footer">
                <button type="button" class="btn btn-primary btn-centered btn-cancel" ng-click="cancelingToDo = true;" ng-show="toDo.Optional" has-permission="CancelToDo">Cancel This ToDo</button>
                <button class="btn btn-link" ng-click="cancel()">No thanks, I'll do this later</button>
            </div>
            <form name="forms.cancelToDoForm" id="cancelToDoForm">
                <div ng-show="cancelingToDo">
                    <label>Reason For Canceling</label>
                    <textarea name="cancelReason" id="cancelReason" class="form-control" rows="3" ng-model="toDo.cancelReason"></textarea>
                    <div class="pull-center">
                        <button type="button" class="btn btn-danger admin-delete-btn" ng-click="cancelToDo()">CANCEL TO-DO</button>
                    </div>
                </div>
            </form>
        </div><!--/.modal-body-->    
</script>
