﻿@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@model AbsenceSoft.Models.Signup.ChangePasswordModel


@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "js-focus-first-empty" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <p class="alert alert-info">
            Your account requires a new password as a result of password expiration policy or other
            administrative action.
        </p>
        <p class="text-info">
            Instructions: Please complete all fields below and then select <strong>Change Password.</strong>
        </p>
        <legend>Change Password</legend>
        @Html.EditorFor(m => m.UserId)
        @Html.EditorFor(m => m.CurrentPassword)
        @Html.EditorFor(m => m.NewPassword)
        @Html.EditorFor(m => m.ConfirmNewPassword)
        <button type="submit" class="btn btn-lg btn-default js-disable-on-submit">Change Password</button>
        @Html.ValidationSummary(true)
    </fieldset>
}

@section scriptsfooter{
    <script>
        $(function () {
            'use strict';

            $('.js-focus-first-empty')
                .find('input,textarea,select')
                .filter(function () {
                    return $(this).val().length === 0;
                })
                .filter(':visible:first')
                .focus();
            $('.js-disable-on-submit')
                .click(function (evt) {
                    $(this)
                        .disable()
                        .html('Please wait....');
                });
        });
    </script>
}