﻿@{
    ViewBag.Title = "Employee Self Service Registration - AbsenceTracker";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@model AbsenceSoft.Models.SelfServiceRegistration.SelfServiceRegistrationModel
<div>
    <form name="frmSelfServiceRegistration" novalidate>
        <div class="row row-offset">
            <div class="col-sm-12">
                <h1 ng-show="RegistrationEdit.ResetKey == null">Employee Registration</h1>
                <h1 ng-show="RegistrationEdit.ResetKey != null">Welcome back <span style="color:#ff8300; font-weight: bold;">{{RegistrationEdit.FirstName}} {{RegistrationEdit.LastName}}</span></h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            @if (Model.Errors == null || !Model.Errors.Any())
            {
            <div class="row">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-6 text-success text-center" style="font-weight:bold;">Registration completed successfully. Click here to <a href="/">login</a></div>
                <div class="col-sm-3">&nbsp;</div>
            </div>
            }
            else
            {
            <div class="row">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-6">
                    <div ng-repeat="err in ErrorMessages">
                        @foreach (var err in Model.Errors)
                        { 
                        <div class="error">@err</div><br />
                        }
                    </div>
                </div>
                <div class="col-sm-3">&nbsp;</div>
            </div>
            }
        </div>
    </form>
</div>
