﻿@{
    ViewBag.Title = "Login Disabled";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
    string loginPageDisabled = "An administrator has disabled logging in via username and password.  Please use the Single Sign On login method.";
    if(CurrentCustomer != null && CurrentCustomer.SecuritySettings != null && !string.IsNullOrWhiteSpace(CurrentCustomer.SecuritySettings.DisabledLoginPageText))
    {
        loginPageDisabled = CurrentCustomer.SecuritySettings.DisabledLoginPageText;
    }
}

<h3>The Login Page Has Been Disabled</h3>
<p>@Html.Raw(loginPageDisabled)</p>
