@{
    ViewBag.Title = "Employee Self Service Registration - AbsenceTracker";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@model AbsenceSoft.Models.SelfServiceRegistration.SelfServiceRegistrationModel
@{
    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
}

<!--SelfServiceRegistrationCtrl-->
<div ng-controller="SelfServiceRegistrationCtrl" ng-init="Init(@theModel)" ng-cloak>
    <form name="frmSelfServiceRegistration" novalidate>
        <div class="row row-offset">
            <div class="col-sm-12">
                <h1 ng-show="RegistrationEdit.ResetKey == null">Employee Registration</h1>
                <h1 ng-show="RegistrationEdit.ResetKey != null">Welcome back <span style="color:#ff8300; font-weight: bold;">{{RegistrationEdit.FirstName}} {{RegistrationEdit.LastName}}</span></h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" ng-show="RegistrationEdit.ResetKey == null && RegistrationComplete == false && ErrorMessages.length <= 0">
                <div class="col-sm-3">
                    &nbsp;
                </div>
                <div class="col-sm-6">
                    <!--Step One-->
                    <div>
                        <div class="col-sm-2 col-header">&nbsp;</div>
                        <div class="col-sm-7 col-header">
                            <img src="/Content/Images/absenceTracker-logo-200.png" alt="absenceTracker" class="logo center-block">
                            &nbsp;
                        </div>
                        <div class="col-sm-2 col-header">&nbsp;</div>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-2 col-header">&nbsp;</div>
                        <div class="col-sm-7 col-header">
                            <input type="text" class="form-control" name="FirstName" ng-model="RegistrationEdit.FirstName" ng-required="RegistrationEdit.ResetKey == null" placeholder="Enter First Name" required />
                            <span ng-show="frmSelfServiceRegistration.FirstName.$error.required && submitted" class="error">Please enter first name</span>
                        </div>
                        <div class="col-sm-2 col-header">&nbsp;</div>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-2 col-header">&nbsp;</div>
                        <div class="col-sm-7 col-header">
                            <input type="text" class="form-control" name="LastName" ng-model="RegistrationEdit.LastName" ng-required="RegistrationEdit.ResetKey == null" placeholder="Enter Last Name" required />
                            <span ng-show="frmSelfServiceRegistration.LastName.$error.required && submitted" class="error">Please enter last name</span>
                        </div>
                        <div class="col-sm-2 col-header">&nbsp;</div>

                        <div class="clearfix">&nbsp;</div>

                        <div class="col-sm-2 col-header">&nbsp;</div>
                        <div class="col-sm-7 col-header">
                            <input type="email" class="form-control" name="Email" 
                                   ng-model="RegistrationEdit.Email" 
                                   ng-required="RegistrationEdit.ResetKey == null" 
                                   ng-model-on-blur-employee-email 
                                   placeholder="Enter Email" />
                            <span ng-show="(frmSelfServiceRegistration.Email.$error.required && submitted) || (submitted && frmSelfServiceRegistration.Email.$error.email)" class="error">Please enter valid email</span>
                            <span class="error" ng-cloak ng-show="frmSelfServiceRegistration.Email.$error.employeeEmail">The email address, {{RegistrationEdit.Email}}, is not available for registration.  Please contact your System Administrator for assistance.</span>
                        </div>
                        <div class="col-sm-2 col-header">&nbsp;</div>
                    </div>

                </div>
                <div class="col-sm-3">
                    &nbsp;
                </div>
            </div>
            <div class="col-sm-12" ng-hide="RegistrationEdit.ResetKey == null || forms.ShowSuccessMessage || ErrorMessages.length > 0">
                <div class="col-sm-12">
                    <p style="font-weight:bold;">To complete the Employee Self Service Registration process, please enter your password.</p>
                </div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">&nbsp;</div>
                <div class="col-sm-12">
                    <div class="col-sm-3">&nbsp;</div>
                    <div class="col-sm-6 border">
                        <!--Step Two-->
                        <div>
                            <div class="row">
                                <div class="col-sm-4">
                                    Email
                                </div>
                                <div class="col-sm-6 field-input" ng-cloak>
                                    <label>{{RegistrationEdit.Email}}</label>
                                </div>
                            </div>
                            <div class="row row-offset">
                                <div class="col-sm-4">
                                    New Password
                                </div>
                                <div class="col-sm-6 field-input">
                                    <input type="password" ng-trim="false" ng-class="{'has-error': frmSelfServiceRegistration.Password.$error.required && submitted}" name="Password" ng-blur-password-check @*ng-pattern="PasswordRequirements" *@ ng-model="RegistrationEdit.Password" class="form-control" placeholder="Enter new password" title="Enter new password" ng-required="RegistrationEdit.ResetKey != null">
                                    <span class="error" ng-cloak ng-show="submitted && frmSelfServiceRegistration.Password.$error.required">Please enter password</span>
                                    <span class="error" ng-show="(frmSelfServiceRegistration.Password.$error.password && !frmSelfServiceRegistration.Password.$error.required) && (!frmSelfServiceRegistration.Password.$pristine || submitted)" ng-cloak>The password must be at least eight digits long, contain a minimum of one lower case character, one upper case character, and one digit or special character</span>
                                </div>
                                <div class="col-sm-1 password"><i ng-class="{'fa fa-eye fa-lg':ShowPassword, 'fa fa-eye-slash fa-lg':!ShowPassword}" ng-click="ShowPassword = !ShowPassword" tooltip="{{ShowPassword ? 'Click To Hide New Password' : 'Click To Show New Password'}}" style="cursor:pointer"></i></div>
                            </div>
                            <div class="row row-offset">
                                <div class="col-sm-4">
                                    Confirm Password
                                </div>
                                <div class="col-sm-6 field-input">
                                    <input type="password" ng-trim="false" name="ConfirmPassword" ng-class="{'has-error':(!frmSelfServiceRegistration.ConfirmPassword.$pristine || submitted) && frmSelfServiceRegistration.ConfirmPassword.$error.required}" ng-model="RegistrationEdit.ConfirmNewPassword" class="form-control" placeholder="Re-Enter new password" title="Re-Enter new password" ng-required="RegistrationEdit.ResetKey != null">
                                    <span class="error" ng-cloak ng-show="submitted && frmSelfServiceRegistration.ConfirmPassword.$error.required">Please re-enter password<br /></span>
                                    <span class="error" ng-cloak ng-show="RegistrationEdit.Password != RegistrationEdit.ConfirmNewPassword && frmSelfServiceRegistration.ConfirmPassword.$dirty && !frmSelfServiceRegistration.Password.$error.pattern && !frmSelfServiceRegistration.ConfirmPassword.$error.required">Password and Confirm password must match<br /></span>
                                    <span class="error" ng-cloak ng-show="frmSelfServiceRegistration.Password.$error.pattern && frmSignUpStep1.ConfirmPassword.$dirty">The password must be at least eight digits long, contain a minimum of one lower case character, one upper case character, and one digit or special character</span>
                                </div>
                                <div class="col-sm-1 confirm-password"><i ng-class="{'fa fa-eye fa-lg':ShowPassword, 'fa fa-eye-slash fa-lg':!ShowPassword}" ng-click="ShowPassword = !ShowPassword" tooltip="{{ShowPassword ? 'Click To Hide Confirm Password' : 'Click To Show Confirm Password'}}" style="cursor:pointer"></i></div>
                            </div>
                            @*<div class="row">
                                <div class="col-sm-4">&nbsp;</div>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" ng-blur-password-check name="Password" ng-model="RegistrationEdit.Password" ng-required="ResetKey != null" />
                                </div>
                                <div class="col-sm-4">&nbsp;</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">&nbsp;</div>
                                <div class="col-sm-8">
                                    <span class="error" ng-cloak ng-show="(!frmSelfServiceRegistration.Password.$pristine || submitted) && frmSelfServiceRegistration.Password.$error.required">Please enter password</span>
                                    <span class="error" ng-show="(!frmSelfServiceRegistration.Password.$pristine || submitted) && (frmSelfServiceRegistration.Password.$error.password && !frmSelfServiceRegistration.Password.$error.required)" ng-cloak>The password must be at least eight digits long, contain a minimum of one lower case character, one upper case character, and one digit or special character</span>
                                </div>
                                <div class="col-sm-2">&nbsp;</div>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-sm-3">&nbsp;</div>
                </div>
            </div>
            <div class="col-sm-12" ng-show="RegistrationEdit.ResetKey == null && RegistrationComplete == true">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-6 border">
                    <!--Registration Complete Text-->
                    <div>
                        <div class="col-sm-1 col-header">&nbsp;</div>
                        <div class="col-sm-10">
                            You have successfully enrolled for the Employee Self Service portal access. You will receive an email at the address you provided with instructions for completing the registration process.
                        </div>
                        <div class="col-sm-1 col-header">&nbsp;</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    &nbsp;
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            <div class="row" ng-if="forms.ShowSuccessMessage">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-6 text-success text-center" style="font-weight:bold;">Registration completed successfully. Click here to <a href="/">login</a></div>
                <div class="col-sm-3">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-3">&nbsp;</div>
                <div class="col-sm-6">
                    <div ng-repeat="err in ErrorMessages">
                        <div class="error">{{err}}</div><br />
                        <a href="" ng-click="reload()">Go Back</a>
                    </div>
                </div>
                <div class="col-sm-3">&nbsp;</div>
            </div>
            <div class="row" ng-if="ErrorMessages.length > 0">&nbsp;</div>
            <div class="row" ng-if="ErrorMessages.length > 0">&nbsp;</div>
            <div class="col-sm-12" ng-show="RegistrationComplete == false && ErrorMessages.length <= 0">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-2 col-header">&nbsp;</div>
                    <div class="col-sm-7 col-header">
                        <input type="button" class="btn btn-primary center-block" value="Submit" ng-show="RegistrationComplete == false && ErrorMessages.length <= 0" ng-disabled="IsDisabled" ng-click="submitted=true; SaveRegistration(frmSelfServiceRegistration.$valid)" />
                        &nbsp;
                    </div>
                    <div class="col-sm-2 col-header">&nbsp;</div>
                </div>
            </div>
        </div>
    </form>
</div>
<!--PoliciesCtrl-->
@section scripts{

<script type="text/javascript">

    $(document).on("click", ".password .fa-eye", function () {
        $("input[name='Password']").attr("type", "text");
    });

    $(document).on("click", ".password .fa-eye-slash", function () {
        $("input[name='Password']").attr("type", "Password");
    });

    $(document).on("click", ".confirm-password .fa-eye", function () {
        $("input[name='ConfirmPassword']").attr("type", "text");
    });

    $(document).on("click", ".confirm-password .fa-eye-slash", function () {
        $("input[name='ConfirmPassword']").attr("type", "Password");
    });

    $(document).on("click", ".current-password .fa-eye", function () {
        $("input[name='CurrentPassword']").attr("type", "text");
    });

    $(document).on("click", ".current-password .fa-eye-slash", function () {
        $("input[name='CurrentPassword']").attr("type", "Password");
    });


</script>

}
