<!--heading-->
@{
    if (ViewBag.IsEmployeeSelfService)
    {
        ViewBag.Title = "ESS - " + ViewBag.CurrentUserEmployeeName + " - " + ViewBag.CurrentUserEmployeeNumber;
    }
}
<div ng-controller="DashboardCtrl" ng-init="init('@ViewBag.IsEmployeeSelfService','@ViewBag.CurrentUserEmployeeId')" ng-cloak>
    <div id="heading" class="row">
        <div class="col-xs-12 dash-header dashboard-header">
            <h2 class="ml0"><i class="fa fa-dashboard"></i>DASHBOARD</h2>
            <div class="pull-right" has-permission="TeamDashboard">
                <select class="form-control" ng-model="ListType">
                    <option value="Individual" selected="selected">View My Items</option>
                    <option value="Team">View My Team's Items</option>
                    <option value="All" has-permission="AllItems">View All Items</option>
                </select>
            </div>
        </div>        
    </div><!--/#heading-->

    <div class="alert alert-warning alert-dismissable" ng-show="Error != null">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span ng-bind="Error"></span>
    </div>
    <!--charts-->
    @if(CurrentCustomerHasFeature(Feature.DashboardChart))
    {
        @Html.Partial("_DashboardChart")
    }
    <!--todo-->
    <div has-permission="ViewTodo">
        <dashboard-todos></dashboard-todos>
        <view-todo-modal></view-todo-modal>
    </div>
    <!--/#todo-->
    <!--Row for both Employees and Cases-->
    <div id="employees-cases" class="row row-offset" has-permission="TeamDashboard">
        <div class="col-sm-6">
            <!--#employees-->
            <dashboard-employees></dashboard-employees>
            <!--/#employees-->
        </div>
        <div class="col-sm-6">
            <!--#cases-->
            <dashboard-cases></dashboard-cases>
            <!--/#cases-->
        </div>

    </div><!--/Row for both Employees and Cases-->
    <div has-permission="TeamDashboard">
        <cases-last-reviewed></cases-last-reviewed>
    </div>
    <div class="row row-offset" ng-if="IsEmployee || IsHRSupervisor">
        <div class="col-sm-12">
            <employee-dash></employee-dash>
        </div>
    </div>
</div>

