﻿@model AbsenceSoft.Models.Home.LoginModel
@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}


@using (Html.BeginForm("login", "home", new { ReturnUrl = @Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { id = "frmLogin" }))
{
    <fieldset class="login-box">
        <legend style="color:red">@ViewBag.Message</legend>
        @if (ViewBag.ShowLowerEnvironmentWarning == true)
        {
            <legend style="color:red">TESTING ENVIRONMENT – Use only for Training and Acceptance Testing</legend>
        }
        <legend>
            Welcome to <img src="@Url.Content("~/Content/Images/absenceTracker-logo-200.png")" alt="absenceTracker" class="logo" /><br />
            @if (AbsenceSoft.Data.Security.User.IsEmployeeSelfServicePortal)
            {
                <span style="font-size:12px">Employee Self Service Portal</span>
            }
        </legend>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email address", autocomplete = "on", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control input-lg" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="col-sm-1 show-hide-password"><i class="fa fa-eye fa-lg passwordtoggle" tooltip="Click To Show Password" style="cursor:pointer"></i></div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 terms-of-use">
                @if (ViewBag.TermsConditions == null || ViewBag.TermsConditions)
                {
                    <input type="checkbox" id="chkLogin" name="chkLogin" class="" checked />
                }
                else
                {
                    <input type="checkbox" id="chkLogin" name="chkLogin" class="" />
                }
                <span>By logging into this site, you agree to the site's @Html.ActionLink("Terms and Conditions", "TermsAndConditions", "Home").</span>
                <div ng-show=" ielt8"><label class="ielt8-warning">Note: AbsenceTracker(TM) works best with Chrome, FireFox or IE version 10 or later</label></div>
                <h5 class="error" id="hError">@ViewBag.LoginError</h5>
            </div>
        </div>
        <div class="row row-offset">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="pull-left" ng-controller="ForgotPasswordCtrl">
                    <a ng-click="openForgotPasswordModal()">Forgot Password?</a>
                </div>
                @if (AbsenceSoft.Data.Security.User.IsEmployeeSelfServicePortal)
                {
                    <div class="pull-left">
                        <a href="@Url.Action("EmployeeRegistration", "Home")" class="btn btn-link">Register</a>
                    </div>
                }
                <div class="pull-right btn-login">
                    <button type="submit" title="Login" id="btnLogin" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
        @if (Model.ShowSsoButton)
        {
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                    <div class="form-group">
                        <div class="border-login">
                            <span>OR</span>
                        </div>
                        <div class="defaultlogo @if (Model.ShowLogo) {<text>showlogo</text>} ">
                            <a href="@Url.Action("AssertionInitiate", "SSO")" class="btn btn-sso">LOGIN WITH @Model.PortalName</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </fieldset>
}
<!-- Modal -->
<forgot-password-modal></forgot-password-modal>
<!-- /Modal -->



@section scripts{
    <script type="text/javascript">

        //Credit to http://stackoverflow.com/questions/4961072/jquery-continuous-mousedown
        // Mouse is not down on page load
        var mouseStillDown = false;
        // Run function on mousedown event
        $(document).on("mousedown", ".passwordtoggle", function (event) {
            //Change variable to mouse down
            mouseStillDown = true;
            mouseDownFunction();
        });
        //Mouse down function changes input attribute
        function mouseDownFunction() {
            //console.log("mouse down");
            $("input[id='Password']").attr("type", "text");
            //change eye icons
            $(".passwordtoggle").removeClass("fa-eye").addClass("fa-eye-slash");
        }
        // Run function on mouseup event
        $(document).on("mouseup", ".passwordtoggle", function (event) {
            //Change variable to mouse up
            mouseStillDown = false;
            mouseUpFunction();
        });
        //Mouse up function changes input attribute
        function mouseUpFunction() {
            //console.log("mouse up");
            $("input[id='Password']").attr("type", "Password");
            //change eye icons
            $(".passwordtoggle").removeClass("fa-eye-slash").addClass("fa-eye");
        }

        $(document).ready(function () {
            $("#frmLogin").submit(function (e) {
                var checked = $("#chkLogin").is(":checked");
                if (!checked) {
                    //var n = noty({ timeout: 10000, layout: 'topRight', type: 'error', text: "You must accept the terms and condition to proceed" });
                    $("#hError").text("You must accept the terms and condition to proceed")
                    e.preventDefault();
                }
            });
        });
    </script>

}

