﻿@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <form name="frmResetPassword" method="post" action="@Request.Url.AbsoluteUri" novalidate>
            <fieldset ng-controller="ResetPasswordCtrl">
                <legend class="text-center">Reset your <img src="@Url.Content("~/Content/Images/absenceTracker-logo-200.png")" alt="absenceTracker" class="logo" /> password</legend>
                <div class="col-sm-offset-3 col-sm-6">
                    <div class="form-horizontal">
                        <div class="form-group eye-toggle-container">
							<div class="col-sm-offset-1 col-sm-10"><input type="password" ng-class="{'has-error':(!frmResetPassword.newpassword.$pristine || submitted) && (frmResetPassword.newpassword.$error.required && frmResetPassword.newpassword.$error.password)}" ng-trim="false" name="newpassword" ng-blur-password-check @*ng-pattern="PasswordRequirements"*@ ng-model="NewPassword" class="form-control" title="New Password" placeholder="New Password" required />				
                            <span class="error" ng-cloak ng-show="(!frmResetPassword.newpassword.$pristine || submitted) && frmResetPassword.newpassword.$error.required">Please enter new password</span>
                            <span class="error" ng-show="(!frmResetPassword.newpassword.$pristine || submitted) && (frmResetPassword.newpassword.$error.password && !frmResetPassword.newpassword.$error.required)" ng-cloak>The password must be at least eight characters long, contains a minimum of one lower case character, one upper case character, and one digit or special character</span>
							</div>
							<div class="col-sm-1" >
									<i class="glyphicon glyphicon-eye-close" tooltip="Click To Show Password"></i>
									<i class="glyphicon glyphicon-eye-open" tooltip="Click To Hide Password"></i>
							</div>
                        </div>
                        <div class="form-group eye-toggle-container">
							<div class="col-sm-offset-1 col-sm-10">
                            <input type="password" ng-trim="false" name="confirmPassword" ng-model="confirmPassword" class="form-control" placeholder="Re-enter Password" title="Re-enter Password" required />
                            <span class="error" ng-cloak ng-show="(!frmResetPassword.confirmPassword.$prestine || frmResetPassword.confirmPassword.$dirty)  && submitted && frmResetPassword.confirmPassword.$error.required">Please Re-enter new password</span>
                            <span class="error" ng-cloak ng-show="NewPassword != confirmPassword && frmResetPassword.confirmPassword.$dirty && !frmResetPassword.newpassword.$error.password">Password and Confirm password does not match</span>
							</div>
							<div class="col-sm-1" >
									<i class="glyphicon glyphicon-eye-close" tooltip="Click To Show Password"></i>
									<i class="glyphicon glyphicon-eye-open" tooltip="Click To Hide Password"></i>
							</div>
                        </div>
                        <div class="form-group">
							<div class="col-sm-1"></div>
							<div class="col-sm-10">
                            <a href="/" class="btn btn-link">Cancel</a>
                            <button type="button" ng-click="submitted = true; ResetPassword(frmResetPassword.$valid)" class="btn btn-primary">Reset Password</button>
							</div>
							<div class="col-sm-1" alignment="left"></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

