﻿@{
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
<div ng-controller="SignUpCtrl" ng-init="init()">
    <div class="row row-offset">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div ng-view=""></div>
                <script type=text/ng-template id=account.html>
                    
                </script>
                <script type=text/ng-template id=customer.html>
                    <div class="col-sm-12">
                        <h3 class="text-left">Step 2 of 3</h3>
                        <hr />
                    </div>
                    <form name="frmSignUpStep2">
                        <div id="step2">
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-2 field-name">
                                    Address
                                </div>
                                <div class="col-sm-10  field-input">
                                    <textarea class="form-control input-sm" name="Address" placeholder="Enter Address" title="Enter Address" ng-model="SignUpData.Company.Address" value="{{SignUpData.Company.Address}}" ng-cloak required></textarea>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep2.Address.$prestine || frmSignUpStep2.Address.$dirty)  && submitted && frmSignUpStep2.Address.$error.required">Please enter address</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-wrap">
                                <div class="col-sm-4 field-name">
                                    Phone Number
                                </div>
                                <div class="col-sm-8 field-input">
                                    <input type="number" name="PhoneNumber" class="form-control input-sm" placeholder="Enter Phone Number" title="Enter PHone Number" ng-model="SignUpData.Company.Phone" value="{{SignUpData.Company.Phone}}" ng-cloak required />
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep2.PhoneNumber.$prestine || frmSignUpStep2.PhoneNumber.$dirty)  && submitted && frmSignUpStep2.PhoneNumber.$error.required">Please enter phone number</span>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep2.PhoneNumber.$prestine || frmSignUpStep2.PhoneNumber.$dirty)  && submitted && frmSignUpStep2.PhoneNumber.$error.number">Please enter a valid phone number</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-2 field-name">
                                    Subdomain
                                </div>
                                <div class="col-sm-4 field-input">
                                    <input type="text" class="form-control input-sm" title="Enter Subdomain" placeholder="Enter Subdomain" name="SubDomain" ng-model="SignUpData.Company.Subdomain" value="{{SignUpData.Company.Subdomain}}" ng-cloak required />
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep2.SubDomain.$prestine || frmSignUpStep2.SubDomain.$dirty)  && submitted && frmSignUpStep2.SubDomain.$error.required">Please enter subdomain</span>
                                </div>
                                <span><h5>.absencesoft.com</h5></span>
                                <div class="clearfix"></div>
                                <span class="glyphicon glyphicon-icon remove_2" ng-show="!SubdomainIsAvailable" data-toggle="tooltip" data-placement="right" data-original-title="Subdomain is not available" bs-tooltip ng-cloak></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12">
                                <hr />
                                <span class="pull-right">
                                    &nbsp;&nbsp;
                                    @Html.ActionLink("No, continue registration later!", "Logout", "Home")
                                    @*<a ng-click="CancelRegistration()" class="btn btn-link pull-right">No, continue registration later</a>*@
                                </span>
                                <span class="pull-right">
                                    <input type="button" class="btn btn-primary pull-right" value="Yes, continue registration" ng-click="submitted=true; SaveCompanyWithConfiguration(frmSignUpStep2.$valid)" />
                                </span>
                            </div>
                        </div>
                    </form>
                </script>
                <script type=text/ng-template id=employee.html>
                    <div class="col-sm-12">
                        <h3 class="text-left">Step 3 of 3</h3>
                        <hr />
                    </div>
                    <form name="frmSignUpStep3">
                        <div id="step3">
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-6 col-wrap">
                                    <div class="col-sm-4 field-name">
                                        Signature Name
                                    </div>
                                    <div class="col-sm-8 field-input">
                                        <input type="text" class="form-control input-sm" name="SignatureName" placeholder="Enter SignatureName" ng-model="SignUpData.Employer.SignatureName" title="Enter SignatureName" value="{{SignUpData.Employer.SignatureName}}" ng-cloak required />
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.SignatureName.$pristine || submitted) && frmSignUpStep3.SignatureName.$error.required">Please enter Signature Name</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-wrap">
                                    <div class="col-sm-4 field-name">
                                        Company Phone
                                    </div>
                                    <div class="col-sm-8 field-input">
                                        <input type="number" class="form-control input-sm" name="CompanyPhone" placeholder="Enter CompanyPhone" ng-model="SignUpData.Employer.CompanyPhone" title="Enter CompanyPhone" value="{{SignUpData.Employer.CompanyPhone}}" ng-cloak required />
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.CompanyPhone.$pristine || submitted) && frmSignUpStep3.CompanyPhone.$error.required">Please enter Company Phone</span>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.CompanyPhone.$pristine || submitted) && frmSignUpStep3.CompanyPhone.$error.number">Please enter valid Phone number</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-6 col-wrap">
                                    <div class="col-sm-4 field-name">
                                        Weekly Work Hours
                                    </div>
                                    <div class="col-sm-8 field-input">
                                        <input type="number" class="form-control input-sm" name="WorkHours" placeholder="Enter WorkHours" ng-model="SignUpData.Employer.WorkHours" title="Enter WorkHours" value="{{SignUpData.Employer.WorkHours}}" ng-cloak required />
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.WorkHours.$pristine || submitted) && frmSignUpStep3.WorkHours.$error.required">Please enter Work Hours</span>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.WorkHours.$pristine || submitted) && frmSignUpStep3.WorkHours.$error.number">Please enter valid Work hours</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-wrap">
                                    <div class="col-sm-4 field-name">
                                        FML Period Type
                                    </div>
                                    <div class="col-sm-8 field-input">
                                        <select class="form-control" name="FMLPeriodType" ng-model="SignUpData.Employer.FMLPeriodType" ng-options="r as r.Text for r in FMLPeriodTypes" required>
                                            <option value="">Select One</option>
                                        </select>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.FMLPeriodType.$pristine || submitted) && frmSignUpStep3.FMLPeriodType.$error.required">Please select FML Period Type</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-12 col-wrap" ng-cloak ng-show="SignUpData.Employer.FMLPeriodType.Text == 'Fixed Reset Period'">
                                <div class="col-sm-6 col-wrap">
                                    <div class="col-sm-4 field-name">
                                        Reset Month
                                    </div>
                                    <div class="col-sm-8 field-input">
                                        <select name="ResetMonth" class="form-control" ng-model="SignUpData.Employer.ResetMonth" ng-required="SignUpData.Employer.FMLPeriodType.Text == 'Fixed Reset Period'">
                                            <option value="" selected="selected">Select Month</option>
                                            <option value="january">1</option>
                                            <option value="february">2</option>
                                            <option value="march">3</option>
                                            <option value="april">4</option>
                                            <option value="may">5</option>
                                            <option value="june">6</option>
                                            <option value="july">7</option>
                                            <option value="august">8</option>
                                            <option value="september">9</option>
                                            <option value="october">10</option>
                                            <option value="november">11</option>
                                            <option value="december">12</option>
                                        </select>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.ResetMonth.$pristine || submitted) && frmSignUpStep3.ResetMonth.$error.required">Please select Month</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-wrap">
                                    <div class="col-sm-4 field-name">
                                        Reset Day Of Month
                                    </div>
                                    <div class="col-sm-8 field-input">
                                        <select name="ResetDayofMonth" class="form-control" ng-model="SignUpData.Employer.ResetDayofMonth" ng-required="SignUpData.Employer.FMLPeriodType.Text == 'Fixed Reset Period'">
                                            <option selected="selected" value="">Select Day</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.ResetDayofMonth.$pristine || submitted) && frmSignUpStep3.ResetDayofMonth.$error.required">Please select Day</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix" ng-cloak ng-show="SignUpData.Employer.FMLPeriodType.Text == 'Fixed Reset Period'">&nbsp;</div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-2 field-name">
                                    Company Address
                                </div>
                                <div class="col-sm-10 field-input">
                                    <textarea class="form-control input-sm" name="CompanyAddress" placeholder="Enter Company Address" ng-model="SignUpData.Employer.CompanyAddress" title="Enter Address" value="{{SignUpData.Employer.CompanyAddress}}" ng-cloak required></textarea>
                                    <span class="error" ng-cloak ng-show="(!frmSignUpStep3.CompanyAddress.$pristine || submitted) && frmSignUpStep3.CompanyAddress.$error.required">Please enter Address</span>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-offset-2 col-sm-10 field-name">
                                    Enable 50 in 75 Rule?
                                </div>
                                <div class="col-sm-offset-2 col-sm-7 field-input">
                                    <div class="btn-group">
                                        <button type="button" name="Enable50In75MileRule" class="btn btn-primary" ng-model="SignUpData.Employer.Enable50In75MileRule" btn-radio="true">Yes</button>
                                        <button type="button" name="Enable50In75MileRule" class="btn btn-primary" ng-model="SignUpData.Employer.Enable50In75MileRule" btn-radio="false">No</button><br />
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.Enable50In75MileRule.$pristine || submitted) && SignUpData.Employer.Enable50In75MileRule != true && SignUpData.Employer.Enable50In75MileRule != false">Please select yes/no</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-offset-2 col-sm-10 field-name">
                                    Allow Intermittent Time for Birth, Adoption, or Foster Care for FMLState policies where applicable/chosen by law?
                                </div>
                                <div class="col-sm-offset-2 col-sm-7 field-input">
                                    <div class="btn-group">
                                        <button type="button" name="AllowIntermittentForBirthAdoptionOrFosterCare" class="btn btn-primary" ng-model="SignUpData.Employer.AllowIntermittentForBirthAdoptionOrFosterCare" btn-radio="true">Yes</button>
                                        <button type="button" name="AllowIntermittentForBirthAdoptionOrFosterCare" class="btn btn-primary" ng-model="SignUpData.Employer.AllowIntermittentForBirthAdoptionOrFosterCare" btn-radio="false">No</button><br />
                                        <span class="error" ng-cloak ng-show="(!frmSignUpStep3.AllowIntermittentForBirthAdoptionOrFosterCare.$pristine || submitted) && SignUpData.Employer.AllowIntermittentForBirthAdoptionOrFosterCare != true && SignUpData.Employer.AllowIntermittentForBirthAdoptionOrFosterCare != false">Please select yes/no</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-10 col-sm-offset-2  field-name">
                                    <input type="checkbox" id="chkUseSpouseAtSameEmployerRule" name="UseSpouseAtSameEmployerRule" ng-model="SignUpData.Employer.UseSpouseAtSameEmployerRule" value="{{SignUpData.Employer.UseSpouseAtSameEmployerRule}}" />
                                    <label for="chkUseSpouseAtSameEmployerRule">&nbsp;Use spouse at same employer rule</label>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-12 col-wrap" ng-controller="CustAttachmentsCtrl" ng-init="init(1,04/30/2014)">
                                <div class="col-sm-2 col-wrap">
                                    <div class="col-sm-2 field-name">Customer Logo</div><br />
                                    @*<div class="btn-icon-attachment-index"></div>*@
                                </div>
                                <div class="col-sm-10">
                                    <div class="col-sm-12 dragzone">
                                        <input id="customerLogo" style="display:none" type="file" name="customerLogo" data-url="/Customers/1/File/Create" multiple data-sequential-uploads="true">
                                        <label id="caseAttachmentsLabel" for="customerLogo" class="btn btn-primary">Select Files</label>
                                        <label for="customerLogo">or drag and drop.</label>

                                        @*<label style="margin-top:12px;" class="pull-right">{{NewAttachments.length}} file(s) selected</label>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="progress">
                                            <div class="bar" style="width: 0%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">&nbsp;</div>
                                <div id="newAttachments" class="col-sm-10 col-sm-offset-2 col-wrap" ng-show="NewAttachments.length > 0 && IsUploadInProgress == false">
                                    <div class="col-sm-3 col-header">Category</div>
                                    <div class="col-sm-6 col-header">Description</div>
                                    <div class="col-sm-3 col-header">Attachment</div>
                                </div>
                                <div ng-repeat="attachment in NewAttachments">
                                    <div class="col-sm-10 col-sm-offset-2 col-wrap">
                                        <div ng-show="attachment.IsUploading==false">
                                            <div class="col-sm-3">
                                                <select ng-model="attachment.AttachmentType" class="form-control">
                                                    <option value="2">Paperwork</option>
                                                    <option value="3">Documentation</option>
                                                    <option value="1">Communication</option>
                                                    <option value="0">Other</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <textarea class="form-control" ng-model="attachment.Description" rows="3"></textarea>
                                            </div>
                                            <div class="col-sm-3">
                                                <div>{{attachment.FileName}}</div>
                                                <div><a href="" ng-click="CancelFileUpload(attachment)">Cancel</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-10" ng-show="attachment.ShowMessage==true">{{attachment.Message}}</div>
                                        <div class="col-sm-2">
                                            <button type="button" ng-show="attachment.ShowCancel==true" class="btn btn-link" ng-click="CancelFileUpload(attachment)">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="NewAttachments.length > 0">
                                    <div class="col-sm-2 col-sm-offset-10">
                                        <button type="button" class="btn btn-primary" ng-disabled="isDisabled" ng-click="isDisabled=true; UploadFiles()">Upload</button>
                                    </div>
                                </div>
                                <!--./Add new-->
                                <div id="previousAttachments" class="row row-header row-offset row-style" ng-show="Attachments.length > 0">
                                    <div class="col-sm-2">Date</div>
                                    <div class="col-sm-3">Category</div>
                                    <div class="col-sm-3">Description</div>
                                    <div class="col-sm-3">Attachment</div>
                                    <div class="col-sm-1"></div>
                                </div>
                                <div class="row" ng-repeat="attachment in Attachments | orderBy:'-CreatedDate'">
                                    <div class="col-sm-2">{{attachment.CreatedDate | ToDate | date:'MM/dd/yyyy'}}</div>
                                    <div class="col-sm-3">{{attachment.AttachmentTypeName}}</div>
                                    <div class="col-sm-3">{{attachment.Description}}</div>
                                    <div class="col-sm-3"><a href="/Cases/{{CaseId}}/Attachments/{{attachment.Id}}">{{attachment.FileName}}</a></div>
                                    <div class="col-sm-1 text-center"><a href="javascript:void(0);" ng-click="Delete(attachment)">Delete</a></div>
                                </div>
                            </div>
                            <div class="clearfix">&nbsp;</div>
                            <div class="col-sm-12 col-wrap">
                                <div class="col-sm-2 field-name">
                                    Holidays
                                </div>
                                <div class="col-sm-10 field-input">
                                    <span ng-repeat="holiday in Holidays">
                                        <input class="pull-left" type="checkbox" ng-model="holiday.isChecked" name="group" id="{{holiday.id}}" />
                                        <label class="pull-left" for="{{holiday.id}}">&nbsp;{{holiday.name}}&nbsp;</label>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <hr />
                                <span class="pull-right">
                                    &nbsp;&nbsp;
                                    <a ng-click="" class="btn btn-link pull-right">Cancel</a>
                                </span>
                                <span class="pull-right">
                                    <input type="button" class="btn btn-primary pull-right" value="Save" ng-click="submitted=true; SaveCompanyWithConfiguration(frmSignUpStep3.$valid)" />
                                </span>
                            </div>
                        </div>
                    </form>
                </script>
            </div><!--/.row-->
        </div><!--/.col-sm-8-->
    </div><!--/.row row-offset-->
</div><!--/ng-controller="SignUpCtrl"-->
