﻿@{
    ViewBag.Title = "SuccessResetPassword";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<fieldset class="mt12">
    <legend class="text-center">Password has been reset successfully. <a href="/">Click here to login</a></legend>
</fieldset>
