﻿
@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<h2>TERMS & CONDITIONS OF AbsenceTracker™ PURCHASE</h2>

<p>
These Terms and Conditions govern Your use of AbsenceTracker™, a product of AbsenceSoft, LLC (“AbsenceSoft").  If you register for a free trial, these Terms and Conditions will also govern that free trial.
By agreeing to the 30 day free trial or purchasing AbsenceSoft’s services and by clicking on “Agree”, You agree to these Terms and Conditions (the “Agreement”), and the effective date shall be the date of your free trial or purchase on behalf of your company (the company or other legal entity, or their affiliate entities, for which you are accepting this Agreement shall be referred to herein as “You” or “Your”).  If You are entering into this Agreement on behalf of a company or other legal entity, You represent that You have the authority to bind such entity to these terms and conditions.
AbsenceSoft’s product, AbsenceTracker™, is solely intended for legitimate customers seeking advice regarding their employees’ eligibility under FMLA, State Leaves and ADA.  AbsenceTracker™’s competitors may not access AbsenceTracker™ for any purpose whatsoever, including but not limited to design, functionality, availability, or any benchmarking or competitive purpose, without prior written consent, which AbsenceSoft may withhold at its discretion.
The last date of modification of this Agreement is April 15, 2014.

<p>
AbsenceSoft is making AbsenceTracker™ available for a 30 day free trial.  After the expiration of the 30 day free trial, in the event You do not purchase AbsenceTracker™, You will immediately and permanently lose any data and customizations You have input during the 30 day free trial.  Similarly, in the event AbsenceTracker™ is purchased after the expiration of the expiration of the 30 day trial, the data input during the 30 day trial will not be recoverable.  Therefore, you must export your data before the end of the free trial.
Following the free trial, You understand that AbsenceSoft will invoice you.  Payment is due on the 31st day after beginning Your free trial (or on the day of purchase if You do not utilize a free trial) and on the 1 month anniversary of that billing.  For example, if Your 30 day free trial begins on April 15, You will be billed on May 15, and on the 15th of each succeeding month thereafter unless terminated by You.  If You do not wish to purchase AbsenceTracker™, You must provide notice of Your intent to cancel the free trial and to not purchase AbsenceTracker™ by utilizing the link to cancel on our website, otherwise your credit card will be billed as described above.
All monthly payments shall be billed on the monthly anniversary of your purchase, and entitle You to access to AbsenceTracker™ for that month.  In other words, an April 15th payment will allow You to access AbsenceTracker™ through and including May 14.  You agree that in the event You fail to make Your payment as required, AbsenceSoft may immediately terminate Your access to the AbsenceTracker™ website.  You understand and agree that in the event You fail to make Your payment, for any reason (whether due to Your failure or the failure or negligence of a third party) You will not be able to access or otherwise retrieve any data or records input into AbsenceTracker™ unless and until Your monthly payment has been received.  Receipt of these past due payments will NOT reset the payment date.  Thus, if your payment was due on May 15, and you do not pay until June 7, your next payment will be due on June 15.  All purchases made on the last day of the month will be billed again on the last day of the next month, regardless of whether the purchase is made on the 28th, 29th, 30th, or 31st of the month.
You may terminate this Agreement at any time by following the link on our website, and Your credit card will not be billed again after successfully terminating this Agreement.  However, in the event You choose to terminate this Agreement, You may only access Your information for the calendar month following the month for which You have paid, and no longer.  In other words, if You purchase on April 15, and cancel on April 25, You may continue to input data into AbsenceTracker™ until May 14, and to view the data (but no longer input data) until June 14.   AbsenceSoft may terminate this Agreement effective at the end of the next payment period subsequent to the notice on our website.
Your payment entitles You to a non-transferable and non-exclusive license from AbsenceSoft to use AbsenceTracker™.  You may not subcontract, rent, sell, lend or otherwise allow other parties to utilize Your monthly license to access AbsenceTracker™.   You agree You will not copy, modify, create a derivative work of, reverse engineer, or otherwise attempt to discover any source code, sell, assign, sublicense, grant a security interest in or otherwise transfer any right in the Application. You further agree You will not use AbsenceTracker™ to store or transmit infringing, libelous, or otherwise unlawful or tortious material;  to store or transmit material in violation of third-party privacy rights; to store or transmit Malicious Code; to interfere with or disrupt the integrity or performance of AbsenceTracker™ or third-party data contained therein; attempt to gain unauthorized access to AbsenceTracker™; or, permit direct or indirect access to or use AbsenceTracker™ in a way that circumvents contractual usage limits described below.
Your payment does not include any taxes or similar governmental assessments of any nature, including but not limited to use or sales taxes which may be assessable by any jurisdiction whatsoever (“Taxes”).  You are responsible for paying all Taxes associated with Your purchases hereunder.  Should AbsenceSoft have the legal obligation to pay or collect Taxes for which You are responsible as described herein, AbsenceTracker™ will post notice of same, and You agree that your payment will be adjusted accordingly on the date of your next payment, absent a tax exemption which You shall provide evidence of to AbsenceSoft’s satisfaction.
You understand that AbsenceTracker™ is intended only to advise you regarding your employees’ qualifications under FMLA (Family and Medical Leave Act), ADA (Americans with Disability Act) and their respective state counterparts.  You agree that you are not relying upon AbsenceTracker™ for legal advice.
The effectiveness of AbsenceTracker™ regarding employee eligibility is solely dependent upon Your input of accurate and reliable information.  Your use of AbsenceTracker™ is at your sole risk. AbsenceTracker™ is provided on an "as is" and "as available” basis.  You accept the risk that due to routine maintenance or technical difficulties, AbsenceTracker™ may, from time to time, be inaccessible.  No refunds will be provided in the event AbsenceTracker™ is unavailable and the unavailability of AbsenceTracker™ shall NOT constitute a breach of this Agreement by AbsenceSoft.  You must be at least 18 years of age to use AbsenceTracker™.
Except as expressly provided in this Agreement, AbsenceSoft makes no warranties, representations, conditions or indemnities of any kind, express or implied, statutory or otherwise with respect to the accuracy of the employment eligibility determination due to AbsenceSoft’s and AbsenceTracker™’s reliance upon Your input of information. ANY IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, TITLE, NON-INFRINGEMENT, OR FITNESS FOR A PARTICULAR PURPOSE, OR ANY IMPLIED WARRANTY ARISING FROM A COURSE OF DEALING OR USAGE OF TRADE ARE EXPRESSLY DISCLAIMED. AbsenceSoft disclaims any and all liability for special, punitive, exemplary, incidental or consequential damages (including loss of profits, attorneys’ fees incurred, or any damages awarded or settlement agreed to) against You or Your company by a court of competent jurisdiction, arbitration, or regulatory agency, arising out of Your use of AbsenceTracker™ or this Agreement. You agree that in the event You succeed at trial or arbitration in an action against AbsenceSoft, notwithstanding the above, that in no event, shall AbsenceSoft and/or its directors, officers, employees, or agents maximum collective liability for any claim or claims whatsoever, including claims for breach of contract, tort (including negligence) or otherwise, exceed the value your payments to AbsenceTracker™ during the time wherein the cause of the damages arose.
AbsenceSoft will make AbsenceTracker™ available to You pursuant to this Agreement and the applicable website forms and notices, provide AbsenceSoft’s support for the AbsenceTracker™ as part of the purchase, and/or upgraded support if purchased as it may become available.  AbsenceSoft will use commercially reasonable efforts to make AbsenceSoft available 24 hours a day, 7 days a week, except for planned downtime (of which AbsenceSoft shall give at least 8 hours electronic notice and which AbsenceSoft shall attempt to schedule during the weekend between 6:00 pm Friday and 6:00 am Monday, mountain time, and any unavailability caused by circumstances beyond AbsenceSoft’s reasonable control, including, but not limited to, acts of God or government, flood, fire, earthquake, civil unrest, act of terror, strike or other labor problem (other than one involving Our employees), internet service provider failure or delay, or denial of service attack.
AbsenceSoft shall implement and maintain procedures and safeguards for the security and confidentiality of the data You have input, as described on AbsenceSoft’s website. Those safeguards may include measures for preventing access, use, modification or disclosure of Your input data by AbsenceSoft employees except to provide AbsenceTracker™ services and prevent or address service or technical problems, (b) as compelled by law, or (c) as You may agree in writing.  Notwithstanding the above, You agree that AbsenceSoft, LLC may use, retain, and/or sell all data input into AbsenceTracker™ to third parties.  No identifying information of either employees or the entity will be used or sold.
AbsenceSoft will be responsible for the performance of its personnel (including AbsenceSoft employees and contractors) and their compliance with AbsenceSoft’s obligations under this Agreement, except as otherwise specified herein.
You shall defend, indemnify and hold harmless AbsenceSoft against any claim, demand, suit, or regulatory or other proceeding made or brought against AbsenceSoft by a third party alleging that Your data, or Your use of the AbsenceTracker™ services (the “Services”, violates applicable law, and You shall indemnify AbsenceSoft for any damages, attorney fees and costs awarded against AbsenceSoft as a result of, or for any amounts paid by us under court-approved settlement of such claims.
This Agreement shall be governed by the laws of the state of Colorado, and venue shall lay in Jefferson County, Colorado.
</p>

<p>
AbsenceSoft reserves the sole and exclusive right to modify the terms and conditions of this Agreement or its policies relating to AbsenceTracker™ at any time.  Modifications will become effective 30 days subsequent to the posting of such modifications on our website.  You are responsible for keeping apprised of any modifications of this Agreement, as may occur from time to time on AbsenceSoft’s website.  Your continued payments and use of AbsenceTracker™ subsequent to the effective date shall constitute acceptance of any modifications.
Unless otherwise provided in the online application, your purchase of AbsenceTracker™ from AbsenceSoft shall be considered a subscription to the Services.  You may add additional subscriptions at any time to Your purchase of AbsenceTracker™ (Your “Subscription”).
AbsenceTracker™ may be subject to user limits, including, for example, the number of users specified in Your Application.   Unless otherwise specified, in the event the Application refers to Users, then AbsenceTracker™’s Service may not be accessed by more than that number of Users.  Further, You agree that a User’s password may not be shared with any other individual and that User identification may be reassigned to a new individual in the event the older User no longer requires ongoing use of the Service or Content. If You exceed the User number as indicated on the Application, AbsenceSoft may work with You to seek to reduce Your usage so that it conforms to that limit. If, notwithstanding AbsenceSoft’s efforts, You are unable or unwilling to abide by a the usage limit, You agree that AbsenceSoft may unilaterally charge Your credit card to include the increased number of Users, including a charge for retroactive application of the increased Users.   You are responsible for your User’s adherence to this Agreement and the accuracy of data they may input into AbsenceTracker™.  All User’s under your control shall  use commercially reasonable efforts to prevent unauthorized access to or use of AbsenceTracker™ and You are solely responsible, and agree that User’s shall use AbsenceTracker™ only for lawful purposes.
 “Confidential Information” means all information disclosed by a party (“Disclosing Party”) to the other party (“Receiving Party”), whether orally or in writing, that is designated as confidential or that reasonably should be understood to be confidential given the nature of the information and the circumstances of disclosure. Your Confidential Information includes Your Data; AbsenceSoft’s Confidential Information includes AbsenceTracker™; and Confidential Information of each party includes the terms and conditions of this Agreement and the Application (including pricing), as well as business and marketing plans, technology and technical information, product plans and designs, and business processes disclosed by such party. However, Confidential Information does not include any information that (i) is or becomes generally known to the public without breach of any obligation owed to the Disclosing Party, (ii) was known to the Receiving Party prior to its disclosure by the Disclosing Party without breach of any obligation owed to the Disclosing Party, (iii) is received from a third party without breach of any obligation owed to the Disclosing Party, or (iv) was independently developed by the Receiving Party.
The Receiving Party will use the same degree of care that it uses to protect the confidentiality of its own confidential information of like kind (but not less than reasonable care) (i) not to use any Confidential Information of the Disclosing Party for any purpose outside the scope of this Agreement, and (ii) except as otherwise authorized by the Disclosing Party in writing, to limit access to Confidential Information of the Disclosing Party to those of its and its Affiliates’ employees and contractors who need that access for purposes consistent with this Agreement and who have signed confidentiality agreements with the Receiving Party containing protections no less stringent than those herein. Neither party will disclose the terms of this Agreement or the contents of the Application to any third party other than its Affiliates, legal counsel and accountants without the other party’s prior written consent, except as provided below, provided that a party that makes any such disclosure to its Affiliate, legal counsel or accountants will remain responsible for such Affiliate’s, legal counsel’s or accountant’s compliance with this provision. Notwithstanding the above, You agree that AbsenceSoft, LLC may use, retain, and/or sell all data input into AbsenceTracker™ to third parties.  Neither You nor your employees will be identifiable in the sale of such information. The Receiving Party may disclose Confidential Information of the Disclosing Party to the extent compelled by law to do so, provided the Receiving Party gives the Disclosing Party prior notice of the compelled disclosure (to the extent legally permitted) and reasonable assistance, at the Disclosing Party's cost, if the Disclosing Party wishes to contest the disclosure. If the Receiving Party is compelled by law to disclose the Disclosing Party’s Confidential Information as part of a civil proceeding to which the Disclosing Party is a party, and the Disclosing Party is not contesting the disclosure, the Disclosing Party will reimburse the Receiving Party for its reasonable cost of compiling and providing secure access to that Confidential Information.
You are prohibited from assigning any of your rights or obligations hereunder, whether by operation of law or otherwise, without the AbsenceSoft’s prior written consent (not to be unreasonably withheld); provided, however, You may assign this Agreement in its entirety (including all Order Forms), without AbsenceSoft’s consent to Your Affiliate or in connection with a merger, acquisition, corporate reorganization, or sale of all or substantially all of Your assets. Notwithstanding the foregoing, if Your are acquired by, sell substantially all of Your assets to, or undergo a change of control in favor of, a direct competitor of AbsenceSoft, then such other party may terminate this Agreement upon written notice. Subject to the foregoing, this Agreement will bind and inure to the benefit of both parties, their respective successors and permitted assigns.
</p>

