﻿@{
    Layout = "~/Views/Shared/_UnSecureLayout.cshtml";
}
<style type="text/css">
    #navbar-nav {
        display: none;
    }
</style>
<div class="container body-content">
    <hgroup>
        <h1>Unauthorized.</h1>

        <h2>@T("Errors.Users.Unauthorized", "Sorry, you are not authorized to view that resource. Please consult with your System Administrator.")</h2>

    </hgroup>
</div>