﻿
@{
    ViewBag.Title = "Employer Contact Bulk Upload";
}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left">
                    <h2>Employer Contact Bulk Upload of <span class="customer-name">@Current.Customer().Name</span></h2>
                </div>
                <div class="pull-right">
                    @Html.RouteLink("Cancel", "AdministrationIndex", null, new { @class="btn btn-primary-navbar-btn"})
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 dragzone">
                <input type="file" id="employerContactBulkUploadFile" class="hide" />
                <label for="employerContactBulkUploadFile" class="btn btn-primary">Select File</label>
                <label for="employerContactBulkUploadFile"> or drag and drop to upload a new CSV file.</label>
            </div>
        </div>
        <p id="errorUploadingContacts" class="row-offset hide error">
            Please review your file for any missing required fields.  You can reupload your file with the corrections to load the remaining contacts.
        </p>
        <p id="hideUnableToParseFile" class="row-offset error hide"></p>
        <div id="ecBulkUploadMessage" class="ad-loading-modal hide">
            <span class="fa fa-spin fa-spinner"></span> <h4>Parsing CSV File ... </h4>
        </div>
        <div class="pull-center row row-offset">
            @Html.RouteLink("Done", "AdministrationIndex", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

