﻿@model AbsenceSoft.Models.EmployerContacts.EmployerContactTypeViewModel

@{
    ViewBag.Title = "Edit Employer Contact Type";
}

@using (Ajax.BeginRouteForm("SaveEmployerContactType", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "editEmployerContactTypeForm",
    OnSuccess = "AbsenceSoft.PageStart('#editEmployerContactTypeForm')",
    InsertionMode = InsertionMode.ReplaceWith
}, new { id = "editEmployerContactTypeForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <h2>Employer Contact Type of <span class="customer-name">@Current.Customer().Name</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink("Cancel", "ViewEmployerContactTypes", null, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1">
                    @Html.HiddenFor(m => m.Id)
                    @Html.ValidationSummary(true, "Unable to save the employer contact type.  Plase see the validation errors below.")

                    <div class="row">
                        <div class="col-xs-12">
                            @Html.EditorFor(m => m.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.EditorFor(m => m.Code)
                        </div>
                    </div>
                    <div class="row pull-center">
                        <input type="submit" value="Save Employer Contact Type" class="btn btn-primary" />
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            @Ajax.RouteLink("Delete", "DeleteEmployerContactType", new { id = Model.Id }, new AjaxOptions()
                               {
                                   HttpMethod = "DELETE"
                               }, new { @class = "btn btn-danger" })
                        }
                        @Html.RouteLink("Cancel", "ViewEmployerContactTypes", null, new { @class = "btn btn-link" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
