﻿@model AbsenceSoft.Models.ContactViewModel

@{
    ViewBag.Title = "Edit Employer Contact";
}

@using (Ajax.BeginRouteForm("SaveEmployerContact", new { employerId = Model.EmployerId }, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "editEmployerContactForm",
    OnSuccess = "AbsenceSoft.PageStart('#editEmployerContactForm')",
    InsertionMode = InsertionMode.ReplaceWith
}, new { id = "editEmployerContactForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <h2>Employer Contact of <span class="customer-name">@Current.Employer().Name</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink("Cancel", "ViewEmployerContacts", new { employerId = Model.EmployerId }, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1">
                    @Html.HiddenFor(m => m.Id)
                    @Html.ValidationSummary(true, "Unable to save the employer contact.  Plase see the validation errors below.")

                    <div class="row">
                        <div class="col-xs-12">
                            @Html.EditorFor(m => m.FirstName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.EditorFor(m => m.LastName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.EditorFor(m => m.Email)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.EditorFor(m => m.Phone)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.EditorFor(m => m.Fax)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.EditorFor(m => m.ContactTypeCode)
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-xs-12">                                                          
                            @Html.EditorFor(m => m.EndDate, "{0:MM/dd/yyyy}", new { @class = "form-control date-editor" })                                                         
                        </div>
                    </div>                        
                    <div class="row pull-center">
                        <input type="submit" value="Save Employer Contact" class="btn btn-primary" />
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            @Ajax.RouteLink("Delete", "DeleteEmployerContact", new { employerId = Model.EmployerId, id = Model.Id }, new AjaxOptions()
                       {
                           HttpMethod = "DELETE"
                       }, new { @class = "btn btn-danger" })
                        }
                        @Html.RouteLink("Cancel", "ViewEmployerContacts", new { employerId = Model.EmployerId }, new { @class = "btn btn-link" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
