﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    string name = item.Get<string>("Name");
    string code = item.Get<string>("Code");

    <a href="@Url.RouteUrl("EditEmployerContactType", new {id = id})">
        <div class="col-sm-6">
            @name
        </div>
        <div class="col-sm-6">
            @code
        </div>
    </a>
}