﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    string employerId = item.Get<string>("EmployerId");
    string firstName = item.Get<string>("FirstName");
    string lastName = item.Get<string>("LastName");
    string email = item.Get<string>("Email");
    string contactType = item.Get<string>("ContactTypeCode");
    DateTime? endDate = item.Get<DateTime?>("EndDate");
    <a href="@Url.RouteUrl("EditEmployerContact", new {id = id, employerId = employerId})">
        <div class="row">
            <div class="col-sm-2 list-overflow">
                @firstName
            </div>
            <div class="col-sm-2 list-overflow">
                @lastName
            </div>
            <div class="col-sm-2 list-overflow">
                @email
            </div>
            <div class="col-sm-2 list-overflow">
                @contactType
            </div>
            <div class="col-sm-2">
                @(string.Format("{0:MM/dd/yyyy}", endDate))
            </div>
        </div>
    </a>
}