﻿
@{
    ViewBag.Title = "View Employer Contacts";
}


<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h2>Employer Contacts of <span class="customer-name">@Current.Employer().Name</span></h2>
                </div>
                <div class="pull-right">
                    @Html.RouteLink("Back", "AdministrationIndex", null, new { @class = "btn btn-primary navbar-btn" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row item-list">
            <input type="hidden" class="page" value="1" />
            <input type="hidden" class="url" value="@Url.RouteUrl("ListEmployerContacts")" />
            <input type="hidden" class="total" value="" />
            <div class="col-sm-2">
                <div class="content-section">
                    Employer Contacts
                    @Html.RouteLink("New Contact", "EditEmployerContact", new { employerId = ViewBag.EmployerId }, new { @class = "btn btn-primary btn-sm btn-icon-policies-normal" })
                </div>
            </div>
            <div class="col-sm-10">
                <div class="border">
                    <div class="row row-header">
                        <div class="col-sm-2 list-sort">
                            First Name
                            <input type="hidden" class="sort-name" value="Contact.FirstName" />
                            <i class="glyphicon sort glyphicon-chevron-up"></i>
                        </div>
                        <div class="col-sm-2 list-sort">
                            Last Name
                            <input type="hidden" class="sort-name" value="Contact.LastName" />
                            <i class="glyphicon sort"></i>
                        </div>
                        <div class="col-sm-2 list-sort">
                            Email
                            <input type="hidden" class="sort-name" value="Contact.Email" />
                            <i class="glyphicon sort"></i>
                        </div>
                        <div class="col-sm-2 list-sort">
                            Contact Type
                            <input type="hidden" class="sort-name" value="ContactTypeCode" />
                            <i class="glyphicon sort"></i>
                        </div>
                        <div class="col-sm-2 list-sort">
                            End Date
                            <i class="glyphicon sort"></i>
                        </div>
                    </div>
                    <div class="row row-filter">
                        <input type="hidden" name="EmployerId" class="list-filter filter" value="@ViewBag.EmployerId" />
                        <div class="col-sm-2">
                            <input type="text" name="FirstName" class="list-filter form-control filter" placeholder="Filter" />
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="LastName" class="list-filter form-control filter" placeholder="Filter" />
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="Email" class="list-filter form-control filter" placeholder="Filter" />
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="ContactTypeCode" class="list-filter form-control filter" placeholder="Filter" />
                        </div>
                        <div class="col-sm-2">

                        </div>
                    </div>
                    <div class="scroll list-display">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

