﻿@model IEnumerable<AbsenceSoft.Administration.Models.CustomerDetailsViewModel>

@{
    string customer = string.Empty;
    string backColor = string.Empty;
}

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>CUSTOMER</th>
                <th>EMPLOYER</th>
                <th># of EMPLOYEES</th>
                <th># of CASES</th>
                <th># of TODOS</th>
                <th># of USERS</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _model in Model)
            {
                if (customer != _model.Customer)
                {
                    customer = _model.Customer;
                    backColor = backColor == "" ? "odd" : "";
                }
                else
                {
                    _model.Customer = string.Empty;
                }
        <tr>
            <td class="@backColor">@_model.Customer</td>
            <td class="@backColor">@_model.Employer</td>
            <td class="@backColor">@_model.EmployeeCount</td>
            <td class="@backColor">@_model.CaseCount</td>
            <td class="@backColor">@_model.TodoCount</td>
            <td class="@backColor">@_model.ActiveUsers</td>
        </tr>
            }
        </tbody>
    </table>
}
else
{
    <div id="billrpt_no_data">No results match your criteria.</div>
}


