﻿@model IEnumerable<AbsenceSoft.Administration.Models.CustomerDetailsViewModel>
@{
    ViewBag.Title = "Customer Billing Details";
    var lastMonth = DateTime.UtcNow.AddMonths(-1);
    var lastMonthDate = lastMonth.ToString("yyyy-MM-" + DateTime.DaysInMonth(lastMonth.Year, lastMonth.Month));
}
<div class="container bill_report">
    <div class="row">
        <h4 class="title"> SELECT DATE RANGE </h4>
        <div class="col-sm-5 date_range border_right">
            <input type="date" id="txtRptStartDate" class="form-control" placeholder="MM/DD/YYYY">
            <span>To</span>
            <input type="date" id="txtRptEndDate" class="form-control" placeholder="MM/DD/YYYY">
        </div>
        <div class="col-sm-7">
            <button type="button" class="btn btn_run_report" id="btnRunBillingReport"> RUN REPORT </button>
            <button type="button" class="btn btn_schedule_report"> SCHEDULE REPORT </button>
        </div>
    </div>
    <hr />
    <div class="div_bill_report">
        <div>
            <h3 id="billReportHeader"> BILLING REPORT </h3>
            <button id="btnDownloadBillingReport" type="button" class="btn btn-default download_bill_report"> Download CSV </button>
        </div>
        <div id="divBillingReport" class="table-responsive">
            @Html.Partial("_CustomerBillingDetails", Model)
        </div>
    </div>
    <div id="billrpt_loading_msg">Loading report, please wait...</div>
</div>

