﻿@model IEnumerable<AbsenceSoft.Administration.Models.CustomerDetailsViewModel>
@{
    ViewBag.Title = "Customer Details";
}

<h2>Customer Details</h2>

<div class="bold"> Note : Data for columns "Employee Count", "Case Count" and "TODO Items" are for the past six months. <div class="pull-right"><button id="btnReport" class="btn-primary">Download CSV File</button></div></div>

<table class="table table-responsive table-striped table-bordered mt20">
    <tr>
        <th>Customer</th>
        <th>Employer</th>
        <th class="tex">Active Employee Count</th>
        <th>Active Employee Count [1 month]</th>
        <th>No. of Case</th>
        <th>No. of TODO Items</th>
        <th>Active users</th>
    </tr>
    @foreach (var val in Model)
    {
        <tr>
            <td>@val.Customer</td>
            <td>@val.Employer</td>
            <td>@val.EmployeeCount6month</td>
            <td>@val.EmployeeCount1month</td>
            <td>@val.CaseCount</td>
            <td>@val.TodoCount</td>
            <td>@val.ActiveUsers</td>
        </tr>
    }
</table>
