﻿
@{
    ViewBag.Title = "Index";
}

<h2>Business Reports</h2>

<div class="col-sm-12 report-content-area">
    <div class="col-sm-10">
        @Html.ActionLink("Customer Billing Details", "CustomerBillingDetails")
    </div>
</div>
