﻿@model AbsenceSoft.Data.Processing.EligibilityUpload

<div ng-controller="eligibilityFileDetailCtrl" ng-init="init('@Model.Id')" ng-cloak>
    <div class="row">
        <div class="pull-right">
            <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
        </div>
    </div>

    <div class="row row-offset">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <div class="content-section">Eligibility File Info</div>                   
                </div>
                <div class="col-sm-10 border">
                    <div class="row">
                        <div class="col-sm-2 col-header">File Name</div>
                        <div class="col-sm-4" ng-bind="FileInfo.FileName"></div>
                        <div class="col-sm-3 col-header">Upload Date</div>
                        <div class="col-sm-3">{{FileInfo.cdt | ISODateToDate | date:'MM/dd/yyyy'}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-header">Status</div>
                        <div class="col-sm-4">{{FileInfo.Status | processingStatus}}</div>
                        <div class="col-sm-3 col-header">Total Records</div>
                        <div class="col-sm-3">{{FileInfo.Records}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-header">Processing Time</div>
                        <div class="col-sm-4">{{FileInfo.Elapsed}}</div>
                        <div class="col-sm-3 col-header">Records Processed</div>
                        <div class="col-sm-3">{{FileInfo.Processed}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-header">Uploaded By</div>
                        <div class="col-sm-4">{{FileInfo.CreatedByUserName}}</div>
                        <div class="col-sm-3 col-header">Progress</div>
                        <div class="col-sm-3">{{FileInfo.Progress}}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-header"># Errors</div>
                        <div class="col-sm-4">{{FileInfo.Errors}}</div>
                        <div class="col-sm-3 col-header"></div>
                        <div class="col-sm-3"><a style="cursor:pointer" ng-click="refreshFileInfo(FileInfo.Id)">refresh</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-offset">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <div class="content-section">Eligibility Row Errors</div>
                </div>
                <div class="col-sm-10" ng-show="FileErros.length > 0">
                    <button type="button" class="btn btn-primary pull-right" ng-click="ExportToCSV(FileInfo.Id)">Export To CSV</button>
                </div>
                <div id="fileErrors" class="col-sm-10" ng-class="{true: 'col-sm-offset-2'}[FileErros.length > 0]">
                    <div class="column-todo-right">
                        <div class="row row-header">
                            <div class="col-sm-3">
                                <span>Row #</span>
                            </div>
                            <div class="col-sm-9">
                                <span>Error</span>
                            </div>
                        </div>
                        <div class="row row-data">
                            <div class="col-sm-12">
                                <div class="row row-hover data" ng-repeat="error in FileErros track by $index" ng-click="showErrorDetail(error)">
                                    <a class="row-link">
                                        <div class="col-sm-2">
                                            <span>{{error.RowNumber}}</span>
                                        </div>
                                        <div class="col-sm-10">
                                            <span>{{error.Error}}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-offset" ng-if="EmployerId == null">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <div class="content-section">Employer File Link </div>
                </div>

                <div id="fileErrors" class="col-sm-10">
                    <div class="column-todo-right">
                        <div class="row row-header">
                            <div class="col-sm-2">
                                <span>Uploaded</span>
                            </div>
                            <div class="col-sm-4">
                                <span>File Name</span>
                            </div>
                            <div class="col-sm-1">
                                <span>Records</span>
                            </div>
                            <div class="col-sm-1">
                                <span>Status</span>
                            </div>
                            <div class="col-sm-1">
                                <span>Errors</span>
                            </div>
                            <div class="col-sm-2">
                                <span>Elapsed</span>
                            </div>

                        </div>
                        <div class="row row-data">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <div class="row row-hover" ng-repeat="file in lstEligibilityEmployerFiles track by $index" ng-click="showEmployerFileDetails(file.Id)">
                                        <a class="row-link">
                                            <div class="col-sm-2">
                                                <span>{{file.cdt | ISODateToDate | date:'MM/dd/yyyy' }}</span>
                                            </div>
                                            <div class="col-sm-4">
                                                <span>{{file.FileName}}</span>
                                            </div>
                                            <div class="col-sm-1">
                                                <span>{{file.Records}}</span>
                                            </div>
                                            <div class="col-sm-1">
                                                <span>{{file.Status | processingStatus }}</span>
                                            </div>
                                            <div class="col-sm-1">
                                                <span>{{file.Errors}}</span>
                                            </div>
                                            <div class="col-sm-2">
                                                <span>{{file.Elapsed}}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ShowErrorDetail" tabindex="-1" role="dialog" aria-labelledby="ShowErrorDetail" aria-hidden="true">
        <div class="modal-dialog modal-lg-width">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Eligibility File Row Error</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 file-error-detail">
                            <div class="col-sm-3">Row #</div>
                            <div class="col-sm-9">{{ErrorDetail.RowNumber}}</div>
                        </div>
                        <div class="col-sm-12 file-error-detail">
                            <div class="col-sm-3">Error Message</div>
                            <div class="col-sm-9 error-message" ng-bind-html="ErrorDetail.Error | webFriendly"></div>
                        </div>
                        <div class="col-sm-12 file-error-detail">
                            <div class="col-sm-3">Row Source</div>
                            <div class="col-sm-9"><textarea class="form-control" rows="5">{{ErrorDetail.RowSource}}</textarea></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>


