﻿<div ng-controller="eligibilityFileUploadCtrl" ng-init="init('@ViewBag.EmployerId')" ng-cloak>

    <div class="row row-offset">
        <div class="col-sm-12">
            <div class="pull-left">
                <h1>Upload Employees</h1>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
            </div>
        </div>
        <div class="col-sm-12"><hr /></div>
    </div>

    <div class="row row-offset">
        <div id="eligibilityFiles">
            <div id="fileList" class="col-sm-12">
                <div class="column-todo-right">
                    <div class="row row-header">
                        <div class="col-sm-2">
                            <span>Uploaded</span>
                        </div>
                        <div class="col-sm-4">
                            <span>File Name</span>
                        </div>
                        <div class="col-sm-1">
                            <span>Records</span>
                        </div>
                        <div class="col-sm-1">
                            <span>Status</span>
                        </div>
                        <div class="col-sm-1">
                            <span>Errors</span>
                        </div>
                        <div class="col-sm-2">
                            <span>Elapsed</span>
                        </div>
                        <div class="col-sm-1">
                            <span></span>
                        </div>
                    </div>
                    <div class="row row-data">
                        <div class="col-sm-12">
                            <div class="row row-hover" ng-repeat="file in lstEligibilityFiles track by $index" ng-click="showFileDetails(file.Id)">
                                <a class="row-link">
                                    <div class="col-sm-2">
                                        <span>{{file.cdt | ISODateToDate | date:'MM/dd/yyyy' }}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span>{{file.FileName}}</span>
                                    </div>
                                    <div class="col-sm-1">
                                        <span>{{file.Records}}</span>
                                    </div>
                                    <div class="col-sm-1">
                                        <span>{{file.Status | processingStatus }}</span>
                                    </div>
                                    <div class="col-sm-1">
                                        <span>{{file.Errors}}</span>
                                    </div>
                                    <div class="col-sm-2">
                                        <span>{{file.Elapsed}}</span>
                                    </div>
                                    <div class="col-sm-1">
                                        <span ng-if="file.Status != 0 && file.Status != 1" ng-cloak><input type="button" class="btn btn-sm btn-default" value="Delete" ng-click="Delete(file.Id); $event.stopPropagation();" /> </span>
                                        <span ng-if="file.Status == 0 || file.Status == 1" ng-cloak><input type="button" class="btn btn-sm btn-default" value="Cancel" ng-click="Cancel(file.Id); $event.stopPropagation();" /> </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-offset">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="content-section">Eligibility File Upload</div>
                            <div class="btn-icon-attachment-index"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <!--Add new-->
                    <div class="row">
                        <div class="col-sm-12 dragzone">
                                <input id="file" style="display:none" type="file" name="file" multiple data-sequential-uploads="false">
                                <label id="fileLabel" for="file" class="btn btn-primary">Select Files</label>
                                <label for="file">or drag and drop.</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="progress">
                                <div class="bar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

