﻿@model  AbsenceSoft.Models.Administration.CustomerViewModel

@if (CurrentUserHasPermissionFromList(Permission.EditCustomerInfo, Model.UserPermissionsList))
{
    using (Html.BeginRouteForm("SaveCustomerChanges", FormMethod.Post, new { id = "customerEditForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.LogoId)
        <div class="well">
            <h3>Contact Information</h3>
            <div class="row">
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Company Name</label>
                            @Html.TextBoxFor(m => m.Name, new { placeholder = "Company Name", @class = "form-control" })
                        </div>
                        <div class="col-sm-6">
                            <div>&nbsp;</div>
                            @Html.DisplayFor(m => m.Url)<text>.absencetracker.com</text>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <label>Address 1</label>
                            @Html.TextBoxFor(m => m.Address, new { placeholder = "Address 1", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address)
                        </div>
                        <div class="col-sm-3">
                            <label>Suite/Unit/Bldg.</label>
                            @Html.TextBoxFor(m => m.Address2, new { placeholder = "Suite/Unit/Bldg.", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Address2)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <label>City</label>
                            @Html.TextBoxFor(m => m.City, new { placeholder = "City", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.City)
                        </div>
                        <div class="col-sm-2">
                            <label>Country</label>
                            @Html.CountryDropDownListFor(m => m.Country, new { placeholder = "Country", @class = "form-control country-editor" })
                            @Html.ValidationMessageFor(m => m.Country)
                        </div>
                        <div class="col-sm-2">
                            <label>State</label>
                            @Html.StateEditorFor(m => m.State, Model.Country, new { placeholder = "State", @class = "form-control region-editor" })
                            @Html.ValidationMessageFor(m => m.State)
                        </div>
                        <div class="col-sm-3">
                            <label>ZIP/Postal Code</label>
                            @Html.TextBoxFor(m => m.PostalCode, new { placeholder = "ZIP/Postal Code", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PostalCode)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Phone Number</label>
                            @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Phone Number", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber)
                        </div>
                        <div class="col-sm-6">
                            <label>Fax Number</label>
                            @Html.TextBoxFor(m => m.Fax, new { placeholder = "Fax Number", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Fax)
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="admin-logo-circle">
                                <span class="helper"></span>
                                @Html.Action("Logo", "Home", new { includeHomeLink = false })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="file" id="customerLogoUploadFile" name="customerLogo" class="hide" />
                            <label for="customerLogoUploadFile" class="btn btn-primary admin-logo-btn">Upload New Logo</label>
                        </div>
                    </div>
                    <div class="row hide" id="uploadedLogo">
                        <div class="col-sm-12">
                            <span id="customerLogoName"></span> <span class="fa fa-2x fa-times text-danger" id="cancelCustomerLogoUpload"></span>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Case Creation</h3>
            <div class="row">
                <div class="col-sm-4">
                    @Html.CheckBoxFor(m => m.ShowIsWorkRelated)
                    @Html.LabelFor(m => m.ShowIsWorkRelated)
                </div>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(m => m.ShowContactSection)
                    @Html.LabelFor(m => m.ShowContactSection)
                </div>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(m => m.ShowOtherQuestions)
                    @Html.LabelFor(m => m.ShowOtherQuestions)
                </div>
            </div>
            <div class="mt30">
                <h3>Default Confidential Options</h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.CheckBoxFor(m => m.DefaultNoteToConfidential)
                    @Html.LabelFor(m => m.DefaultNoteToConfidential)
                </div>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(m => m.DefaultCommunicationToConfidential)
                    @Html.LabelFor(m => m.DefaultCommunicationToConfidential)
                </div>
                <div class="col-sm-4">
                    @Html.CheckBoxFor(m => m.DefaultAttachmentToConfidential)
                    @Html.LabelFor(m => m.DefaultAttachmentToConfidential)
                </div>
            </div>
            <div class="row mt30">
                <div class="col-sm-4">
                    <h3>@Html.LabelFor(m => m.EmailRepliesType)</h3>
                    @Html.EnumUIDropDownListFor(m => m.EmailRepliesType, "Select An Email Reply Type", new { @class = "form-control" })
                </div>
                <div class="col-sm-4">
                    <h3>@Html.LabelFor(m => m.ToDoTemplateCode)</h3>
                    @Html.CommunicationDropDownListFor(m => m.ToDoTemplateCode, "Select A Template", new { @class = "form-control" })
                </div>
                <div class="col-sm-4">
                    <h3>@Html.LabelFor(m => m.NewUserEmailTemplateCode)</h3>
                    @Html.CommunicationDropDownListFor(m => m.NewUserEmailTemplateCode, "Select A Template", new { @class = "form-control" }, true, true)
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12 text-center">
                    @Html.RouteLink("Undo Changes", "AdministrationIndex", null, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
                    <input id="customerSaveForm" type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" />
                </div>
            </div>
        </div>
    }
}
else if (CurrentUserHasPermissionFromList(Permission.ViewCustomerAndEmployerInfo, Model.UserPermissionsList))
{
    <div class="well">
        <h3>Contact Information</h3>
        <div class="row">
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-12">
                        @Html.DisplayFor(m => m.Name) | @Html.DisplayFor(m => m.Url)
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.DisplayFor(m => m.Address)
                    </div>
                    <div class="col-sm-12">
                        @Html.DisplayFor(m => m.Address2)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.DisplayFor(m => m.City), @Html.DisplayFor(m => m.State) @Html.DisplayFor(m => m.PostalCode) | @Html.DisplayFor(m => m.Country)
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.DisplayFor(m => m.PhoneNumber) | @Html.DisplayFor(m => m.Fax)
                    </div>
                </div>
            </div>
            <div class="col-sm-2 text-center">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="admin-logo-circle">
                            <span class="helper"></span>
                            @Html.Action("Logo", "Home", new { includeHomeLink = false })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="well">
        <div class="row">
            <div class="col-sm-12">
                Use the navigation above for configuration options for @Model.Name
            </div>
        </div>
    </div>
}
