﻿@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_AdministrationSidebarLayout.cshtml";
}

@model AbsenceSoft.Models.Administration.EditRolesModel
@{
    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
}
<div ng-controller="EditRolesCtrl" ng-init="Init(@theModel)" ng-cloak>
    <div class="modal fade" id="confirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmation Required</h4>
                </div>
                <div class="modal-body">
                    <p>In addition to deleting this role, all users will have their association with this role removed.  This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="DeleteRole()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <!--Edit Role Form-->
    <div class="row">
        <div class="col-xs-12 ">
            <div class="user-headline">
                <h2>Manage Roles</h2>
                <div class="pull-right">
                    <button class="btn btn-primary addnew-admin-btn" ng-show="!EditRole.IsNewRole" ng-click="RoleInit(true)">New Role</button>
                    <button class="btn btn-primary addnew-admin-btn" ng-show="EditRole.IsNewRole" ng-click="RoleInit(false)">Edit Roles</button>
                </div>
            </div>
        </div>
    </div>

    <form name="frmEditRoles" novalidate>
        <div class="well">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="content-section" ng-show="!EditRole.IsNewRole">Edit Role</div>
                            <div class="content-section" ng-show="EditRole.IsNewRole">New Role</div>
                        </div>

                        <div class="col-sm-12">
                            <div class="col-sm-3 text-right" ng-show="!EditRole.IsNewRole">
                                Select a role to edit:
                            </div>
                            <div class="col-sm-3 text-right" ng-show="EditRole.IsNewRole">
                                Role name:
                            </div>
                            <div class="col-sm-8" ng-if="!EditRole.IsNewRole">
                                <select class="form-control"
                                        name="SelectedRoleId"
                                        ng-model="$parent.SelectedRoleId"
                                        ng-options="role.Id as role.Name for role in AllRoles">
                                    <option></option>
                                </select>
                                <div class="error" ng-cloak ng-show="!$parent.SelectedRoleId">Please select a role</div>
                            </div>
                            <div class="col-sm-8" ng-if="EditRole.IsNewRole">
                                <input type="text" class="form-control input-sm" name="NewRoleName" ng-model="EditRole.RoleName" required placeholder="Name" />
                                <div class="error" ng-cloak ng-show="submitted">Please enter a role name</div>
                            </div>
                        </div>
                        <div class="col-sm-12 mb20" ng-show="EditRole.IsNewRole">
                            <div class="col-sm-3 text-right">
                                Copy from:
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="EditRole.CopyFromRoleId" ng-options="role.Id as role.Name for role in AllRoles" ng-change="CopyFromRole()">
                                    <option value="">Select a role to copy...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-show="EditRole.RoleId">
                            <div class="col-sm-12 text-center">
                                <h3 ng-bind="EditRole.RoleName"></h3>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-show="EditRole.IsNewRole||EditRole.RoleId">
                            <div class="col-sm-3 field-name text-right">
                                Type of role:
                            </div>
                            <div class="col-sm-8 field-input admin-ab-boxes">
                                <div class="btn-group" data-toggle="buttons">
                                    <label id="type-global" class="btn btn-info btn-50" ng-class="{ 'active' : EditRole.Type==0 }" ng-click="EditRole.Type=0">
                                        <input type="radio" name="TypeGroup" ng-model="EditRole.Type" value="0" />
                                        Portal
                                    </label>
                                    @if (CurrentCustomerHasFeature(Feature.EmployeeSelfService))
                                    {
                                        <label id="type-selfservice" ng-class="{ 'active' : EditRole.Type==1}" class="btn admin-roles btn-50" ng-click="EditRole.Type=1">
                                        <input type="radio" name="TypeGroup" ng-model="EditRole.Type" value="1" />
                                        Employee Self-Service
                                        </label>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-show="(EditRole.IsNewRole||EditRole.RoleId)&&(EditRole.Type==1||IsESSDataVisibilityInPortalFeatureEnabled)">
                            <div class="col-sm-3 text-right">
                                Contact Types:
                                <button class="btn btn-link tooltip-margin" data-toggle="tooltip" role="button" tabindex="0" title="Automatically grants this role to a user if they are one or more of the defined contact types for any other employees."><span class="fa fa-question-circle"></span></button>
                            </div>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="ContactType" ng-options="ct.Code as ct.Name for ct in ContactTypes" ng-change="AddContactType()">
                                    <option value="">Select a contact type to add...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-show="(EditRole.IsNewRole||EditRole.RoleId)&&(EditRole.Type==1||IsESSDataVisibilityInPortalFeatureEnabled)&&EditRole.ContactTypes.length">
                            <div class="col-sm-8 col-sm-offset-4">
                                <div ng-repeat="ct in EditRole.ContactTypes" class="col-sm-6">
                                    <span ng-bind="ct"></span> <button class="btn btn-link tooltip-margin" role="button" tabindex="0" ng-click="RemoveContactType($index)"><span class="fa fa-trash-o"></span></button>
                                </div>
                            </div>
                        </div>
                        <div  ng-show="EditRole.IsNewRole||EditRole.RoleId">
                            <div class="col-sm-12">
                                <div class="col-sm-3 text-right">                               
                                    Default Role:
                                    <button class="btn btn-link tooltip-margin" data-toggle="tooltip" role="button" tabindex="0" title="Automatically grant this role to a user if no other role exists."><span class="fa fa-question-circle"></span></button>                             
                                </div>
                                <div class="col-sm-8 checkbox-margin">
                                    <label>
                                        <input type="checkbox" id="DefaultRole" name="DefaultRole" ng-model="EditRole.DefaultRole"/>                                 
                                    </label>
                                </div>
                            </div>   
                            <div class="col-sm-12">
                                <div class="col-sm-3 text-right">
                                    Always Assign:
                                    <button class="btn btn-link tooltip-margin" data-toggle="tooltip" role="button" tabindex="0" title="Always grant this role to a user whether or not other role exists."><span class="fa fa-question-circle"></span></button>
                                </div>
                                <div class="col-sm-8 checkbox-margin">
                                    <label>
                                        <input type="checkbox" id="AlwaysAssign" name="AlwaysAssign" ng-model="EditRole.AlwaysAssign" />                                   
                                    </label>
                                </div>
                            </div> 
                        </div>
                        <div class="col-sm-12" ng-show="(EditRole.IsNewRole||EditRole.RoleId)&&(EditRole.Type==1||IsESSDataVisibilityInPortalFeatureEnabled)&&EditRole.ContactTypes.length">
                            <div class="col-sm-3 field-name text-right">
                                Automatically Revoke Access:
                                <button class="btn btn-link tooltip-margin" data-toggle="tooltip" role="button" tabindex="0" title="If the user is not a contact of any of the defined types above then access for this role should be automatically revoked, for instance, if this were an HR role, and the contact type of HR is defined, you may want to revoke this access automatically if the user is no longer an HR contact for any employees."><span class="fa fa-question-circle"></span></button>
                            </div>
                            <div class="col-sm-8 field-input">
                                <div class="btn-group group-2 tooltip-margin" data-toggle="buttons">
                                    <label id="revoke-nope" ng-class="{ 'active' : !EditRole.RevokeAccessIfNoContactsOfTypes }" class="btn btn-info" ng-click="EditRole.RevokeAccessIfNoContactsOfTypes=false">
                                        <input type="radio" name="RevokeGroup" ng-model="EditRole.RevokeAccessIfNoContactsOfTypes" value="false" />
                                        Keep Access
                                    </label>
                                    <label id="revoke-yep" class="btn btn-info" ng-class="{ 'active' : EditRole.RevokeAccessIfNoContactsOfTypes }" ng-click="EditRole.RevokeAccessIfNoContactsOfTypes=true">
                                        <input type="radio" name="RevokeGroup" ng-model="EditRole.RevokeAccessIfNoContactsOfTypes" value="true" />
                                        Revoke Access
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">&nbsp;</div>

                        <div class="col-sm-12" ng-show="EditRole.IsNewRole||EditRole.RoleId">
                            <div class="col-sm-8">
                                Choose the permissions you would like to associate with this role:
                            </div>
                            <div class="col-sm-4">
                                <div class="pull-right">
                                    <a style="cursor:pointer" ng-click="ExpandCollapse(true)">expand all</a> |
                                    <a style="cursor:pointer" ng-click="ExpandCollapse(false)">collapse all</a>
                                </div>
                            </div>
                            <div class="col-sm-12">&nbsp;</div>
                            <div class="col-sm-12">
                                <div ng-repeat="permissionGroup in PermissionsViewModel">
                                    <div class="col col-sm-12 border">
                                        <div>
                                            <button class="btn btn-default btn-xs btn-mb3" ng-hide="permissionGroup.isVisible" ng-click="permissionGroup.isVisible=true">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                            <button class="btn btn-default btn-xs" ng-show="permissionGroup.isVisible" ng-click="permissionGroup.isVisible=false">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                            &nbsp;<label>{{permissionGroup.categoryName}}</label>
                                            <div class="pull-right" ng-show="permissionGroup.isVisible">
                                                <a style="cursor:pointer" ng-click="CheckUncheck(permissionGroup, true)">Check all</a> /
                                                <a style="cursor:pointer" ng-click="CheckUncheck(permissionGroup, false)">uncheck all</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-offset-0 col-sm-12" ng-show="permissionGroup.isVisible">
                                            <div ng-repeat="permission in permissionGroup.items" style="margin-left: 15px !important;">
                                                <div class="col-sm-4 role-checkboxes">
                                                    <label>
                                                        <input type="checkbox" ng-model="permission.Apply" />
                                                        {{permission.Name}}
                                                    </label>
                                                    <div ng-show="$last">&nbsp;</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-sm-12">&nbsp;</div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 pull-center">
                                <div class="pull-center role-action-btns">
                                    <a href="/administration" class="btn btn-link admin-cancel-btn">Cancel</a>
                                    <input type="button" ng-show="EditRole.RoleId && !EditRole.IsNewRole" class="btn btn-primary btn-danger" value="Delete Role" data-toggle="modal" data-target="#confirmationModal" />
                                    <input type="button" ng-show="EditRole.IsNewRole" class="btn btn-primary admin-save-btn" value="Create Role" ng-click="submitted=true; CreateRole()" />
                                    <input type="button" ng-show="EditRole.RoleId && !EditRole.IsNewRole" class="btn btn-primary admin-save-btn" value="Update Role" ng-click="submitted=true; UpdateRole()" />
                                    <div class="error" ng-show="frmEditRoles.$invalid && submitted">Please correct the errors shown above and try again.</div>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--End Edit Role Form-->

</div>

