﻿@model AbsenceSoft.Models.Administration.SSOProfileModel
@{
    ViewBag.Title = "Edit SSO Profile";
}


<div class="row row-offset">
    <div class="col-sm-12">         
            <div class="content-section pull-left">SSO Message</div>        
    </div>
</div>
<div class="row row-offset">
    <div class="col-sm-12 htmleditor">        
        <input type="hidden" id="hdnCustomer" name="hdnCustomer" value="@Model.CustomerId"/>
        <textarea name="ssoMessage" id="ssoMessage">@Model.Message</textarea>
    </div>
</div>

<div class="row row-offset">
    <div class="col-sm-12">
        <div class="pull-center">
            <input type="button" class="btn btn-primary" value="Save" id="btnSaveProfile" name="btnSaveProfile"/>
            @Html.ActionLink("Cancel", "Index", "Administration", new { @class = "btn btn-link" })
        </div>
    </div>
</div>
@section scripts{

    <script>
        //TineMCE
        var GetActiveEditorContent;
        var contentCss = "@Url.Content("~/Content/bootstrap-custom/_main.css")";                    
        var themeUrl = "@Url.Content("~/Scripts/tinymce/themes/modern/theme.min.js")";
        var skinUrl = "@Url.Content("~/Scripts/tinymce/skins/lightgray")";        
    </script>
}
