﻿@{
    ViewBag.Title = "EditSecuritySettings";
}
@model AbsenceSoft.Models.Administration.CreateSecuritySettingsModel
@{
    var models = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
}
<div ng-controller="EditCompanyInfoCtrl" ng-init="init(@models)">
    <form name="frmSignUpStep2" novalidate>
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12" style="padding-left:4.5%;padding-right:4.5%">
                        <h1 class="">
                            Edit Security Settings<br />
                            <hr />
                        </h1>
                    </div>
                    @Html.Action("CompanyInfo", "Administration")
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-left:4.5%;padding-right:4.5%">
                <hr />
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8 pull-center">
                <div class="pull-center">
                    <input type="button" class="btn btn-primary" value="Update" ng-click="submitted=true; UpdateSecuritySettings(frmSignUpStep2.$valid);" />
                    <a href="/administration" class="btn btn-link">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>






