﻿@{
    ViewBag.Title = "CustomFields";
}

@model AbsenceSoft.Models.Administration.CustomFieldsModel
@{
    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
}
@section head {
    <link href="@Url.Content("~/Content/css/select2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/select2-bootstrap.css")" rel="stylesheet" />
}
<div ng-controller="EECustomFieldsCtrl" ng-init="Init(@theModel)">
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-left">
                <h1>Manage Custom Fields</h1>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary navbar-btn" ng-click="Back()">Back</button>
            </div>
        </div>
        <div class="col-sm-12">
            <hr />
        </div>
    </div>

    <div class="row row-offset">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2" ng-if="IsNewField==true">
                    <div class="content-section">New Custom Field</div>
                    <div class="btn-icon-notes"></div>
                </div>
                <div class="col-sm-2" ng-if="IsNewField==false">
                    <div class="content-section">Edit Custom Field</div>
                    <div class="btn-icon-notes"></div>
                </div>

                <!--Edit EECustomFields Form-->
                <div ng-if="IsNewField==false">
                    <div class="col-sm-8 border">
                        <form name="form.frmEditEECustomFields" novalidate>
                            <div class="row row-offset">
                                <div class="col-sm-12" ng-if="Employers.length > 1">
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-options="e as e.Name for e in Employers" name="Employer" ng-model="EditField.SelectedEmployer" ng-change="EmployerSelected()" required>
                                            <option value="">Select an employer</option>
                                        </select>
                                        <span class="error" ng-cloak ng-show="form.frmEditEECustomFields.Employer.$error.required && !form.frmEditEECustomFields.Employer.$prestine && form.submitted || form.frmEditEECustomFields.Employer.$error.required && form.frmEditEECustomFields.Employer.$dirty">Please select an employer</span>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6">
                                        <select ng-disabled="Employers.length > 1 && EditField.SelectedEmployer == null" class="form-control" ng-options="f as f.Name for f in Fields" name="CustomField" ng-model="EditField.SelectedField" ng-change="FieldSelected()" required>
                                            <option value="">Select a custom field</option>
                                        </select>
                                        <span class="error" ng-cloak ng-show="form.frmEditEECustomFields.CustomField.$error.required && !form.frmEditEECustomFields.CustomField.$prestine && form.submitted || form.frmEditEECustomFields.CustomField.$error.required && form.frmEditEECustomFields.CustomField.$dirty">Please select a custom field</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-offset">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6">
                                        <select ng-class="{'has-error':form.frmEditEECustomFields.page.$error.required && form.submitted}" class="form-control" name="page" required ng-model="EditField.Target">
                                            <option value=""> Select Page</option>
                                            <option value="1">Employee</option>
                                            <option value="2">Case</option>
                                        </select>
                                        <span class="error" ng-cloak ng-show="form.frmEditEECustomFields.page.$error.required && form.submitted">Please select a page</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-offset">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        Field Name
                                    </div>
                                    <div class="col-sm-6">
                                        <input ng-disabled="EditField.SelectedField == null" type="text" class="form-control input-sm" name="Name" ng-model="EditField.Name"
                                               ng-class="{'has-error':form.frmEditEECustomFields.Name.$error.required && !form.frmEditEECustomFields.Name.$prestine && form.submitted || frmCreateEmployee.Name.$error.required && form.frmEditEECustomFields.Name.$dirty}" required />
                                        <span class="error" ng-cloak ng-show="form.frmEditEECustomFields.Name.$error.required && !form.frmEditEECustomFields.Name.$prestine && form.submitted || form.frmEditEECustomFields.Name.$error.required && form.frmEditEECustomFields.Name.$dirty">Please enter field name</span>
                                        <div class="row" ng-show="form.frmEditEECustomFields.Name.$error.required && !form.frmEditEECustomFields.Name.$prestine && form.submitted || form.frmEditEECustomFields.Name.$error.required && form.frmEditEECustomFields.Name.$dirty">&nbsp;</div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        Description
                                    </div>
                                    <div class="col-sm-6">
                                        <input ng-disabled="EditField.SelectedField == null" type="text" class="form-control input-sm" name="Description" ng-model="EditField.Description"
                                               ng-class="{'has-error':form.frmEditEECustomFields.Description.$error.required && !form.frmEditEECustomFields.Description.$prestine && form.submitted || frmCreateEmployee.Description.$error.required && form.frmEditEECustomFields.Name.$dirty}" required />
                                        <span class="error" ng-cloak ng-show="form.frmEditEECustomFields.Description.$error.required && !form.frmEditEECustomFields.Description.$prestine && form.submitted || form.frmEditEECustomFields.Description.$error.required && form.frmEditEECustomFields.Description.$dirty">Please enter description</span>
                                        <div class="row" ng-show="form.frmEditEECustomFields.Description.$error.required && !form.frmEditEECustomFields.Description.$prestine && form.submitted || form.frmEditEECustomFields.Description.$error.required && form.frmEditEECustomFields.Description.$dirty">&nbsp;</div>
                                    </div>

                                    @*<div class="clearfix"></div>
                                        <div class="col-sm-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-sm-2">
                                            Label
                                        </div>
                                        <div class="col-sm-6">
                                            <input ng-disabled="EditField.SelectedField == null" type="text" name="Label" class="form-control input-sm" ng-model="EditField.Label"
                                                   ng-class="{'has-error':form.frmEditEECustomFields.Label.$error.required && !form.frmEditEECustomFields.Label.$prestine && form.submitted || form.frmEditEECustomFields.Label.$error.required && form.frmEditEECustomFields.Label.$dirty}" required />
                                            <span class="error" ng-cloak ng-show="form.frmEditEECustomFields.Label.$error.required && !form.frmEditEECustomFields.Label.$prestine && form.submitted || form.frmEditEECustomFields.Label.$error.required && form.frmEditEECustomFields.Label.$dirty">Please enter label</span>
                                            <div class="row" ng-show="form.frmEditEECustomFields.Label.$error.required && !form.frmEditEECustomFields.Label.$prestine && form.submitted || form.frmEditEECustomFields.Label.$error.required && form.frmEditEECustomFields.Label.$dirty">&nbsp;</div>
                                        </div>*@

                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        Help Text
                                    </div>
                                    <div class="col-sm-6">
                                        <input ng-disabled="EditField.SelectedField == null" type="text" name="HelpText" autocomplete="off" class="form-control input-sm" ng-model="EditField.HelpText" />
                                    </div>
                                    @*BEGIN EDIT*@
                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2" title="The order in which this field appears in the eligibility file on the custom record type">
                                        File Order <i class="glyphicon glyphicon-question-sign" tooltip="The order in which this field appears in the eligibility file on the custom record type"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="txtFileOrder" type="number" class="form-control input-sm" name="FileOrder" ng-class="{'has-error':(!form.frmEditEECustomFields.FileOrder.$pristine || form.submitted) && form.frmEditEECustomFields.FileOrder.$error.number}" placeholder="Eligibility File Order" ng-model="EditField.FieldOrder" title="Enter order of which this field appears in the eligibliity file" ng-cloak />
                                        <span class="error" ng-cloak ng-show="(!form.frmEditEECustomFields.FileOrder.$pristine || form.submitted) && form.frmEditEECustomFields.FileOrder.$error.number">Please enter a valid number for file order</span>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="IsRequired" title="This option specifies that the field is required in both the UI and/or the eligibility file for an employee">
                                            <input type="checkbox" id="IsRequired" name="IsRequired" ng-model="EditField.IsRequired" value="{{EditField.IsRequired}}" />&nbsp;Is a required field?
                                        </label>
                                    </div>
                                    <div ng-show="EditField.Target == 2" class="clearfix"></div>
                                    <div ng-show="EditField.Target == 2" class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2" ng-show="EditField.Target == 2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6" ng-show="EditField.Target == 2">
                                        <label for="IsCollectedAtIntake" title="This option is for Case custom field and specifies whether this field should be shown while creating new case">
                                            <input type="checkbox" id="IsCollectedAtIntake" name="IsCollectedAtIntake" ng-model="EditField.IsCollectedAtIntake" value="{{EditField.IsCollectedAtIntake}}" />&nbsp;Is collected at intake?
                                        </label>
                                    </div>                                   
                                    @*END EDIT*@
                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        Data Type
                                    </div>
                                    <div class="col-sm-4">
                                        <select ng-disabled="EditField.SelectedField == null" id="datatype" ng-model="EditField.DataType" name="DataType" class="form-control input-sm" required>
                                            <option value="" selected></option>
                                            @foreach (var field in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.CustomFieldType)))
                                            {
                                                <option value="@((int)field)">@field.ToString().SplitCamelCaseString()</option>
                                            }
                                        </select>
                                        <span class="error" ng-cloak ng-show="form.frmEditEECustomFields.DataType.$error.required && !form.frmEditEECustomFields.DataType.$prestine && form.submitted || form.frmEditEECustomFields.DataType.$error.required && form.frmEditEECustomFields.DataType.$dirty">Please enter data type</span>
                                        <div class="row" ng-show="form.frmEditEECustomFields.DataType.$error.required && !form.frmEditEECustomFields.DataType.$prestine && form.submitted || form.frmEditEECustomFields.DataType.$error.required && form.frmEditEECustomFields.DataType.$dirty">&nbsp;</div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2" ng-hide="EditField.DataType == '8'">
                                        Value Type
                                    </div>
                                    <div class="col-sm-6" ng-hide="EditField.DataType == '8'">
                                        <div class="btn-group group-2" data-toggle="buttons">
                                            <label id="valuetype-userentered" class="btn btn-info" ng-class="{ 'active' : EditField.ValueType=='1' }" ng-click="EditField.ValueType='1'">
                                                <input ng-disabled="EditField.SelectedField == null" type="radio" name="ValueTypeGroup" ng-model="EditField.ValueType" value="1" />
                                                User Entered
                                            </label>
                                            <label id="valuetype-selectlist" ng-class="{ 'active' : EditField.ValueType=='2' }" class="btn btn-info" ng-click="EditField.ValueType='2'">
                                                <input ng-disabled="EditField.SelectedField == null" type="radio" name="ValueTypeGroup" ng-model="EditField.ValueType" value="2" />
                                                Select List
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-offset" ng-if="EditField.ValueType=='2'">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        List Values
                                    </div>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" rows="5" id="ListItemsEdit" ng-model="EditField.ListValuesText" ng-disabled="true" required></textarea>
                                        <span ng-show="EditField.ValueType=='2' && (EditField.ListValuesText == null || EditField.ListValuesText == '') && form.submitted" class="error">Please enter a list item</span>
                                    </div>

                                    @*<div class="clearfix"></div>
                                        <div class="col-sm-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-sm-2">
                                            Key
                                        </div>
                                        <div class="col-sm-6">
                                            <input ng-disabled="EditField.SelectedField == null" type="text" class="form-control input-sm" name="Key" ng-model="EditField.Key" />
                                        </div>*@

                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        New Value
                                    </div>
                                    <div class="col-sm-6">
                                        <input ng-disabled="EditField.SelectedField == null" type="text" class="form-control input-sm" name="Value" ng-model="EditField.Value" />
                                        <span ng-if="BadListItem" class="error">Value is required</span>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6">
                                        <input ng-disabled="EditField.SelectedField == null" type="button" class="btn btn-primary" value="Add List Value" ng-click="AddListItem()" />
                                        <input ng-disabled="EditField.SelectedField == null" type="button" class="btn btn-primary" value="Clear List" ng-click="ClearList()" />
                                    </div>

                                </div>
                            </div>

                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-sm-12 pull-center">
                                    <div class="pull-center">
                                        <input ng-disabled="EditField.SelectedField == null" type="button" class="btn btn-primary" value="Update Field" ng-click="form.submitted=true;UpdateField(form.frmEditEECustomFields.$valid);" />
                                        <input ng-disabled="EditField.SelectedField == null" type="button" class="btn btn-danger" value="Delete Field" ng-click="DeleteField()" />
                                        <a href="/administration" class="btn btn-link">Cancel</a>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-sm-2 col-right"><input type="button" class="btn btn-primary" value="New Custom Field" ng-click="InitNewField()" /> </div>
                </div>
                <!--End Edit Cust Field-->
                <!--New EECustomFields Form-->
                <div ng-if="IsNewField==true">
                    <div class="col-sm-8 border">
                        <form name="form.frmNewEECustomFields" novalidate>
                            <div class="row row-offset" ng-if="EmployersForSelect2.length > 1">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="select2-wrap">
                                            <input id="NewEmployer" ng-class="{'has-error':!form.IsAnyEmployerSelected && form.submitted}" type="text" ng-init="BindSelect2()" name="NewEmployer" ng-model="NewField.SelectedEmployer" class="form-control select2-multiple" />
                                        </div>
                                        <span class="error" id="select2Error" ng-cloak ng-show="!form.IsAnyEmployerSelected && form.submitted">Please select an employer</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-offset">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6">
                                        <select ng-class="{'has-error':form.frmNewEECustomFields.page.$error.required && form.submitted}" class="form-control" name="page" required ng-model="NewField.Target">
                                            <option value=""> Select Page</option>
                                            <option value="1">Employee</option>
                                            <option value="2">Case</option>
                                        </select>
                                        <span class="error" ng-cloak ng-show="form.frmNewEECustomFields.page.$error.required && form.submitted">Please select a page</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-offset">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        Field Name
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" name="Name" ng-model="NewField.Name"
                                               ng-class="{'has-error':form.frmNewEECustomFields.Name.$error.required && !form.frmNewEECustomFields.Name.$prestine && form.submitted || form.frmNewEECustomFields.Name.$error.required && form.frmNewEECustomFields.Name.$dirty}" required />
                                        <span class="error" ng-cloak ng-show="form.frmNewEECustomFields.Name.$error.required && !form.frmNewEECustomFields.Name.$prestine && form.submitted || form.frmNewEECustomFields.Name.$error.required && form.frmNewEECustomFields.Name.$dirty">Please enter field name</span>
                                        <div class="row" ng-show="form.frmNewEECustomFields.Name.$error.required && !form.frmNewEECustomFields.Name.$prestine && form.submitted || form.frmNewEECustomFields.Name.$error.required && form.frmNewEECustomFields.Name.$dirty">&nbsp;</div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        Description
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" name="Description" ng-model="NewField.Description"
                                               ng-class="{'has-error':form.frmNewEECustomFields.Description.$error.required && !form.frmNewEECustomFields.Description.$prestine && form.submitted || form.frmNewEECustomFields.Description.$error.required && form.frmNewEECustomFields.Name.$dirty}" required />
                                        <span class="error" ng-cloak ng-show="form.frmNewEECustomFields.Description.$error.required && !form.frmNewEECustomFields.Description.$prestine && form.submitted || form.frmNewEECustomFields.Description.$error.required && form.frmNewEECustomFields.Description.$dirty">Please enter description</span>
                                        <div class="row" ng-show="form.frmNewEECustomFields.Description.$error.required && !form.frmNewEECustomFields.Description.$prestine && form.submitted || form.frmNewEECustomFields.Description.$error.required && form.frmNewEECustomFields.Description.$dirty">&nbsp;</div>
                                    </div>

                                    @*<div class="clearfix"></div>
                                        <div class="col-sm-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-sm-2">
                                            Label
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="Label" class="form-control input-sm" ng-model="NewField.Label"
                                                   ng-class="{'has-error':form.frmNewEECustomFields.Label.$error.required && !form.frmNewEECustomFields.Label.$prestine && form.submitted || form.frmNewEECustomFields.Label.$error.required && form.frmNewEECustomFields.Label.$dirty}" required />
                                            <span class="error" ng-cloak ng-show="form.frmNewEECustomFields.Label.$error.required && !form.frmNewEECustomFields.Label.$prestine && form.submitted || form.frmNewEECustomFields.Label.$error.required && form.frmNewEECustomFields.Label.$dirty">Please enter label</span>
                                            <div class="row" ng-show="form.frmNewEECustomFields.Label.$error.required && !form.frmNewEECustomFields.Label.$prestine && form.submitted || form.frmNewEECustomFields.Label.$error.required && form.frmNewEECustomFields.Label.$dirty">&nbsp;</div>
                                        </div>*@

                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        Help Text
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="HelpText" autocomplete="off" class="form-control input-sm" ng-model="NewField.HelpText" />
                                    </div>
                                    @*BEGIN NEW*@
                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2" title="The order in which this field appears in the eligibility file on the custom record type">
                                        File Order <i class="glyphicon glyphicon-question-sign" title="The order in which this field appears in the eligibility file on the custom record type"></i>
                                    </div>
                                    <div class="col-sm-6">
                                        <input id="txtNewFieldFileOrder" type="number" class="form-control input-sm" name="FileOrder" ng-class="{'has-error':(!form.frmNewEECustomFields.FileOrder.$pristine || submitted) && form.frmNewEECustomFields.FileOrder.$error.required}" placeholder="Eligibility File Order" ng-model="NewField.FieldOrder" title="Enter order of which this field appears in the eligibliity file" ng-cloak />
                                        <span class="error" ng-cloak ng-show="(!form.frmNewEECustomFields.FileOrder.$pristine || submitted) && form.frmNewEECustomFields.FileOrder.$error.number">Please enter a valid number for file order</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6">
                                        <label title="This option specifies that the field is required in both the UI and/or the eligibility file for an employee">
                                            <input type="checkbox" name="IsRequired" ng-model="NewField.IsRequired" value="{{NewField.IsRequired}}" />&nbsp;This is a required field
                                        </label>
                                    </div>
                                    <div ng-show="NewField.Target == 2" class="clearfix"></div>
                                    <div ng-show="NewField.Target == 2" class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2" ng-show="NewField.Target == 2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-6" ng-show="NewField.Target == 2">
                                        <label for="IsCollectedAtIntake" title="This option is for Case custom field and specifies whether this field should be shown while creating new case">
                                            <input type="checkbox" id="IsCollectedAtIntake" name="IsCollectedAtIntake" ng-model="NewField.IsCollectedAtIntake" value="{{NewField.IsCollectedAtIntake}}" />&nbsp;This will collected at intake
                                        </label>
                                    </div>            
                                    @*END NEW*@
                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        Data Type
                                    </div>
                                    <div class="col-sm-4">
                                        <select id="datatype" ng-model="NewField.DataType" name="DataType" class="form-control input-sm" required>
                                            <option value="" selected></option>
                                            @foreach (var field in Enum.GetValues(typeof(AbsenceSoft.Data.Enums.CustomFieldType)))
                                            {
                                            <option value="@((int)field)">@field.ToString().SplitCamelCaseString()</option>
                                            }
                                        </select>
                                        <span class="error" ng-cloak ng-show="form.frmNewEECustomFields.DataType.$error.required && !form.frmNewEECustomFields.DataType.$prestine && form.submitted || form.frmNewEECustomFields.DataType.$error.required && form.frmNewEECustomFields.DataType.$dirty">Please enter data type</span>
                                        <div class="row" ng-show="form.frmNewEECustomFields.DataType.$error.required && !form.frmNewEECustomFields.DataType.$prestine && form.submitted || form.frmNewEECustomFields.DataType.$error.required && form.frmNewEECustomFields.DataType.$dirty">&nbsp;</div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2" ng-hide="NewField.DataType == '8'">
                                        Value Type
                                    </div>
                                    <div class="col-sm-6" ng-hide="NewField.DataType == '8'">
                                        <div class="btn-group group-2" data-toggle="buttons">
                                            <label id="valuetype-userentered" class="btn btn-info" ng-class="{ 'active' : NewField.ValueType=='1', 'has-error':NewField.ValueType == null && form.submitted }" ng-click="NewField.ValueType='1'">
                                                <input type="radio" name="ValueTypeGroup" ng-model="NewField.ValueType" value="1" required />
                                                User Entered
                                            </label>
                                            <label id="valuetype-selectlist" ng-class="{ 'active' : NewField.ValueType=='2', 'has-error':NewField.ValueType == null && form.submitted }" class="btn btn-info" ng-click="NewField.ValueType='2'">
                                                <input type="radio" name="ValueTypeGroup" ng-model="NewField.ValueType" value="2" required />
                                                Select List
                                            </label>
                                        </div>
                                        <span ng-show="NewField.ValueType == null && form.submitted" class="error">Please select an option</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row row-offset" ng-if="NewField.ValueType=='2'">
                                <div class="col-sm-12">
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        List Values
                                    </div>
                                    <div class="col-sm-6">
                                        <textarea class="form-control" rows="5" id="ListItemsNew" ng-model="NewField.ListValuesText" ng-disabled="true" required></textarea>
                                        <span ng-show="NewField.ValueType=='2' && (NewField.ListValuesText == null || NewField.ListValuesText == '') && form.submitted" class="error">Please enter a list item</span>
                                    </div>

                                    @*<div class="clearfix"></div>
                                        <div class="col-sm-2">
                                            &nbsp;
                                        </div>
                                        <div class="col-sm-2">
                                            Key
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control input-sm" name="Key" ng-model="NewField.Key" />
                                        </div>*@

                                    <div class="clearfix"></div>
                                    <div class="col-sm-2">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-2">
                                        New Value
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" name="Value" ng-model="NewField.Value" />
                                        <span ng-if="BadListItem" class="error">Value is required</span>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-sm-4">
                                        &nbsp;
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="button" class="btn btn-primary" value="Add List Value" ng-click="AddListItem()" />
                                        <input type="button" class="btn btn-primary" value="Clear List" ng-click="ClearList()" />
                                    </div>
                                </div>
                            </div>

                            <div style="padding-bottom:10px;" class="clearfix"></div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-sm-12 pull-center">
                                    <div class="pull-center">
                                        <input type="submit" class="btn btn-primary btn-reset-on-click" value="Create Field" ng-click="form.submitted=true;CreateField(form.frmNewEECustomFields.$valid);" />
                                        <a href="" class="btn btn-link" ng-click="CancelNew()">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--End New Cust Field-->
            </div>
        </div>
    </div>
</div>


