﻿@model AbsenceSoft.Models.Administration.EmployerViewModel
@{
    if (Model.IsNew)
    {
        Layout = Layout = "~/Views/Shared/_AdministrationSidebarLayout.cshtml";
    }
}

@if (Model.IsDisabled)
{
    <div class="alert alert-danger">
        <h4>@Model.Name Is Disabled</h4>
        <p>While this employer is disabled, users will have limited functionality on employees and cases for this employer.</p>
    </div>
}

@if (CurrentUserHasPermission(Permission.EditEmployerInfo) && !Model.IsDeleted)
{
    if (Model.IsNew)
    {
<div class="row">
    <div class="col-xs-12 ">
        <div class="user-headline">
            <h2>New Employer for @Current.Customer().Name</h2>
        </div>
    </div>
</div>
    }

    /// They can edit, so lets build the form
    using (Html.BeginRouteForm("SaveEmployerChanges", new { employerId = Model.Id }, FormMethod.Post, new { id = "employerEditForm", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <h3>Contact Information</h3>
            @if (CurrentUserHasPermission(Permission.CloseAccount) && !string.IsNullOrEmpty(Model.Id))
            {
            <div class="pull-right">
                @Ajax.RouteLink("Delete", "DeleteAccount", new { employerId = Model.Id }, new AjaxOptions()
                {
                HttpMethod = "DELETE"
                }, new { @class = "btn btn-danger btn-primary" })
            </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <label>Company Name</label>
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Company Name", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="col-sm-6">
                    <label>Reference Code</label>
                    @Html.TextBoxFor(m => m.ReferenceCode, new { placeholder = "Reference Code", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ReferenceCode)
                </div>

            </div>
            <div class="row">
                <div class="col-sm-9">
                    <label>Address 1</label>
                    @Html.TextBoxFor(m => m.Address, new { placeholder = "Address 1", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
                <div class="col-sm-3">
                    <label>Suite/Unit/Bldg.</label>
                    @Html.TextBoxFor(m => m.Address2, new { placeholder = "Suite/Unit/Bldg.", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address2)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <label>City</label>
                    @Html.TextBoxFor(m => m.City, new { placeholder = "City", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
                <div class="col-sm-2">
                    <label>Country</label>
                    @Html.CountryDropDownListFor(m => m.Country, new { placeholder = "Country", @class = "form-control country-editor" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
                <div class="col-sm-2">
                    <label>State</label>
                    @Html.StateEditorFor(m => m.State, Model.Country, new { placeholder = "State", @class = "form-control region-editor" })
                    @Html.ValidationMessageFor(m => m.State)
                </div>
                <div class="col-sm-3">
                    <label>ZIP/Postal Code</label>
                    @Html.TextBoxFor(m => m.PostalCode, new { placeholder = "ZIP/Postal Code", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostalCode)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Phone Number</label>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Phone Number", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                </div>
                <div class="col-sm-6">
                    <label>Fax Number</label>
                    @Html.TextBoxFor(m => m.Fax, new { placeholder = "Fax Number", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Fax)
                </div>
            </div>
            @if (CurrentCustomerHasAnyFeature(Feature.EmployerServiceOptions, Feature.EmployeeSelfService))
            {
            <div class="row">
                @if (CurrentCustomerHasFeature(Feature.EmployerServiceOptions))
                {
                    <div class="col-sm-6">
                        @Html.CustomerServiceOptionDropDownListFor(m => m.CustomerServiceOptionId, "Select a customer service option", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CustomerServiceOptionId)
                    </div>
                }
                @if (CurrentCustomerHasFeature(Feature.EmployeeSelfService))
                {
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">https://</span>
                            @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                            <span class="input-group-addon">ess-absencetracker.com</span>
                        </div>
                        @Html.ValidationMessageFor(m => m.Url)
                    </div>
                }
            </div>
            }

            <div class="mt30"></div>
            <h3>Policy Information</h3>
            <div class="row">
                <div class="col-sm-6">
                    @Html.EnumUIDropDownListFor(m => m.FMLPeriodType, "Select A Period Type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FMLPeriodType)
                </div>
                <div class="col-sm-6">
                    @Html.TextBoxFor(m => m.WeeklyWorkHours, new { placeholder = "Weekly Work Hours", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.WeeklyWorkHours)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.CheckBoxFor(m => m.SpouseAtSameEmployer)
                    @Html.LabelFor(m => m.SpouseAtSameEmployer)
                </div>
                <div class="col-sm-6">
                    @Html.CheckBoxFor(m => m.FiftyInSeventyFive)
                    @Html.LabelFor(m => m.FiftyInSeventyFive)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.CheckBoxFor(m => m.AllowIntermittentForBirthAdoptionOrFosterCare)
                    @Html.LabelFor(m => m.AllowIntermittentForBirthAdoptionOrFosterCare)
                </div>
                <div class="col-sm-6">
                    @Html.CheckBoxFor(m => m.IgnoreSystemCalculationsForTotalHoursWorked)
                    @Html.LabelFor(m => m.IgnoreSystemCalculationsForTotalHoursWorked)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.CheckBoxFor(m => m.IgnoreAverageMinutesWorkedPerWeek)
                    @Html.LabelFor(m => m.IgnoreAverageMinutesWorkedPerWeek)
                </div>
            </div>
            <div class="row mt30">
                <div class="col-sm-6">
                    <h3>@Html.LabelFor(m => m.EmailRepliesType)</h3>
                    @Html.EnumUIDropDownListFor(m => m.EmailRepliesType, "Select An Email Reply Type", new { @class = "form-control" })
                </div>
                <div class="col-sm-6">
                    <h3>@Html.LabelFor(m => m.ToDoTemplateCode)</h3>
                    @Html.CommunicationDropDownListFor(m => m.ToDoTemplateCode, "Select A Template", new { @class = "form-control" })

                </div>
            </div>

            @if (CurrentCustomer.HasFeature(Feature.MultiEmployerAccess))
            {
                <div class="mt30"></div>
                <h3>Effective Dates</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.StartDate, "{0:d}", new { placeholder = "Start Date", id="employerEffectiveDate", @class = "form-control date-editor" })
                            <label class="input-group-addon">
                                to
                            </label>
                            @Html.TextBoxFor(m => m.EndDate, "{0:d}", new { placeholder = "End Date", id="employerTerminationDate", @class = "form-control date-editor" })
                        </div>
                        @Html.ValidationMessageFor(m => m.StartDate)
                        @Html.ValidationMessageFor(m => m.EndDate)
                    </div>
                </div>
            }
            </div>
        <div class="col-sm-3 text-center">
            <div class="row">
                <div class="col-xs-12">
                    <div class="admin-logo-circle">
                        <span class="helper"></span>
                        @Html.Action("Logo", "Home", new { includeHomeLink = false })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="file" id="employerLogoUploadFile" name="employerLogo" class="hide" />
                    <label for="employerLogoUploadFile" class="btn btn-primary admin-logo-btn">Upload New Logo</label>
                </div>
            </div>
            <div class="row hide" id="uploadedLogo">
                <div class="col-sm-12">
                    <span id="employerLogoName"></span> <span class="fa fa-2x fa-close text-danger" id="cancelEmployerLogoUpload"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-center mt12">
            @Html.RouteLink("Undo Changes", "AdministrationIndex", new { employerId = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input id="employerSaveForm" type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" />
        </div>
    </div>
</div>
    }
}
else if(CurrentUserHasPermission(Permission.ViewCustomerAndEmployerInfo))
{
<div class="well">
    <div class="row">
        <div class="col-sm-10">
            <h3>Contact Information</h3>
            <div class="row">
                <div class="col-sm-12">
                    @Html.DisplayFor(m => m.Name) | @Html.DisplayFor(m => m.Url)<text>.absencetracker.com</text>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.DisplayFor(m => m.Address)
                </div>
                <div class="col-sm-12">
                    @Html.DisplayFor(m => m.Address2)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.DisplayFor(m => m.City), @Html.DisplayFor(m => m.State) @Html.DisplayFor(m => m.PostalCode) | @Html.DisplayFor(m => m.Country)
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    @Html.DisplayFor(m => m.PhoneNumber) | @Html.DisplayFor(m => m.Fax, new { placeholder = "Fax Number", @class = "form-control" })
                </div>
            </div>
            <div class="mt30"></div>
            <h3>Policy Information</h3>
            <div class="row">
                <div class="col-sm-6">
                    @Html.DisplayNameFor(m => m.FMLPeriodType)
                    <strong>@Html.DisplayFor(m => m.FMLPeriodType)</strong>
                </div>
                <div class="col-sm-6">
                    @Html.DisplayNameFor(m => m.WeeklyWorkHours)
                    <strong>@Html.DisplayFor(m => m.WeeklyWorkHours)</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.SpouseAtSameEmployer)
                    <strong>
                        @if (Model.SpouseAtSameEmployer)
                        {
                        <text>Yes</text>
                        }
                        else
                        {
                        <text>No</text>
                        }
                    </strong>
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.FiftyInSeventyFive)
                    <strong>
                        @if (Model.FiftyInSeventyFive)
                        {
                        <text>Yes</text>
                        }
                        else
                        {
                        <text>No</text>
                        }
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.AllowIntermittentForBirthAdoptionOrFosterCare)
                    <strong>
                        @if (Model.AllowIntermittentForBirthAdoptionOrFosterCare)
                        {
                        <text>Yes</text>
                        }
                        else
                        {
                        <text>No</text>
                        }
                    </strong>
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(m => m.IgnoreSystemCalculationsForTotalHoursWorked)
                    <strong>
                        @if (Model.IgnoreSystemCalculationsForTotalHoursWorked)
                        {
                        <text>Yes</text>
                        }
                        else
                        {
                        <text>No</text>
                        }
                    </strong>
                </div>
            </div>
            @if (CurrentCustomerHasFeature(Feature.EmployerServiceOptions) && CurrentUserHasPermission(Permission.ViewCustomerAndEmployerInfo))
            {
            <div class="mt30"></div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>@Html.LabelFor(m => m.CustomerServiceOption)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <text>@Model.CustomerServiceOption</text>
                </div>
            </div>
            }
            <div class="mt30"></div>
            <h3>Effective Dates</h3>
            <div class="row">
                <div class="col-sm-6">
                    @Html.DisplayNameFor(m => m.StartDate)
                    <strong>@Html.DisplayFor(m => m.StartDate)</strong>
                </div>
                <div class="col-sm-6">
                    @Html.DisplayNameFor(m => m.EndDate)
                    <strong>@Html.DisplayFor(m => m.EndDate)</strong>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="admin-logo-circle">
                        <span class="helper"></span>
                        @Html.Action("Logo", "Home", new { includeHomeLink = false })
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.IsDeleted && CurrentUserHasPermission(Permission.CloseAccount))
    {
    <div class="row">
        <div class="col-sm-12 text-center mt12">
            @Ajax.RouteLink("Restore", "RestoreAccount", new { employerId = Model.Id }, new AjaxOptions() { }, new { @class = "btn admin-save-btn btn-primary" })
        </div>
    </div>
    }

</div>
}
else
{
<div class="well">
    <div class="row">
        <div class="col-sm-12">
            Use the navigation above for configuration options for @Model.Name
        </div>
    </div>
</div>
}