﻿@model dynamic
@{
    ViewBag.Title = "Manage User";
    Layout = "~/Views/Shared/_AdministrationSidebarLayout.cshtml";
}
<div class="col-xs-12 well" ng-controller="ManageUserCtrl">
    <div class="row">
        <div class="col-xs-12 manage-userheadline">
            <h3 ng-show="IsAddNew==false">{{SignUpData.FirstName}} {{SignUpData.LastName}}</h3>
            <h3 ng-show="IsAddNew==true">Add New User</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-init="initManageUser('@(Newtonsoft.Json.JsonConvert.SerializeObject(Model.User).Replace("'", "\\'"))','@ViewBag.IsEmployeeSelfService.ToString()', @Newtonsoft.Json.JsonConvert.SerializeObject(Model.IsAddNew), @Newtonsoft.Json.JsonConvert.SerializeObject(Current.Customer().EnableAllEmployersByDefault))">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <div class="tabPanel-height">
                    <ul class="nav nav-tabs nav-supervisor-tabs" role="tablist">
                        <li role="presentation" class="active"><a href=".info" aria-controls="info" role="tab" data-toggle="tab">General Info</a></li>
                        <li role="presentation"><a href=".user-roles" aria-controls="user-roles" role="tab" data-toggle="tab">Roles</a></li>
                        <li role="presentation"><a href=".employer-access" aria-controls="employer-access" role="tab" data-toggle="tab" ng-if="ShowEmployerAccess">Employer Roles</a></li>
                        <li role="presentation"><a href=".todo-notification" aria-controls="todo-notification" role="tab" data-toggle="tab" >Notifications</a></li>
                        <li role="presentation"><a href=".emp-organization" aria-controls="emp-organization" role="tab" data-toggle="tab" ng-if="IsAddNew==false && ShowOrganizationTab">Organizations</a></li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div class="clearfix">&nbsp;</div>
                <div class="tab-content col-sm-8 col-sm-offset-2 mt30">
                    <div role="tabpanel" class="tab-pane fade in active info">
                        <form name="forms.frmAddUser" novalidate>
                            <div class="row">
                                <div class="col-sm-6 field-input">
                                    <label>First Name</label>
                                    <input type="text" ng-class="{'has-error':(!forms.frmAddUser.FirstName.$pristine || submitted) && forms.frmAddUser.FirstName.$error.required}" class="form-control" ng-model="SignUpData.FirstName" name="FirstName" id="txtFirstName" placeholder="Enter first name" title="Enter first name" required>
                                    <span class="error" ng-cloak ng-show="(!forms.frmAddUser.FirstName.$pristine || submitted) && forms.frmAddUser.FirstName.$error.required">Please enter first name</span>
                                </div>
                                <div class="col-sm-6 field-input">
                                    <label>Last Name</label>
                                    <input type="text" ng-class="{'has-error':(!forms.frmAddUser.LastName.$pristine || submitted) && forms.frmAddUser.LastName.$error.required}" class="form-control" ng-model="SignUpData.LastName" name="LastName" id="txtLastName" placeholder="Enter last name" title="Enter last name" required>
                                    <span class="error" ng-cloak ng-show="(!forms.frmAddUser.LastName.$pristine || submitted) && forms.frmAddUser.LastName.$error.required">Please enter last name</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 field-input">
                                    <label>Title</label>
                                    <input type="text" class="form-control" ng-model="SignUpData.Title" name="Title" id="txtTitle" placeholder="Enter title" title="Enter title">
                                </div>
                            </div>
                            <div class="row">
                                @{
                                    int colSize = CurrentCustomerHasFeature(Feature.EmployeeSelfService) ? 6 : 12;
                                }
                                <div class="col-sm-@colSize" ng-if="IsAddNew==false">
                                    <label>Email</label>
                                    <span class="form-control disabled" ng-bind="SignUpData.Email"></span>
                                </div>
                                <div class="col-sm-@colSize field-input" ng-if="IsAddNew==true">
                                    <label>Email</label>
                                    <input type="email" name="Email"
                                           ng-class="{'has-error':(!forms.frmAddUser.Email.$pristine && submitted && forms.frmAddUser.Email.$error.required) || (!forms.frmAddUser.Email.$pristine && submitted && forms.frmAddUser.Email.$error.email)}"
                                           at-unique-email
                                           signup="false"
                                           ng-model="SignUpData.Email"
                                           class="form-control"
                                           id="txtEmail"
                                           placeholder="Enter email address"
                                           title="Enter email address"
                                           required>
                                    <span class="error" ng-cloak ng-show="(!forms.frmAddUser.Email.$pristine && submitted) && forms.frmAddUser.Email.$error.required">Please enter email</span>
                                    <span class="error" ng-cloak ng-show="(!forms.frmAddUser.Email.$pristine && submitted) && forms.frmAddUser.Email.$error.email">Please enter a valid email address</span>
                                    <span class="error" ng-cloak ng-show="forms.frmAddUser.Email.$error.uniqueEmail">Email Address already exists</span>
                                </div>
                               @if (CurrentCustomerHasFeature(Feature.EmployeeSelfService))
                                {
                                    <div class="col-sm-6 field-input form-group">
                                        <div>&nbsp;</div>
                                        <label>
                                            Is Self Service?
                                            <input type="checkbox" ng-model="SignUpData.IsSelfServiceUser" />
                                        </label>
                                        <div>&nbsp;</div>
                                    </div>
                                }
                            </div>
                            <div class="row">
                                <div class="col-sm-6 field-input">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" ng-model="SignUpData.Phone" name="Phone" id="txtPhone" placeholder="Enter phone number" title="Enter phone number">
                                </div>
                                <div class="col-sm-6 field-input">
                                    <label>Fax</label>
                                    <input type="text" class="form-control" ng-model="SignUpData.Fax" name="Fax" id="txtFax" placeholder="Enter fax number" title="Enter fax number">
                                </div>
                            </div>

                            <div class="row" ng-show="EmployersList.length > 0">
                                <div class="col-sm-6 field-input">
                                    <label>End Date</label>
                                    <input type="text" class="form-control" ng-model="SignUpData.EndDate" name="EndDate" id="userEndDate" placeholder="Enter end date" title="Enter end date" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions">
                                </div>
                                <div class="col-sm-6" ng-show="EmployersList.length > 0">
                                    <label>Employee Name or Id</label>
                                    <input placeholder="Begin typing an employee name or id" employee-search append-employer-in-parentheses="true" class="form-control" ng-class="{'has-error': Invalid && submitted}" ng-model="SignUpData.AssignedEmployeeDisplayName" />
                                    <div class="error" ng-cloak ng-show="Invalid && submitted">Please select employer corresponding to assigned employee</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 field-input">
                                    <label>Job Title</label>
                                    <input type="text" class="form-control" ng-model="SignUpData.JobTitle" name="JobTitle" id="txtJobTitle" placeholder="Enter job title" title="Enter job title">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 role-checkboxes mb20">
                                    <div class="emp-acc">
                                        <a href="#employerAccess" data-toggle="collapse"><h3>Employer Access</h3><span class="pull-right"><i class="fa fa-2x fa-chevron-circle-down"></i></span></a>
                                    </div>
                                    <div id="employerAccess" class="collapse emp-acc-box">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <input type="search" placeholder="Search for an employer..." class="form-control" ng-keyup="FilterEmployers()" ng-model="EmployerFilter" />
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <span ng-click="SetAllEmployers(true)" class="select-links">
                                                    Select All
                                                </span>
                                                <span class="divider">|</span>
                                                <span ng-click="SetAllEmployers(false)" class="select-links">
                                                    Unselect All
                                                </span>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div ng-repeat="employer in EmployerColumns[0] | orderBy:'Name'" ng-show="employer.Show">
                                                    <label>
                                                        <input type="checkbox" ng-model="employer.checked" ng-disabled="EmployersList.length == 1" />
                                                        {{employer.Name}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div ng-repeat="employer in EmployerColumns[1] | orderBy:'Name'" ng-show="employer.Show">
                                                    <label>
                                                        <input type="checkbox" ng-model="employer.checked" ng-disabled="EmployersList.length == 1" />
                                                        {{employer.Name}}
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div ng-repeat="employer in EmployerColumns[2] | orderBy:'Name'" ng-show="employer.Show">
                                                    <label>
                                                        <input type="checkbox" ng-model="employer.checked" ng-disabled="EmployersList.length == 1" />
                                                        {{employer.Name}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade user-roles role-checkboxes">
                        <div class="row">
                            <div class="col-sm-12" ng-repeat="role in SignUpData.AllRoles">
                                <label>
                                    <input type="checkbox" ng-model="SignUpData.ApplyRoles[$index].Apply" />
                                    {{role.Name}}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" ng-if="MissingRole">
                                <span class="error" ng-cloak>Please select a role</span>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade employer-access role-checkboxes">
                        <form name="frmEmployerAccess" novalidate>
                            <div class="row">
                                <div class="col-sm-12">
                                    <select name="Employer" class="form-control" ng-options="employer.EmployerId as employer.EmployerName for employer in EmployerAccessModel" ng-model="EmployerAccessModel.SelectedEmployer" required>
                                        <option value="">Select an employer</option>
                                    </select>
                                    <span class="error" ng-cloak ng-show="frmEmployerAccess.Employer.$error.required && tab2Submitted">Please select an employer</span>
                                </div>
                            </div>

                            <div class="row" ng-repeat="employer in EmployerAccessModel">
                                <div class="col-xs-12" ng-if="EmployerAccessModel.SelectedEmployer == employer.EmployerId">
                                    <div ng-repeat="role in employer.AllRoles">
                                        <label>
                                            <input type="checkbox" ng-model="role.Apply"  />
                                            {{role.Name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade todo-notification">
                        <form name="frmTodoNotification" novalidate>
                            <div class="row mb20">
                                <div class="col-sm-12 admin-ab-boxes form-group">
                                    <h3>Select the frequency for to-do notifications:</h3>
                                    <div class="btn-group btn-group-justified mb20" data-toggle="buttons">
                                        <label class="btn btn-primary" ng-class="{'active': SignUpData.ToDoNotificationFrequency == null }" ng-click="SignUpData.ToDoNotificationFrequency = null">
                                            <input type="radio" ng-model="SignUpData.ToDoNotificationFrequency" name="ToDoNotificationFrequency" value="" /> None
                                        </label>
                                        <label class="btn btn-primary" ng-class="{'active': SignUpData.ToDoNotificationFrequency == 0}" ng-click="SignUpData.ToDoNotificationFrequency = 0">
                                            <input type="radio" ng-model="SignUpData.ToDoNotificationFrequency" name="ToDoNotificationFrequency" value="0" /> Immediately
                                        </label>
                                        <label class="btn btn-primary" ng-class="{'active': SignUpData.ToDoNotificationFrequency == 1}" ng-click="SignUpData.ToDoNotificationFrequency = 1">
                                            <input type="radio" ng-model="SignUpData.ToDoNotificationFrequency" name="ToDoNotificationFrequency" value="1" /> Daily
                                        </label>
                                        <label class="btn btn-primary" ng-class="{'active': SignUpData.ToDoNotificationFrequency == 2}" ng-click="SignUpData.ToDoNotificationFrequency = 2">
                                            <input type="radio" ng-model="SignUpData.ToDoNotificationFrequency" name="ToDoNotificationFrequency" value="2" /> Weekly
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane fade emp-organization">
                        <div class="row row-offset-sm child-tree-indent" style="height: 300px !important;">
                            <div class="col-sm-11  border">
                                <div class="col-sm-12 col-wrap">
                                    <div class="col-sm-12 col-header">
                                        CURRENT ORGANIZATIONS
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    &nbsp;
                                </div>
                                <div class="col-sm-12 col-wrap">
                                    <div ng-repeat="orgTree in CurrentOrganizationTreeForUser">
                                        <div class="col-sm-3" ng-include src="'/scripts/app-angular/Admin/EmployeeOrganization/current-organization-treeview.html'"></div>
                                        <div class="col-sm-12 clearfix" ng-if="($index+1)%4==0">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" ng-show="CurrentOrganizationTreeForUser.length==0">
                                    <span>No Organization Visibility currently assigned to this user.</span>
                                </div>
                            </div>
                            <div class="col-sm-11 clearfix">
                                &nbsp;
                            </div>
                            <div class="col-sm-11 border">
                                <div class="col-sm-12 col-wrap">
                                    <div class="col-sm-12 col-header">
                                        ASSIGN ORGANIZATION VISIBILITY
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix">
                                    &nbsp;
                                </div>
                                <div class="col-sm-12 col-wrap">
                                    <div class="col-sm-5">
                                        Organization Type:
                                    </div>
                                    <div class="col-sm-5">
                                        Organization Name:
                                    </div>
                                    <div class="col-sm-5">
                                        <select name="Organization.Type" id="Organization_Type" class="form-control" ng-options="type.Code as type.Name for type in OrganizationTypes" ng-model="SelectedOrganizationType" ng-change="OrgTypeNotSelected=false;">
                                            <option value="">Select One...</option>
                                        </select>
                                        <span class="error" ng-cloak ng-show="OrgTypeNotSelected">Please enter Organization Type</span>
                                    </div>
                                    <div class="col-sm-5">
                                        <input placeholder="Search for an organization by name" class="form-control" ng-model="OrganizationName" />
                                    </div>
                                    <div class="col-sm-2 col-right">
                                        <button class="btn btn-primary btn-edit btn-xs" ng-click="ViewAllOrganizationTrees();">View All</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-wrap" ng-show="OrganizationTreeForUser.length>0">
                                    <div class="col-sm-10">
                                        <div class="col-sm-4 org-visibility-tableheader">
                                            Organization
                                        </div>
                                        <div class="col-sm-2 org-visibility-tableheader">
                                            Hidden
                                        </div>
                                        <div class="col-sm-2 org-visibility-tableheader">
                                            Member
                                        </div>
                                        <div class="col-sm-2 org-visibility-tableheader">
                                            Viewer
                                        </div>
                                        <div class="col-sm-2 org-visibility-tableheader">
                                            Leader
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-right">
                                        <button type="button" ng-click="SaveOrganizationVisibilityForUser();" class="btn btn-primary btn-edit btn-xs">Save</button>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="scrollOrganization">
                                            <div ng-repeat="assignOrgTree in OrganizationTreeForUser">
                                                <div ng-class-even="'even'" ng-class-odd="'odd'">
                                                    <div ng-include src="'/scripts/app-angular/Admin/EmployeeOrganization/assign-organization-visibility-treeview.html'"></div>
                                                    <span class="org-apply-template-alt-color">{{ assignOrgTree.OrganizationName }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10" ng-show="DisplayNoResultsMessage">
                                        <span>No Organizations found.</span>
                                    </div>
                                    <div class="col-sm-2 col-right">
                                        <button type="button" class="btn btn-primary btn-edit btn-xs" ng-click="ResetAll();">Reset All</button>
                                    </div>
                                </div>
                                <div class="col-sm-12 pull-center" ng-show="DisplayNoResultsMessage">
                                    <span>No Organizations found.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="ShowPasswordResetLink">
                        <div class="col-sm-12">
                            <div class="alert alert-success" role="alert">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="ClearPasswordResetLink()">&times;</a>
                                <label>Reset Link: </label>
                                <span class="disabled wraptexts" ng-bind="ResetLink"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center user-action-btns">
                        @Html.RouteLink("Cancel", "ViewUsers", null, new { @class = "btn btn-link admin-cancel-btn" })
                        <button ng-show="User.IsDisableable" has-permission="DisableUser" class="btn admin-delete-btn btn-primary" ng-click="DisableUser()">Disable</button>
                        <button ng-show="User.IsEnableable" has-permission="EnableUser" class="btn btn-primary admin-save-btn" ng-click="EnableUser()">Enable</button>
                        <button ng-show="User.IsLocked" has-permission="ManageUserAccount" class="btn btn-primary admin-save-btn" ng-click="UnLockUser()">UnLock</button>
                        <button ng-show="User.IsResetPwdAllowed" has-permission="ManageUserAccount" class="btn btn-primary admin-save-btn" ng-click="ResetUserPassword()">Password Reset</button>
                        <button type="button" class="btn btn-primary admin-save-btn" ng-show="User.IsEditable || IsAddNew" ng-disabled="Saving" id="saveButtonRole" ng-click="submitted=true; Save(forms.frmAddUser.$valid);">{{IsAddNew ? "Create User" : "Update"}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 text-center" ng-show="IsAddNew">
            <div class="row">
                <b>Note:</b> Create user button will send an email to this user with instructions for setting their password.
            </div>
        </div>
    </div>
    <!-- Modal confirm -->
    <div class="modal fade" id="confirmModal" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">                    
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12" id="confirmMessage">
                        </div>
                    </div>
                    <div class="row row-offset pad0">
                        <div class="pull-center">
                            <button type="button" class="btn btn-primary btn-centered" id="confirmOk">Ok</button>
                            <button type="button" class="btn btn-default btn-centered" id="confirmCancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

