﻿@model AbsenceSoft.Models.Administration.SecuritySettingsViewModel

@using (Ajax.BeginRouteForm("SaveSecuritySettings", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "editSecuritySettingsForm",
    OnComplete = "AbsenceSoft.SecuritySettings.Start()"
}, new { id = "editSecuritySettingsForm", ng_non_bindable = "" }))
{
    @Html.AntiForgeryToken()
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Inactivity Monitor</h3>
                <div class="row">
                    <div class="col-sm-4 admin-check-large">
                        @Html.LabelFor(m => m.ShowInactiveLogoutPrompt)
                        @Html.CheckBoxFor(m => m.ShowInactiveLogoutPrompt)
                        @Html.ValidationMessageFor(m => m.ShowInactiveLogoutPrompt)
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.InactiveLogoutPeriod, new { @class = "form-control", placeholder = "Logout period" })
                        @Html.ValidationMessageFor(m => m.InactiveLogoutPeriod)
                    </div>
                    <div class="col-sm-5">
                        <small>This is the amount of inactive time in minutes allowed on the website, before a user is logged out. Select a shorter time for more secure sessions. (Default session is 60 minutes)</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 admin-check-large">
                        @Html.LabelFor(m => m.ShowSelfServiceInactiveLogoutPrompt)
                        @Html.CheckBoxFor(m => m.ShowSelfServiceInactiveLogoutPrompt)
                        @Html.ValidationMessageFor(m => m.ShowSelfServiceInactiveLogoutPrompt)
                    </div>
                    <div class="col-sm-3">
                        @Html.TextBoxFor(m => m.SelfServiceInactiveLogoutPeriod, new { @class = "form-control", placeholder = "Self-service logout period" })
                        @Html.ValidationMessageFor(m => m.SelfServiceInactiveLogoutPeriod)
                    </div>
                    <div class="col-sm-5">
                        <small>
                            This is the amount of inactive time in minutes allowed on the self-service portion of the website, before a user is logged out. Select a shorter time for more secure sessions. (Default session is 60 minutes)
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-12">
                <h3>Password Policy</h3>
                <div class="row">
                    <div class="col-sm-3">
                        <label>Expiration</label>
                        @Html.DropDownListFor(m => m.ExpirationDays, Model.AvailableExpirationDays, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ExpirationDays)
                    </div>
                    <div class="col-sm-3">
                        <label>Minimum Length</label>
                        @Html.TextBoxFor(m => m.MinimumLength, new { @class = "form-control", placeholder = "Minimum Length" })
                        @Html.ValidationMessageFor(m => m.MinimumLength)
                    </div>
                    <div class="col-sm-3">
                        <label>Reuse Limit (Days)</label>
                        @Html.TextBoxFor(m => m.ReuseLimitCount, new { @class = "form-control", placeholder = "Reuse Limit (Recent Passwords)" })
                        @Html.ValidationMessageFor(m => m.MinimumLength)
                        <small>Password cannot be reused unless it is at least X days old.</small>
                    </div>
                    <div class="col-sm-3">
                        <label>Reuse Limit (Recent Passwords)</label>
                        @Html.TextBoxFor(m => m.ReuseLimitDays, new { @class = "form-control", placeholder = "Reuse Limit (Days)" })
                        @Html.ValidationMessageFor(m => m.MinimumLength)
                        <small>Password cannot be reused if it is one of the previously used X passwords.</small>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @if (CurrentCustomer.HasSSO() || CurrentCustomerHasFeature(Feature.EmployeeSelfService))
        {
            <div class="row">
                <div class="col-xs-12">
                    <h3>Login Page Settings</h3>
                    <div class="row">
                        @if (CurrentCustomer.HasSSO())
                        {
                            <div class="col-xs-3 admin-check-large">
                                @Html.LabelFor(m => m.DisableLoginPage)
                                @Html.CheckBoxFor(m => m.DisableLoginPage)
                            </div>
                        }
                        @if (CurrentCustomerHasFeature(Feature.EmployeeSelfService))
                        {
                            <div class="col-xs-3 admin-check-large">
                                @Html.LabelFor(m => m.DisableESSLoginPage)
                                @Html.CheckBoxFor(m => m.DisableESSLoginPage)
                            </div>
                            <div class="col-xs-3 admin-check-large">
                                @Html.LabelFor(m => m.EnableESSSelfRegistration)
                                @Html.CheckBoxFor(m => m.EnableESSSelfRegistration)
                            </div>
                        }
                    </div>
                    @if (CurrentCustomer.HasSSO())
                    {

                        <div class="row">
                            <div class="col-xs-12">
                                @Html.LabelFor(m => m.DisabledLoginPageText)
                                @Html.TextAreaFor(m => m.DisabledLoginPageText)
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
        @if (CurrentCustomerHasFeature(Feature.MultiEmployerAccess) || CurrentCustomer.HasMoreThanOneEmployer())
        {
            <div class="row">
                <div class="col-xs-12">
                    <h3>User Settings</h3>
                    <div class="row">
                        <div class="col-xs-3 admin-check-large">
                            @Html.LabelFor(m => m.EnableAllEmployersByDefault)
                            @Html.CheckBoxFor(m => m.EnableAllEmployersByDefault)
                        </div>
                        <div class="col-xs-5">
                            <small>When checked, all users will have access to all employers by default.  This can still be overridden per user.</small>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "SecuritySettings", null, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveSecuritySettings" />
        </div>
    </div>
}