﻿@model  List<AbsenceSoft.Models.Administration.EmployerInfo>

@{ 
    int numberOfColumns = 4;
    Layout = "~/Views/Shared/_AdministrationSidebarLayout.cshtml";
    List<List<AbsenceSoft.Models.Administration.EmployerInfo>> columns = new List<List<AbsenceSoft.Models.Administration.EmployerInfo>>(numberOfColumns);
    int employersPerColumn = Model.Count / numberOfColumns;
    int extraEmployers = Model.Count % numberOfColumns;
    for (int i = 0; i < numberOfColumns; i++)
    {
        if(i < extraEmployers)
        {
            columns.Add(Model.Skip((i * employersPerColumn) + i).Take(employersPerColumn + 1).ToList());
        }
        else
        {
            columns.Add(Model.Skip((i * employersPerColumn) + extraEmployers).Take(employersPerColumn).ToList());
        }

    }
}

<div class="row">
    <div class="col-xs-12 ">
        <div class="user-headline">
            <h2>All Employers</h2>
            @if (HasFeatureAndPermission(Feature.MultiEmployerAccess, Permission.EditEmployerInfo))
            {
                <span class="pull-right">
                    @Html.RouteLink("New Employer", "AdministrationIndex", new { employerId = "new" }, new { @class = "btn btn-primary addnew-admin-btn" })
                </span>
            }
            
        </div>
    </div>
</div>
<div class="row">
    @foreach (var column in columns)
    {
        <div class="col-xs-3 vae-links">
            @foreach (var employer in column)
            {
                @Html.RouteLink(employer.EmployerName, "AdministrationIndex", new { employerId = employer.EmployerId })
            }
        </div>
    }
</div>