﻿
<!-- #region Modal: START Edit CaseAttachmentRequest-->
<form name="frmEditCaseAttachmentRequest" novalidate>
    <div class="modal fade" id="EditCaseAttachmentRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelCaseAttachmentRequests()">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Edit Case Attachment</h4>
                </div>
                <div class="modal-body">
                    
                    <!--Case Attachment Request-->
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="col-sm-4 col-header">
                                Name
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="EditCaseAttachmentRequest.FileName" ng-required="true" name="FileName" rows="3"
                                          ng-class="{'has-error' : frmEditCaseAttachmentRequest.FileName.$error.required}"></textarea>
                                <div class="error" ng-cloak ng-show="frmEditCaseAttachmentRequest.FileName.$error.required">Please enter the file name.</div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-offset">
                        <div class="col-sm-11">
                            <div class="col-sm-4 col-header">
                                Description
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control" ng-model="EditCaseAttachmentRequest.Description" ng-required="true" name="Description" rows="3">&nbsp;</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="IsRequest == true">&nbsp;</div>
                    <!--Submit Request-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                                ng-click="forms.editSubmitted=true;
                                          ModifyCaseAttachment(frmEditCaseAttachmentRequest.$valid, false, true)">
                            Update Request
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelCaseAttachmentRequests()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- #endregion -->