﻿@model AbsenceSoft.Models.MultiParentedModelBase
@{
    var isInquiry = ViewBag.Status == "Inquiry";
    var caseAttachmentListModel = Model as AbsenceSoft.Models.CaseParentedModel;
    var parentInstanceId = caseAttachmentListModel.CaseId;
    var defaultAttachmentToConfidential = CurrentCustomer.DefaultAttachmentToConfidential.ToString();
}

@*@if (ViewBag.IsEmployeeSelfService)
    {
        <link href="@Url.Content("~/Content/bootstrap-custom/_main-green.css")" rel="stylesheet" />
    }*@

@Html.Action("ParentCaseInfo", "Cases", new { caseId = caseAttachmentListModel.CaseId, status = ViewBag.Status })

<div class="row row-offset" ng-controller="AttachmentsCtrl" ng-init="init('@parentInstanceId','@ViewBag.CreationDate','@defaultAttachmentToConfidential')" ng-cloak>
	<div class="col-sm-12">
			<div class="row">
                <div class="col-sm-2"></div>
				<div class="col-sm-9">
					<p class="custom-content">@T("Web.Cases.Create.Attachment", null, caseAttachmentListModel.EmployerId, parentInstanceId, caseAttachmentListModel.EmployeeId)</p>
				</div>
			</div>
	</div>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="content-section">@(isInquiry ? "Inquiry" : "Case") Attachments</div> 
                        <div class="btn-icon-attachment-index"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <!--Add new-->
                <div class="row" has-permission="AttachFile">
                    <div class="col-sm-12 dragzone">
                        <input id="caseAttachments" style="display:none" type="file" name="caseAttachments" data-url="/Cases/@parentInstanceId/Attachments/Create" multiple data-sequential-uploads="true">
                        <label id="caseAttachmentsLabel" for="caseAttachments" class="btn btn-primary">Select Files</label>
                        <label for="caseAttachments">or drag and drop.</label>

                        @*<label style="margin-top:12px;" class="pull-right">{{NewAttachments.length}} file(s) selected</label>*@
                    </div>
                    
                </div>
                
                <div class="row" has-permission="AttachFile">
                    <div class="col-sm-12">
                        <div id="progress">
                            <div class="bar" style="width: 0%;"></div>
                        </div>
                    </div>
                </div>
                <div id="newAttachments" class="row row-offset" ng-show="NewAttachments.length > 0 && IsUploadInProgress == false" has-permission="AttachFile">
                    @*<div class="col-sm-2 col-header">Date</div>*@
                    <div class="col-sm-3 col-header">Category</div>
                    <div class="col-sm-6 col-header">Description</div>
                    <div class="col-sm-3 col-header">Attachment</div>
                </div>
                <div ng-repeat="attachment in NewAttachments" has-permission="AttachFile">
                    <div ng-show="attachment.IsUploading==false">
                        <div class="row">
                            <div class="col-sm-3">
                                <select ng-model="attachment.AttachmentType" class="form-control">
                                    <option value="2">Paperwork</option>
                                    <option value="3">Documentation</option>
                                    <option value="1">Communication</option>
                                    <option value="0">Other</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <textarea class="form-control" ng-model="attachment.Description" rows="3"></textarea>
                            </div>
                            <div class="col-sm-3">
                                <div>{{attachment.FileName}}</div>
                                <div><a href="" ng-click="CancelFileUpload(attachment)">Cancel</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Confidential</div>
                            <div class="col-sm-4">
                                <div class="btn-group group-2" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : attachment.Public}" ng-click="attachment.Public = true">
                                        <input type="radio" ng-model="attachment.Public" value="true" /> No
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : !attachment.Public}" ng-click="attachment.Public = false">
                                        <input type="radio" ng-model="attachment.Public" value="false" /> Yes
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10" ng-show="attachment.ShowMessage==true">{{attachment.Message}}</div>
                        <div class="col-sm-2">
                            <button type="button" ng-show="attachment.ShowCancel==true" class="btn btn-link" ng-click="CancelFileUpload(attachment)">Cancel</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="NewAttachments.length > 0" has-permission="AttachFile">
                    <div class="col-sm-2 col-sm-offset-10">
                        <button type="button" class="btn btn-primary" ng-disabled="isDisabled" ng-click="isDisabled=true; UploadFiles()">Upload</button>
                    </div>
                </div>
                <!--./Add new-->
                
                <div class="row row-offset" ng-cloak>
                    <div class="col-sm-12">
                        <div class="row row-header top-row-style" id="empSort" style="cursor: pointer">
                            <div class="col-sm-2" ng-click="UpdateAttachmentSort('cdt')">
                                <span>Date</span>
                                <div class="sort" ng-show="AttachmentsFilter.SortExpression == 'cdt'">
                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[AttachmentsFilter.SortDir == 'asc']"></span>
                                </div>
                            </div>
                            <div class="col-sm-2" ng-click="UpdateAttachmentSort('AttachmentType')">
                                <span>Category</span>
                                <div class="sort" ng-show="AttachmentsFilter.SortExpression == 'AttachmentType'">
                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[AttachmentsFilter.SortDir == 'asc']"></span>
                                </div>
                            </div>
                            <div class="col-sm-2" ng-click="UpdateAttachmentSort('Description')">
                                <span>Description</span>
                                <div class="sort" ng-show="AttachmentsFilter.SortExpression == 'Description'">
                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[AttachmentsFilter.SortDir == 'asc']"></span>
                                </div>
                            </div>
                            <div class="col-sm-3" ng-click="UpdateAttachmentSort('FileName')">
                                <span>Attachment</span>
                                <div class="sort" ng-show="AttachmentsFilter.SortExpression == 'FileName'">
                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[AttachmentsFilter.SortDir == 'asc']"></span>
                                </div>
                            </div>
                            <div class="col-sm-2" ng-click="UpdateAttachmentSort('cby')">
                                <span>Attached By</span>
                                <div class="sort" ng-show="AttachmentsFilter.SortExpression == 'cby'">
                                    <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[AttachmentsFilter.SortDir == 'asc']"></span>
                                </div>
                            </div>
                            <div class="col-sm-1">
                            </div>
                        </div>
                        <div class="row row-filter bottom-row-style" id="empFilters">
                            <div class="col-sm-2">
                                <div class="field-input input-group date">
                                    <input type="text" id="AttachmentFilterDate" name="AttachmentFilterDate" class="form-control input-sm filter" ng-model="AttachmentsFilter.CreatedDate"
                                           at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="Created date" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                @*<input ng-model="AttachmentsFilter.AttachmentType" ng-keyup="GetAttachments(false)" type="text" class="form-control filter" placeholder="Category" />*@
                                <select ng-model="AttachmentsFilter.AttachmentType" ng-change="GetAttachments(false)" class="form-control filter" ng-options="type.Id as type.Text for type in attachmentTypes"></select>
                            </div>
                            <div class="col-sm-2">
                                <input ng-model="AttachmentsFilter.Description" ng-keyup="GetAttachments(false)" type="text" class="form-control filter" placeholder="Description" />
                            </div>

                            <div class="col-sm-3">
                                <input ng-model="AttachmentsFilter.FileName" ng-keyup="GetAttachments(false)" type="text" class="form-control filter" placeholder="Attachment" />
                            </div>

                            <div class="col-sm-2">
                                <input ng-model="AttachmentsFilter.AttachedBy" ng-keyup="GetAttachments(false)" type="text" class="form-control filter" placeholder="Attached By" />
                            </div>
                            <div class="col-sm-1">
                            </div>
                        </div>
                        <div class="row white-attach-box">
                            <div class="col-sm-12 note" ng-repeat="attachment in Attachments">
                                <div class="col-sm-2">{{attachment.CreatedDate | ToDate | date:'MM/dd/yyyy'}}</div>
                                <div class="col-sm-2">
                                    {{attachment.AttachmentTypeName}}
                                </div>
                                <div class="col-sm-2 info-contain"><label ng-bind="attachment.Description"></label></div>
                                <div class="col-sm-3 info-contain">
                                    <a href="/Cases/{{CaseId}}/Attachments/{{attachment.Id}}">
                                        {{attachment.FileName}}
                                    </a>
                                </div>
                                <div class="col-sm-2">{{attachment.AttachedBy}}</div>
                                
                                <div class="btn-right-corner" has-permission="EditAttachment">
                                    <button class="btn btn-default btn-edit" data-toggle="modal" tooltip="Edit the Name or Description." 
                                            data-target="#EditCaseAttachmentRequest"
                                            ng-click="SetCaseAttachmentRequestToEdit(attachment)"
                                            data-backdrop="static"
                                            data-keyboard="false">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </div>

                                <div class="col-sm-1 text-center" has-permission="DeleteAttachment">
                                    <a href="javascript:void(0);" ng-click="Delete(attachment)">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-right">
                <a href="@Url.RouteUrl((isInquiry ? "Inquiry" : "Case") + "Communications", new { caseId = parentInstanceId })" class="btn btn-primary" has-permission="SendCommunication">Communications</a>
                <a href="@Url.RouteUrl((isInquiry ? "Inquiry" : "Case") + "Notes", new { caseId = parentInstanceId })" class="btn btn-primary" has-permission="ViewNotes">Notes</a>
                <a href="@Url.RouteUrl((isInquiry ? "Inquiry" : "Case") + "Activity", new { caseId = parentInstanceId })" class="btn btn-primary" has-permission="ViewNotes">Activity</a>
            </div>
        </div>
    </div>
    <!-- #region case modals -->
    @{ Html.RenderPartial("_EditCaseAttachment");  }
    <!-- #endregion -->
</div>

