﻿@model AbsenceSoft.SelfService.Models.Employees.CalendarDataViewModel

@Html.HiddenFor(m => m.EmployeeId, new {id ="employeeId"})
<div id="calendarUsage" @if (!Model.AllowSelection) { <text> data-date-days-of-week-disabled="0,1,2,3,4,5,6" </text> }></div>