﻿@model AbsenceSoft.SelfService.Models.EmployeeViewModel

<div class="row well">
    <div class="row">
        <div class="col-xs-12 team-list">
            <div class="pull-left">
                <a href="@Url.RouteUrl("ViewEmployee", new {employeeId = Model.Id})">
                    <i class="fa fa-user emp-icon"></i>
                    <h3>@Html.DisplayFor(m => m.FirstName)<text>&nbsp;</text>@Html.DisplayFor(m => m.LastName)</h3>
                </a>

                <h4><span>|</span>Employee ID#@Html.DisplayFor(m => m.EmployeeNumber)</h4>

                @if (Model.OpenCasesCount > 0)
                {
                    <h4><span>|</span><a class="open-cases-link" href="@Url.RouteUrl("ViewEmployee", new {employeeId = Model.Id, employerId = Model.EmployerId, openCasesCount = Model.OpenCasesCount })">@Html.DisplayFor(m => m.OpenCasesCount) Open Cases</a></h4>
                }
            </div>
            <div class="pull-right mobile-icons">
                @if (Model.CanCurrentUserCreateCase())
                {
                    <a href="@Url.RouteUrl("NewRequest", new {employeeId = Model.Id})">
                        <span class="fa fa-calendar-plus-o brand icon"></span>
                    </a>
                }                          
            </div>
        </div>
    </div>
    @if (CurrentCustomerHasFeature(Feature.LOA) || CurrentCustomerHasFeature(Feature.ShortTermDisability))
    {
        <div class="row">
            <div class="col-xs-12 emp-time">
                <h6 class="uppercase">Hours Worked:</h6><h6>@Html.DisplayFor(m => m.HoursWorked)</h6>
                @foreach (var policy in Model.Policies)
                {
                    <span>|</span><h6 class="uppercase">@policy.PolicyName</h6><h6>@policy.TimeRemaining @policy.Units</h6>
                }
            </div>
        </div>
    }
</div>