﻿@model IEnumerable<AbsenceSoft.SelfService.Models.EmployeeViewModel>

<div class="row ess-headline">
    <div class="col-sm-12">
        <div class="col-sm-7">
            <span class="fa fa-users ess-headicon"></span>
            <h1>My Team</h1>
        </div>

        <!-- Adding buttons -->
        <div class="right">
            <a class="btn essbtn-team-heading-selected"><span class="tab-icon fa fa-users"></span><span>View Team</span></a>
            <a class="btn essbtn-team-heading" href="/MyTeamCases"><span class="tab-icon fa fa-briefcase"></span><span>View Cases</span></a>
        </div>

    </div>
</div>
<input type="hidden" id="page" value="1" />

<div id="employeeList">
    @Html.Partial("EmployeeList", Model)
</div>

<div id="noEmployees" class="hide">
    <div class="row bg-white teal-dark text-center">
        <div class="col-xs-12">
            <h4>There are no more employees to view.</h4>
        </div>
    </div>
    <p></p>
</div>

<div id="loadMoreEmployees">
    <div class="row ess-load">
        <h3>
            <span class="fa fa-chevron-down"></span>
            Load More Employees
            <span class="fa fa-chevron-down"></span>
        </h3>
    </div>
</div>
