﻿@model IEnumerable<AbsenceSoft.SelfService.Models.PolicySummaryViewModel>

<div class="row">
    <div>
        <h2 class="uppercase">Available Time Off</h2>
    </div>
</div>

@foreach (var policy in Model)
{
    double percentUsed = Math.Round(policy.TimeRemaining / policy.TotalTime, 0);
    <div class="row">
        <div class="col-xs-12 teal-dark">
            @Html.DisplayFor(m => policy.PolicyName):
            @Html.DisplayFor(m => policy.TotalTime)
            @Html.DisplayFor(m => policy.Units)
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="@percentUsed" aria-valuemin="0" aria-valuemax="100" style="width: @percentUsed%">
            <span class="sr-only">@percentUsed% used</span>
        </div>
    </div>
    <div class="row teal-dark policybottom">
        <div class="col-xs-12 text-center"> 
            <span class="gray-light pr5">@Html.DisplayFor(m => policy.TimeUsed) @Html.DisplayFor(m => policy.Units) <span class="uppercase">Used</span></span>|<span class="teal pl5">@Html.DisplayFor(m => policy.TimeRemaining) @Html.DisplayFor(m => policy.Units) <span class="uppercase">Available</span></span>
        </div>
    </div>
    
}