﻿@model AbsenceSoft.SelfService.Models.EmployeeViewModel
<div class="row schedule-bottom-border">
    <div id="divScheduleView">
        <div class="col-md-10">
            @Html.Partial("EmployeeSchedule", Model)
        </div>
        <div class="col-md-2"><button id="ScheduleEdit" class="btn btn-note">EDIT SCHEDULE</button></div>
    </div>
    <div class="col-md-12" id="divScheduleEdit">
        @Html.EditorFor(m => m.Schedule)
    </div>
</div>



