﻿@model IEnumerable<AbsenceSoft.SelfService.Models.TimeOffRequestViewModel>

<div class="row">
    <div class="col-xs-12">
        <h2 class="uppercase">Time Off Requests</h2>
    </div>
</div>

@foreach (var request in Model)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="teal tor-headers">
            <div class="pull-left">
                <h5>DATE: @Html.DisplayFor(m => request.DateOff)</h5>
            </div>
                <div class="pull-left ml20">
                    <h5>TIME OFF: @Html.DisplayFor(m => request.TimeOff)</h5>
                    @if (request.IsApproved)
                {
                        <span class="fa fa-check-circle approved translucent-icon case-status-icons"></span>
                    }
                </div>
            </div>
        </div>
    </div>
}
