﻿@model AbsenceSoft.SelfService.Models.EmployeeViewModel

@{
    int numberOfColumns = 1;
    int colSize = 6;
    // Store this so we don't call out to the DB twice
    bool hasTimeOffRequests = Model.HasTimeOffRequests();
    if (CurrentCustomerHasAnyFeature(Feature.LOA, Feature.ShortTermDisability))
    {
        numberOfColumns++;
    }

    if (hasTimeOffRequests)
    {
        numberOfColumns++;
    }

    if (numberOfColumns == 3)
    {
        colSize = 4;
    }
}
@Html.AntiForgeryToken()

@if (Model.ShowMyTeam)
{
    <div class="row">
        @Html.RouteLink("Return To My Team", "MyTeam", null, new { @class = "btn btn-default btn-return" })
    </div>
}

<div class="row uppercase mt20">
    <div class="col-xs-12 employee-header">
        <div class="pull-left">
            <i class="fa fa-user emppage-icon"></i>
        </div>
        <h3>
            @Html.DisplayFor(m => m.FirstName)
            @Html.DisplayFor(m => m.LastName)
        </h3>
        <h5>
            @if (!string.IsNullOrEmpty(Model.JobTitle))
            {
                @Html.DisplayFor(m => m.JobTitle)
            }
            @if (Model.OpenCasesCount > 0)
            {
                <span>|</span>@:&emsp; @Html.DisplayFor(m => m.OpenCasesCount) @Html.Raw(" Open Cases")
            }
        </h5>
        @if (CurrentCustomerHasFeature(Feature.ESSWorkSchedule))
        {
            <button id="Schedule" class="btn btn-gray">VIEW SCHEDULE</button>
        }
        @if (Model.CanCurrentUserCreateCase())
        {
            <div class="pull-right">
                @Html.RouteLink(string.Format("New Request for {0}", Model.FirstName), "NewRequest", null, new { @class = "btn btn-default btn-empreq" })
                @Html.RouteLink(string.Format("Add Time Off for {0}", Model.FirstName), "NewTimeOffRequest", null, new { @class = "btn btn-default btn-empreq" })
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12 employee-policy">
        @if (CurrentCustomerHasFeature(Feature.ESSWorkSchedule))
        {
            <div id="divSchedule">
                @Html.Partial("Schedule", Model)
            </div>
        }
        @if (CurrentCustomerHasAnyFeature(Feature.ShortTermDisability, Feature.LOA))
        {
            <div class="col-xs-@colSize">
                @Html.Partial("PolicyUsage", Model.Policies)
            </div>

        }
        <div class="col-xs-@colSize">
            @Html.Action("Calendar", new { employeeId = Model.Id })
        </div>
        @if (hasTimeOffRequests)
        {
            <div class="col-xs-@colSize">
                @Html.Action("TimeOffRequests", new { employeeId = Model.Id })
            </div>
        }
    </div>
</div>
<div class="row mt20">
    <input type="hidden" id="page" value="1" />
    <input type="hidden" id="empID" value="@Model.Id" />

    <div class="col-xs-12">
        <div id="caseList">
            @Html.Action("EmployeeCases", new { employeeId = Model.Id, employerId = Model.EmployerId, openCasesOnly = (Model.OpenCasesCount > 0) })
        </div>
        <div id="noCases" class="hide">
            <div class="row bg-white teal-dark text-center">
                <div class="col-xs-12">
                    <h4>No more cases found</h4>
                </div>
            </div>
            <p></p>
        </div>
        <div id="loadMoreEmpCases">
            @if (Model.HasCase)
            {
                <div class="row ess-load">
                    <h3>
                        <span class="fa fa-chevron-down"></span>
                        Load More Cases
                        <span class="fa fa-chevron-down"></span>
                    </h3>
                </div>
            }
        </div>
    </div>
</div>