﻿@model AbsenceSoft.Models.IpRange.IpRangeConfirmationViewModel

@if (Model.Success && !string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><i class="fa fa-info-circle"></i> Success!</strong> @Model.Message
    </div>
}
else if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><i class="fa fa-exclamation-circle"></i> Error!</strong> @Model.Message
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.Warning))
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong><i class="fa fa-exclamation-triangle"></i> Warning!</strong> @Model.Warning
    </div>
}