﻿@model AbsenceSoft.Models.IpRange.IpRangeViewModel
@{
    ViewBag.Title = Model.IpRangeId == null ? "Create IP Range" : "Edit IP Range";
}
@using (Html.BeginForm("SaveIpRange", "IpRange", null, FormMethod.Post, new { id = "editIpRangeForm" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("IpRangeList")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Allowed IP Range</h3>
                <div class="pull-right ">
                    @if (!string.IsNullOrEmpty(Model.IpRangeId))
                    {
                        @Ajax.RouteLink("Delete", "DeleteIpRange", new { ipRangeId = Model.IpRangeId },
                        new AjaxOptions()
                        {
                            HttpMethod = "DELETE"
                        }, new { @class = "btn btn-primary btn-danger" })
                    }
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.IpRangeId)
        @Html.HiddenFor(m => m.CustomerId)
        @Html.ValidationSummary(true, "Unable to save the IP Range. Please see the validation errors below.")
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-4 admin-enabled">
                @Html.LabelFor(m => m.IsEnabled)
                <div class="btn btn-group group-2" data-toggle="buttons">
                    <label class="ar-disabled-toggle enabled-btn btn btn-info @if (Model.IsEnabled.HasValue && Model.IsEnabled.Value) {<text>active</text>}">
                        <input type="radio" name="IsEnabled" value="True" @if (Model.IsEnabled.HasValue && Model.IsEnabled.Value) {<text>checked</text>}/> Yes
                    </label>
                    <label class="ar-disabled-toggle disabled-btn btn btn-info @if (!Model.IsEnabled.HasValue || !Model.IsEnabled.Value) {<text>active</text>}">
                        <input type="radio" name="IsEnabled" value="False" @if (!Model.IsEnabled.HasValue || !Model.IsEnabled.Value) {<text>checked</text>}/> No
                    </label>
                </div>
            </div>
            
            
        </div>
        <div class="row">
            <div class="col-xs-10">
                <label class="control-label">IP Address Range</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Ip1, new { id="ipFirstEntry", @class = "form-control", placeholder = "255", maxlength = "3" })
                    <span class="input-group-addon">.</span>
                    @Html.TextBoxFor(m => m.Ip2, new { id = "ipSecondEntry", @class = "form-control", placeholder = "255", maxlength = "3" })
                    <span class="input-group-addon">.</span>
                    @Html.TextBoxFor(m => m.Ip3, new { id = "ipThirdEntry", @class = "form-control", placeholder = "255", maxlength = "3" })
                    <span class="input-group-addon">.</span>
                    @Html.TextBoxFor(m => m.Ip41, new { id = "ipFourthEntry", @class = "form-control", placeholder = "255", maxlength = "3" })
                    <span class="input-group-addon">to</span>
                    @Html.TextBoxFor(m => m.Ip42, new { id = "ipFifthEntry", @class = "form-control", placeholder = "255", maxlength = "3" })
                </div>
                @Html.ValidationMessageFor(m => m.Ip1)
                @Html.ValidationMessageFor(m => m.Ip2)
                @Html.ValidationMessageFor(m => m.Ip3)
                @Html.ValidationMessageFor(m => m.Ip41)
                @Html.ValidationMessageFor(m => m.Ip42)
            </div>
            <div class="col-xs-2">
                <span class="input-group-btn">
                    <input type="hidden" value="@Request.ClientIPAddress()" id="currentIpRequest" />
                    <button id="ipRangePopulate" title="Add your IP address here" class="btn btn-primary mt30">Copy My IP</button>
                </span>
            </div>
        </div>
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "EditIpRange", new { ipRangeId = Model.IpRangeId }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Allowed IP Range" class="btn btn-primary admin-save-btn hide hidden-on-clean" />
        </div>
    </div>
}