﻿@model AbsenceSoft.Models.IpRange.IpRangeListViewModel

@{
    ViewBag.Title = "IP Ranges";
}

<div class="col-xs-12 well item-list">
    <div class="row">
        <div class="col-xs-12 admin-sub-header">
            <h2>IP Ranges</h2>
            <span class="pull-right">
                @Html.RouteLink("New IP Range", "EditIpRange", null, new { @class = "btn btn-primary addnew-admin-btn" })
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="help-block">
                <p>By default AbsenceTracker&#0153; will allow anyone with proper credentials to login either by using a legitimate username and password or through Single Sign On (SSO). Some customers require that users only access AbsenceTracker&#0153; from a specific network such as a corporate office, workplace or other authoirized secure location due to privacy concerns, etc.</p>
                <p>The list below contains allowed IP Ranges of authorized devices that may access AbsenceTracker&#0153; for @(CurrentCustomer.Name). In the event the user comes directly to AbsenceTracker&#0153; through the default production URL as opposed to @CurrentCustomer.GetBaseUrl(), then login will be prevented accordingly.</p>
            </div>
        </div>
    </div>
    @if (Model.WarnYourNotInThisList)
    {
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <h4><i class="fa fa-exclamation-triangle"></i> WARNING!</h4>
            <p>It appears your IP address of <strong>@Request.ClientIPAddress()</strong> is not included in the below allowed IP Ranges. Before enabling this feature you should ensure you are not blocked out, otherwise you will not be able to log back in to correct this action except from one of the allowed IP ranges below.</p>
        </div>
    }
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="responseMessage" class="text-center"></div>
            <div class="pull-center">
                @using (Ajax.BeginRouteForm("SaveIpActivation", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "responseMessage", InsertionMode = InsertionMode.Replace }))
                {
                    @Html.AntiForgeryToken()
                    <div class="btn-group group-2" data-toggle="buttons">
                        <label class="btn btn-primary @(CurrentCustomer.EnableIpFilter ? "active" : "")">
                            Enable IP Filtering
                            <input type="radio" name="EnableIpFilter" value="True" @(CurrentCustomer.EnableIpFilter ? "checked=\"checked\"" : "") onchange="$(this).closest('form').submit();" />
                        </label>
                        <label class="btn btn-primary @(!CurrentCustomer.EnableIpFilter ? "active" : "")">
                            Disable IP Filtering
                            <input type="radio" name="EnableIpFilter" value="False" @(!CurrentCustomer.EnableIpFilter ? "checked=\"checked\"" : "") onchange="$(this).closest('form').submit();" />
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row row-header">
                <div class="col-sm-4 list-sort">
                    Name
                    <input type="hidden" class="sort-name" value="Name" />
                    <i class="glyphicon sort"></i>
                </div>
                <div class="col-sm-2 list-sort">
                    Is Enabled
                    <input type="hidden" class="sort-name" value="IsEnabled" />
                    <i class="glyphicon sort"></i>
                </div>
                <div class="col-sm-6 list-sort">
                    IP Address Range
                    <input type="hidden" class="sort-name" value="Ip1" />
                    <i class="glyphicon sort"></i>
                </div>

            </div>
            <div class="admin2userlist">
                <div class="scroll list-display">
                    @foreach (var item in Model.IpRanges)
            {
                        <div class="row">
                            <div class="col-sm-12 admin2userlink">
                                <a href="@Url.RouteUrl("EditIpRange", new { ipRangeId = item.IpRangeId })">
                                    @{
                                        string name = item.Get<string>("Name");
                                        short? ip1 = item.Get<short?>("Ip1");
                                        short? ip2 = item.Get<short?>("Ip2");
                                        short? ip3 = item.Get<short?>("Ip3");
                                        short? ip41 = item.Get<short?>("Ip41");
                                        short? ip42 = item.Get<short?>("Ip42");
                                        bool? isEnabled = item.Get<bool?>("IsEnabled");
                                    }
                                    <div class="row mb5">
                                        <div class="col-sm-4">
                                            @name
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.Raw(isEnabled ?? false ? "Yes" : "No")
                                        </div>
                                        <div class="col-sm-6">
                                            @string.Format("{0}.{1}.{2}.{3}-{4}", ip1, ip2, ip3, ip41, ip42)
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                                        }
                </div>
            </div>
        </div>
    </div>
</div>
