﻿@model AbsenceSoft.Models.Employees.EmployeeJobViewModel
@* DISPLAY TEMPLATE :: EMPLOYEE JOB **@
@if (Model != null && Model.IHazJob)
{
<div>
    @Html.HiddenFor(m => m.Code)
    @Html.HiddenFor(m => m.Display)
    @Html.HiddenFor(m => m.EmployeeNumber)
    @Html.HiddenFor(m => m.EmployerId)
    @Html.HiddenFor(m => m.EndDate)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.OfficeLocation)
    @Html.HiddenFor(m => m.StartDate)
    @Html.HiddenFor(m => m.Title)
    <div class="row">
        <div class="col-sm-4">
            Job:
            <a data-toggle="collapse" href="#jobDetails">
                @Model.Display
            </a>
        </div>
        <div class="col-sm-4">
            Title:
            @Model.Title
        </div>
        <div class="col-sm-4">
            Start Date:
            @Model.StartDate.ToUIString()
        </div>
        <div class="col-sm-4">
            End Date:
            @Model.EndDate.ToUIString("current")
        </div>
        <div class="col-sm-4">
            Status:
            <span title="@Model.StatusHint">@Model.Status.Status</span>
        </div>        
    </div>
    <div class="row collapse" id="jobDetails">
        @Html.DisplayFor(m => m.TheJob)
    </div>        
</div>
}
else
{
<div>
    <div class="row">
        <div class="col-sm-12">
            The Employee Has No Job Information Set.
        </div>
    </div>
</div>
}
@if (Model != null && !string.IsNullOrWhiteSpace(Model.EmployerId) && !string.IsNullOrWhiteSpace(Model.EmployeeNumber) && Model.IHasJobHistory)
{
    <div>
        <div class="row">
            <div class="col-sm-12">
                <a href="#wrEmployeeJobHistory" class="btn-link pull-right" data-toggle="collapse">show job history</a>
            </div>
        </div>
        <div class="row collapse" id="wrEmployeeJobHistory">
            @Html.Action("EmployeeJobHistoryGet", "Employees", new { employeeNumber = Model.EmployeeNumber, employerId = Model.EmployerId })
        </div>
    </div>
}
else
{
    <div>
        <div class="row">
            <div class="col-sm-12">
                The Employee Has No Job History Set.
            </div>
        </div>
    </div>
}