﻿@model List<AbsenceSoft.Data.Customers.OrganizationVisibilityTree>
@if (Model != null)
{
    if (Model.Count <= 0)
    {
        <div class="col-sm-12 emp-org-margin-30L">
            No Organizations currently assigned to this employee.
        </div>
    }
    foreach (OrganizationVisibilityTree tree in Model)
    {
        <div class="col-sm-3 emp-org-margin-18L">
            @TreeView(tree)
        </div>
        if ((Model.IndexOf(tree) + 1) % 4 == 0)
        {
        <div class="col-sm-12 clearfix">
            &nbsp;
        </div>
    }
}
}
@helper TreeView(OrganizationVisibilityTree orgTree)
{
    <input type="hidden" class="hdn-current-emp-org-code" value="@orgTree.OrganizationCode" />
    <input type="hidden" class="hdn-current-emp-org-name" value="@orgTree.OrganizationName" />    
    <input type="hidden" class="hdn-current-emp-org-type-code" value="@orgTree.OrganizationTypeCode" />
    if (orgTree.ChildOrganizationVisibilityTree.Count > 0 || orgTree.Level == 1)
    {
        <div class="emp-current-child-org-indent">
            @for (int count = 2; count <= orgTree.Level; count++)
            {
                <span class="child-tree-indent"></span>
            }
            <span class="@(orgTree.ChildOrganizationVisibilityTree.Count > 0 && orgTree.Expanded == false ? "glyphicon glyphicon-plus-sign emp-org-expand level1-org-text" : "emp-org-expand level1-org-text")"></span>
            <span class="@(orgTree.ChildOrganizationVisibilityTree.Count > 0 && orgTree.Expanded ? "glyphicon glyphicon-minus-sign emp-org-collapse level1-org-text" : "emp-org-collapse level1-org-text")"></span>
            <span class="@(orgTree.ChildOrganizationVisibilityTree.Count > 0 ? "child-tree-text-indent" : "level1-nochild-tree-text-indent")">
                <span class="@(orgTree.Level == 1 ? "level1-org-text level1-org-load" : "leveln-org-text")">
                    <span class="emp-org-font-family" title="@(orgTree.Level == 1 && orgTree.ChildOrganizationVisibilityTree.Count > 0 ? "Click to load Organization Hierarchy" : "")">
                        @orgTree.OrganizationName @orgTree.AffiliationInitials
                    </span>
                </span>
            </span>

        </div>
    }
    if (orgTree.ChildOrganizationVisibilityTree.Count == 0 && orgTree.Level > 1)
    {
        <div>
            @for (int count = 2; count <= orgTree.Level; count++)
            {
                <span class="child-tree-indent"></span>
            }
            <span class="glyphicon glyphicon-check" />
            <span class="child-tree-text-indent emp-org-font-family">
                @orgTree.OrganizationName @orgTree.AffiliationInitials
            </span>
        </div>
    }    
    <div class="emp-org-child manage-org-hide-child">
        @foreach (OrganizationVisibilityTree tree in orgTree.ChildOrganizationVisibilityTree)
        {
            <div>
                @TreeView(tree)
            </div>
        }
    </div>    
}
