﻿@model AbsenceSoft.Models.Jobs.JobViewModel

<div class="row">
    <div class="col-sm-2 col-header">
        @Html.DisplayNameFor(m => m.Name)
    </div>
    <div class="col-sm-10">
        @Html.DisplayFor(m => m.Name)
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-header">
        @Html.DisplayNameFor(m => m.Activity)
    </div>
    <div class="col-sm-10">
        @Html.DisplayFor(m => m.Activity)
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-header">
        @Html.DisplayNameFor(m => m.Description)
    </div>
    <div class="col-sm-10">
        <p>
            @Html.DisplayFor(m => m.Description)
        </p>
    </div>
</div>

@if (Model.Links != null && Model.Links.Count > 0)
{
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-header">Links</div>
        <div class="col-sm-10">
            @foreach (var link in Model.Links)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <a href="@link.Url" title="@link.Title">@link.Text</a>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if (Model.IndustryCodes != null && Model.IndustryCodes.Count > 0)
{
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-header">Industry Codes</div>
        <div class="col-sm-10">
            @foreach (var code in Model.IndustryCodes)
            {
                <div class="row">
                    <div class="col-sm-2 col-header">@Html.DisplayNameFor(m => code.Name)</div>
                    <div class="col-sm-10">@Html.DisplayFor(m => code.Name)</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-header">@Html.DisplayNameFor(m => code.Code)</div>
                    <div class="col-sm-4">@Html.DisplayFor(m => code.Code)</div>
                    <div class="col-sm-3 col-header">@Html.DisplayNameFor(m => code.CodeType)</div>
                    <div class="col-sm-3">@Html.DisplayFor(m => code.CodeType)</div>
                </div>
            }
        </div>
    </div>
}
@if (Model.Necessities != null && Model.Necessities.Count > 0)
{
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-header">Necessities</div>
        <div class="col-sm-10">
            @foreach (var necessity in Model.Necessities)
            {
                <div class="row">
                    <div class="col-sm-2 col-header">@Html.DisplayNameFor(m => necessity.Name)</div>
                    <div class="col-sm-4">@Html.DisplayFor(m => necessity.Name)</div>
                    <div class="col-sm-2 col-header">@Html.DisplayNameFor(m => necessity.Type)</div>
                    <div class="col-sm-4">@Html.DisplayFor(m => necessity.Type)</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-header">@Html.DisplayNameFor(m => necessity.Reason)</div>
                    <div class="col-sm-10">
                        <p>
                            @Html.DisplayFor(m => necessity.Reason)
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
}
@if (Model.Requirements != null && Model.Requirements.Where(r => r.HasValues).Count() > 0)
{
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-header">Requirements</div>
        <div class="col-sm-10">
            @foreach (var requirement in Model.Requirements.Where(r => r.HasValues))
            {
                <div class="row">
                    <div class="col-sm-2 col-header">@Html.DisplayNameFor(m => requirement.DemandName)</div>
                    <div class="col-sm-4">@Html.DisplayFor(m => requirement.DemandName)</div>
                    <div class="col-sm-2 col-header">@Html.DisplayNameFor(m => requirement.DateString)</div>
                    <div class="col-sm-4">@Html.DisplayFor(m => requirement.DateString)</div>
                </div>
                foreach (var value in requirement.Values)
                {
                    <div class="row">
                        <div class="col-sm-2">@Html.DisplayFor(m => value.Name)</div>
                        <div class="col-sm-10">@Html.DisplayFor(m => value.Value)</div>
                    </div>       
                }
            }
        </div>
    </div>
}