﻿@model AbsenceSoft.Models.Demands.WorkRestrictionViewModel

<div class="wr-returns">
    <div class="row">
        <div class="col-sm-3">
            @Model.DemandName
        </div>
        <div class="col-sm-5 wre-inputs">
            @foreach (var value in Model.Values.Where(v => v.Value != null))
            {
                <p>
                    @string.Format("{0}: {1}", value.Name, value.Value)
                </p>
            }
        </div>
        <div class="col-sm-4">
            @Model.Dates
            @if (ViewBag.Status != null && ViewBag.Status != CaseStatus.Cancelled && ViewBag.Status != CaseStatus.Closed)
            {
                string modalId = string.Format("{0}Id", Model.Id);
                
                <div class="btn-right-corner">
                    @*<a href="@Url.RouteUrl("WorkRestriction", new {caseId = Model.CaseId, workRestrictionId = Model.Id})" tooltip="Edit Work Restriction" class="btn btn-sm btn-default btn-edit btn-small-icon edit-work-restriction" has-permission="EditWorkRestrictionDetail"><span class="glyphicon glyphicon-pencil" data-backdrop="static" data-keyboard="false"></span></a>*@
                    
                    @if (ViewBag.Status != null && ViewBag.Status != CaseStatus.Cancelled && ViewBag.Status != CaseStatus.Closed)
                    {
                        <button tooltip="Edit Work Restriction" href="@Url.RouteUrl("WorkRestriction", new {caseId = Model.CaseId, workRestrictionId = Model.Id})" class="btn btn-sm btn-default btn-edit btn-small-icon edit-work-restriction" has-permission="EditWorkRestrictionDetail"><span class="glyphicon glyphicon-pencil"></span></button>
                    }
                    <button tooltip="Delete Work Restriction" class="btn btn-sm btn-default btn-edit btn-small-icon" data-toggle="modal" data-target="#@modalId" has-permission="DeleteWorkRestrictionDetail"><span class="glyphicon glyphicon-remove" data-backdrop="static" data-keyboard="false"></span></button>
                </div>
                
                
                <div class="modal fade" tabindex="-1" role="dialog" id="@modalId">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Confirm Delete</h4>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the @(Model.DemandName) restriction from this case?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn btn-danger" ng-click="DeleteWorkRestriction('@Model.CaseId', '@Model.Id')">Delete</button>                                
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                
            }
        </div>
    </div>
</div>