﻿@using AbsenceSoft.Common
@model AbsenceSoft.Models.Cases.WorkRelatedViewModel
@if (Customer.Current.HasFeature(Feature.WorkRelatedReporting) && Model.WorkRelated != null)
{
    <div class="work-related-display" ng-if="CaseInfo.Case.Status != 4">
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 text-center">
                        <div class="content-section">Work Related Reporting</div>
                        <i class="fa fa-book large-side-icons"></i>
                    </div>
                    <div class="col-sm-8 border">
                        <div class="btn-right-corner">
                            <a class="btn btn-default btn-edit" href="@Url.RouteUrl("WorkRelatedInfoEdit")"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Date of Injury/Illness</div>
                            <div class="col-sm-3">@Model.IllnessOrInjuryDate.ToUIString()</div>
                            <div class="col-sm-3 col-header">Where Occurred</div>
                            <div class="col-sm-3">@Model.WhereOccurred</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Reportable (OSHA)</div>
                            <div class="col-sm-3">@(Model.IllnessOrInjuryDate.HasValue ? (Model.Reportable ? "Yes" : "No") : "")</div>
                            <div class="col-sm-3 col-header">Case Classification</div>
                            <div class="col-sm-3">@Model.Classification.ToString().SplitCamelCaseString()</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Type of Injury</div>
                            <div class="col-sm-3">@Model.TypeOfInjury.ToString().SplitCamelCaseString()</div>
                            <div class="col-sm-3 col-header">HealthCare Private</div>
                            <div class="col-sm-3">@(Model.IllnessOrInjuryDate.HasValue ? (Model.HealthCarePrivate.GetValueOrDefault() ? "Yes" : "No") : "")</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Days away from work</div>
                            <div class="col-sm-3">
                                @Model.OverrideDaysAwayFromWork.ToString() (<span id="DaysAwayFromWorkCalculated">@Model.DaysAwayFromWork.ToString()</span> Calculated)
                            </div>
                            <div class="col-sm-3 col-header">Days transfer/restriction</div> 
                            <div class="col-sm-3">
                                @Model.DaysOnJobTransferOrRestriction.ToString() (<span id="CalculatedDaysOnJobTransferOrRestriction">@Model.CalculatedDaysOnJobTransferOrRestriction.ToString()</span> Calculated)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Injury Location</div>
                            <div class="col-sm-3">
                                @if (!string.IsNullOrEmpty(@Model.InjuryLocation))
                                {
                                    @Model.InjuryLocation
                                }
                            </div>
                            <div class="col-sm-3 col-header">Part of Body</div>
                            <div class="col-sm-3">
                                 @if (!string.IsNullOrEmpty(@Model.InjuredBodyPart))
                                 {
                                    @Model.InjuredBodyPart
                                 }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-10">
                                <div id="work-related-more-link" class="pull-right">
                                    <a  class="work-related-more-link-a" onclick="AbsenceSoft.WorkRelatedViewModel.ShowMore()">more</a>
                                </div>
                                <div id="work-related-less-link" class="pull-right" style="display:none">
                                    <a class="work-related-less-link-a" onclick="AbsenceSoft.WorkRelatedViewModel.ShowLess()">less</a>
                                </div>
                            </div>
                        </div>
                        <div id="work-related-more" class="work-related-more" style="display:none">
                            @if (Model.ProviderContact != null && !string.IsNullOrWhiteSpace(Model.ProviderContact.ContactTypeCode))
                            {
                                <div class="row">
                                    <div class="col-sm-3 col-header">Physician (HCP)</div>
                                    <div class="col-sm-3">
                                        @Model.ProviderContact.FullName (@(Model.ProviderContact.ContactTypeName ?? Model.ProviderContact.ContactTypeCode))
                                        @if (Model.ProviderContact.Address != null && Model.ProviderContact.Address.Address1 != null)
                                        {
                                            <br />
                                            <text>@Model.ProviderContact.CompanyName</text>
                                            if (!string.IsNullOrWhiteSpace(Model.ProviderContact.CompanyName))
                                            { <br /> }
                                            <text>@Model.ProviderContact.Address.Address1</text>
                                            if (!string.IsNullOrWhiteSpace(Model.ProviderContact.Address.Address1))
                                            { <br /> }
                                            <text>
                                                @Model.ProviderContact.Address.Address2</text>
                                            if (!string.IsNullOrWhiteSpace(Model.ProviderContact.Address.Address2))
                                            { <br /> }
                                            <text>
                                                @Model.ProviderContact.Address.City, @Model.ProviderContact.Address.State @Model.ProviderContact.Address.PostalCode</text>
                                        }
                                    </div>
                                </div>
                                <div class="row">&nbsp;</div>
                            }
                            <div class="row">
                                <div class="col-sm-3 col-header">Treated in ER</div>
                                <div class="col-sm-3">@(Model.EmergencyRoom == true ? "Yes" : "No")</div>
                                <div class="col-sm-3 col-header">Hospitalized overnight</div>
                                <div class="col-sm-3">@(Model.HospitalizedOvernight == true ? "Yes" : "No")</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-header">Time begain work</div>
                                <div class="col-sm-3">@Html.DisplayFor(m => m.TimeEmployeeBeganWork)</div>
                                <div class="col-sm-3 col-header">Time of event</div>
                                <div class="col-sm-3">@Html.DisplayFor(m => m.TimeOfEvent)</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-header">Activity before incident</div>
                                <div class="col-sm-9">@Model.ActivityBeforeIncident</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-header">What happened</div>
                                <div class="col-sm-9">@Model.WhatHappened</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-header">Injury or illness</div>
                                <div class="col-sm-3">@Model.InjuryOrIllness</div>
                                <div class="col-sm-3 col-header">What caused harm</div>
                                <div class="col-sm-3">@Model.WhatHarmedTheEmployee</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-header">Date of Death</div>
                                <div class="col-sm-3">@Model.DateOfDeath.ToUIString()</div>
                                <div class="col-sm-3 col-header">Sharps Incident</div>
                                <div class="col-sm-3">@(Model.Sharps == true ? "Yes" : "No")</div>
                            </div>
                            @if (Model.Sharps == true && Model.SharpsInfo != null)
                            {
                                <div class="row">
                                    <div class="col-sm-3 col-header">Injury Location(s)</div>
                                    <div class="col-sm-9">@string.Join(", ", Model.SharpsInfo.InjuryLocation.Where(l => l.Selected).Select(l => l.Text))</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-header">Sharp Involved</div>
                                    <div class="col-sm-3">@string.Join(", ", new string[] { Model.SharpsInfo.TypeOfSharp, Model.SharpsInfo.ModelOfSharp, Model.SharpsInfo.BrandOfSharp }.Where(s => !string.IsNullOrWhiteSpace(s)))</div>
                                    <div class="col-sm-3 col-header">Body Fluid Involved</div>
                                    <div class="col-sm-3">@Model.SharpsInfo.BodyFluidInvolved</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-header">Injury protection</div>
                                    <div class="col-sm-9">@(Model.SharpsInfo.HaveEngineeredInjuryProtection == true ? "Yes" : "No")</div>
                                </div>
                                if (Model.SharpsInfo.HaveEngineeredInjuryProtection == true)
                                {
                                    <div class="row">
                                        <div class="col-sm-3 col-header">Mechanism activated</div>
                                        <div class="col-sm-3">@(Model.SharpsInfo.WasProtectiveMechanismActivated == true ? "Yes" : "No")</div>
                                        <div class="col-sm-3 col-header">When occurred</div>
                                        <div class="col-sm-3">@Model.SharpsInfo.WhenDidTheInjuryOccur.ToString().SplitCamelCaseString()</div>
                                    </div>
                                }
                                <div class="row">
                                    <div class="col-sm-3 col-header">Job classification</div>
                                    <div class="col-sm-3">@(Model.SharpsInfo.JobClassification == WorkRelatedSharpsJobClassification.Other ? (Model.SharpsInfo.JobClassificationOther ?? "Other") : Model.SharpsInfo.JobClassification.ToString().SplitCamelCaseString())</div>
                                    <div class="col-sm-3 col-header">Location/department</div>
                                    <div class="col-sm-3">@(Model.SharpsInfo.LocationAndDepartment == WorkRelatedSharpsLocation.Other ? (Model.SharpsInfo.LocationAndDepartmentOther ?? "Other") : Model.SharpsInfo.LocationAndDepartment.ToString().SplitCamelCaseString())</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-header">Procedure</div>
                                    <div class="col-sm-9">@(Model.SharpsInfo.Procedure == WorkRelatedSharpsProcedure.Other ? (Model.SharpsInfo.ProcedureOther ?? "Other") : Model.SharpsInfo.Procedure.ToString().SplitCamelCaseString())</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-header">Exposure detail</div>
                                    <div class="col-sm-9">@Model.SharpsInfo.ExposureDetail</div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-2 col-right">
                        @*Buttons*@
                        <a href="@Url.RouteUrl("GenerateOSHAForm301", new { caseId = Model.CaseId })"
                           class="btn btn-primary"
                           has-permission="EditCase"
                           target="_blank"
                           title="Generate OSHA Form 301, Injury and Illness Incident Report">Generate Form 301</a>
                    </div>
                    @if (Model.WorkState == "MI")
                    {
                        <div class="col-sm-2 col-right">
                            <a href="@Url.RouteUrl("GenerateForm100", new { caseId = Model.CaseId })"
                               class="btn btn-primary"
                               has-permission="EditCase"
                               target="_blank"
                               title="Generate WC Form 100, Michigan Injury and Illness Incident Report">Generate Form 100</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}