﻿@model AbsenceSoft.Models.RiskProfiles.RiskProfileViewModel

@using (Ajax.BeginRouteForm(
                "SaveRiskProfile",
                new { employerId = EmployerId },
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    UpdateTargetId = "editRiskProfileForm",
                    OnSuccess = "AbsenceSoft.PageStart('#editRiskProfileForm')",
                    InsertionMode = InsertionMode.ReplaceWith
                },
                new { id = "editRiskProfileForm" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewRiskProfiles")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>
                    Risk Profile @if (!string.IsNullOrEmpty(Model.Name))
                {<text>| @Model.Name</text> }
                </h3>
                @if (Model.IsDeleteable())
                {
                    <div class="pull-right">
                        @Ajax.RouteLink("Delete", "DeleteRiskProfile", new { id = Model.Id, employerId = EmployerId }, new AjaxOptions()
                   {
                       HttpMethod = "DELETE"
                   }, new { @class = "btn btn-primary btn-danger" })
                    </div>
                }
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id, new { id = "rpId" })
        @Html.HiddenFor(m => m.CustomerId, new { id = "customerId" })
        <input type="hidden" name="EmployerId" value="@EmployerId" id="employerId" />
        <div class="row">
            <div class="col-sm-12">
                @Html.ValidationSummary(true, "Unable to save the risk profile. Please see the validation errors below.")
                <div class="row">
                    <div class="col-xs-3">
                        <label>Name</label>
                        @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-control", id = "rpName" })
                        @Html.ValidationMessageFor(m => m.Name)
                    </div>
                    <div class="col-xs-3">
                        <label>Code</label>
                        @Html.TextBoxFor(m => m.Code, new { placeholder = "Code", @class = "form-control", id = "rpCode" })
                        @Html.ValidationMessageFor(m => m.Code)
                    </div>
                    <div class="col-xs-2">
                        <label>Color</label>
                        @Html.DropDownListFor(m => m.Color, Model.Colors, "Select A Color", new { @class = "form-control", id = "rpColor" })
                        @Html.ValidationMessageFor(m => m.Color)
                    </div>
                    <div class="col-xs-1 rp-editview-circle">
                        <div>&nbsp;</div>
                        <span class="rp-circle rp-@Model.Color" id="colorDisplay"></span>
                    </div>
                    <div class="col-xs-2">
                        <label>Icon</label>
                        @Html.DropDownListFor(m => m.Icon, Model.Icons, "Select An Icon", new { @class = "form-control", id = "rpIcon" })
                        @Html.ValidationMessageFor(m => m.Icon)
                    </div>
                    <div class="col-xs-1 rp-list-icons">
                        <span class="fa fa-@Model.Icon" id="iconDisplay"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5 form-group admin-ab-boxes">
                        <h3>Please Select All That Apply:</h3>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary btn-50 @if (Model.TargetsCase) {<text>active</text> }">
                                @Html.CheckBoxFor(m => m.TargetsCase, new { id = "rpTargetsCase" })
                                @Html.DisplayNameFor(m => m.TargetsCase)
                            </label>
                            <label class="btn btn-primary btn-50 @if (Model.TargetsEmployee) {<text>active</text> }">
                                @Html.CheckBoxFor(m => m.TargetsEmployee, new { id = "rpTargetsEmployee" })
                                @Html.DisplayNameFor(m => m.TargetsEmployee)
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", id="rpDescription" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Rule Groups</h3>
                        <div class="pull-right">
                            <button id="newRuleGroup" class="btn btn-primary addnew-admin-btn">New Rule Group</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <p class="hide" id="rulesInvalid">The below rules are improperly configured.  Please check the highlighted fields and try again.</p>
                    </div>
                </div>
                <hr />
                <div id="ruleGroupsContainer" class="form-horizontal rp-rules">

                </div>
                <div class="form-group text-center">
                    @Html.RouteLink("Undo Changes", "EditRiskProfile", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
                    <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" />
                </div>
            </div>
        </div>
    </div>
}


