﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    string name = item.Get<string>("Name");
    string code = item.Get<string>("Code");
    string color = item.Get<string>("Color");
    string icon = item.Get<string>("Icon");
    int? order = item.Get<int?>("Order");
    DateTime? lastModified = item.Get<DateTime?>("ModifiedDate");
    <div class="row">
        <div class="col-sm-12 admin2userlink rp-dragfield" draggable="true">
            <a href="@Url.AdministrationRouteUrl("EditRiskProfile", new { id = id })">
                <div class="row mb5">
                    <div class="col-xs-1">
                        <input type="hidden" class="rp-id" value="@id" />
                        <span class="fa fa-arrows"></span> <span class="rp-order">@order</span>
                    </div>
                    <div class="col-xs-3">
                        @name
                    </div>
                    <div class="col-xs-3">
                        @code
                    </div>
                    <div class="col-xs-2">
                        <span class="rp-circle rp-@color"></span>
                    </div>
                    <div class="col-xs-1">
                        <span class="fa fa-@icon"></span>
                    </div>
                    <div class="col-xs-2">
                        @if (lastModified.HasValue)
                        {
                            @lastModified.Value.ToShortDateString()
                        }
                    </div>
                </div>
            </a>
        </div>
    </div>
}