﻿<div class="col-xs-12 well item-list">
    <input type="hidden" class="page" value="1" />
    <input type="hidden" class="url" value="@Url.AdministrationRouteUrl("ListRiskProfiles")" />
    <input type="hidden" class="total" value="" />
    <div class="row">
        <div class="col-xs-12 admin-sub-header">
            <h2 class="pull-left">Risk Profiles</h2>
            <span class="pull-right">
                @Html.AdministrationLink("New Risk Profile", "EditRiskProfile", new { @class = "btn btn-primary addnew-admin-btn" })
            </span>
        </div>
    </div>
    <div class="row">
        <input type="hidden" value="@EmployerId" id="employerId" class="list-filter" />
        <div class="col-sm-12">
            <div class="row row-header">
                <div class="col-xs-1">
                    Order
                </div>
                <div class="col-xs-3">
                    Name
                </div>
                <div class="col-xs-3">
                    Code
                </div>
                <div class="col-xs-2">
                    Color
                </div>
                <div class="col-xs-1">
                    Icon
                </div>
                <div class="col-xs-2">
                    Last Edited
                </div>
            </div>
            <div class="row row-filter">
                <div class="col-xs-1">
                    <span class="fa fa-arrows"></span>
                </div>
                <div class="col-xs-3">
                    <input type="text" name="Name" class="list-filter form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-3">
                    <input type="text" name="Code" class="list-filter form-control filter" placeholder="Filter" />
                </div>
            </div>
            <div class="admin2userlist">
                <div class="scroll list-display">
                </div>
            </div>
        </div>
    </div>
</div>