﻿@model AbsenceSoft.Models.CustomFields.CustomFieldViewModel


@using (Ajax.BeginRouteForm("SaveCustomField", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "editCustomFieldForm",
    OnSuccess = "AbsenceSoft.EditCustomField.Start()",
    InsertionMode = InsertionMode.ReplaceWith
}, new { id = "editCustomFieldForm", ng_non_bindable="" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewCustomFields")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return To List
    </a>
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Custom Field</h3>
                @if (Model.IsDeleteable())
                {
                    <div class="pull-right">
                        @Ajax.RouteLink("Delete", "DeleteCustomField", new { id = Model.Id, employerId = ViewBag.EmployerId }, new AjaxOptions()
                   {
                       HttpMethod = "DELETE"
                   }, new { @class = "btn btn-primary btn-danger" })
                    </div>
                }
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id)
        <input type="hidden" name="EmployerId" value="@ViewBag.EmployerId" />
        <div class="row">
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-2 form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.HelpText)
                @Html.TextBoxFor(m => m.HelpText, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.HelpText)
            </div>
            <div class="col-xs-2 form-group">
                @Html.LabelFor(m => m.FileOrder)
                @Html.TextBoxFor(m => m.FileOrder, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FileOrder)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 form-group admin-ab-boxes">
                <h3>Please Select All That Apply:</h3>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary btn-50 @if (Model.TargetsCase) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.TargetsCase, new { id = "targetsCase" })
                        @Html.DisplayNameFor(m => m.TargetsCase)
                    </label>
                    <label class="btn btn-primary btn-50 @if (Model.TargetsEmployee) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.TargetsEmployee)
                        @Html.DisplayNameFor(m => m.TargetsEmployee)
                    </label>
                </div>
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.DataType)
                @Html.EnumUIDropDownListFor(m => m.DataType, "Select a data type", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.DataType)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.ValueType)
                @Html.EnumUIDropDownListFor(m => m.ValueType, "Select a value type", new { @class = "form-control", id="valueType" })
                @Html.ValidationMessageFor(m => m.ValueType)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 form-group admin-check-large">
                @Html.LabelFor(m => m.IsRequired)
                @Html.CheckBoxFor(m => m.IsRequired)
                @Html.ValidationMessageFor(m => m.IsRequired)
            </div>
            <div class="col-xs-2 form-group admin-check-large" id="isCollectedAtIntake">
                @Html.LabelFor(m => m.IsCollectedAtIntake)
                @Html.CheckBoxFor(m => m.IsCollectedAtIntake)
                @Html.ValidationMessageFor(m => m.IsCollectedAtIntake)
            </div>
            <div class="col-xs-8 form-group admin-check-large" id="selectListValues">
                <div class="row">
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.NewValue)
                        @Html.TextBoxFor(m => m.NewValue, new { @class = "form-control", placeholder = "Type Value And Press Enter", id="newValue" })
                        @Html.ValidationMessageFor(m => m.NewValue)
                    </div>
                    <div class="col-xs-6 form-group">
                        @Html.LabelFor(m => m.Values)
                        @Html.HiddenFor(m => m.Values, new { @id = "selectListDropdown", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Values)
                    </div>
                </div>
                <div class="row">
                        <div class="col-xs-6 help-text-label">
                            <label>To Enter multiple values use ~ as separator.</label>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="form-group text-center">
            @Html.RouteLink("Undo Changes", "EditCustomField", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" />
        </div>
    </div>

}

