﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    string customerId = item.Get<string>("CustomerId");
    string employerId = item.Get<string>("EmployerId");
    string name = item.Get<string>("Name");
    string code = item.Get<string>("Code");
    string description = item.Get<string>("Description");
    DateTime? modifiedDate = item.Get<DateTime?>("ModifiedDate");
    <div class="row">
        <div class="col-sm-12 admin2userlink">
            <a href="@Url.AdministrationRouteUrl("EditCustomField", new {id = id, employerId = ViewBag.EmployerId})">
                <div class="row mb5">
                    <div class="col-sm-3">
                        @name
                    </div>
                    <div class="col-sm-2 papercode-overflow">
                        @code
                    </div>
                    <div class="col-sm-5">
                        @description
                    </div>
                    <div class="col-sm-1">
                        @if (string.IsNullOrEmpty(customerId) && string.IsNullOrEmpty(employerId))
                        {
                            <text>No</text>
                        }
                        else
                        {
                            <text>Yes</text>
                        }
                    </div>
                    <div class="col-sm-1">
                        @if (modifiedDate.HasValue)
                        {
                            @modifiedDate.Value.ToShortDateString()
                        }
                    </div>
                </div>
            </a>
        </div>
    </div>
}
