﻿<html style="width: 100%; height: 100%; margin: 0; padding: 0;">
<head>
    <title>Create New Account</title>
</head>
<body style="width: 100%; height: 100%; margin: 0; padding: 0;">
    <div style="padding:10px;">
        <br />
        <img src="{{SiteUrl}}/Content/Images/absenceTracker-logo-200.png">
        <br />
        <p>Hello {{Name}},</p>
        <p>Welcome to AbsenceTracker, FMLA and Absence Management Made Easy! </p>
        <p>Your username is: <strong>{{Email}}</strong> and AbsenceTracker can be accessed at <strong><a href="{{SiteUrl}}">{{SiteUrl}}</a></strong></p>        
        <p>
            Please <a href="{{CustomerSiteUrl}}/ResetPassword/{{ResetKey}}"><strong>click here</strong></a> to create your password and access your account. 
        </p>
        <p>Have any questions? We are here to answer your questions. Please call us at 866.211.5152 or simply reply to this email <a href="mailto:contact@absencesoft.com" target="_blank">contact@absencesoft.com</a> and we'll be happy to assist you.<br /><br />
        </p>
        <p>
            Sincerely,<br />
            Absence Tracker Team!<br />
            <a href="www.absencetracker.com" target="_blank">www.absencetracker.com</a><br />
            <img src="{{SiteUrl}}/Content/Images/AbsenceSoft-logo-200.png"> <br />
            Find us on <a href="https://twitter.com/AbsenceSoft" target="_blank">@Twitter</a><br />
        </p>
    </div>
</body>
</html>


