﻿<html style="width: 100%; height: 100%; margin: 0; padding: 0;">
<head>
    <title>Change Password</title>
</head>
<body style="width: 100%; height: 100%; margin: 0; padding: 0;">
    <div style="padding:10px;">
        <p>Hello {{FirstName}},</p>
        <p>Your password has been changed recently. Please disregard this message if you recently changed your password. If you did not change your password, please contact your system administrator immediately.</p>
        <p>
            Sincerely,<br />
            The AbsenceTracker<sup style="font-size:0.6em">TM</sup> Team<br />
        </p>
    </div>
</body>
</html>