﻿<html style="width: 100%; height: 100%; margin: 0; padding: 0;">
<head>
    <title>Thank you registering with AbsenceTracker</title>
</head>
<body style="width: 100%; height: 100%; margin: 0; padding: 0;">
    <div style="padding:10px;">
        <br />
        <img src="{{SiteUrl}}/Content/Images/absenceTracker-logo-200.png">
        <br />

        <h3 style="color: #ff8300; font-size:15px;">Hello {{Name}},</h3>

        <p style="font-size:14px; font-family: 'Times New Roman','Times New Roman',arial,sans-serif;">
            Thank you for registering with AbsenceTracker - FMLA and Absence Mangement Made Easy.<br /><br />
            As soon as your account has been verified, we will email you instructions on how to access your account. <br /><br />
            Have any questions? We're here 24/7 so feel free to call us anytime at 866.211.5152, reply to this email or <a href="mailto:contact@absencesoft.com" target="_blank">contact us</a> and we'll be happy to assist you.<br /><br />
        </p>
        <p style="font-size:14px; font-family: 'Times New Roman','Times New Roman',arial,sans-serif;">
            Sincerely, <br/>
            Absence Tracker Team!
            <br />
            <a href="www.absencetracker.com" target="_blank">www.absencetracker.com</a>
            <br />
            <img src="{{SiteUrl}}/Content/Images/AbsenceSoft-logo-200.png">
            <br />
            <b>Follow Us :</b>
            <a href="https://twitter.com/AbsenceSoft" target="_blank"><img style="max-height:15px; max-width:15px;" src="{{SiteUrl}}/Content/Images/twitter-logo.png"></a>&nbsp;
            <a href="https://www.linkedin.com/company/absencesoft" target="_blank"><img style="max-height:15px; max-width:15px;" src="{{SiteUrl}}/Content/Images/linked-in-logo.png"></a>
            <br />
        </p>
    </div>
</body>
</html>