<html style="width: 100%; height: 100%; margin: 0; padding: 0;">
<head>
	<title>Employee email validation</title>
</head>
<body style="width: 100%; height: 100%; margin: 0; padding: 0;">
<div style="padding:10px;">
<p>Hello {{Name}},</p>

<p>To complete your registration please validate your email address by clicking on the link below.</p>

<p><a href="{{CustomerSiteUrl}}/ConfirmRegistration/{{ResetKey}}">{{CustomerSiteUrl}}/ConfirmRegistration/{{ResetKey}}</a></p>

<p>Regards,</p>

<p>The AbsenceTracker<sup style="font-size:0.6em">TM</sup> Team</p>
</div>

<div style="width:100%; font-size:0.8em;"><br />
Please do not reply to this email. This email address is not monitored and no response will be made. Please direct all questions or concerns to your AbsenceSoft administrator or support representative.</div>
</body>
</html>
