﻿<html style="width: 100%; height: 100%; margin: 0; padding: 0;">
<head>
    <title>Forgot Password</title>
</head>
<body style="width: 100%; height: 100%; margin: 0; padding: 0;">
    <div style="padding:10px;">
        <p>Hello {{FirstName}},</p>
        <!--<p>Your account has been locked and you must reset your password. Use the link below.</p>-->

        <p>Your account has been locked after 5 failed password attempts within 10 minutes from IP Address {{IpAddress}} and you must reset your password. Use the link below to reset your password and unlock your account.</p>
        <p>
            <a href="{{CustomerSiteUrl}}/ResetPassword/{{ResetKey}}">{{CustomerSiteUrl}}/ResetPassword/{{ResetKey}}</a>
        </p>


        <!--<p>Your IP address was: {{IpAddress}}</p>-->
        <p>If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new one.</p>
        <p>
            Regards,<br />
            The AbsenceTracker<sup style="font-size:0.6em">TM</sup> Team
        </p>
    </div>
    <div style="width:100%; text-align:center; font-size:0.8em; padding:50px 0 0 0;">
        <img src="{{SiteUrl}}/Content/Images/absenceTracker-logo-200.png" alt="AbsenceTracker" style="margin:0 auto 12px auto;" /><br />
        Please do not reply to this email. This email address is not monitored and no response will be made. Please direct all questions or concerns to your AbsenceSoft administrator or support representative.
    </div>
</body>
</html>