﻿<html style="width: 100%; height: 100%; margin: 0; padding: 0;">
<head>
    <title>ToDo E-Mail Notification</title>
</head>
<body style="width: 100%; height: 100%; margin: 0; padding: 0;">
    <div style="padding:10px;">
        <p>Hello {{Name}},</p>
        <p>This notification is to advise you that you have the following task due in association with case number {{CaseNumber}}.</p>
        <p>
            {{ToDoTitle}} - due on {{TodoDueDate}}
        </p>
        <p>Please follow link below to see case details referenced above.</p>
        <p>
            <a href="{{CustomerSiteUrl}}/Cases//Cases/{{CaseId}}/View" target="_blank">Case {{CaseNumber}} Details</a>
            
        </p>
        <p>
            Sincerely,<br />
            Absence Tracker Team<br />
        </p>
    </div>
</body>
</html>


