﻿<html style="width: 100%; height: 100%; margin: 0; padding: 0;">
<head>
    <title>User Needs Access to AbsenceTracker</title>
</head>
<body style="width: 100%; height: 100%; margin: 0; padding: 0;">
    <div style="padding:10px; color: #333; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 13px;">
        <p>Hello Account Management Team,</p>
        <p>User <strong>{{Name}}</strong> needs access to AbsenceTracker. Following is summary of the account registration:</p>
        <p>
            <table border="0">
                <tr>
                    <td colspan="2"><strong>Contact Information:</strong></td>
                </tr>
                <tr>
                    <td width="20%"></td>
                    <td width="80%">
                        <table width="100%" border="0">
                            <tr>
                                <td width="20%"><strong>First Name:</strong></td>
                                <td width="80%">{{FirstName}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Last Name:</strong></td>
                                <td width="80%">{{LastName}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Company Name:</strong></td>
                                <td width="80%">{{CompanyName}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Address 1:</strong></td>
                                <td width="80%">{{Address1}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Address 2:</strong></td>
                                <td width="80%">{{Address2}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>City:</strong></td>
                                <td width="80%">{{City}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>State/Province:</strong></td>
                                <td width="80%">{{State}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Country:</strong></td>
                                <td width="80%">{{Country}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Postal Code:</strong></td>
                                <td width="80%">{{PostalCode}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Phone:</strong></td>
                                <td width="80%">{{PhoneNumber}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Email Address (Login):</strong></td>
                                <td width="80%">{{Email}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!--<tr>
                    <td colspan="2"><strong>Billing Address:</strong></td>
                </tr>
                <tr>
                    <td width="20%">&nbsp;</td>
                    <td width="80%">
                        <table width="100%" border="0">
                            <tr>
                                <td width="20%"><strong>Address 1:</strong></td>
                                <td width="80%">{{BillingAddress1}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Address 2:</strong></td>
                                <td width="80%">{{BillingAddress2}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>City:</strong></td>
                                <td width="80%">{{BillingCity}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>State/Province:</strong></td>
                                <td width="80%">{{BillingState}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Country:</strong></td>
                                <td width="80%">{{BillingCountry}}</td>
                            </tr>
                            <tr>
                                <td width="20%"><strong>Postal Code:</strong></td>
                                <td width="80%">{{BillingPostalCode}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Plan chosen:</strong></td>
                </tr>
                <tr>
                    <td width="20%"></td>
                    <td width="80%">
                        <table width="100%" border="0">
                            <tr>
                                <td width="20%"><strong>Plan:</strong></td>
                                <td width="80%">{{Size}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>-->
            </table>
        </p>
        <p></p>
        <p>This must be approved by AbsenceSoft Management Team:</p>
        <p>To Approve the user click <a href="{{SiteUrl}}/signup/verify/{{CustomerId}}/{{ResetKey}}/approve">here</a></p><br />
        <p>To Deny the user click <a href="{{SiteUrl}}/signup/verify/{{CustomerId}}/{{ResetKey}}/deny">here</a></p>
    </div>
</body>
</html>