﻿<html style="width: 100%; height: 100%; margin: 0; padding: 0;">
<head>
    <title>Welcome To AbsenceTracker</title>
</head>
<body style="width: 100%; height: 100%; margin: 0; padding: 0;">
    <div style="padding:10px;">
        <br />
        <img src="{{SiteUrl}}/Content/Images/absenceTracker-logo-200.png">
        <br />
        <h2 style="color: #ff8300; font-size:20px;">Welcome to AbsenceTracker, {{Name}}!</h2>

        <table style="font-size:14px; font-family: 'Times New Roman','Times New Roman',arial,sans-serif;">
            <tr>
                <td>
                    Congratulations. Your account has been activated and you are ready to use, AbsenceTracker, the latest evolution in FMLA and leave management.
                    We’re sure you’ll find AbsenceTracker easy and fun to use, but if you have any questions about loading employees or would like a demo before
                    you get started we'll be happy to answer them.
                </td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td align="center" valign="middle">
                    <table style="width:100%; font-size:14px; font-family: 'Times New Roman','Times New Roman',arial,sans-serif;">
                        <tr>
                            <td style="background-color: #EEEEEE; width: 70%; line-height:40px; border: 1px solid #ff8300;border-radius: 8px;padding: 15px;">
                                <span style="color:#ff8300; font-weight:bold;">Your username is :</span> {{Email}}<br />
                                <!--<span style="color:#ff8300; font-weight:bold;">Your Plan is :</span> {{Size}}<br />-->
                                <span style="color:#ff8300; font-weight:bold;">Your dedicated URL is :</span> {{CustomerSiteUrl}} 
                                <!--<span style="color:#ff8300; font-weight:bold;">Your dedicated URL is :</span> https://{{CustomerSiteUrl}}.absencetracker.com-->
                            </td>
                            <td style="width:60%"></td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td>
                    We're here 24/7 so feel free to call us anytime at 866.211.5152 or
                    <a href="mailto:contact@absencesoft.com?subject=Reg-AbsenceTracker Activation">contact us</a>
                    and we'll be happy to assist you.
                </td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td>
                    <p style="font-size:14px; font-family: 'Times New Roman','Times New Roman',arial,sans-serif;">
                        Sincerely,
                        <br />
                        Absence Tracker Team!
                        <br />
                        <a href="www.absencetracker.com" target="_blank">www.absencetracker.com</a>
                        <br />
                        <img src="{{SiteUrl}}/Content/Images/AbsenceSoft-logo-200.png">
                        <br />
                        <b>Follow Us :</b>
                        <a href="https://twitter.com/AbsenceSoft" target="_blank"><img style="max-height:15px; max-width:15px;" src="{{SiteUrl}}/Content/Images/twitter-logo.png"></a>&nbsp;
                        <a href="https://www.linkedin.com/company/absencesoft" target="_blank"><img style="max-height:15px; max-width:15px;" src="{{SiteUrl}}/Content/Images/linked-in-logo.png"></a>
                        <br />
                    </p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

