﻿@model AbsenceSoft.Models.Cases.DenialReasonViewModel

@using (Ajax.BeginRouteForm("SaveDenialReasons", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "editDenialReasonForm",
    OnComplete = "AbsenceSoft.EditDenialReasons.Start()"
}, new { id = "editDenialReasonForm", ng_non_bindable = "" }))
{
    @Html.AntiForgeryToken()
    <a href="@Url.AdministrationRouteUrl("ViewDenialReasons")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return to List
    </a>

    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Denial Reason</h3>
                <div class="pull-right admin-enabled">
                    @if (Model.IsDeleteable())
                    {
                    <div class="btn btn-group group-2">
                        @Ajax.RouteLink("Delete", "Delete", new { id = Model.Id }, new AjaxOptions()
                        {
                            HttpMethod = "DELETE"
                        }, new { @class = "btn btn-primary btn-danger" })
                    </div>
                    }
                    @if (Model.IsDenialReasonSuppressedAtCustomerLevel(Model.Code))
                    {
                        <div class="disabled-button-div" data-toggle="tooltip" data-placement="bottom" title="This configuration needs to be enabled at the customer level.">
                                <span class="fa fa-toggle-off"></span><label class="disabled-button-label">DISABLED</label>
                            </div>
                    }
                    else
                    {
                        if (Model.Locked)
                        {
                            <div class="disabled-button-div" data-toggle="tooltip" data-placement="bottom" title="This configuration is locked.">
                                    <span class="fa fa-toggle-off"></span><label class="disabled-button-label">LOCKED</label>
                                </div>
                        }
                        else
                        {
                            <div class="btn btn-group group-2" data-toggle="buttons">
                                    <label class="ar-disabled-toggle enabled-btn btn btn-info @if (!Model.IsDisabled) {<text>active</text>}">
                                        <input type="radio" name="Enabled" class="ays-ignore" /> Enabled
                                    </label>
                                    <label class="ar-disabled-toggle disabled-btn btn btn-info @if (Model.IsDisabled) {<text>active</text>}">
                                        <input type="radio" name="Enabled" class="ays-ignore" /> Disabled
                                    </label>
                                </div>
                        }
                    }
                </div>
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CustomerId)
        <input type="hidden" name="EmployerId" value="@EmployerId" id="employerId" />
        @Html.ValidationSummary(true, "Unable to save the denial reason. Please see the validation errors below.")
        <div class="row">
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
            <div class="col-xs-2 form-group">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "DenialReasonCode" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="col-xs-2 form-group">
                @Html.LabelFor(m => m.Order)
                @Html.TextBoxFor(m => m.Order, new { @class = "form-control", type = "Number" })
                @Html.ValidationMessageFor(m => m.Order)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.AbsenceReasons)
                @Html.AbsenceReasonDenialReasonListBoxFor(m => m.AbsenceReasons, new { @class = "form-control", multiple = "multiple", id = "selectedAbsenceReasons" })
                @Html.ValidationMessageFor(m => m.AbsenceReasons)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 admin-ab-boxes">
                <h3>Please Select All That Apply:</h3>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary btn-50 @if (Model.IsPolicy) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.IsPolicy, new { id = "checkIsPolicy" })
                        @Html.DisplayNameFor(m => m.IsPolicy)
                    </label>
                    <label class="btn btn-primary btn-50 @if (Model.IsAccommodation) {<text>active</text> }">
                        @Html.CheckBoxFor(m => m.IsAccommodation, new { id = "checkIsAccommodation" })
                        @Html.DisplayNameFor(m => m.IsAccommodation)
                    </label>
                </div>
            </div>
            <div class="col-xs-2 form-group hide" id="divPolicyType">
                @Html.LabelFor(m => m.PolicyTypes)
                @Html.PolicyTypeListBoxFor(m => m.PolicyTypes, new { @class = "form-control", multiple = "multiple", id = "selectedPolicyType" })
                @Html.ValidationMessageFor(m => m.PolicyTypes)
            </div>
            <div class="col-xs-2 form-group hide" id="divPolicyCode">
                @Html.LabelFor(m => m.PolicyCodes)
                @Html.PolicyCodeListBoxFor(m => m.PolicyCodes, new { @class = "form-control", multiple = "multiple", id = "selectedPolicyCode" })
                @Html.ValidationMessageFor(m => m.PolicyCodes)
            </div>
            <div class="col-xs-2 form-group hide" id="divAccommodationType">
                @Html.LabelFor(m => m.AccommodationTypes)
                @Html.AccommodationTypeListBoxFor(m => m.AccommodationTypes, new { @class = "form-control", multiple = "multiple", id = "selectedAccommodationType" })
                @Html.ValidationMessageFor(m => m.AccommodationTypes)
            </div>
        </div>
        <div class="form-group text-center">
            <input type="hidden" class="list-filter" name="EmployerId" value="@ViewBag.EmployerId" />
            @Html.RouteLink("Undo Changes", "Edit", new { id = Model.Id }, new { @class = "btn btn-change admin-undo-btn hide hidden-on-clean" })
            <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveDenialReason" />
        </div>
    </div>
}