﻿@model AbsenceSoft.Models.Cases.CaseCategoryViewModel

@{
    ViewBag.Title = "Edit Case Category ";
}

@using (Ajax.BeginRouteForm("CaseCategorySave", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "editCaseCategoryForm",
    OnComplete = "AbsenceSoft.EditCaseCategory.Start()",
    InsertionMode = InsertionMode.ReplaceWith
}, new { id = "editCaseCategoryForm", ng_non_bindable = "" }))
{
    <a href="@Url.AdministrationRouteUrl("ViewCaseCategories")" class="admin-return-link">
        <span class="fa fa-long-arrow-left"></span> Return To List
    </a>
    <div class="well">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Close Case Reason</h3>
                <div class="pull-right admin-enabled">
                 @if (Model.IsDeleteable() && CurrentUserHasPermission(Permission.DeleteCaseCloseReason))
                 {
                        @Ajax.RouteLink("Delete", "DeleteCaseCategory", new { employerId = EmployerId, id = Model.Id }, new AjaxOptions()
                   {
                       HttpMethod = "DELETE"
                   }, new { @class = "btn btn-primary btn-danger" })
                    }
                    @if (!Model.IsCustom())
                    {
                        if (Model.IsDisableable())
                        {
                <div class="disabled-button-div" data-toggle="tooltip" data-placement="bottom" title="This configuration needs to be enabled at the customer level.">
                    <span class="fa fa-toggle-off"></span><label class="disabled-button-label">DISABLED</label>
                </div>
                        }
                        else
                        {
                <div class="btn btn-group group-2" data-toggle="buttons">
                    <label class="ar-disabled-toggle enabled-btn btn btn-info @if (!Model.IsDisabled)
                    {<text>active</text>}">
                        <input type="radio" name="Enabled" class="ays-ignore" /> Enabled
                    </label>
                    <label class="ar-disabled-toggle disabled-btn btn btn-info @if (Model.IsDisabled)
                    {<text>active</text>}">
                        <input type="radio" name="Enabled" class="ays-ignore" /> Disabled
                    </label>
                </div>
                        }
                    }
                </div>
            </div>
        </div>
        @Html.Partial("_AdministrationWarningBanner", Model)
        @Html.HiddenFor(m => m.Id, new { id = "caseCategoryId" })
        @Html.HiddenFor(m => m.CustomerId)
        <input type="hidden" id="employerId" name="EmployerId" value="@EmployerId" />
        @Html.ValidationSummary(true, "Unable to save the case category. Please see the validation errors below.")
        <div class="row">
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
            <div class="col-xs-4">
                @Html.LabelFor(m => m.Code)
                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "caseCategoryCode" })
                @Html.ValidationMessageFor(m => m.Code)
            </div>
            <div class="col-xs-4 form-group">
                @Html.LabelFor(m => m.AbsenceReasons)
                @Html.AbsenceReasonListBoxFor(m => m.AbsenceReasons, new { @class = "form-control", id = "absenceReasons", multiple = "multiple" })
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
    @if ((Model.Id == null && CurrentUserHasPermission(Permission.CreateCaseCloseReason)) || (Model.Id != null && CurrentUserHasPermission(Permission.EditCaseCloseReason)))
    { 
            <div class="form-group text-center">
                <input type="hidden" name="editform" value="editform" id="editform">
                @Html.RouteLink("Undo Changes", "EditCaseCategory", new { id = Model.Id }, new { @class = "btn btn-changed admin-undo-btn hide hidden-on-clean" })
                    <input type="submit" value="Save Changes" class="btn btn-primary admin-save-btn hide hidden-on-clean" id="saveCaseCategory" />
            </div>
    }
    </div>
}

