﻿@model IEnumerable<AbsenceSoft.Models.Cases.CaseCategoryViewModel>

@foreach (var category in Model)
{
    string collapseId = string.Format("CaseCategory{0}", category.Id);
    string name = category.Name;
    if (category.IsDisabled)
    {
        name += " (Disabled) ";
    }
    <div class="note-category-name">
        <h5 @if (category.IsDisabled) { <text> class="note-category-disabled" </text>  }>@name</h5>
        @if (CurrentUserHasPermission(Permission.DeleteCaseCloseReason) || CurrentUserHasPermission(Permission.EditCaseCloseReason))
        {
            <div class="pull-right">
                <a href="@Url.AdministrationRouteUrl("EditCaseCategory", new { id = category.Id })">
                    <span class="fa fa-pencil-square"></span>
                </a>
            </div>
        }
       
       
       
    </div>

}
