﻿@model IEnumerable<AbsenceSoft.Models.Cases.CaseCategoryViewModel>


<div class="col-xs-12 well">
    <div class="row">
        <div class="col-xs-12 admin-sub-header">
            <h2>Close Case Reasons</h2>
            @if (CurrentUserHasPermission(Permission.CreateCaseCloseReason))
            {
                <span class="pull-right">
                    @Html.AdministrationLink("New Close Case Reason", "EditCaseCategory", new { @class = "btn btn-primary addnew-admin-btn" })
                </span>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <input type="search" placeholder="SEARCH FOR A CATEGORY" class="form-control" id="searchCaseCategories" />
        </div>
       
    </div>
    @Html.Partial("TreeView", Model)
</div>