﻿<div class="row">
    <div class="col-xs-6">
        <div class="confound">
            <div class="row">
                <div class="col-xs-12">
                    <h5>CONFOUNDING FACTORS:</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <div class="btn-group btn-toggle">
                        <label>Depression/PTSD/Psychosocial</label>
                        <button ng-class="Comorbidity.getCFClass('Depression', 1)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Depression', 1)">YES</button>
                        <button ng-class="Comorbidity.getCFClass('Depression', 0)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Depression', 0)">NO</button>
                    </div>
                    <div class="btn-group btn-toggle">
                        <label>Diabetes</label>
                        <button ng-class="Comorbidity.getCFClass('Diabetes', 1)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Diabetes', 1)">YES</button>
                        <button ng-class="Comorbidity.getCFClass('Diabetes', 0)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Diabetes', 0)">NO</button>
                    </div>
                    <div class="btn-group btn-toggle">
                        <label>Hypertension</label>
                        <button ng-class="Comorbidity.getCFClass('Hypertension', 1)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Hypertension', 1)">YES</button>
                        <button ng-class="Comorbidity.getCFClass('Hypertension', 0)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Hypertension', 0)">NO</button>
                    </div>
                    <div class="btn-group btn-toggle">
                        <label>Legal Representation</label>
                        <button ng-class="Comorbidity.getCFClass('LegalRepresentation', 1)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('LegalRepresentation', 1)">YES</button>
                        <button ng-class="Comorbidity.getCFClass('LegalRepresentation', 0)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('LegalRepresentation', 0)">NO</button>
                    </div>
                    <div class="btn-group btn-toggle">
                        <label>Obesity</label>
                        <button ng-class="Comorbidity.getCFClass('Obesity', 1)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Obesity', 1)">YES</button>
                        <button ng-class="Comorbidity.getCFClass('Obesity', 0)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Obesity', 0)">NO</button>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class="btn-group btn-toggle">
                        <label>Smoker</label>
                        <button ng-class="Comorbidity.getCFClass('Smoker', 1)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Smoker', 1)">YES</button>
                        <button ng-class="Comorbidity.getCFClass('Smoker', 0)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('Smoker', 0)">NO</button>
                    </div>
                    <div class="btn-group btn-toggle">
                        <label>Opioids</label>
                        <button ng-class="Comorbidity.getOpioidsClass(1)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.opioidsValue = 1;">YES</button>
                        <button ng-class="Comorbidity.getOpioidsClass(0)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.opioidsValue = 0; Comorbidity.setCF('OPIOId', 0)">NO</button>
                    </div>
                    <div class="btn-group btn-toggle">
                        <button ng-disabled="Comorbidity.opioidsValue == 0;" ng-class="Comorbidity.getCFClass('OPIOId', 1)" class="opiod-grp-btns" ng-click="Comorbidity.setCF('OPIOId', 1)">&lt;15 Days</button>
                        <button ng-disabled="Comorbidity.opioidsValue == 0;" ng-class="Comorbidity.getCFClass('OPIOId', 2)" class="opiod-grp-btns" ng-click="Comorbidity.setCF('OPIOId', 2)">15-30 Days</button>
                        <button ng-disabled="Comorbidity.opioidsValue == 0;" ng-class="Comorbidity.getCFClass('OPIOId', 3)" class="opiod-grp-btns" ng-click="Comorbidity.setCF('OPIOId', 3)">&gt;30 Days</button>
                    </div>
                    <div class="btn-group btn-toggle">
                        <label>Substance Abuse</label>
                        <button ng-class="Comorbidity.getCFClass('SubstanceAbuse', 1)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('SubstanceAbuse', 1)">YES</button>
                        <button ng-class="Comorbidity.getCFClass('SubstanceAbuse', 0)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('SubstanceAbuse', 0)">NO</button>
                    </div>
                    <div class="btn-group btn-toggle">
                        <label>Surgery or Hospital Stay</label>
                        <button ng-class="Comorbidity.getCFClass('SurgeryOrHospitalStay', 1)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('SurgeryOrHospitalStay', 1)">YES</button>
                        <button ng-class="Comorbidity.getCFClass('SurgeryOrHospitalStay', 0)" ng-disabled="Comorbidity.disableCF" ng-click="Comorbidity.setCF('SurgeryOrHospitalStay', 0)">NO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-6 odg-inputs">
                <label>HCPCS Procedure Codes</label>
                <input type="text" class="form-control" ng-model="Comorbidity.comorbidityArgs.Args.HCPCSCodeString" ng-blur="Comorbidity.reCalculate()" />
            </div>
            <div class="col-xs-6 odg-inputs">
                <label>CPT Procedure Codes</label>
                <input type="text" class="form-control" ng-model="Comorbidity.comorbidityArgs.Args.CPTProcedureCodeString" ng-blur="Comorbidity.reCalculate()"  />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 odg-inputs">
                <label>NDC Procedure Codes</label>
                <input type="text" class="form-control" ng-model="Comorbidity.comorbidityArgs.Args.NDCProcedureCodeString"  ng-blur="Comorbidity.reCalculate()" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 odg-inputs">
                <label>Nature of Injury Code</label>
                <input type="text" class="form-control" ng-model="Comorbidity.comorbidityArgs.Args.NatureOfInjuryCode"  ng-blur="Comorbidity.reCalculate()" />
            </div>
            <div class="col-xs-6 odg-inputs">
                <label>Body Part Code</label>
                <input type="text" class="form-control" ng-model="Comorbidity.comorbidityArgs.Args.BodyPartCode"  ng-blur="Comorbidity.reCalculate()" />
            </div>
        </div>
    </div>
</div>
