﻿<!-- #region model/init -->
@using AbsenceSoft.Models.Cases
@model ViewCaseModel
@{
    bool isStd = false;
    if (Model.IsSTD.HasValue)
    {
        isStd = Model.IsSTD.Value;
    }
    int? activityLevel = 0;
    string activityLevelText = "";

    if (Model != null && Model.EmployeeJob != null && Model.EmployeeJob.Activity != null)
    {
        activityLevel = (int)Model.EmployeeJob.Activity;
        activityLevelText = Model.EmployeeJob.Activity.Value.ToString().SplitCamelCaseString();
    }
}
<!-- #endregion -->
<!-- #region content-->
@if (Model.GuidelinesDataEnabled || Model.STDFeatureEnabled)
{
<div ng-show="forms.ChangeDiagnosis==true">
    <div class="row row-offset" ng-if="CaseInfo.Case.Status != 4">
        <div class="col-sm-12">
            <div class="row">

                @Html.HiddenFor(m => m.EmployeeId, new { id = "disability-employeeid" })

                <!-- #region Leftbar-->
                <div class="col-sm-2">
                    <div class="content-section">@(Model.STDFeatureEnabled && isStd ? "Short Term Disability" : "Diagnosis")</div>
                    <div class="@(Model.STDFeatureEnabled && isStd ? "btn-icon-std-01" : "btn-icon-return-to-workg")"></div>
                </div>
                <!-- #endregion -->
                <!-- #region right main section-->
                <div class="col-sm-8 border">

                    <!-- #region section actions -->
                    @if (Model.Status != "Closed" && Model.Status != "Cancelled")
                    {
                        <div class="row" has-permission="EditSTDDetail">
                            <div class="col-sm-12">
                                @if (Model.STDFeatureEnabled)
                                {
                                    bool isEditMode = Model.Disability.ConditionStartDate.HasValue || !string.IsNullOrEmpty(Model.Disability.GeneralHealthCondition) || Model.Disability.Hospitalization.HasValue || Model.Disability.MedicalComplications.HasValue || !string.IsNullOrEmpty(Model.Disability.HCPContactId);
                                    string prefix = isEditMode ? "Edit" : "Enter";
                                    string suffix = CurrentCustomerHasFeature(Feature.ShortTermDisability) ? "STD" : "Disability";
                                    string buttonText = string.Format("{0} {1}", prefix, suffix);

                                    <button id="disability-edit-condition" type="button" class="btn btn-info" ng-if="false" onclick="AbsenceSoft.Disability.OnEditHealthCondition(@(!string.IsNullOrEmpty(Model.Disability.HCPContactId) ? "'" + Model.Disability.HCPContactId + "'" : "null"), @(!string.IsNullOrEmpty(Model.Disability.HCPContactTypeCode) ? "'" + Model.Disability.HCPContactTypeCode + "'" : "null"));">@buttonText</button>
                                    <span>&nbsp;&nbsp;&nbsp;</span>
                                }
                                <button id="disability-edit-diagnosis" type="button" class="btn btn-info" ng-if="false" ng-click="forms.ChangeDiagnosis =! forms.ChangeDiagnosis;InitDiagnosisSearch();">@(Model.Disability.PrimaryDiagnosis == null ? "Enter Diagnosis" : "Change Diagnosis")</button>
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                @if (Model.GuidelinesDataEnabled)
                                {
                                    <button id="disability-comorbidity-guideline" type="button" class="btn btn-info show-comorbidity-guideline" ng-if="false" ng-click="Comorbidity.loadComorbidity('@Model.Id', '@Model.EmployeeId')">Comorbidity Guideline</button>
                                }
                                <button type="button" id="diability-edit-health-condition" class="odg-edit-hc" onclick="AbsenceSoft.Disability.OnEditHealthCondition(@(!string.IsNullOrEmpty(Model.Disability.HCPContactId) ? "'" + Model.Disability.HCPContactId + "'" : "null"), @(!string.IsNullOrEmpty(Model.Disability.HCPContactTypeCode) ? "'" + Model.Disability.HCPContactTypeCode + "'" : "null"));">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                    }
                    <!-- #endregion -->
                    <!-- #region health section body-->
                    <div id="health-section">
                        <form id="healthConditionForm" action="/Cases/@Model.Id/UpdateHealthCondition" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="CaseId" value="@Model.Id" />
                            <input type="hidden" id="HCPContactId" name="HCPContactId" value="@(Model.Disability.HCPContactId ?? "")" />
                            <input type="hidden" id="ActivityLevel" name="ActivityLevel" />
                            <!-- #region top visible section-->
                            <div id="health-top-section">
                                @if (Model.STDFeatureEnabled)
                                {
                                    <div class="row">
                                        <div class="col-sm-3 col-header">
                                            <label for="GeneralHealthCondition">General Health Condition</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="viewmode">@(Model.Disability.GeneralHealthCondition ?? "")</span>
                                            <input type="text" id="GeneralHealthCondition" name="GeneralHealthCondition" value="@Model.Disability.GeneralHealthCondition" class="form-control input-sm editmode odg-hide-el" placeholder="General Health Condition" data-rule-required="true" data-msg="Please fill this field" />
                                        </div>
                                        <div class="col-sm-3 col-header">
                                            <label for="ConditionStartDate">Condition Start Date</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="viewmode">@(Model.Disability.ConditionStartDate.HasValue ? Model.Disability.ConditionStartDate.Value.ToString("MM/dd/yyyy") : "")</span>

                                            <input type="text" id="ConditionStartDate" name="ConditionStartDate"
                                                   value="@(Model.Disability.ConditionStartDate.HasValue ? Model.Disability.ConditionStartDate.Value.ToString("MM/dd/yyyy") : "")"
                                                   class="form-control editmode odg-hide-el"
                                                   placeholder="Condition Start Date"
                                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true"
                                                   ng-model="STD.ConditionStartDate"
                                                   data-rule-required="true" data-msg="Please fill this field" data-rule-date="true" />
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row" ng-show="STD.PrimaryDiagnosis != null" ng-cloak>
                                        <div class="col-sm-12 col-header">
                                            Primary Diagnosis
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12" ng-click="ViewPrimaryGuidelines()">
                                            <a>{{STD.PrimaryDiagnosis.Description}}</a><br />
                                            <span ng-show="STD.PrimaryDiagnosis != null"><strong>Return-To-Work Guideline: </strong>{{STD.PrimaryPathDaysUIText}}</span>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="STD.SecondaryDiagnosis && STD.SecondaryDiagnosis.length" ng-cloak>&nbsp;</div>
                                    <div class="row" ng-show="STD.SecondaryDiagnosis && STD.SecondaryDiagnosis.length" ng-cloak>
                                        <div class="col-sm-12 col-header">
                                            Secondary Diagnosis
                                        </div>
                                    </div>
                                    <div class="row" ng-show="STD.SecondaryDiagnosis && STD.SecondaryDiagnosis.length" ng-cloak>
                                        <div class="col-sm-12">
                                            <div ng-repeat="diag in STD.SecondaryDiagnosis" ng-click="ViewSecondaryGuidelines(diag)">
                                                <a>{{diag.Description}}</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- #endregion -->
                            @if (Model.STDFeatureEnabled)
                            {
                                <!-- #region more/less buttons-->
                                <div id="healthMoreLess" class="row">
                                    <div class="col-sm-2 col-sm-offset-10">
                                        <div id="health-show-link" class="pull-right odg-hc-view"><a onclick="AbsenceSoft.Disability.OnHealthMoreLink()">VIEW MORE</a></div>
                                        <div id="health-hide-link" class="pull-right odg-hc-view odg-hide-el"><a onclick="AbsenceSoft.Disability.OnHealthLessLink()">VIEW LESS</a></div>
                                    </div>
                                </div>
                                <!-- #endregion -->

                                <!-- #region hidden health section-->
                                <div id="health-toggle-section" class="odg-hide-el">
                                    @*background-color:green;*@
                                    <div class="row">
                                        <div class="col-sm-3 col-header">
                                            Employee Hospitalized
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="viewmode">@(Model.Disability.Hospitalization.HasValue && Model.Disability.Hospitalization.Value ? "Yes" : "No")</span>
                                            <div class="btn-group group-2 editmode odg-hide-el" data-toggle="buttons">
                                                <label class="btn btn-info @(Model.Disability.Hospitalization.HasValue && Model.Disability.Hospitalization.Value ? "active" : "")">
                                                    <input type="radio" name="Hospitalization" value="true" @(Model.Disability.Hospitalization.HasValue && Model.Disability.Hospitalization.Value ? "checked" : "") /> Yes
                                                </label>
                                                <label class="btn btn-info @(Model.Disability.Hospitalization.HasValue && !Model.Disability.Hospitalization.Value ? "active" : "")">
                                                    <input type="radio" name="Hospitalization" value="false" @(Model.Disability.Hospitalization.HasValue && !Model.Disability.Hospitalization.Value ? "checked" : "") /> No
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-header">
                                            Medical Complications
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="viewmode">@(Model.Disability.MedicalComplications.HasValue && Model.Disability.MedicalComplications.Value ? "Yes" : "No")</span>
                                            <div class="btn-group group-2 editmode odg-hide-el" data-toggle="buttons">
                                                <label class="btn btn-info @(Model.Disability.MedicalComplications.HasValue && Model.Disability.Hospitalization.Value ? "active" : "")">
                                                    <input type="radio" name="MedicalComplications" value="true" @(Model.Disability.MedicalComplications.HasValue && Model.Disability.MedicalComplications.Value ? "checked" : "") /> Yes
                                                </label>
                                                <label class="btn btn-info @(Model.Disability.MedicalComplications.HasValue && !Model.Disability.Hospitalization.Value ? "active" : "")">
                                                    <input type="radio" name="MedicalComplications" value="false" @(Model.Disability.MedicalComplications.HasValue && !Model.Disability.MedicalComplications.Value ? "checked" : "") /> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="false">
                                        <div class="col-sm-3 col-header">
                                            <label>Job Activity Level</label>
                                        </div>
                                        @if (CurrentUserHasPermission(Permission.EditSTDDetail))
                                        {
                                            <div class="col-sm-3 btn-group group-5" data-toggle="buttons">
                                                <label class="btn btn-info" ng-repeat="jc in JobClassifications" ng-class="{ 'active' : {{jc.Id}} == @activityLevel}">
                                                    <input name="ActivityLevel" value="{{jc.Id}}" type="radio">
                                                    {{jc.Text}}
                                                </label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-3">
                                                @activityLevelText
                                            </div>
                                        }
                                    </div>
                                    <!-- #region provider initial setup-->
                                    <div class="row">
                                        <div class="col-sm-12 pull-center">
                                            <a id="hcp-provider-add" onclick="AbsenceSoft.Disability.OnAddProvider()">Add Health Care Provider</a>
                                            <a id="hcp-provider-cancel" onclick="AbsenceSoft.Disability.OnCancelProvider()">Cancel Health Care Provider</a>
                                        </div>
                                    </div>

                                    <div id="select-provider" class="row">
                                        <div class="col-sm-3 col-header hcp-provider odg-hide-el">
                                            <label for="HCPProvider">Health Care Provider</label>
                                        </div>
                                        <div class="col-sm-3 hcp-provider odg-hide-el">
                                            <select id="HCPProvider" name="HCPProvider" class="form-control input-sm" onchange="AbsenceSoft.Disability.OnProviderSelected()"></select>
                                        </div>
                                        <div class="col-sm-3 col-header hcp-provider-type odg-hide-el">
                                            <label for="HCPContactType">Provider Type</label>
                                        </div>
                                        <div class="col-sm-3 capitalize hcp-provider-type odg-hide-el">
                                            <select id="HCPContactType" name="HCPContactType" class="form-control input-sm" onchange="AbsenceSoft.Disability.OnProviderTypeSelected()"></select>
                                        </div>
                                    </div>
                                    <!-- #endregion-->

                                    <div class="row provider-section">
                                        <div class="col-sm-3 col-header">
                                            <label for="disability-company-input">HCP Company</label>
                                        </div>
                                        <div class="col-sm-3 capitalize">
                                            <span class="viewmode">@(Model.Disability.HCPCompanyName ?? "")</span>
                                            <input type="text" id="HCPCompanyName" name="HCPCompanyName" value="@Model.Disability.HCPCompanyName" class="form-control input-sm editmode odg-hide-el" placeholder="Provider Company Name" data-rule-companyOrName="true" />
                                        </div>
                                        <div class="col-sm-3 col-header">
                                            <label for="IsPrimary">HCP Primary Provider</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <span class="viewmode">@(Model.Disability.IsPrimary.HasValue && Model.Disability.IsPrimary.Value ? "Yes" : "No")</span>
                                            <input id="IsPrimary" type="checkbox" name="IsPrimary" class="editmode odg-hide-el" value="true" @(Model.Disability.IsPrimary.HasValue && Model.Disability.IsPrimary.HasValue ? "checked" : "") />
                                        </div>
                                    </div>

                                    <div class="row provider-section">
                                        <div class="col-sm-3 col-header">
                                            <label for="disability-name" class="viewmode">HCP Name</label>
                                            <label for="disability-name" class="editmode odg-hide-el">HCP First Name</label>
                                        </div>
                                        <div class="col-sm-3 capitalize">
                                            <span class="viewmode">@(Model.Disability.HCPFirstName ?? "") @(Model.Disability.HCPLastName ?? "")</span>
                                            <input type="text" id="HCPFirstName" name="HCPFirstName" value="@Model.Disability.HCPFirstName" class="form-control input-sm editmode odg-hide-el" placeholder="Provider First Name" />
                                        </div>
                                        <div class="col-sm-3 col-header">
                                            <label for="disability-name" class="editmode odg-hide-el">HCP Last Name</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" id="HCPLastName" name="HCPLastName" value="@Model.Disability.HCPLastName" class="form-control input-sm editmode odg-hide-el" placeholder="Provider Last Name" />
                                        </div>
                                    </div>

                                    <div class="row provider-section">
                                        <div class="col-sm-3 col-header">
                                            <label for="disability-phone-input">HCP Phone</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <span id="HCPPhoneLabel" class="viewmode">@(Model.Disability.HCPPhone ?? "")</span>
                                            <input type="text" id="HCPPhone" name="HCPPhone" value="@(Model.Disability.HCPPhone ?? "")" class="form-control input-sm editmode odg-hide-el" placeholder="Provider Phone" data-rule-phoneUSExt="true" />
                                        </div>
                                        <div class="col-sm-3 col-header">
                                            <label for="disability-fax-input">HCP Fax</label>
                                        </div>
                                        <div class="col-sm-3">
                                            <span id="HCPFaxLabel" class="viewmode">@(Model.Disability.HCPFax ?? "")</span>
                                            <input type="text" id="HCPFax" name="HCPFax" value="@(Model.Disability.HCPFax ?? "")" class="form-control input-sm editmode odg-hide-el" placeholder="Provider Fax" data-rule-phoneUSExt="true" />
                                        </div>
                                    </div>

                                    <div class="row provider-section">
                                        <div class="col-sm-3 col-header">
                                            <label for="disability-contact-input">HCP Contact Name</label>
                                        </div>
                                        <div class="col-sm-3 capitalize">
                                            <span class="viewmode">@(Model.Disability.HCPContactPersonName ?? "")</span>
                                            <input type="text" id="HCPContactPersonName" name="HCPContactPersonName" value="@Model.Disability.HCPContactPersonName" class="form-control input-sm editmode odg-hide-el" placeholder="Provider Contact Name" />
                                        </div>
                                    </div>

                                    <!-- #region diagnosis section-->
                                    <div id="disability-diagnosis" class="viewmode" ng-if="false">
                                        <div class="row">
                                            <div class="col-sm-12 col-header">
                                                Primary Diagnosis
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12" ng-click="ViewPrimaryGuidelines()">
                                                <a>{{STD.PrimaryDiagnosis.Description}}</a><br />
                                                <span ng-show="STD.PrimaryDiagnosis != null"><strong>Return-To-Work Guideline: </strong>{{STD.PrimaryPathDaysUIText}}</span>
                                            </div>
                                        </div>
                                        <div class="row">&nbsp;</div>
                                        <div class="row">
                                            <div class="col-sm-12 col-header">
                                                Secondary Diagnosis
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div ng-repeat="diag in STD.SecondaryDiagnosis" ng-click="ViewSecondaryGuidelines(diag)">
                                                    <a>{{diag.Description}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- #endregion -->

                                    <div class="row">
                                        <div class="col-sm-12 pull-center">
                                            <div id="healthConditionError" class="error odg-hide-el"></div>
                                        </div>
                                    </div>

                                    <div id="disability-health-edit-actions" class="editmode odg-hide-el">
                                        <div class="row">
                                            <div class="col-sm-12 pull-center">
                                                <!-- passing true as an argument to the function - AbsenceSoft.Disability.OnUpdateHealthCondition() as we want to reload the complete page after function execution -->
                                                <button type="button" class="btn btn-primary" onclick="AbsenceSoft.Disability.OnUpdateHealthCondition(true)">Update</button>

                                                <button type="button" class="btn btn-default" onclick="AbsenceSoft.Disability.OnCancelUpdateHealthCondition()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- #endregion -->
                            }
                        </form>
                    </div>
                    <!-- #endregion -->
                    <!-- #region hidden diagnosis edit mode section-->
                    <div class="row">
                        <div id="odg-sec-left" class="col-sm-6" ng-show="forms.ChangeDiagnosis==true">
                            <form name="forms.frmSTDChangeDiagnosis" novalidate>
                                <div class="col-sm-12 col-wrap">
                                    <div class="col-sm-12 field-name">
                                        <label>Primary Diagnosis Code</label>
                                    </div>
                                    <div class="col-sm-12 field-input">
                                        <div class="select2-wrap">
                                            <input type="text" id="primary-code" ng-model="STD.PrimaryDiagnosis.Id" class="form-control select2 bigdrop" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-wrap" ng-if="!STD.PrimaryDiagnosis.Id">
                                        <div class="col-sm-12 field-name">
                                            <label>View Guidelines</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <div ng-click="ViewPrimaryGuidelines()">
                                                <a>{{STD.PrimaryDiagnosis.Description}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 field-name">
                                        <label>Primary Return-To-Work Path</label>
                                    </div>
                                    <div class="col-sm-12 field-input">
                                        <select name="STDBestPractice" class="form-control" ng-options="lst as GetPrimaryPathUIText(lst) for lst in RTWBestPracticeList"
                                                ng-model="forms.PrimaryPath" ng-change="ChangePath(forms.PrimaryPath)"
                                                ng-class="{'has-error':(!forms.frmSTDChangeDiagnosis.STDBestPractice.$pristine || forms.submitted) && forms.frmSTDChangeDiagnosis.STDBestPractice.$error.required}">
                                            <option value="" selected>Please Select</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-12 field-name">
                                        <label>Secondary Diagnosis Code(s)</label>
                                    </div>
                                    <div class="col-sm-12 field-input">
                                        <div class="select2-wrap">
                                            <input type="text" id="secondary-code" ng-disabled="STD.PrimaryDiagnosis.Id == ''" ng-model="STD.SecondaryDiagnosis.Id" class="form-control select2 bigdrop" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-wrap" ng-if="STD.SecondaryDiagnosis.length == 0">
                                        <div class="col-sm-6 field-name">
                                            <label>View Guidelines</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <div ng-repeat="diag in STD.SecondaryDiagnosis" ng-click="ViewSecondaryGuidelines(diag)">
                                                <a>{{diag.Description}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="error" ng-cloak ng-show="STD.DuplicateDiagnosis">Secondary diagnosis code cannot match primary diagnosis code</div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="error" ng-cloak ng-show="STD.NoPrimaryDiagnosis">Add a primary diagnosis code first before any secondary diagnosis code</div>
                                    </div>
                                    <div class="col-sm-12 field-name">
                                        <label>Job Activity Level</label>
                                    </div>
                                    @if (CurrentUserHasPermission(Permission.EditSTDDetail))
                                    {
                                        <div class="col-sm-12 field-input">
                                            <select name="JobActivityLevel" id="ddlJobActivityLevel" class="form-control" onchange="AbsenceSoft.Disability.OnUpdateHealthCondition()">
                                                <option value="" selected>Select Job Activity Level</option>
                                                <option ng-repeat="jc in JobClassifications" value="{{jc.Id}}" ng-selected="{{jc.Id == @activityLevel }}">{{jc.Text}}</option>
                                            </select>
                                        </div>
                                    }
                                </div>
                                <div class="pull-center" ng-if="false">
                                    <button type="button" class="btn btn-primary" ng-click="forms.submitted=true; UpdateDiagnosis(forms.frmSTDChangeDiagnosis.$valid);">Update</button>
                                    <button type="button" class="btn btn-default" ng-click="CancelDiagnosisSearch();">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <div id="odg-sec-right" class="col-xs-6">
                            <div class="score-box">
                                <div class="row">
                                    <div class="col-xs-6 odg-act-score">
                                        <p>
                                            <span ng-if="!Comorbidity.data.ActualDaysLost">--</span>
                                            {{Comorbidity.data.ActualDaysLost}}
                                        </p><h6>ACTUAL DAYS</h6>
                                    </div>
                                    <div class="col-xs-6 odg-best-score">
                                        <p>
                                            <span ng-if="!Comorbidity.data.BestPracticesDays">--</span>
                                            {{Comorbidity.data.BestPracticesDays}}
                                        </p><h6>BEST PRACTICE</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="ras-box">
                                            <h5>RISK ASSESSMENT SCORE</h5>
                                            <div class="ras-colors">
                                                <span class="ras-blue"></span>
                                                <span class="ras-green"></span>
                                                <span class="ras-yellow"></span>
                                                <span class="ras-orange"></span>
                                                <span class="ras-red"></span>
                                            </div>
                                            <div class="progress">
                                                <div ng-class="Comorbidity.getProgressbarClass()" role="progressbar" aria-valuenow="{{Comorbidity.data.RiskAssessmentScore}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': Comorbidity.data.RiskAssessmentScore + '%' }">
                                                    {{Comorbidity.data.RiskAssessmentScore}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="odg-user-data">
                                <div class="col-xs-6">
                                    <span class="odg-user-data-label">Age</span>
                                    <span class="odg-user-data-value">{{Comorbidity.comorbidityArgs.Args.Age}}</span>
                                </div>
                                <div class="col-xs-6">
                                    <span class="odg-user-data-label">Work State</span>
                                    <span class="odg-user-data-value">{{Comorbidity.comorbidityArgs.Args.StateCode}}</span>
                                </div>
                            </div>
                            <button data-toggle="collapse" data-target="#comorbidityguidelines" ng-click="Comorbidity.showMore()" class="odg-btn-view-duration-guidelines">
                                {{ Comorbidity.showMoreButtonText }} &nbsp;&nbsp;
                                @*<span class="updown_arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>*@
                                <i id="odg-i-view-guidelines" class="fa fa-chevron-down" aria-hidden="true"></i>
                            </button>
                            <button ng-click="Comorbidity.reCalculate()" ng-if="false">CALCULATE</button>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <div id="comorbidityguidelines" class="comorbidityguidelines" ng-show="Comorbidity.showMoreOptions == true">
                        <hr class="odg-hr" />
                        @Html.Partial("_ComorbidityGuidelines")
                    </div>
                </div>
                <!-- #endregion -->
                <!-- #region Rightbar-->
                <div class="col-sm-2 col-right">
                    <button id="btnNotes" class="btn btn-primary" data-toggle="modal" ng-click="GetNotesList()">Notes</button>
                </div>
                <!-- #endregion -->
            </div>
        </div>
    </div>
    <!-- #region Modal: Notes -->
    @{ Html.RenderPartial("_NotesModals"); }
    <!-- /.modal -->
    <!-- #endregion -->
</div>
    <script>

        $(document).ready(function () {

            $('#collapse').on('shown.bs.collapse', function () {
                $(".fa").removeClass("fa-chevron-down").addClass("glyphicon-folder-open");
            });

            $('#collapse').on('hidden.bs.collapse', function () {
                $(".fa").removeClass("fa-chevron-up").addClass("glyphicon-folder-close");
            });

        });
    </script>
}


