﻿<!-- #region model/init -->
@using AbsenceSoft.Models.Cases
@model ViewCaseModel
@{
    CaseParentedModel caseNoteListModel = new CaseParentedModel()
    {
        CaseId = Model.Id,
        Status = Model.Status
    };
    bool isStd = false;
    if (Model.IsSTD.HasValue)
    {
        isStd = Model.IsSTD.Value;
    }
    var parentSubType = isStd ? "Disability Note" : "Diagnosis";
    var parentSubTypeCode = string.Empty;
    if (parentSubType == "Diagnosis")
    {
        parentSubTypeCode = "DIAGNOSIS";
    }
    else if(parentSubType == "Disability Note")
    {
        parentSubTypeCode = "DISABILITYNOTE";
    }
    var isInquiry = caseNoteListModel.Status;
    var parentInstanceId = caseNoteListModel.CaseId;
    var employerId = ViewBag.EmployerId;
    var employeeId = Model.EmployeeId;
    var defaultNoteToConfidential = CurrentCustomer.DefaultNoteToConfidential.ToString();
    var creationDate = DateTime.UtcNow.ToUnixDate();
}
<!-- #endregion -->
<div class="modal fade" id="modalNotes" tabindex="-1" role="dialog" aria-labelledby="intermittentRequest" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">@(Model.STDFeatureEnabled && isStd ? "Short Term Disability" : "Diagnosis") Notes</h4>
                </div>
                <div class="modal-body">
                    <div ng-controller="NotesCtrl" ng-init="init('case', '@parentInstanceId', @creationDate, '@EmployerId', '@defaultNoteToConfidential','@parentSubTypeCode')" ng-cloak>
                        <div class="row row-offset">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12" ng-if="HasViewPermission || HasEditPermission || HasCreatePermission">
                                        <!--Add new-->
                                        <form ng-submit="submit()">
                                            <div class="row" ng-if="HasEditPermission || HasCreatePermission">
                                                <div class="col-sm-10">
                                                    <div class="row">
                                                        <div class="col-sm-2 col-header">New</div>
                                                        <div class="col-sm-10">
                                                            <textarea ng-model="CreateNoteViewModel.Notes" required class="form-control" rows="3" ng-change="EnableSave()"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2 col-header">Confidential</div>
                                                        <div class="col-sm-4">
                                                            <div class="btn-group group-2" data-toggle="buttons">
                                                                <label class="btn btn-info" ng-class="{ 'active' : CreateNoteViewModel.Public}" ng-click="CreateNoteViewModel.Public = true;EnableSave()">
                                                                    <input type="radio" ng-model="CreateNoteViewModel.Public" value="true" /> No
                                                                </label>
                                                                <label class="btn btn-info" ng-class="{ 'active' : !CreateNoteViewModel.Public}" ng-click="CreateNoteViewModel.Public = false;EnableSave()">
                                                                    <input type="radio" ng-model="CreateNoteViewModel.Public" value="false" /> Yes
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2 col-header">
                                                            Category
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <select id="ddCategoryCode" ng-model="CreateNoteViewModel.CategoryCode" class="form-control" ng-change="NoteCategoryChange();EnableSave()" ng-options="cat.Code as cat.Name for cat in NoteCategories| filter:{Code:'@parentSubType.Replace(" ", "")'}">
                                                                <option ng-option value="">Select</option>
                                                            </select>
                                                        </div>
                                                        <div ng-show="CreateNoteViewModel.CategoryCode && NoteTemplates.length > 0">
                                                            <div class="col-sm-2 col-header">
                                                                Template
                                                            </div>
                                                            <div class="col-sm-10">
                                                                <select ng-model="CreateNoteViewModel.TemplateId" class="form-control" ng-change="NoteTemplateChange();EnableSave()" ng-options="template.Id as template.Name for template in NoteTemplates">
                                                                    <option value=""></option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-2">&nbsp;</div>
                                                        <div class="col-sm-10 pull-center">
                                                            <button type="submit" id="btnSaveNotes" class="btn btn-primary">Save</button>
                                                            <button type="button" class="btn btn-link" ng-click="cancel($event)">Cancel</button>
                                                            <button ng-if="HasDeletePermission && (ParentType == 'case' || ParentType == 'employee') && NoteToDelete" type="button" class="btn btn-link" ng-click="DeleteCaseNoteById(NoteToDelete)">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 col-right" ng-if="ParentType == 'case'">

                                                </div>
                                            </div>
                                        </form>
                                        <!--./Add new-->
                                        <!-- Notes list -->
                                        <div class="row row-offset" ng-cloak>
                                            <div class="col-sm-12">
                                                <div class="row row-header top-row-style" id="empSort" style="cursor: pointer">
                                                    <div class="col-sm-4" ng-click="UpdateNoteSort('CreatedDate')">
                                                        <span>Date</span>
                                                        <div class="sort" ng-show="NotesFilter.SortExpression == 'CreatedDate'">
                                                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[NotesFilter.SortDir == 'asc']"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" ng-click="UpdateNoteSort('CreatedBy')">
                                                        <span>Written By</span>
                                                        <div class="sort" ng-show="NotesFilter.SortExpression == 'CreatedBy'">
                                                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[NotesFilter.SortDir == 'asc']"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4" ng-click="UpdateNoteSort('Notes')">
                                                        <span>Notes</span>
                                                        <div class="sort" ng-show="NotesFilter.SortExpression == 'Notes'">
                                                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[NotesFilter.SortDir == 'asc']"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-filter bottom-row-style" id="empFilters">
                                                    <div class="col-sm-4">
                                                        <div class="field-input input-group date">
                                                            <input type="text" id="NoteFilterDate" name="NoteFilterDate" class="form-control input-sm filter" ng-model="NotesFilter.NoteDate"
                                                                   at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="Created date" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input ng-model="NotesFilter.CreatedBy" ng-keyup="GetNotes(false)" type="text" class="form-control filter" placeholder="Written By Filter" />
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <input ng-model="NotesFilter.Notes" ng-keyup="GetNotes(false)" type="text" class="form-control filter" placeholder="Note Filter" />
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="pull-right">
                                                            <a style="cursor:pointer" ng-click="ToggleAllNotes(true)">expand all</a> |
                                                            <a style="cursor:pointer" ng-click="ToggleAllNotes(false)">collapse all</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 note">
                                                        <div class="note-comm-area" ng-repeat="note in Notes | filter:{Category:'@parentSubType'}">
                                                            <div class="row row-hover">
                                                                <div ng-click="GetNoteToEdit(note)">
                                                                    <div class="col-sm-4" ng-bind="note.CreatedDate | ToDate | date:'MM/dd/yy'" ng-cloak>
                                                                    </div>
                                                                    <div class="col-sm-4" ng-bind="note.CreatedBy" ng-cloak>
                                                                    </div>
                                                                    <div class="col-sm-4" ng-bind-html="hiImALink(note.Notes)">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12" ng-cloak>
                                                                <div class="pull-left col-wrap">
                                                                    <span class="cr-relationship ng-binding">{{note.CreatedDate == note.ModifiedDate ? "created by " : 'last edited by ' }} {{note.ModifiedBy}} on {{note.ModifiedDate | ToDate | date: 'MM/dd/yyyy' : 'UTC'}} at {{note.ModifiedDate | ToDate | date: 'hh:mm a'}} </span>
                                                                </div>
                                                                <div class="pull-right">
                                                                    <a href="" ng-click="note.visible =! note.visible" ng-hide="note.visible">more</a>
                                                                    <a href="" ng-click="note.visible =! note.visible" ng-show="note.visible">less</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-13 summary-box-border" ng-show="note.visible">
                                                                <div ng-bind-html="hiImALinks(note.Notes, note.Contact, note.Answer, note.Category, note.SAnswer)"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ./Notes list -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary" ng-click="disableButton($event);forms.toDoSubmitted=true;AddManualTodo(frmToDo.$valid)" ng-if="showForm == true">Add</button>
                            <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
