﻿@model AbsenceSoft.Models.Cases.CreateCaseModel

<div class="row row-offset" ng-if="ui.currentQuestionSet.length > 0">
    <div class="col-sm-2">
        <div class="content-section">Other Details</div>
        <div class="btn-icon-notes"></div>
    </div>
    <div class="col-sm-8 border">
        <ng-form name="frmDynamicQuestions" novalidate
                 ng-class="{'form-not-submitted' : !forms.submitted, 'form-submitted' : forms.submitted}">
            <div dynamic-questions
                 current-question-set="ui.currentQuestionSet"></div>
        </ng-form>
    </div>
</div>

<div class="row row-offset" ng-if="ShowOtherQuestions && (ui.IsAccommodation || HasCalculatedEligibility)">
    <div class="col-sm-2">
        <div class="content-section">Other Details</div>
        <div class="btn-icon-notes"></div>
    </div>
    <div class="col-sm-8 border">
        <div class="row">
            <div class="col-sm-12">
                The following fields can be optionally entered and will be saved when the case is created.
            </div>
        </div>
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="col-sm-9"><strong>Is the employee at work?</strong></div>
                <div class="col-sm-3">
                    <div class="btn-group group-3" data-toggle="buttons">
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.IsEmployeeAtWork == true}" ng-click="CreateCaseModel.IsEmployeeAtWork=true; CreateCaseModel.IsEmployeeOnLeave = null; CreateCaseModel.EmployeeLeaveCaseNumber">
                            <input type="radio" ng-model="CreateCaseModel.IsEmployeeAtWork" value="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.IsEmployeeAtWork == false}" ng-click="CreateCaseModel.IsEmployeeAtWork=false">
                            <input type="radio" ng-model="CreateCaseModel.IsEmployeeAtWork" value="false" /> No
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.IsEmployeeAtWork == null }" ng-click="CreateCaseModel.IsEmployeeAtWork=null; CreateCaseModel.IsEmployeeOnLeave = null;">
                            <input type="radio" value="null" ng-model="CreateCaseModel.IsEmployeeAtWork" /> N/A
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-offset" ng-if="CreateCaseModel.IsEmployeeAtWork == false">
            <div class="col-sm-12">
                <div class="col-sm-9"><strong>Is the employee on leave?</strong></div>
                <div class="col-sm-3">
                    <div class="btn-group group-3" data-toggle="buttons">
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.IsEmployeeOnLeave == true}" ng-click="CreateCaseModel.IsEmployeeOnLeave=true">
                            <input type="radio" ng-model="CreateCaseModel.IsEmployeeAtWork" value="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.IsEmployeeOnLeave == false}" ng-click="CreateCaseModel.IsEmployeeOnLeave=false">
                            <input type="radio" ng-model="CreateCaseModel.IsEmployeeOnLeave" value="false" /> No
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-offset" ng-if="CreateCaseModel.IsEmployeeOnLeave == true">
            <div class="col-sm-12">
                <div class="col-sm-3 col-header">Case Number</div>
                <div class="col-sm-9">
                    <input type="text" required ng-model="CreateCaseModel.EmpOtherLeaveCaseNumber" />
                </div>
            </div>
        </div>
        @if (Model.EmployerId == "546e52cda32aa00f78086269")
        {
        <div class="row row-offset" ng-if="CreateCaseModel.IsEmployeeOnLeave == false">
            <div class="col-sm-12">
                <div class="col-sm-12 error">Please call MyLeave Services @@ 888-892-7180 to initiate leave of absence</div>
            </div>
        </div>
        <div class="row" ng-if="CreateCaseModel.IsEmpSafeToBeAtWork == false && CreateCaseModel.IsEmployeeOnLeave == false">
            <div class="col-sm-12">
                <div class="col-sm-12 error">Please call MyLeave Services @@ 888-892-7180 to initiate leave of absence</div>
            </div>
        </div>
        }

        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="col-sm-4"><strong>Did the employee self-identify?</strong></div>
                <div class="col-sm-3 pull-right">
                    <div class="btn-group group-3" data-toggle="buttons">
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.DidEmployeeSelfIdentify == true}" ng-click="CreateCaseModel.DidEmployeeSelfIdentify=true">
                            <input type="radio" ng-model="CreateCaseModel.DidEmployeeSelfIdentify" value="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.DidEmployeeSelfIdentify == false}" ng-click="CreateCaseModel.DateIdentified = null; CreateCaseModel.DidEmployeeSelfIdentify=false">
                            <input type="radio" ng-model="CreateCaseModel.DidEmployeeSelfIdentify" value="false" /> No
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.DidEmployeeSelfIdentify == null }" ng-click="CreateCaseModel.DateIdentified = null; CreateCaseModel.DidEmployeeSelfIdentify=null">
                            <input type="radio" value="null" ng-model="CreateCaseModel.DidEmployeeSelfIdentify" /> N/A
                        </label>
                    </div>
                </div>
                <div class="col-sm-4" ng-if="CreateCaseModel.DidEmployeeSelfIdentify == true">
                    <div class="input-group date">
                        <input type="text" class="form-control input-sm" id="DateIdentified" name="DateIdentified" ng-model="CreateCaseModel.DateIdentified" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" />
                        <label for="DateIdentified" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="col-sm-4"><strong>Are there performance issues?</strong></div>
                <div class="col-sm-3 pull-right">
                    <div class="btn-group group-3" data-toggle="buttons">
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.HasPerformanceIssue == true}" ng-click="CreateCaseModel.HasPerformanceIssue=true">
                            <input type="radio" ng-model="CreateCaseModel.HasPerformanceIssue" value="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.HasPerformanceIssue == false}" ng-click="CreateCaseModel.PerformanceIssueDesc = null; CreateCaseModel.HasPerformanceIssue=false">
                            <input type="radio" ng-model="CreateCaseModel.HasPerformanceIssue" value="false" /> No
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.HasPerformanceIssue == null }" ng-click="CreateCaseModel.PerformanceIssueDesc = null; CreateCaseModel.HasPerformanceIssue=null">
                            <input type="radio" value="null" ng-model="CreateCaseModel.HasPerformanceIssue" /> N/A
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="CreateCaseModel.HasPerformanceIssue == true">
            <div class="col-sm-12">
                <textarea class="form-control" name="PerformanceIssueDesc" ng-model="CreateCaseModel.PerformanceIssueDesc"></textarea>
            </div>
        </div>
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="col-sm-5"><strong>Are there any work place concerns?</strong></div>
                <div class="col-sm-3 pull-right">
                    <div class="btn-group group-3" data-toggle="buttons">
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.HasWorkConcerns == true}" ng-click="CreateCaseModel.HasWorkConcerns=true">
                            <input type="radio" ng-model="CreateCaseModel.HasWorkConcerns" value="true" /> Yes
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.HasWorkConcerns == false}" ng-click="CreateCaseModel.WorkConcernDesc = null; CreateCaseModel.HasWorkConcerns=false">
                            <input type="radio" ng-model="CreateCaseModel.HasWorkConcerns" value="false" /> No
                        </label>
                        <label class="btn btn-info" ng-class="{ 'active' : CreateCaseModel.HasWorkConcerns == null }" ng-click="CreateCaseModel.WorkConcernDesc = null; CreateCaseModel.HasWorkConcerns=false">
                            <input type="radio" value="null" ng-model="CreateCaseModel.HasWorkConcerns" /> N/A
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="CreateCaseModel.HasWorkConcerns == true">
            <div class="col-sm-12">
                <textarea class="form-control" name="WorkConcernDesc" ng-model="CreateCaseModel.WorkConcernsDesc"></textarea>
            </div>
        </div>
        @if (HasFeatureAndPermission(Feature.JobConfiguration, Permission.JobAssignment))
        {
        <div class="row">
            <div class="col-sm-12">
                <div style="width:3.75%"></div>
                <div style="width:96.25%" class="pull-right">

                    @Html.EditorFor(m => m.Job)

                </div>
            </div>
        </div>
        }
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="col-sm-12"><strong>What is the employee's current schedule?</strong></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control" name="CurrentSchedule" ng-model="CreateCaseModel.CurrentSchedule"></textarea>
            </div>
        </div>
    </div>
</div>
<!--Employee question answer-->
