﻿@model AbsenceSoft.Models.CaseParentedModel
@{ 
    var isInquiry = Model.Status != null ? Model.Status == "Inquiry" : false;
}

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-7">
                        @(isInquiry ? "Inquiry" : "Case"): <a href="@Url.RouteUrl("ViewCase", new { caseId = Model.CaseId })">@Model.CaseReason @Model.CaseNumber</a><br />
                        @if(Model.CaseReason != "Accommodation Request"){
                        <div>Requested Leave: @Model.LeaveStartDate.ToString("MM/dd/yyyy") - @Model.LeaveEndDate.ToString("MM/dd/yyyy")</div>
                        } else {
                        <div>Requested Accommodation: @Model.LeaveStartDate.ToString("MM/dd/yyyy") - @Model.LeaveEndDate.ToString("MM/dd/yyyy")</div>      
                        }                        
                    </div>
                    <div class="col-sm-5">
                        Employee: <a href="@Url.RouteUrl("ViewEmployee", new { employeeId = Model.EmployeeId })">@Model.EmployeeFirstName @Model.EmployeeLastName</a>
                        @if(Model.IsTPA)
                        {
                            <br />
                            <span>Employer: </span> @Model.EmployerName
                        }                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
