﻿@model List<AbsenceSoft.Models.Cases.PolicySummaryModel>
@{
}
<div class="row row-offset">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2 content-section">
                Time Tracker
            </div>
            <div class="col-sm-8 border">
                <div class="row row-header">
                    <div class="col-sm-4 time-used-available">
                        Policy
                    </div>
                    <div class="col-sm-4 time-used-available">
                        Time Used
                    </div>
                    <div class="col-sm-4 time-used-available">
                        Time Available
                    </div>
                </div>
                @foreach (AbsenceSoft.Models.Cases.PolicySummaryModel summary in Model)
                {
                <div class="row">
                    <div class="col-sm-4 time-used-available">
                        @summary.PolicyName
                    </div>
                    <div class="col-sm-4 time-used-available">
                        @summary.TimeUsedText
                    </div>
                    <div class="col-sm-4 time-used-available">                        
                        @summary.TimeRemainingText
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
