﻿@model  IEnumerable<AbsenceSoft.Models.Cases.AccommodationTypeCategoryViewModel>


<div class="accommodation-type-container">
    <div class="btn-group" data-toggle="buttons">
        @{

            string modalType = !ViewBag.IsCreate ? "Add" : "Edit";
            string angularModel;  
            string angularName = "RequestType";

            if (!ViewBag.IsCreate)
            {
                angularModel = "Accommodation.Type";
            }
            else
            {
                angularModel = "EditAccommodation.Type";
            }

        }
        @foreach (var category in Model)
        {
   
            if (category.Children != null && category.Children.Count > 0)
            {
                <label class="btn btn-info accommodation-type-categories" data-toggle="collapse" data-target="@string.Format("#{0}{1}Children", category.Name.Replace(" ", ""), modalType)">
                    <input type="radio" name="@string.Format("{0}AccommodationTypeTree", category.ParentName)" /> @category.Name
                </label>
            }
            else if (!string.IsNullOrEmpty(category.AccommodationTypeCode))
            {

                string angularClick = string.Format("SetAccommodation('{0}')", category.AccommodationTypeCode);
           

                <label class="btn btn-info accommodation-type-categories" ng-click="@angularClick" id="@category.AccommodationTypeCode" name="@category.AccommodationTypeCode" for="@category.AccommodationTypeCode">
                    <input type="radio" name="@angularName" value="{{@angularModel}}" ng-model="@angularModel" @if (ViewBag.IsCreate) { <text> ng-required="CreateCaseModel.IsAccommodation" </text> } else { <text> required</text> } /> @category.Name
                </label>
            }
        }
    </div>


    @foreach (var category in Model.Where(c => c.Children != null && c.Children.Count > 0))
    {
        <div class="collapse acc-borders" id="@string.Format("{0}{1}Children", category.Name.Replace(" ", ""),modalType)">
            @Html.Partial("AccommodationTypeCategories", category.Children)
        </div>
    }
</div>