﻿@model AbsenceSoft.Models.Cases.ViewCaseModel

@if (CurrentUserHasPermission(Permission.EditCaseReporterAndPhone))
{
<div class="col-sm-12">
    <p class="custom-content">@T("Web.Cases.Create.CaseReporter", null, Model.EmployerId, null, Model.EmployeeId)</p>
    <div class="row">
        <div class="col-sm-12">
            @if (Current.Customer().HasFeature(Feature.CaseReporter))
            {
                <div class="row" ng-show="AllEmployerContacts.length > 0" ng-hide="HasExistingContactSubmitter()">
                    <div class="col-sm-3 col-header">
                        <label for="CaseReporterExisting">Employer Contacts</label>
                    </div>
                    <div class="col-sm-9">
                        <select class="form-control" ng-options="ec.Id as ec.FullName for ec in AllEmployerContacts"
                                ng-model="EditCaseReporterInfo.AuthorizedSubmitter.Id"
                                ng-change="AuthorizedSubmitterSelected()"
                                ng-required="HasAuthorizedSubmitter()">
                            <option value="">Select One</option>
                        </select>
                    </div>
                </div>
            }
            <div class="row" ng-show="AllEmployeeContacts.length > 0" ng-hide="HasAuthorizedSubmitter()">
                <div class="col-sm-3 col-header">
                    <label for="CaseReporterExisting">Existing Contact</label>
                </div>
                <div class="col-sm-9">
                    <select class="form-control" ng-options="ec.Id as ec.Label for ec in AllEmployeeContacts"
                            ng-model="EditCaseReporterInfo.CaseReporter.EmployeeContactId"
                            ng-change="ContactSelected()"
                            ng-required="HasExistingContactSubmitter()">
                        <option value="">Select One</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-header">
                    <label for="CaseReporterFirstName">First Name</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="CaseReporterFirstName" name="CaseReporterFirstName"
                            ng-model="EditCaseReporterInfo.CaseReporter.FirstName"
                            ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()"
                            ng-required="!HasAuthorizedSubmitter() || !HasExistingContactSubmitter()">
                    <span class="error" ng-show="forms.submitted && frmEditCaseReporterInfo.CaseReporterFirstName.$invalid">First Name is required.</span>
                </div>
                <div class="col-sm-3 col-header">
                    <label for="CaseReporterLastName">Last Name</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="CaseReporterLastName" name="CaseReporterLastName"
                            ng-model="EditCaseReporterInfo.CaseReporter.LastName"
                            ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()"
                            ng-required="!HasAuthorizedSubmitter() || !HasExistingContactSubmitter()">
                    <span class="error" ng-show="forms.submitted && frmEditCaseReporterInfo.CaseReporterLastName.$invalid">Last Name is required.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-header">
                    <label for="CaseReporterRelationship">Relationship</label>
                </div>
                <div class="col-sm-3">
                    <select class="form-control" id="CaseReporterRelationship" name="CaseReporterRelationship" ng-options="r.Id as r.Text for r in EmployeeRelationshipsIncludingSelf"
                            ng-model="EditCaseReporterInfo.CaseReporter.ContactTypeCode"
                            ng-required="!HasAuthorizedSubmitter() || !HasExistingContactSubmitter()"
                            ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()">
                        <option value="">Select One</option>
                    </select>
                    <span class="error" ng-show="forms.submitted && frmEditCaseReporterInfo.CaseReporterRelationship.$invalid">Relationship is required.</span>
                </div>
                <div class="col-sm-3 col-header">
                    <label for="CaseReporterPhone">Phone</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="CaseReporterPhone" ng-model="EditCaseReporterInfo.CaseReporter.WorkPhone" placeholder="(XXX) XXX-XXXX" ng-blur-tel
                            ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-header">
                    <label for="CaseReporterEmail">Email</label>
                </div>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="CaseReporterEmail" ng-model="EditCaseReporterInfo.CaseReporter.Email"
                            ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()" />
                </div>
            </div>
        </div>
    </div>
</div>
}
