﻿@model AbsenceSoft.Models.Cases.CaseHistoryModel
@{
}
<!--Case History-->
<div class="row row-offset">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2 text-center">
                <div class="content-section">(isInquiry ? "Inquiry" : "Case") History</div>
                <i class="fa fa-briefcase large-side-icons"></i>
            </div>
            <div class="col-sm-8 border">
                @if(Model.Cases.Any())
                {
                    <div class="row row-header">
                        <div class="col-sm-2">
                            Case ID
                        </div>
                        <div class="col-sm-4">
                            Reason
                        </div>
                        <div class="col-sm-2">
                            Date Start
                        </div>
                        <div class="col-sm-2">
                            Date End
                        </div>
                        <div class="col-sm-2">
                            Status
                        </div>
                    </div>
                    foreach (var data in Model.Cases)
                    {
                        <div class="row">
                            <div class="col-sm-2">
                                <a href="@Url.RouteUrl("ViewCase", new { caseId = data.CaseId })">@data.CaseNumber</a>
                            </div>
                            <div class="col-sm-4">
                                @(data.Reason)
                            </div>
                            <div class="col-sm-2">
                                @(Convert.ToDateTime(data.StartDate).ToString("MM/dd/yyyy"))
                            </div>
                            <div class="col-sm-2">
                                @if (!string.IsNullOrWhiteSpace(data.EndDate))
                                {
                                    @(Convert.ToDateTime(data.EndDate).ToString("MM/dd/yyyy"))
                                }                                                              
                            </div>
                            <div class="col-sm-2">
                                @(data.Status)
                            </div>
                        </div>
                    }
                }
                else
                {
                    <span>
                        No previous cases on record.
                    </span>
                }
            </div>
            <div class="col-sm-2 col-right">
                @*<a href="@Url.RouteUrl("CreateCase", new { employeeId = Model.EmployeeId})" class="btn btn-primary hide-when">New Case</a>*@
                <a ng-click="CreateCaseValidation()" class="btn btn-primary hide-when">New Case</a>
            </div>
        </div>
    </div>
</div>
<!--/Case History-->