﻿@model AbsenceSoft.Models.Cases.CreateCaseModel

<div class="row row-offset">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <div class="content-section">Case Reporter</div>
                <div class="btn-icon-notes"></div>
            </div>
            <div class="col-sm-8 border">
                <p class="custom-content">@T("Web.Cases.Create.CaseReporter", null, Model.EmployerId, null, Model.EmployeeId)</p>
                <div class="row">
                    <div class="col-sm-12">
                        @if (HasFeatureAndPermission(Feature.EmployerContact, Permission.EditEmployerContacts.Id))
                        {
                            <div class="row" ng-show="AllEmployerContacts.length > 0" ng-hide="HasExistingContactSubmitter()">
                                <div class="col-sm-3 col-header">
                                    <label for="CaseReporterExisting">Employer Contacts</label>
                                </div>
                                <div class="col-sm-9">
                                    <select class="form-control" ng-options="ec.Id as ec.FullName for ec in AllEmployerContacts"
                                            ng-model="CreateCaseModel.AuthorizedSubmitter.Id"
                                            ng-change="AuthorizedSubmitterSelected()"
                                            ng-required="HasAuthorizedSubmitter()">
                                        <option value="">Select One</option>
                                    </select>
                                </div>
                            </div>
                        }
                        <div class="row" ng-show="AllEmployeeContacts.length > 0" ng-hide="HasAuthorizedSubmitter()">
                            <div class="col-sm-3 col-header">
                                <label for="CaseReporterExisting">Existing Contact</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="form-control" ng-options="ec.Id as ec.Label for ec in AllEmployeeContacts"
                                        ng-model="CreateCaseModel.CaseReporter.EmployeeContactId"
                                        ng-change="ContactSelected()"
                                        ng-required="HasExistingContactSubmitter()">
                                    <option value="">Select One</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">
                                <label for="CaseReporterFirstName">First Name</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="CaseReporterFirstName" name="CaseReporterFirstName"
                                       ng-model="CreateCaseModel.CaseReporter.FirstName"
                                       ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()"
                                       ng-required="!HasAuthorizedSubmitter() || !HasExistingContactSubmitter()">
                                <span class="error" ng-show="forms.submitted && frmCreateCase.CaseReporterFirstName.$invalid">First Name is required.</span>
                            </div>
                            <div class="col-sm-3 col-header">
                                <label for="CaseReporterLastName">Last Name</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="CaseReporterLastName" name="CaseReporterLastName"
                                       ng-model="CreateCaseModel.CaseReporter.LastName"
                                       ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()"
                                       ng-required="!HasAuthorizedSubmitter() || !HasExistingContactSubmitter()">
                                <span class="error" ng-show="forms.submitted && frmCreateCase.CaseReporterLastName.$invalid">Last Name is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">
                                <label for="CaseReporterRelationship">Relationship</label>
                            </div>
                            <div class="col-sm-3">
                                <select class="form-control" id="CaseReporterRelationship" name="CaseReporterRelationship" ng-options="r.Id as r.Text for r in EmployeeRelationshipsIncludingSelf"
                                        ng-model="CreateCaseModel.CaseReporter.ContactTypeCode"
                                        ng-required="!HasAuthorizedSubmitter() || !HasExistingContactSubmitter()"
                                        ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()">
                                    <option value="">Select One</option>
                                </select>
                                <span class="error" ng-show="forms.submitted && frmCreateCase.CaseReporterRelationship.$invalid">Relationship is required.</span>
                            </div>
                            <div class="col-sm-3 col-header">
                                <label for="CaseReporterPhone">Phone</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="CaseReporterPhone" ng-model="CreateCaseModel.CaseReporter.WorkPhone" placeholder="(XXX) XXX-XXXX" ng-blur-tel
                                       ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">
                                <label for="CaseReporterEmail">Email</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="CaseReporterEmail" ng-model="CreateCaseModel.CaseReporter.Email"
                                       ng-disabled="HasAuthorizedSubmitter() || HasExistingContactSubmitter()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>