﻿<div ng-controller="CaseIndexCtrl" ng-init="init('index')" ng-cloak>
    <download-zip-modal></download-zip-modal>
    @*<div id="disabledpage"></div>*@
    <div class="row">
        <div class="col-xs-12 dash-header case-header">
            <h2 class="ml0"><i class="fa fa-briefcase"></i>CASES</h2>
        </div>
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2" has-permission="ReAssignCase">
                    <select class="form-control" ng-model="UserId" ng-options="user.Id as user.DisplayName for user in UsersList"></select>
                    <div class="error" ng-if="showNoUserWarning && !UserId">Please select a user</div>
                </div>

                <div class="col-sm-4 pull-left" has-permission="ReAssignCase">
                    <a ng-click="ReAssignCases()" class="btn btn-primary">Re-Assign Cases</a>
                    <a ng-click="SetCheckboxes(true);">check all</a> |
                    <a ng-click="SetCheckboxes(false);">uncheck all</a>
                </div>

                @*<div class="col-sm-3 pull-right">
                        <a ng-click="DoExport()" class="pull-right btn btn-primary">Export Data</a>
                        <a style="margin-right:1%" ng-cloak ng-show="DoExportComplete==true" ng-click="GetTotalLinks()" class="pull-right btn btn-primary">Get Export Link</a>
                        <progressbar style="margin-right:1%;margin-top:1%;display:none" id="al" class="progress-striped active pull-right col-sm-4 test" max="100" value="100" type="warning"><i style="color:black">Data Exporting is in progress</i></progressbar>
                    </div>*@

                <div class="col-sm-3 pull-right">
                    <select class="form-control" ng-model="ListType" has-permission="TeamDashboard">
                        <option value="Individual" selected="selected">View My Items</option>
                        <option value="Team">View My Team's Items</option>
                        <option value="All" has-permission="AllItems">View All Items</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 mt12">
                <div class="row row-header top-row-style" style="cursor:pointer">
                    <div class="col-sm-2" ng-click="UpdateCaseSort('EmployeeName')">
                        <span>Employee</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'EmployeeName'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateCaseSort('Reason')">
                        <span>Reason</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'Reason'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-2" ng-click="UpdateCaseSort('CaseNumber')">
                        <span>Case ID</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'CaseNumber'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-1" ng-click="UpdateCaseSort('Type')">
                        <span>Type</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'Type'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div class="col-sm-1" ng-click="UpdateCaseSort('Status')">
                        <span>Status</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'Status'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div ng-class="{true: 'col-sm-1', false: 'col-sm-2'}[IsTPA]" ng-click="UpdateCaseSort('AssignedToName')">
                        <span>Assignee</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'AssignedToName'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div ng-class="{true: 'col-sm-1', false: 'col-sm-2'}[IsTPA]" class="text-center" ng-click="UpdateCaseSort('Updated')">
                        <span>Sort by date</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'Updated'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                    <div ng-show="IsTPA && CurrentEmployer == null" class="col-sm-2" ng-click="UpdateCaseSort('EmployerName')">
                        <span>Employer</span>
                        <div class="sort" ng-show="CasesFilter.SortExpression == 'EmployerName'">
                            <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CasesFilter.SortDir == 'asc']"></span>
                        </div>
                    </div>
                </div>
                <div class="row bottom-row-style">
                    <div class="col-sm-2">
                        <input type="text" ng-keyup="GetCases(false)" ng-model="CasesFilter.EmployeeName" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" ng-keyup="GetCases(false)" ng-model="CasesFilter.Reason" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-2">
                        <input type="text" ng-keyup="GetCases(false)" ng-model="CasesFilter.CaseNumber" class="form-control filter" placeholder="Filter" />
                    </div>
                    <div class="col-sm-1">
                        @Html.DropDownList("caseTypes",
                                                           (IEnumerable<SelectListItem>)ViewBag.CaseTypes,
                                                           new { @class = "form-control filter", ng_model = "CasesFilter.Type", ng_change = "GetCases(false)" })
                    </div>
                    <div class="col-sm-1">
                        @Html.DropDownList("caseStatsu",
                                                           (IEnumerable<SelectListItem>)ViewBag.CaseStatuses,
                                                           new { @class = "form-control filter", ng_model = "CasesFilter.Status", ng_change = "GetCases(false)" })
                    </div>
                    <div ng-class="{true: 'col-sm-1', false: 'col-sm-2'}[IsTPA]">                       
                        <select class="form-control filter" ng-model="CasesFilter.AssignedToName" ng-change="GetCases(false)" ng-options="user.DisplayName as user.DisplayName for user in UsersList">
                            <option value="">All</option>
                        </select>
                    </div>
        <div ng-class="{true: 'col-sm-1', false: 'col-sm-2'}[IsTPA]">
            @*<input type="text" ng-keyup="GetCases(false)" ng-model="CasesFilter.Updated" class="form-control filter" placeholder="Filter" />*@
                    </div>
                    <div class="col-sm-2" ng-show="IsTPA && CurrentEmployer == null">
                        <select ng-model="CasesFilter.Employer" ng-change="GetCases(false)" class="form-control filter" ng-options="lst.Id as lst.Name for lst in EmployerList">
                            <option value="">All</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 list-content-area">
                        <div ng-repeat="case in Cases">
                            <div class="row row-hover">
                                <a ng-click="GetViewCaseUrl(case.Id)" class="row-link">
                                    <div class="col-sm-2" ng-cloak>
                                        <input type="checkbox" class="case-checkbox" ng-click="CancelRedirection($event);" ng-model="reassigncases.Cases[$index].ApplyStatus" />&nbsp;
                                        <span ng-bind="case.EmployeeName"></span>
                                    </div>                                    
                                    <div class="col-sm-2" ng-bind="case.ReasonName"></div>
                                    <div class="col-sm-2" ng-bind="case.CaseNumber"></div>
                                    <div class="col-sm-1" ng-bind="case.Type"></div>
                                    <div class="col-sm-1" ng-bind="case.Status"></div>
                                    <div ng-class="{true: 'col-sm-1', false: 'col-sm-2'}[IsTPA]" ng-bind="case.AssignedToName"></div>
                                    <div ng-class="{true: 'col-sm-1', false: 'col-sm-2'}[IsTPA]" class="text-center" ng-bind-html="case.ModifiedDateText"></div>
                                    <div class="col-sm-2" ng-show="IsTPA && CurrentEmployer == null" ng-cloak>
                                        <label style="max-width:100px !important; font-weight: normal; word-wrap: break-word !important;" ng-bind="case.EmployerName"></label>
                                    </div>
                                </a>
                                @*<div class="popover-custom">
                                        <div class="popover right">
                                            <div class="arrow"></div>
                                            <h3 class="popover-title">Case Preview</h3>
                                            <div class="popover-content">
                                                <p>
                                                    FMLA: Not Approved<br />
                                                    STD: Pending<br />
                                                    Medical: Approved<br />
                                                </p>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-right">
                @*<a class="btn btn-primary" href="@Url.Action("SelectEmployee" , "Cases" )">New Case</a>*@
            </div>
        </div>
    </div>
</div><!--/#cases-->
