﻿@section head {
    <link href="@Url.Content("~/Content/css/select2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/select2-bootstrap.css")" rel="stylesheet" />
}
@model AbsenceSoft.Logic.Pay.CasePayModel
@{
    var theModel = Newtonsoft.Json.JsonConvert.SerializeObject(@Model);
}

<div ng-controller="CasePayCtrl" id="controllerDiv" ng-init="Init(@theModel)" ng-cloak>
    <div class="modal fade" id="confirmationModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirmation Required</h4>
                </div>
                <div class="modal-body">
                    <p ng-bind="ConfirmationMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="Confirmation()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    <form name="frmCasePay" novalidate>

        <div class="row row-offset">
            <div class="col-sm-11">
                <h1>Manage Leave of Absence Pay</h1>
            </div>
            <div class="col-sm-1 pull-right">
                <a href="~/Content/LOA Pay User Guide.pdf" target="_blank" class="align-with-header">User Guide</a>
            </div>
        </div>
        <hr />
        <div class="row row-offset">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2 text-center">
                        <div class="content-section">Case Info</div>
                        <i class="fa fa-info-circle large-side-icons"></i>
                    </div>
                    <div class="col-sm-8 border">
                        <div class="row">
                            <div class="col-sm-3 col-header">Case Number</div>
                            <div class="col-sm-3"><a href="/Cases/{{CaseId}}/view">{{CasePay.CaseNumber}}</a></div>
                            <div class="col-sm-3 col-header">Absence Reason</div>
                            <div class="col-sm-3" ng-bind="CasePay.AbsenceReason"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Requested Leave Dates</div>
                            <div class="col-sm-3">
                                <span ng-bind="CasePay.StartDate | ISODateToDate | date:'MM/dd/yyyy'"></span> - <span ng-bind="CasePay.EndDate | ISODateToDate | date:'MM/dd/yyyy'"></span>
                            </div>
                            <div class="col-sm-3 col-header">Employee</div>
                            <div class="col-sm-3" ng-bind="CasePay.EmployeeName"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Approval Dates</div>
                            <div class="col-sm-3">
                                <span ng-bind="CasePay.ApprovedFrom | ISODateToDate | date:'MM/dd/yyyy'"></span><span ng-show="CasePay.ApprovedFrom && CasePay.ApprovedThru"> - </span><span ng-bind="CasePay.ApprovedThru | ISODateToDate | date:'MM/dd/yyyy'"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-2 text-center">
                        <div class="content-section">Pay Summary</div>
                        <i class="fa fa-briefcase large-side-icons"></i>
                    </div>
                    <div class="col-sm-8 border">
                        <div class="row">
                            <div class="col-sm-3 col-header">Current Pay Schedule</div>
                            <div class="col-sm-3">
                                <a href="#" ng-bind="CasePay.PayScheduleName" ng-click="EditPaySchedule = !EditPaySchedule"></a>
                            </div>
                            <div class="col-sm-4 col-header">Scheduled Hours Per Week</div>
                            <div class="col-sm-2" ng-bind="CasePay.ScheduledHoursPerWeek"></div>
                        </div>
                        <div class="row" ng-show="EditPaySchedule">
                            <div class="col-sm-3 col-header">New Pay Schedule</div>
                            <div class="col-sm-3">
                                <select name="PaySchedule" ng-model="CasePay.PayScheduleId" class="form-control" ng-options="lst.Id as lst.Name for lst in PaySchedules"></select>
                            </div>
                            <div class="col-sm-4">
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-primary" ng-click="SaveEditPaySchedule()">Save</button>
                                    <button type="button" class="btn btn-secondary" ng-click="EditPaySchedule = !EditPaySchedule">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-header">Current Base Pay</div>
                            <div class="col-sm-3">
                                <a href="#" ng-bind="CasePay.BasePayDisplay" ng-click="EditBasePay()"></a>
                            </div>
                            <div class="col-sm-4 col-header">Total Paid This Claim</div>
                            <div class="col-sm-2" ng-bind="CasePay.TotalPaid | currency"></div>
                        </div>
                        <div class="row" ng-form="UpdateBasePay" ng-show="ShowEditBasePay">
                            <div class="col-sm-3 col-header">New Base Pay</div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control input-sm" ng-model="CasePay.BasePay" required />
                            </div>
                            <div class="col-sm-4">
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-primary" ng-click="SaveEditBasePay()">Save</button>
                                    <button type="button" class="btn btn-secondary" ng-click="CancelEditBasePay()">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="ShowWaiveWaitingPeriod">
                            <div class="col-sm-4 col-header">Waive Waiting Period</div>
                            <div class="col-sm-3 field-input">
                                <div class="btn-group group-2" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : CasePay.WaiveWaitingPeriod }" ng-click="SetWaiveWaitingPeriod(true)">
                                        <input type="radio" name="WaiveWaitingPeriod" ng-model="CasePay.WaiveWaitingPeriod" value="true" ng-required="true" />
                                        Yes
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : !CasePay.WaiveWaitingPeriod}" ng-click="SetWaiveWaitingPeriod(false)">
                                        <input type="radio" name="ToggleWaiveWaitingPeriod()" ng-model="CasePay.WaiveWaitingPeriod" value="false" ng-required="true" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="CasePay.Policies.length > 1">
                            <div class="col-sm-4 col-header">Apply Offset to All Pay Periods</div>
                            <div class="col-sm-3 field-input">
                                <div class="btn-group group-2" data-toggle="buttons">
                                    <label class="btn btn-info" ng-class="{ 'active' : CasePay.ApplyOffsetsByDefault }" ng-click="ChangeApplyOffsetsByDefault(true)">
                                        <input type="radio" name="ApplyOffsetByDefault" ng-model="CasePay.ApplyOffsetsByDefault" value="true" ng-required="true" />
                                        Yes
                                    </label>
                                    <label class="btn btn-info" ng-class="{ 'active' : !CasePay.ApplyOffsetsByDefault}" ng-click="ChangeApplyOffsetsByDefault(false)">
                                        <input type="radio" name="ApplyOffsetByDefault" ng-model="CasePay.ApplyOffsetsByDefault" value="false" ng-required="true" />
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">&nbsp;</div>
                        <div class="panel-group">
                            <div class="policy" ng-repeat="policy in CasePay.Policies">
                                <div class="panel panel-default">
                                    <div class="panel panel-heading" ng-click="policy.ShowDetail = !policy.ShowDetail">
                                        <div class="row">
                                            <div class="col-sm-2 col-header">Policy:</div>
                                            <div class="col-sm-4" ng-bind="policy.PolicyName"></div>
                                            <div class="col-sm-4 col-header">Paid This Claim</div>
                                            <div class="col-sm-2" ng-bind="policy.TotalPaid | currency"></div>
                                        </div>
                                    </div>
                                    <div class="panel-body" ng-show="policy.ShowDetail">
                                        <div class="row">
                                            <div class="col-sm-4 col-header">Current Benefit %</div>
                                            <div class="col-sm-2"><a href="#" ng-click="EditBenefitPercentage(policy)"><span ng-bind="policy.BenefitPercentage"></span>%</a></div>
                                            <div class="col-sm-4 col-header">Total Paid Previous 52 Weeks</div>
                                            <div class="col-sm-2" ng-bind="policy.TotalPaidLast52Weeks | currency"></div>
                                        </div>
                                        <div class="row" ng-show="policy.EditBenefitPercentage">
                                            <div class="col-sm-4 col-header">New Benefit %</div>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control input-sm" ng-model="policy.BenefitPercentage" />
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="btn-group btn-group-sm">
                                                    <button type="button" class="btn btn-primary" ng-click="SaveEditPolicyBenefitPercentage(policy)">Save</button>
                                                    <button type="button" class="btn btn-secondary" ng-click="CancelEditPolicyBenefitPercentage(policy)">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-header">Max Pay Per Pay Period</div>
                                            <div class="col-sm-2" ng-bind="policy.MaxBenefitAmount | currency"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="content-section">Pay Detail</div>
                        <div class="btn-icon-notes"></div>
                    </div>
                    <div class="col-sm-8 border">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Submit To Payroll</th>
                                    <th>Pay Date</th>
                                    <th>Pay From</th>
                                    <th>Pay To</th>
                                    <th>Percentage</th>
                                    <th ng-show="CasePay.Policies.length > 1">Offset</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="payPeriod in CasePay.PayPeriods">
                                <tr ng-click="payPeriod.ShowDetail = !payPeriod.ShowDetail">
                                    <td>
                                        <span class="glyphicon glyphicon-flag" ng-show="payPeriod.HasUserOverride"></span>
                                        <span class="glyphicon glyphicon-chevron-down" ng-show="!payPeriod.ShowDetail && payPeriod.Detail.length > 0"></span>
                                        <span class="glyphicon glyphicon-chevron-up" ng-show="payPeriod.ShowDetail && payPeriod.Detail.length > 0"></span>
                                    </td>
                                    @*Stupid angular doesn't allow & or | operator*@
                                    <td>
                                        <div class="btn-group" ng-show="payPeriod.Status == 0">
                                            <button type="button" class="btn btn-primary" ng-click="SubmitToPayroll(payPeriod, $event)">Yes</button>
                                            <button type="button" class="btn btn-primary" ng-click="SubmitToException(payPeriod, $event)">No</button>
                                        </div>
                                        <div ng-hide="payPeriod.PayrollStatus == 0">
                                            <span ng-bind="payPeriod.Status == 1 ? 'Excluded' : payPeriod.Status == 2 ? 'Submitted' : ''"></span>
                                        </div>
                                    </td>
                                    <td >
                                        <a ng-show="$index == (CasePay.PayPeriods.length - 1)" href="" ng-click="EditPayPeriodPayDate(payPeriod, $event)"><span ng-bind="payPeriod.PayDate | ISODateToDate | date:'MM/dd/yyyy'"></span></a>
                                        <span ng-show="$index != (CasePay.PayPeriods.length - 1)" ng-bind="payPeriod.PayDate | ISODateToDate | date:'MM/dd/yyyy'"></span>
                                    </td>
                                    <td ng-bind="payPeriod.PayFrom | ISODateToDate | date:'MM/dd/yyyy'"></td>
                                    <td>
                                        <a ng-show="$index == (CasePay.PayPeriods.length - 1)" href="" ng-click="EditPayPeriodEndDate(payPeriod, $event)"><span ng-bind="payPeriod.PayThru | ISODateToDate | date:'MM/dd/yyyy'"></span></a>
                                        <span ng-show="$index != (CasePay.PayPeriods.length - 1)" ng-bind="payPeriod.PayThru | ISODateToDate | date:'MM/dd/yyyy'"></span>
                                    </td>
                                    <td></td>
                                    <td ng-show="CasePay.Policies.length > 1"></td>
                                    <td><strong ng-bind="payPeriod.Amount| currency"></strong></td>
                                </tr>                                
                                <tr ng-repeat="detailRow in payPeriod.Detail" ng-show="payPeriod.ShowDetail">
                                    <td colspan="3" >
                                        <span class="glyphicon glyphicon-flag" ng-show="detailRow.HasUserOverride"></span>
                                        <span ng-bind="detailRow.PolicyName"></span>
                                    </td>
                                    <td ng-bind="detailRow.PayFrom | ISODateToDate | date:'MM/dd/yyyy'"></td>
                                    <td ng-bind="detailRow.PayThru | ISODateToDate | date:'MM/dd/yyyy'"></td>
                                    <td>
                                        <a ng-show="payPeriod.Status == 0" href="#" ng-click="EditDetailPaymentPercentage(detailRow, payPeriod)"><span ng-bind="detailRow.BenefitPercentage"></span>%</a>
                                        <span ng-hide="payPeriod.Status == 0"><span ng-bind="detailRow.BenefitPercentage"></span>%</span>
                                    </td>
                                    <td ng-show="CasePay.Policies.length > 1">
                                        <div ng-show="detailRow.AllowOffset && !CasePay.ApplyOffsetsByDefault">
                                            <div class="btn-group group-2" data-toggle="buttons">
                                                <label class="btn btn-info" ng-class="{ 'active' : detailRow.IsOffset }" ng-click="ChangeDetailIsOffset(detailRow, true)">
                                                    <input type="radio" name="IsOffset" ng-model="detailRow.IsOffset" value="true" ng-required="true" />
                                                    Yes
                                                </label>
                                                <label class="btn btn-info" ng-class="{ 'active' : !detailRow.IsOffset}" ng-click="ChangeDetailIsOffset(detailRow, false)">
                                                    <input type="radio" name="IsOffset" ng-model="detailRow.IsOffset" value="false" ng-required="true" />
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a ng-show="payPeriod.Status == 0" href="#" ng-class="{'is-offset': detailRow.IsOffset}" ng-click="EditDetailPaymentAmount(detailRow, payPeriod)"><strong ng-bind="detailRow.TotalPaid | currency"></strong></a>
                                        <strong ng-hide="payPeriod.Status == 0" ng-bind="detailRow.TotalPaid | currency"></strong>
                                    </td>
                                </tr>
                                <tr ng-show="payPeriod.ShowEditEndDate">
                                    <td ng-show="CasePay.Policies.length > 1" colspan="5">
                                        New End Date
                                    </td>
                                    <td ng-show="CasePay.Policies.length <= 1" colspan="4">
                                        New End Date
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="PayPeriodEndDate" name="PayPeriodEndDate" type="text" class="form-control" show-weeks="false" placeholder="mm/dd/yyyy" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="payPeriod.PayThru" required />
                                            <label for="PayPeriodEndDate" class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-primary" ng-click="SaveEditPayPeriodEndDate()">Save</button>
                                            <button type="button" class="btn btn-secondary" ng-click="HideLineItemEdit()">Cancel</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="payPeriod.ShowEditPayDate">
                                    <td ng-show="CasePay.Policies.length > 1" colspan="5">
                                        New Pay Date
                                    </td>
                                    <td ng-show="CasePay.Policies.length <= 1" colspan="4">
                                        New Pay Date
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input id="PayPeriodPayDate" name="PayPeriodPayDate" type="text" class="form-control" show-weeks="false" placeholder="mm/dd/yyyy" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" ng-model="payPeriod.PayDate" required />
                                            <label for="PayPeriodPayDate" class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </label>
                                        </div>
                                    </td>
                                    <td colspan="2">
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-primary" ng-click="SaveEditPayPeriodPayDate()">Save</button>
                                            <button type="button" class="btn btn-secondary" ng-click="HideLineItemEdit()">Cancel</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="payPeriod.ShowEditPaymentPercentage">
                                    <td ng-show="CasePay.Policies.length > 1" colspan="5">
                                        New Payment Percentage
                                    </td>
                                    <td ng-show="CasePay.Policies.length <= 1" colspan="4">
                                        New Payment Percentage
                                    </td>
                                    <td><input type="text" ng-model="DetailRow.BenefitPercentage" /></td>
                                    <td colspan="2">
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-primary" ng-click="SaveEditPaymentPercentage()">Save</button>
                                            <button type="button" class="btn btn-secondary" ng-click="HideLineItemEdit()">Cancel</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="payPeriod.ShowEditPaymentAmount">
                                    <td ng-show="CasePay.Policies.length > 1" colspan="5">
                                        New Payment Amount
                                    </td>
                                    <td ng-show="CasePay.Policies.length <= 1" colspan="4">
                                        New Payment Amount
                                    </td>
                                    <td><input type="text" ng-model="DetailRow.TotalPaid" /></td>
                                    <td colspan="2">
                                        <div class="btn-group btn-group-sm">
                                            <button type="button" class="btn btn-primary" ng-click="SaveEditPaymentAmount()">Save</button>
                                            <button type="button" class="btn btn-secondary" ng-click="HideLineItemEdit()">Cancel</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>

    </form>

    <div class="row pull-center">
        <div class="col-sm-12">
            <button type="button" class="btn btn-link" ng-click="GoToCase()">Back to Case</button>
        </div>
    </div>


</div>
