﻿@*<div class="row row-offset">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2">
                <div class="content-section">Select Employee</div>
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <a class="btn btn-primary" href="@Url.Action("Create","Employees")">New Employee</a>
                    </div>
                </div>
                <div class="row row-header row-offset">
                    <div class="col-sm-3">
                        Name
                    </div>
                    <div class="col-sm-3">
                        Employee ID
                    </div>
                    <div class="col-sm-3">
                        Hire Date
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control filter" value="Filter" id="ln" />
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control filter" value="Filter" id="fn" />
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control filter" value="Filter" id="eeid" />
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Elbert, Jerry
                        </div>
                        <div class="col-sm-3">
                            005248
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 239889 - Employee Health Condition</a><br />
                                    <span class="font-size-small">Employee has migranes.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-hover">
                    <a class="temporary-link" href="@Url.Action("View","Employees")">
                        <div class="col-sm-3">
                            Hampden, Mary
                        </div>
                        <div class="col-sm-3">
                            007778
                        </div>
                        <div class="col-sm-3">
                            12/10/10
                        </div>
                    </a>
                    <div class="popover-custom">
                        <div class="popover right">
                            <div class="arrow"></div>
						<h3 class="popover-title">Cases</h3>
                            <div class="popover-content">
                            	<a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                <p>
                                    <a href="@Url.Action("View" , "Cases" )">ID 584591 - Family Health Condition</a><br />
                                    <span class="font-size-small">Employee's son broke arm.</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary" href="@Url.Action("Create" , "Employees" )">New Employee</a>
            </div>
        </div>
    </div>
</div>*@



<div class="row row-offset">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2 content-section">
                    Select Employee
                </div>
                <div class="col-sm-8 border">
                    <div class="row row-header">
                        <div class="col-sm-12">
                            Select existing employee
                        </div>
                    </div>
                    <div class="row row-header">
                        <div class="col-sm-3">
                            Name
                        </div>
                        <div class="col-sm-2">
                            ID
                        </div>
                        <div class="col-sm-4">
                            Open Cases
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input class="form-control filter" value="Filter" />
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control filter" value="Filter" />
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control filter" value="Filter" />
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control filter">
                                <option>Filter</option>
                                <option>
                                    Open
                                </option>
                                <option>
                                    Closed
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row scroll">
                        <div class="col-sm-12">
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Elbert, Jerry
                                    </div>
                                    <div class="col-sm-2">
                                        005248
                                    </div>
                                    <div class="col-sm-4">
                                        None
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="@Url.Action("View" , "Cases" )" class="btn btn-primary btn-hover">New Case</a>
                                    </div>
                                </a>
                            </div>
                            <div class="row row-hover">
                                <a class="temporary-link" href="@Url.Action("View","Employees")">
                                    <div class="col-sm-3">
                                        Hampden, Mary
                                    </div>
                                    <div class="col-sm-2">
                                        007778
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="@Url.Action("View" , "Cases" )">#445636 Family Medical Condition</a>
                                        <br />
                                        <a href="@Url.Action("View" , "Cases" )">
                                            #908709 Workers Compensation
                                        </a>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-primary btn-hover">New Case</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-offset">
        <div class="col-sm-2">
            <div class="content-section">Create New Employee</div>
        </div>
        <div class="col-sm-8">
            OR...
            <br />
            <br />
            <a class="btn btn-primary" href="@Url.RouteUrl("CreateEmployee")">New Employee</a>
        </div>
    </div>

