﻿@{
    var isInquiry = ViewBag.Status == "Inquiry";

    ViewBag.Title = (isInquiry ? "Inquiry" : "Case") + " Workflows";
}

@Html.Action("ParentCaseInfo", "Cases", new { caseId = ViewBag.CaseId, status = ViewBag.Status })
<div ng-controller="ViewCaseWorkflowsCtrl" ng-init="InitViewCaseWorkflows('@ViewBag.CaseId', '@ViewBag.CustomerId', '@ViewBag.EmployerId')">
    <div class="row">
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content-section">@(isInquiry ? "Inquiry" : "Case") Workflows</div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="row row-offset">
                <div class="col-sm-12">
                    <div class="row row-header top-row-style" >
                        <div class="col-sm-3" ng-click="UpdateWorkflowSort('WorkflowName')">
                            <span>Name</span>
                            <div class="sort" ng-show="CaseWorkflowCriteria.SortExpression == 'WorkflowName'">
                                <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CaseWorkflowCriteria.SortDir == 'asc']"></span>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-click="UpdateWorkflowSort('EventType')">
                            <span>Event Type</span>
                            <div class="sort" ng-show="CaseWorkflowCriteria.SortExpression == 'EventType'">
                                <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CaseWorkflowCriteria.SortDir == 'asc']"></span>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-click="UpdateWorkflowSort('ModifiedDate')">
                            <span>Changed Date</span>
                            <div class="sort" ng-show="CaseWorkflowCriteria.SortExpression == 'ModifiedDate'">
                                <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CaseWorkflowCriteria.SortDir == 'asc']"></span>
                            </div>
                        </div>
                        <div class="col-sm-3" ng-click="UpdateWorkflowSort('Status')">
                            <span>Status</span>
                            <div class="sort" ng-show="CaseWorkflowCriteria.SortExpression == 'Status'">
                                <span ng-class="{true: 'glyphicon glyphicon-chevron-up', false: 'glyphicon glyphicon-chevron-down'}[CaseWorkflowCriteria.SortDir == 'asc']"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row row-filter bottom-row-style">
                        <div class="col-sm-3">
                            <input ng-model="CaseWorkflowCriteria.WorkflowName" ng-keyup="FilterWorkflows()" type="text" class="form-control filter" placeholder="Workflow Name Filter" />
                        </div>
                        <div class="col-sm-3">
                            <select ng-model="CaseWorkflowCriteria.EventType" ng-change="FilterWorkflows()" class="form-control filter">
                                <option value="">Select an Event Type</option>
                                @foreach (var field in Enum.GetValues(typeof(AbsenceSoft.Data.Workflows.EventType)))
                                {
                                    <option value="@((int)field)">@field.ToString().SplitCamelCaseString()</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <div class="field-input input-group date">
                                <input type="text" id="NoteFilterDate" name="NoteFilterDate" class="form-control input-sm filter" ng-model="CaseWorkflowCriteria.ModifiedDate"
                                       datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="Modified Date" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <select ng-model="CaseWorkflowCriteria.Status" ng-change="FilterWorkflows()" class="form-control filter">
                                <option value="">Select a Status</option>
                                @foreach (var field in Enum.GetValues(typeof(AbsenceSoft.Data.Workflows.WorkflowInstanceStatus)))
                                {
                                    <option value="@((int)field)">@field.ToString().SplitCamelCaseString()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row white-attach-box">
                        <div class="col-sm-12 note" ng-repeat="workflow in Workflows">
                            <div class="row row-hover">
                                <div>
                                    <div class="col-sm-3" ng-bind="workflow.WorkflowName"></div>
                                    <div class="col-sm-3" ng-bind="workflow.EventType"></div>
                                    <div class="col-sm-3" ng-bind="workflow.ModifiedDate | ISODateToDate | date: 'MM/dd/yyyy'"></div>
                                    <div class="col-sm-2" ng-bind="workflow.Status" ></div>
                                    <div class="col-sm-1">
                                        <span class="glyphicon glyphicon-pause" ng-show="workflow.Status == 'Running'" ng-click="PauseWorkflow(workflow)" has-permission="EditCaseWorkflows"></span>
                                        <span class="glyphicon glyphicon-play" ng-show="workflow.Status == 'Paused'" ng-click="ResumeWorkflow(workflow, 1)" has-permission="EditCaseWorkflows"></span>
                                        <span class="glyphicon glyphicon-stop" ng-show="workflow.Status != 'Pending' && workflow.Status !='Completed' && workflow.Status != 'Canceled' && workflow.Status != 'Failed'" ng-click="CancelWorkflow(workflow)" has-permission="EditCaseWorkflows"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-offset" has-permission="StartCaseWorkflows">
                <div class="col-sm-2 col-header">
                    New Workflow
                </div>
                <div class="col-sm-4">
                    <select class="form-control input-sm" ng-model="NewWorkflow" ng-options="workflow.Name for workflow in CustomerWorkflows">
                        <option value="">Select a Workflow</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-primary" ng-click="GetWorkflowCriteria()" ng-disabled="!NewWorkflow">Start Workflow</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="criteriaModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Workflow Criteria</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 row-header">
                            Start workflow <span ng-bind="NewWorkflow.Name"></span><span ng-show="WorkflowCriteria.length = 0"> with the following parameters</span>
                        </div>
                    </div>
                    <form name="frmWorkflowCriteria">
                        <div class="row" ng-repeat="criteria in WorkflowCriteria">
                            <div employee-custom-field thefield="criteria" theform="'frmWorkflowCriteria'" submitted="submitted"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="StartWorkflow()">Confirm Workflow Start</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
