﻿@model AbsenceSoft.Models.Cases.ViewCaseModel

<div class="row row-offset" ng-show="CaseInfo.Case.Status != 4" has-permission="ViewWorkRestrictionDetail">
@if (Model.WorkRestrictionFeatureEnabled)
{
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-2 text-center">
                <div class="content-section">Work Restrictions</div>
                <i class="fa fa-book large-side-icons"></i>
            </div>
            <div class="col-sm-8 border" id="workRestrictionsDisplay">
                <div id="addEditWorkRestriction"></div>
                <!-- #region Work Restrictions -->
                <div class="">
                    @if (Model.WorkRestrictions == null || Model.WorkRestrictions.Count() == 0)
                    {
                        <p>No Work Restrictions On Record</p>                 
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-sm-3">Work Restriction</div>
                            <div class="col-sm-5">Demands</div>
                            <div class="col-sm-4">Duration</div>
                        </div>
                        foreach (var workRestriction in Model.WorkRestrictions)
                        {
                            <div class="wr-container">
                                @Html.DisplayFor(m => workRestriction, new { Status = Model.CaseStatus })
                            </div>
                        }
                    }
                    <hr />       
                </div>
                
                <!-- #endregion -->


                <!-- #region Employee Necessities -->
                <div class="">
                    @if (Model.EmployeeNecessities == null || !Model.EmployeeNecessities.Any())
                    {
                        <p>No Known Employee Necessities</p>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-sm-3">Necessity</div>
                            <div class="col-sm-5">Limitation</div>
                            <div class="col-sm-4">Duration</div>
                          
                        </div>
                     
                        foreach (var necessity in Model.EmployeeNecessities)
                        {
                            string modalId = string.Format("{0}Id", necessity.Id);
                            <div class="modal fade" tabindex="-1" role="dialog" id="@modalId">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Confirm Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete the "@necessity.Name" @necessity.Type.ToString().SplitCamelCaseString() necessity from this case?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            @Ajax.RouteLink("Delete", "DeleteEmployeeNecessity", new { caseId = Model.Id, employeeNecessityId = necessity.Id }, new AjaxOptions()
                                           {
                                               HttpMethod = "DELETE"
                                           }, new { @class = "btn btn-danger" })
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                            <div class="wr-returns">
                                <div class="row">
                                    <div class="col-sm-3">@necessity.Name</div>

                                    <div class="col-sm-5 wre-inputs">
                                        @if (!string.IsNullOrWhiteSpace(necessity.Description) && !necessity.Name.Equals(necessity.Description, StringComparison.InvariantCultureIgnoreCase))
                                                        {
                                                            <div class="row">
                                                                <div class="col-sm-3 col-header">@necessity.Type.ToString().SplitCamelCaseString()</div>
                                                                <div class="col-sm-7">@necessity.Description</div>
                                                            </div>
                                                        }
                                    </div>
                                    <div class="col-sm-4">
                                        @necessity.Dates
                                        <div class="btn-right-corner">
                                            <button tooltip="Edit Employee Necessity" href="@Url.RouteUrl("EmployeeNecessity", new { caseId = Model.Id, employeeNecessityId = necessity.Id })"  class="btn btn-sm btn-default btn-edit btn-small-icon edit-employee-necessity" has-permission="EditEmployeeNecessity"><span class="glyphicon glyphicon-pencil"></span></button>
                                            <button tooltip="Delete Employee Necessity" class="btn btn-sm btn-default btn-edit btn-small-icon" data-toggle="modal" data-target="#@modalId" has-permission="DeleteEmployeeNecessity"><span class="glyphicon glyphicon-remove" data-backdrop="static" data-keyboard="false"></span></button>
                                        </div>
                                </div>
                            
                            </div>
                            </div>
   
    }
    }
    <hr />
</div>
                <div id="addEditEmployeeNecessity"></div>
                <!-- #endregion -->
                
                 <!-- #region Job(s) Assignment -->
                <div class="col-sm-12">
                    @Html.Partial("WorkRestrictionEmployeeJob", Model.EmployeeJob)
                </div>
                <!-- #endregion -->

            </div>
            <div class="col-sm-2 col-right">
                @if (Model.CaseStatus != CaseStatus.Cancelled && Model.CaseStatus != CaseStatus.Closed)
                {
                    <a href="@Url.RouteUrl("WorkRestriction", new {caseId = Model.Id})" id="addWorkRestriction" class="btn btn-primary" has-permission="AddWorkRestrictionDetail">Add Restriction</a>
                    @* COMMENT THIS OUT FOR NOW, UNTIL FIXED - Fixed on 8/17/2016 *@
                    <a href="@Url.RouteUrl("WorkRestrictionEntry", new {caseId = Model.Id})" class="btn btn-primary" has-permission="AddWorkRestrictionDetail">Restriction Entry</a>
                    if (Customer.Current.HasFeature(Feature.JSA))
                    {
                        <a href="@Url.RouteUrl("JobAssignment", new {employeeId = Model.EmployeeId, caseId = Model.Id})" class="btn btn-primary" has-permission="JobAssignment">Job Assessment</a>
                    }
                    <a href="@Url.RouteUrl("EmployeeNecessity", new {caseId = Model.Id})" id="addEmployeeNecessity" class="btn btn-primary" has-permission="AddEmployeeNecessity">Add Necessity</a>
                }
            </div>
        </div>
    </div>
}
</div>

