﻿@{
    ViewBag.Title = "WorkRelated";
}
@model AbsenceSoft.Models.Cases.WorkRelatedViewModel

<div class="pull-right">
    <a class="btn return-btn" href="@Url.RouteUrl("ViewCase")"><i class="fa fa-long-arrow-left"></i> Return to Case</a>
</div>

@using (Html.BeginForm(null,null,FormMethod.Post, new { @id = "frmWorkRelatedInfo"}))
{
    @Html.EditorFor(m => m)
    <div class="row">
        <div class="col-sm-12">
            <div class="center-block pull-center">
                <div class="btn-block">
                    <a class="btn btn-default btn-secondary" href="@Url.RouteUrl("ViewCase")">Cancel</a>
                    <button type="submit" class="btn btn-default btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
}