﻿@model AbsenceSoft.Models.Employees.EmployeeJobViewModel

@using (Ajax.BeginRouteForm("SetJobStatus", null, new AjaxOptions() { HttpMethod = "POST",
    UpdateTargetId = "editEmployeeJobForm", OnSuccess = "AbsenceSoft.EmployeeJob.Init('#editEmployeeJobForm')",
    InsertionMode = InsertionMode.ReplaceWith }, new { id = "editEmployeeJobForm" }))
{
    @Html.AntiForgeryToken()

       <div id="editEmployeeJob">
        <div class="row">
            <div class="col-sm-12">
              @Html.DisplayFor(m => m, "EmployeeJob")
            </div>
        </div>
        @if (Model != null && Model.IHazJob && CurrentUserHasPermission(Permission.JobAssignment))
        {
            <div class="row">
                <div class="col-sm-12">
                    @Html.EditorFor(m => m.Status)
                </div>
            </div>
        }
        
    </div>
    if (Model != null && Model.IHazJob && CurrentUserHasPermission(Permission.JobAssignment))
           
    {
        <div class="row" >
            <div class="col-sm-12">
                <button id="submitEditJobStatus" type="submit" class="btn btn-primary btn-centered">Save Job Status</button>
            </div>
        </div>
    }

}
