﻿@model AbsenceSoft.Models.Organization.OrganizationTypeViewModel

@{
    ViewBag.Title = "Edit Organization Type";
}

@using (Ajax.BeginRouteForm("OrganizationTypeSave", new { employerId = Employer.CurrentId }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "editOrganizationTypeForm", OnSuccess = "AbsenceSoft.PageStart('#editOrganizationTypeForm')" }, new { id = "editOrganizationTypeForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Organization Types of <span class="customer-name">@Customer.Current.Name</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink("Cancel", "OrganizationTypeList", new { employerId = Employer.Current.Id }, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.EmployerId)
                    @Html.ValidationSummary(true, "Unable to save the organization type.  Please see the validation errors below.")
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Code)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Description)
                        </div>
                    </div>
                    <div class="row pull-center">
                        <input type="submit" value="Save Organization Type" class="btn btn-primary" />
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            @Ajax.RouteLink("Delete", "DeleteOrganizationType", new { employerId = Employer.Current.Id, organizationId = Model.Id }, new AjaxOptions()
                   {
                       HttpMethod = "DELETE"
                   }, new { @class = "btn btn-danger" })
                        }
                        @Html.RouteLink("Cancel", "OrganizationTypeList", new { employerId = Employer.Current.Id }, new { @class = "btn btn-link" })
                    </div>
                </div>
            </div>
        </div>
    </div>




}

