﻿<!-- #region model/init -->
@model AbsenceSoft.Models.Todos.EnterWorkRestrictionsViewModel
@{
    ViewBag.Title = "Enter Work Restrictions - AbsenceTracker";
}
<!-- #endregion -->
<!-- #region page content -->
<div>
    <!-- #region page header/title section & actions -->
    <div class="row">
        <div class="col-xs-2">
            <a class="btn return-btn" onclick="window.location.href = '@Url.Action("ViewCase", "Cases", new { caseId = Model.CaseId })'"><i class="fa fa-long-arrow-left"></i> Return to @(Model.CaseIsInquiry ? "Inquiry" : "Case")</a>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-5">
                    <span class="col-header pr-topbar-header">Employee:</span> <span class="pr-topbar-field">@Model.EmployeeFirstName @Model.EmployeeLastName</span>
                </div>
                <div class="col-xs-7">
                    <span class="col-header pr-topbar-header">@(Model.CaseIsInquiry ? "Inquiry" : "Case"):</span> @Html.ActionLink(Model.CaseTitle, "ViewCase", "Cases", new { caseId = Model.CaseId }, new { @class = "pr-topbar-field" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <span class="col-header pr-topbar-header">Assigned To:</span> <span class="pr-topbar-field">@Model.AssignedTo</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pr-header">
            <h1>@(Model.Title ?? "Enter Work Restrictions") <span class="pull-right">Due Date: @Model.DueDateText</span></h1>
            <p>
                Use the form below to enter work restrictions for this employee's case. Once complete click <em>Save Work Restrictions</em> which will save the work restrictions and complete this ToDo, returning you to the View Case page. If you do not wish to enter
                work restrictions for this case at this time, <em>Return to Case</em> or to cancel this ToDo, click <em>Cancel This ToDo</em>.
            </p>
        </div>
        <div id="paperwork-review-actions">
            @if (Model.Status == 3)
            {
                <div class="col-sm-12">
                    <span class="col-header"> @Html.DisplayFor(m => Model.Title) was cancelled @Html.DisplayFor(m => Model.CreatedDate) </span>
                </div>
                <div class="col-sm-12">
                    Cancelled By: @Html.DisplayFor(m => Model.ModifiedBy)
                </div>
                <div class="col-sm-12">
                    Reason: @Html.DisplayFor(m => Model.CancelReason)
                </div>
            }
            <div class="row center pr-buttonbar">
                <div class="col-xs-12 pr-buttons">
                    <a class="btn btn-sm btn-primary" href="@Url.Action("ViewCase", "Cases", new { caseId = Model.CaseId })">Return To Case</a>

                    @if (Model.Status != 3)
                    {
                        <button type="button" class="btn btn-sm btn-danger" id="cancelThisToDo" name="cancelThisToDo">Cancel This ToDo</button>
                    }
                </div>
            </div>
        </div>
        @Html.Partial("_CancelToDo", Model)
    </div>
    <!-- #endregion -->
    <!-- #region form -->
    <div id="workrestrictions-entry-form-section">
        @Html.Action("WorkRestrictionEntry", "Demand", new { caseId = Model.CaseId, todoItemId = Model.Id })
    </div>
    <!-- #endregion -->
</div>
<!-- #endregion -->
