﻿<div class="form-group" ng-repeat="q in currentQuestionSet">
    <div ng-if="!q.ui.isHidden">
        <div ng-switch="q.QuestionType">

            <!--PickOneOfFew-->
            <div ng-switch-when="PickOneOfFew">

                <div button-group
                     button-items="q.Answers"
                     caption="q.Question"
                     ng-required="q.ui.isRequired"
                     help-text="q.HelpText"
                     ng-click="ui.answerChanged(q)"
                     ng-model="q.Answer" />

                <div ng-messages="this[q.Id].$error">
                    <div ng-message="required">This field is required</div>
                </div>
                <div class="help-text">{{q.HelpText}}</div>

            </div>

            <!--Default - Free Text-->
            <div ng-switch-default>
                <label style="white-space: pre-line">{{q.Question}}</label>
                <input class="form-control"
                       ng-model="q.Answer"
                       ng-required="q.Required"
                       name="{{q.Id}}" />
                <div ng-messages="this[q.Id].$error">
                    <div ng-message="required">This field is required</div>
                </div>
                <div class="help-text">{{q.HelpText}}</div>
            </div>

        </div>
    </div>
</div>