﻿@model AbsenceSoft.SelfService.Models.Request.RequestViewModel

<div class="row">
    <div class="col-md-6 col-xs-12 form-group">
        @Html.LabelFor(m => m.PersonalInfo.FirstName)
        @Html.TextBoxFor(m => m.PersonalInfo.FirstName, new { @class = "form-control first-name disabled", disabled="" })
        @Html.ValidationMessageFor(m => m.PersonalInfo.FirstName, null, new { @class = "errShow" })
    </div>
    <div class="col-md-6 col-xs-12 form-group">
        @Html.LabelFor(m => m.PersonalInfo.LastName)
        @Html.TextBoxFor(m => m.PersonalInfo.LastName, new { @class = "form-control last-name disabled", disabled="" })
        @Html.ValidationMessageFor(m => m.PersonalInfo.LastName, null, new { @class = "errShow" })
    </div>
</div>
<div class="row">
    <div class="col-md-9 col-xs-12 form-group">
        @Html.LabelFor(m => m.PersonalInfo.EmailAddress)
        @Html.TextBoxFor(m => m.PersonalInfo.EmailAddress, new { @class = "form-control email disabled", disabled="" })
        @Html.ValidationMessageFor(m => m.PersonalInfo.EmailAddress, null, new { @class = "errShow" })
    </div>
    <div class="col-md-3 col-xs-12 form-group">
        @Html.LabelFor(m => m.PersonalInfo.PhoneNumber)
        @Html.TextBoxFor(m => m.PersonalInfo.PhoneNumber, new { @class = "form-control phone disabled", disabled="" })
        @Html.ValidationMessageFor(m => m.PersonalInfo.PhoneNumber, null, new { @class = "errShow" })
    </div>
</div>