﻿@model AbsenceSoft.SelfService.Models.Request.RequestViewModel

<h3>Review Personal Info</h3>
<div class="col-lg-8 col-lg-offset-2 col-xs-12 ess-caseinputs">
    <div class="row">
        <div class="col-sm-6 col-xs-12 form-group">
            @Html.LabelFor(m => m.PersonalInfo.FirstName)
            @Html.TextBoxFor(m => m.PersonalInfo.FirstName, new { @class = "form-control first-name disabled", disabled = "" })
            @Html.ValidationMessageFor(m => m.PersonalInfo.FirstName, null, new { @class = "errShow" })
        </div>
        <div class="col-sm-6 col-xs-12 form-group">
            @Html.LabelFor(m => m.PersonalInfo.LastName)
            @Html.TextBoxFor(m => m.PersonalInfo.LastName, new { @class = "form-control last-name disabled", disabled = "" })
            @Html.ValidationMessageFor(m => m.PersonalInfo.LastName, null, new { @class = "errShow" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-xs-12 form-group">
            @Html.LabelFor(m => m.PersonalInfo.EmailAddress)
            @Html.TextBoxFor(m => m.PersonalInfo.EmailAddress, new { @class = "form-control email disabled", disabled = "" })
            @Html.ValidationMessageFor(m => m.PersonalInfo.EmailAddress, null, new { @class = "errShow" })
        </div>
        <div class="col-sm-4 col-xs-12 form-group">
            @Html.LabelFor(m => m.PersonalInfo.PhoneNumber)
            @Html.TextBoxFor(m => m.PersonalInfo.PhoneNumber, new { @class = "form-control phone disabled", disabled = "" })
            @Html.ValidationMessageFor(m => m.PersonalInfo.PhoneNumber, null, new { @class = "errShow" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-xs-12 form-group">
            @Html.LabelFor(m => m.PersonalInfo.Address1)
            @Html.TextBoxFor(m => m.PersonalInfo.Address1, new { @class = "form-control disabled", disabled = "" })
            @Html.ValidationMessageFor(m => m.PersonalInfo.Address1, null, new { @class = "errShow" })
        </div>
        <div class="col-sm-4 col-xs-12 form-group">
            @Html.LabelFor(m => m.PersonalInfo.Address2)
            @Html.TextBoxFor(m => m.PersonalInfo.Address2, new { @class = "form-control disabled", disabled = "" })
            @Html.ValidationMessageFor(m => m.PersonalInfo.Address2, null, new { @class = "errShow" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12 form-group">
            @Html.LabelFor(m => m.PersonalInfo.City)
            @Html.TextBoxFor(m => m.PersonalInfo.City, new { @class = "form-control disabled", disabled = "" })
            @Html.ValidationMessageFor(m => m.PersonalInfo.City, null, new { @class = "errShow" })
        </div>
        <div class="col-sm-4 col-xs-12 form-group">
            @Html.LabelFor(m => m.PersonalInfo.State)
            @Html.StateDropDownListFor(m => m.PersonalInfo.State, new { @class = "form-control disabled", disabled = "" })
            @Html.ValidationMessageFor(m => m.PersonalInfo.State, null, new { @class = "errShow" })
        </div>
        <div class="col-sm-2 col-xs-12 form-group">
            @Html.LabelFor(m => m.PersonalInfo.ZipCode)
            @Html.TextBoxFor(m => m.PersonalInfo.ZipCode, new { @class = "form-control disabled", disabled = "" })
            @Html.ValidationMessageFor(m => m.PersonalInfo.ZipCode, null, new { @class = "errShow" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="ess-personalinfo-warning"><span class="fa fa-info-circle"></span> If you need to update any personal information, please contact your HR administrator.</p>
        </div>
    </div>
    <div class="row alternate-contact-info">
        <div class="col-xs-12">
            <label class="uppercase">
                Do you require alternate contact info for this case? <input type="checkbox" id="requireAlternateContactInfo" />
            </label>
        </div>
    </div>
    <div id="alternateContactInfo" class="collapse alternate-contact-info">
        <h3>Enter Alternate Contact Info</h3>
        <h4 class="white">This information applies to this case only</h4>
        <div class="row">
            <div class="col-sm-8 col-xs-12 form-group">
                @Html.LabelFor(m => m.AlternateInfo.EmailAddress)
                @Html.TextBoxFor(m => m.AlternateInfo.EmailAddress, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.AlternateInfo.EmailAddress, null, new { @class = "errShow" })
            </div>
            <div class="col-sm-4 col-xs-12 form-group">
                @Html.LabelFor(m => m.AlternateInfo.PhoneNumber)
                @Html.TextBoxFor(m => m.AlternateInfo.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AlternateInfo.PhoneNumber, null, new { @class = "errShow" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-xs-12 form-group">
                @Html.LabelFor(m => m.AlternateInfo.Address1)
                @Html.TextBoxFor(m => m.AlternateInfo.Address1, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.AlternateInfo.Address1, null, new { @class = "errShow" })
            </div>
            <div class="col-sm-4 col-xs-12 form-group">
                @Html.LabelFor(m => m.AlternateInfo.Address2)
                @Html.TextBoxFor(m => m.AlternateInfo.Address2, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.AlternateInfo.Address2, null, new { @class = "errShow" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 form-group">
                @Html.LabelFor(m => m.AlternateInfo.City)
                @Html.TextBoxFor(m => m.AlternateInfo.City, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.AlternateInfo.City, null, new { @class = "errShow" })
            </div>
            <div class="col-sm-4 col-xs-12 form-group">
                @Html.LabelFor(m => m.AlternateInfo.State)
                @Html.StateDropDownListFor(m => m.AlternateInfo.State, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.AlternateInfo.State, null, new { @class = "errShow" })
            </div>
            <div class="col-sm-2 col-xs-12 form-group">
                @Html.LabelFor(m => m.AlternateInfo.ZipCode)
                @Html.TextBoxFor(m => m.AlternateInfo.ZipCode, new { @class = "form-control"})
                @Html.ValidationMessageFor(m => m.AlternateInfo.ZipCode, null, new { @class = "errShow" })
            </div>
        </div>
    </div>
</div>