﻿@model IEnumerable<AbsenceSoft.SelfService.Models.Request.AccommodationTypeCategoryViewModel>

<div class="accommodation-type-container">
    <div class="btn-group" data-toggle="buttons">
        @foreach (var category in Model)
        {
            string toggleChildren = null;
            string radioName = null;
            bool required = false;
            if (category.Children != null && category.Children.Count > 0)
            {
                toggleChildren = string.Format("data-toggle=\"collapse\" data-target=\"#{0}Children\"", category.Name.Replace(" ", ""));
                string parentName = category.ParentName;
                if (!string.IsNullOrEmpty(parentName))
                {
                    parentName = parentName.Replace(" ", "");
                }
                radioName = string.Format("{0}AccommodationTypeTree", parentName);
            }
            else
            {
                required = true;
                radioName = "AccommodationTypeId";
            }
            <label class="btn btn-default accommodation-type-categories @if (!string.IsNullOrEmpty(category.AccommodationTypeId)) {<text>accommodation-type</text> } " @if (!string.IsNullOrEmpty(toggleChildren)) { <text> @Html.Raw(toggleChildren) </text>    }>
                @category.Name
                <input type="radio" @if (required) {<text> data-val-required="Reason for Case is Required" </text> } data-val="true" name="@Html.Raw(radioName)" @if (!string.IsNullOrEmpty(category.AccommodationTypeId)) { <text>value = "@category.AccommodationTypeId"</text> }/> 
            </label>
        }
    </div>

    @foreach (var category in Model.Where(c => c.Children != null && c.Children.Count > 0))
    {
        <div class="collapse" id="@string.Format("{0}Children", category.Name.Replace(" ", ""))">
            @Html.Partial("AccommodationTypeCategories", category.Children)
        </div>
    }
</div>