﻿@model AbsenceSoft.SelfService.Models.CaseViewModel

<div class="header uppercase row ess-casehead">
    <div class="col-sm-12">
        @if (Model.IsAccommodation)
        {
            <i class="fa fa-keyboard-o"></i>
            <h1>New Accommodation Request</h1>
        }
        else {
            <span class="fa fa-clock-o"></span>
            <h1>New Leave Request</h1>
        }
    </div>
</div>



<div class="row ess-caseconfirmbg">
    <h3>
        @if (Model.IsAccommodation)
    {
        <text>Accommodation</text>
    }
    else {
        <text>Leave</text>

    }  Request Successfully Submitted <i class="fa fa-check-circle visible-xs" aria-hidden="true"></i>
</h3>

<div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="row">
        <div class="col-xs-12 uppercase">
            <div class="pull-left ess-caselabel">
                Case #
            </div>
            <div class="pull-left ess-casenum">
                @Model.CaseNumber
            </div>
        </div>
    </div>
    @if (Model.Policies.Count() != 0)
    {
        <div class="row">
            <div class="col-xs-12 uppercase">
                <table class="table">
                    <tr>
                        <td class="ess-caselabel">Eligible Policies</td>
                        <td class="ess-casenum">
                            @foreach (var policy in Model.Policies)
                            {
                                @policy.PolicyName  <span class="ess-policydates">&nbsp;|&nbsp;&nbsp;&nbsp;@(policy.StartDate.ToString("MMM dd, yyyy") + " - " + policy.EndDate.ToString("MMM dd, yyyy")) </span>  
                                if (policy.PolicyName != Model.Policies.Last().PolicyName)
                                {
									<br />
                                }
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
	<p>@T("Web.Cases.Create.Confirmation", "Your request has successfully been submitted and will be reviewed by your case manager.  You can view your case details at any time on the \"My Cases\" page.", null, Model.Id, Model.EmployeeId)</p>
    <div class="row">
        <div class="col-xs-6 ess-nrlink">
            @Html.RouteLink("Add A New Request", "NewRequest", new { employeeId = Model.EmployeeId }, new { @class = "btn uppercase" })
        </div>
        <div class="col-xs-6">
            @Html.RouteLink("Close And View Cases", (string)ViewBag.HomeRoute, null, new { @class = "btn essbtn-continue mob-complete uppercase" })
        </div>
    </div>
</div>
</div>