﻿@model AbsenceSoft.SelfService.Models.Request.AbsenceReasonViewModel

<div class="btn-group" data-toggle="buttons">
    @if (Model.CanBeConsecutive)
    {
        <label class="btn btn-default case-type" data-toggle="collapse" data-target="#consecutiveDescription">
            Consecutive
            <input type="radio" name="CaseType" value="1"/>
        </label>
    }
    @if (Model.CanBeIntermittent)
    {
        <label class="btn btn-default case-type" data-toggle="collapse" data-target="#intermittentDescription">
            Intermittent
            <input type="radio" name="CaseType" value="2" />
        </label>
    }
    @if (Model.CanBeReduced)
    {
        <label class="btn btn-default case-type" data-toggle="collapse" data-target="#reducedDescription">
            Reduced
            <input type="radio" name="CaseType" value="4" />
        </label>
    }
</div>

@if (Model.CanBeConsecutive)
{
    <div class="row collapse case-type-description" id="consecutiveDescription">
        <div class="col-xs-12 text-center teal-dark">
            <h4>
                Consecutive time off is a block of time where you will not be present at work. Choose consecutive leave if you will be requesting a period of leave time without returning to work at all during your leave.
            </h4>
        </div>
    </div>
}

@if (Model.CanBeIntermittent)
{
    <div class="row collapse case-type-description" id="intermittentDescription">
        <div class="col-xs-12 teal-dark text-center">
            <h4>
                Intermittent time off should be requested if you require small increments of time off from work periodically to attend appointments with your healthcare provider or to treat a condition that may periodically prohibit you from working.
            </h4>
        </div>
    </div>
}

@if (Model.CanBeReduced)
{
    <div class="row collapse case-type-description" id="reducedDescription">
        <div class="col-xs-12 teal-dark text-center">
            <h4>
                Reduced time off should be requested if you are asking to take leave, but may still be able to work fewer hours each day.
            </h4>
        </div>
    </div>
}