﻿@model AbsenceSoft.SelfService.Models.Request.NewAccommodationViewModel

@using (Html.BeginRouteForm("NewAccommodationSave", null, FormMethod.Post, new { id = "newAccommodationForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EmployeeId)
    <div class="header uppercase row ess-casehead">
        <div class="col-sm-12">
            <i class="fa fa-keyboard-o"></i>
            <h1>New Accommodation Request</h1>
            <h4><b class="fa fa-user"></b> @Model.FullName  |  #@Model.EmployeeNumber</h4>
        </div>
    
    </div>
    <div class="wizard">

        <!-- Personal Info -->
        <div id="personalInfo" class="wizard-step" data-step="1">
            <div class="wizard-progress row hidden-xs">
                <div class="col-xs-12 acc-progressbar">
                    <div>1. Personal Info</div>
                    <span>2. Case Request</span>
                    <span>3. Duration</span>
                    <span>4. Submit Request</span>
                </div>
            </div>
            <div class="wizard-progress row visible-xs mb20">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row ess-casebg">
                <a href="@Url.RouteUrl("NewRequest", new { employeeId = Model.EmployeeId })" class="ess-return">
                    <span class="fa fa-chevron-left"></span>
                </a>
                @Html.Partial("_PersonalInfo", Model)
                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn essbtn-continue next">
                            Confirm and Continue
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Case Request -->
        <div id="caseRequest" class="wizard-step" data-step="2">
            <div class="wizard-progress row hidden-xs">
                <div class="col-xs-12 acc-progressbar">
                    <div class="cursor-hand previouslinks" step="1"><i class="fa fa-check-circle" aria-hidden="true"></i> Personal Info</div>
                    <div>2. Case Request</div>
                    <span>3. Duration</span>
                    <span>4. Submit Request</span>
                </div>
            </div>
            <div class="wizard-progress row visible-xs mb20">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row ess-casebg">
                <div class="ess-return">
                    <span class="fa fa-chevron-left previous"></span>
                </div>
                <h3>Reason for Case</h3>
                <div class="col-xs-12 ess-caseinputs">
                    <div class="row">
                        <div class="col-xs-12 acc-arbtn" id="accommodations">
                            @if (CurrentCustomerHasFeature(Feature.AccommodationTypeCategories))
                            {
                                @Html.Partial("AccommodationTypeCategories", Model.AccommodationTypeCategories)

                            }
                            else
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    @foreach (var accommodationType in Model.AccommodationTypes)
                                    {
                                        <label class="btn btn-default accommodation-type">
                                            @accommodationType.Name
                                            @Html.RadioButtonFor(m => m.AccommodationTypeId, accommodationType.Id)
                                        </label>
                                    }
                                </div>
                            }
                            @Html.ValidationMessageFor(m => m.AccommodationTypeId, null, new { @class = "errShow" })
                        </div>
                    </div>
                    <h4 class="ess-hcd">Accommodation Details</h4>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            @Html.LabelFor(m => m.Details)
                            @Html.TextAreaFor(m => m.Details, new { @class = "form-control description", placeholder = "Enter description details here..." })
                            @Html.ValidationMessageFor(m => m.Details, null, new { @class = "errShow" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn essbtn-continue next" id="absenceReasonSelected">
                            Confirm and Continue
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Duration-->
        <div id="duration" class="wizard-step" data-step="3">
            <div class="wizard-progress row hidden-xs">
                <div class="col-xs-12 acc-progressbar">
                    <div class="cursor-hand previouslinks" step="1"><i class="fa fa-check-circle" aria-hidden="true"></i> Personal Info</div>
                    <div class="cursor-hand previouslinks" step="2"><i class="fa fa-check-circle" aria-hidden="true"></i> Case Request</div>
                    <div>3. Duration</div>
                    <span>4. Submit Request</span>
                </div>
            </div>
            <div class="wizard-progress row visible-xs mb20">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row ess-casebg">
                <div class="ess-return">
                    <span class="fa fa-chevron-left previous"></span>
                </div>
                <h3>Duration of Request</h3>
                <div class="col-md-8 col-md-offset-2 col-xs-12 ess-caseinputs acc-dur">
                    <h4 class="teal-dark">Select the timing for this request:</h4>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default hide accom" id="accomTemporary">
                            <input type="radio" value="temporary"  class="duration-input" checked /> Temporary
                        </label>
                        <label class="btn btn-default hide accom" id="accomPermanent">
                            <input type="radio" value="permanent" id="accomPermanent" class="duration-input" /> Permanent
                        </label>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 col-xs-12 ess-caseinputs duration-dates temporary-duration">
                    <h5 class="teal-dark">Choose the starting and ending dates:</h5>
                    <div class="input-group input-daterange">
                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control start-date" })
                        @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "errShow" })
                        <span class="input-group-addon">to</span>
                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control end-date" })
                        @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "errShow" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 col-xs-12 ess-caseinputs duration-dates permanent-duration hide">
                    <h5 class="teal-dark">Choose the starting date for this request:</h5>
                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control start-date datepicker" })
                    @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "errShow" })
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn essbtn-continue next">
                            Confirm and Continue
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Final -->
        <div id="submitRequest" class="wizard-step" data-step="4">
            <div class="wizard-progress row hidden-xs">
                <div class="col-xs-12 acc-progressbar">
                    <div class="cursor-hand previouslinks" step="1"><i class="fa fa-check-circle" aria-hidden="true"></i> Personal Info</div>
                    <div class="cursor-hand previouslinks" step="2"><i class="fa fa-check-circle" aria-hidden="true"></i> Case Request</div>
                    <div class="cursor-hand previouslinks" step="3"><i class="fa fa-check-circle" aria-hidden="true"></i> Duration</div>
                    <div>4. Submit Request</div>
                </div>
            </div>
            <div class="wizard-progress row visible-xs mb20">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row ess-casebg">
                <div class="ess-return">
                    <span class="fa fa-chevron-left previous"></span>
                </div>
                <h3>Confirm Request Details</h3>
                <div class="col-md-10 col-md-offset-1 col-xs-12 ess-caseinputs">
                    @Html.Partial("_PersonalInfoSummary", Model)
                    <div class="row">
                        <div class="col-md-3 col-xs-12 form-group mt20 ess-conab">
                            <label>Accommodation</label>
                            <span class="descriptive uppercase" id="selectedAccommodation">
                            </span>
                        </div>
                        <div class="col-md-9 col-xs-12 form-group mt20">
                            <label>Description</label>
                            @Html.TextAreaFor(m => m.Details, new { @class = "form-control description" })
                            @Html.ValidationMessageFor(m => m.Details, null, new { @class = "errShow" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-12 form-group mt20 ess-conab">
                            <span class="descriptive uppercase" id="selectedDuration">
                                Temporary
                            </span>
                        </div>
                        <div class="col-md-6 col-xs-12 form-group mt20">
                            <div class="temporary-duration duration-dates">
                                <div class="input-group input-daterange">
                                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control start-date" })
                                    <span class="input-group-addon">to</span>
                                    @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control end-date" })
                                </div>
                                @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "errShow" })
                                @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "errShow" })
                            </div>
                            <div class="permanent-duration duration-dates hide">
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control start-date datepicker" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="errors" class="case-error hide"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" id="submitAccommodationRequestCase" class="btn essbtn-continue" value="Submit Request" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}