﻿@model AbsenceSoft.SelfService.Models.Request.NewCaseViewModel


@using (Html.BeginRouteForm("NewCaseSave", null, FormMethod.Post, new { id = "newCaseForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.EmployeeId)
    <div class="header uppercase row ess-casehead">
        <div class="col-sm-12">
            <span class="fa fa-clock-o"></span>
            <h1>New Leave Request</h1>
            <h4><b class="fa fa-user"></b> @Model.FullName  |  #@Model.EmployeeNumber</h4>
        </div>

    </div>
    <div class="wizard">

        <!-- Personal Info -->
        <div id="personalInfo" class="wizard-step" data-step="1">
            <div class="wizard-progress row hidden-xs">
                <div class="col-xs-12 ess-progressbar">
                    <div>1. Personal Info</div>
                    <span>2. Case Request</span>
                    <span>3. Absence Details</span>
                    <span>4. Duration</span>
                    <span>5. Submit Request</span>
                </div>
            </div>
            <div class="wizard-progress row visible-xs mb20">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row ess-casebg">
                <a href="@Url.RouteUrl("NewRequest", new { employeeId = Model.EmployeeId })" class="ess-return">
                    <span class="fa fa-chevron-left"></span>
                </a>
                @Html.Partial("_PersonalInfo", Model)
                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn essbtn-continue next">
                            Confirm and Continue
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Case Request -->
        <div id="caseRequest" class="wizard-step" data-step="2">
            <div class="wizard-progress row hidden-xs">
                <div class="col-xs-12 ess-progressbar">
                    <div class="cursor-hand previouslinks" step="1"><i class="fa fa-check-circle" aria-hidden="true"></i> Personal Info</div>
                    <div>2. Case Request</div>
                    <span>3. Absence Details</span>
                    <span>4. Duration</span>
                    <span>5. Submit Request</span>
                </div>
            </div>
            <div class="wizard-progress row visible-xs mb20">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row ess-casebg">
                <div class="ess-return">
                    <span class="fa fa-chevron-left previous"></span>
                </div>
                <div id="reasonforCase">
                    <h3>Reason for Case</h3>
                    <div class="col-xs-12 ess-caseinputs">
                        <div class="row">
                            <div class="col-xs-12 ess-arbtn" id="absenceReasons">
                                <div class="btn-group" data-toggle="buttons">
                                    @foreach (var absenceReason in Model.AbsenceReasons)
                                    {
                                        <label class="btn btn-default parent-absence-reason absence-reason" data-absence-reason-code='@absenceReason.Code' @{ <text> @absenceReason.DataTargetText() </text>  } @if (absenceReason.Code == "EHC") { <text> data-IsWorkRelated="true" </text> }>
                                            @absenceReason.Name
                                            @if (absenceReason.HasChildren)
                                            {
                                                <input type="radio" value="@absenceReason.Code" />
                                            }
                                            else
                                            {
                                                @Html.RadioButtonFor(m => m.AbsenceReasonCode, absenceReason.Code, new { data_requires_contact = absenceReason.IsForFamilyMember.ToString().ToLower(), data_requires_pregmat = absenceReason.RequiresPregnancyDetails.ToString().ToLower() })
                                            }
                                        </label>
                                    }
                                </div>
                                @Html.ValidationMessageFor(m => m.AbsenceReasonCode, null, new { @class = "errShow" })
                            </div>
                        </div>
                        @foreach (var absenceReason in Model.AbsenceReasons.Where(ar => ar.HasChildren))
                        {
                            string childId = string.Format("{0}Children", absenceReason.Code.Replace(" ", ""));
                            <div id="@childId" class="collapse child-reason-container ess-abchild">
                                <h4 class="teal-dark">Select One:</h4>
                                <div class="btn-group" data-toggle="buttons">
                                    @foreach (var childReason in absenceReason.Children)
                                    {

                                        <label class="btn btn-default absence-reason" data-absence-reason-code='@childReason.Code' @if (childReason.IsForFamilyMember) { <text> data-target="#contact" </text> } @if (childReason.Code == "EHC") { <text> data-IsWorkRelated="true" </text> }>
                                            @childReason.Name
                                            @Html.RadioButtonFor(m => m.AbsenceReasonCode, childReason.Code, new { data_requires_contact = childReason.IsForFamilyMember.ToString().ToLower(), data_requires_pregmat = childReason.RequiresPregnancyDetails.ToString().ToLower() })
                                        </label>
                                    }
                                </div>
                            </div>
                        }
                        <div class="row  contact-reason-container collapse" id="contact">
                            <div class="col-sm-6 col-xs-12">
                                @Html.LabelFor(m => m.Contact.RelationshipCode)
                                @Html.DropDownListFor(m => m.Contact.RelationshipCode, new List<SelectListItem>(), new { @class = "form-control", id = "contactRelationshipCode" })
                            </div>
                            <div class="col-sm-6 col-xs-12 mmt20">
                                @Html.LabelFor(m => m.Contact.Id)
                                @Html.DropDownListFor(m => m.Contact.Id, new List<SelectListItem>(), new { @class = "form-control", id = "contactId" })
                            </div>
                            <div class="col-md-4 col-xs-12 mt20">
                                @Html.LabelFor(m => m.Contact.FirstName)
                                @Html.TextBoxFor(m => m.Contact.FirstName, new { @class = "form-control", id = "contactFirstName" })
                            </div>
                            <div class="col-md-4 col-xs-12 mt20">
                                @Html.LabelFor(m => m.Contact.LastName)
                                @Html.TextBoxFor(m => m.Contact.LastName, new { @class = "form-control", id = "contactLastName" })
                            </div>
                            <div class="col-md-4 col-xs-12 mt20">
                                @Html.LabelFor(m => m.Contact.DateOfBirth)
                                @Html.TextBoxFor(m => m.Contact.DateOfBirth, new { @class = "form-control datepicker", id = "contactDateOfBirth" })
                            </div>
                        </div>

                        <div class="row contact-reason-container collapse pregmatdetails" id="pregmatdetails">
                            <div class="col-md-4 col-xs-12 mt20">
                                @Html.LabelFor(m => m.ExpectedDeliveryDate)
                                @Html.TextBoxFor(m => m.ExpectedDeliveryDate, new { @class = "form-control datepicker", id = "expectedDeliveryDate" })
                            </div>
                            <div class="col-md-4 col-xs-12 mt20">
                                @Html.LabelFor(m => m.ActualDeliveryDate)
                                @Html.TextBoxFor(m => m.ActualDeliveryDate, new { @class = "form-control datepicker", id = "actualDeliveryDate" })
                            </div>
                            <div class="col-md-2 col-xs-12 pregmatbuttons">
                                @Html.LabelFor(m => m.IsBonding)
                                <div class="btn-group" data-toggle="buttons" id="useBonding">
                                    <label class="btn btn-default">
                                        Yes
                                        <input type="radio" name="IsBonding" value="true" />
                                    </label>
                                    <label class="btn btn-default">
                                        No
                                        <input type="radio" name="IsBonding" value="false" />
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2 col-xs-12 pregmatbuttons">
                                @Html.LabelFor(m => m.IsMedicalComplication)
                                <div class="btn-group" data-toggle="buttons" id="hasmedicalcomp">
                                    <label class="btn btn-default">
                                        Yes
                                        <input type="radio" name="IsMedicalComplication" value="true" />
                                    </label>
                                    <label class="btn btn-default">
                                        No
                                        <input type="radio" name="IsMedicalComplication" value="false" />
                                    </label>
                                </div>
                            </div>
                            <div id="bondingDateContainer" class="collapse">
                                <div class="col-md-6 col-xs-12 mt20">
                                    @Html.LabelFor(m => m.BondingStartDate)
                                    @Html.TextBoxFor(m => m.BondingStartDate, new { @class = "form-control datepicker", id = "bondingStartOn" })
                                </div>
                                <div class="col-md-6 col-xs-12 mt20">
                                    @Html.LabelFor(m => m.BondingEndDate)
                                    @Html.TextBoxFor(m => m.BondingEndDate, new { @class = "form-control datepicker", id = "bondingEndOn" })
                                </div>
                            </div>
                        </div>



                        <br />
                        <span class="errShow customError"></span>
                        <h4 class="ess-hcd">Case Details</h4>
                        <div class="row">
                            <div class="col-sm-10 col-xs-12">
                                @Html.LabelFor(m => m.Details)
                                @Html.TextAreaFor(m => m.Details, new { @class = "form-control description", placeholder = "Enter description details here..." })
                                @Html.ValidationMessageFor(m => m.Details, null, new { @class = "errShow" })
                            </div>
                            <div class="col-sm-2 col-xs-12 ess-workrel mmt20 hide" id="workRelatedContainer" name="workRelatedContainer">
                                @Html.LabelFor(m => m.IsWorkRelated)
                                <!-- Trigger the modal with a button -->
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default" id="IsWorkRelatedYes" @(Html.Raw((Customer.Current.HasFeature(Feature.ESSWorkRelatedReporting))?"data-toggle=\"modal\" data-target=\"#atModal\"":"")) >
                                        Yes
                                        <input type="radio" name="IsWorkRelated" value="true" class="work-related" />
                                    </label>
                                    <label class="btn btn-default" id="IsWorkRelatedNo">
                                        No
                                        <input type="radio" name="IsWorkRelated" value="false" class="work-related" />
                                    </label>
                                </div>
                                @Html.ValidationMessageFor(m => m.IsWorkRelated, null, new { @class = "errShow" })
                            </div>
                        </div>
                    </div>
                </div>
                @if (Customer.Current.HasFeature(Feature.ESSWorkRelatedReporting))
                {
                    <div id="workRelatedDiv">
                        <div class="row">
                            <div class="col-xs-10">
                                <h3>Work Related Reporting</h3>
                            </div>
                            <div class="col-xs-2">
                                <button id="abWorkRelatedNo" type="button" class="btn btn-default" data-dismiss="modal"> Skip </button>
                            </div>
                        </div>
                   
                        <div class="row">
                            <div  class="col-xs-12">
                                @Html.EditorFor(m => m.WorkRelatedInfo)
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn essbtn-continue next" id="absenceReasonSelected">
                            Confirm and Continue
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Out of Office -->
        <div id="outOfOfficeDetails" class="wizard-step" data-step="3">
            <div class="wizard-progress row hidden-xs">
                <div class="col-xs-12 ess-progressbar">
                    <div class="cursor-hand previouslinks" step="1"><i class="fa fa-check-circle" aria-hidden="true"></i> Personal Info</div>
                    <div class="cursor-hand previouslinks" step="2"><i class="fa fa-check-circle" aria-hidden="true"></i> Case Request</div>
                    <div>3. Absence Details</div>
                    <span>4. Duration</span>
                    <span>5. Submit Request</span>
                </div>
            </div>
            <div class="wizard-progress row visible-xs mb20">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row ess-casebg">
                <div class="ess-return">
                    <span class="fa fa-chevron-left previous"></span>
                </div>
                <h3>Absence Details</h3>
                <div class="col-xs-12 ess-caseinputs">
                    <div id="leaveType" class="ess-oodbtn">
                    </div>
                    <span id="leaveTypeError" class="errShow hide">You must select a type of leave.</span>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn essbtn-continue next">
                            Confirm and Continue
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Duration -->
        <div id="duration" class="wizard-step" data-step="4">
            <div class="wizard-progress row hidden-xs">
                <div class="col-xs-12 ess-progressbar">
                    <div class="cursor-hand previouslinks" step="1"><i class="fa fa-check-circle" aria-hidden="true"></i> Personal Info</div>
                    <div class="cursor-hand previouslinks" step="2"><i class="fa fa-check-circle" aria-hidden="true"></i> Case Request</div>
                    <div class="cursor-hand previouslinks" step="3"><i class="fa fa-check-circle" aria-hidden="true"></i> Absence Details</div>
                    <div>4. Duration</div>
                    <span>5. Submit Request</span>
                </div>
            </div>
            <div class="wizard-progress row visible-xs mb20">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle-thin" aria-hidden="true"></i>
                </div>
            </div>
            <div class="row ess-casebg">
                <div class="ess-return">
                    <span class="fa fa-chevron-left previous"></span>
                </div>
                <h3>Duration of Request</h3>
                <div class="col-md-8 col-md-offset-2 col-xs-12 ess-caseinputs">
                    <div class="row">
                        <div class="input-group input-daterange">
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control start-date" })
                            @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "errShow" })
                            <span class="input-group-addon">to</span>
                            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control end-date" })
                            @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "errShow" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span class="btn essbtn-continue next">
                            Confirm and Continue
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Final -->
        <div id="submitRequest" class="wizard-step" data-step="5">
            <div class="wizard-progress row hidden-xs">
                <div class="col-xs-12 ess-progressbar">
                    <div class="cursor-hand previouslinks" step="1"><i class="fa fa-check-circle" aria-hidden="true"></i> Personal Info</div>
                    <div class="cursor-hand previouslinks" step="2"><i class="fa fa-check-circle" aria-hidden="true"></i> Case Request</div>
                    <div class="cursor-hand previouslinks" step="3"><i class="fa fa-check-circle" aria-hidden="true"></i> Absence Details</div>
                    <div class="cursor-hand previouslinks" step="4"><i class="fa fa-check-circle" aria-hidden="true"></i> Duration</div>
                    <div>5. Submit Request</div>
                </div>
            </div>
            <div class="wizard-progress row visible-xs mb20">
                <div class="col-xs-1"></div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 brightgreen">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                </div>
                <div class="col-xs-2 white">
                    <i class="fa fa-circle" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row ess-casebg">
                <div class="ess-return">
                    <span class="fa fa-chevron-left previous"></span>
                </div>
                <h3>Confirm Request Details</h3>
                <div class="col-md-10 col-md-offset-1 col-xs-12 ess-caseinputs">
                    @Html.Partial("_PersonalInfoSummary", Model)
                    <div class="row">
                        <div class="col-md-3 col-xs-12 form-group mt20 ess-conab">
                            <label>Absence Reason</label>
                            <span class="descriptive" id="selectedAbsenceReason">

                            </span>
                        </div>
                        <div class="col-md-9 col-xs-12 form-group mt20">
                            <label>Description</label>
                            @Html.TextAreaFor(m => m.Details, new { @class = "form-control description" })
                            @Html.ValidationMessageFor(m => m.Details, null, new { @class = "errShow" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-12 form-group ess-workrel mt20">
                            @Html.LabelFor(m => m.IsWorkRelated)
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default">
                                    Yes
                                    <input type="radio" name="IsWorkRelated" value="true" class="work-related" />
                                </label>
                                <label class="btn btn-default">
                                    No
                                    <input type="radio" name="IsWorkRelated" value="false" class="work-related" />
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 form-group ess-conab mt20">
                            <label>Case Type</label>
                            <span class="descriptive" id="selectedCaseType">

                            </span>
                        </div>
                        <div class="col-md-6 col-xs-12 form-group mt20">
                            <label>Duration</label>
                            <div class="input-group input-daterange">
                                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control start-date" })
                                <span class="input-group-addon">to</span>
                                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control end-date" })
                            </div>
                            @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "errShow" })
                            @Html.ValidationMessageFor(m => m.EndDate, null, new { @class = "errShow" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="errors" class="case-error hide"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <input type="submit" id="submitRequestCase" class="btn essbtn-continue" value="Submit Request" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        @if (Customer.Current.HasFeature(Feature.ESSWorkRelatedReporting))
        {
            <div id="atModal" class="modal fade" role="dialog" data-backdrop="static">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">                       
                            <h3 class="modal-title">OSHA REPORT INFORMATION</h3>
                        </div>
                        <div class="modal-body">
                            <p>
                                There is an available OSHA report Intake section available with this case type.
                                <br />Would you like to enter OSHA Information for this case?
                            </p>

                            <div class="model-footer1col-sm-12 text-center">
                                <button id="abWorkRelatedSkip" type="button" class="btn btn-default" data-dismiss="modal"> Skip </button>
                                <button id="abWorkRelated" type="button" class="btn btn-info" data-dismiss="modal"> Yes, Enter Data </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
}
