﻿@model AbsenceSoft.SelfService.Models.Request.RequestViewModel

    <div class="row ess-headline">
        <div class="col-xs-12">
            <span class="fa fa-calendar-plus-o ess-headicon"></span>
            <h1>New Request</h1>
            <h4><b class="fa fa-user"></b> @Model.FullName  |  #@Model.EmployeeNumber</h4>
        </div>
     
    </div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-xs-12 ess-start">
        <div class="row">
            <div class="col-xs-12">
                @if (CurrentCustomerHasFeature(Feature.LOA) || CurrentCustomerHasFeature(Feature.ShortTermDisability))
                {
                    <a href="@Url.RouteUrl("NewCase", new {employeeId = Model.EmployeeId})">
                        <div class="col-sm-6 col-xs-12 ess-leavebtn">
                            <span class="fa fa-clock-o"></span>
                            <h2>Leave Request</h2>
                        </div>
                    </a>
                }
                @if (CurrentCustomerHasFeature(Feature.ADA))
                {
                    <a href="@Url.RouteUrl("NewAccommodation", new {employeeId = Model.EmployeeId})">
                        <div class="col-sm-6 col-xs-12 ess-accobtn">
                            <span class="fa fa-keyboard-o"></span>
                            <h2>Accommodation</h2>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

