﻿@model AbsenceSoft.SelfService.Models.TimeOffRequestViewModel

@using (Html.BeginRouteForm("SaveTimeOffRequest", FormMethod.Post, new { id = "timeOffRequestForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.IsOverride)
    <div class="row ess-headline">
        <div class="col-sm-12">
            <span class="fa fa-clock-o ess-headicon"></span>
            <h1>Add Time Off</h1>
        </div>
    </div>
    <div class="row ess-casebg">
        <div class="col-sm-offset-1 col-lg-offset-2 col-sm-10 col-lg-8 col-xs-12">

            <div class="col-sm-6 col-xs-12 col-lg-6 ess-caseinputs">
                <div class="mt20">
                    @Html.LabelFor(m => m.IntermittentType)
                    @Html.EnumDropDownListFor(m => m.IntermittentType, new { @class = "form-control", tabindex = "1", Name = "IntermittentType_0", id = "IntermittentType_0" })
                    <div class="intermittent-type-error_0 hidden errShow">Select the reason for your time off</div>
                </div>

                <div class="mt20">
                    <div class="row">
                        <div class="col-sm-4 col-wrap">
                            @Html.LabelFor(m => m.StartTimeForLeave, new { @class = "control-label" })
                        </div>
                        <div class="col-sm-7 col-wrap ">
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="start-time-picker_0" type="text" class="form-control input-small">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                            <div class="start-time-error_0 hidden errShow">Start Time is Required
                            </div>
                            @Html.HiddenFor(m => m.StartTimeForLeave, new { Name = "StartTimeForLeave_0", Value = "", id = "StartTimeForLeave_0" })
                        </div>
                    </div>
                </div>

                <div class="mt20">
                    <div class="row">
                        <div class="col-sm-4 col-wrap">
                            @Html.LabelFor(m => m.EndTimeForLeave, new { @class = "control-label" })
                        </div>
                        <div class="col-sm-7 col-wrap ">
                            <div class="input-group bootstrap-timepicker timepicker">
                                <input id="end-time-picker_0" type="text" class="form-control input-small">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                            <div class="end-time-error_0 hidden errShow">End Time is Required</div>
                            @Html.HiddenFor(m => m.EndTimeForLeave, new { Name = "EndTimeForLeave_0", Value = "", id = "EndTimeForLeave_0" })
                        </div>
                    </div>
                </div>

                <div class="mt20">
                    @Html.LabelFor(m => m.TimeOff)
                    @Html.TextBoxFor(m => m.TimeOff, new { @class = "form-control", Name = "timeOff_0", id = "timeOff_0", tabindex = "8" })
                    <div class="time-off-error_0 hidden errShow">Time Off is Required</div>
                </div>

                <div class="mt20">
                    @Html.LabelFor(m => m.DateOff)
                    @Html.TextBoxFor(m => m.DateOff, new { @class = "form-control", Name = "dateOff_0", id = "dateOff_0", tabstop = "false", tabindex = "9" })   
                    <div class="date-off-error_0 hidden errShow">Date Off Time is Required</div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 col-lg-6 tor-cal">
                @Html.Action("Calendar", "Employees", new { employeeId = Model.EmployeeId, allowSelection = true, caseId = Model.CaseId })
                @Html.HiddenFor(m => m.CaseId)
                @Html.HiddenFor(m => m.Id, new { Name = "Id_0", Value = "", id = "Id_0" })
                @Html.HiddenFor(m => m.IsEditMode)
                @Html.HiddenFor(m => m.ItorIdCounter)
                @Html.HiddenFor(m => m.IsDelete)
                @Html.HiddenFor(m => m.ActiveItorId)
            </div>
            <div class="col-xs-12 tor-error">
                <div id="errors_0" class="case-error hide"></div>
            </div>

        </div>
    </div>

    <div class="row ess-casebg">
        <div class="col-sm-offset-1 col-lg-offset-2 col-sm-10 col-lg-8 col-xs-12">
            @if (!Model.HasEmployeeWorkSchedule())
            {
                <div class="text-center">
                    <div class="row">
                        <div class="alert" role="alert">
                            <span class="alert-danger">! Employee is missing a valid work schedule. Enter a schedule before adding Time off request</span>
                        </div>
                    </div>
                </div>
            }
            else
            {

                <div class="col-xs-12 col-sm-7 text-center uppercase mt20">
                    @Html.RouteLink("Cancel", (string)ViewBag.HomeRoute, null, new { @class = "btn btn-default uppercase ess-attachclose", tabindex = "11" })
                    <button type="button" id="submit" value="0" class="btn btn-primary uppercase ess-attachbtn save-button">Submit</button>                    
                    <button type="button" id="remove" value="0" class="btn btn-primary uppercase ess-attachbtn remove-button">Remove</button>
                </div>
            }
        </div>
    </div>

    <div id="LoadTorPartialPage">
        @*Load Intermittent Partial Page Dynamically here*@
    </div>

    <div class="row ess-casebg">
        <div class="col-sm-offset-1 col-lg-offset-2 col-sm-10 col-lg-8 col-xs-12">
            @if (!Model.HasEmployeeWorkSchedule())
            {
                <div class="text-center">
                    <div class="row">
                        <div class="alert" role="alert">
                            <span class="alert-danger">! Employee is missing a valid work schedule. Enter a schedule before adding Time off request</span>
                        </div>
                    </div>
                </div>
            }
            else
            {

                <div class="col-xs-12 col-sm-7 text-center uppercase mt20">
                    <input type="button" class="btn btn-primary uppercase ess-attachbtn addNew-button" value="Add" , tabindex="12" />
                    <input type="button" class="btn btn-primary uppercase ess-attachbtn delete-button" value="Delete" , tabindex="11" />
                </div>
            }
        </div>
    </div>
}