﻿body {
    padding: 55px 0 0 0 !important;
    outline: none;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    outline: none;
}

    a.beta-link {
        margin: -5px 0 50px -15px;
    }

.reporting-main-content {
    padding-left: 95px;
}

.m-t-23 {
    margin-top: 23px;
}

.p-l-r-10 {
    padding: 0 10px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.mainaction-btn {
    height: auto !important;
    color: #fff !important;
    background: #2A849F !important;
    border-radius: 0;
    font-size: 14px !important;
    margin: 5px;
}

.action-btn {
    height: auto !important;
    color: #fff !important;
    background: #a5a5a5 !important;
    border-radius: 0;
    font-size: 14px !important;
    margin: 5px;
}

.cancel-btn {
    height: auto !important;
    color: #FF8300 !important;
    background: #fff !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    margin: 5px;
    border: 1px solid #FF8300 !important;
    font-weight: bold;
}

.ok-btn {
    height: auto !important;
    color: #fff !important;
    background: #FF8300 !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    margin: 5px;
    border: 1px solid #FF8300 !important;
    font-weight: bold;
}

    .ok-btn:hover {
        border: 1px solid #FF8300 !important;
    }

.apply-btn {
    height: auto !important;
    color: #fff !important;
    background: #dc7910 !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    margin: 5px;
    border: 1px solid #dc7910 !important;
    font-weight: bold;
}

.ok-btn:hover {
    border: 1px solid #dc7910 !important;
}


#reportCriteria .report-criteria-btn {
    margin-right: 7px;
}

#reportCriteria .criteriarow .btn-group > .btn:last-child {
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

#reportCriteria .criteriarow .btn-group > .btn:first-child {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}

#reportCriteria .criteriarow .btn-group {
    margin-bottom: 13px;
}

#reportCriteria .select2-choices {
    margin-bottom: 20px;
    /* height: 38px !important;*/
}

    #reportCriteria .select2-choices input {
        /* height: 38px !important;*/
    }

#reportCriteria .criteriarow .iconPosition-lblduration {
    position: absolute;
    top: -3px;
    left: 80px;
}

    #reportCriteria .criteriarow .iconPosition-lblduration .tooltip-margin,
    #reportCriteria .criteriarow .iconPosition .tooltip-margin {
        margin: 0;
        padding: 0;
    }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .reporting-main-content .report-card .report-graph i {
        font-size: 90px !important;
        line-height: 150px;
    }

    .title-business-intelligence-report,
    .title-operations-report,
    .title-adhoc-report {
        font: normal 15px "Lato", Arial, Sans-serif !important;
    }

    .main-report-button .operations-report-icon,
    .main-report-button .business-intelligence-report-icon,
    .main-report-button .adhoc-report-icon {
        font-size: 90px !important;
    }

    .osha-run-report-valid,
    .osha-run-report {
        margin-top: 0% !important;
    }
}

#reportCriteria .criteriarow .iconPosition {
    position: absolute;
    top: -3px;
    left: 90px;
}

.bootstrap-datetimepicker-widget > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.report-sidemenu ul li {
    border-bottom: 1px solid #00384C;
    padding: 15px 0;
    line-height: 15px;
}

    .report-sidemenu ul li i {
        font-size: 25px;
        margin-bottom: 5px;
    }

.report-sidemenu li a {
    text-transform: capitalize !important;
}

.reporting-main-content .report-popular-header {
    height: auto !important;
    padding: 5px 0px;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 15px;
    background: transparent !important;
}

    .reporting-main-content .report-popular-header h3 {
        padding: 0 !important;
        margin-top: 13px;
        margin-bottom: 4px;
        color: #4a4a4a;
        font-size: 17px;
    }

    .reporting-main-content .report-popular-header h6 {
        padding: 0 !important;
        margin: 0;
        color: #868686;
        font-size: 12px;
    }

.export-popover .export-popover-holder .popoverclose {
    margin: 10px 3px !important;
}

.forensic-report-container .report-popular-header .fa-user-secret,
.operation-report-container .report-popular-header .fa-pie-chart {
    margin-right: 10px;
}

.reporting-main-content .report-card {
    margin-bottom: 30px !important;
    height: 210px;
}

    .reporting-main-content .report-card .report-graph i {
        font-size: 100px !important;
        line-height: 150px;
        margin-top: 8px !important;
    }


#queueStatusModal .right-tick:before {
    font-size: 20px;
    color: #058c21;
}

#queueStatusModal .cross-tick:before {
    font-size: 20px;
    color: #f50049;
}

#queueStatusModal .loader-img img {
    width: 16px;
}

.btn-round {
    border-radius: 3px !important;
    background-color: transparent !important;
    color: #2a849f !important;
    border: 1px solid #2a849f !important;
    margin: 11px 5px 0 !important;
    height: auto !important;
    padding: 7px 12px !important;
    font-size: 13px !important;
    font-weight: bold !important;
}

    .btn-round:hover {
        box-shadow: inset 0px 0px 0px 0px #bfbfbf !important;
    }

.btn-round-action {
    border-radius: 3px !important;
    background-color: #2a849f !important;
    color: #ffffff !important;
    border: 1px solid #2a849f !important;
    margin: 11px 5px 0 !important;
    height: auto !important;
    padding: 7px 12px !important;
    margin-right: 0 !important;
}

    .btn-round-action:hover {
        background: #2a849f !important;
        box-shadow: inset 0px 0px 0px 0px #bfbfbf !important;
    }

.report-action-header {
    height: auto !important;
}

.report-category-content .report-list .category-container {
    padding-left: 0px;
    display: none;
    background: #002C3C;
}

.report-category-content .report-list .category-item.active {
    background: #022937 !important;
}

.report-category-content .report-list .category-container li {
    padding-left: 30px;
    border-bottom: 1px solid #002B3B;
    font-weight: normal;
}

.report-category-content .report-list .category-container li {
    color: #a7a7a7 !important;
}

    .report-category-content .report-list .category-container li:hover {
        background: #002330;
        color: #FFF !important;
    }

.report-category-content .report-list li {
    border-bottom: 1px solid #0e3240;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.export-popover {
    width: 200px;
    left: -55px !important;
    font-size: 16px;
    padding: 0;
    border-radius: 0;
    top: 57px !important;
    box-shadow: 4px 4px 22px 0 #7d7d7d;
    border: 1px solid #cacaca;
    border-radius: 3px;
}

    .export-popover:after,
    .export-popover:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .export-popover:after {
        border-color: rgba(165, 165, 165, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }

    .export-popover:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #cacaca;
        border-width: 11px;
        margin-left: -11px;
    }

    .export-popover .arrow {
        display: none;
    }


/*.report-category-content .report-list .category-container {
    background: #03242f !important;
}
.report-category-content .category-item {
    border-bottom: 0px solid #002B3B !important;
}*/

.report-flyout li {
    color: #d0d0d0 !important;
    padding: 0 !important;
}

.report-flyout {
    min-width: 295px;
    max-width: 295px;
    box-shadow: 5px 0 8px 0 #00000057;
}

.report-category-content .report-list li a:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:none;
    float: right;
    font-size: 20px;
    color: #b3b3b3;
}

.report-category-content .report-list li:after:hover {
    color: #FFF;
}

.report-category-content .report-list li.category-item:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    float: right;
    font-size: 20px;
    color: #b3b3b3;
}

.report-category-content .report-list li.category-item.active:before {
    content: "\f106";
}

.report-category-content .report-list li.category-item:after {
    content: none;
}

a.return-ad-btn {
    margin-top: 12px !important;
}

.Navbarleft #side-navbar {
    background-color: #005472 !important;
}


/*ADOH CSS START CUSTOM 30-10-18

.function-button .btn {
    border: 1px solid #00BAFF;
    border-radius: 0px;
    background: #FFF;
    color: #6b6b6b;
    margin: 0 5px;
}

    .function-button .btn.navbutton {
        border: 1px solid #00BAFF;
        border-radius: 0px;
        background: #00BAFF;
        color: #FFF;
        margin: 0 5px;
    }*/

.function-button .dropdown-menu a {
    text-align: left;
    padding: 0;
}

.function-button .dropdown-menu > li > a:hover,
.function-button .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #FFF;
}

.function-button .dropdown-menu a {
    text-align: left;
    padding: 10px 20px;
}

.function-button .dropdown-menu > li > a {
    color: #757575 !important;
}


/*.function-button-divider {
    margin: 0 8px 0px 4px;
    color: #CCC;
    width: 1px;
    height: 27px;
    border-right: 1px solid #CCC;
}
*/

.chart-tab .nav-tabs {
    cursor: default !important;
}

    .chart-tab .nav-tabs li {
        float: right !important;
        height: auto !important;
        margin-bottom: 0px;
        cursor: pointer;
    }

    .chart-tab .nav-tabs > li > a {
        margin-left: 1px;
        margin-right: 0px;
    }

    .chart-tab .nav-tabs li a {
        padding: 6px 15px !important;
        background: #CCCCCC !important;
        color: #505050;
        font-weight: bold !important;
    }

        .chart-tab .nav-tabs li a:hover,
        .chart-tab .nav-tabs li a:focus {
            background-color: #9e9e9e !important;
            color: #FFF !important;
            border: 1px solid transparent !important;
            box-sizing: border-box;
            height: auto !important;
        }

.chart-tab .nav-tabs {
    border-bottom: 0px solid transparent !important;
}

.chart-tab .tab-pane {
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px 20px;
    border-top: 2px solid #08607a;
}

.note-text {
    font-size: 12px;
    font-style: italic;
    float: left;
    width: 100%;
    margin: 10px 0px;
    color: #a94442;
}

.container-box {
    padding: 0;
    background-color: #FFF;
    border: 1px solid #CCC;
    float: left;
    width: 100%;
    margin-bottom: 5px !important;
}

    .container-box.container-box-m-b-0 {
        margin-bottom: 0 !important;
    }

.border-bottom {
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    padding-bottom: 6px;
    color: #6b6b6b;
}

    .border-bottom h6#report-name {
        margin: 0;
        color: #868686;
    }

    .border-bottom h4#report-category {
        margin-top: 13px;
        margin-bottom: 4px;
        color: #4a4a4a;
    }

.in-progress {
    position: absolute;
    top: -8px;
    left: 5px;
    text-align: left;
    font-size: 11px;
    color: #FF8300;
    display: none;
}

    .in-progress img {
        width: 19px;
        margin: 0 5px;
    }

.tab-pane hr {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #dedede;
}

.chart-type-radio {
    margin-bottom: 20px;
}

    .chart-type-radio .radio-inline {
        margin-right: 20px;
    }

        .chart-type-radio .radio-inline .fa {
            margin: 0 8px;
        }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: #08607A !important;
    border: 1px solid #08607A !important;
    border-bottom-color: transparent !important;
    color: #FFF !important;
}

.adhc-report-date {
    width: 160px !important;
}

    .adhc-report-date input#endDate,
    .adhc-report-date input#startDate {
        display: block;
        width: 100%;
        /*height: 38px*/
        font-size: 13px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        vertical-align: middle;
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 3px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }

footer .copyright {
    background: #c6c6c6;
    padding: 0px 0;
    border-radius: 0;
    color: #000;
    position: relative;
}

.footer {
    height: auto !important;
}

footer .copyright {
    background: #d4d4d4 !important;
    padding: 7px 0 !important;
    color: #545454 !important;
}

.copyright span {
    font-size: 10px;
}

    .copyright span a {
        color: #0785b3;
    }

.multiple-dropdown {
    width: 100% !important;
}

    .multiple-dropdown button > span {
        position: absolute;
        top: 7px;
    }

    .multiple-dropdown button {
        width: 100% !important;
        display: block;
        height: 32px;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #555;
        vertical-align: middle;
        background-color: #eee;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

#start-date span.glyphicon-calendar {
    right: 8px;
    top: 8px;
}

.leftNavbar .report-sidebar .vertical-nav-button i {
    font-size: 36px !important;
}

.leftNavbar .vertical-nav-button {
    padding: 15px 0 !important;
    border-bottom: 1px solid #00384C !important;
}

.report-sidebar .vertical-nav-button i {
    margin: 3px 0 3px 0 !important;
}

.box {
    color: #fff;
    padding: 20px;
    display: block;
    margin-top: 20px;
}

#end-date span.glyphicon-calendar,
#start-date span.glyphicon-calendar {
    top: 9px !important;
}

.report-sidebar #side-navbar-tree {
    top: 52px !important;
    z-index: 999 !important;
    padding-bottom: 0px !important;
}

.option2 {
    display: none;
}

.input-search-textbox {
    height: 32px !important;
    border-radius: 5px !important;
}

.report-sidemenu {
    height: 100%;
}

.scroll-vertical {
    overflow-y: auto !important;
}

.osha-report-icon {
    margin-bottom: 10px;
}

.report-card {
    border: 1px solid #d1d6e0;
    border-radius: 5px;
}

.reporting-main-content .report-card .report-title {
    background: #728084 !important;
}

.report-flyout .fly-search {
    padding: 8px 15px !important;
}

    .report-flyout .fly-search input[type="search"] {
        padding: 8px 25px 8px 10px !important;
        background: #002330;
        border: 1px solid #314A53;
        color: #FFF;
    }

        .report-flyout .fly-search input[type="search"]::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #809197;
            opacity: 1;
            /* Firefox */
        }

        .report-flyout .fly-search input[type="search"]:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #809197;
        }

        .report-flyout .fly-search input[type="search"]::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #809197;
        }

.navbar {
    height: 50px;
    border-top: none;
    box-shadow: 0 0 0 0 #e6e6e6 !important;
    background: #fff;
}

.admin2 li a {
    margin-top: -28px;
}

.admin2 i {
    margin: 4px auto -13px;
}

#search-body .search-input input {
    border: 1px solid #CCC !important;
}

#reportCriteria {
    box-shadow: 0 0 0px 0 #666 !important;
    border: 1px solid #a1a1a1;
}

    #reportCriteria input,
    #reportCriteria select,
    #reportCriteria textarea {
        border: 1px solid #cccccc !important;
        /* height: 38px !important;*/
    }

    #reportCriteria .select2-search-field input.select2-input {
        border: 0px solid #cccccc !important;
    }

.admin2 li {
    min-width: 86px !important;
}

    .admin2 li a {
        padding: 30px 5px 0 5px !important;
    }

#search-body .search-button button {
    padding: 4px 0;
    margin-left: -35px !important;
}

#search-body .search-input input {
    width: 211px !important;
    font-size: 12px;
}

.navbar-form {
    padding: 0 20px !important;
}

.ms-parent.multiple-dropdown button div {
    top: 14px;
    right: 8px;
}

    .ms-parent.multiple-dropdown button div:after {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f107";
        float: right;
        font-size: 16px;
    }

.ms-search input {
    background-image: url('../images/icon-search.png.gif') !important;
    background-repeat: no-repeat !important;
}


/* Blue color theme */

.report-sidemenu {
    background: #005472 !important;
}

    .report-sidemenu li:hover {
        background: rgba(0, 56, 76, 0.5) !important;
    }

        .report-sidemenu li:hover i,
        .report-sidemenu li:hover a {
            color: #FFF !important;
        }

    .report-sidemenu li.active i,
    .report-sidemenu li.active a {
        color: #00BAFF !important;
    }

    .report-sidemenu li.active {
        background: #00384c !important;
        cursor: pointer;
    }

.report-flyout {
    background: #00384C !important;
}

.report-list .category-item {
    background: #00384C !important;
}

.adhoc-report-type li {
    border-bottom: 1px solid #022532;
}

#adhoc-report-type .adhoc-report-type li:first-child {
    background: #03242f;
}

#search-body .search-input input {
    border-radius: 5px;
}

.report-flyout .fly-search input[type="search"] {
    border-radius: 5px;
}

.edit-report-box {
    height: auto !important;
    border: 1px solid #ccc;
    top: 137px;
    position: absolute;
    height: auto !important;
    padding: 0;
    border: 1px solid #f1f1f1;
    box-shadow: 4px 4px 22px 0 #7d7d7d;
    border: 1px solid #cacaca;
    border-radius: 3px;
}

    .edit-report-box:after,
    .edit-report-box:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .edit-report-box:after {
        border-color: rgba(165, 165, 165, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }

    .edit-report-box:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #cacaca;
        border-width: 11px;
        margin-left: -11px;
    }

.form-control {
    /* height: 38px !important;*/
    border-radius: 3px !important;
}

#search-body .search-input input {
    height: 32px !important;
}

.reporting-main-content .report-card .report-title .report-card-menu {
    color: #ffffff !important;
}

#showBtn .fa.fa-angle-up {
    display: none;
}

.nav-tabs > li,
.edit-report-box > .nav-tabs > li > a {
    /* height: 38px !important;*/
}

.edit-report-box > .nav-tabs > li > a {
    color: #4a4a4a;
    background-color: transparent;
    text-align: center;
    border-top: 0px solid #08607A !important;
    border-left: 0px solid #08607A !important;
    border-right: 0px solid #08607A !important;
    border-bottom: 2px solid #FFF !important;
}

.edit-report-box > .nav-tabs > li {
    width: 33.33%;
}

    .edit-report-box > .nav-tabs > li.active > a,
    .edit-report-box > .nav-tabs > li.active > a:hover,
    .edit-report-box > .nav-tabs > li.active > a:focus {
        background-color: transparent !important;
        border-top: 0px solid #08607A !important;
        border-left: 0px solid #08607A !important;
        border-right: 0px solid #08607A !important;
        border-bottom: 2px solid #08607A !important;
        color: #08607A !important;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

.edit-report-box .nav > li > a:hover,
.edit-report-box .nav > li > a:focus {
    border: 1px solid #FFF;
    border-top: 0px solid #08607A !important;
    border-left: 0px solid #08607A !important;
    border-right: 0px solid #08607A !important;
    border-bottom: 0px solid #08607A !important;
    color: #08607A !important;
    background: #EEE;
}

.edit-report-box .tab-content {
    height: auto !important;
    border-top: 1px solid #d1d6e0;
}

.edit-report-box .edit-rpt-name input[type=text] {
    border: 1px solid #cccccc !important;
    position: relative;
    height: 32px;
    background-color: #FFF;
}

.edit-report-box .edit-rpt-name select {
    border: 1px solid #cccccc !important;
    /*height: 38px*/
}

.edit-report-box .edit-rpt-btns .cancel-btn:hover {
    box-shadow: inset 0 0 0 0 #d8d8d8;
}

.select2-container .select2-choice,
.select2-container .select2-choices,
#schedulereport .select2-choices {
    background-color: #f1f1f1 !important;
    border: 1px solid #cccccc !important;
    padding: 0;
    border-radius: 3px !important;
    /*max-height: 62px;
    overflow-y: auto;*/
}


/*.select2-container-multi .select2-choices .select2-search-field {
    height: 36px !important;
}
*/

.select2-container-multi .select2-choices .select2-search-field input {
    height: 30px !important;
}

.edit-report-box .edit-rpt-btns {
    border-top: 1px solid #cccccc;
    padding: 10px 0;
}

.edit-rpt-name label {
    padding: 8px 0;
}

#report-settings .redio-form-control {
    border: none;
    padding: 2px 0;
    height: 40px;
}

.main-report-button,
.main-report-button-osha {
    border: 1px solid #CCC;
}

.adhoc-page-heading {
    margin-top: 15px;
    font-weight: normal;
    color: #005472;
}


/* ADOC MENU Blue color theme END */

.leftNavbar .report-sidebar .vertical-nav-button:hover i,
.leftNavbar .report-sidebar .vertical-nav-button:hover span {
    color: #00BAFF !important;
}

.report-sidebar .vertical-hoc-menu .active {
    background: #00384C !important;
}

.leftNavbar .adhoc-report-type ul {
    background: #00384C;
}

.report-sidebar .vertical-nav-button:hover {
    background: #00384C !important;
}

.report-sidebar #side-navbar-tree {
    background-color: #03242f !important;
}

.report-sidebar .css-treeview label {
    border-top: 1px solid #002B3B !important;
}

.report-sidebar .css-treeview label {
    border-top: 1px solid #002B3B !important;
}

    .report-sidebar .css-treeview label:hover,
    .report-sidebar .css-treeview label:active,
    .report-sidebar .css-treeview label:focus {
        color: #00BAFF !important;
        background-color: #002C3C !important;
    }

.report-flyout .leftmenu-title-holder {
    height: 100px;
}

.report-flyout .leftmenu-title {
    color: #00baff;
    padding: 12px 15px;
    font-weight: bold;
    font-size: 15px;
    background: #00384c;
    border-bottom: 1px solid #0e3240;
}

.report-flyout .menu-toggel-button {
    position: absolute;
    right: -28px;
    top: 0;
    background: #00384C;
    padding: 10px;
    color: #FFF;
}

.report-flyout li.category-item:hover {
    color: #FFF !important;
}

.report-action-header {
    background-color: transparent;
    padding: 0;
}


/* Blue color theme END */

.report-flyout .fly-search:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
    float: right;
    font-size: 15px;
    color: #6b6b6b;
    position: absolute;
    top: 17px;
    right: 26px;
}

#report-name {
    margin-bottom: 0px;
}

#reporting-holder label {
    color: #757575 !important;
}
#reporting-holder #side-navbar-tree label {
    color: #f1f1f1 !important;
}

.export-popover .export-popover-holder {
    font-size: 13px;
}

    .export-popover .export-popover-holder span {
        font-size: 12px;
        font-style: italic;
    }

    .export-popover .export-popover-holder button {
        margin: 5px 0 !important;
    }

    .export-popover .export-popover-holder .export-button {
        border-top: 1px solid #CCC;
        text-align: center;
        margin-top: 10px;
    }

    .export-popover .export-popover-holder ul {
        padding: 0;
        margin: 0;
    }

    .export-popover .export-popover-holder li {
        list-style-type: none;
        padding: 1px 20px;
    }

    .export-popover .export-popover-holder ul li ul {
        padding-left: 0px;
        padding-bottom: 10px;
    }

.nav-tabs > li > a {
    border-radius: 0;
}

.modal-content {
    border-radius: 3px !important;
}

    .modal-content .modal-body h3 {
        font-size: 15px;
        padding: 0;
        margin: 0 0 5px 0;
        color: #6b6b6b;
        font-weight: bold;
    }

#queue-history,
#queue-current-status {
    height: 70%;
    border: 1px solid #CCC;
}

.modal-content .modal-header .modal-title {
    font-weight: bold;
}

.report-sidemenu {
    width: 85px !important;
}

.report-flyout {
    left: 85px !important;
}

.report-list .single-report-item a {
    padding: 10px 15px 10px 20px;
    display: block;
}

.report-flyout li.category-item {
    padding: 10px 15px 10px 20px !important;
}

.report-flyout .report-list .category-container li {
    padding: 0px !important;
}

    .report-flyout .report-list .category-container li a {
        padding: 10px 15px 10px 30px !important;
        display: block;
    }

.btn .caret {
    margin-left: 8px !important;
}

.caret {
    margin-left: 8px !important;
}

.chart-tab .nav-tabs li a {
    border-radius: 0;
    cursor: auto;
}

.chart-tab .nav-tabs li:first-child a {
    /*border-radius: 0 3px 0 0;*/
    border-radius: 0;
}

.chart-tab .nav-tabs li.active:last-child a {
    /*border-radius: 3px 0 0 0;*/
    border-radius: 0;
}

.chart-tab .nav-tabs li.active:first-child a {
    /*border-radius: 0 3px 0 0;*/
    border-radius: 0;
}

.chart-tab .nav-tabs li:last-child a {
    /* border-radius: 3px 0 0 0;*/
    border-radius: 0;
}

.chart-tab .nav-tabs li a {
    cursor: pointer;
}

.popover-content {
    padding: 2px 0 !important;
}

.report-sidebar #report-side-bar {
    display: none;
}
#side-navbar {
    display: block;
}

select option {
    padding: 10px 5px;
}

#sch-time-picker span.glyphicon-time,
#sch-date-picker span.glyphicon-calendar {
    top: 9px !important;
}

.edit-report-box .edit-rpt-btns .cancel-btn {
    padding: 6px 12px !important;
    text-transform: capitalize;
    margin: 0;
}

    .edit-report-box .edit-rpt-name input[type=text]:focus,
    .edit-report-box .edit-rpt-btns .cancel-btn:focus {
        outline: 0px solid #EEE !important;
    }

.nav-tabs > li > a {
    margin-right: 1px;
}

.table-wrapper table {
    margin-top: 20px;
    background-color: #ffffff;
}

.report-flyout-wrapper {
    /*position: relative;*/
    left: 55px;
}

#dismiss {
    position: fixed;
    top: 50px;
    left: 90px;
    padding: 10px 5px;
    background-color: #00384C;
    cursor: pointer;
    z-index: 1001;
    color: #fff;
    display: none;
    border-radius: 0 3px 3px 0;
}

    #dismiss.open {
        left: 380px;
        display: block;
    }

        #dismiss.open i:before {
            content: "\f104";
            font-size: 18px;
        }

    #dismiss.arrow-close {
        left: 90px;
        display: block;
    }

        #dismiss.arrow-close i:before {
            font-size: 18px;
        }

.horizontal-strip {
    width: 7px;
    height: 100%;
    position: fixed;
    background: #00384C;
    top: 50px;
    left: 85px;
    z-index: 999;
    display: none;
}


/*Summary Table Css END*/

.reporting-main-content .report-card #cardflip .report-description,
.reporting-main-content .report-card .cardflip .report-description {
    padding: 50px 15px 20px;
}

.plus-minus-button button {
    margin: 0 0px 0px 5px !important;
    height: 32px;
    width: 32px;
    border-radius: 3px;
    padding: 0;
}

    .plus-minus-button button .fa.fa-plus {
        font-size: 16px;
        color: #0b860f;
    }

    .plus-minus-button button .fa.fa-minus {
        font-size: 16px;
        color: #a94442;
    }

.datepicker table tr th {
    color: #4b97ae !important;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #2a849f !important;
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
    background-color: #2a849f !important;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
    color: #a2a2a2 !important;
}

.reporting-main-content .breadcrumb {
    padding: 3px 25px !important;
}

.reporting-main-content .breadcrumb-report {
    padding: 3px 15px !important;
}

.breadcrumb {
    padding: 3px 15px !important;
    margin-bottom: 0 !important;
    list-style: none;
    background-color: transparent !important;
}

    .breadcrumb a {
        color: #687184;
        font-size: 12px;
    }

#sharereport label,
#schedulereport label {
    padding: 5px 0;
}


/*Summary Table Css END*/

#queueStatusModal .loader-img img {
    width: 16px;
}

#reporting-container select,
#reporting-container #schedulereport select.form-control {
   
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: #EEE !important;
    background-image: url("../Images/select-dropdown-arrow.png") !important;
    background-repeat: no-repeat !important;
    background-position: bottom 10px right 8px !important;
}

.breadcrumb > li + li:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105" !important;
    float: right;
    font-size: 12px;
    color: #687184;
    padding: 0 5px 0 10px;
}

.breadcrumb > li:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f105" !important;
    float: right;
    font-size: 12px;
    color: #687184;
    padding: 0 5px 0 10px;
}

.breadcrumb > li + li:last-child:before {
    display: none;
}

.breadcrumb > .active {
    font-size: 12px;
}

.reporting-main-content .report-card #cardflip,
.reporting-main-content .report-card .cardflip {
    background: #6b7577 !important;
}

    .reporting-main-content .report-card #cardflip .report-card-button a,
    .reporting-main-content .report-card .cardflip .report-card-button a,
    .reporting-main-content .report-card #cardflip .report-card-button button,
    .reporting-main-content .report-card .cardflip .report-card-button button {
        background: #FF8300 !important;
        border-radius: 3px;
        height: 35px !important;
        line-height: 35px !important;
        padding: 0 15px !important;
        left: 29% !important;
    }

.reporting-main-content .report-card .report-graph i {
    color: #048dbf;
}

select.input-sm,
.input-sm {
    font-size: 13px !important;
    line-height: 13px !important;
}

#queueStatusModal .modal-dialog {
    height: 150% !important;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #cecece;
}

#queueStatusModal .modal-footer {
    width: 99.9%;
    left: 0;
    background: #FFF;
    padding: 8px 15px;
    border-top: 1px solid #cecece !important;
}

.function-button .dropdown-menu {
    top: 55px !important;
    border-radius: 3px !important;
    left: -32px;
}

    .function-button .dropdown-menu:after,
    .function-button .dropdown-menu:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .function-button .dropdown-menu:after {
        border-color: rgba(165, 165, 165, 0);
        border-bottom-color: #ffffff;
        border-width: 10px;
        margin-left: -10px;
    }

    .function-button .dropdown-menu:before {
        border-color: rgba(194, 225, 245, 0);
        border-bottom-color: #cacaca;
        border-width: 11px;
        margin-left: -11px;
    }

    .function-button .dropdown-menu > li > a:hover,
    .function-button .dropdown-menu > li > a:focus {
        background-color: #FFF;
    }

.ad-modal-inputs input[type=text] {
    border-radius: 3px;
    background: #f1f1f1;
    border: 1px solid #b9b9b9;
}

#schedulereport input[type="radio"],
input[type="checkbox"] {
    margin: 3px 6px 0;
}

.ms-drop.bottom input[type="checkbox"] {
    margin: -2px 6px 0;
}

h4.ad-modal-title {
    font-size: 15px;
    color: #6f6f6f;
    text-transform: initial;
}

.close {
    color: #6f6f6f;
    opacity: .5;
}

table th {
    border-right: 1px solid #9EB9BA;
}

table thead td {
    background-color: #B2C9D0;
    border-right: 1px solid #9EB9BA;
}

.select2-container-multi .select2-choices {
    max-height: 62px;
    min-width: 37px;
    overflow-y: auto;
}

#queueStatusModal hr {
    border-top: 1px solid #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.report-container {
    height: auto;
    margin-bottom: 80px !important;
}

.select2-drop {
    background: #f1f1f1;
}

#report-outer {
    z-index: 9;
    margin-top: 15px;
    float: left;
    width: 100%;
    height: 500px;
    display: none;
}

.bootstrap-datetimepicker-widget td,
.bootstrap-datetimepicker-widget th {
    height: 20px;
}

.timepicker-picker .fa.fa-chevron-up,
.timepicker-picker .fa.fa-chevron-down {
    color: #2a849f !important;
}

#user .select2-container,
.width-table-holder tbody #team .select2-container,
#role .select2-container,
#schRepUser .select2-container,
#schRepTeam .select2-container,
#schRepRole .select2-container {
    width: 100% !important;
}

/*----------------summary table Start---------------
.width-table-holder {
    overflow-x: scroll;
}
*/
.width-report-table {
    width: auto;
}

.summary-col {
    background-color: #E5E8EE;
}

    .summary-col:hover {
        background-color: #E5E8EE;
    }

    .summary-col td {
        padding: 3px 10px;
    }

.summary-holder {
    float: left;
}

.summary-head {
    float: left;
    padding: 5px 5px;
}

.summary-value {
    float: left;
    padding: 5px 20px;
    border-right: 1px solid #CCC;
    font-weight: bold;
}

.width-table-holder table {
    width: 100%;
}

.width-table-holder table,
.width-table-holder td {
    border-collapse: collapse;
}

.width-table-holder thead {
    display: table;
    width: calc(100%) !important;
    /* - 17px*/
}

.width-table-holder tbody {
    display: block;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.width-table-holder th {
    background: #b2c9d0;
    border-right: 1px solid #9EB9BA;
    max-width: 200px;
    min-width: 200px;
    padding: 10px;
}

.width-table-holder th,
.width-table-holder td {
    word-break: break-all;
}

.width-table-holder tr {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
}

    .width-table-holder tr:hover {
        background: #F3F3F3;
    }

.width-table-holder td {
    text-align: left;
    border-bottom: none;
    border-left: none;
    max-width: 200px;
    min-width: 200px;
    padding: 10px;
}

.adhocfield h6 {
    float: left;
    padding: 0;
    margin: 4px 0;
    width: 65%;
    line-height: 17px;
    cursor: pointer;
}

.adhocfield .sort-icon {
    float: right;
    cursor: pointer;
}

.adhocfield .move-icon {
    float: left;
    cursor: pointer;
}

    .adhocfield .move-icon .fa {
        padding: 4px 0px;
        width: 17px;
    }

.group-title {
    background: #d0dfe4;
    padding: 10px 5px;
    /* color: #FFF; */
    font-size: 14px;
}

.adhocfield .sort-icon .fa {
    margin: 5px;
}

.modal-header .close {
    font-size: 28px;
    margin-right: 5px;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    border: 1px solid #B2B2B2 !important;
    color: #B2B2B2 !important;
}

#adHocReportTitle {
    padding: 10px 10px;
    display: block;
}

.mandetory {
    color: red;
}

.report-holder #start-date,
.report-holder #end-date {
    margin-bottom: 7px;
}

#reportResult > div > div {
    margin: 0 auto !important;
}

body.modal-open {
    overflow: hidden;
}

.adhcdatepikar {
    position: absolute;
}

    .adhcdatepikar input {
        display: block;
        width: 100%;
        font-size: 13px;
        line-height: 1.42857;
        color: rgb(85, 85, 85);
        vertical-align: middle;
        background-color: rgb(255, 255, 255);
        background-image: none;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
        padding: 6px 12px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 3px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    }

    .adhcdatepikar span.glyphicon-calendar {
        position: absolute;
        right: 8px;
        top: 8px;
        margin: 0;
    }

.datepikar-float {
    float: left;
    width: 100%;
    height: 60px;
}

.adhcdatepikarpaddungset {
    padding: 0;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: -17px;
}

select::-ms-expand {
    display: none;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    display: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #cccccc 1px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select2-selection--multiple:after {
    border-top: 0px solid #888;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #dc3434;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    padding: 3px 5px;
}

.select2-container {
    width: 100% !important;
}
#tableLoadReport td i {
    cursor: pointer;
}


.chart {
    width: 100%;
    /*min-height: 750px;*/
    overflow: auto;
    display: block;
    float: left;
}

.overlay {
    background-color: #EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .4; /* in FireFox */
    filter: alpha(opacity=50); /* in IE */
    z-index:9999;
}
.osha-main-report .btn-primary[disabled] {
    color:#FFF!important;
}
.right-padding-8 {
    padding-right: 8px;
}
.bottom-padding-8 {
    padding-bottom: 8px;
}
.bg-white {
    background-color: #FFF;
}
.text-decoration-none {
    text-decoration: none;
}
.display-None {
    display:none;
}
.left-padding-0 {
    padding-left:0;
}
.right-padding-0 {
    padding-right: 0;
}
.padding-l-r-4 {
    padding-left: 4px;
    padding-right: 4px;
}

#startDate::-ms-clear,
#endDate::-ms-clear {
    display: none;
}

#administrationContainer .well .form-control {
    line-height: normal;
}
/*Desktop*/
@media (min-width: 768px) and (max-width: 1200px) {
}
    /*ipad*/
    @media (min-width: 768px) and (max-width: 1024px) {
        .form-control {
            padding: 6px 24px 6px 8px;
        }

        .adhc-report-date {
            width: 135px !important;
        }

        .adhcdatepikar {
            width: 100px !important;
        }

        .adhcdatepikarpaddungset {
            padding: 0 5px;
        }

        .p-l-r-10 {
            padding: 0 5px 0 10px;
        }
    }
    /*ipad*/
    @media (min-width: 768px) and (max-width: 992px) {
    }
    /*Mobile*/
    @media (max-width: 767px) {
    }
    /*----------------summary table End---------------*/
    @media (min-width: 768px) and (max-width: 1200px) {
        .report-action-header {
            height: auto !important;
        }
    }

    @media (min-width: 768px) and (max-width: 992px) {
        #report-name {
            margin-bottom: 10px !important;
        }

        .navbar-fixed-top .navbar-collapse {
            float: right;
            padding: 0px 15px;
        }

        .navbar-fixed-top {
            height: auto !important;
        }

        .report-sidemenu {
            top: 50px !important;
        }

        .return-triangle {
            top: 50px !important;
        }

        .reporting-main-content {
            /*padding-top: 20px;*/
        }

        .edit-report-box {
            top: 205px
        }

        .report-flyout {
            top: 50px;
        }

        .btn-round {
            margin: 10px 3px 10px !important;
        }

        .report-flyout-wrapper #dismiss {
            top: 50px;
        }

        .report-flyout-wrapper .horizontal-strip {
            top: 50px;
        }

        .navbar-header img.logo {
            max-height: 35px;
        }

        #search-body .search-input input {
            width: 195px !important;
        }

        .report-flyout .fly-search input[type="search"] {
            border-radius: 3px !important;
        }
    }

    @media (max-width: 767px) {
        .navbar-default .navbar-toggle {
            background-color: #738185;
            margin-right: 0px;
        }

            .navbar-default .navbar-toggle:hover,
            .navbar-default .navbar-toggle:focus {
                background-color: #738185;
            }

            .navbar-default .navbar-toggle .icon-bar {
                background-color: #fff;
            }

        .report-action-header {
            height: auto !important;
        }

        .navbar-fixed-top #navbar {
            background: #fff;
        }

        .navbar-fixed-top #navbar-nav {
            float: none;
            margin: 15px 0px;
        }

        #search-body .search-input input {
            width: 100%;
        }

        .admin2 li:first-child {
            margin-bottom: 10px;
        }

        .admin2 li {
            border-left: none;
        }

        .admin2 i {
            text-align: left;
            display: inline-block;
            margin: 15px auto;
        }

        .admin2 li a {
            padding: 5px 20px 5px 20px;
            text-align: left;
            display: inline-block;
            width: auto;
        }

        .pad-xs-0 {
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    @media (min-width: 992px) {
        #queueStatusModal .modal-lg {
            width: 900px;
        }
    }

    /*Fixed header table*/
.width-table-holder .width-report-table table {
    border-collapse: collapse;
    background: white;
    table-layout: fixed;
    width: 100%;
}

.width-table-holder .width-report-table {
    width: 100%;
    overflow-x: scroll;
}

    .width-table-holder .width-report-table th,
    .width-table-holder .width-report-table td {
        width: auto;
        max-width: 200px;
        min-width: 200px;
    }

    .width-table-holder .width-report-table tbody {
        overflow-y: scroll;
        overflow-x: hidden;
        display: block;
        max-height: 400px;
    }

    .width-table-holder .width-report-table thead {
        display: table-row;
    }

.popover-content-calendar {
    padding: 2px 10px !important;
}

#s2id_Duration {
    margin-bottom:5px !important;
}
#Migrate {
    border: none;
    background-color: #20b2aa;
    color: #fff;
    margin-right: 10px;
}

tbody#tableLoadReport tr td {
    padding-left: 20px;
}

.btn-delivery-options {
    background: #21A1C6 !important;
    color: #FFF !important;
    border: 0px solid #ccc !important;
    text-transform: uppercase;
    font-size: 12px !important;
}
    .btn-delivery-options:hover {
        background: rgba(33, 161, 198, 0.8) !important;
        -webkit-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
        -moz-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
        box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
    }
.btn-view-progress {
    background: #00BAFF !important;
    color: #FFF !important;
    border: 0px solid #ccc !important;
    text-transform: uppercase;
    font-size: 12px !important;
}
    .btn-view-progress:hover {
        background: rgba(0, 186, 255, 0.8) !important;
        -webkit-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
        -moz-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
        box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
    }
.btn-export {
    background: #FF8300 !important;
    color: #FFF !important;
    border: 0px solid #ccc !important;
    text-transform: uppercase;
    font-size: 12px !important;
}
    .btn-export:hover {
        background: rgba(255, 131, 0, 0.8) !important;
        -webkit-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
        -moz-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
        box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
    }
.btn-run-report {
    background: #08607A !important;
    color: #FFF !important;
    border: 0px solid #ccc !important;
    text-transform: uppercase;
    font-size: 12px !important;
}
    .btn-run-report:hover {
        background: rgba(8, 96, 122, 0.8) !important;
        -webkit-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
        -moz-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
        box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
    }

#reporting-container .panel-default > .panel-heading {
    background-color: #005472;
}

    #reporting-container .panel-default > .panel-heading:hover {
        background-color: #005472;
    }

#reporting-container .panel-default > .panel-heading {
    color: #FFF;
}
#reporting-container .panel-default > .panel-heading a:hover {
    color: #FFF;
    text-decoration:none;
}

#reporting-container .panel-group .panel {
    border-radius: 0 !important;
}

#reporting-container a:hover,
#reporting-container a:active,
#reporting-container a:focus {
    /*color: #FFF;*/
    text-decoration: none !important;
}

#reporting-container .panel-heading {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.panel-group .panel + .panel {
    margin-top: 0px !important;
}
/*POPUP Changes*/
#report-settings {
    background: #738185;
}

    
    #report-settings .note-text {
        color:#FFF;
    }

    #report-settings label {
        color: #FFF;
    }


    #report-settings .ok-btn {
        height: auto !important;
        color: #fff !important;
        background: #7ED321 !important;
        border-radius: 0px !important;
        font-size: 12px !important;
        margin: 5px;
        border: 0px solid #7ED321 !important;
        font-weight: bold;
        text-transform: uppercase;
    }

        #report-settings .ok-btn:hover {
            background: rgba(126, 211, 33, 0.8);
            -webkit-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
            -moz-box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
            box-shadow: inset 1px 1px 3px 0px rgba(34,34,34,0.35);
        }



#report-settings .cancel-btn {
    height: auto !important;
    color: #9B9B9B !important;
    background: transparent !important;
    border-radius: 0px !important;
    font-size: 12px !important;
    margin: 5px;
    border: 0px solid #FF8300 !important;
    font-weight: bold;
    text-transform: uppercase;
}

#report-settings .nav-tabs > li > a {
    line-height: 1.90;
}

.select2-container .select2-choice .select2-arrow,
.select2-container .select2-choice div {
    border-left: 0px solid #cccccc;
}

.reporting-container-adhoc .panel-heading,
#reporting-container .panel-heading {
    position: relative;
}

.reporting-container-adhoc .panel-heading[data-toggle="collapse"].collapsed:after,
#reporting-container .panel-heading[data-toggle="collapse"].collapsed:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

    .reporting-container-adhoc .panel-heading[data-toggle="collapse"]:after,
    #reporting-container .panel-heading[data-toggle="collapse"]:after {
        font-family: 'FontAwesome';
        content: "\f0d8"; /* "play" icon */
        position: absolute;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 22px;
        right: 20px;
        top: calc(50% - 10px);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .reporting-container-adhoc .panel-heading[data-toggle="collapse"].collapsed:after,
    #reporting-container .panel-heading[data-toggle="collapse"].collapsed:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

.report-category-content .report-list li.category-item {
    position: relative;
    border-bottom: 1px solid #292f30;
}

    .report-category-content .report-list li.category-item:after {
        font-family: 'FontAwesome';
        content: "\f0d8";
        position: absolute;
        color: #787878;
        font-size: 10px;
        line-height: 22px;
        right: 20px;
        top: calc(50% - 10px);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .report-category-content .report-list li.category-item.active:after {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .report-category-content .report-list li.category-item.active:after {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

.icon-sidebar {
    display: block;
    height: 30px;
    width: 30px;
    margin: 0 auto;
    background-repeat: no-repeat !important;
    text-align: center;
    background-position: center top !important  ;
}
.icon-operations {
    background-size: 100% 0;
    background: url("../images/icon01.svg");
}
.report-sidemenu li#operationSideBar:hover .icon-operations, 
.report-sidemenu li.active i.icon-operations {
    background: url("../images/icon01-over.svg");
}

.icon-business-intelligence {
    background-size: 100% 0;
    background: url("../images/icon02.svg");
}
.report-sidemenu li#biSideBar:hover .icon-business-intelligence,
.report-sidemenu li.active i.icon-business-intelligence {
    background: url("../images/icon02-over.svg");
}

.icon-forensic {
    background-size: 100% 0;
    background: url("../images/icon03.svg");
}
.report-sidemenu li#forensicSideBar:hover .icon-forensic,
.report-sidemenu li.active i.icon-forensic {
    background: url("../images/icon03-over.svg");
}

.icon-adHoc {
    background-size: 100% 0;
    background: url("../images/icon04.svg");
}
.report-sidemenu li#adhocSideBar:hover .icon-adHoc,
.report-sidemenu li.active i.icon-adHoc{
    background: url("../images/icon04-over.svg");
}

.icon-osha {
    background-size: 100% 0;
    background: url("../images/icon05.svg");
}
.report-sidemenu li#oshaSideBar:hover .icon-osha,
.report-sidemenu li.active i.icon-osha{
    background: url("../images/icon05-over.svg");
}

.icon-myreport {
    background-size: 100% 0;
    background: url("../images/icon06.svg");
}

.report-sidemenu li#loadSideBar:hover .icon-myreport,
.report-sidemenu li.active i.icon-myreport {
    background: url("../images/icon06-over.svg");
}



.report-sidemenu li:hover a {
    color: #00baff !important;
}
.icon-dashboard {
    display: block;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top:40px !important;
}
/*Business Intelligence Reports Icon*/
.bi-icon-one {
    background-image: url("../images/BI-report01.png");
}
.bi-icon-two {
    background-image: url("../images/BI-report02.png");
}
.bi-icon-three {
    background-image: url("../images/BI-report03.png");
}
.bi-icon-four {
    background-image: url("../images/BI-report04.png");
}

/*Forensic Reports Icon*/
.fo-icon-one {
    background-image: url("../images/fo-report01.png");
}

.fo-icon-two {
    background-image: url("../images/fo-report02.png");
}

.fo-icon-three {
    background-image: url("../images/fo-report03.png");
}


/*Operations Reports Icon*/
.Op-icon-one {
    background-image: url("../images/Op-report01.png");
}

.Op-icon-two {
    background-image: url("../images/Op-report02.png");
}

.Op-icon-three {
    background-image: url("../images/Op-report03.png");
}

.Op-icon-four {
    background-image: url("../images/Op-report04.png");
}


/*Save Reports Icon*/
.save-icon-one {
    background-image: url("../images/save-report01.png");
}

.save-icon-two {
    background-image: url("../images/save-report02.png");
}

.save-icon-three {
    background-image: url("../images/save-report03.png");
}

.save-icon-four {
    background-image: url("../images/save-report04.png");
}

#noty_topCenter_layout_container.i-am-new {
    display: block !important;
}

.breadcrumb a:hover, .breadcrumb a:active, .breadcrumb a:focus {
    color: #000000 !important;
    text-decoration: none !important;
}

.bottom-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(163,163,163,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(163,163,163,1);
    box-shadow: 0px 0px 5px 0px rgba(163,163,163,1);
    padding-bottom: 10px;
}

#editreport .setting-body, 
#sharereport .setting-body, 
#schedulereport .setting-body {
    padding: 8px 20px;
}

.invalidError {
    padding: 10px 10px 10px 50px;
    background: #ffe9e9;
    border: 1px solid #f00;
    color: #f00;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
}


.reporting-container-adhoc .fa-info-circle-icon,
#reporting-container .fa-info-circle-icon {
    padding: 3px 6px;
    background: #ff8300;
    text-align: center;
    border-radius: 50px;
    color: #FFF;
    font-size: 9px;
    margin-right: 5px;
    font-weight: bold;
}

.fa-info-circle-icon {
    padding: 3px 6px !important;
    background: #ff8300 !important;
    text-align: center !important;
    border-radius: 50px !important;
    color: #FFF !important;
    font-size: 9px !important;
    margin-right: 5px !important;
    font-weight: bold !important;
}
.reporting-container-adhoc .panel {
     border: 0px solid transparent; 
    margin-bottom: 2px;
}


#reporting-container .panel-group .panel.extra-report-fields {
    overflow: inherit;
    /*margin-bottom: 100px;*/
}

.reporting-container-adhoc .panel-group .panel.extra-report-fields {
    overflow: inherit;
    margin-bottom: 30px;
}

#reporting-container .ms-drop.bottom {
    max-height: 180px;
    margin-bottom: 30px;
}
.reporting-container-adhoc .ms-drop.bottom {
    max-height: 180px;
    margin-bottom: 30px;
}

.reporting-container-adhoc .panel-default > .panel-heading {
    background-color: #26617A;
}
    .reporting-container-adhoc .panel-default > .panel-heading:hover {
        background-color: #26617A;
    }

.reporting-container-adhoc .panel-group .panel {
    border-radius: 0 !important;
}

.reporting-container-adhoc .panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.reporting-container-adhoc .panel-default > .panel-heading {
    color: #FFF;
}
.reporting-container-adhoc .panel-default > .panel-heading a:hover {
    color: #FFF;
    text-decoration:none;
}

#reporting-container .ms-drop ul {
    margin-bottom: 20px;
    max-height: 124px !important;
}
.reporting-container-adhoc .ms-drop ul {
    margin-bottom: 20px;
    max-height: 124px !important;
}
.reporting-container-adhoc #report-settings .edit-rpt-name input[type=text],
#reporting-container #report-settings .edit-rpt-name input[type=text] {
    border-radius: 0 !important;
}

#editreport .edit-rpt-name input[type=text],
#sharereport .edit-rpt-name input[type=text],
#schedulereport .edit-rpt-name input[type=text],
#schedulereport .edit-report-box .edit-rpt-name input[type=text] {
    border-radius: 0 !important;
}

.reporting-container-adhoc #report-settings #schedulereport .select2-choices,
#reporting-container #report-settings #schedulereport .select2-choices,
.reporting-container-adhoc #report-settings #sharereport .select2-choices,
#reporting-container #report-settings #sharereport .select2-choices {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background-color: #FFF !important;
    background-image: url(../Images/select-dropdown-arrow.png) !important;
    background-repeat: no-repeat !important;
    background-position: bottom 10px right 8px !important;
}

/*.report-flyout .report-category-content {
    height: 71%;
}*/

#reporting-container .reporting-main-conten,
.reporting-container-adhoc .reporting-main-content {
    margin-bottom: 100px;
    float: left;
    width: 100%;
}


div#user .select2-container-disabled,
div#team .select2-container-disabled,
div#role .select2-container-disabled,
div#schRepUser .select2-container-disabled,
div#schRepTeam .select2-container-disabled,
div#schRepRole .select2-container-disabled {
    opacity: 0.6;
}

.mandatory-field {
    border: 1px solid #ff0000 !important;
}

.select2-container.form-control.mandatory-field a {
    border: 1px solid #ff0000 !important;
}

.form-control.select2-offscreen.mandatory-field {
    border: 0px solid #ff0000 !important;
}

.delete-confirmation-icon {
    margin: -4px 5px 0 0;
}
    .delete-confirmation-icon img {
        height: 100%;
        width: 100%;
    }

#reporting-container .text-required {
    font-size: 11px;
    color: red;
    display: none;
}

#reporting-container #run-report {
    margin-right:3px;
}
#reporting-container #accordion {
    margin-right: 2px;
}
#reporting-container #report-fields {
    margin-right: 0px;
}
/*This change is main top menu - ACCOUNT this change applyed all over appliction */
.admin2 li.myaccounthead {
    margin-right: -8px;
}

.Select-menu-outer {
    top: auto;
    bottom: 100%;
    margin-top: 0px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: none;
}

.Select-control {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.scroll-vertical {
    overflow-y: scroll;
    overflow-x: hidden
}

#reporting-container .scroll-vertical::-webkit-scrollbar {
    width: 9px;
    background-color: transparent;
}
#reporting-container .scroll-vertical::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: transparent;
}
#reporting-container .scroll-vertical::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #d3d3d3
}


/*body::-webkit-scrollbar {
    width: 9px;
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #d3d3d3
}*/

/*tooltip-msg*/

.tooltip-msg {
    position: relative;
    display: inline-block;
}

    .tooltip-msg .tooltiptext-msg {
        visibility: hidden;
        width: 245px;
        background-color: #21a1c6;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 0;
        margin-left: -18px;
    }

        .tooltip-msg .tooltiptext-msg::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 10%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #21A1C6 transparent transparent transparent;
        }

    .tooltip-msg:hover .tooltiptext-msg {
        visibility: visible;
    }

.report-sidemenu {
    min-height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.report-sidemenu::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

    .report-sidemenu::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 5px;
        background-color: transparent;
    }

    .report-sidemenu::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #d3d3d3
    }
.invalidError {
    padding: 10px 10px 10px 50px;
    background: #ffe9e9;
    border: 1px solid #f00;
    color: #f00;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 50px;
    height: 400px;
    width: 1200px;
}

#reporting-container .tablesorter-filter-row.tablesorter-ignoreRow,
#reporting-container .tablesorter-filter {
    display: none;
}

#reporting-container .tablesorter-no-sort {
    text-align: left;
}

#reporting-container .tablesorter-header-inner,
#reporting-container #table2 tbody tr td.tablesorter-header-inner {
    width: 160px !important;
}

#reporting-container .tablesorter-blue .tablesorter-no-sort th,
#reporting-container .tablesorter-blue .tablesorter-no-sort thead td {
    background: #c7c7c7;
}

#reporting-container .tablesorter-blue tbody td,
#reporting-container .tablesorter-blue tfoot th,
#reporting-container .tablesorter-blue tfoot td {
    padding: 10px 5px;
    vertical-align: top;
}

#reporting-container .tablesorter-blue .header,
#reporting-container .tablesorter-blue .tablesorter-header {
    padding: 10px 5px;
}

#reporting-container .tablesorter-blue {
    width: 100%;
    background-color: #fff;
    margin: 0;
    text-align: left;
    border-spacing: 0;
    border: #cdcdcd 0 solid;
    border-width: 0;
}

    #reporting-container .tablesorter-blue th {
        padding: 10px 5px;
        width: 300px !important;
    }


#reporting-container .tablesorter-no-sort tr th {
    text-align: left
}


#reporting-container .dataTables_info,
#reporting-container .dataTables_paginate,
#reporting-container .dataTables_length,
#reporting-container .dataTables_filter,
#reporting-container .tablesorter-filter-row.tablesorter-ignoreRow {
    display: none;
}


#reporting-container .dataTables_scrollHead {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

#reporting-container .box-hide-scroll {
    width: 20px;
    height: 39px;
    background: #99bfe6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

/*************
  Blue Theme
 *************/

    .tablesorter-blue .header,
    .tablesorter-blue .tablesorter-header {
        /* black (unsorted) double arrow */
        background-image: url(data:image/gif;base64,R0lGODlhCwAPAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAALAA8AAAIUlI+pCWsAF5xsUoedvWfLqGXiqBQAOw==);
        /* white (unsorted) double arrow */
        /* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
        /* image */
        /* background-image: url(images/black-unsorted.gif); */
        background-repeat: no-repeat;
        background-position: center right;
        /*padding: 4px 18px 4px 4px;*/
        white-space: normal;
        cursor: pointer;
    }

    .tablesorter-blue .headerSortUp,
    .tablesorter-blue .tablesorter-headerSortUp,
    .tablesorter-blue .tablesorter-headerAsc {
        background-color: #9fbfdf;
        /* black asc arrow */
        background-image: url(data:image/gif;base64,R0lGODlhCwAPAJEAAAAAAP///8UBAf///yH5BAEAAAMALAAAAAALAA8AAAISnI+py+0omphr2mQzzPT5Dy4FADs=);
        /* white asc arrow */
        /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
        /* image */
        /* background-image: url(images/black-asc.gif); */
    }

    .tablesorter-blue .headerSortDown,
    .tablesorter-blue .tablesorter-headerSortDown,
    .tablesorter-blue .tablesorter-headerDesc {
        background-color: #8cb3d9;
        /* black desc arrow */
        background-image: url(data:image/gif;base64,R0lGODlhCwAPAJEAAAAAAP///8UBAf///yH5BAEAAAMALAAAAAALAA8AAAISnI+py+0johRoymTXZfT5DzoFADs=);
        /* white desc arrow */
        /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
        /* image */
        /* background-image: url(images/black-desc.gif); */
    }

    /* table processing indicator */
    .tablesorter-blue .tablesorter-processing {
        background-position: center center !important;
        background-repeat: no-repeat !important;
        /* background-image: url(images/loading.gif) !important; */
        background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;
    }


.hr-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.wrapword {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}



.my-report-tab .nav > li > a:hover, .my-report-tab .nav > li > a:focus {
    background-color: #b9b9b9;
    color: #00baff;
    border-bottom: 1px solid #b9b9b9;
    box-sizing: border-box;
    height: 38px;
}
.my-report-tab .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    height: 38px;
    background: #b9b9b9 !important;
}
.my-report-tab .nav-tabs > li:hover {
    background: #b9b9b9 !important;
}
.my-report-tab .nav-tabs {
    border-bottom: 1px solid #ddd !important;
}
.my-report-tab .nav > li > a {
    position: relative;
    display: block;
    padding: 8px 15px 12px;
    color: #000;
}
.my-report-tab .nav > li > a:hover {
    color: #FFF;
}

.my-report-tab .width-table-holder table {
    width: 100% !important;
}

.my-report-tab .table {
    margin-bottom: 0;
}
.my-report-tab .table-wrapper table {
    margin-top: 0px;
}
.my-report-tab .dataTables_filter {
    display:none;
}

.hr-fax-inbound {
    border-top: 2px solid #e5e5e5 !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
}

.fax-inbound-radio-button-div {
    width: 3.333333% !important;
    padding-top: 1%;
}

.txt-area-fax-inbound-note {
    width: 100%;
    resize: both;
    white-space: inherit;
    text-align: left;
}

.txt-area-edit-fax-note {
    width: 100%;
    resize: none;
    white-space: inherit;
    text-align: left;
}

.fax-inbound-icon-padding {
    padding-top: 1%;
}

.edit-delete-fax-popup {
    width: 30%;
}

.fax-inbound-search {
    padding-top: 4%;
    font-size: 13px !important;
}

.fax-inbound-search-result {
    padding: 0px !important;
}

.fax-inbound-font-size {
    font-size: 13px !important;
}

.fax-inbound-sort-by-list {
    min-height: 35px !important;
    font-size: 13px !important;
    margin-bottom:1%;
}

.scrolldiv {
    max-height: 300px;
    overflow-y: scroll;
}

.fax-inbound-details-padding {
    padding-left: 1%;
    padding-right: 1%
}

.inbound-communication-search-list {
    width: 100%;
    max-height: 220px;
    overflow-y: scroll;
}

.hr-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.word-break {
    word-break: break-all;
}

.wrapword {
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap; /*Chrome & Safari */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    word-break: break-all;
    white-space: normal;
}