﻿.wiz-field-label {
    float: left;
    font: 27px/1.5 DNLTL;
    width: 450px;
    text-align: right;
    line-height: 100px;
    vertical-align: middle;
    margin-right: 20px;
    display: block !important;
}

.wiz-field-label label
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal !important;
    color: #555;
}

.help_span
{
    background-image: url(../Images/help.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 32px;
    width: 32px;
    background-size: contain;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: -6px;
    cursor: help;
}

.wiz-field-input input, .wiz-field-input select {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: #666;
    position: relative;
    width: 450px;
    font: 27px/1.5 DNLTL;
    margin: 20px 0 0 0;
    padding: 12px 0 10px 20px;
    border: none !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid rgba(255,255,255,0.6);
    box-shadow: 0 1px 8px #ccc;
    z-index: 1;
    float: left;
}

.btn-primary
{
    float: right;
    font-size: 27px;
    width: 250px;
}

.btn-secondary
{
    float: left;
    font-size: 27px;
    width: 250px;
}

fieldset
{
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
}

fieldset legend
{
    color: #aaa;
    text-align: right;
}

#wizard_container
{
    min-height: 600px;
}

.subtext
{
    display: inline-block;
    font-size: 2em;
    line-height: 100px;
    vertical-align: middle;
    padding-left: 5px;
    color: #666;
}

::-webkit-input-placeholder {
   color: #ddd;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ddd; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ddd;
}

:-ms-input-placeholder {  
  color: #ddd;
}

.switchery
{
    margin-top: 35px;
}

.logo_upload
{
    border: solid 1px #eee;
    border-radius: 2px;
    width: 48px;
    height: 48px;
    margin-left: 14px;
    margin-top: 27px;
    box-shadow: 2px 2px 4px #eee;
}