﻿@model AbsenceSoft.SelfService.Models.UserViewModel


@using (Ajax.BeginRouteForm("UpdateUser", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "updateUserDetails",
    InsertionMode = InsertionMode.ReplaceWith
}, new { id = "updateUserDetails" }))
{
    @Html.AntiForgeryToken()
<div class="row ess-headline">
        <div class="col-xs-12">
            <span class="fa fa-user ess-headicon"></span>
            <h1>My Account</h1>
        </div>
    </div>

    <div class="row ess-casebg">
        @if (Model.IsSSOUser)
        {
            <div class="col-xs-12 ess-caseinputs">
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.FirstName,new { @class= "formFld" })@Html.Label("firstName", Model.FirstName, new { @class = "formFldValue" })
                    </div>
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.LastName, new { @class = "formFld" })@Html.Label("lastName", Model.LastName, new { @class = "formFldValue" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.Email, new { @class = "formFld" })@Html.Label("email", Model.Email, new { @class = "formFldLongValue" })
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-xs-12 ess-caseinputs">
                <div class="row form-group">
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "errShow" })
                    </div>
                    <div class="col-xs-6">
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "errShow" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-12">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", ReadOnly = true})
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "errShow" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 form-group">
                <a href="#changePassword" class="btn btn-change-pw" data-toggle="collapse"><i class="fa fa-lock"> </i>@T("ESS.MyAccount.User.Index.ChangePassword", "Change password")  </a>
                <input type="submit" value="@T("ESS.MyAccount.User.UpdateUser.UpdateAccount", "Update Account")" class="btn essbtn-continue" />
            </div>
        }
    </div>
}