﻿@model AbsenceSoft.SelfService.Models.UserViewModel
<div class="row">
    <div class="col-md-7 col-xs-12 myaccountblock">
        @Html.Partial("UserForm")
    </div>
    <div class="col-md-5 col-xs-12">
        @if (CurrentUserHasPermission(Permission.ViewContact) || CurrentUserHasPermission(Permission.ViewEmployeeContactInfo))
        {
            @Html.Action("UserContacts")
        }
    </div>
</div>

