﻿@model AbsenceSoft.SelfService.Models.PasswordViewModel


@using (Ajax.BeginRouteForm("UpdateUserPassword", null, new AjaxOptions()
{
    HttpMethod = "POST",
    UpdateTargetId = "updateUserPassword",
    InsertionMode = InsertionMode.ReplaceWith
}, new { id = "updateUserPassword" }))
{
    @Html.AntiForgeryToken()
    <div class="row ess-headline">
        <div class="col-xs-12">
            <span class="fa fa-lock ess-headicon"></span>
            <h1>Change Password</h1>
        </div>
    </div>
    <div class="row ess-casebg">
        <div class="col-xs-12 ess-caseinputs">
            <div class="row form-group">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.CurrentPassword)
                    @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CurrentPassword, null, new { @class = "errShow" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "errShow" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-12">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "errShow" })
                </div>
            </div>
        </div>
        <div class="col-xs-12 term-error">
            @Html.ValidationSummary(true)
        </div>
        <div class="col-xs-12 form-group">
            <input type="submit" value="Update Password" class="btn essbtn-continue" />
        </div>
    </div>
    
}
