﻿@model IEnumerable<AbsenceSoft.SelfService.Models.ContactViewModel>

@if (CurrentUserHasPermission(Permission.ViewEmployeeContactInfo) || CurrentUserHasPermission(Permission.ViewContact))
{
<div class="row ess-headline mmt50">
    <div class="col-xs-12">
        <span class="fa fa-users ess-headicon"></span>
        <h1>My Contacts</h1>
        @if (CurrentUserHasPermission(Permission.CreateContact))
        {
            <button class="btn btn-userup pull-right" data-toggle="modal" data-target="#contactModal"><i class="fa fa-user-plus"></i></button>
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row myfam">
        @foreach (var contact in Model)
        {
            <div class="col-xs-6 well contact">
                @Html.HiddenFor(m => contact.Id, new { @class = "contactId" })
                @Html.TextBoxFor(m => contact.DateOfBirth, "{0:d}", new { @class = "contactDateOfBirth", type = "hidden" })
                @Html.HiddenFor(m => contact.RelationshipCode, new { @class = "contactRelationshipCode" })
            <div class="row">
                <div class="col-xs-12">
                        <h5><span class="contactFirstName">@contact.FirstName</span> <span class="contactLastName">@contact.LastName</span></h5>
                </div>                    
            </div>
            <div class="row">
                <div class="col-xs-12">
                        <p>Relationship: <span class="contactRelationship">@contact.RelationshipName</span></p>
                </div>                    
            </div>
            <div class="row">
                    <div class="col-xs-12 text-right fam-edits">
                        @if (CurrentUserHasPermission(Permission.EditEmployeeContactInfo) || CurrentUserHasPermission(Permission.EditContact))
                        {
                            <a href="#contactModal" data-toggle="modal" class="edit-contact"><i class="fa fa-pencil"></i></a>
                        }
                        @if ((CurrentUserHasPermission(Permission.EditEmployeeContactInfo) || CurrentUserHasPermission(Permission.EditContact)) &&
                             (CurrentUserHasPermission(Permission.DeleteContact)))
                        {
                            <span>|</span>
                        }
                        @if (CurrentUserHasPermission(Permission.DeleteContact))
                        { 
                            <a href="#deleteContactModal" data-toggle="modal" class="delete-contact"><i class="fa fa-trash"></i></a>
                        }
                </div>                    
            </div>        
            </div>
        }
        </div>
    </div>
</div>
}
<div class="row">


</div>
@Html.Partial("UserContactModal", new AbsenceSoft.SelfService.Models.ContactViewModel())

<div class="modal fade" tabindex="-1" role="dialog" id="deleteContactModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                <h4 class="modal-title uppercase">Confirm Contact Deletion</h4>
            </div>
            <input type="hidden" value="" id="deleteContactId" />
            <div class="modal-body">
                Are you sure that you want to delete the contact <span id="contactInfo"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default uppercase ess-attachclose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary uppercase ess-attachbtn" id="deleteContact">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->