﻿@model AbsenceSoft.SelfService.Models.UserViewModel

@Html.Partial("DetailsForm", Model)
<div id="changePassword" class="collapse">
    <br />    
    @Html.Partial("PasswordForm", new AbsenceSoft.SelfService.Models.PasswordViewModel())
</div>