﻿@model AbsenceSoft.SelfService.Models.ContactViewModel

@using (Ajax.BeginForm("SaveContact", "User", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "window.AbsenceSoft.ajaxSuccess" }))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" tabindex="-1" role="dialog" id="contactModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times"></span></button>
                    <h4 class="modal-title uppercase">Add New Contact</h4>
                </div>
                @Html.HiddenFor(m => m.Id, new { id="contactId"})
                <div class="modal-body ess-modalinp">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id="contactFirstName" })
                            @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "errShow" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            @Html.LabelFor(m => m.LastName)
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "contactLastName" })
                            @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "errShow" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            @Html.LabelFor(m => m.DateOfBirth)
                            @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control datepicker", id = "contactDateOfBirth" })
                            @Html.ValidationMessageFor(m => m.DateOfBirth, null, new { @class = "errShow" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.LabelFor(m => m.RelationshipCode)
                            @Html.RelationshipDropDownListFor(m => m.RelationshipCode, "Select a Type", new { @class = "form-control", id = "contactRelationship" })
                            @Html.ValidationMessageFor(m => m.RelationshipCode, null, new { @class = "errShow" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default uppercase ess-attachclose" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary uppercase ess-attachbtn" id="saveContact">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}