﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Request.IsAuthenticated)
{
    <div class="row">
        <div class="col-xs-12 text-center ess-loggedout">
            <?xml version="1.0" encoding="utf-8" ?>
            <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 408.3 95.3" style="enable-background:new 0 0 408.3 95.3;" xml:space="preserve">
<style type="text/css">
    .st0 {
        fill: #2A849F;
    }
</style>
<text transform="matrix(1 0 0 1 1039 452)" style="font-family:'ArialMT'; font-size:72px;">Lorem ipsum</text>
<g>
            <g>
            <g>
            <g>
            <circle class="st0" cx="23.5" cy="33.5" r="6.9" />



            <path class="st0" d="M33.5,52.3c0,8.9-6.3,21.6-10.1,21.6S12.9,61.3,12.9,52.4s6.7-10.8,10.5-10.8S33.5,43.4,33.5,52.3z" />



			</g>
            <g>
            <circle class="st0" cx="59.5" cy="33.5" r="6.9" />



            <path class="st0" d="M69.4,52.3c0,8.9-6.3,21.6-10.1,21.6c-3.8,0-10.5-12.6-10.5-21.5s6.7-10.8,10.5-10.8
					C63.2,41.6,69.4,43.4,69.4,52.3z" />



			</g>
            <g>
            <circle class="st0" cx="41.2" cy="25.1" r="8.7" />



            <path class="st0" d="M53.8,48.9c0,11.3-7.9,27.3-12.7,27.3S27.7,60.2,27.7,49S36.2,35.4,41,35.4S53.8,37.6,53.8,48.9z" />



			</g>
		</g>
	</g>
            <g>
            <path class="st0" d="M89.4,32.3l12.4,34.1h-2l-5.5-15H82.5l-5.6,15h-2.1l12.5-34.1H89.4z M93.6,49.5l-5.2-14.3l-5.2,14.3H93.6z" />



            <path class="st0" d="M104.2,32.3h1.9v16.1c0.4-0.5,0.8-0.9,1.2-1.4c2.3-2.3,5-3.4,8.3-3.4c3.2,0,6,1.1,8.3,3.4
			c2.3,2.3,3.4,5.1,3.4,8.3c0,3.2-1.1,6-3.4,8.3c-2.3,2.3-5,3.4-8.3,3.4c-3.2,0-6-1.2-8.3-3.5c-0.5-0.5-0.9-0.9-1.2-1.4v4.2h-1.9
			V32.3z M106.1,53.3v4c0.4,1.8,1.2,3.4,2.6,4.8c1.9,1.9,4.2,2.8,6.9,2.8c2.7,0,5-0.9,6.8-2.8c1.9-1.9,2.8-4.2,2.8-6.8
			c0-2.7-0.9-5-2.8-6.9c-1.9-1.9-4.2-2.8-6.8-2.8c-2.7,0-5,0.9-6.9,2.8C107.4,49.9,106.5,51.5,106.1,53.3z" />



            <path class="st0" d="M136.9,55.2c-1.6-0.9-2.8-1.6-3.4-2.3c-1-1-1.5-2.2-1.5-3.5c0-1.4,0.5-2.6,1.5-3.6c1-1,2.2-1.5,3.5-1.5
			c1.4,0,2.5,0.5,3.5,1.4c0.9,0.9,1.3,1.9,1.3,3v0.1l-1.7,0.7c-0.1-1.1-0.5-1.9-1-2.4c-0.5-0.5-1.2-0.8-2.1-0.8
			c-0.9,0-1.6,0.3-2.2,0.9c-0.6,0.6-0.9,1.3-0.9,2.2c0,0.9,0.3,1.6,0.9,2.2c0.4,0.4,1.1,0.9,2.2,1.6c1.8,1,3.1,1.9,3.9,2.6
			c1.2,1.2,1.8,2.7,1.8,4.4c0,1.7-0.6,3.2-1.8,4.4c-1.2,1.2-2.7,1.8-4.4,1.8c-1.7,0-3.2-0.6-4.4-1.8c-1.2-1.2-1.8-2.5-1.8-4l1.9-0.5
			c0,1.2,0.4,2.3,1.3,3.1c0.8,0.8,1.9,1.3,3,1.3c1.2,0,2.2-0.4,3-1.3c0.9-0.8,1.3-1.9,1.3-3.1c0-1.2-0.4-2.2-1.3-3
			C139.2,56.8,138.3,56.1,136.9,55.2z" />



            <path class="st0" d="M148,54.3c0,0.3-0.1,0.7-0.1,1.1c0,2.7,0.9,4.9,2.8,6.8c1.9,1.9,4.2,2.8,6.8,2.8c2.7,0,5-0.9,6.9-2.8
			c0.3-0.3,0.6-0.7,0.9-1l2.1,0.7c-0.2,0.4-0.7,1-1.5,1.7c-2.3,2.3-5.1,3.5-8.3,3.5c-3.2,0-6-1.1-8.3-3.4c-2.3-2.3-3.4-5-3.4-8.3
			c0-3.2,1.1-6,3.4-8.3c2.3-2.3,5-3.4,8.3-3.4c3.2,0,6,1.1,8.3,3.4c2,2,3,4.4,3,7.2H148z M148.4,52.3h18.4c-0.5-1.5-1.2-2.7-2.3-3.8
			c-1.9-1.9-4.2-2.8-6.9-2.8c-2.7,0-5,0.9-6.9,2.8C149.6,49.6,148.8,50.9,148.4,52.3z" />



            <path class="st0" d="M174.1,50.2v16.3h-1.9V45.5h1.9v1.4c1.7-1.7,3.8-2.6,6.1-2.6c2.5,0,4.5,0.8,6,2.3c1.6,1.6,2.3,3.5,2.4,5.9v14
			h-1.9V52.6c0-1.8-0.6-3.3-1.9-4.6c-1.3-1.3-2.8-1.9-4.6-1.9c-1.8,0-3.3,0.6-4.6,1.9C174.9,48.7,174.4,49.4,174.1,50.2z" />



            <path class="st0" d="M211.5,61.4l2,0.7c-0.4,0.5-0.8,1-1.3,1.4c-2.3,2.3-5.1,3.5-8.3,3.5c-3.2,0-6-1.1-8.3-3.4
			c-2.3-2.3-3.4-5.1-3.4-8.3c0-3.2,1.1-6,3.4-8.3c2.3-2.3,5-3.4,8.3-3.4c3.2,0,6,1.1,8.3,3.4c0.5,0.5,0.9,0.9,1.3,1.4l-2,0.7
			c-0.2-0.3-0.4-0.5-0.7-0.8c-1.9-1.9-4.2-2.8-6.9-2.8c-2.7,0-4.9,0.9-6.8,2.8c-1.9,1.9-2.8,4.2-2.8,6.8c0,2.7,0.9,5,2.8,6.8
			c1.9,1.9,4.2,2.8,6.8,2.8c2.7,0,5-0.9,6.9-2.8C211.1,61.9,211.3,61.7,211.5,61.4z" />



            <path class="st0" d="M218.1,54.3c0,0.3-0.1,0.7-0.1,1.1c0,2.7,0.9,4.9,2.8,6.8c1.9,1.9,4.2,2.8,6.8,2.8c2.7,0,5-0.9,6.9-2.8
			c0.3-0.3,0.6-0.7,0.9-1l2.1,0.7c-0.2,0.4-0.7,1-1.5,1.7c-2.3,2.3-5.1,3.5-8.3,3.5c-3.2,0-6-1.1-8.3-3.4c-2.3-2.3-3.4-5-3.4-8.3
			c0-3.2,1.1-6,3.4-8.3c2.3-2.3,5-3.4,8.3-3.4c3.2,0,6,1.1,8.3,3.4c2,2,3,4.4,3,7.2H218.1z M218.5,52.3h18.4
			c-0.5-1.5-1.2-2.7-2.3-3.8c-1.9-1.9-4.2-2.8-6.9-2.8c-2.7,0-5,0.9-6.9,2.8C219.8,49.6,219,50.9,218.5,52.3z" />



            <path class="st0" d="M251.2,34.3v32.2h-1.9V34.3h-8.6v-1.9h19.2v1.9H251.2z" />



            <path class="st0" d="M269.4,47.2c-1.4,0.2-2.7,1.1-4,2.6c-1.3,1.5-2,3.1-2,4.6v12h-1.9V45.5h1.9V50c0.8-2.1,2.5-3.7,4.9-4.7
			L269.4,47.2z" />



            <path class="st0" d="M294.3,66.4h-1.9v-4.3c-0.4,0.5-0.8,1-1.2,1.4c-2.3,2.3-5.1,3.5-8.3,3.5c-3.2,0-6-1.1-8.3-3.4
			c-2.3-2.3-3.4-5-3.4-8.3c0-3.2,1.1-6,3.4-8.3c2.3-2.3,5-3.4,8.3-3.4c3.2,0,6,1.1,8.3,3.4c0.4,0.5,0.8,0.9,1.2,1.4v-3h1.9V66.4z
			 M292.4,57.2v-3.8c-0.4-1.9-1.2-3.5-2.7-4.9c-1.9-1.9-4.2-2.8-6.9-2.8c-2.7,0-5,0.9-6.8,2.8c-1.9,1.9-2.8,4.2-2.8,6.9
			c0,2.7,0.9,4.9,2.8,6.8c1.9,1.9,4.2,2.8,6.8,2.8c2.7,0,5-0.9,6.9-2.8C291.1,60.7,292,59.1,292.4,57.2z" />



            <path class="st0" d="M316.9,61.4l2,0.7c-0.4,0.5-0.8,1-1.3,1.4c-2.3,2.3-5.1,3.5-8.3,3.5c-3.2,0-6-1.1-8.3-3.4
			c-2.3-2.3-3.4-5.1-3.4-8.3c0-3.2,1.1-6,3.4-8.3c2.3-2.3,5-3.4,8.3-3.4c3.2,0,6,1.1,8.3,3.4c0.5,0.5,0.9,0.9,1.3,1.4l-2,0.7
			c-0.2-0.3-0.4-0.5-0.7-0.8c-1.9-1.9-4.2-2.8-6.9-2.8c-2.7,0-4.9,0.9-6.8,2.8c-1.9,1.9-2.8,4.2-2.8,6.8c0,2.7,0.9,5,2.8,6.8
			c1.9,1.9,4.2,2.8,6.8,2.8c2.7,0,5-0.9,6.9-2.8C316.5,61.9,316.7,61.7,316.9,61.4z" />



            <path class="st0" d="M332.8,45.5l-5.2,6.4l8.2,14.6h-2.4l-7.1-13l-1.9,2.3v10.7h-1.9V36.6h1.9v16.1l5.8-7.2H332.8z" />



            <path class="st0" d="M338,54.3c0,0.3-0.1,0.7-0.1,1.1c0,2.7,0.9,4.9,2.8,6.8c1.9,1.9,4.2,2.8,6.8,2.8c2.7,0,5-0.9,6.9-2.8
			c0.3-0.3,0.6-0.7,0.9-1l2.1,0.7c-0.2,0.4-0.7,1-1.5,1.7c-2.3,2.3-5.1,3.5-8.3,3.5c-3.2,0-6-1.1-8.3-3.4c-2.3-2.3-3.4-5-3.4-8.3
			c0-3.2,1.1-6,3.4-8.3c2.3-2.3,5-3.4,8.3-3.4c3.2,0,6,1.1,8.3,3.4c2,2,3,4.4,3,7.2H338z M338.4,52.3h18.4c-0.5-1.5-1.2-2.7-2.3-3.8
			c-1.9-1.9-4.2-2.8-6.9-2.8c-2.7,0-5,0.9-6.9,2.8C339.7,49.6,338.9,50.9,338.4,52.3z" />



            <path class="st0" d="M369.6,47.2c-1.4,0.2-2.7,1.1-4,2.6c-1.3,1.5-2,3.1-2,4.6v12h-1.9V45.5h1.9V50c0.8-2.1,2.5-3.7,4.9-4.7
			L369.6,47.2z" />



	</g>
            <g>
            <path class="st0" d="M378.6,46.1v-7.7h-2.9v-1.3h7.4v1.3h-3v7.7H378.6z M384.1,46.1v-9.1h2.2l2.3,7.3l2.2-7.3h2.2v9.1h-1.4v-7.6
			l-2.3,7.6h-1.4l-2.4-7.7v7.7H384.1z" />



	</g>
</g>
</svg>


        </div>
    </div>
}


<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 text-center login-box">
        @RenderBody()
    </div>

</div>
