﻿@model AbsenceSoft.SelfService.Models.TimeOffRequestViewModel
<div class="row ess-casebg">
    <div class="col-sm-offset-1 col-lg-offset-2 col-sm-10 col-lg-8 col-xs-12">

        <div class="col-sm-6 col-xs-12 col-lg-6 ess-caseinputs">
            <div class="mt20">
                @Html.LabelFor(m => m.IntermittentType)
                @Html.EnumDropDownListFor(m => m.IntermittentType, new { @class = "form-control", tabindex = "1", Name = "IntermittentType_" + Model.ItorId, @id = "IntermittentType_" + Model.ItorId })
                <div class="intermittent-type-error_@Model.ItorId hidden errShow">Select the reason for your time off</div>
            </div>

            <div class="mt20">
                <div class="row">
                    <div class="col-sm-4 col-wrap">
                        @Html.LabelFor(m => m.StartTimeForLeave, new { @class = "control-label", @id = @Model.ItorId })
                    </div>
                    <div class="col-sm-7 col-wrap ">
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="start-time-picker_@Model.ItorId" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                        <div class="start-time-error_@Model.ItorId hidden">
                        </div>
                        @Html.HiddenFor(m => m.StartTimeForLeave, new { Name = "StartTimeForLeave_" + Model.ItorId, @id = "StartTimeForLeave_" + Model.ItorId })
                    </div>
                </div>
            </div>

            <div class="mt20">
                <div class="row">
                    <div class="col-sm-4 col-wrap">
                        @Html.LabelFor(m => m.EndTimeForLeave, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7 col-wrap ">
                        <div class="input-group bootstrap-timepicker timepicker">
                            <input id="end-time-picker_@Model.ItorId" type="text" class="form-control input-small">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                        <div class="end-time-error_@Model.ItorId hidden">
                        </div>
                        @Html.HiddenFor(m => m.EndTimeForLeave, new { Name = "EndTimeForLeave_" + @Model.ItorId, @id = "EndTimeForLeave_" + @Model.ItorId })
                    </div>
                </div>
            </div>

            <div class="mt20">
                @Html.LabelFor(m => m.TimeOff)
                @Html.TextBoxFor(m => m.TimeOff, new { @class = "form-control", Name = "timeOff_" + @Model.ItorId, @id = "timeOff_" + @Model.ItorId, tabindex = "8" })
                <div class="time-off-error_@Model.ItorId hidden errShow">Time Off is Required</div>
            </div>

            <div class="mt20">
                @Html.LabelFor(m => m.DateOff)
                @Html.TextBoxFor(m => m.DateOff, new { @class = "form-control", Name = "dateOff_" + @Model.ItorId, @id = "dateOff_" + @Model.ItorId, tabstop = "false", tabindex = "9" })
                <div class="date-off-error_@Model.ItorId hidden errShow">Date Off Time is Required</div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-6 tor-cal">
            @Html.HiddenFor(m => m.Id, new { Name = "Id_" + @Model.ItorId, Value = "", id = "Id_" + @Model.ItorId })
        </div>
        <div class="col-xs-12 tor-error">
            <div id="errors_@Model.ItorId" class="case-error hide"></div>
        </div>
        <div class="col-xs-12 col-sm-7 text-center uppercase mt20">
            @Html.RouteLink("Cancel", (string)ViewBag.HomeRoute, null, new { @class = "btn btn-default uppercase ess-attachclose", tabindex = "11" })
            <button type="button" id="submit" value="@Model.ItorId" class="btn btn-primary uppercase ess-attachbtn save-button_@Model.ItorId">Submit</button>
            <button type="button" id="remove" value="@Model.ItorId" class="btn btn-primary uppercase ess-attachbtn remove-button_@Model.ItorId">Remove</button>
        </div>
    </div>
</div>