﻿@model List<AbsenceSoft.SelfService.Models.TodoViewModel>
<div id="todo" class="row well">
    <div class="col-sm-2 col-lg-1 hidden-xs">
        <i class="fa fa-list large-side-icons pending  translucent-icon case-status-icons"></i>
    </div>
    <div class="col-sm-10 col-lg-11 col-xs-12">
        <div class="row uppercase">
            <div class="pull-left ess-caseheader heading-text-color">
                TO-DO's
            </div>
        </div>
        <div class="">
            <div class="row mobile-bt">
                <div class="row uppercase">
                    <div class="col-sm-12 border column-todo-right">
                        <div class="row row-filter" id="todoFilters">
                            <div id="EmployeeName" class="col-sm-2">
                                <label class="uppercase teal-dark">Employee</label>
                                <input id="EmployeeName" type="text" class="form-control filter"  placeholder="Filter" />
                            </div>
                            <div class="col-sm-2">
                                <label class="uppercase teal-dark">To-Do</label>
                                <input id="Todos" type="text" class="form-control filter" placeholder="Filter" />
                            </div>
                            <div class="col-sm-2">
                                <div class="field-input input-group date">
                                    <label class="uppercase teal-dark">     Due Date</label>
                                    <input type="text" id="ToDoFilterDue"  name="ToDoFilterDue" class="form-control input-sm filter" at-datepicker-popup="MM/dd/yyyy" datepicker-options="dateOptions" show-button-bar="true" placeholder="On" />
                                </div>
                            </div>
                            <div class="col-sm-2" >
                                <label class="uppercase teal-dark">      Status</label>
                                <select id="Status" class="form-control filter">
                                    <option value="All" label="All">All</option>
                                    <option value="Complete" label="Complete">Complete</option>
                                    <option value="Overdue" label="Overdue">Overdue</option>
                                    <option value="Cancelled" label="Cancelled">Cancelled</option>
                                    <option value="Open" label="Open">Open</option>
                                    <option value="Pending" label="Pending">Pending</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <label class="uppercase teal-dark">      Assignee</label>
                                <input id="AssignedToName" type="text" class="form-control filter" placeholder="Filter" />
                            </div>
                            <div class="col-sm-2">
                                <label class="uppercase teal-dark">      Employer</label>
                                <select id="Employer" class="form-control filter">
                                    <option value="">All</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="table-scroll">
                    <table id="myTable">
                        @foreach (var todos in Model)
                        {
                            <tbody id="myTable">
                                <tr id="myTable">
                                    <td class="col-sm-2 col-xs-2 remove-padding ">@todos.EmployeeName</td>
                                    <td class="col-sm-2 col-xs-2 remove-padding-1"> @todos.Title</td>
                                    <td class="col-sm-2 col-xs-2 ">@todos.DueDate</td>
                                    <td class="col-sm-2 col-xs-2 add-padding"> @todos.Status</td>
                                    <td class="col-sm-2 col-xs-2 add-padding-1">@todos.AssignedToName</td>
                                    <td class="col-sm-2 col-xs-2 add-padding-2">@todos.EmployerName</td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


