﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title  Unsecure</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row footer-link-wrap">
                Powered by <a href="http://www.absencesoft.com"><img src="@Url.Content("~/Content/Images/absenceSoft-logo.png")" alt="absenceSoft" /></a>
            </div>
            <div class="row copyright">
                &copy; @DateTime.Now.Year - AbsenceSoft LLC
            </div>
        </div>
    </footer>
</body>
</html>