﻿@model IEnumerable<AbsenceSoft.SelfService.Models.Cases.AttachmentViewModel>

@if (CurrentUserHasPermission(Permission.ViewAttachment) && Model.Count() > 0)
{
    <div class="ess-attached">
        <ul>
            @foreach (var attachment in Model)
            {
                <li>
                    <a href="@Url.RouteUrl("DownloadCaseAttachment", new {caseId = attachment.CaseId, attachmentId = attachment.Id})">
                        @attachment.FileName
                        <span class="fa fa-download"></span>
                    </a>
                    @if (CurrentUserHasPermission(Permission.DeleteAttachment))
                    {
                    <a href="@Url.RouteUrl("DeleteAttachment", new { caseId = attachment.CaseId, attachmentId = attachment.Id})" class="attachment-delete">
                        <span class="fa fa-trash"></span>
                    </a>
                    }
                </li>
            }
        </ul>
    </div>
}


