﻿@model AbsenceSoft.SelfService.Models.CaseViewModel

<div class="row well">
    <div class="col-sm-1 hidden-xs">
        @{
            string attachmentModalId = string.Format("attachmentModal{0}", Model.Id);
            string notesCollapseId = string.Format("notesCollapse{0}", Model.Id);
            string newNoteCollapseId = string.Format("new{0}", notesCollapseId);
            string faIcon = null;
            switch (Model.Determination)
            {
                case AbsenceSoft.Data.Enums.AdjudicationStatus.Pending:
                    faIcon = "fa-circle-thin";
                    break;
                case AbsenceSoft.Data.Enums.AdjudicationStatus.Approved:
                    faIcon = "fa-check-circle";
                    break;
                case AbsenceSoft.Data.Enums.AdjudicationStatus.Denied:
                    faIcon = "fa-ban";
                    break;
            }
        }
        <span class="fa @faIcon @Model.Determination.ToString().ToLower()  translucent-icon case-status-icons"></span>
    </div>
    <div class="col-sm-11 col-xs-12">
        <div class="row uppercase">
            <div class="pull-left ess-caseheader">
                @if (Model.Employee != null)
                {
                    <span class="mobile-casehead">
                        <a href="@Url.RouteUrl("ViewEmployee", new {employeeId = Model.EmployeeId})">
                            @Html.DisplayFor(m => Model.Employee.FirstName)<text> </text>@Html.DisplayFor(m => Model.Employee.LastName)
                        </a><text class="no-mobile">|</text>
                    </span>
                }
                <a href="@Url.RouteUrl("ViewCase", new {caseId = Model.Id})">
                    <span class="ess-caseid">@Html.DisplayNameFor(m => Model.CaseNumber) #@Html.DisplayFor(m => Model.CaseNumber)</span> | <span class="f16 @Model.Status.ToString().ToLower()">@Html.DisplayFor(m => Model.Status)</span>
                </a>
            </div>
            <div class="pull-right mobile-icons">
                @if (CurrentUserHasPermission(Permission.AttachFile))
    {
            <a href="#@attachmentModalId" data-toggle="modal">
                <span class="fa fa-paperclip brand icon"></span>
            </a>
}
                @if (CurrentUserHasPermission(Permission.ViewNotes))
                {
                    <a href="#@notesCollapseId" data-toggle="collapse">
                        <span class="fa fa-pencil icon"></span>
                    </a>
                }              
                @Html.HiddenFor(m => m.EmployeeId)
                @Html.HiddenFor(m => m.CaseNumber)
                @if (Request.RawUrl.Contains("") && Model.Determination != AbsenceSoft.Data.Enums.AdjudicationStatus.Denied && Model.Type == CaseType.Intermittent.ToString())
                {
                    @Html.ActionLink(" ", "TimeOffRequest", "Request", new { caseId = Model.Id, employeeId = Model.EmployeeId }, new { @class = "fa fa-clock-o icon", @title = "Add Time Off Request" })
                }
            </div>
        </div>
        <div class="row mobile-bt">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                    <div class="row">
                        <div class="col-sm-5 col-xs-12">
                            <span class="uppercase teal-dark">
                                Dates:
                            </span>
                            @Html.DisplayFor(m => Model.StartDate) - 
                            @if (Model.EndDate.HasValue)
                            {
                                @Html.DisplayFor(m => m.EndDate)
                            }else
                            {
                                <text>No End Date</text>
                            }
                        </div>
                        <div class="col-xs-12 visible-xs">
                            <span class="uppercase teal-dark">
                                @Html.DisplayNameFor(m => Model.ReturnToWorkDate):
                            </span>
                            @Html.DisplayFor(m => Model.ReturnToWorkDate)
                        </div>
                        <div class="col-sm-7 col-xs-12">
                            <span class="uppercase teal-dark">
                                @Html.DisplayNameFor(m => Model.Reason):
                            </span>
                            @Html.DisplayFor(m => Model.Reason)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5 hidden-xs">
                            <span class="uppercase teal-dark">
                                @Html.DisplayNameFor(m => Model.ReturnToWorkDate):
                            </span>
                            @Html.DisplayFor(m => Model.ReturnToWorkDate)
                        </div>
                        <div class="col-sm-7 col-xs-12">
                            <span class="uppercase teal-dark">
                                @Html.DisplayNameFor(m => Model.Type):
                            </span>
                            @Html.DisplayFor(m => Model.Type)
                        </div>
                    </div>                   
                </div>
                <div class="col-sm-5 col-xs-12 text-break">
                    @if (CurrentUserHasPermission(Permission.ViewCaseDescription))
                    {
                        <span class="uppercase teal-dark">
                            @Html.DisplayNameFor(m => Model.Description):
                        </span>
                        @Html.DisplayFor(m => Model.Description)
                    }
                </div>
            </div>
            

            <div class="row">
                <hr />
            <div class="row">
                @if (Model.IsWorkRelated)
                {
                <hr />
                <div class="col-xs-12">                    
                    OSHA Work Related Report  <a href="@Url.RouteUrl("ViewCase", new { caseId = Model.Id, osha = 1 })"><i class="fa fa-pencil pending"></i></a>
                </div>
                }
            </div>
            @Html.Partial("CaseAttachments", Model.Attachments)
            @if (CurrentUserHasPermission(Permission.ViewNotes))
            {
                <div id="@notesCollapseId" class="collapse ess-notes">
                    <div class="row">
                        <div class="col-xs-12 note-close">
                            <a href="#@notesCollapseId" data-toggle="collapse">
                                <span class="fa fa-chevron-up pull-right"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            @Html.Partial("CaseNotes", Model.Notes)
                        </div>
                    </div>
                    @if (CurrentUserHasPermission(Permission.CreateNotes))
                {
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <button class="btn btn-default btn-note" data-target="#@newNoteCollapseId" data-toggle="collapse"><i class="fa fa-plus"></i> New Note</button>
                            </div>
                        </div>
                        <div class="row collapse new-note-collapse" id="@newNoteCollapseId">
                            <div class="col-xs-12">
                                @Html.Partial("NoteForm", new AbsenceSoft.SelfService.Models.Cases.NoteViewModel()
                       {
                           CaseId = Model.Id
                       })
                            </div>
                        </div>
                    }
                </div>
            }
            @if (CurrentUserHasPermission(Permission.AttachFile))
            {
                <div class="modal fade teal-dark attachment-modal" tabindex="-1" role="dialog" id="@attachmentModalId">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header uppercase">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-close"></span></button>
                                <h4 class="modal-title">Add Attachments <span> | </span> Case Id # @Model.CaseNumber <span> | </span> @Model.Determination</h4>
                            </div>
                            @Html.Partial("UploadAttachmentForm", new AbsenceSoft.SelfService.Models.Cases.AttachmentViewModel()
                       {
                           CaseId = Model.Id,
                           EmployeeId = Model.EmployeeId
                       })
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
</div>