﻿@model IEnumerable<AbsenceSoft.SelfService.Models.Cases.NoteViewModel>

<div class="row">
    <div class="col-xs-12">
        <h3><i class="fa fa-pencil"></i> Cases Notes</h3>
    </div>
</div>

@if (Model.Count() == 0)
{
    <text>There are no notes on this case.</text>
}
@foreach (var note in Model)
{
    <div class="row">
        <div class="col-xs-12 note-byline">
            <h5>@note.CreatedBy</h5> <span>|</span> <h5>@note.NoteCreatedDateUiString</h5> <span>|</span> <h5>@note.Category</h5>
            @if (CurrentUserHasPermission(Permission.DeleteNotes))
            {
                <span class="pull-right"><a href="" data-toggle="modal" data-target="#@note.Id"> <span class="fa fa-trash"></span></a></span>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 case-note">
            <p>@note.Notes</p>
            <div class="border-bottom"></div>
        </div>
    </div>

    if (CurrentUserHasPermission(Permission.DeleteNotes))
    {
        <div class="modal fade" tabindex="-1" role="dialog" id="@note.Id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-close red"></span></button>
                        <h4 class="modal-title">Confirm Delete Note</h4>
                    </div>
                    <div class="modal-body teal-dark">
                        Please confirm you want to delete this note. Once deleted you will not be able to recover this note.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default uppercase ess-attachclose" data-dismiss="modal">Cancel</button>
                        @Ajax.RouteLink("Confirm Delete", "DeleteCaseNote", new { noteid = note.Id }, new AjaxOptions()
                   {
                       HttpMethod = "DELETE"
                   }, new { @class = "btn btn-info uppercase" }
                        )}
                    </div>
                </div>
            </div>
        </div>
    }

}
