﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="header uppercase row ess-headline">
    <div class="col-sm-12">
        <span class="fa fa-warning ess-headicon"></span>
        <h1>Error</h1>
    </div>
</div>

<div class="row well">
    <div class="col-xs-12">
        <h2>An error occurred while processing your request.</h2>
        @if (!string.IsNullOrWhiteSpace(Response.StatusDescription))
            {
            <p>@Response.StatusDescription</p>
        }
        <p>
            @T("Error")
        </p>
        @if (Request.IsAuthenticated)
            {
            <a href="@Url.RouteUrl((string)ViewBag.HomeRoute)">Return Home</a>
        }
    </div>
</div>