﻿@model AbsenceSoft.SelfService.Models.Cases.NoteViewModel

@{
    string newNoteCollapseId = string.Format("newnotesCollapse{0}", Model.CaseId);
}

@using (Ajax.BeginRouteForm("CreateNote", null, new AjaxOptions(){
    HttpMethod = "POST"
}, new { id = "createNoteForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CaseId)
    <div class="row">
        <div class="col-xs-12 ess-enternote">
            @Html.TextAreaFor(m => m.Notes, new { placeholder = Html.DisplayNameFor(m => m.Notes), style = "margin: 30px 0px 10px 0px !important;" })
            @Html.ValidationMessageFor(m => m.Notes, null, new { @class = "errShow" })<br/><br />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12 ess-enternote">            
            @Html.NoteCategoryDropDownListFor(m => m.Category, new { @class = "" })
            @Html.ValidationMessageFor(m => m.Category, null, new { @class = "errShow" })
        </div>
        <div class="col-sm-6 col-xs-12 text-right">
            <button class="btn btn-default uppercase ess-attachclose" data-target="#@newNoteCollapseId" data-toggle="collapse">Cancel</button>
            <input type="submit" class="btn btn-primary uppercase ess-attachbtn" value="Create Note" />
        </div>
    </div>
}