﻿
@{
    ViewBag.Title = "Unauthorized";
}

<div class="header uppercase row ess-headline">
    <div class="col-sm-12">
        <span class="fa fa-ban ess-headicon"></span>
        <h1>Unauthorized</h1>
    </div>
</div>

<div class="row ess-casebg">
    <div class="col-xs-12 unaut-link">
        @if (!string.IsNullOrWhiteSpace(Response.StatusDescription))
        {
            if (Response.StatusDescription.ToLower() == "ok")
            {
                <h4>@T("Errors.Users.Unauthorized", "Sorry, you are not authorized to view that resource. Please consult with your System Administrator if you believe this to be a mistake.")</h4>
            }
            else
            {
                <h4>@Response.StatusDescription</h4>
            }
        }
        else
        {
            <h4>@T("Errors.Users.Unauthorized", "Sorry, you are not authorized to view that resource. Please consult with your System Administrator if you believe this to be a mistake.")</h4>
        }
        <a href="@Url.RouteUrl((string)ViewBag.HomeRoute)">Return Home</a>
    </div>
</div>
