﻿@model AbsenceSoft.SelfService.Models.Cases.AttachmentViewModel

@using (Html.BeginForm("CreateCaseAttachment", "Case", FormMethod.Post, new { @class = "case-attachment-form" }))
{
    @Html.AntiForgeryToken()
    string attachmentFileId = string.Format("attachmentFile{0}", Model.CaseId);
    @Html.HiddenFor(m => m.CaseId)
    @Html.HiddenFor(m => m.EmployeeId)
    <div class="modal-body">
        <div class="row uppercase">
            <div class="col-xs-12">
                <div class="drop-target ess-drag">
                    <input id="@attachmentFileId" type="file" class="hide" name="attachment" />
                    <label id="attachmentFileLabel" class="btn btn-upload" for="@attachmentFileId">Browse your computer</label> <!-- Attachment -->
                    <br />
                    <label for="@attachmentFileId">-or-</label>
                    <br />
                    <label for="@attachmentFileId">drag and drop your attachment here.</label><br />
                    <span class="attachment-file-name"></span>
                </div>
            </div>
        </div>
        <div class="row mt20 ess-filteroption">
            <div class="col-xs-6">
                @Html.LabelFor(m => m.Type)
                @Html.EnumDropDownListFor(m => m.Type, "Type", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Type, null, new { @class = "errShow" })
            </div>
            <div class="col-xs-6">
                @Html.LabelFor(m => m.Description)
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "errShow" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default uppercase ess-attachclose" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary uppercase ess-attachbtn">Save And Close</button>
    </div>
}