﻿@model IEnumerable<AbsenceSoft.Administration.Models.CustomerViewModel>


<ul>
    @foreach (var customer in Model)
    {
        <li class="customer-result">@Html.RouteLink(customer.Name, "EditCustomer", new { customerId = customer.Id })</li>
    }
</ul>
