﻿@model AbsenceSoft.Administration.Models.CustomerViewModel

@using (Ajax.BeginRouteForm("SaveCustomerDetails", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    OnSuccess = "AbsenceSoft.EditCustomer.DetailsSaved()"
}))
{
    @Html.HiddenFor(m => m.Id)
    <div class="row">
        <div class="col-xs-4">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div class="col-xs-4">
            @Html.LabelFor(m => m.DefaultFromEmail)
            @Html.TextBoxFor(m => m.DefaultFromEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DefaultFromEmail)
        </div>
        <div class="col-xs-4">
            @Html.LabelFor(m => m.EmailDomain)
            @Html.TextBoxFor(m => m.EmailDomain, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.EmailDomain)
        </div>
    </div>
    <div class="row mt20">
        <div class="col-sm-12 text-center">
            <input type="submit" class="btn btn-save" value="Save Customer Details" />
        </div>
    </div>

}