﻿@model AbsenceSoft.Logic.Administration.UserCriteria

<div class="list-container" data-url="@Url.RouteUrl("GetUsers")">
    <div class="row bold list-sort-fields">
        <div class="col-sm-4 list-sort">
            Email
            <span class="fa fa-chevron-down hide"></span>
            <span class="fa fa-chevron-up"></span>
            <input type="hidden" value="Email" class="sort-name" />
        </div>
        <div class="col-sm-3 list-sort">
            First Name
            <span class="fa fa-chevron-down hide"></span>
            <span class="fa fa-chevron-up hide"></span>
            <input type="hidden" value="FirstName" class="sort-name" />
        </div>
        <div class="col-sm-3 list-sort">
            Last Name
            <span class="fa fa-chevron-down hide"></span>
            <span class="fa fa-chevron-up hide"></span>
            <input type="hidden" value="LastName" class="sort-name" />
        </div>
        <div class="col-sm-2 text-center">
            Locked
        </div>
    </div>
    <div class="row user-thead">
        @Html.HiddenFor(m => m.CustomerId, new { @class = "list-criteria" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.Email, new { @class="form-control list-criteria"})
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control list-criteria" })
        </div>
        <div class="col-sm-3">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control list-criteria" })
        </div>
    </div>
    <input type="hidden" class="results-total" />
    <input type="hidden" class="page-number" value="1" />
    <div class="results-container">

    </div>
</div>