﻿@model AbsenceSoft.Administration.Models.CustomerViewModel

@{
    ViewBag.Title = "Edit Customer";
    var deleteConfirmationButton = 
        new AbsenceSoft.Administration.Models.DeleteButtonConfirmationViewModel(Url.RouteUrl("DeleteCustomer", new { id = Model.Id }),
        string.Format("Please type <strong>confirm</strong> in the box below to confirm that you intend to delete all data associated with customer {0}", 
            Model.Name));
}

@Html.HiddenFor(m => m.Id, new { id = "customerId" })
<div class="name-bar">
    <h1>@Model.Name</h1>
    @if (CurrentUserHasPermission(Permission.DeleteCustomer))
    {
        <span class="pull-right">
            @Html.Partial("_DeleteConfirmationButton", deleteConfirmationButton)
        </span>
    }
</div>

<div class="customer-content">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
        <li><a href="#features" data-toggle="tab">Features</a></li>
        @if (CurrentUserHasPermission(Permission.EditCustomerUsers))
        {
            <li><a href="#users" data-toggle="tab">Users</a></li>
        }
        @if (CurrentUserHasPermission(Permission.EditEmployerInfo))
        {
            <li><a href="#employers" data-toggle="tab">Employers</a></li>
        }
        
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="details">
            @Html.Partial("_CustomerDetails", Model)
        </div>
        <div class="tab-pane" id="features">
            @Html.Partial("_Features", Model)
        </div>
        @if (CurrentUserHasPermission(Permission.EditCustomerUsers))
        {
            <div class="tab-pane" id="users">
                @Html.Action("CustomerUsers", new { customerId = Model.Id })
            </div>
        }
        @if (CurrentUserHasPermission(Permission.EditEmployerInfo))
        {
            <div class="tab-pane" id="employers">
                @Html.Action("Employers", new { customerId = Model.Id })
            </div>
        }
    </div>
</div>
