﻿<div>
    <label>{{caption}}</label>
    <br />
    <div class="btn-group">
        <label class="btn btn-default"
               ng-repeat="item in buttonItems"
               ng-model="$parent.ngModel"
               btn-radio="item.Value"
               name="{{item.Id}}">
            {{item.Caption}}
        </label>
    </div>
</div>