﻿@model AbsenceSoft.Administration.Models.Settings.RoleViewModel

@{
    ViewBag.Title = "Edit Role";
}

@using (Ajax.BeginRouteForm("SaveAdminRole", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith
}))
{
    <div class="name-bar">
        <h1>
            @if (string.IsNullOrWhiteSpace(Model.Id))
            {
                <text>Add New Role</text>
            }
            else
            {
                <text>Edit Existing Role</text>
            }
        </h1>
    </div>
    @Html.HiddenFor(m => m.Id)
    <div class="customer-content">
        @Html.RouteLink("Return To Settings", "Settings", null, new { @class = "return-link" })
        <div class="row mt20">
            <div class="col-sm-12">
                <div class="name-box">                   
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-sm-12 perm-editor">
                @Html.Action("PermissionsEditor", new { roleId = Model.Id })
            </div>
        </div>
        <div class="row mt20">
            <div class="col-sm-12 text-center">
                <input type="submit" class="btn btn-save" value="Save Role" />
            </div>
        </div>
    </div>
}