﻿@model AbsenceSoft.Administration.Models.UserViewModel

@{
    ViewBag.Title = "Edit Admin User";
}


@using (Ajax.BeginRouteForm("SaveAdminUser", null, new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    OnComplete = "AbsenceSoft.EditAdminUser.Init",
    UpdateTargetId = "saveAdminUserForm"
}, new { id = "saveAdminUserForm" }))
{
    <div class="name-bar">
        <h1>
            @if (string.IsNullOrWhiteSpace(Model.Id))
            {
                <text>Add New User</text>
            }
            else{ 
                <text>Edit Existing User</text>
            }
        </h1>
    </div>
    @Html.HiddenFor(m => m.Id)
    <div class="customer-content">
        @Html.RouteLink("Return To Settings", "Settings", null, new { @class = "return-link" })
        <div class="row mt20">
            <div class="col-sm-3">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="row mt20">
            <div class="col-sm-12">
                @Html.LabelFor(m => m.Roles)
                @Html.RoleDropDownListFor(m => m.Roles, new { @class = "form-control", multiple = "multiple", id = "selectedRoles" })
                @Html.ValidationMessageFor(m => m.Roles)
            </div>
        </div>
        <div class="row mt20">
            <div class="col-sm-12 text-center">
                <input type="submit" class="btn btn-save" value="Save User" />
            </div>
        </div>
    </div>
}

