﻿@{
    ViewBag.Title = "Settings";
}


<div class="customer-content">
    @if (CurrentUserHasPermission(Permission.EditRoleDefinition) && CurrentUserHasPermission(Permission.EditUser))
    {
        <ul class="nav nav-tabs">
            <li class="active"><a href="#users" data-toggle="tab">Users</a></li>
            <li><a href="#roles" data-toggle="tab">Roles</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="users">
                @Html.Action("Users")
            </div>
            <div class="tab-pane" id="roles">
                @Html.Action("Roles")
            </div>
        </div>
    }
    else if (CurrentUserHasPermission(Permission.EditRoleDefinition))
    {
        @Html.Action("Roles")
    }
    else if (CurrentUserHasPermission(Permission.EditUser))
    {
        @Html.Action("Users")
    }
</div>