﻿@model IEnumerable<AbsenceSoft.Administration.Models.Settings.PermissionCategoryViewModel>

@foreach (var category in Model)
{
    <div class="well">
        <h4>@category.Name</h4>
        <div class="row">
            @foreach (var permission in category.Permissions)
            {
                <div class="col-xs-4">
                    <label class="check-list">                        
                        <input type="checkbox" name="Permissions[]" value="@permission.Id" @if (permission.Checked) { <text> checked</text>} />
                        @permission.Name
                    </label>
                </div>
            }
        </div>
    </div>
}