﻿@model IEnumerable<AbsenceSoft.Administration.Models.Settings.RoleViewModel>
<div class="row">
    <div class="col-sm-offset-10 col-sm-2">
       @Html.RouteLink("New Role", "EditAdminRole", null, new { @class = "btn btn-new" })
    </div>
</div>

<div class="customer-list">
    <ul>
        @foreach (var role in Model)
        {
            <li>
                @Html.RouteLink(role.Name, "EditAdminRole", new { id = role.Id })
            </li>
        }
    </ul>
</div>