﻿@model IEnumerable<AbsenceSoft.Administration.Models.UserViewModel>
<div class="row">
    <div class="col-sm-offset-10 col-sm-2">
        @Html.RouteLink("New User", "EditAdminUser", null, new { @class = "btn btn-new" })
    </div>
</div>

<div class="row bold  mt20">
    <div class="col-sm-4">
        Email
    </div>
    <div class="col-sm-3">
        First Name
    </div>
    <div class="col-sm-3">
        Last Name
    </div>
    <div class="col-sm-2 text-center">
        Locked
    </div>
</div>
@foreach (var user in Model)
{
    <div class="row user-returns">
        <div class="col-sm-4">
            @Html.RouteLink(user.Email, "EditAdminUser", new { userId = user.Id })
        </div>
        <div class="col-sm-3">
            @user.FirstName
        </div>
        <div class="col-sm-3 user-last">
            @user.LastName
        </div>
        <div class="col-sm-2 text-center user-lock">
            @if (user.IsLocked)
            {
                <i class="fa fa-lock"></i>
            }
            else
            {
                <i class="fa fa-unlock"></i>
            }
        </div>
    </div>

}