﻿@model AbsenceSoft.Models.Consultations.ConsultationTypeViewModel

@{
    ViewBag.Title = "Edit Consultation";
}

@using (Ajax.BeginRouteForm("SaveConsultation", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "editConsultationForm", OnSuccess = "AbsenceSoft.PageStart('#editConsultationForm')", InsertionMode = InsertionMode.ReplaceWith }, new { id = "editConsultationForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Consultation for <span class="customer-name">@Customer.Current.Name</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink("Back", "ListConsultations", null, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    @Html.HiddenFor(m => m.Id)
                    @Html.ValidationSummary(true, "Unable to save the consultation.  Please see the validation errors below.")
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.Consult)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.EditorFor(m => m.EmployerId)
                        </div>
                    </div>
                    <div class="row pull-center">
                        <input type="submit" value="Save Consultation" class="btn btn-primary" />
                        @if (!string.IsNullOrEmpty(Model.Id))
                        {
                            @Ajax.RouteLink("Delete", "DeleteConsultation", new { customerId = Customer.Current.Id, consultationTypeId = Model.Id }, new AjaxOptions()
                            {
                                HttpMethod = "DELETE"
                            }, new { @class = "btn btn-danger" })
                        }
                        @Html.RouteLink("Cancel", "ListConsultations", null, new { @class = "btn btn-link" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}

