﻿@{
    ViewBag.Title = "Consultations";
}

<div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-11">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h2>Consultations for <span class="customer-name">@Customer.Current.Name</span></h2>
                </div>
                <div class="pull-right">
                    @Html.RouteLink("Back", "AdministrationIndex", null, new { @class = "btn btn-primary navbar-btn" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row item-list">
            <input type="hidden" class="page" value="1" />
            <input type="hidden" class="url" value="@Url.RouteUrl("ListConsultations")" />
            <input type="hidden" class="total" value="" />
            <div class="col-sm-2">
                <div class="content-section">
                    Consultations
                    @Html.RouteLink("New Consultation", "ConsultationEdit", null, new { @class = "btn btn-primary btn-sm btn-icon-policies-normal" })
                </div>
            </div>
            <div class="col-sm-10">
                <div class="border">
                    <div class="row row-header">
                        <div class="col-sm-12 list-sort">
                            Consult
                            <input type="hidden" class="sort-name" value="Consult" />
                            <i class="glyphicon sort"></i>
                        </div>
                    </div>
                    <div class="row row-filter">
                        <div class="col-sm-12">
                            <input type="text" name="Consult" class="list-filter form-control filter" placeholder="Filter" />
                        </div>
                    </div>
                    <div class="scroll list-display">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

