﻿@{
    ViewBag.Title = "Employee Consultations";
}

<div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-11">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h2>Employee Consultations for <span class="employee-name">@ViewBag.EmployeeFullName</span></h2>
                </div>
                <div class="pull-right">
                    @Html.RouteLink("Back", "ViewEmployee", null, new { @class = "btn btn-primary navbar-btn" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row item-list">
            <div class="col-sm-12">
                <div class="border">
                    <div class="row row-header">
                        <div class="col-sm-3 list-sort">
                            Title
                            <input type="hidden" class="sort-name" value="Title" />
                            <i class="glyphicon sort"></i>
                        </div>
                        <div class="col-sm-9 list-sort">
                            Comments
                            <input type="hidden" class="sort-name" value="Comments" />
                        </div>
                    </div>
                    <div class="row row-filter">
                        <input type="hidden" name="EmployerId" class="list-filter" value="@ViewBag.EmployerId" />
                        <div class="col-sm-3">
                            <input type="text" name="Title" class="list-filter form-control filter" placeholder="Filter" />
                        </div>
                    </div>
                    <div class="scroll list-display">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

