﻿@model AbsenceSoft.Models.Consultations.EmployeeConsultationViewModel

@{
    ViewBag.Title = "Edit Employee Consultation";

    var IsNewConsult = string.IsNullOrEmpty(Model.Id);
}

@using (Ajax.BeginRouteForm("SaveEmployeeConsultation", new { employerId = Employer.CurrentId }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "editEmployeeConsultationForm", OnSuccess = "AbsenceSoft.PageStart('#editEmployeeConsultationForm')", InsertionMode = InsertionMode.ReplaceWith }, new { id = "editEmployeeConsultationForm" }))
{
    <div class="row">
        <div class="col-sm-1">&nbsp;</div>
        <div class="col-sm-11">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Employee Consultation for <span class="employee-name">@ViewBag.EmployeeFullName</span> <span class="employee-consult-viewonly">@(IsNewConsult ? "" : "(View Only)")</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink((IsNewConsult ? "Cancel" : "Back"), "ListEmployeeConsultations", new { employerId = Employer.Current.Id, employeeId = Model.EmployeeId }, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11 col-sm-offset-1">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.ConsultationTypeId)
                    @Html.HiddenFor(m => m.EmployeeId)
                    @Html.HiddenFor(m => m.EmployerId)
                    @Html.HiddenFor(m => m.Title)
                    @Html.ValidationSummary(true, "Unable to save the employee consultation.  Please see the validation errors below.")
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 col-wrap">
                                    @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    @Model.Title
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                        @if (IsNewConsult)
                        {
                            @Html.EditorFor(m => m.Comments)
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-sm-4 col-wrap">
                                    @Html.LabelFor(m => m.Comments, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-7 col-wrap">
                                    @Model.Comments
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                    @*only allow new items to be saved*@
                    @if (IsNewConsult)
                    {
                        <div class="row pull-center">
                            <input type="submit" value="Save Employee Consultation" class="btn btn-primary" />
                            @Html.RouteLink("Cancel", "ListEmployeeConsultations", new { employerId = Employer.Current.Id, employeeId = Model.EmployeeId }, new { @class = "btn btn-link" })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

