﻿@model AbsenceSoft.Models.Consultations.ConsultationEntryViewModel

@{
    ViewBag.Title = "Consultation Entry";
    string returnUrl = null;
    string returnText = null;
    if (Model.CaseId != null)
    {
        returnUrl = Url.RouteUrl("ViewCase", new { caseId = Model.CaseId });
        returnText = "Return to Case";
    }else{
        returnUrl = Url.RouteUrl("ViewEmployee", new { employeeId = Model.EmployeeId });
        returnText = "Return to Employee";
    }
    
}

<div class="wre-main">
    <div class="row">
        <div class="col-sm-12">
            <a href="@returnUrl">
                <span class="glyphicon glyphicon-arrow-left">            
                </span>
                @returnText
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 work-header">
            <div class="pull-left"><h3>Employee Consultation</h3></div>
            <div class="pull-right">
                <input type="text" placeholder="Search for Consultations..." id="consultationSearch" class="form-control" />
            </div>
        </div>
    </div>
    @using(Ajax.BeginRouteForm("EmployeeConsultationSave", null, new AjaxOptions()
        {
            HttpMethod = "POST",
            UpdateTargetId="consultationEntryForm",
            OnSuccess="AbsenceSoft.PageStart('#consultationEntryForm')",
            InsertionMode = InsertionMode.ReplaceWith
        }, new {id="consultationEntryForm"}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.EmployeeId)
        @Html.HiddenFor(m => m.CaseId)
        <div class="row wr-tableheader">
            <div class="col-sm-3">
                Consult
            </div>
            <div class="col-sm-9">
                Comments
            </div>
        </div>
        for (int i = 0; i < Model.Consultations.Count(); i++)
        {
            <div class="row wre-returns">
                <div class="col-sm-3">
                    <label>
                        @Html.CheckBoxFor(m => Model.Consultations[i].HasConsult, new { @class = "has-consult" })
                        @Html.Raw(Model.Consultations[i].Consult)
                    </label>
                    @Html.HiddenFor(m => Model.Consultations[i].Id)
                    @Html.HiddenFor(m => Model.Consultations[i].ConsultationTypeId)
                    @Html.HiddenFor(m => Model.Consultations[i].Consult, new { @class = "consultation-name" })
                </div>
                <div class="col-sm-9">
                    @Html.TextAreaFor(m => Model.Consultations[i].Comments, new { @class = "form-control consultation-comments" })
                    @Html.ValidationMessageFor(m => Model.Consultations[i].Comments)
                </div>
            </div>
        }
        <div class="row pull-center mt30">
            <input type="submit" class="btn btn-primary" value="Save Consultations" />
            <a href="@returnUrl" class="btn btn-link">@returnText</a>
        </div>
    }
</div>
