﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    <a href="@Url.RouteUrl("ConsultationEdit", new {employerId = item.Get<string>("EmployerId"), consultationTypeId = item.Get<string>("Id") })">
        <div class="row row-no-margins">
            <div class="col-sm-12">
                @(item.Get<string>("Title"))
            </div>
        </div>
    </a>
}
