﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    <a href="@Url.RouteUrl("EmployeeConsultationEdit", new {employerId = item.Get<string>("EmployerId"), employeeId = item.Get<string>("EmployeeNumber"), consultationTypeId = item.Get<string>("ConsultationTypeId"), employeeConsultationId = item.Get<string>("Id") })">
        <div class="row row-no-margins">
            <div class="col-sm-3">
                @(item.Get<string>("Title"))
            </div>
            <div class="col-sm-8">
                @(item.Get<string>("Comments"))
            </div>
        </div>
    </a>
}
