﻿@model AbsenceSoft.Administration.Models.EmployerViewModel

@{

    ViewBag.Title = "Delete Case";

}



<div id="casesDtl">
    @if (Model != null)
    {
        if (Model.CaseDtl != null)
        {
            var deleteConfirmationButton =
                  new AbsenceSoft.Administration.Models.DeleteButtonConfirmationViewModel(@Url.Action("DeleteCase", "Employer", new { caseId = Model.CaseDtl.CaseId, employerId= Model.CaseDtl.employerId }),
                  string.Format("Have you received a request from the customer to delete the case#:" + Model.CaseDtl.caseNumber + "?"));
            var completeConfirmationButton =
                  new AbsenceSoft.Administration.Models.CompleteButtonConfirmationViewModel(Url.RouteUrl("CompleteCase", new { caseId = Model.CaseDtl.CaseId}),
                  string.Format("Have you received a request from the customer to close the case#:" + Model.CaseDtl.caseNumber + "?"));
            var cancelConfirmationButton =
                 new AbsenceSoft.Administration.Models.CancelButtonConfirmationViewModel(Url.RouteUrl("CancelCase", new { caseId = Model.CaseDtl.CaseId}),
                 string.Format("Have you received a request from the customer to cancel the case#:" + Model.CaseDtl.caseNumber + "?"));

            <div class="panel panel-default">

                <div class="panel-heading" style="padding:20px 15px">
                    <span class="rp-emp-name">
                        <b>Case ID:</b> <span>
                            @Html.DisplayFor(m => m.CaseDtl.caseNumber)
                        </span>
                    </span>|<span class="rp-emp-id">
                        <span class="ng-binding" style="font:bold">
                            @Html.DisplayFor(m => m.CaseDtl.Reason)

                        </span>
                    </span>
                    <span class="pull-right">
                        @if (Model.CaseDtl.Status != CaseStatus.Cancelled)
                        {
                            @Html.Partial("_CancelConfirmationButton", cancelConfirmationButton)
                        }

                        @Html.Partial("_SoftDeleteConfirmationButton", deleteConfirmationButton)
                        @if (Model.CaseDtl.Status != CaseStatus.Closed)
                        {
                            @Html.Partial("_CompleteConfirmationButton", completeConfirmationButton)
                        }
                    </span>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2 col-header" style="font:bold"><b>Type</b></div>
                        <div class="col-sm-4 ng-binding">
                            @Html.DisplayFor(m => m.CaseDtl.CaseType)
                        </div>
                        <div class="col-sm-3 col-header" style="font:bold"><b>Requested Start</b></div>
                        <div class="col-sm-3 ng-binding">
                            @Html.DisplayFor(m => m.CaseDtl.StartDate)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-header"><b>Status</b></div>
                        <div class="col-sm-4 ng-binding">
                            @Html.DisplayFor(m => m.CaseDtl.Status)

                        </div>
                        <div class="col-sm-3 col-header"><b>Requested End</b></div>
                        <div class="col-sm-3 ng-binding">
                            @Html.DisplayFor(m => m.CaseDtl.EndDate)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 capitalize">
                            <span class="col-header"><b>Description</b></span>
                        </div>
                        <div class="col-sm-4 ng-binding">
                            @Html.DisplayFor(m => m.CaseDtl.Description)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 capitalize">
                            <span class="col-header" style="font:bold"><b>Case Reporter</b></span>
                        </div>
                        <div class="col-sm-3">
                            <span data-toggle="modal" data-target="#deleteConfirmation">
                                <span class="ng-binding">
                                    @Html.DisplayFor(m => m.CaseDtl.CaseReporter[0].Contact.FirstName)
                                </span> <span class="ng-binding">
                                    @Html.DisplayFor(m => m.CaseDtl.CaseReporter[0].Contact.LastName)
                                </span>
                            </span>
                            <span class="cr-relationship ng-hide">
                                | <span class="ng-binding">
                                    @Html.DisplayFor(m => m.CaseDtl.CaseReporter[0].ContactTypeCode)
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="border-radius:0">
                @if (Model.CaseDtl.todoitem != null) { 
                <div class="panel-heading" style="border-radius:0;text-align:left"><b>ToDo Items</b></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ToDo</th>
                            <th>Due</th>
                            <th>Status</th>
                            <th>AssignedTo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var todoItem in Model.CaseDtl.todoitem)
                        {
                            foreach (var todo in todoItem.todoModel)
                            {
                                var deleteToDoConfirmationButton =
                                new AbsenceSoft.Administration.Models.DeleteButtonConfirmationViewModel(Url.RouteUrl("DeleteToDo", new { Id = todo.Id }),
                                string.Format("Have you received a request from the customer to delete the ToDo Id:" + todo.Id + "?"));
                                var completeToDoConfirmationButton =
                                          new AbsenceSoft.Administration.Models.CompleteButtonConfirmationViewModel(Url.RouteUrl("CompleteToDo", new { Id = todo.Id }),
                                          string.Format("Have you received a request from the customer to complete the ToDo Id:" + todo.Id + "?"));
                                var cancelToDoConfirmationButton =
                                     new AbsenceSoft.Administration.Models.CancelButtonConfirmationViewModel(Url.RouteUrl("CancelToDo", new { Id = todo.Id }),
                                     string.Format("Have you received a request from the customer to cancel the ToDo Id:" + todo.Id + "?"));

                                <tr>
                                    <td scope="row">
                                        @todo.TodoTitle
                                    </td>
                                    <td>
                                        @if (todo.DueDate != null)
                                        {
                                            @todo.DueDate
                                        }
                                    </td>
                                    <td>
                                        @todo.Status
                                    </td>
                                    <td>
                                        @todo.AssignedTo
                                    </td>
                                    <td>
                                        @if (todo.Status.ToString().ToLower() != ToDoItemStatus.Cancelled.ToString().ToLower())
                                        {
                                            @Html.Partial("_CancelToDoConfirmationButton", cancelToDoConfirmationButton)
                                        }
                                        @Html.Partial("_DeleteToDoConfirmationButton", deleteToDoConfirmationButton)
                                        @if (todo.Status.ToString().ToLower() != ToDoItemStatus.Complete.ToString().ToLower())
                                        {
                                            @Html.Partial("_CompleteToDoConfirmationButton", completeToDoConfirmationButton)
                                        }

                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
                }
            </div>
        }
    }
</div>





