﻿@model AbsenceSoft.Administration.Models.EmployerViewModel
@{

    ViewBag.Title = "Employee Details to be delete";


}
<div id="employeeDtl">
    @if (Model != null)
    {
        if (Model.EmployeeModel != null)
        {

            var deleteEmpConfirmationButton =
      new AbsenceSoft.Administration.Models.DeleteButtonConfirmationViewModel(Url.RouteUrl("DeleteEmployeeData", new { employeeId = Model.EmployeeModel.EmployeeId ,employerId = Model.EmployeeModel.EmployerId ,customerId = Model.EmployeeModel.CustomerId }),
      string.Format("Please confirm that you intend to delete all data associated with employee:<b>{0}</b>",
          Model.EmployeeModel.FullName));

            <div class="panel panel-default">

                <div class="panel-heading" style="padding:20px 15px">
                    <span class="rp-emp-name">
                        <span>

                            <b>@Model.EmployeeModel.FullName</b>
                        </span>
                    </span>|<span class="rp-emp-id">
                        <span>
                            Employee ID:<span>@Model.EmployeeModel.EmployeeNumber</span>

                        </span>
                    </span>
                    <span class="pull-right">
                        @Html.Partial("_DeleteEmpConfirmationButton", deleteEmpConfirmationButton)
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-2 col-header" style="font:bold"><b>Hire Date:</b></div>
                        <div class="col-sm-4 ng-binding">

                            @Convert.ToDateTime(Model.EmployeeModel.HireDate).ToString("MM/dd/yyyy")


                        </div>
                        <div class="col-sm-3 col-header" style="font:bold"><b>Employer:</b></div>
                        <div class="col-sm-3 ng-binding">
                            @Model.EmployeeModel.EmployerName
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-header"><b>Hours Worked:</b></div>
                        <div class="col-sm-4 ng-binding">
                            @Model.EmployeeModel.HoursWorked

                        </div>
                        <div class="col-sm-3 col-header"><b>Office Location:</b></div>
                        <div class="col-sm-3 ng-binding">
                            @Model.EmployeeModel.EmpInfo.OfficeLocation
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 capitalize">
                            <span class="col-header"><b>Worked per week</b></span>
                        </div>
                        <div class="col-sm-4 ng-binding">
                            @Model.EmployeeModel.HoursWorkedPerWeek
                        </div>
                    </div><br /><br />
                    <div class="row">
                        <div class="col-sm-2 capitalize">
                            <span class="col-header" style="font:bold"><b>Employee Info</b></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <span>

                                Date of Birth:

                            </span>&nbsp;&nbsp;
                            <span>

                                @Convert.ToDateTime(Model.EmployeeModel.DOB).ToString("MM/dd/yyyy")

                            </span>
                        </div><div class="col-sm-3">
                            <span class="ng-binding">
                                Gender: @Model.EmployeeModel.Gender
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="ng-binding">
                                SSN: @Model.EmployeeModel.SSN
                            </span>

                        </div>

                    </div><br /><br />
                    <div class="row">
                        <div class="col-sm-2 capitalize">
                            <span class="col-header" style="font:bold"><b>Contact Info</b></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="ng-binding">
                                Address:  @Model.EmployeeModel.EmpInfo.Address
                            </span>
                        </div><div class="col-sm-3">
                            <span class="ng-binding">
                                City: @Model.EmployeeModel.City

                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="ng-binding">
                                State/Zip: @Model.EmployeeModel.State
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="ng-binding">
                                Work Phone:  @Model.EmployeeModel.EmpInfo.WorkPhone
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="ng-binding">
                                Cell Phone: @Model.EmployeeModel.EmpInfo.CellPhone
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="ng-binding">
                                Home Phone: @Model.EmployeeModel.EmpInfo.HomePhone
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="ng-binding">
                                Work Email:  @Model.EmployeeModel.EmpInfo.Email
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="ng-binding">
                                Alt Email: @Model.EmployeeModel.EmpInfo.AltEmail
                            </span>
                        </div>
                        <div class="col-sm-3">
                            <span class="ng-binding">
                                Alt Phone: @Model.EmployeeModel.EmpInfo.AltPhone
                            </span>
                        </div>
                    </div>

                </div>
            </div>


        }

    }

</div>
<div id="emptymsg" style="display:none" class="alert alert-success">    
</div>











