﻿@model IEnumerable<AbsenceSoft.Administration.Models.EmployerViewModel>


<ul>
    @foreach (var employer in Model)
    {
        <li class="employer-result">@Html.RouteLink(employer.Name, "EditEmployer", new { id = employer.Id })</li>
    }
</ul>
