﻿@model AbsenceSoft.Administration.Models.EmployerViewModel
@{ 
    ViewBag.Title = "Edit Employer";
}
<div class="name-bar">
    <h1>@Model.Name <small>Employer of @Html.RouteLink(Model.CustomerName, new { customerId = Model.CustomerId })</small> </h1>
    @if (CurrentUserHasPermission(Permission.ClearEmployerData))
    {
        <span class="pull-right">
            <button class="btn btn-danger" data-toggle="modal" data-target="#clearConfirmation">Clear Data</button>
        </span>
    }
</div>
<div class="customer-content">
    @Html.RouteLink(string.Format("Return To {0}", Model.CustomerName), "EditCustomer", new { customerId = Model.CustomerId }, new { @class = "return-link" })
    @Html.HiddenFor(m => m.Id, new { id = "employerId" })
    <div class="modal fade" tabindex="-1" role="dialog" id="clearConfirmation">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm Data Clear</h4>
                </div>
                <div class="modal-body">
                    <p>This action cannot be undone.  Please type confirm in the box below to confirm that you intend to clear all data associated with employer @Model.Name</p>
                    <label>
                        <input type="checkbox" id="removeConfig" /> Remove Config
                    </label>
                    <input type="text" class="form-control" id="confirmEmployerClear" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="clearConfirmed">Confirm Data Clear</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @Html.Partial("_Features", Model)
</div>