﻿@import "bootstrap/bootstrap.less";

//COLORS//
@teal: #3F4774;
@teal-dark: #3F4774;
@brand-primary: #ff8300;
@teal-bg: #548CA0;
@teal-head: #81ABBA;
@teal-inputs: #82A9B7;
@gray-darker: #3F4774;
@gray-dark: #444444;
@gray: #666666;
@gray-menu: #D9D9D9;
@gray-light: #999999;
@gray-lightest: #f1f1f1;
@white: #ffffff;
@brightblue: #70D8FF;
@bluetext: #066F96;
@brightgreen: #B8E986;
@greentext: #4E7C22;
@btn-main: #00BAFF;
@green: #7ED321;
@red: #A22F3D;
@pink: #A22F3D;
@orange: #FF8300;


//BUTTONS//
.btn-ess {
    border-radius: @border-radius-base;
    border: none;
}

.btn-logout {
    background: lighten(@teal,8%);
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: @gray-lightest;

    &:hover, &:active, &:focus {
        background: darken(@teal,10%);
        color: @gray-lightest;
        box-shadow: inset 1px 1px 1px 1px @gray-dark;
        outline: none;
    }
}

.btn-login {
    background: @white;
    height: 50px;
    color: @teal;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
    outline: none;

    &:hover, &:active, &:focus {
        background: @gray-lightest;
        box-shadow: inset 2px 2px 4px 0px @gray-light;
        color: @teal-dark;
        outline: none;
    }
}

//LOGIN PAGE//
.ess-loggedout {
    top: -50px;
}


.login-box {
    border-radius: @border-radius-large;
    background: darken(@teal-dark, 5%);
    padding: 50px;
    min-height: 300px;
    outline: none;

    label {
        color: @gray-light;
    }

    input::-webkit-input-placeholder {
        color: @teal;
    }

    input:-moz-placeholder {
        color: @teal;
        opacity: 1;
    }

    input::-moz-placeholder {
        color: @teal;
        opacity: 1;
    }

    input:-ms-input-placeholder {
        color: @teal;
    }
}



.login-email {
    position: relative;

    input {
        height: 50px;
        width: 100%;
        padding-left: 50px;
        border-radius: 6px 6px 0 0;
        background: @white;
        color: @teal;
        border: none;
        box-shadow: none;
        outline: none;
    }

    &:after {
        content: "\f0e0";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 24px;
        color: @teal-dark;
        top: 13%;
        left: 4%;
        z-index: 1;
    }
}

.email-error {
    color: @white;
    padding: 5px;
    display: block;
    margin-top: -20px;
    margin-bottom: 5px;
    border-radius: @border-radius-large;
}


.term-error {
    color: @white;
    padding: 5px;
    display: block;
    margin-bottom: 5px;
    border-radius: @border-radius-large;

    ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
    margin: 10px 0px 0 -0px;
    padding: 10px;
    background: #fff;
    color: #f00;
}
}

.login-pass {
    position: relative;

    input {
        height: 50px;
        width: 100%;
        padding-left: 50px;
        border-radius: 0 0 6px 6px;
        background: @white;
        color: @teal;
        border: none;
        box-shadow: none;
        outline: none;
        margin-top: -14px;
    }

    &:after {
        content: "\f023";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 30px;
        color: @teal-dark;
        top: -26%;
        left: 5%;
        z-index: 1;
    }
}

.pass-error {
    color: @white;
    padding: 5px;
    display: block;
    margin-top: -10px;
    margin-bottom: 20px;
    border-radius: @border-radius-large;
}

//TOOLBAR//

.navbar-header {
    float: none;
}

.ess-logo {
    padding: 0 15px;
    margin-top: 10px;
    display: inline-block;

    :hover {
        opacity: .8;
    }
}


.ess-companylogo{
    img{
        max-height: 45px;
        margin-right:15px;
    }
}


.toolbar {
    background-color: @white;
    color: @gray-darker;
    position: fixed;
    width: 100%;
    height: 65px;
    top: 50px;
    padding: 10px 15px;
    z-index: 1029;
    box-shadow: 0px 2px 5px 1px @gray-dark;
}

.user-info {
    border-right: 1px solid @gray-menu;
    height: 65px;
    margin-top: -10px;
    min-width: 275px;
    padding-left: 15px;
    padding-right: 10px;

    h5 {
        font-size: 16px;
        margin: 14px 0 5px;
    }

    .user-email {
        font-size: 12px;
        color: @gray-light;
    }
}

.teal-dark {
    color: @teal-dark;
}

.menu-items {
    border-right: 1px solid @gray-menu;
    height: 65px;
    margin-top: -10px;
    min-width: 105px;

    &:hover, &:focus, &:active {
        border-bottom: 5px solid @brightgreen;
        background: @gray-lightest;
    }
}

.menu-icons {
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: -1px;
}

.menu-active {
    border-bottom: 5px solid @brightgreen;
}

.menu-text {
    text-transform: uppercase;
    font-size: 12px;
}



    //FOOTER//
    .footer {
        background: darken(@gray-darker,10%);
        height: 75px;
        position: absolute;
        bottom: 0px;
        width: 100%;

        p {
            color: @gray-lightest;
            display: inline-block;
            margin-top: 30px;
        }

        svg {
            margin-top: 20px;
            max-height: 35px;
            opacity: .9;
        }
    }



    //Main Styles//
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        height: 100%;
        padding-top: 145px;
        margin-bottom: 125px;
        background-color: @gray-lightest;
        /*background-image: url('Images/ess-bg.png');*/
        background-position: center;
        background-size: cover;
        font-family: 'Lato', sans-serif !important;
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Lato', sans-serif !important;
    }


    .white {
        color: @white;
    }

    .brightgreen{
        color:@brightgreen;
    }

    .bg-white {
        background: @white !important;
    }


    .ess-headline {
        border-radius: @border-radius-large;
        background: @white;
        margin-bottom: 30px;
        height: 60px;

        h1 {
            color: @teal;
            text-transform: uppercase;
            font-size: 30px;
            display: inline-block;
            padding-left: 15px;
            line-height: 22px;
        }

        .icon {
            color: @teal;
            font-size: 24px;
            background-color: @gray-lightest;
            border-radius: 6px;
            border: 1px solid @gray-lighter;
            height: 40px;
            width: 40px;
            line-height: 22px;
            text-align: center;
            margin-top: 10px;
            float: right;
        }
    }

    .ess-headicon {
        color: @teal-dark;
        font-size: 30px;
    }

    .ess-caseheader {
        font-size: 20px;
        margin-top: -7px;
        margin-bottom: 15px;
    }

    .ess-caseid {
        color: @teal;
        padding: 0px;
        font-size: 16px;
    }

    .ess-filters {
        background: @gray-lightest;
        height: 50px;
        padding: 10px;
        margin-top: -34px;
        margin-bottom: 30px;
    }

    .icon {
        color: @teal-dark;
        font-size: 20px;
        background-color: @white;
        border-radius: @border-radius-base;
        border: 1px solid;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 29px;
        margin-left: 5px;
    }

    .f16 {
        font-size: 16px;
        padding-left: 5px;
    }

    .approved {
        color: @green;
    }

    .pending {
        color: @orange;
    }

    .denied {
        color: @pink;
    }

    .case-status-icons {
        font-size: 64px;
        margin-left: -5px;
        margin-top: 25px;
    }

    .translucent-icon {
        opacity: 0.4;
        background-color: transparent;
        border: none;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .navbar {
        background-color: @gray-darker;
        border-color: @gray-darker;
    }


    .navbar-fixed-top .collapse {
        padding: 0 15px;
    }

    .well {
        background-color: @white;
        border: none;
        margin-bottom: 10px;
        color: @teal;
        padding: 15px;

    }



    .negative {
        color: @white;
    }

    .brand {
        color: @brand-primary;
        background-color: @white;
    }
    /*
    personal leave button: 70D8FF
    accommodation button: B8E986
    primary save button: 00BAFF
    darker teal, for headline and icons: 005472
*/


    //Case Creations//

    .ess-nrhead {

        h2 {
            font-size: 22px;
            border-bottom: 1px solid @teal;
            color: @teal;
            margin-bottom: 30px;
            margin-top: 50px;
            padding-bottom: 8px;
        }

        span {
            
            padding-right: 10px;
        }
    }

    .ess-start {
        h3 {
            
            color:@teal;
        }
    }

    .ess-leavebtn {
        background: @brightblue;
        color: @bluetext;
        padding: 20px;
        border-radius: @border-radius-large;
        text-align: center;
        float: left;
        width: 45%;
        box-shadow: inset -2px -2px 0px 2px @bluetext;

        &:hover {
            background: lighten(@brightblue, 10%);
        }

        &:focus, &:active {
            background: darken(@brightblue, 10%);
            box-shadow: inset 2px 2px 2px 2px darken(@bluetext, 10%);
        }

        h2 {
            font-size: 24px;
            text-transform: uppercase;
        }

        span {
            font-size: 100px;
        }
    }

    .ess-accobtn {
        background: @brightgreen;
        color: @greentext;
        padding: 20px;
        border-radius: @border-radius-large;
        text-align: center;
        float: right;
        width: 45%;
        box-shadow: inset -2px -2px 0px 2px @greentext;

        &:hover {
            background: lighten(@brightgreen, 10%);
        }

        &:focus, &:active {
            background: darken(@brightgreen, 10%);
            box-shadow: inset 2px 2px 2px 2px darken(@greentext, 10%);
        }

        h2 {
            font-size: 24px;
            text-transform: uppercase;
        }

        span {
            font-size: 100px;
        }
    }

    .ess-casehead {
        background: @white;
        border-radius: @border-radius-large;
        height: 50px;
        color: @teal;
        margin-bottom: 20px;

        h1 {
            font-size: 24px;
            display: inline-block;
            margin: 13px 0px 0px 12px;
            float: left;
        }

        span {
            background: @brightblue;
            color: @bluetext;
            border-radius: 6px 0 0 6px;
            height: 50px;
            width: 50px;
            text-align: center;
            margin-left: -15px;
            font-size: 40px;
            padding-top: 5px;
            margin-top: 0px;
            float: left;
        }
    }

    .ess-progressbar {
        height: 36px;
        background: transparent;
        border: 1px solid @teal;
        margin-bottom: 30px;
        text-align: center;

        div {
            background: @teal;
            color: @white;
            height: 35px;
            display: inline-block;
            line-height: 36px;
            float: left;
            width: 20%;
            margin-left: -15px;
            padding-left: 45px;
            position: relative;
            text-align: left;

            &:after {
                content: "\f0da";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                position: absolute;
                font-size: 61px;
                color: @teal;
                top: 0%;
                right: -9%;
                z-index: 1;
            }

            i {
                font-size: 30px;
                color: @brightgreen;
                padding-left: 50px;
                display: inline-block;
                margin-top: 2px;
                float: left;
                margin-left: -60px;
                margin-right: 10px;
            }
        }

        span {
            background: transparent;
            color: @teal;
            height: 35px;
            display: inline-block;
            line-height: 36px;
            float: left;
            width: 20%;
            margin-left: -15px;
            padding-left: 10px;
        }
    }

    .ess-casebg {
        background: @white;
        border-radius: @border-radius-large;
        padding: 20px;
        position: relative;

        h3 {
            color: @teal;
            font-size: 26px;
            margin-top: 0px;
            margin-bottom: 30px;
        }
    }

    .ess-return {
        position: absolute;
        top: 40%;
        left: -8%;
        color: rgba(255, 255, 255, 0.8);
        font-size: 72px;
        z-index:2;

        &:hover, &:active, &:focus {
            color: @white;
            cursor: pointer;
        }
    }

    .ess-caseinputs {
        label {
            color: @gray;
            font-size: 15px;
            margin-bottom: 1px;
        }

        input, select {
            background: @gray-lightest;
            height: 40px;
            padding-left: 10px;
            color: @teal-dark;
            font-size: 16px;
            font-weight:700;
            border: none;
        }

        textarea {
            background: @gray-lightest;
            min-height: 75px;
            padding: 10px;
            color: @teal-dark;
            font-size: 16px;
            font-weight:700;
            border: none;
            max-width: 100%;
            max-height: 200px;
        }

        textarea::-webkit-input-placeholder {
            color: @gray;
        }

        textarea:-moz-placeholder {
            color: @gray;
            opacity: 1;
        }

        textarea::-moz-placeholder {
            color: @gray;
            opacity: 1;
        }

        textarea:-ms-input-placeholder {
            color: @gray;
        }

        .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
            border-radius: 0;
            background: @white;
            font-size: 14px;
            text-transform: uppercase;
            color: @gray-dark;
            border: none;
        }
    }

    .ess-workrel {
        .btn-group {
            width: 100%;
            margin-bottom: 30px;
        }

        .btn-default {
            background: transparent;
            color: @teal !important;
            border-color: @teal;
            width: 50%;
            height: 50px;
            line-height: 50px;
            font-size: 12px !important;
            text-transform: uppercase;
            padding: 0px;
        }

        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
            color: @white !important;
            background-color: @teal;
            border: 1px solid @teal;
        }

        .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
            border-radius: 0px;
        }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-radius: 0px;
            margin-left: -1px;
        }
    }

    h4.ess-hcd {
        color: @white;
        border-top: 1px solid @teal-dark;
        padding-top: 15px;
        margin-top: 50px;
    }

    .ess-abchild {
        .btn-group {
            width: 100%;
            margin-bottom: 30px;
        }

        .btn-default {
            background: @gray-lightest;
            border-color: @gray-light;
            color: @teal-dark;
            height: 50px;
            line-height: 40px;
            width: 20%;
        }

        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
            color: @white !important;
            background-color: @teal;
            border: 1px solid @teal;
        }

        .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
            border-radius: 0px;
        }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-radius: 0px;
            margin-left: -1px;
        }
    }

    .mt20 {
        margin-top: 20px;
    }

    .mb20{
        margin-bottom: 20px;
    }

    .form-group {
    margin-bottom: 20px;
}

    .ess-arbtn {
        .btn-group {
            width: 100%;
            margin-bottom: 30px;
        }

        .btn-default {
            background: transparent;
            color: @teal !important;
            border-color: @teal;
            width: 16.6667%;
            height: 50px;
            line-height: 50px;
            font-size: 11px !important;
            text-transform: uppercase;
            padding: 0px;
        }

        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
            color: @white !important;
            background-color: @teal;
            border: 1px solid @teal;
        }

        .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
            border-radius: 0px;
        }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-radius: 0px;
            margin-left: -1px;
        }
    }



    .ess-oodbtn {

        .btn-group {
            width: 75%;
            margin-bottom: 30px;
            margin-left: 12.5%;
        }

        .btn-default {
            background: transparent;
            color: @teal !important;
            border-color: @teal;
            width: 33.33%;
            height: 50px;
            line-height: 50px;
            font-size: 16px !important;
            text-transform: uppercase;
            padding: 0px;
        }

        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
            color: @white !important;
            background-color: @teal;
            border: 1px solid @teal;
        }

        .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
            border-radius: 0px;
        }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-radius: 0px;
            margin-left: -1px;
        }
    }

    .essbtn-continue {
        background: @btn-main;
        height: 50px;
        border-radius: 0;
        border: none;
        color: @white;
        text-transform: uppercase;
        float: right;
        margin-top: 40px;
        padding: 0 20px;
        line-height: 50px;

        &:hover {
            background: lighten(@btn-main, 5%);
            color: @white;
        }

        &:active, &:focus {
            background: darken(@btn-main, 3%);
            box-shadow: inset 2px 2px 5px 1px darken(@btn-main, 10%);
            color: @white;
        }
    }

    .ess-conab {
        span {
            background: @teal;
            width: 100%;
            height: 50px;
            display: block;
            margin-top: 0px;
            color: @white;
            text-align: center;
            line-height: 50px;
        }
    }

    .case-error {
    background: #FFEBEB;
    margin: 0 0px -20px;
    border-radius: 6px;
    padding: 10px 10px 10px 50px;
    color: #f00;
    min-height: 50px;
    position: relative;
    font-size: 16px;
    text-align: center;

        &:after {
            content: "\f071";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            position: absolute;
            font-size: 32px;
            color: #f00;
            top: 14px;
            left: 13px;
            z-index: 1;
        }
    }



    .ess-caseconfirmbg {
        background: @white;
        border-radius: @border-radius-large;
        padding: 20px;
        position: relative;
        overflow:hidden;

        h3 {
            color: @teal;
            font-size: 26px;
            margin-top: 0px;
            margin-bottom: 30px;

            i{
                color:@brightgreen;
                padding-left:10px;
            }
        }

        p {
            color: @teal;
            line-height: 28px;
            font-size: 16px;
            margin-top:30px;
        }

        &:after {
        content: "\f058";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size:200px;
        color: @brightgreen;
        opacity:.2;
        top: -97px;
        right: -22px;
        z-index: 1;
    }
    }

    .confirm-check {
        color: @brightgreen;
        font-size: 100px;
        margin-top: -27px;
        text-align: right;
        padding-right: 30px;
    }


    .ess-nrlink {
        a {
            color: @teal;
            font-size: 14px;
            margin-top: 48px;
            float: right;
        }

        a:hover {
            color: @gray;
        }
    }

    .ess-caselabel {
    background: @gray-lightest;
    border:1px solid @gray-lighter;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 20px;
    text-align: right;
    margin-bottom: 15px;
    color: @teal-dark;
    width:25%;
}

.ess-casenum {
    background: @white;
    border:1px solid @gray-lighter;
    height: 40px;
    line-height: 40px;
    padding: 0 20px 0 10px;
    text-align: left;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: @teal-dark;
    width: 75%;

    span{
        color:@gray-light;
        padding:0 5px;
    }
}

//MOBILE STYLEZZ//
@media all and (max-width: 767px) {
    .menu-items {
        height: 50px;
        min-width: 0;
        width: 25%;
    }

    .toolbar {
        height: 50px;
    }

    .ess-logo {
        svg {
            width: 180px;
        }
    }

    body {
        padding-top: 120px;
    }

    .ess-headline, .well {
        border-radius: 0px;
    }

    .footer svg {
        margin-top: 22px;
        max-width: 125px;
    }

    .ess-casebg {
        border-radius: 0px;
        padding: 15px;

        h3 {
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }

    .ess-casehead {
        border-radius: 0px;

        h1 {
            font-size: 21px;
            margin: 14px 0px 0px 12px;
        }
    }

    .ess-return {
        bottom: 15px;
        top: inherit;
        left: 10px;
        font-size: 48px;
    }

    .essbtn-continue {
        margin: 30px 10px 10px;
    }

    .ess-casehead span {
        border-radius: 0px;
    }

    .ess-leavebtn, .ess-accobtn {
        width:100%;
        margin-bottom:20px;
        padding:10px;

        span{
            font-size:70px;
            margin-top:10px;
        }
    }

    .ess-start {
        h3 {
            font-size: 16px;
            margin-bottom: -10px;
            color:@teal;
        }
    }

    .login-box {
    padding: 20px 10px;
}

    .login-email input, .login-pass input {
   
    padding-left: 45px;

  }

    .ess-arbtn .btn-default {    
    width: 50%;   
    font-size: 12px !important;
    text-transform: none;
    padding: 0px;
    margin: 0px 0px -1px;
}

    .ess-abchild .btn-default {
    overflow:hidden;
    width: 50%;
    margin: 0px;
}

    .ess-oodbtn .btn-default {   
    width: 100%;   
    margin: 0px 0 -1px;
}

    .ess-caseconfirmbg {   
    border-radius: 0px;
    padding: 15px;


        &:after {
       display:none;
    }
}

    .confirm-check {
    text-align: center;
}

    .mob-complete{
        padding:0px 7px;
        margin-right:-15px;
    }

    .ess-nrlink a {
    margin-top: 38px;
}

    .mmt20{
        margin-top:20px;
    }
}

//END MOBILE//

//TABLET//
@media only screen and (min-width:768px) and (max-width: 1200px)  {
     .ess-return {
        bottom: 15px;
        top: inherit;
        left: 10px;
        font-size: 48px;
    }


}