﻿@import "bootstrap/bootstrap.less";

@-ms-viewport {
    width: auto !important;
}

//COLORS//
@teal: #2A849F;
@teal-dark: #005575;
@teal-bright: #00A3CA;
@brand-primary: #ff8300;
@teal-bg: #548CA0;
@teal-head: #81ABBA;
@teal-inputs: #82A9B7;
@gray-darker: #333333;
@gray-dark: #444444;
@gray: #666666;
@gray-menu: #D9D9D9;
@gray-light: #999999;
@gray-lightest: #f1f1f1;
@white: #ffffff;
@brightblue: #70D8FF;
@bluetext: #066F96;
@brightgreen: #B8E986;
@greentext: #4E7C22;
@btn-main: #00BAFF;
@green: #B8E986;
@approved: #7ED321;
@red: #871638;
@pink: #930037;
@orange: #FF8300;
@navajowhite: #ffdead;


//BUTTONS//
.btn-ess {
    border-radius: @border-radius-base;
    border: none;
}

.btn-logout {
    background: @teal-dark;
    height: 20px;
    margin-top: 2px;
    padding: 0 10px;
    color: @white;

    &:hover, &:active, &:focus {
        background: @teal;
        color: @white;
        box-shadow: inset 1px 1px 1px 1px @teal-dark;
        outline: none;
    }
}

.btn-login {
    background: @teal;
    height: 50px;
    color: @white;
    width: 100%;
    font-size: 24px;
    text-transform: uppercase;
    outline: none;

    &:hover, &:active, &:focus {
        background: darken(@teal, 5%);
        box-shadow: inset 2px 2px 4px 0px @teal-dark;
        color: @white;
        outline: none;
    }
}

.btn-sso {
    background: @btn-main;
    height: auto;
    color: @white;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    white-space: normal;
    text-transform: uppercase;
    outline: none;
    margin-bottom: -30px;
    padding: 8px 0;

    &:hover, &:active, &:focus {
        background: lighten(@btn-main,10%);
        box-shadow: inset 2px 2px 4px 0px darken(@btn-main, 5%);
        color: @white;
        outline: none;
    }
}

.border-login {
    border-bottom: 1px solid @teal-bright;
    height: 11px;
    margin: 30px 0 20px;

    span {
        background: @white;
        padding: 0 10px;
        color: @teal;
    }
}

.btn-repass {
    background: @teal;
    height: 40px;
    line-height: 30px;
    color: @white;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
    float: right;

    &:hover, &:active, &:focus {
        background: darken(@teal,5%);
        box-shadow: inset 2px 2px 4px 0px @teal-dark;
        color: @white;
        outline: none;
    }
}

.btn-cancel-passw {
    background: @gray-lightest;
    border: none;
    height: 40px;
    line-height: 30px;
    color: @gray;
    width: 45%;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
    float: left;

    &:hover, &:active, &:focus {
        background: @gray-lightest;
        box-shadow: inset 2px 2px 4px 0px @gray-light;
        color: @red;
        outline: none;
    }
}

.btn-return-home {
    background: @teal;
    border: none;
    height: 40px;
    line-height: 30px;
    color: @white;
    width: 100%;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;

    &:hover, &:active, &:focus {
        background: @teal-bright;
        color: @white;
        outline: none;
    }
}

//LOGIN PAGE//
.ess-loggedout {
    top: -50px;

    svg {
        width: 100%;
        max-width: 275px;
        margin-bottom: -15px;
    }
}


.login-box {
    border-radius: @border-radius-large;
    background: @white;
    box-shadow: 2px 2px 4px 0px #ccc;
    padding: 50px;
    min-height: 300px;
    outline: none;

    label {
        color: @teal-dark;
    }

    input::-webkit-input-placeholder {
        color: @teal;
    }

    input:-moz-placeholder {
        color: @teal;
        opacity: 1;
    }

    input::-moz-placeholder {
        color: @teal;
        opacity: 1;
    }

    input:-ms-input-placeholder {
        color: @teal;
    }
}



.login-email {
    position: relative;

    input {
        height: 50px;
        width: 100%;
        padding-left: 50px;
        border-radius: 6px 6px 0 0;
        background: @gray-lightest;
        color: @teal-dark;
        border: none;
        box-shadow: none;
        outline: none;
    }

    &:after {
        content: "\f0e0";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 24px;
        color: @teal-bright;
        top: 13%;
        left: 4%;
        z-index: 1;
    }
}

.forgot-password, .register-account {
    .login-email input, .login-pass input {
        border-radius: 6px;
    }

    .exp-top {
        input {
            border-radius: 6px 6px 0 0 !important;
        }
    }

    .exp-bot {
        input {
            border-radius: 0 0 6px 6px !important;
        }
    }

    label {
        color: @teal;
        margin-bottom: 30px;
    }

    h3, h4 {
        margin: 0 0 20px;
        color: @teal-dark;
    }
}

.btn-change-pw {
    height: 40px;
    padding: 10px;
    background: @teal;
    border: none;
    color: @white;
    margin-top: 10px;

    &:active, &:hover {
        background: @teal-bright;
        border: none;
        color: @white;
    }

    &:focus {
        color: @white;
    }

    i {
        padding-right: 5px;
    }
}


.email-error {
    color: @red;
    padding: 5px;
    display: block;
    margin-top: -20px;
    margin-bottom: 5px;
    border-radius: @border-radius-large;
}


.term-error {
    color: @red;
    padding: 5px;
    display: block;
    margin-bottom: 5px;
    border-radius: @border-radius-large;

    ul, ol {
        margin-top: 0;
        margin-bottom: 10px;
        list-style: none;
        margin: 10px 0px 0 -0px;
        padding: 10px;
        background: #fff;
        color: #f00;
    }
}

.login-pass {
    position: relative;

    input {
        height: 50px;
        width: 100%;
        padding-left: 50px;
        border-radius: 0 0 6px 6px;
        background: @gray-lightest;
        color: @teal-dark;
        border: none;
        box-shadow: none;
        outline: none;
        margin-top: -14px;
    }

    &:after {
        content: "\f023";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 30px;
        color: @teal-bright;
        top: -26%;
        left: 5%;
        z-index: 1;
    }
}

.pass-error {
    color: @red;
    padding: 5px;
    display: block;
    margin-top: -10px;
    margin-bottom: 20px;
    border-radius: @border-radius-large;
}

//TOOLBAR//

.navbar-header {
    float: none;
}

.ess-logo {
    padding: 0;
    margin-top: 2px;
    display: inline-block;
    margin-left: -20px;

    :hover {
        opacity: .8;
    }
}


.ess-companylogo {
    img {
        max-height: 35px;
        margin-right: 15px;
        margin-top: 5px;
    }

    h1 {
        margin-right: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        font-size: 16px;
        text-transform: uppercase;
        background: @gray-lightest;
        padding: 10px 10px 10px 10px;
        border-radius: 10px 0 0 10px;
        color: @teal-dark;
    }
}


.toolbar {
    background-color: @white;
    color: @gray-darker;
    position: fixed;
    width: 100%;
    height: 65px;
    top: 25px;
    padding: 10px 15px;
    z-index: 1029;
    box-shadow: 0px 2px 5px 1px #ccc;
}

.user-info {
    border-right: 1px solid @gray-menu;
    height: 65px;
    margin-top: -10px;
    min-width: 275px;
    padding-left: 15px;
    padding-right: 10px;

    h5 {
        font-size: 16px;
        margin: 14px 0 5px;
    }

    .user-email {
        font-size: 12px;
        color: @gray-light;

        i {
            padding-left: 5px;
            margin-top: 3px;
        }
    }
}

.teal-dark {
    color: @teal-dark;
}

.menu-items {
    border-right: 1px solid @gray-menu;
    height: 65px;
    margin-top: -10px;
    min-width: 105px;

    &:hover, &:focus, &:active {
        border-bottom: 5px solid @brightgreen;
        background: @gray-lightest;
    }
}

.menu-icons {
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: -1px;
    color: @teal-bright;
}

.menu-active {
    border-bottom: 5px solid @brightgreen;
}

.menu-text {
    text-transform: uppercase;
    font-size: 12px;
    color: @gray-dark;
}



//FOOTER//
.footer {
    background: @teal;
    height: 75px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    p {
        color: @gray-lightest;
        display: inline-block;
        margin-top: 30px;
    }

    svg {
        margin-top: 20px;
        max-height: 35px;
        opacity: .9;
    }
}



//Main Styles//
html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    padding-top: 145px;
    margin-bottom: 125px;
    background-color: @gray-lightest;
    font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif !important;
}


.white {
    color: @white;
}

.red {
    color: @red;
}

.errShow {
    color: @white;
    background: @red;
    padding: 5px 10px;
    display: inline-block;
    width: 100%;

    &:empty {
        padding: 0px;
        display: none;
    }
}


.gray-lightest {
    color: @gray-lightest;
}

.gray-light {
    color: @gray-light;
}

.teal-dark {
    color: @teal-dark;
}

.teal {
    color: @teal;
}

.brightgreen {
    color: @brightgreen;
}

.bg-white {
    background: @white !important;
}


.ess-headline {
    border-radius: @border-radius-large;
    background: @white;
    box-shadow: 2px 2px 4px 0px #ccc;
    margin-bottom: 30px;
    height: 60px;

    h1 {
        color: @teal-dark;
        text-transform: uppercase;
        font-size: 30px;
        display: inline-block;
        padding-left: 15px;
        line-height: 22px;
    }

    h4 {
        color: @gray-light;
        text-transform: uppercase;
        font-size: 15px;
        display: inline-block;
        line-height: 40px;
        float: right;
    }

    .icon {
        color: @teal-bright;
        font-size: 24px;
        background-color: @gray-lightest;
        border-radius: 6px;
        border: none;
        height: 40px;
        width: 40px;
        line-height: 22px;
        text-align: center;
        margin-top: 10px;
        float: right;

        &:active, &:hover {
            color: lighten(@teal,20%);
        }
    }

    .essreportname {
        color: @teal;
        font-size: 24px;
        display: inline-block;
        padding-left: 10px;
        line-height: 22px;
    }
}

.ess-headicon {
    color: @teal-bright;
    font-size: 30px;
}

.ess-caseheader {
    font-size: 20px;
    margin-top: -7px;
    margin-bottom: 15px;

    a {
        color: @teal-dark;
        padding-right: 5px;

        &:hover {
            color: @teal-bright;
            text-decoration: none;
        }

        &:active, &:focus {
            text-decoration: none;
        }
    }
}

.ess-caseid {
    color: @teal-dark;
    padding: 0 5px 0 0;
    font-size: 16px;

    &:hover {
        color: @teal-bright;
    }
}

.ess-filters {
    background: darken(@gray-lighter,10%);
    box-shadow: 2px 2px 4px 0px #ccc;
    padding: 10px 0;
    margin-top: -34px;
    margin-bottom: 30px;
}

.ess-filterbtn {

    .btn-default {
        background: @gray-dark;
        color: @gray-lighter;
    }

    .btn-default.active, .open .dropdown-toggle.btn-default, .btn-default:hover {
        color: @white !important;
        background-color: darken(@brightblue, 10%);
        border-color: @brightblue;
    }
}

.ess-filterchecks {
    margin-top: 6px;



    label {
        padding-left: 15px;
    }
}

.btn-filters {
    background: darken(@brightblue,30%);
    color: @white;
    text-transform: uppercase;
    font-size: 12px;
    height: 34px;

    &:hover {
        background: darken(@brightblue,25%);
        color: @gray-lightest;
    }
}

.btn-filterclear {
    height: 34px;
    color: @teal;
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 10px;
}


.icon {
    color: @teal-dark;
    font-size: 20px;
    background-color: @gray-lightest;
    border-radius: @border-radius-base;
    border: none;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 29px;
    margin-left: 5px;

    &:active, &:hover, &:focus {
        color: lighten(@teal-dark,10%);
        box-shadow: inset 1px 1px 3px 0px @gray;
    }
}

.f16 {
    font-size: 16px;
    padding-left: 5px;
}

.approved {
    color: @approved !important;
}

.pending {
    color: @orange !important;
}

.denied {
    color: @pink !important;
}

.case-status-icons {
    font-size: 64px;
    margin-left: -4px;
    margin-top: 7px;
}

.translucent-icon {
    opacity: 0.75;
    background-color: transparent;
    border: none;
}

.uppercase {
    text-transform: uppercase;
}

.navbar {
    background-color: @teal;
    border-color: @teal;
    min-height: 25px;
    max-height: 25px;
}


.navbar-fixed-top .collapse {
    padding: 0 15px;
}

.well {
    background-color: @white;
    box-shadow: 2px 2px 4px 0px #ccc;
    border: none;
    margin-bottom: 10px;
    color: @gray-darker;
    padding: 15px;
}



.negative {
    color: @white;
}

.brand {
    color: @white;
    background-color: @teal;

    &:hover, &:active, &:focus {
        color: @white;
        background-color: lighten(@teal, 10%);
        box-shadow: inset 1px 1px 3px 0px darken(@teal, 10%);
    }
}


/*
    personal leave button: 70D8FF
    accommodation button: B8E986
    primary save button: 00BAFF
    darker teal, for headline and icons: 005472
*/


//Case Creations//

.ess-nrhead {

    h2 {
        font-size: 22px;
        border-bottom: 1px solid @white;
        color: @white;
        margin-bottom: 30px;
        margin-top: 50px;
        padding-bottom: 8px;
    }

    span {
        color: @gray-lightest;
        padding-right: 10px;
    }
}

.ess-leavebtn {
    background: @brightblue;
    color: @bluetext;
    padding: 20px;
    border-radius: @border-radius-large;
    text-align: center;
    float: left;
    width: 45%;
    box-shadow: inset -2px -2px 0px 2px @bluetext;

    &:hover {
        background: lighten(@brightblue, 10%);
    }

    &:focus, &:active {
        background: darken(@brightblue, 10%);
        box-shadow: inset 2px 2px 2px 2px darken(@bluetext, 10%);
    }

    h2 {
        font-size: 24px;
        text-transform: uppercase;
    }

    span {
        font-size: 100px;
    }
}

.ess-accobtn {
    background: @brightgreen;
    color: @greentext;
    padding: 20px;
    border-radius: @border-radius-large;
    text-align: center;
    float: right;
    width: 45%;
    box-shadow: inset -2px -2px 0px 2px @greentext;

    &:hover {
        background: lighten(@brightgreen, 10%);
    }

    &:focus, &:active {
        background: darken(@brightgreen, 10%);
        box-shadow: inset 2px 2px 2px 2px darken(@greentext, 10%);
    }

    h2 {
        font-size: 24px;
        text-transform: uppercase;
    }

    span {
        font-size: 100px;
    }
}

.ess-start {
    h3 {
        color: @white;
    }
}

.ess-casehead {
    background: @white;
    border-radius: @border-radius-large;
    box-shadow: 2px 2px 4px 0px #ccc;
    height: 50px;
    color: @teal-dark;
    margin-bottom: 20px;

    h1 {
        font-size: 24px;
        display: inline-block;
        margin: 13px 0px 0px 12px;
        float: left;
    }

    h4 {
        color: @gray-light;
        text-transform: uppercase;
        font-size: 15px;
        display: inline-block;
        line-height: 33px;
        float: right;
    }

    span {
        background: @brightblue;
        color: @bluetext;
        border-radius: 6px 0 0 6px;
        height: 50px;
        width: 50px;
        text-align: center;
        margin-left: -15px;
        font-size: 40px;
        padding-top: 5px;
        margin-top: 0px;
        float: left;
    }

    i {
        background: @brightgreen;
        color: @greentext;
        border-radius: 6px 0 0 6px;
        height: 50px;
        width: 50px;
        text-align: center;
        margin-left: -15px;
        font-size: 40px;
        padding-top: 5px;
        margin-top: 0px;
        float: left;
    }
}


.ess-progressbar {
    background: @white;
    border: none;
    margin-bottom: 30px;
    text-align: center;

    div {
        background: @green;
        color: @greentext;
        height: 35px;
        display: inline-block;
        line-height: 36px;
        float: left;
        width: 20%;
        margin-left: -15px;
        padding-left: 45px;
        position: relative;
        text-align: left;

        &:after {
            content: "\f0da";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            position: absolute;
            font-size: 61px;
            color: @green;
            top: 0%;
            right: -9%;
            z-index: 1;
        }

        i {
            font-size: 30px;
            color: @white;
            padding-left: 50px;
            display: inline-block;
            margin-top: 2px;
            float: left;
            margin-left: -60px;
            margin-right: 10px;
        }
    }

    span {
        background: transparent;
        color: @teal-dark;
        height: 35px;
        display: inline-block;
        line-height: 36px;
        float: left;
        width: 20%;
        margin-left: -15px;
        padding-left: 10px;
    }
}

.acc-progressbar {
    background: @white;
    border: none;
    margin-bottom: 30px;
    text-align: center;

    div {
        background: @green;
        color: @greentext;
        height: 35px;
        display: inline-block;
        line-height: 36px;
        float: left;
        width: 25%;
        margin-left: -15px;
        padding-left: 45px;
        position: relative;
        text-align: left;

        &:after {
            content: "\f0da";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            position: absolute;
            font-size: 61px;
            color: @green;
            top: 0%;
            right: -7%;
            z-index: 1;
        }

        i {
            font-size: 30px;
            color: @white;
            padding-left: 50px;
            display: inline-block;
            margin-top: 2px;
            float: left;
            margin-left: -60px;
            margin-right: 10px;
        }
    }

    span {
        background: transparent;
        color: @teal;
        height: 35px;
        display: inline-block;
        line-height: 36px;
        float: left;
        width: 25%;
        margin-left: -15px;
        padding-left: 10px;
    }
}



.ess-casebg {
    background: @white;
    border-radius: @border-radius-large;
    box-shadow: 2px 2px 4px 0px #ccc;
    padding: 20px;
    position: relative;

    h3 {
        color: @teal-dark;
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .alternate-contact-info {
        h3 {
            border-top: 1px solid @teal;
            padding-top: 15px;
            margin-top: 15px;
            margin-bottom: 0px;
        }
    }
}

.ess-return {
    position: absolute;
    top: 40%;
    left: -8%;
    color: @teal-bright;
    font-size: 72px;
    z-index: 2;

    &:hover, &:active, &:focus {
        color: lighten(@teal-bright,10%);
        cursor: pointer;
    }
}

.ess-caseinputs {
    label {
        color: @teal-dark;
        font-size: 15px;
        margin-bottom: 5px;
    }

    input, select {
        background: @gray-lightest;
        height: 40px;
        padding-left: 10px;
        color: @teal-dark;
        font-size: 16px;
        font-weight: 700;
        border: none;
    }

    textarea {
        background: @gray-lightest;
        min-height: 75px;
        padding: 10px;
        color: @teal-dark;
        font-size: 16px;
        font-weight: 700;
        border: none;
        max-width: 100%;
        max-height: 200px;
    }

    textarea::-webkit-input-placeholder {
        color: @gray;
    }

    textarea:-moz-placeholder {
        color: @gray;
        opacity: 1;
    }

    textarea::-moz-placeholder {
        color: @gray;
        opacity: 1;
    }

    textarea:-ms-input-placeholder {
        color: @gray;
    }

    .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
        border-radius: 0;
        background: @gray-lightest;
        font-size: 14px;
        text-transform: uppercase;
        color: @teal;
        border: none;
    }

    .disabled {
        color: @gray;
        background-color: darken(@gray-lighter,5%);
    }

    .ess-personalinfo-warning {
        background: @gray-lightest;
        border-radius: @border-radius-small;
        padding: 10px;
        color: @teal;
        text-align: center;

        span {
            margin-right: 10px;
        }
    }

    .alternate-contact-info {
        input[type="checkbox"] {
            height: auto;
            margin-left: 10px;
        }
    }
}

.ess-workrel {
    .btn-group {
        width: 100%;
        margin-bottom: 30px;
    }

    .btn-default {
        background: @gray-lightest;
        color: @teal !important;
        border-color: @gray-lighter;
        width: 50%;
        height: 50px;
        line-height: 50px;
        font-size: 12px !important;
        text-transform: uppercase;
        padding: 0px;
    }

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: @white !important;
        background-color: @teal;
        border: 1px solid @teal;
    }

    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-radius: 0px;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 0px;
        margin-left: -1px;
    }
}

h4.ess-hcd {
    color: @teal-dark;
    border-top: 1px solid @teal-dark;
    padding-top: 15px;
    margin-top: 50px;
}

.ess-abchild {
    .btn-group {
        width: 100%;
        margin-bottom: 30px;
    }

    .btn-default {
        background: @gray-lightest;
        border-color: #d8d8d8;
        color: @teal-dark;
        height: 50px;
        line-height: 40px;
        min-width: 19.5%;
        margin: 0 5px 5px;
        font-size: 13px;
    }

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: @white !important;
        background-color: @teal;
        border: 1px solid @teal;
    }

    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-radius: 0px;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 0px;
        margin-left: -1px;
    }
}

.ml20 {
    margin-left: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mb20 {
    margin-bottom: 20px;
}

.ess-arbtn {
    .btn-group {
        width: 100%;
        margin-bottom: 30px;
    }

    .btn-default {
        background: @gray-lightest;
        color: @teal !important;
        border-color: #d8d8d8;
        width: 19%;
        height: 50px;
        line-height: 50px;
        font-size: 11px !important;
        text-transform: uppercase;
        padding: 0px;
        margin: 0 5px 5px;
    }

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: @white !important;
        background-color: @teal;
        border: 1px solid @teal;
    }

    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-radius: 0px;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 0px;
        margin-left: -1px;
    }
}

.acc-arbtn {
    .btn-group {
        width: 100%;
        margin-bottom: 0px;
    }

    .btn-default {
        background: @gray-lightest;
        color: @teal !important;
        border-color: #d8d8d8;
        width: 19%;
        height: 50px;
        line-height: 50px;
        font-size: 12px !important;
        text-transform: uppercase;
        padding: 0px;
        margin: 0 5px 5px;
    }

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: @white !important;
        background-color: @teal;
        border: 1px solid @teal;
    }

    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-radius: 0px;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 0px;
        margin-left: -1px;
    }
}




.ess-oodbtn {

    .btn-group {
        width: 75%;
        margin-bottom: 30px;
        margin-left: 12.5%;
    }

    .btn-default {
        background: @gray-lightest;
        color: @teal !important;
        border-color: @gray-lighter;
        width: 33.33%;
        height: 50px;
        line-height: 50px;
        font-size: 16px !important;
        text-transform: uppercase;
        padding: 0px;
    }

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: @white !important;
        background-color: @teal;
        border: 1px solid @teal;
    }

    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-radius: 0px;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 0px;
        margin-left: -1px;
    }
}

.acc-dur {
    .btn-group {
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid @teal;
    }

    .btn-default {
        background: @gray-lightest;
        color: @teal !important;
        border-color: @gray-lighter;
        width: 50%;
        height: 50px;
        line-height: 50px;
        font-size: 12px !important;
        text-transform: uppercase;
        padding: 0px;
    }

    .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
        color: @white !important;
        background-color: @teal;
        border: 1px solid @teal;
    }

    .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
        border-radius: 0px;
    }

    .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
        border-radius: 0px;
        margin-left: -1px;
    }
}

.essbtn-continue {
    background: @btn-main;
    height: 50px;
    border-radius: 0;
    border: none;
    color: @white;
    text-transform: uppercase;
    float: right;
    margin-top: 40px;
    padding: 0 20px;
    line-height: 50px;

    &:hover {
        background: lighten(@btn-main, 5%);
        color: @white;
    }

    &:active, &:focus {
        background: darken(@btn-main, 3%);
        box-shadow: inset 2px 2px 5px 1px darken(@btn-main, 10%);
        color: @white;
    }
}

.cursor-hand {
    cursor: pointer;
}


.essbtn-team-heading-selected {
    background: @btn-main;
    height: 40px;
    border-radius: 0;
    border: none;
    color: @white;
    text-transform: uppercase;
    float: right;
    margin-top: 10px;
    padding: 0 20px;
    line-height: 40px;

    &:hover {
        background: lighten(@btn-main, 5%);
        color: @white;
    }

    &:active, &:focus {
        background: darken(@btn-main, 3%);
        box-shadow: inset 2px 2px 5px 1px darken(@btn-main, 10%);
        color: @white;
    }

    span {
        padding-right: 10px;
    }
}

.essbtn-team-heading {
    background: @gray-dark;
    height: 40px;
    border-radius: 0;
    border: none;
    color: @white;
    text-transform: uppercase;
    float: right;
    margin-top: 10px;
    padding: 0 20px;
    line-height: 40px;

    &:hover {
        background: lighten(@gray-dark, 5%);
        color: @white;
    }

    &:active, &:focus {
        background: darken(@gray-dark, 3%);
        box-shadow: inset 2px 2px 5px 1px darken(@gray-dark, 10%);
        color: @white;
    }

    span {
        padding-right: 10px;
    }
}

/* Define colours */
@ess-team-report-list-head: #0597ce;
@ess-team-report-list-body: #05698F;
@ess-team-report-selected: #043f55;

@ess-org-base: #50e3c2;
@ess-org-report-list-head: #36b79a;
@ess-org-report-list-body: #2e977f;
@ess-org-report-selected: #1c5649;

.ess-team-report {
    border-radius: @border-radius-large;
    background: @btn-main;
    margin-bottom: 25px;

    .nav {
        margin-top: -7px;
        padding-bottom: 0px;
    }


    h1 {
        color: @white;
        text-transform: uppercase;
        font-size: 20px;
        display: inline-block;
        padding-left: 15px;
        line-height: 20px;
    }

    .reportlist {
        background: @ess-team-report-list-head;
        color: @white;
        margin: 5px;
        border: none;

        & .updownarrow:focus, .updownarrow.active {
            background: darken(@ess-team-report-list-head, 3%);
            color: @white;
            border: none;
        }

        & .updownarrow.collapsed:focus, .updownarrow.collapsed.active {
            background: darken(@ess-team-report-list-head, 3%);
            color: @white;
            border: none;
        }

        h4 {
            color: @white;
            font-size: 18px;
            display: inline-block;
            padding-left: 15px;
            line-height: 18px;
        }

        a {
            color: @white;
            outline: none;
        }

        & a:hover {
            background: @ess-team-report-selected;
            color: @white;
        }

        & a:active, & a:focus {
            background: @ess-team-report-selected;
            color: @white;
        }

        .rightarrow {
            float: right;
            font-size: 24px;
        }

        & .updownarrow:after {
            font-family: "FontAwesome";
            content: "\f139";
            float: right;
            font-size: 24px;
        }

        & .updownarrow.collapsed:after {
            font-family: "FontAwesome";
            content: "\f13a";
            float: right;
            font-size: 24px;
        }
    }

    .reportlistholder {
        background: @ess-team-report-list-body;
        color: @white;

        span {
            color: @white;
            font-size: 14px;
            display: inline-block;
            padding-left: 30px;
            line-height: 8px;
        }

        .rightarrow {
            float: right;
            font-size: 16px;
            margin-top: 0px;
        }
    }
}


.ess-org-report {
    border-radius: @border-radius-large;
    background: @ess-org-base;
    margin-bottom: 25px;

    .nav {
        margin-top: -7px;
        padding-bottom: 0px;
    }


    h1 {
        color: @white;
        text-transform: uppercase;
        font-size: 20px;
        display: inline-block;
        padding-left: 15px;
        line-height: 20px;
    }

    .reportlist {
        background: @ess-org-report-list-head;
        color: @white;
        margin: 5px;
        border: none;

        & .updownarrow:focus, .updownarrow.active {
            background: darken(@ess-org-report-list-head, 3%);
            color: @white;
            border: none;
        }

        & .updownarrow.collapsed:focus, .updownarrow.collapsed.active {
            background: darken(@ess-org-report-list-head, 3%);
            color: @white;
            border: none;
        }

        h4 {
            color: @white;
            font-size: 18px;
            display: inline-block;
            padding-left: 15px;
            line-height: 18px;
        }

        a {
            color: @white;
            outline: none;
        }

        & a:hover {
            background: @ess-org-report-selected;
            color: @white;
        }

        & a:active, & a:focus {
            background: @ess-org-report-selected;
            color: @white;
        }

        .rightarrow {
            float: right;
            font-size: 24px;
        }

        & .updownarrow:after {
            font-family: "FontAwesome";
            content: "\f139";
            float: right;
            font-size: 24px;
        }

        & .updownarrow.collapsed:after {
            font-family: "FontAwesome";
            content: "\f13a";
            float: right;
            font-size: 24px;
        }
    }

    .reportlistholder {
        background: @ess-org-report-list-body;
        color: @white;

        span {
            color: @white;
            font-size: 14px;
            display: inline-block;
            padding-left: 30px;
            line-height: 8px;
        }

        .rightarrow {
            float: right;
            font-size: 16px;
            margin-top: 0px;
        }
    }
}

@ess-report-criteria-active-btn: #005472;
@ess-report-gray-background: #d9d9d9;
@ess-report-darkgray-forground: #5c5c5c;

.ess-report {
    .panel {
        background: @white;
        border: none;
    }

    .exportreport {
        text-transform: uppercase;
        margin-top: 13px;

        .exportbutton {
            background-color: transparent;
            border-color: @white;
            color: @white;

            i {
                padding-left: 10px;
            }
        }

        .exportoption {
            background-color: transparent;

            input {
                text-transform: uppercase;
                width: 100%;
                border: 1px solid black;
                background: @brightgreen;
                color: @white;

                &:active, &focus, &:hover, &:selected {
                    background: darken(@brightgreen, 3%);
                    box-shadow: inset 2px 2px 5px 1px darken(@brightgreen, 10%);
                    color: @gray-darker;
                }
            }
        }
    }

    .spacer {
        height: 40px;
    }

    .lblHeader {
        span {
            font-size: 18px;
            color: @white;
            text-transform: uppercase;
            font-weight: normal;
        }

        i {
            padding-right: 10px;
            font-size: 18px;
            color: @white;
        }

        &.reportrunon {
            float: right;
        }

        .pointer {
            cursor: pointer;
        }
    }

    .table {
        background: @white;
        border-bottom:1px solid #ddd;
    }

    .report-table {
        padding-left: 20px;
        padding-right: 20px;
        overflow-x:auto;

        tr > *:nth-child(1) {
            display: none;
        }

        tbody tr th {
            background: @ess-report-gray-background;
            color: @ess-report-darkgray-forground;
            padding-left: 10px;
        }

        tbody tr td {
            padding-left: 10px;
        }
    }

    .panel-heading {
        background: @gray-darker;
        color: @white;
        font-size: 24px;
        border: none;
    }

    .control-label {
        color: @teal-dark;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        padding-bottom: 10px;
    }

    .btn-group {

        .filterbtn {
            border: none;
            text-transform: uppercase;
            background: @ess-report-gray-background;
            color: @ess-report-darkgray-forground;
            height: 40px;
            line-height: 27px;

            &:active, &:hover, &.active {
                background: @teal;
                color: @white;
            }
        }
    }

    .run-button {
        background: @btn-main;
        height: 50px;
        border-radius: 0;
        border: none;
        color: @white;
        text-transform: uppercase;
        margin-top: 40px;
        padding: 0 20px;
        line-height: 50px;
        margin-left: 10px;
        margin-bottom: 50px;

        &:hover {
            background: lighten(@btn-main, 5%);
            color: @white;
        }

        &:active, &:focus {
            background: darken(@btn-main, 3%);
            box-shadow: inset 2px 2px 5px 1px darken(@btn-main, 10%);
            color: @white;
        }

        i {
            padding-right: 10px;
            font-size: 18px;
        }
    }

    .btn-secondary {
        background: @ess-org-base;
        height: 50px;
        border-radius: 0;
        border: none;
        color: @white;
        text-transform: uppercase;
        margin-top: 40px;
        padding: 0 20px;
        line-height: 50px;
        margin-left: 10px;
        margin-bottom: 50px;

        &:hover {
            background: lighten(@ess-org-base, 5%);
            color: @white;
        }

        &:active, &:focus {
            background: darken(@ess-org-base, 3%);
            box-shadow: inset 2px 2px 5px 1px darken(@ess-org-base, 10%);
            color: @white;
        }
    }

    .criteriafilter {
        padding-bottom: 20px;
    }

    .select2 {
        height: 40px;
        margin-left: -20px;
        padding-top: 0px;
        margin-top: -2px;
        width: 100% !important;

        .select2-search__field {
            line-height: 20px;
            margin-top: -5px;
            width: 100% !important;
            height: 40px;
        }
    }

    .select2-selection {
        padding: 0px;
        margin-top: -5px;
        width: 100% !important;
    }


    .criteriafiltertable {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        border: 0px;
        width: 100%;

        td {
            padding: 0px;
            margin: 0px;
            border: none;
        }
    }

    .dateinput {
        width: 46%;
    }

    .to {
        width: 8%;
        text-align: center;
        text-transform: uppercase;
    }

    .report-group-label {
        text-transform: uppercase;
        font-size: 16px;
        color: @white;
        margin: 10px 5px 0px;
    }
}



.ess-conab {
    span {
        background: @teal;
        width: 100%;
        height: 50px;
        display: block;
        margin-top: 0px;
        color: @white;
        text-align: center;
        line-height: 50px;
    }
}

.case-error {
    background: #FFEBEB;
    margin: 0 0px -20px;
    border-radius: 6px;
    padding: 10px 10px 10px 50px;
    color: #f00;
    min-height: 50px;
    position: relative;
    font-size: 16px;
    text-align: center;

    &:after {
        content: "\f071";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 32px;
        color: #f00;
        top: 14px;
        left: 13px;
        z-index: 1;
    }
}



.ess-caseconfirmbg {
    background: @white;
    border-radius: @border-radius-large;
    box-shadow: 2px 2px 4px 0px #ccc;
    padding: 20px;
    position: relative;
    overflow: hidden;

    h3 {
        color: @teal-dark;
        font-size: 26px;
        margin-top: 0px;
        margin-bottom: 30px;

        i {
            color: @brightgreen;
            padding-left: 10px;
        }
    }

    p {
        color: @teal;
        line-height: 28px;
        font-size: 16px;
    }

    &:after {
        content: "\f058";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 200px;
        color: @brightgreen;
        opacity: .2;
        top: -97px;
        right: -22px;
        z-index: 1;
    }
}

.confirm-check {
    color: @brightgreen;
    font-size: 100px;
    margin-top: -27px;
    text-align: right;
    padding-right: 30px;
}


.ess-nrlink {
    a {
        color: @teal-dark;
        font-size: 14px;
        margin-top: 48px;
        float: right;
    }

    a:hover {
        color: @teal-bright;
    }
}

.ess-caselabel {
    background: @teal;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 20px;
    text-align: right;
    margin-bottom: 15px;
    color: @white;
    width: 25%;
}

.ess-casenum {
    background: @gray-lightest;
    line-height: 40px;
    padding: 0 20px 0 10px;
    text-align: left;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 700;
    color: @teal-dark;
    width: 75%;

    span {
        color: @gray-light;
        padding: 0 5px;
    }
}

.ess-policydates {
    font-size: 14px !important;
    text-transform: none;
}

.ess-load {
    background: lighten(@gray,40%);
    height: 50px;
    text-align: center;
    margin-top: 40px;

    h3 {
        font-size: 24px;
        color: @teal-dark;
        margin: 12px 0px;
    }

    span {
        padding: 0 30px;
    }

    &:hover, &:active, &:focus {
        background: @white;
        cursor: pointer;
    }
}


h4.modal-title {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-bottom: 1px solid;
    color: @teal-dark;
    padding-bottom: 3px;

    span {
        color: @gray-light;
        padding: 0 5px;
    }
}

.modal-header {
    padding: 15px 10px;
    border-bottom: none;
    min-height: 0px;
}

.ess-drag {
    text-align: center;
    padding: 30px;
    border: 1px solid @teal;
    font-size: 16px;
    margin-bottom: 20px;
}

.ess-filterup {
    input[type="file"] {
        display: inline-block;
        margin-left: 123px;
        margin-top: 15px;
        font-size: 18px;
        cursor: pointer;
    }

    label {
        font-size: 18px;
    }
}

.ess-filteroption {
    border-top: 1px dashed #999;
    margin-top: 20px;
    padding-top: 12px;
}


.ess-attachbtn {
    height: 50px;
    color: @white;
    background: @btn-main;
    padding: 0 20px;
    outline: none;
    border: none;
    border-radius: 0px;
    margin-left: 10px !important;

    &:active, &:focus, &:hover {
        background: lighten(@btn-main,10%);
        box-shadow: inset 1px 1px 2px 0px #444;
    }
}

.ess-attachclose {
    height: 50px;
    border-radius: 0;
    padding: 0 20px;
    color: @red;
    border: none;
    line-height: 50px;
}

.btn-upload {
    color: #ffffff;
    background-color: @teal;
    border-color: transparent;
    height: 40px;
    line-height: 30px;
    margin-bottom: 10px;

    &:hover {
        background-color: lighten(@teal,5%);
        color: #ffffff;
    }

    &:active, &:focus {
        box-shadow: inset 1px 1px 1px 1px darken(@teal,10%);
        background-color: darken(@teal,5%);
        color: #ffffff;
    }
}

.myaccountblock {
    padding-right: 4%;
}

.myfam {

    .well {
        width: 48%;
        margin: 0 1% 2%;
        min-height: 110px;
        position: relative;

        .fam-edits {
            position: absolute;
            bottom: 10px;
            right: 0px;

            span {
                color: @teal-dark;
                padding: 0 2px;
            }

            a {
                color: @teal-bright;

                &:hover {
                    color: lighten(@teal-bright,10%);
                }
            }
        }
    }

    h5, .h5 {
        color: @teal-dark;
        font-size: 16px;
        margin: 0px 0 5px;
    }

    p {
        color: @teal;
        margin: 0px;
    }
}

.ess-modalinp {
    .form-control {
        height: 40px;
    }

    label {
        color: @teal-dark;
        margin-bottom: 2px;
    }
}

.btn-userup {
    background: @btn-main;
    border: none;
    border-radius: @border-radius-base;
    height: 40px;
    width: 40px;
    color: @white;
    margin-top: 10px;

    &:hover, &:focus, &:active {
        background: lighten(@btn-main,5%);
        border: none;
        color: @white;
        box-shadow: inset 2px 2px 4px 0px darken(@btn-main,10%)
    }
}


.ess-notes {
    border-top: 1px solid @teal-dark;
    margin: 10px 0px 5px;
    padding: 10px 0;

    h3 {
        color: @teal-dark;
        font-size: 16px;
        margin: 0px 0 10px;
    }
}

.note-byline {
    color: @gray-lightest;

    span {
        color: @teal;
        padding: 0 3px;
    }

    h5 {
        display: inline-block;
        color: @teal;
        font-size: 14px;
        margin: 0px 0px 3px;
        text-transform: uppercase;
    }
}

.case-note {
    p {
        background: @gray-lightest;
        padding: 6px 10px;
        color: @teal-dark;
        border-radius: @border-radius-large;
    }
}

.border-bottom {
    border-bottom: 1px solid @teal-head;
    margin: 15px 0px 10px;
}

.note-close {
    span {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 15px;
        z-index: 2;
        color: @teal-inputs;

        &:hover, &:focus, &:active {
            color: @white;
        }
    }
}

.btn-note, .btn-note:focus {
    background: @teal;
    text-transform: uppercase;
    color: @white;
    padding: 0 10px;
    height: 40px;
    border: 1px solid;
    margin: 10px 0 -10px;
    outline: none;

    &:hover, &:active {
        color: @white;
        background: @teal-dark;
        box-shadow: inset 1px 1px 1px 0px darken(@teal-dark,5%);
        border: 1px solid @teal-dark;
    }

    i {
        padding-right: 7px;
    }
}


.ess-enternote {
    textarea {
        min-height: 50px;
        max-height: 150px;
        font-size: 16px;
        width: 100%;
        background: @gray-lightest;
        border-radius: @border-radius-large;
        border: none;
        color: @teal-dark;
        padding: 10px;
        margin: 30px 0px !important;
    }

    select {
        height: 50px;
        font-size: 16px;
        padding: 10px;
        background: @gray-lightest;
        border-radius: @border-radius-large;
        border: none;
        color: @teal-dark;
    }

    textarea::-webkit-input-placeholder {
        color: @teal-bg;
    }

    textarea:-moz-placeholder {
        color: @teal-bg;
        opacity: 1;
    }

    textarea::-moz-placeholder {
        color: @teal-bg;
        opacity: 1;
    }

    textarea:-ms-input-placeholder {
        color: @teal-bg;
    }
}


.select2-container {
    min-width: 310px;
}

.select2-container .select2-selection--multiple {
    height: 40px;
    padding: 3px 5px;
}


.select2-container--default .select2-selection--multiple {
    background-color: @gray-lightest;
    border: 1px solid @white;
    border-radius: @border-radius-large;
    cursor: text;
    margin: 3px 0px 3px 20px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid @white;
}

.select2-container--default .select2-selection--multiple:after {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    font-size: 20px;
    color: @teal-dark;
    top: 9px;
    right: 10px;
    z-index: 1;
}


.select2-container--open .select2-dropdown {
    left: 20px;
    top: -3px;
    width: 280px !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    color: @teal;
    font-size: 16px;
}


.select2-dropdown {
    background-color: @white;
    border: 1px solid @white;
    border-radius: 0px;
    width: 100%;
    z-index: 1051;
    color: @teal-dark;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px;
    box-shadow: 2px 2px 5px 0px @gray-dark;
}


.btn-return {
    background: @white;
    border: none;
    padding: 5px 5px 5px 28px;
    color: @teal;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;

    &:hover, &:active, &:focus {
        background: @teal;
        color: @white;
        border: none;
        outline: none;
    }

    &:after {
        content: "\f177";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 14px;
        color: @orange;
        top: 3px;
        left: 7px;
        z-index: 1;
    }
}

.employee-header {
    background: @white;
    box-shadow: 2px 2px 4px 0px #ccc;
    border-bottom: 1px solid @gray-lighter;
    height: 50px;
    border-radius: 6px 6px 0 0;
    padding: 13px 15px;

    h3 {
        font-size: 20px;
        display: inline-block;
        margin: 2px 0px;
        color: @teal-dark;
        padding: 0 5px 0 0;
    }

    h5 {
        font-size: 14px;
        display: inline-block;
        padding: 0 5px;
        color: @gray-light;
        margin: 0px;
    }
}

.btn-empreq-manager {
    background: @btn-main;
    border-radius: @border-radius-base;
    border: none;
    color: @white;
    position: relative;
    padding-left: 28px;
    font-size: 12px;
    margin: 14px 20px -4px 0;
    display: inline-block;
    float: right;


    &:hover, &:active, &:focus {
        background: darken(@btn-main,5%);
        box-shadow: inset 2px 2px 4px 0px darken(@btn-main,15%);
        border: none;
        color: @white;
        outline: none;
    }

    &:after {
        content: "\f271";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 14px;
        color: inherit;
        top: 4px;
        left: 7px;
        z-index: 1;
    }
}

.btn-empreq {
    background: @btn-main;
    border-radius: @border-radius-base;
    border: none;
    color: @white;
    position: relative;
    padding-left: 28px;
    font-size: 12px;
    margin: -4px 0px;

    &:hover, &:active, &:focus {
        background: darken(@btn-main,5%);
        box-shadow: inset 2px 2px 4px 0px darken(@btn-main,15%);
        border: none;
        color: @white;
        outline: none;
    }

    &:after {
        content: "\f271";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        font-size: 14px;
        color: inherit;
        top: 4px;
        left: 7px;
        z-index: 1;
    }
}

.employee-policy {
    background: @white;
    box-shadow: 2px 2px 4px 0px #ccc;
    border-radius: 0 0 6px 6px;
    padding: 15px;

    h2 {
        color: @teal-dark;
        font-size: 16px;
        border-bottom: 1px solid @teal;
        padding-bottom: 2px;
        margin: 10px 0px 20px;
    }

    .progress {
        margin-bottom: 10px;
    }

    .datepicker {
        background: @gray-lightest;
        margin-top: 5px;
        margin-left: 15px;

        .holiday {
            background: rgba(8, 147, 199, 0.58);
            color: @white;
            position: relative;
            overflow: hidden;

            &:hover, &:active, &:focus {
                background: rgba(8, 147, 199, 0.55);
                color: @white;
                position: relative;
            }

            &:after {
                content: "\f0f3";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                position: absolute;
                font-size: 30px;
                color: rgba(241, 241, 241, 0.31);
                top: -24%;
                left: 3px;
                z-index: 0;
            }
        }

        .pending, .pending:hover {
            color: @white !important;
            background: rgba(255, 131, 0, 0.61);
        }
    }

    .datepicker table tr td.denied, .datepicker table tr td.denied:hover {
        background: @red;
        color: @white !important;
        cursor: default;
        border: 1px solid @white;
    }


    .datepicker table tr td.approved, .datepicker table tr td.approved:hover {
        background: @green;
        color: @white !important;
        cursor: default;
        border: 1px solid @white;
    }

    .datepicker-inline {
        width: 250px;
        height: 250px;
    }

    .datepicker table {
        width: 240px;
    }


    .borderleft {
        border-left: 1px solid @teal-dark;
        padding-left: 20px;
        margin-left: 20px;
    }
}

.pr5 {
    padding-right: 5px;
}

.pl5 {
    padding-left: 5px;
}


.team-list {

    a {
        text-decoration: none;

        &:hover, &:active, &:focus {
            text-decoration: none;
        }


        h3 {
            display: inline-block;
            color: @teal-dark;
            margin: 0px;
            text-transform: uppercase;

            &:hover, &:active, &:focus {
                color: @teal-bright;
                text-decoration: none;
            }
        }
    }

    h4 {
        display: inline-block;
        color: @gray;
        margin: 0px;
        padding-left: 7px;


        span {
            color: @gray-light;
            padding-right: 10px;
        }
    }

    .icon {
        line-height: 32px;
    }
}

.policybottom {
    margin-bottom: 20px;
    border-bottom: 1px solid @gray-lighter;
    padding-bottom: 15px;

    &:last-child {
        border-bottom: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}

.emp-time {
    margin-top: 10px;

    h6 {
        display: inline-block;
        padding-right: 6px;
        color: @teal;
        margin: 0px;
    }

    span {
        padding: 0 15px 0 10px;
        color: @teal-head;
    }
}

.emp-icon {
    font-size: 20px;
    margin-right: 12px;
    text-align: center;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    line-height: 28px;
    background: @gray-lightest;
    color: @teal-bright;


    &:hover, &:active, &:focus {
        background: @teal-bright;
        color: @white;
        cursor: pointer;
    }
}

.emppage-icon {
    font-size: 20px;
    margin-right: 10px;
    margin-top: -3px;
    text-align: center;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    line-height: 28px;
    background: @teal-bright;
    color: @white;
}

.progress-bar {
    background-color: @teal;
}

.attachment-file-name {
    border: none;
    padding: 5px 10px;
    margin: 10px 0 0;
    display: inline-block;
    background: @gray-lightest;
    color: @teal;

    &:empty {
        display: none;
    }
}

.ess-attached {
    border-top: 1px solid lighten(@gray-light,10%);
    margin-top: 8px;


    ul {
        color: @gray-light;
        margin: 6px -39px -10px;
    }

    li {
        display: inline-block;
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid;

        &:first-child {
            padding-left: 0px;
            margin-left: 0px;
            border-left: none;
        }
    }

    a {
        color: @teal;
        text-decoration: none;

        &:hover {
            color: @teal-bright;
            text-decoration: none;
        }
    }

    span {
        padding-left: 5px;
        color: @teal;

        &:hover {
            color: @teal-bright;
            text-decoration: none;
        }
    }
}

.tor-cal {
    .datepicker {
        background: @gray-lightest;
        margin-top: 5px;
        margin-left: 15px;
    }

    .datepicker table tr td.denied, .datepicker table tr td.denied:hover {
        background: @red;
        color: @white !important;
        cursor: default;
        border: 1px solid @white;
    }


    .datepicker table tr td.approved, .datepicker table tr td.approved:hover {
        background: @green;
        color: @white !important;
        cursor: default;
        border: 1px solid @white;
    }

    .datepicker-inline {
        width: 250px;
        height: 250px;
        margin-bottom: 50px;
    }

    .datepicker table {
        width: 240px;
    }
}

.tor-error {
    .case-error {
        margin: 0 0px 20px;
    }
}

.tor-headers {
    border-bottom: 1px solid @gray-lighter;
    padding: 5px 0px 3px;
    height: 32px;

    h5 {
        margin: 2px 0px 5px;
        display: inline-block;
    }

    .case-status-icons {
        font-size: 20px;
        margin-left: 15px;
        margin-top: 0px;
        float: right;
    }
}

.unaut-link {
    a {
        color: @orange;
        margin: 15px 0;
        font-size: 16px;
        display: inline-block;

        &:hover {
            color: lighten(@orange,10%);
            text-decoration: none;
        }
    }
}

.validation-summary-valid {
    display: none;
}

.pregmatdetails {
    .pregmatbuttons {
        margin-top: 15px;

        .btn-group {
            width: 100%;
            margin-bottom: 30px;
        }

        .btn-default {
            background: @gray-lightest;
            color: @teal !important;
            border-color: @gray-lighter;
            width: 50%;
            height: 50px;
            line-height: 50px;
            font-size: 12px !important;
            text-transform: uppercase;
            padding: 0px;
        }

        .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
            color: @white !important;
            background-color: @teal;
            border: 1px solid @teal;
        }

        .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
            border-radius: 0px;
        }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-radius: 0px;
            margin-left: -1px;
        }
    }
}

label.formFldLongValue {
    background-color: @teal;
    color: @gray-lightest;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 78%;
}

label.formFldValue {
    background-color: @teal;
    color: @gray-lightest;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 54%;
}

label.formFld {
    background-color: @gray-lightest;
    color: @teal;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-align: right;
    width: 125px;
}

//MOBILE STYLEZZ//
@media all and (max-width: 767px) {
    .menu-items {
        height: 50px;
        min-width: 0;
        width: 25%;
    }

    .toolbar {
        height: 50px;
    }

    .ess-logo {
        svg {
            width: 180px;
        }
    }

    body {
        padding-top: 120px;
    }

    .ess-headline, .well {
        border-radius: 0px;
    }

    .footer svg {
        margin-top: 22px;
        max-width: 125px;
    }

    .ess-casebg {
        border-radius: 0px;
        padding: 15px;

        h3 {
            font-size: 20px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }

    .ess-casehead {
        border-radius: 0px;

        h1 {
            font-size: 21px;
            margin: 14px 0px 0px 12px;
        }
    }



    .ess-return {
        bottom: 15px;
        top: inherit;
        left: 10px;
        font-size: 48px;
    }

    .essbtn-continue {
        margin: 30px 10px 10px;
    }

    .ess-casehead span {
        border-radius: 0px;
    }

    .ess-leavebtn, .ess-accobtn {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;

        span {
            font-size: 70px;
            margin-top: 10px;
        }
    }

    .ess-start {
        h3 {
            font-size: 16px;
            margin-bottom: -10px;
        }
    }

    .login-box {
        padding: 20px 10px;
    }

    .login-email input, .login-pass input {
        padding-left: 45px;
    }

    .ess-arbtn .btn-default {
        width: 50%;
        font-size: 12px !important;
        text-transform: none;
        padding: 0px;
        margin: 0px 0px -1px;
    }

    .ess-abchild .btn-default {
        overflow: hidden;
        width: 50%;
        margin: 0px;
    }

    .ess-oodbtn .btn-default {
        width: 100%;
        margin: 0px 0 -1px;
    }

    .ess-caseconfirmbg {
        border-radius: 0px;
        padding: 15px;


        &:after {
            display: none;
        }
    }

    .confirm-check {
        text-align: center;
    }

    .mob-complete {
        padding: 0px 7px;
        margin-right: -15px;
    }

    .ess-nrlink a {
        margin-top: 38px;
    }

    .mmt20 {
        margin-top: 20px;
    }




    .mmt50 {
        margin-top: 50px;
    }

    .myaccountblock {
        padding-right: 15px;
    }

    .ess-caseid {
        padding: 0;
        font-size: 14px;
    }

    .f16 {
        font-size: 14px;
        padding-left: 0px;
    }

    .ess-load span {
        padding: 0 15px;
    }

    .mobile-casehead {
        display: block;
    }

    .no-mobile {
        display: none;
    }

    .mobile-icons {
        position: absolute;
        right: 0px;
        top: 70px;
        z-index: 2;
    }

    .ess-caseheader {
        margin-bottom: 8px;
    }

    .mobile-bt {
        border-top: 1px solid @teal-dark;
        padding-top: 7px;
    }
}

//END MOBILE//

//TABLET//
@media only screen and (min-width:768px) and (max-width: 1200px) {
    .ess-return {
        bottom: 15px;
        top: inherit;
        left: 10px;
        font-size: 48px;
    }

    .myfam {
        .well {
            min-height: 150px;
        }
    }
}
//Seven columns
@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
    }
}
.schedule-bottom-border {
    border-bottom: 1px solid #eeeeee;
}
.btn-gray {
    background: #D9D7D7;
    width: 140px;
}
.btn-gray-darker {
    background: #9B9C9D;
    color: @white;
    width: 140px;
}
.btn-skyblue {
    background: @btn-main;
    color: @white;
    width: 140px;
}
.month-link {
    color: #00A5CE;
    cursor:pointer;
}
.col-no-gutter{
    margin-left: -15px;
}
.header-color {
    color: @teal-dark;
}
.label-invisible{
    color: @white;
}

a.beta-link {
    width: 102%;
    color: #31708f;
    background: #d9edf7;
    display: block;
    font-weight: bold;
    margin: -24px 0 50px -15px;
    padding: 5px;
    font-size: 15px;
    text-align: center;


    i {
        font-size: 20px;
        padding: 0 10px;
    }

    &:hover {
        background: lighten(#d9edf7, 1%);
        color: darken(#31708f, 5%);
    }
}

.heading-text-color {
    color: #005575;
}

.col-sm-10.col-lg-11.col-xs-12.accommodation .row.uppercase {
    padding: 13px;
    padding-bottom: 0px;
}



div[class*="btn-icon-"] {
    background-repeat: no-repeat;
    background-position: 0% 0;
    width: 100%;
    min-height: 50px;
    margin: 6px 0 0 0;
    vertical-align: middle;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0;
}

.btn-icon-accommodations {
    background-image: url("./Images/btn-icon-accommodations-reverse.png");
}

.btn-icon-certifications {
    background-image: url("./Images/btn-icon-certification-reverse.png");
}

.btn-icon-signup-employer-policyinfo {
    background-image: url("./Images/btn-icon-policies-reverse.png");
}

.btn-icon-std-01 {
    background-image: url("./Images/btn-icon-std-01.png");
}

.pl-danger-text {
    color: #a94442;
}

.row.myfam {
    margin: 0px -20px;
}



.row.mb input.form-control {
    margin-bottom: 20px;
}

.row.mb select.form-control.TextBoxBorder {
    margin-bottom: 20px;
}

button.btn.btn-default.remove-hover:hover, active {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.table-scroll {
    overflow: auto;
    height: 100px;
    border-top: 3px solid #f1f1f1;
    margin-top: 7px;
}

span.lable-info {
    font-weight: bold;
}

button.btn.btn-default.remove-hover.btn-edit {
    outline: none;
    background-color: transparent;
    box-shadow: none;
}
.ess-mycase-fl {
    margin-top: 10px;
}
.ess-myteam-fl {
    margin-top: 10px;
}
.ess-todos-border-bottom {
    padding: 0 15px 5px 0;
    border-bottom: 3px solid #f1f1f1;
}

div#EditCertification, .form-control {
    margin-bottom: 15px;
}

.accommodation .row {
    margin-bottom: 4px;
}

div#todoFilters .form-control {
    background: #f1f1f1;

    padding-left: 10px;
    color: #005575;
    font-size: 16px;
   margin-bottom:0px;
    border: none;
}

.remove-padding {
    padding-left: 0px;
    vertical-align: initial;
}

.remove-padding-1 {
    padding-left: 7px;
}
.add-padding {
    padding-left: 23px;
}
.add-padding-1 {
    padding-left: 30px;
}
.add-padding-2 {
    padding-left: 40px;
}
.fl-p-all{
    padding:0px;
}

.fl-pleft-all {
    padding: 0px;
}

.terms-c p {
    text-align: justify;
}

.bg-none {
    background-color: transparent;
    border: none;
}


.pl-link-btn {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial,sans-serif; /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.hide-denial-reasons {
    display: none;
}

.pl-case-view-policies {
    .checkbox-column {
        position: relative;
    }

    input[type="checkbox"] {
        position: absolute;
        margin-top: 3px;
    }

    .make-room-for-checkbox {
        margin-left: 22px;
    }
}


.pl-remove {
    color: #a94442;
}

.pl-error {
    color: #f00;
}

.pl-btn-row button a {
    color: #00baff;
}

.pl-btn-mb {
    margin-top: -40px;
}

.ess-report .table {
    overflow: auto;
    display: block;
}
.text-break {
    word-break: break-all;
}