﻿body {
    padding-top: 70px;
    background: #f1f1f1;
    overflow-y: scroll;
}

.swagger-section #header {
    background-color: #fff;
    padding: 10px 0px 0px;
    height: 50px;
    min-width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 6px 1px #999;
}

.swagger-section .swagger-ui-wrap {
    max-width: 100%;
    padding: 0 15px;
}

.swagger-section #header #logo .logo__title {
    color: #333;
    padding: 5px 0 0 10px;
}

.swagger-section #header #logo .logo__img {
    filter: saturate(0%);
    margin-top: 0px;
}

.swagger-section #explore, .swagger-section #auth_container .authorize__btn {
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding: 0px;
    font-size: 0.9em;
    color: white;
    background-color: #2A849F;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    margin-top: 0px;
    width: 100px;
    text-align: center;
}


    .swagger-section #explore:hover, .swagger-section #auth_container .authorize__btn:hover {
        background-color: #005472;
    }

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading {
    background-color: #fff;
    border: 1px solid #ccc;
    min-height: 50px;
    padding: 12px;
}


.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content h4 {
    color: #2A849F;
}


.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.content {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: -1px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.get div.heading h3 span.http_method a {
    background-color: #2A849F;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading ul.options li a .markdown p {
    color: #444;
    padding: 0;
    line-height: 11px;
    font-size: 13px;
    font-weight: bold;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 50px;
    padding: 12px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: -1px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.heading h3 span.http_method a {
    background-color: #00BAFF;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content h4 {
    color: #00BAFF;
}


.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content div.sandbox_header a {
    color: #ff8300;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit {
    display: block;
    clear: none;
    float: left;
    padding: 10px 15px 8px;
    background: #444;
    border: 1px solid #444;
    color: #f1f1f1;
    border-radius: 3px;
    box-shadow: inset 1px 1px 3px -1px #fff;
}


    .swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit:hover {
        background: #555;
        border: 1px solid #555;
    }

.swagger-section .swagger-ui-wrap .info_title {
    margin-left: 230px;
}
