﻿<!-- #region model/init -->
@model AbsenceSoft.Models.Todos.PaperWorkTodoReviewModel
@{
    ViewBag.Title = "Paperwork Review - AbsenceTracker";
}
<!-- #endregion -->
<!-- #region page content -->
<div>

    @Html.HiddenFor(m => m.CaseType, new { id = "paperwork-review-casetype" })
    @Html.HiddenFor(m => m.HasCertifications, new { id = "paperwork-has-certifications" })
    @Html.Hidden("Fields", (Model.Fields != null && Model.Fields.Count() > 0 ? "true" : "false"), new { id = "paperwork-review-fields" })

    <!-- #region page header/title section & actions -->
    <div class="row">
        <div class="col-xs-2">
            <a class="btn return-btn" onclick="window.location.href = '@Url.Action("ViewCase", "Cases", new { caseId = Model.CaseId })'"><i class="fa fa-long-arrow-left"></i> Return to @(Model.CaseIsInquiry ? "Inquiry" : "Case")</a>
        </div>
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-5">
                    <span class="col-header pr-topbar-header">Employee:</span> <span class="pr-topbar-field">@Model.EmployeeFirstName @Model.EmployeeLastName</span>
                </div>
                <div class="col-xs-7">
                    <span class="col-header pr-topbar-header">@(Model.CaseIsInquiry ? "Inquiry" : "Case"):</span> @Html.ActionLink(Model.CaseTitle, "ViewCase", "Cases", new { caseId = Model.CaseId }, new { @class = "pr-topbar-field" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    <span class="col-header pr-topbar-header">Assigned To:</span> <span class="pr-topbar-field"><a ng-click="ShowReassign=true">  @Model.AssignedTo </a></span>
                </div>
            </div>
            @using (Ajax.BeginForm("ReassignPaperWorkReview", "Todos", new { TodoId = Model.ReAssign.Todos[0].TodoId }, new AjaxOptions() { HttpMethod = "POST", OnSuccess = "AbsenceSoft.Todos.OnSuccess", OnFailure = "AbsenceSoft.Todos.OnFailure" }))
            {
                <div class="row row-offset-sm" ng-show="ShowReassign">
                    <div class="col-sm-3" has-permission="CompleteToDo">
                        @Html.DropDownListFor(m => m.ReAssign.UserId, new SelectList(Model.UserList, "Id", "DisplayName"), "", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ReAssign.UserId)
                    </div>

                    <div class="col-sm-3" has-permission="CompleteToDo">
                        <input type="submit" value="Re-Assign To-Do" class="btn btn-primary" />
                    </div>
                </div>
                @Html.HiddenFor(m => m.CaseId)
                @Html.HiddenFor(m => m.ReAssign.Todos)
            }
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 pr-header">
            <h1>Paperwork Review <span class="pull-right">Due Date: @Model.DueDateText</span> </h1>
        </div>
    </div>
    <div class="row center pr-title">
        <div class="col-xs-12">
            <h3>@Model.Title</h3>
        </div>
    </div>
    <div id="paperwork-review-actions">
        <div class="row center pr-buttonbar">
            @if (Model.Status == 3)
            {
                <div class="col-sm-12">
                    <span class="col-header"> @Html.DisplayFor(m => Model.Title) was cancelled @Html.DisplayFor(m => Model.CreatedDate) </span>
                </div>
                <div class="col-sm-12">
                    Cancelled By: @Html.DisplayFor(m => Model.ModifiedBy)
                </div>
                <div class="col-sm-12">
                    Reason: @Html.DisplayFor(m => Model.CancelReason)
                </div>
            }
            else
            {
                <div class="col-xs-12 pr-buttons">
                    <button id="paperwork-review-actions-complete" class="btn btn-primary btn-sm selected">Paperwork Complete</button>
                    <button id="paperwork-review-actions-incomplete" class="btn btn-primary btn-sm">Paperwork Incomplete</button>
                    <button id="paperwork-review-actions-denied" class="btn btn-primary btn-sm">Paperwork Denied</button>
                </div>
            }
        </div>
        <div class="row center pr-buttonbar2">
            <div class="col-xs-12 pr-buttons">
                <a class="btn btn-sm btn-primary" href="@Url.Action("ViewCase", "Cases", new { caseId = Model.CaseId })">Return To Case</a>
                @if (Model.Status != 3)
                {
                    <button type="button" class="btn btn-sm btn-danger" id="cancelThisToDo" name="cancelThisToDo">Cancel This ToDo</button>
                }
            </div>
        </div>
        @Html.Partial("_CancelToDo", Model)
    </div>
    <!-- #endregion -->
    <!-- #region form -->
    <div id="paperwork-review-form-section" style="display:none">

        <div class="row center pr-title">
            <div class="col-xs-12 pr-buttons">
                <span class="pr-complete-header">Please complete this form to submit as:</span> <span id="paperwork-review-form-actiontype" class="pr-complete-header-action">@Model.ActionType</span>
            </div>
        </div>

        @using (Html.BeginForm("PaperworkReviewSave", "Todos", new { todoItemId = Model.Id }, FormMethod.Post, new { id = "paperwork-review-form" }))
        {
            @Html.AntiForgeryToken()
            <!-- #region hidden fields (mostly for a validation postback) -->
            @Html.HiddenFor(m => m.CaseId)
            @Html.HiddenFor(m => m.CaseType)
            @Html.HiddenFor(m => m.CaseIsInquiry)
            @Html.HiddenFor(m => m.EmployeeFirstName)
            @Html.HiddenFor(m => m.EmployeeLastName)
            @Html.HiddenFor(m => m.CaseTitle)
            @Html.HiddenFor(m => m.AssignedTo)
            @Html.HiddenFor(m => m.DueDateText)
            @Html.HiddenFor(m => m.Title)
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.ActionType, new { id = "paperwork-action-type" })
			@Html.HiddenFor(m => m.CaseStartDate)
			@Html.HiddenFor(m => m.CaseEndDate)
			@Html.HiddenFor(m => m.ReAssign.UserId)
			@Html.HiddenFor(m => m.UserList)
			for(int i = 0; i < Model.ReAssign.Todos.Count(); i++)
            {
				@Html.HiddenFor(m => m.ReAssign.Todos[i].TodoId)
			}
			<span id="paperwork-error" class="pr-fields-header-required error">@ViewBag.DateRangeError</span>
            <!-- #endregion -->

            <!-- #region certification -->
            <div id="paperwork-review-form-certification" style="display:none">
                @if (Model.CaseType == "Intermittent")
                {
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pr-fields-header">Certification Fields</span> <span class="pr-fields-header-required error">(* Required)</span>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-sm-2">&nbsp;</div>
                        <div class="col-sm-10">
                            <label class="checkbox-inline"><input type="checkbox" id="paperwork-certificate-on-off-validation" name="checktovalidate" value="false" onclick="OnCertificateIncomplete()" />This certificate is incomplete</label>
                        </div>
                    </div>
                    <div class="row">&nbsp;@Html.HiddenFor(m => m.CertificationDetail.Id)</div>
                    <div class="row @(Html.ValidationErrorFor(m => m.CertificationDetail.StartDate, " has-error")) @(Html.ValidationErrorFor(m => m.CertificationDetail.EndDate, " has-error"))">
                        <div class="col-sm-2">
                            <span class="control-label form-label">Dates</span> <span class="error">*</span>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBox(Html.NameFor(m => m.CertificationDetail.StartDate).ToString(), Model.CertificationDetail.StartDate, "{0:MM/dd/yyyy}", new { id = "paperwork-review-form-certification-startdate", @class = "form-control input-sm datepicker", placeholder = "Condition Start Date", required = "required" })
                            @Html.ValidationMessageFor(m => m.CertificationDetail.StartDate, null, new { @class = "help-block" })
                            <span class="form-label">to</span>
                            @Html.TextBox(Html.NameFor(m => m.CertificationDetail.EndDate).ToString(), Model.CertificationDetail.EndDate, "{0:MM/dd/yyyy}", new { id = "paperwork-review-form-certification-enddate", @class = "form-control input-sm datepicker", placeholder = "Condition End Date", required = "required" })
                            @Html.ValidationMessageFor(m => m.CertificationDetail.EndDate, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-2">
                            @Html.LabelFor(m => m.CertificationDetail.Notes, new { @class = "control-label" }) <span class="error">*</span>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => Model.CertificationDetail.Notes, new { @class = "form-control input-sm", placeholder = "Enter a note", required = "required" })
                            @Html.ValidationMessageFor(m => m.CertificationDetail.Notes, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-2">
                            @Html.LabelFor(m => m.CertificationDetail.Frequency, new { @class = "control-label" }) <span class="error">*</span>
                        </div>
                        <div class="col-sm-2">                           
                                @Html.EnumDropDownListFor(m => m.CertificationDetail.IntermittentType, new { @class = "form-control", required = "required" })
                                @Html.ValidationMessageFor(m => m.CertificationDetail.IntermittentType, "", new { @class = "help-block" })
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => Model.CertificationDetail.Occurances, new { @class = "form-control input-sm", @type = "number", placeholder = "Enter an occurrence", required = "required" })
                            @Html.ValidationMessageFor(m => m.CertificationDetail.Occurances, null, new { @class = "help-block" })
                        </div>
                        <div class="col-sm-1 form-label">episode(s) every</div>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => Model.CertificationDetail.Frequency, new { @class = "form-control input-sm", @type = "number", placeholder = "Enter a frequency", required = "required" })
                            @Html.ValidationMessageFor(m => m.CertificationDetail.Frequency, null, new { @class = "help-block" })
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.CertificationDetail.FrequencyType, new SelectList(new string[] { "Weeks", "Months", "Years" }),"",new { @class = "form-control input-sm", required = "required" })
                            @Html.ValidationMessageFor(m => m.CertificationDetail.FrequencyType, null, new { @class = "help-block" })
                        </div>
                    </div>
                    <div class="row row-offset">
                        <div class="col-sm-2">
                            @Html.LabelFor(m => m.CertificationDetail.Duration, new { @class = "control-label" }) <span class="error">*</span>
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => Model.CertificationDetail.Duration, new { @class = "form-control input-sm", @type = "number", placeholder = "Enter a duration", required = "required" })
                            @Html.ValidationMessageFor(m => m.CertificationDetail.Duration, null, new { @class = "help-block" })
                        </div>
                        <div class="col-sm-2">
                            @Html.DropDownListFor(model => model.CertificationDetail.DurationType, new SelectList(new string[] { "Minutes", "Hours", "Days" }),"", new { @class = "form-control input-sm", required = "required" })
                            @Html.ValidationMessageFor(m => m.CertificationDetail.DurationType, null, new { @class = "help-block" })
                        </div>
                        <div class="col-sm-3 form-label">per episode</div>
                    </div>
                }
            </div>
            <!-- #endregion -->

            <!-- #region additional fields -->
            <div id="paperwork-review-form-fields" style="display:none">
                @if (Model.Fields != null && Model.Fields.Count() > 0)
                {
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="pr-fields-header">Paperwork Fields</span> <span class="pr-fields-header-required error">(* Required)</span>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-xs-12">
                            @for (int j = 0; j < Model.Fields.Count(); j++)
                            {
                                if (Model.Fields[j].Field.Type == PaperworkFieldType.Text)
                                {
                                    <div class="row">
                                        <div class="col-sm-2 form-label form-label">
                                            @Html.DisplayFor(model => model.Fields[j].Field.Name, new { @class = "control-label" }) <span class="error">@(Model.Fields[j].Field.Required ? "*" : "")</span>
                                        </div>
                                        <div class="col-sm-5  @(Model.Fields[j].Field.Required ? "required-field" : "")">
                                            @Html.TextBoxFor(m => m.Fields[j].Field.Value, new { @class = "form-control input-sm " })
                                            @Html.HiddenFor(m => m.Fields[j].Field.Name)
                                            @Html.HiddenFor(m => m.Fields[j].Field.Required)
                                            @Html.ValidationMessageFor(m => m.Fields[j].Field.Value)
                                        </div>
                                    </div>
                                }
                                else if (Model.Fields[j].Field.Type == PaperworkFieldType.WorkRestrictions)
                                {
                                    <div class="row wr-tableheader">
                                        <div class="col-sm-3 ti-8">
                                            Work Restriction
                                        </div>
                                        <div class="col-sm-6 ti-15">
                                            Demands
                                        </div>
                                        <div class="col-sm-3 ti-15">
                                            Duration <small>(override if necessary)</small>
                                        </div>
                                    </div>
                                    for (int i = 0; i < Model.Fields[j].WorkRestrictions.Count(); i++)
                                    {
                                        <div class="row wre-returns">
                                            <div class="col-sm-3">
                                                @Html.HiddenFor(m => m.Fields[j].WorkRestrictions[i].Id)
                                                @Html.HiddenFor(m => m.Fields[j].WorkRestrictions[i].CaseId)
                                                @Html.HiddenFor(m => m.Fields[j].WorkRestrictions[i].EmployeeId)
                                                @Html.HiddenFor(m => m.Fields[j].WorkRestrictions[i].DemandId)
                                                @Html.HiddenFor(m => m.Fields[j].WorkRestrictions[i].DemandName, new { @class = "work-restriction-name" })
                                                @Html.Raw(Model.Fields[j].WorkRestrictions[i].DemandName)
                                            </div>
                                            <div class="col-sm-6 wre-inputs">
                                                @for (int k = 0; k < Model.Fields[j].WorkRestrictions[i].Values.Count; k++)
                                                {
                                                    @Html.EditorFor(m => m.Fields[j].WorkRestrictions[i].Values[k])
                                                }
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.HiddenFor(m => m.Fields[j].WorkRestrictions[i].StartDate, new { @class = "restriction-start-date" })
                                                <div class="input-group">
                                                    @Html.TextBoxFor(m => m.Fields[j].WorkRestrictions[i].OverriddenStartDate, "{0:d}", new { @class = "form-control restriction-start-date date-editor" })
                                                    <div class="input-group-addon">TO</div>
                                                    @Html.TextBoxFor(m => m.Fields[j].WorkRestrictions[i].EndDate, "{0:d}", new { @class = "form-control restriction-end-date date-editor" })
                                                </div>
                                                <small class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="form-control-sm permanent-restriction" /> Permanent Restriction
                                                    </label>
                                                </small>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                }
            </div>
            <!-- #endregion -->

            <div class="row">&nbsp;</div>
            <div class="row center pr-bottombar">
                <div class="col-xs-12 pr-buttons">
                    <button type="submit" id="paperwork-certificate-submit" class="btn btn-primary btn-sm selected">Submit</button>
					<a class="btn btn-sm btn-primary" href="@Url.Action("ViewCase", "Cases", new { caseId = Model.CaseId })">Cancel</a>
                </div>
            </div>
        }

    </div>
    <!-- #endregion -->
</div>
<!-- #endregion -->
