﻿@model AbsenceSoft.Administration.Models.Home.ExpiredPasswordViewModel

<div class="forgot-password">
    @using (Html.BeginRouteForm("ExpiredPasswordSubmit", FormMethod.Post))
    {
        <h3 class="white">Expired Password</h3>
                <label>Your password has expired. Enter your new password in the fields below and click Change Password.</label>
                <div class="form-group login-email exp-top">
                    @Html.EditorFor(m => m.Email, new
                       {
                           htmlAttributes = new { placeholder = Html.DisplayNameFor(m => m.Email), @class="form-control"}
                       })
                </div>
                <div class="form-group login-pass exp-bot">
                    @Html.EditorFor(m => m.CurrentPassword, new
               {
                   htmlAttributes =
                new { placeholder = Html.DisplayNameFor(m => m.CurrentPassword), @class = "form-control" },
               })
                    @Html.ValidationMessageFor(m => m.CurrentPassword, null, new { @class = "errShow" })
                </div>
                <br />
                <div class="form-group login-pass exp-top">
                    @Html.EditorFor(m => m.NewPassword, new
       {
           htmlAttributes =
                new { placeholder = Html.DisplayNameFor(m => m.NewPassword), @class="form-control" }
       })
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "errShow" })
                </div>                
              
                <div class="form-group login-pass exp-bot">
                    @Html.EditorFor(m => m.ConfirmPassword, new
       {
           htmlAttributes =
                new { placeholder = Html.DisplayNameFor(m => m.ConfirmPassword), @class="form-control" }
       })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "errShow" })
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.RouteLink("Cancel", "Login", null, new { @class = "btn btn-cancel-passw" })
                        <input type="submit" value="Change Password" class="btn btn-ess btn-repass" />
                    </div>
                </div>
                <div class="term-error">
                    @Html.ValidationSummary(true)
                </div>
    }
</div>