﻿
<div class="forgot-password">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="white">An email has been sent with instructions on how to reset your password.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.RouteLink("Return to Login Page", "Login", null, new { @class = "btn btn-return-home" })
        </div>
    </div>
</div>
