﻿@{
    ViewBag.Title = "Home Page";
    string defaultSearchType = "Customer";
    if(!CurrentUserHasPermission(Permission.EditCustomerInfo) && CurrentUserHasPermission(Permission.EditEmployerInfo))
    {
        defaultSearchType = "Employer";
    }
}

<h2>Core Configuration</h2>
<div class="customer-list text-uppercase">
    <ul>
        @if (CurrentUserHasPermission(Permission.EditCommunicationTemplate))
        {
            <li class="slideouts templates">@Html.RouteLink("Templates", "Templates")</li>
        }
    </ul>
</div>

<hr />
@if (CurrentUserHasPermission(Permission.EditCustomerInfo) || CurrentUserHasPermission(Permission.EditEmployerInfo))
{
    <h2><span class="search-label">@defaultSearchType</span> Configuration</h2>
    <div class="row">
        <div class="col-xs-12">
            @if (CurrentUserHasPermission(Permission.EditCustomerInfo) && CurrentUserHasPermission(Permission.EditEmployerInfo))
            {
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-customer active search-type">
                        <input type="radio" name="searchType" value="Customer" checked /><i class="fa fa-university"></i> Customer
                    </label>
                    <label class="btn btn-employer search-type">
                        <input type="radio" name="searchType" value="Employer" /><i class="fa fa-building-o"></i> Employer
                    </label>
                </div>
            }
            else if (CurrentUserHasPermission(Permission.EditCustomerInfo)){ 
            <label class="btn btn-customer active search-type">
                <i class="fa fa-university"></i> Customer
            </label>
            }
            else if (CurrentUserHasPermission(Permission.EditEmployerInfo))
            {
                <label class="btn btn-employer active search-type">
                    <i class="fa fa-building-o"></i> Employer
                </label>
            }
            <div class="search-customer">
                <h4>Begin typing the <span class="search-label">@defaultSearchType.ToLower()</span>'s name to populate any matching result.</h4>
                <div class="input-group">
                    <input type="search" placeholder="Search @defaultSearchType..." id="customerSearch" />
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div id="customerSearchResults" class="customer-list text-uppercase">
    </div>
}
