﻿@model AbsenceSoft.Administration.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginRouteForm("LoginPost", FormMethod.Post))
{
    

    <div class="row">
        <div class="col-lg-offset-3 col-xs-6 login-box">            
            <div class="col-xs-12 log-email">                
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })                
            </div>

            <div class="col-xs-12 log-pass">                
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })                
            </div>

            <div class="col-xs-12">
                <div class="log-errors">
                    @Html.ValidationMessageFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="col-xs-12">
                <input type="submit" value="Login" class="btn btn-save" />
            </div>

            <div class="col-xs-12">
                <div class="log-errors">
                    @Html.ValidationSummary(true)
                </div>
            </div>
            <div class="col-xs-12 mt20">
                @Html.RouteLink("Forgot password?", "ForgotPassword")
            </div>
        </div>
    </div>


}

