﻿@model AbsenceSoft.Administration.Models.Home.ResetPasswordViewModel


<div class="forgot-password">
    @using (Html.BeginRouteForm("ResetPasswordSubmit", FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-offset-3 col-xs-6 login-box">
                @Html.HiddenFor(m => m.ResetKey)
                <h3 class="white">Reset Password</h3>
                <label>Enter your new password in the fields below and click Reset Password</label>

                <div class="form-group login-pass">
                    @Html.EditorFor(m => m.NewPassword, new
               {
                   htmlAttributes =
                new { placeholder = Html.DisplayNameFor(m => m.NewPassword), @class = "form-control" }
               })
                </div>
                <br />
                <div class="form-group login-pass">
                    @Html.EditorFor(m => m.ConfirmNewPassword, new
               {
                   htmlAttributes =
                new { placeholder = Html.DisplayNameFor(m => m.ConfirmNewPassword), @class = "form-control" }
               })
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        @Html.RouteLink("Cancel", "Login", null, new { @class = "btn btn-cancel-passw" })
                        <input type="submit" value="Reset Password" class="btn btn-repass" />
                    </div>

                </div>
                <div class="term-error">
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
    }
</div>
