﻿@model AbsenceSoft.Models.Demands.DemandViewModel
@{
    ViewBag.Title = "Edit Physical Demand";
}
@using (Ajax.BeginRouteForm(
    "SavePhysicalDemand",
    null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "editDemandForm",
        OnSuccess = "AbsenceSoft.PageStart('#editDemandForm')",
        InsertionMode = InsertionMode.ReplaceWith
    },
    new { id = "editDemandForm" }))
{
    @Html.AntiForgeryToken()
    <div class="well">
        <h3>Edit Physical Demand</h3>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    @Html.Partial("_AdministrationWarningBanner", Model)
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.CustomerId)
                        @Html.HiddenFor(m => m.EmployerId)
                        @Html.ValidationSummary(true, "Unable to save the physical demand. Please see the validation errors below.")
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new {placeholder = "Name", @class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                            <div class="col-sm-3">
                                @Html.LabelFor(m => m.Code)
                                @Html.TextBoxFor(m => m.Code, new {placeholder = "Code", @class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Code)
                            </div>
                            <div class="col-sm-3">
                                @Html.LabelFor(m => m.Order)
                                @Html.TextBoxFor(m => m.Order, new {placeholder = "Order", @class = "form-control order-nopad", type = "number"})
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.Description)
                                @Html.TextBoxFor(m => m.Description, new {placeholder = "Description", @class = "form-control"})
                            </div>
                            <div class="col-sm-6 select-tall">
                                @Html.LabelFor(m => m.DemandTypes)
                                @Html.DemandTypeDropDownListFor(m => m.DemandTypes, new {placeholder = "Demand Types", @class = "form-control", multiple = "multiple"})
                                @Html.ValidationMessageFor(m => m.DemandTypes)
                            </div>
                        </div>
                        <div class="row pull-center">
                            @Html.AdministrationLink("Cancel", "ListDemands", new { @class = "btn btn-primary admin-cancel-btn" })
                            
                            @if (Model.IsDeleteable())
                            {
                                @Ajax.RouteLink(
                                    "Delete",
                                    "DeleteDemand",
                                    new {employerId = EmployerId, id = Model.Id},
                                    new AjaxOptions
                                    {
                                        HttpMethod = "DELETE"
                                    },
                                    new {@class = "btn btn-danger admin-delete-btn"})
                            }
                           

                            @if (Model.IsSaveable())
                            {
                                <input type="submit" value="Save Physical Demand" class="btn btn-primary admin-save-btn" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
