﻿@model AbsenceSoft.Models.Demands.DemandTypeViewModel

@{
    ViewBag.Title = "Edit Demand Type";
}

@using (Ajax.BeginRouteForm(
    "SaveDemandType",
    null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "editDemandTypeForm",
        OnSuccess = "AbsenceSoft.DemandTypes.Init('#editDemandTypeForm', false)",
        InsertionMode = InsertionMode.ReplaceWith
    },
    new { id = "editDemandTypeForm" }))
{
    @Html.AntiForgeryToken()
    <div class="well">
        <h3>Edit Demand Type</h3>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    @Html.Partial("_AdministrationWarningBanner", Model)
                </div>
                <div class="row">
                    <div class="col-sm-11">
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.CustomerId)
                        @Html.HiddenFor(m => m.EmployerId)
                        @Html.ValidationSummary(true, "Unable to save the demand type. Please see the validation errors below.")
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new {placeholder = "Name", @class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                            <div class="col-sm-3">
                                @Html.LabelFor(m => m.Code)
                                @Html.TextBoxFor(m => m.Code, new {placeholder = "Code", @class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Code)
                            </div>
                            <div class="col-sm-3">
                                @Html.LabelFor(m => m.Order)
                                @Html.TextBoxFor(m => m.Order, new {placeholder = "Order", @class = "form-control order-nopad", type = "number"})
                                @Html.ValidationMessageFor(m => m.Order)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.Description)
                                @Html.TextBoxFor(m => m.Description, new {placeholder = "Description", @class = "form-control"})
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.Type)
                                @Html.EnumButtonListFor(m => m.Type, new {@class = "demand-type"})
                                @Html.ValidationMessageFor(m => m.Type)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.RestrictionLabel)
                                @Html.TextBoxFor(m => m.RestrictionLabel, new {placeholder = "Restriction Label", @class = "form-control"})
                            </div>
                            <div class="col-sm-6">
                                @Html.LabelFor(m => m.RequirementLabel)
                                @Html.TextBoxFor(m => m.RequirementLabel, new {placeholder = "Requirement Label", @class = "form-control"})
                            </div>
                        </div>
                        <div class="row value-editor @if (!Model.Type.HasValue || (Model.Type.Value != AbsenceSoft.Data.Jobs.DemandValueType.Value))
                                                 {<text>hide</text>}">
                            <div class="col-sm-2 col-wrap">
                                
                            </div>
                            <div class="col-sm-8 absencesoft-repeating-container value-editor @if (!Model.Type.HasValue || (Model.Type.Value != AbsenceSoft.Data.Jobs.DemandValueType.Value))
                                                                                          {<text>hide</text>}" id="items-container">

                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4>Enter Values</h4>
                                    </div>
                                </div>
                                @if (Model.Items != null)
                                {
                                    for (int i = 0; i < Model.Items.Count; i++)
                                    {
                                      
                                        <div class="absencesoft-repeating value-bb">
                                            @Html.HiddenFor(m => Model.Items[i].Id)
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    @Html.LabelFor(m => Model.Items[i].Name)
                                                    @Html.TextBoxFor(m => Model.Items[i].Name, new {placeholder = "Name", @class = "form-control"})
                                                    @Html.ValidationMessageFor(m => m.Items[i].Name)

                                                </div>
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(m => Model.Items[i].Value)
                                                    @Html.TextBoxFor(m => Model.Items[i].Value, new {placeholder = "Value", @class = "form-control"})
                                                </div>
                                                <div class="col-sm-3">
                                                    @Html.LabelFor(m => Model.Items[i].Score)
                                                    @Html.TextBoxFor(m => Model.Items[i].Score, new {placeholder = "Score", @class = "form-control"})
                                                </div>
                                                <div class="col-sm-2">
                                                    <button class="btn btn-default btn-xs remove-button" type="button">
                                                        <span class="glyphicon glyphicon-minus"></span> Remove Value
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    @{
                                                        var closureIndex = i;
                                                    }
                                                    @Html.LabelFor(m => Model.Items[closureIndex].Classification)
                                                    @Html.EnumUIDropDownListFor(m => Model.Items[closureIndex].Classification, new {placeholder = "Classification", @class = "form-control"})
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="col-sm-2 value-editor @if (!Model.Type.HasValue || (Model.Type.Value != AbsenceSoft.Data.Jobs.DemandValueType.Value))
                                                          {<text>hide</text>}">
                                <button class="btn btn-default addnew-admin-btn add-button text-white" type="button" data-source-element-id="item-values" data-target-element-id="items-container">
                                    Add New Value
                                </button>
                                @if (Model.Type.ToString() == "Value")
                                {
                                 @Html.ValidationMessageFor(m => m.AddNewValue);
                                }
                            </div>
                        </div>
                        <div class="row pull-center">                          
                           
                            @Html.AdministrationLink("Cancel", "ListDemandTypes", new { @class = "btn btn-primary admin-cancel-btn" })
                            @if (Model.IsDeleteable())
                            {
                                @Ajax.RouteLink(
                                    "Delete",
                                    "DeleteDemandType",
                                    new { employerId = EmployerId, id = Model.Id },
                                    new AjaxOptions
                                    {
                                        HttpMethod = "DELETE"
                                    },
                                    new { @class = "btn btn-primary admin-delete-btn" })
                            }

                            @if (Model.IsSaveable())
                            {
                                <input type="submit" value="Save Demand Type" class="btn btn-primary admin-save-btn" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
var templateItem = new AbsenceSoft.Models.Demands.DemandItemViewModel();
    <script type="text/template" id="item-values">
    <div class="absencesoft-repeating">
        <div class="row">
            <div class="col-sm-4">
                @Html.LabelFor(m => templateItem.Name, new {For = "Items[i].Name"})
                @Html.TextBoxFor(m => templateItem.Name, new {Name = "Items[i].Name", placeholder = "Name", @class = "form-control"})
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(m => templateItem.Name, new {For = "Items[i].Value" })
                @Html.TextBoxFor(m => templateItem.Value, new {Name = "Items[i].Value", placeholder = "Value", @class = "form-control"})
            </div>
            <div class="col-sm-3">
                @Html.LabelFor(m => templateItem.Name, new {For = "Items[i].Score"})
                @Html.TextBoxFor(m => templateItem.Score, new {Name = "Items[i].Score", placeholder = "Score", @class = "form-control"})
            </div>
            <div class="col-sm-2">
                <button class="btn btn-default btn-xs remove-button" type="button">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.LabelFor(m => templateItem.Classification, new {For = "Items[i].Classification"})
                @Html.EnumUIDropDownListFor(m => templateItem.Classification, new {Name = "Items[i].Classification", placeholder = "Classification", @class = "form-control"})
            </div>
        </div>
    </div>
</script>
}


