﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    string name = item.Get<string>("Name");
    string description = item.Get<string>("Description");
    string code = item.Get<string>("Code");
    int? order = item.Get<int?>("Order");
    <div class="row">
        <div class="col-sm-12 admin2userlink">
            <a href="@Url.AdministrationRouteUrl("EditDemandType", new { id = id })">
                <div class="row mb5">
                    <div class="col-sm-3">
                        @name
                    </div>
                    <div class="col-sm-5">
                        @description
                    </div>
                    <div class="col-sm-2">
                        @code
                    </div>
                    <div class="col-sm-2">
                        @order
                    </div>
                </div>
            </a>
        </div>
    </div>
}