﻿@{
    ViewBag.Title = "View Demand Types";
}
<div class="col-xs-12 well item-list">
    <input type="hidden" class="page" value="1"/>
    <input type="hidden" class="url" value="@Url.AdministrationRouteUrl("ListDemandTypes")"/>
    <input type="hidden" class="total" value=""/>
    <div class="row">
        <div class="col-xs-12 admin-sub-header">
            <h2 class="pull-left">Demand Types</h2>
            <span class="pull-right">
                @Html.AdministrationLink("New Demand Type", "EditDemandType", new { @class = "btn btn-primary addnew-admin-btn" })
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row row-header">
                <div class="col-sm-3 list-sort">
                    Name
                    <input type="hidden" class="sort-name" value="Name"/>
                    <i class="glyphicon sort"></i>
                </div>
                <div class="col-sm-5 list-sort">
                    Description
                    <input type="hidden" class="sort-name" value="Description"/>
                    <i class="glyphicon sort"></i>
                </div>
                <div class="col-sm-2 list-sort">
                    Code
                    <input type="hidden" class="sort-name" value="Code"/>
                    <i class="glyphicon sort"></i>
                </div>
                <div class="col-sm-2 list-sort">
                    Order
                    <input type="hidden" class="sort-name" value="Order"/>
                    <i class="glyphicon sort"></i>
                </div>
            </div>
            <div class="row row-filter">
                <div class="col-sm-3">
                    <input type="text" name="Name" class="list-filter form-control filter" placeholder="Filter"/>
                </div>
                <div class="col-sm-5">
                    <input type="text" name="Description" class="list-filter form-control filter" placeholder="Filter"/>
                </div>
                <div class="col-sm-2">
                    <input type="text" name="Code" class="list-filter form-control filter" placeholder="Filter"/>
                </div>
                <div class="col-sm-2">

                </div>
            </div>
            <div class="admin2userlist">
                <div class="scroll list-display">
                </div>
            </div>
        </div>
    </div>
</div>
