﻿@model AbsenceSoft.Models.Demands.WorkRestrictionEntryViewModel


    @using (Html.BeginForm("WorkRestrictionEntrySave", "Demand", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="wre-main">
            <div class="row">
                <div class="col-sm-12">
                    <a href="@Url.RouteUrl("ViewCase", new {caseId = Model.CaseId})">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Return to Case
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 work-header">
                    <div class="pull-left">
                        <h3>Work Restrictions</h3>
                    </div>
                    <div class="pull-right">
                        <input type="text" placeholder="Search For Work Restriction..." id="restrictionSearch" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row work-border">
                <div class="col-sm-4">
                    <h4>Enter the date range for the restrictions</h4>
                </div>
                <div class="col-sm-3 wr-dates">
                    <div class="input-group">
                        <input type="text" class="form-control date-editor" id="restrictionsStartDate" placeholder="Start Date" />
                        <div class="input-group-addon">TO</div>
                        <input type="text" class="form-control date-editor" id="restrictionsEndDate" placeholder="End Date" />
                    </div>
                </div>
                <div class="col-sm-2 wr-permcb">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="form-control-sm" id="restrictionsPermanent" /> Permanent Restrictions
                        </label>
                    </div>
                </div>
                <div class="col-sm-3 wr-dateover">
                    <small>These dates can be overridden for each individual restriction if necessary.</small>
                </div>
            </div>

            @Html.HiddenFor(m => m.CaseId)
            @Html.HiddenFor(m => m.ToDoItemId)
            <div class="row wr-tableheader">
                <div class="col-sm-3 ti-8">
                    Work Restriction
                </div>
                <div class="col-sm-6 ti-15">
                    Demands
                </div>
                <div class="col-sm-3 ti-15">
                    Duration <small>(override if necessary)</small>
                </div>
            </div>
            @for (int i = 0; i < Model.WorkRestrictions.Count(); i++)
            {
                bool hideClearRestrictions = !Model.WorkRestrictions[i].HasValues;
                string duplicateId = string.Format("duplicates{0}", Model.WorkRestrictions[i].Id);
                <div class="row wre-returns">
                    <div class="col-sm-3">
                        @Html.HiddenFor(m => Model.WorkRestrictions[i].Id)
                        @Html.HiddenFor(m => Model.WorkRestrictions[i].CaseId)
                        @Html.HiddenFor(m => Model.WorkRestrictions[i].EmployeeId)
                        @Html.HiddenFor(m => Model.WorkRestrictions[i].DemandId)
                        @Html.HiddenFor(m => Model.WorkRestrictions[i].DemandName, new { @class = "work-restriction-name" })
                        @if (Model.WorkRestrictions[i].DuplicateRestrictions.Count > 0)
                        {
                            <a class="btn btn-small-icon" data-toggle="collapse" href="#@duplicateId">
                                <span class="fa fa-clock-o wre-historyicon"></span>
                            </a>
                        }
                        @Html.Raw(Model.WorkRestrictions[i].DemandName)
                        <div class="clear-restrictions text-danger @if (hideClearRestrictions) {<text> hide</text>} ">
                            <span class="fa fa-times"></span> Clear Restrictions
                        </div>
                    </div>
                    <div class="col-sm-6 wre-inputs">
                        @for (int k = 0; k < Model.WorkRestrictions[i].Values.Count; k++)
                        {
                            @Html.EditorFor(m => Model.WorkRestrictions[i].Values[k])
                        }
                    </div>
                    <div class="col-sm-3">
                        @Html.HiddenFor(m => Model.WorkRestrictions[i].IsWorkRestrictionEntry)
                        @Html.HiddenFor(m => Model.WorkRestrictions[i].StartDate, new { @class = "restriction-default-start-date" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => Model.WorkRestrictions[i].OverriddenStartDate, "{0:d}", new { @class = "form-control restriction-start-date date-editor" })
                            <div class="input-group-addon">TO</div>
                            @Html.TextBoxFor(m => Model.WorkRestrictions[i].EndDate, "{0:d}", new { @class = "form-control restriction-end-date date-editor" })
                        </div>
                        <div>@Html.ValidationMessageFor(m => Model.WorkRestrictions[i].OverriddenStartDate)@Html.ValidationMessageFor(m => Model.WorkRestrictions[i].EndDate)</div>
                        <small class="checkbox">
                            <label>
                                <input type="checkbox" class="form-control-sm permanent-restriction" /> Permanent Restriction
                            </label>
                        </small>
                    </div>
                </div>
                if (Model.WorkRestrictions[i].DuplicateRestrictions.Count > 0)
                {
                    <div class="collapse wre-duplicate" id="@duplicateId">
                        @foreach (var dupe in Model.WorkRestrictions[i].DuplicateRestrictions)
                        {
                            @Html.DisplayFor(m => dupe)
                        }
                    </div>
                }
            }
            <div class="row pull-center mt30">
                <input type="submit" class="btn btn-primary" value="Save Work Restrictions" id="btnSubmit" onclick="this.prop('disabled', true);" />
                @Html.RouteLink("Return to Case", "ViewCase", new { caseId = Model.CaseId }, new { @class = "btn btn-link" })
            </div>
        </div>
    }