﻿@model AbsenceSoft.Models.Demands.WorkRestrictionViewModel
@using (Ajax.BeginRouteForm(
    "SaveWorkRestriction",
    null,
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "editWorkRestrictionForm",
        OnSuccess = "AbsenceSoft.WorkRestrictions.Init()",
        InsertionMode = InsertionMode.ReplaceWith
    },
    new { id = "editWorkRestrictionForm", @class = "transition" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CaseId)
    @Html.HiddenFor(m => m.EmployeeId)
    <div class="col-sm-12 row-offset-sm">
        <div class="row">
            <div class="col-sm-12 col-wrap wr-header">
                @if (Model.Id == null)
                {
                    <text>Add New Work Restriction</text>
                }
                else
                {
                    <text>Edit Existing Work Restriction</text>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.EditorFor(m => m.StartDate)
            </div>
            <div class="col-sm-6">
                @Html.EditorFor(m => m.EndDate)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if (Model.Id == null)
                {
                    @Html.EditorFor(m => m.DemandId, new { id = "workRestrictionDemandId" })
                }
                else
                {
                    @Html.HiddenFor(m => m.DemandId)
                    @Html.ValidationMessageFor(m => m.DemandId)
                }

            </div>

        </div>
        <br />
        <div id="demand-values" class="btn-orange-active">
            @Html.Partial("AppliedDemandValues")
        </div>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-9">
                @Html.ValidationMessage("DemandItemIds")
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <button class="btn btn-link" id="cancelWorkRestriction">Cancel</button>
                    <input type="submit" value="Save Work Restriction" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
    </div>
}
