﻿@model AbsenceSoft.Models.Demands.AppliedDemandValueViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-3 col-wrap">
                @Html.Raw(Model.Name)
                @Html.HiddenFor(m => Model.Type)
                @Html.HiddenFor(m => Model.DemandTypeId)
            </div>
            <div class="col-sm-9 col-wrap">
                @switch (Model.Type)
                {
                    case AbsenceSoft.Data.Jobs.DemandValueType.Text:
                        @Html.TextAreaFor(m => Model.Text, new { @class = "form-control" })
                        break;
                    case AbsenceSoft.Data.Jobs.DemandValueType.Boolean:
                        bool shouldYesBeActive = Model.Applicable.HasValue && Model.Applicable==true;
                        bool shouldNoBeActive = Model.Applicable.HasValue && Model.Applicable ==false;
                        <div class="btn-group group-2" data-toggle="buttons">
                            <label class="btn btn-info @(shouldYesBeActive ? "active" : "")">
                                Yes
                                @Html.RadioButtonFor(m => Model.Applicable, true)
                            </label>
                            <label class="btn btn-info @(shouldNoBeActive ? "active" : "")">
                                No
                                @Html.RadioButtonFor(m => Model.Applicable, false)
                            </label>
                        </div>
                        break;
                    case AbsenceSoft.Data.Jobs.DemandValueType.Schedule:
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => Model.Occurances, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            episode(s) every
                        </div>
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => Model.Frequency, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            @Html.EnumDropDownListFor(m => Model.FrequencyType, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            @Html.TextBoxFor(m => Model.Duration, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-3">
                            @Html.EnumDropDownListFor(m => Model.DurationType, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-6">
                            per episode
                        </div>
                    </div>
                        break;
                    case AbsenceSoft.Data.Jobs.DemandValueType.Value:
                        List<SelectListItem> items = Model.DemandItems.Select(d => new SelectListItem()
                       {
                           Text = d.Name,
                           Value = d.Id.ToString(),
                           Selected = d.Id == Model.DemandItemId
                       }).ToList();
                        if (Model.DemandItems.Count > 4)
                        {
                            @Html.DropDownListFor(m => Model.DemandItemId, items, "Select an item", new { @class = "form-control" })
                        }
                        else
                        {
                            System.Text.StringBuilder stringBuilder = new System.Text.StringBuilder();
                            stringBuilder.AppendFormat("<div class='btn-group group-{0}' data-toggle='buttons'>", items.Count());
                            Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
                          
                             
                                @Html.ValidationMessageFor(model => model.DemandItemId, "", new { @class = "text-danger"});
                            
                            foreach (var item in items)
                            {
                                stringBuilder.AppendFormat("<label class='btn btn-info {0}'>{1}{2}</label>", item.Selected ? "active" : null, item.Text,
                                Html.RadioButton("DemandItemId", item.Value, item.Selected));
                              
                            }
                            stringBuilder.AppendFormat("</div>");
                            @Html.Raw(stringBuilder.ToString())
                        }

                        break;
                    default:
                        break;
                }
            </div>
        </div>
    </div>
</div>