﻿@model List<AbsenceSoft.Data.Customers.OrganizationVisibilityTree>
<div class="@(Model.Count > 0 ? "col-sm-12 col-wrap emp-org-margin-10L" : "col-sm-12 col-wrap emp-org-margin-10L manage-org-hide-child")">
    <div class=" col-sm-12">
    <div class="col-sm-4 org-visibility-tableheader">
        Organization
    </div>
    <div class="col-sm-2 org-visibility-tableheader">
        Hidden
    </div>
    <div class="col-sm-2 org-visibility-tableheader">
        Member
    </div>
    <div class="col-sm-2 org-visibility-tableheader">
        Viewer
    </div>
    <div class="col-sm-2 org-visibility-tableheader">
        Leader
    </div>
</div>
    <div class="col-sm-12">
        <div class="scrollOrganization">
            @{int count = 1;
                foreach (OrganizationVisibilityTree assignOrgTree in Model)
                {
                    <div class="@(count % 2 == 1 ? "odd":"even")">                        
                        @TreeView(assignOrgTree)
                        <span class="org-apply-template-alt-color btn-inline">@assignOrgTree.OrganizationName</span>
                    </div>
                    count++;
                }
            }            
        </div>        
    </div>        
</div>
<div class="@(Model.Count > 0 ? "col-sm-12":"col-sm-12 manage-org-hide-child")">
    &nbsp;
</div>
    <div class="@(Model.Count > 0 ? "col-sm-12":"col-sm-12 manage-org-hide-child")">
        <div id="btnSaveEmpOrgVisibility" class="@(Model.Count > 0 ? "col-sm-3 pull-left emp-org-margin-20L" : "col-sm-3 pull-left emp-org-margin-20L manage-org-hide-child")">
            <input type="button" class="btn btn-primary btn-edit btn-xs btn-block" value="Save" />
        </div>
        <div class="@(Model.Count > 0 ? "col-sm-3 pull-left" : "col-sm-3 pull-left manage-org-hide-child")">
            <input id="btnResetEmpOrgVisibility" type="button" class="btn btn-primary btn-edit btn-xs btn-block" value="Reset All" />
        </div>        
    </div>
    <div class="@(Model.Count > 0 ? "col-sm-12 pull-center manage-org-hide-child" : "col-sm-12 pull-center")">
        <span>No Organizations found.</span>
    </div>
    <div id="assignEmpOrgMessage" class="col-sm-12 pull-left emp-org-success-message manage-org-hide-child">
    </div>
@foreach (OrganizationVisibilityTree assignOrgTree in Model)
{
    TreeView(assignOrgTree);
}

    @helper TreeView(OrganizationVisibilityTree assignOrgTree)
{
    <input type="hidden" class="hdn-assign-emp-org-code" value="@assignOrgTree.OrganizationCode" />
    <input type="hidden" class="hdn-assign-emp-org-name" value="@assignOrgTree.OrganizationName" />
    <input type="hidden" class="hdn-assign-emp-org-path" value="@assignOrgTree.OrganizationPath" />
    <input type="hidden" class="hdn-assign-emp-org-type-code" value="@assignOrgTree.OrganizationTypeCode" />
    if (assignOrgTree.ChildOrganizationVisibilityTree.Count > 0 || assignOrgTree.Level == 1)
    {
    <div class="@(assignOrgTree.ChildOrganizationVisibilityTree.Count>0 || assignOrgTree.Level==1 ? "assign-org-tree display-block": "assign-org-tree manage-org-hide-child")">
        @*<form name="@(String.Format("frm{0}", assignOrgTree.OrganizationName + assignOrgTree.Level))">*@
            <div class="col-sm-4">
                @for (int count = 2; count <= assignOrgTree.Level; count++)
                {
                    <span class="child-tree-indent"></span>
                }
                <span class="@(assignOrgTree.ChildOrganizationVisibilityTree.Count > 0 && assignOrgTree.Expanded == false ? "glyphicon glyphicon-plus-sign assign-emp-org-expand" : "assign-emp-org-expand")"></span>
                <span class="@(assignOrgTree.ChildOrganizationVisibilityTree.Count > 0 && assignOrgTree.Expanded ? "glyphicon glyphicon-minus-sign assign-emp-org-collapse" : "assign-emp-org-collapse")"></span>
                <span class="@(assignOrgTree.ChildOrganizationVisibilityTree.Count > 0 ? "child-tree-text-indent" : "level1-nochild-tree-text-indent")">
                    <span class="@(assignOrgTree.Level == 1 ? "level1-org-text emp-org-font-family" : "leveln-org-text emp-org-font-family")">
                        @assignOrgTree.OrganizationName
                    </span>
                </span>
            </div>
            <div class="col-sm-2 pull-center">
                <input name="@assignOrgTree.OrganizationCode" class="emp-org-affiliation" value="-1" @(assignOrgTree.Affiliation == "-1" ? "checked" : "") id="@String.Format("{0}_N", assignOrgTree.OrganizationCode)" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="@assignOrgTree.OrganizationCode" class="emp-org-affiliation" value="1" @(assignOrgTree.Affiliation == "1" ? "checked" : "") id="@String.Format("{0}_M", assignOrgTree.OrganizationCode)" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="@assignOrgTree.OrganizationCode" class="emp-org-affiliation" value="0" @(assignOrgTree.Affiliation == "0" ? "checked" : "") id="@String.Format("{0}_V", assignOrgTree.OrganizationCode)" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="@assignOrgTree.OrganizationCode" class="emp-org-affiliation" value="2" @(assignOrgTree.Affiliation == "2" ? "checked" : "") id="@String.Format("{0}_L", assignOrgTree.OrganizationCode)" type="radio" />
            </div>
        @*</form>*@
    </div>
    }
    if (assignOrgTree.ChildOrganizationVisibilityTree.Count == 0 && assignOrgTree.Level > 1)
    { 
    <div class="@(assignOrgTree.ChildOrganizationVisibilityTree.Count==0  && assignOrgTree.Level>1 ? "assign-org-tree display-block": "assign-org-tree manage-org-hide-child")">
        @*<form name=@(String.Format("frm{0}", assignOrgTree.OrganizationName + assignOrgTree.Level))>*@
            <div class="col-sm-4">
                @for (int count = 2; count <= assignOrgTree.Level; count++)
                {
                <span class="child-tree-indent"></span>
                }
                <span class="child-tree-text-indent">
                    @assignOrgTree.OrganizationName
                </span>
            </div>
            <div class="col-sm-2 pull-center">
                <input name="@assignOrgTree.OrganizationCode" class="emp-org-affiliation" value="-1" @(assignOrgTree.Affiliation == "-1" ? "checked" : "") id="@String.Format("{0}_N", assignOrgTree.OrganizationCode)" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="@assignOrgTree.OrganizationCode" class="emp-org-affiliation" value="1" @(assignOrgTree.Affiliation == "1" ? "checked" : "") id="@String.Format("{0}_M", assignOrgTree.OrganizationCode)" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="@assignOrgTree.OrganizationCode" class="emp-org-affiliation" value="0" @(assignOrgTree.Affiliation == "0" ? "checked" : "") id="@String.Format("{0}_V", assignOrgTree.OrganizationCode)" type="radio" />
            </div>
            <div class="col-sm-2 pull-center">
                <input name="@assignOrgTree.OrganizationCode" class="emp-org-affiliation" value="2" @(assignOrgTree.Affiliation == "2" ? "checked" : "") id="@String.Format("{0}_L", assignOrgTree.OrganizationCode)" type="radio" />
            </div>
        @*</form>*@
    </div>
    }
    <div class="@(assignOrgTree.Expanded == true ? "assign-org-child-tree" : "assign-org-child-tree manage-org-hide-child")">
        @foreach (OrganizationVisibilityTree assignOrgChildTree in assignOrgTree.ChildOrganizationVisibilityTree)
        {
            <div>
                @TreeView(assignOrgChildTree)
            </div>
        }
    </div>
}
