﻿@using AbsenceSoft.Common

@model object

<div class="@(Html.ValidationErrorFor(m => m, "error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            @Html.CountryDropDownListFor(m => m, new { @class = "form-control country-editor", data_target_region = ViewData["data_target_region"] })
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
</div>