﻿@model DateTime?

@{
    DateTime dt;
    if (Model.HasValue)
    {
        dt = (DateTime)Model;
    }
    else
    {
        dt = DateTime.Now;
    }
    Dictionary<string, object> htmlAttributes = new Dictionary<string,object>();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", string.Format("{0} form-control", ViewBag.@class));    
    }else{
        htmlAttributes.Add("class", "form-control");    
    }
    
    
}

<div class="@(Html.ValidationErrorFor(m => m, "error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "form-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            <div class="input-group date editor">
                @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, htmlAttributes)
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
        </div>
    </div>
</div>
