﻿@using AbsenceSoft.Common

@model object
@{
    var htmlAttributes = new Dictionary<string, object> {{"class", "form-control"}};

    if (ViewBag.id != null)
    {
        htmlAttributes.Add("id", ViewBag.Id);
    }

    if (ViewBag.disabled != null)
    {
        htmlAttributes.Add("disabled", ViewBag.disabled);
    }

    if (ViewBag.@readonly != null)
    {
        htmlAttributes.Add("readonly", ViewBag.@readonly);
    }
}

<div class="@(Html.ValidationErrorFor(m => m, "has-error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            @Html.DemandDropDownListFor(m => m, htmlAttributes)
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
</div>

