﻿@model AbsenceSoft.Models.Employees.EmployeeJobViewModel

@* EDITOR TEMPLATE :: EMPLOYEE JOB **@
<div id="@Html.IdForModel()" class="employee-job-editor">
    <div class="row">
        @if (HasFeatureAndPermission(Feature.JobConfiguration, Permission.JobAssignment))
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Code)
            </div>
        }
        <div class="col-sm-6">
            @Html.EditorFor(m => m.Title)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-wrap">
            @Html.DisplayNameFor(m => m.Activity)
        </div>
        <div class="col-sm-9 col-wrap">
            @Html.EnumButtonListFor(m => m.Activity, new { @class = "job-activity-level" })
        </div>
    </div>
    <div class="row jobDates" style="@if (string.IsNullOrWhiteSpace(Model.Code)) {<text>display:none</text>}">
        <div class="col-sm-6">
            @Html.EditorFor(m => m.StartDate)
        </div>
        <div class="col-sm-6">
            @Html.EditorFor(m => m.EndDate)
        </div>
    </div>
    <div class="row" style="@if (string.IsNullOrWhiteSpace(Model.Code)) {<text>display:none</text>}">
        <div class="col-sm-6">            
            @Html.EditorFor(m => m.OfficeLocations.Code)
            @Html.HiddenFor(m => m.OfficeLocation)
        </div>
        <div class="col-sm-6">
            @Html.EditorFor(m => m.Position)
        </div>
    </div>
    <div class="row">
        @Html.EditorFor(m => m.Status, new { IsNew = string.IsNullOrWhiteSpace(Model.Code) })
    </div>
    <div class="row jobDates text-center">
        <div class="col-sm-6">
            @Html.CheckBoxFor(m => m.isDeleteEmployeeJob)
            @Html.DisplayNameFor(m => m.DeleteEmployeeJob)
        </div>
        <div class="col-sm-6">
            @Html.HiddenFor(m => m.Id, new { })
        </div>
    </div>
</div>
