﻿
@model object

@{
    var htmlAttributes = new RouteValueDictionary();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    else
    {
        htmlAttributes.Add("type", "email");
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
}

<div class="@(Html.ValidationErrorFor(m => m, "has-error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
                @Html.TextBox(
            "",
            ViewData.TemplateInfo.FormattedModelValue,
            htmlAttributes)
                @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
        </div>
    </div>
</div>
