﻿@model AbsenceSoft.Models.Employees.EmployeeJobViewModel
@* EDITOR TEMPLATE :: EMPLOYEE JOB **@
<div id="@Html.IdForModel()" class="employee-job-editor">
    <div class="row">
        @if (HasFeatureAndPermission(Feature.JobConfiguration, Permission.JobAssignment))
        {
            <div class="col-sm-6">
                @Html.EditorFor(m => m.Code)
                @Html.HiddenFor(m => m.Id, new { })
            </div>
        }
        <div class="col-sm-6">
            @Html.EditorFor(m => m.Title)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-wrap">
            @Html.DisplayNameFor(m => m.Activity)
        </div>
        <div class="col-sm-9 col-wrap">
            @Html.EnumButtonListFor(m => m.Activity, new { @class = "job-activity-level" })
        </div>
    </div>
    <div class="row jobDates" style="@if (string.IsNullOrWhiteSpace(Model.Code)) {<text>display:none</text>}">
        <div class="col-sm-6">
            @Html.EditorFor(m => m.StartDate)
        </div>
        <div class="col-sm-6">
            @Html.EditorFor(m => m.EndDate)
        </div>
    </div>

    <div class="row jobDates" style="@if (string.IsNullOrWhiteSpace(Model.Code)) {<text>display:none</text>}">
        <div class="col-sm-6">
            @Html.EditorFor(m => m.OfficeLocations.Code)
            @Html.HiddenFor(m => m.OfficeLocation)
        </div>
        <div class="col-sm-6">
            @Html.EditorFor(m => m.Position)
        </div>
    </div>

    <div class="row">
        @Html.EditorFor(m => m.Status, new { IsNew = string.IsNullOrWhiteSpace(Model.Code) })
    </div>
    <div class="row jobDates col-sm-6 text-center" style="@if (string.IsNullOrWhiteSpace(Model.Code)) {<text>display:none</text>}">

        @Html.CheckBoxFor(m => m.isEndCurrentJob) @Html.DisplayNameFor(m => m.EndCurrentJob)

    </div>

    @if (Model != null && !string.IsNullOrWhiteSpace(Model.EmployerId) && !string.IsNullOrWhiteSpace(Model.EmployeeNumber) && Model.IHasJobHistory)
    // Following comment is questionable, refer AT-2505 => Only display a job history if we have a job, otherwise there is no history, duh
    // If there is a job history, it needs to get displayed, to know approved/denied/pending jobs of past, present and future.
    {
        <div class="row">
            <div class="col-sm-12">
                <a href="#@(Html.IdForModel())employeeJobHistory" class="btn-link pull-right" data-toggle="collapse">show job history</a>
            </div>
        </div>
        <div class="row collapse" id="@(Html.IdForModel())employeeJobHistory">
            @Html.Action("EmployeeJobHistory", "Employees", new { employeeNumber = Model.EmployeeNumber, employerId = Model.EmployerId })
        </div>
    }
</div>
