﻿@model Enum

@{
    @*
        I changed this from a Dictionary to anonymous object. The reason is due to the fact that the EnumButtonListFor method calls
        HtmlHelper.AnonymousObjectToHtmlAttributes(htmlAttributes); When the 'htmlAttributes' variable below was a dictionary, the properties of the dictionary (like count, values, keys, etc)
        were getting serialized to the client as attributes on each input. e.g. <input type="radio" Count="0" Keys="System.Generics[~1...]"
    *@
    var htmlAttributes = (ViewBag.@class != null) ? new { @class = ViewBag.@class } : null;
}

<div class="@(Html.ValidationErrorFor(m => m, "error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            <div tooltip="@ViewBag.tooltip">
                @Html.EnumButtonListFor(m => m, htmlAttributes)
                @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
</div>
