﻿@model object

@{
    var htmlAttributes = new RouteValueDictionary();
    htmlAttributes.Add("autocomplete", "new-password");
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", "form-control " + ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control");
    }
    if (ViewBag.@type != null)
    {
        htmlAttributes.Add("type", ViewBag.@type);
    }
    if (ViewBag.placeholder != null)
    {
        htmlAttributes.Add("placeholder", ViewBag.placeholder);
    }
    
}

<div class="@(Html.ValidationErrorFor(m => m, "error"))">
    <div class="row eye-toggle-container">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-6 col-wrap">            
            @Html.Password(
            "",
            ViewData.TemplateInfo.FormattedModelValue,
            htmlAttributes)
            @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
        </div>
        <div class="col-sm-1">
            <i class="glyphicon glyphicon-eye-close"></i>
            <i class="glyphicon glyphicon-eye-open"></i>
        </div>
    </div>
</div>

