﻿@model AbsenceSoft.Models.Jobs.JobStatusViewModel


<div class="employee-job-status-editor">
    @Html.HiddenFor(m => m.EmployeeJobId)
    <div class="jobStatus" style="@(ViewBag.IsNew == true ? "display:none;" : "")">
        <div class="col-sm-6">
            @Html.EditorFor(m => m.Status)
        </div>

        <div class="col-sm-6 jobDenialReason" style="@(Model.Status == AdjudicationStatus.Denied ? "" : "display:none")">
            @Html.EditorFor(m => m.DenialReason)
        </div>
    </div>
    <div class="row jobDenialReasonOther" style="@(Model.DenialReason == AbsenceSoft.Data.Jobs.JobDenialReason.Other  ? "" : "display:none;")">
        <div class="col-sm-6 col-sm-offset-6">
            @Html.EditorFor(m => m.DenialReasonOther)
        </div>
    </div>
</div>