﻿@using AbsenceSoft.Common
@model object

<div class="@(Html.ValidationErrorFor(m => m, "has-error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            @Html.NecessityDropDownListFor(m => m, new { @class = "form-control job-code" })
            @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
        </div>
    </div>
</div>