﻿@using AbsenceSoft.Common

@model object


@{
    object htmlAttributes = null;
    if (ViewBag.multiple != null)
    {
        htmlAttributes = new
        {
            multiple = "multiple",
            @class = "form-control"
        };
    }else{
        htmlAttributes = new
        {
            @class = "form-control"
        };
    }
}

<div class="@(Html.ValidationErrorFor(m => m, "has-error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            @Html.NoteCategoryDropDownListFor(m => m, htmlAttributes)
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
</div>

