﻿@using AbsenceSoft.Common

@model object

<div class="@(Html.ValidationErrorFor(m => m, "has-error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            @Html.PayScheduleDropDownListFor(m => m, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
</div>
