﻿@model AbsenceSoft.Reporting.ReportCriteriaItem
<div class="row">
    <div class="col-sm-4">
        @if (Model.KeepOptionAll)
        {
            @Html.DropDownList("Duration", Model.Options.Select(o => new SelectListItem()
    {
        Text = o.Text,
        Value = o.Value.ToString()
    }), "All", new { @class = "form-control duration-control" })
        }
        else
        {
            @Html.DropDownList("Duration", Model.Options.Select(o => new SelectListItem()
    {
        Text = o.Text,
        Value = o.Value.ToString()
    }), new { @class = "form-control duration-control" })
        }
    </div>
    <div class="col-sm-8">
        <div id="monthlyDuration" class="duration-inputs">
            <select id="selectedMonth" class="form-control input-sm">
                @for (int i = 1; i < 13; i++)
                {
                    <option value="@i">@System.Globalization.DateTimeFormatInfo.CurrentInfo.GetMonthName(i)</option>
                }
            </select>
        </div>
        <div id="yearlyDuration" class="duration-inputs hidden">
            <select id="selectedYear" class="form-control input-sm" disabled>
                @{
                    int customerStartYear = Customer.Current.CreatedDate.Year;
                    int currentYear = DateTime.Now.Year;
                }
                @for (int i = customerStartYear; i <= currentYear; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div id="quarterlyDuration" class="duration-inputs hidden">
            <select id="selectedQuarter" class="form-control input-sm" disabled>
                <option value="1">First Quarter</option>
                <option value="2">Second Quarter</option>
                <option value="3">Third Quarter</option>
                <option value="4">Fourth Quarter</option>
            </select>
        </div>
        <div id="daterangeDuration" class="duration-inputs hidden">
            <div class="row">
                <div class="col-sm-5">
                    <div class="input-group date editor">
                        <input type="text" id="txtStartDate" class="form-control input-sm" disabled />
                        <label for="txtStartDate" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
                <div class="col-sm-2 text-center">
                    <label class="control-label">TO</label>
                </div>
                <div class="col-sm-5">
                    <div class="input-group date editor">
                        <input type="text" id="txtEndDate" class="form-control input-sm" disabled />
                        <label for="txtEndDate" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="rollingDuration" class="duration-inputs hidden">
            <div class="input-group date editor">
                <input type="text" id="rollingStartDate" class="form-control input-sm" disabled />
                <label for="rollingStartDate" class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </label>
            </div>
        </div>
    </div>
</div>