﻿@using AbsenceSoft.Common
@model object

<div>
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            @Html.RolesListBoxFor(m => m, new { @class = "form-control", multiple = "multiple", id = "selectedRoles" })
        </div>
    </div>
</div>
