﻿@model AbsenceSoft.Models.ScheduleViewModel

@{
    string scheduleTypeLabel = "Hours per Day";
    if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.Rotating)
    {
        scheduleTypeLabel = "Days in Rotation";
    }
    else if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.Variable)
    {
        scheduleTypeLabel = "Scheduled Hours";
    }

}

<div id="scheduleEditor">
    @Html.HiddenFor(m => m.EmployeeId, new { id = "hiddenEmployeeId" })
    @Html.HiddenFor(m => m.TemporaryActualScheduleValuesInString, new { id = "hfVariableTypeActualSchedule" })
    @Html.HiddenFor(m => m.TemporaryActualScheduleWorkingHoursInString, new { id = "hfVariableTypeWeeklySchedule" })
    @Html.EditorFor(m => m.ScheduleType, new { @class = "schedule-type", tooltip = "Select Weekly, Rotating or Variable based upon the employee’s typical work schedule and supply the days and hours of scheduled work. The employee’s work schedule should start before or on the service date." })
    <div class="row">
        <div class="col-sm-6">
            @Html.EditorFor(m => m.StartDate, new { @class = "schedule-start-date" })
        </div>
        <div class="col-sm-6">
            @Html.EditorFor(m => m.EndDate)
        </div>
    </div>
    @if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.Weekly)
    {
        <div class="row">
            <div class="col-sm-2 col-wrap">
                Hours per Day
            </div>
            <div class="col-sm-10 col-wrap">
                <div class="schedule-days">
                    @for (int i = 0; i < Model.Times.Count; i++)
                    {
                        <div class="col-sm-1 field-input">
                            <label>
                                @Model.Times[i].SampleDate.DayOfWeek
                                @Html.TextBoxFor(m => Model.Times[i].TotalMinutes, new { @class = "form-control hours-minutes" })
                                @Html.HiddenFor(m => Model.Times[i].SampleDate)
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.Rotating)
    {
        <div class="row">
            <div class="col-sm-2 col-wrap">
                Days in Rotation
            </div>
            <div class="col-sm-4 col-wrap">
                @Html.TextBoxFor(m => m.DaysInRotation, new { @class = "days-in-rotation form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-wrap">
                Hours per Day
            </div>
            <div class="col-sm-10 col-wrap">
                <div class="schedule-days">
                    @for (int i = 0; i < Model.Times.Count(); i++)
                    {
                        string label = (i + 1).ToString();
                        <div class="col-sm-1 field-input">
                            <label>
                                Day @label
                                @Html.TextBoxFor(m => Model.Times[i].TotalMinutes, new { @class = "form-control hours-minutes" })
                                @Html.HiddenFor(m => Model.Times[i].SampleDate)
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>

    }
    else if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.Variable)
    {
        var startDate = Model.VariableTimeMonth.HasValue ? Model.VariableTimeMonth.Value : DateTime.Now;
        var previousMonth = startDate.AddMonths(-1);
        var nextMonth = startDate.AddMonths(1);
        <div class="row">
            @if (Model.Times[0] != null)
            {
                <div class="col-sm-12 col-wrap">
                    @Html.ValidationMessageFor(c => Model.Times[0].TotalMinutes)
                </div>
            }
            <div class="col-sm-2 col-wrap">
                Scheduled Hours
            </div>
            <div class="col-sm-10 col-wrap">
                <div class="schedule-days">
                    @for (int i = 0; i < Model.Times.Count; i++)
                    {
                        <div class="col-sm-1 field-input">
                            <label>
                                @Model.Times[i].SampleDate.DayOfWeek
                                @Html.TextBoxFor(m => Model.Times[i].TotalMinutes, new { @class = "form-control hours-minutes variable-weekly-hours" })
                                @Html.HiddenFor(m => Model.Times[i].SampleDate)

                            </label>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-wrap">
                Actual Hours
            </div>
            <div class="col-sm-10 col-wrap">
                <div class="row">
                    <div class="col-sm-4">
                        <a href="" class="month-link">
                            @Html.Hidden("VariableTimeMonth", previousMonth, new { @class = "month-val" })
                            << @previousMonth.ToString("MMMM yyyy")
                        </a>
                    </div>
                    <div class="col-sm-4">
                        @startDate.ToString("MMMM yyyy")
                    </div>
                    <div class="col-sm-4">
                        <a href="" class="month-link">
                            @Html.Hidden("VariableTimeMonth", nextMonth, new { @class = "month-val" })
                            @nextMonth.ToString("MMMM yyyy") >>
                        </a>
                    </div>
                </div>
                <div class="schedule-days">
                    @for (int i = 1; i <= (int)Model.ActualTimes[0].SampleDate.DayOfWeek; i++)
                    {
                        <div class="col-sm-1 field-input">
                            <label>
                                &nbsp;
                            </label>
                        </div>
                    }

                    @for (int i = 0; i < Model.ActualTimes.Count; i++)
                    {
                        <div class="col-sm-1 field-input">
                            <label>
                                @Model.ActualTimes[i].SampleDate.ToString("MM/dd")
                                @Html.TextBoxFor(m => Model.ActualTimes[i].TotalMinutes, new { @class = "form-control hours-minutes" })
                                @Html.HiddenFor(m => Model.ActualTimes[i].SampleDate)
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else if (Model.ScheduleType == AbsenceSoft.Data.Enums.ScheduleType.FteVariable)
    {
        @Html.EditorFor(m => m.FteWeeklyDuration, new { @class = "fte-schedule-type" })

        if (Model.FteWeeklyDuration == AbsenceSoft.Data.Enums.FteWeeklyDuration.FteTimePerWeek)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <div class="row">
                            <div class="col-sm-2 col-wrap">
                                Avg Hours per Week
                            </div>
                            <div class="col-sm-2 col-wrap">
                                @Html.TextBoxFor(m => Model.FteAvgTimePerWeek, new { @class = "form-control fte-avg-hours hours-minutes" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Model.FteWeeklyDuration == AbsenceSoft.Data.Enums.FteWeeklyDuration.FtePercentage)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <div class="row">
                            <div class="col-sm-2 col-wrap">
                                FTE %
                            </div>
                            <div class="col-sm-2 col-wrap">
                                @Html.TextBoxFor(m => Model.FteTimePercentage, new { @class = "form-control fte-percentage" })
                            </div>
                            <div class="col-sm-1 col-wrap"> </div>
                            <div class="col-sm-2 col-wrap">
                                Hours
                            </div>
                            <div class="col-sm-2 col-wrap">
                                <input type="text" class="form-control hours-minutes" readonly id="fteHours" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row time-msg">
            <div class="col-sm-2 col-wrap"></div>
            <div class="col-sm-8 col-wrap">
                <label class="max-time-msg">Employees work hours in a week should not be more than 168 Hours.</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <div class="row">
                        <div class="col-sm-2 col-wrap">
                            FTE Hours per Week
                        </div>
                        <div class="col-sm-2 col-wrap">
                            @Html.TextBoxFor(m => Model.FTWeeklyWorkTime, new { @readonly = true, @class = "form-control hours-minutes" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
