﻿@using AbsenceSoft.Common

@model object
@{
    string countryValue = null;
    object country = ViewData["country"];
    if(country != null && country is string){
        countryValue = (string)country;
    }
}

<div class="@(Html.ValidationErrorFor(m => m, "has-error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.RegionLabelFor(m => m, countryValue, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            @Html.StateEditorFor(m => m, countryValue, new { @class = string.Format("form-control region-editor {0}", ViewData["class"])})
            @Html.ValidationMessageFor(m => m)
        </div>
    </div>
</div>