﻿@model AbsenceSoft.Models.TimeOfDayViewModel
@{
    var htmlAttributes = new Dictionary<string, object>();
    if (ViewBag.@class != null)
    {
        htmlAttributes.Add("class", ViewBag.@class);
    }
    else
    {
        htmlAttributes.Add("class", "form-control input-sm");
    }
}

<div class="@(Html.ValidationErrorFor(m => m, "error"))">
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                @Html.DropDownListFor(m => m.Hour, (1).GetAllNumbersThrough(12).Select(t => new SelectListItem() { Value = t.ToString(), Text = t.ToString().PadLeft(2, '0') }).ToList(), "HH", htmlAttributes)
                                <span class="input-group-addon">:</span>
                                @Html.DropDownListFor(m => m.Minutes, (0).GetAllNumbersThrough(59).Select(t => new SelectListItem() { Value = t.ToString(), Text = t.ToString().PadLeft(2, '0') }).ToList(), "MM", htmlAttributes)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-group group-2" data-toggle="buttons">
                                <label class="btn btn-info @(!Model.PM ? "active" : "")">
                                    AM
                                    @Html.RadioButtonFor(m => m.PM, false)
                                </label>
                                <label class="btn btn-info @(Model.PM ? "active" : "")">
                                    PM
                                    @Html.RadioButtonFor(m => m.PM, true)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.ValidationMessageFor(m => m, null, new { @class = "help-block" })
        </div>
    </div>
</div>