﻿@using AbsenceSoft.Common
@model AbsenceSoft.Models.Cases.WorkRelatedViewModel
@if (Customer.Current.HasFeature(Feature.WorkRelatedReporting))
{
<div class="work-related-editor">
    @Html.HiddenFor(m => m.CaseId)
    @Html.Hidden("CaseEndDate", (DateTime?)ViewBag.CaseEndDate)
    @Html.Hidden("EmployeeId", (string)ViewBag.EmployeeId)
    <div class="row">
        <div class="col-sm-12 col-wrap">
            This employee's illness or injury has been noted as work related.  The following fields should be completed for proper OSHA/WC reporting.
        </div>
    </div>
    <div class="row">&nbsp;</div>
    @Html.EditorFor(m => m.IllnessOrInjuryDate)
    <div class="@(Html.ValidationErrorFor(m => m.InjuryLocation, "has-error"))">
        <div class="row">
            <div class="col-sm-4 col-wrap">
                @Html.LabelFor(m => m.InjuryLocation, new { @class = "control-label" })
            </div>
            <div class="col-sm-7 col-wrap">
                @Html.OrganizationDropDownListFor(m => m.InjuryLocation, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.Classification, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-wrap">
            @Html.LabelFor(m => m.WhereOccurred, new { @class = "control-label" })
        </div>
        <div class="col-sm-7 col-wrap">
            @Html.TextBoxFor(m => m.WhereOccurred, new { placeholder = "Location where the event occurred...", @class = "form-control input-sm" })
            @Html.ValidationMessageFor(m => m.WhereOccurred)
        </div>
    </div>
    @Html.EditorFor(m => m.Reportable)
    <div class="@(Html.ValidationErrorFor(m => m.Classification, "has-error"))">
        <div class="row">
            <div class="col-sm-4 col-wrap">
                @Html.LabelFor(m => m.Classification, new { @class = "control-label" })
            </div>
            <div class="col-sm-7 col-wrap">
                @Html.EnumUIDropDownListFor(m => m.Classification, "Select Classification", new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.Classification, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
    <div class="@(Html.ValidationErrorFor(m => m.TypeOfInjury, "has-error"))">
        <div class="row">
            <div class="col-sm-4 col-wrap">
                @Html.LabelFor(m => m.TypeOfInjury, new { @class = "control-label" })
            </div>
            <div class="col-sm-7 col-wrap">
                @Html.EnumUIDropDownListFor(m => m.TypeOfInjury, "Select Type of Injury", new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.TypeOfInjury, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
    <div class="@(Html.ValidationErrorFor(m => m.InjuredBodyPart, "has-error"))">
        <div class="row">
            <div class="col-sm-4 col-wrap">
                @Html.LabelFor(m => m.InjuredBodyPart, new { @class = "control-label" })
            </div>
            <div class="col-sm-7 col-wrap">
                @Html.WorkRelatedFieldEditorFor(m => m.InjuredBodyPart, AbsenceSoft.Logic.Cases.OshaFormFieldService.InjuredBodyPart, "Select Part of Body", "Enter Part of Body", new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.InjuredBodyPart, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="@(Html.ValidationErrorFor(m => m.DaysAwayFromWork, "error"))">
            <div class="col-sm-4 col-wrap">
                @Html.LabelFor(m => m.DaysAwayFromWork)
            </div>
            <div class="col-sm-4 col-wrap">
                @Html.TextBoxFor(m => m.OverrideDaysAwayFromWork, new { type = "number", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.OverrideDaysAwayFromWork)

            </div>

            <div class="col-sm-3">
                <label style="padding-top:5px">(<span id="DaysAwayFromWorkCalculated">@Model.DaysAwayFromWork</span> calculated)
                </label>
                @Html.HiddenFor(m => m.DaysAwayFromWork)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="@(Html.ValidationErrorFor(m => m.DaysOnJobTransferOrRestriction, "error"))">
            <div class="col-sm-4 col-wrap">
                @Html.LabelFor(m => m.DaysOnJobTransferOrRestriction)
            </div>
            <div class="col-sm-7 col-wrap">
                <div class="row">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.DaysOnJobTransferOrRestriction, new { type = "number", @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(m => m.DaysOnJobTransferOrRestriction)
                    </div>
                    <div class="col-sm-6">
                        <label style="padding-top:5px">
                            (<span id="CalculatedDaysOnJobTransferOrRestriction">@Model.CalculatedDaysOnJobTransferOrRestriction</span> calculated)
                        </label>
                        @Html.HiddenFor(m => m.CalculatedDaysOnJobTransferOrRestriction)
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.EditorFor(m => m.HealthCarePrivate)
    @Html.HiddenFor(m => m.ProviderContact.EmployeeContactId)
    @Html.HiddenFor(m => m.ProviderContact.Id)
    @Html.HiddenFor(m => m.ProviderContact.Address.Id)
    <div class="row">
        <div class="col-sm-4 col-wrap">
            <label for="@Html.IdFor(m => m.ProviderContact.FirstName)">Name of Physician (HCP)</label>
        </div>
        <div class="col-sm-7 col-wrap">
            <div class="row">
                <div class="col-sm-6">
                    <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.FirstName, "error"))">
                        @Html.TextBoxFor(m => m.ProviderContact.FirstName, new { @class = "form-control input-sm", placeholder = "First" })
                        @Html.ValidationMessageFor(m => m.ProviderContact.FirstName)
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.LastName, "error"))">
                        @Html.TextBoxFor(m => m.ProviderContact.LastName, new { @class = "form-control input-sm", placeholder = "Last" })
                        @Html.ValidationMessageFor(m => m.ProviderContact.LastName)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.ContactTypeCode, "error"))">
            <div class="col-sm-4 col-wrap">
                <label for="@Html.IdFor(m => m.ProviderContact.ContactTypeCode)">Physician (HCP) Type</label>
            </div>
            <div class="col-sm-7 col-wrap">
                @Html.DropDownListFor(m => m.ProviderContact.ContactTypeCode, new AbsenceSoft.Logic.Customers.ContactTypeService().Using(s => s.GetContactTypes(Customer.Current.Id, Employer.CurrentId, ContactTypeDesignationType.Medical)).Select(n => new SelectListItem() { Text = n.Name, Value = n.Code }), "Select Physician (HCP) Type", new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.ProviderContact.ContactTypeCode)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-wrap">
            If treatment was given away from the worksite, where was it given?
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-sm-4 col-wrap">
            <label for="@Html.IdFor(m => m.ProviderContact.CompanyName)">Facility Information</label>
        </div>
        <div class="col-sm-7 col-wrap">
            <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.CompanyName, "error"))">
                @Html.TextBoxFor(m => m.ProviderContact.CompanyName, new { placeholder = "Facility, Office Name, etc.", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.ProviderContact.CompanyName)
            </div>
        </div>
        <div class="col-sm-7 col-sm-offset-4 col-wrap">
            <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.Address1, "error"))">
                @Html.TextBoxFor(m => m.ProviderContact.Address.Address1, new { placeholder = "Address", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.ProviderContact.Address.Address1)
            </div>
        </div>
        <div class="col-sm-7 col-sm-offset-4 col-wrap">
            <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.Address2, "error"))">
                @Html.TextBoxFor(m => m.ProviderContact.Address.Address2, new { placeholder = "Address Line 2", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.ProviderContact.Address.Address2)
            </div>
        </div>
        <div class="col-sm-7 col-sm-offset-4 col-wrap">
            <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.City, "error"))">
                @Html.TextBoxFor(m => m.ProviderContact.Address.City, new { placeholder = "City", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.ProviderContact.Address.City)
            </div>
        </div>
        <div class="col-sm-7 col-sm-offset-4 col-wrap">
            <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.State, "error"))">
                @Html.StateDropDownListFor(m => m.ProviderContact.Address.State, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ProviderContact.Address.State)
            </div>
        </div>
        <div class="col-sm-7 col-sm-offset-4 col-wrap">
            <div class="@(Html.ValidationErrorFor(m => m.ProviderContact.Address.PostalCode, "error"))">
                @Html.TextBoxFor(m => m.ProviderContact.Address.PostalCode, new { placeholder = "Zip", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.ProviderContact.Address.PostalCode)
            </div>
        </div>
        @Html.HiddenFor(m => m.ProviderContact.Address.Country)
    </div>
    <div class="row">&nbsp;</div>
    @Html.EditorFor(m => m.EmergencyRoom)
    @Html.EditorFor(m => m.HospitalizedOvernight)
    @Html.EditorFor(m => m.TimeEmployeeBeganWork)
    @Html.EditorFor(m => m.TimeOfEvent)
    @Html.EditorFor(m => m.ActivityBeforeIncident, new { placeholder = "What was the employee doing just before the incident occurred?", @class = "input-sm", rows = 3 })
    @Html.EditorFor(m => m.WhatHappened, new { placeholder = "Describe what happened...", @class = "input-sm", rows = 3 })
    @Html.EditorFor(m => m.InjuryOrIllness, new { placeholder = "What was the injury or illness?", @class = "input-sm" })
    <div class="@(Html.ValidationErrorFor(m => m.WhatHarmedTheEmployee , "has-error"))">
        <div class="row">
            <div class="col-sm-4 col-wrap">
                @Html.LabelFor(m => m.WhatHarmedTheEmployee, new { @class = "control-label" })
            </div>
            <div class="col-sm-7 col-wrap">
                @Html.WorkRelatedFieldEditorFor(m => m.WhatHarmedTheEmployee, AbsenceSoft.Logic.Cases.OshaFormFieldService.WhatHarmedTheEmployee, "Select Cause of Injury", "What object or substance directly harmed the employee ?", new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.WhatHarmedTheEmployee, null, new { @class = "help-block" })
            </div>
        </div>
    </div>
    @Html.EditorFor(m => m.DateOfDeath)
    <div class="sharps-question">
        @Html.EditorFor(m => m.Sharps)
    </div>
    <div class="i-have-sharps" style="@(Model.Sharps == true ? "" : "display:none;")">
        <!--WC/OSHA Sharps-->
        <div class="row">
            <div class="col-sm-4 col-wrap">
                <label>Injury Location(s)</label>
            </div>
            <div class="col-sm-7 col-wrap">
                <div class="row">
                    @for (int i = 0; i < Model.SharpsInfo.InjuryLocation.Count; i++)
                    {
                        <div class="col-sm-4">
                            <label>@Html.CheckBoxFor(m => m.SharpsInfo.InjuryLocation[i].Selected) @Model.SharpsInfo.InjuryLocation[i].Text</label>
                            @Html.HiddenFor(m => m.SharpsInfo.InjuryLocation[i].Value)
                        </div>
                    }
                </div>
                @Html.ValidationMessageFor(m => m.SharpsInfo.InjuryLocation)
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-sm-4 col-wrap">
                <label for="@Html.IdFor(m => m.SharpsInfo.TypeOfSharp)">Sharp Involved (if known)</label>
            </div>
            <div class="col-sm-7 col-wrap">
                @Html.TextBoxFor(m => m.SharpsInfo.TypeOfSharp, new { @class = "form-control input-sm", placeholder = "Sharp Type" })
                @Html.ValidationMessageFor(m => m.SharpsInfo.TypeOfSharp)
            </div>
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                @Html.TextBoxFor(m => m.SharpsInfo.BrandOfSharp, new { @class = "form-control input-sm", placeholder = "Brand/Manufacturer" })
                @Html.ValidationMessageFor(m => m.SharpsInfo.BrandOfSharp)
            </div>
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                @Html.TextBoxFor(m => m.SharpsInfo.ModelOfSharp, new { @class = "form-control input-sm", placeholder = "Model Number/Name" })
                @Html.ValidationMessageFor(m => m.SharpsInfo.ModelOfSharp)
            </div>
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                @Html.TextBoxFor(m => m.SharpsInfo.BodyFluidInvolved, new { @class = "form-control input-sm", placeholder = "Body Fluid Involved" })
                @Html.ValidationMessageFor(m => m.SharpsInfo.BodyFluidInvolved)
            </div>
        </div>
        <div class="sharps-protection">
            @Html.EditorFor(m => m.SharpsInfo.HaveEngineeredInjuryProtection)
        </div>
        <div class="HaveEngineeredInjuryProtection" style="@(Model.SharpsInfo.HaveEngineeredInjuryProtection == true ? "" : "display:none;")">
            @Html.EditorFor(m => m.SharpsInfo.WasProtectiveMechanismActivated)
        </div>
        <div class="HaveEngineeredInjuryProtection" style="@(Model.SharpsInfo.HaveEngineeredInjuryProtection == true ? "" : "display:none;")">
            <div class="@(Html.ValidationErrorFor(m => m.SharpsInfo.WhenDidTheInjuryOccur, "has-error"))">
                <div class="row">
                    <div class="col-sm-4 col-wrap">
                        @Html.LabelFor(m => m.SharpsInfo.WhenDidTheInjuryOccur, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-7 col-wrap">
                        @Html.EnumUIDropDownListFor(m => m.SharpsInfo.WhenDidTheInjuryOccur, "Select When Occurred", new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(m => m.SharpsInfo.WhenDidTheInjuryOccur, null, new { @class = "help-block" })
                    </div>
                </div>
            </div>
        </div>
        <div class="@(Html.ValidationErrorFor(m => m.SharpsInfo.JobClassification, "has-error"))">
            <div class="row">
                <div class="col-sm-4 col-wrap">
                    @Html.LabelFor(m => m.SharpsInfo.JobClassification, new { @class = "control-label" })
                </div>
                <div class="col-sm-7 col-wrap">
                    @Html.EnumUIDropDownListFor(m => m.SharpsInfo.JobClassification, "Select Job Classification", new { @class = "form-control input-sm job-classification" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.JobClassification, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="row job-classification-other" style="@(Model.SharpsInfo.JobClassification == WorkRelatedSharpsJobClassification.Other ? "" : "display:none;")">
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                @Html.TextBoxFor(m => m.SharpsInfo.JobClassificationOther, new { placeholder = "Other job classification", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.SharpsInfo.JobClassificationOther)
            </div>
        </div>
        <div class="@(Html.ValidationErrorFor(m => m.SharpsInfo.LocationAndDepartment, "has-error"))">
            <div class="row">
                <div class="col-sm-4 col-wrap">
                    @Html.LabelFor(m => m.SharpsInfo.LocationAndDepartment, new { @class = "control-label" })
                </div>
                <div class="col-sm-7 col-wrap">
                    @Html.EnumUIDropDownListFor(m => m.SharpsInfo.LocationAndDepartment, "Select Location/Department", new { @class = "form-control input-sm location-and-dept" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.LocationAndDepartment, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="row location-and-dept-other" style="@(Model.SharpsInfo.LocationAndDepartment == WorkRelatedSharpsLocation.Other ? "" : "display:none;")">
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                @Html.TextBoxFor(m => m.SharpsInfo.LocationAndDepartmentOther, new { placeholder = "Other location/department", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.SharpsInfo.LocationAndDepartmentOther)
            </div>
        </div>
        <div class="@(Html.ValidationErrorFor(m => m.SharpsInfo.Procedure, "has-error"))">
            <div class="row">
                <div class="col-sm-4 col-wrap">
                    @Html.LabelFor(m => m.SharpsInfo.Procedure, new { @class = "control-label" })
                </div>
                <div class="col-sm-7 col-wrap">
                    @Html.EnumUIDropDownListFor(m => m.SharpsInfo.Procedure, "Select Procedure", new { @class = "form-control input-sm procedure" })
                    @Html.ValidationMessageFor(m => m.SharpsInfo.Procedure, null, new { @class = "help-block" })
                </div>
            </div>
        </div>
        <div class="row procedure-other" style="@(Model.SharpsInfo.Procedure == WorkRelatedSharpsProcedure.Other ? "" : "display:none;")">
            <div class="col-sm-7 col-sm-offset-4 col-wrap">
                @Html.TextBoxFor(m => m.SharpsInfo.ProcedureOther, new { placeholder = "Other procedure name", @class = "form-control input-sm" })
                @Html.ValidationMessageFor(m => m.SharpsInfo.ProcedureOther)
            </div>
        </div>
        @Html.EditorFor(m => m.SharpsInfo.ExposureDetail, "MultilineText", new { @class = "form-control input-sm", placeholder = "Describe, in detail, how the exposure incident occurred (e.g. the procedure being performed, the device being used, the body part affected, objects or substances involved and how many were involved)", rows = "4" })
        <!--/.WC/OSHA Sharps-->
    </div>
</div>
}