﻿@model AbsenceSoft.Models.Jobs.JobViewModel

@{
    ViewBag.Title = "Edit Job";
}

@using (Ajax.BeginRouteForm("SaveJob", new { employerId = Employer.CurrentId }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "editJobForm", OnSuccess = "AbsenceSoft.PageStart('#editJobForm')", InsertionMode = InsertionMode.ReplaceWith }, new { id = "editJobForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
       
        <div class="col-sm-12 job-navtab">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h2>Jobs of <span class="customer-name">@Employer.Current.Name</span></h2>
                    </div>
                    <div class="pull-right">
                        @Html.RouteLink("Cancel", "ListJobs", new { employerId = Employer.CurrentId }, new { @class = "btn btn-primary navbar-btn" })
                    </div>
                </div>
            </div>
            <br />
            @Html.ValidationSummary(true, "Unable to save the job.  Please see the validation errors below.")
            <ul class="nav nav-tabs">
                <li class="active"><a href="#overview" data-toggle="tab" id="overview-tab">Overview</a></li>
                <li><a href="#requirements" data-toggle="tab" id="requirements-tab">Requirements</a></li>
                <li><a href="#necessities-pane" data-toggle="tab" id="necessities-pane-tab">Not Supported</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="overview">
                    @Html.HiddenFor(m => m.Id)
                    <br />
                    <div class="col-sm-8">
                        <div class="row row-offset-sm">
                            <div class="col-sm-12">
                                @Html.EditorFor(m => m.Name)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.EditorFor(m => m.Code)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.EditorFor(m => m.Description)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.EditorFor(m => m.Activity)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.EditorFor(m => m.OfficeLocationCode)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">&nbsp;</div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                          <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-wrap">
                           <h4>Links</h4> 
                        </div>
                        <div class="col-sm-8 absencesoft-repeating-container" id="links-container">
                            @if (Model.Links != null)
                            {
                                for (int i = 0; i < Model.Links.Count; i++)
                                {
                                    <div class="absencesoft-repeating">
                                        <div class="row">
                                            <div class="col-sm-6">@Html.EditorFor(m => Model.Links[i].Text)</div>
                                            <div class="col-sm-4">@Html.EditorFor(m => Model.Links[i].Title)</div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-default btn-xs remove-button" type="button">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                @Html.EditorFor(m => Model.Links[i].Url)
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default btn-xs add-button" type="button" data-source-element-id="links" data-target-element-id="links-container">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-wrap">
                           <h4>Industry Codes</h4> 
                        </div>
                        <div class="col-sm-8 absencesoft-repeating-container" id="codes-container">
                            @if (Model.IndustryCodes != null)
                            {
                                for (int i = 0; i < Model.IndustryCodes.Count; i++)
                                {
                                    <div class="absencesoft-repeating">
                                        <div class="row">
                                            <div class="col-sm-6">@Html.EditorFor(m => Model.IndustryCodes[i].Name)</div>
                                            <div class="col-sm-2 col-sm-offset-4">
                                                <button class="btn btn-default btn-xs remove-button" type="button">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">@Html.EditorFor(m => Model.IndustryCodes[i].Code)</div>
                                            <div class="col-sm-6">@Html.EditorFor(m => Model.IndustryCodes[i].CodeType)</div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default btn-xs add-button" type="button" data-source-element-id="industryCodes" data-target-element-id="codes-container">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="requirements">
                    <div class="col-sm-12">
                        <div class="row row-offset-sm job-search">
                            <div class="col-sm-3">&nbsp;</div>
                            <div class="col-sm-6">
                                <input type="text" placeholder="Search For Job Requirements..." id="restrictionSearch" class="form-control" />
                            </div>
                            <div class="col-sm-3">&nbsp;</div>
                        </div>
                        <div id="job-requirements">
                            <div class="row work-border">
                                <div class="col-sm-3">
                                   <h4>Date range of Requirements</h4> 
                                </div>
                                <div class="col-sm-4 wr-dates wre-main">
                                    <div class="input-group">
                                        <input type="text" class="form-control date-editor" id="restrictionsStartDate" placeholder="Start Date" />
                                        <div class="input-group-addon">TO</div>
                                        <input type="text" class="form-control date-editor" id="restrictionsEndDate" placeholder="End Date" />
                                    </div>
                                </div>
                                <div class="col-sm-2 wr-permcb">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="form-control-sm" id="restrictionsPermanent" /> Permanent Requirement
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 wr-dateover">
                                    <small>These dates can be overridden for each individual requirement if necessary.</small>
                                </div>
                            </div>
                            <div class="row wr-tableheader">
                                <div class="col-sm-3 ti-8">
                                    Job Requirement
                                </div>
                                <div class="col-sm-6 ti-15">
                                    Demands
                                </div>
                                <div class="col-sm-3 ti-15">
                                    Duration <small>(override if necessary)</small>
                                </div>
                            </div>
                            @for (int i = 0; i < Model.Requirements.Count(); i++)
                            {
                                <div class="row wre-returns wre-main">
                                    <div class="col-sm-3">
                                        @Html.HiddenFor(m => Model.Requirements[i].DemandId)
                                        @Html.HiddenFor(m => Model.Requirements[i].DemandName, new { @class = "work-restriction-name" })
                                        @Html.Raw(Model.Requirements[i].DemandName)
                                    </div>
                                    <div class="col-sm-6 wre-inputs">
                                        @for (int k = 0; k < Model.Requirements[i].Values.Count; k++)
                                        {
                                            @Html.EditorFor(m => Model.Requirements[i].Values[k])
                                        }
                                    </div>
                                    <div class="col-sm-3">
                                        @Html.HiddenFor(m => Model.Requirements[i].StartDate, new { @class = "restriction-start-date" })
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => Model.Requirements[i].OverriddenStartDate, "{0:d}", new { @class = "form-control restriction-start-date date-editor" })
                                            <div class="input-group-addon">TO</div>
                                            @Html.TextBoxFor(m => Model.Requirements[i].EndDate, "{0:d}", new { @class = "form-control restriction-end-date date-editor" })
                                        </div>
                                        <small class="checkbox">
                                            <label>
                                                <input type="checkbox" class="form-control-sm permanent-restriction" /> Permanent Requirement
                                            </label>
                                        </small>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="necessities-pane">
                    <br />
                    <div class="row">
                        <div class="col-sm-2 col-wrap">
                            <h4>Restricted Necessities</h4>
                        </div>
                        <div class="col-sm-8 absencesoft-repeating-container" id="necessities-container">
                            @if (Model.Necessities != null)
                            {
                                for (int i = 0; i < Model.Necessities.Count; i++)
                                {
                                    <div class="absencesoft-repeating">
                                        <div class="row">
                                            <div class="col-sm-10">@Html.EditorFor(m => Model.Necessities[i].NecessityId)</div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-default btn-xs remove-button" type="button">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-10">@Html.EditorFor(m => Model.Necessities[i].Reason)</div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-default btn-xs add-button" type="button" data-source-element-id="necessities" data-target-element-id="necessities-container">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
       
    </div>
    <div class="row row-offset-sm">   
        <div class="col-sm-12 pull-center">
            <input type="submit" value="Save Job" class="btn btn-primary" />
            @if (!string.IsNullOrEmpty(Model.Id))
            {
                @Ajax.RouteLink("Delete", "DeleteJob", new { employerId = Employer.CurrentId, id = Model.Id }, new AjaxOptions()
                                {
                                    HttpMethod = "DELETE"
                                }, new { @class = "btn btn-danger" })
            }
            @Html.RouteLink("Cancel", "ListJobs", new { employerId = Employer.CurrentId }, new { @class = "btn btn-link" })
        </div>
    </div>
    

}

@{
    var linkTemplate = new AbsenceSoft.Models.HyperlinkViewModel();
    var necessityTemplate = new AbsenceSoft.Models.Jobs.JobNecessityViewModel();
    var industryTemplate = new AbsenceSoft.Models.Jobs.JobIndustryCodeViewModel();
}
<script type="text/template" id="links">
    <div class="absencesoft-repeating">
        <div class="row">
            <div class="col-sm-6">@Html.EditorFor(m => linkTemplate.Text, null, "Links[i].Text")</div>
            <div class="col-sm-4">@Html.EditorFor(m => linkTemplate.Title, null, "Links[i].Title")</div>
            <div class="col-sm-2">
                <button class="btn btn-default btn-xs remove-button" type="button">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">@Html.EditorFor(m => linkTemplate.Url, null, "Links[i].Url")</div>
        </div>
    </div>
</script>

<script type="text/template" id="necessities">
    <div class="absencesoft-repeating">
        <div class="row">
            <div class="col-sm-10">@Html.EditorFor(m => necessityTemplate.NecessityId, null, "Necessities[i].NecessityId")</div>
            <div class="col-sm-2">
                <button class="btn btn-default btn-xs remove-button" type="button">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">@Html.EditorFor(m => necessityTemplate.Reason, null, "Necessities[i].Reason")</div>
        </div>
    </div>
</script>



<script type="text/template" id="industryCodes">
    <div class="absencesoft-repeating">
        <div class="row">
            <div class="col-sm-6">@Html.EditorFor(m => industryTemplate.Name, null, "IndustryCodes[i].Name")</div>
            <div class="col-sm-2 col-sm-offset-4">
                <button class="btn btn-default btn-xs remove-button" type="button">
                    <span class="glyphicon glyphicon-minus"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">@Html.EditorFor(m => industryTemplate.Code, null, "IndustryCodes[i].Code")</div>
            <div class="col-sm-6">@Html.EditorFor(m => industryTemplate.CodeType, null, "IndustryCodes[i].CodeType")</div>
        </div>
    </div>
</script>