﻿@model AbsenceSoft.Models.Jobs.JobAssignmentViewModel

@{
    ViewBag.Title = "Job Assessment";
}

<div class="row">
    <div class="col-sm-12">
        @if (!string.IsNullOrEmpty(Model.CaseId))
        {
            <a href="@Url.RouteUrl("ViewCase", new {caseId = Model.CaseId})">
                <span class="glyphicon glyphicon-arrow-left"></span>
                RETURN TO CASE
            </a>
        }
        else
        {
            <a href="@Url.RouteUrl("ViewEmployee", new {employeeId = Model.EmployeeId})">
                <span class="glyphicon glyphicon-arrow-left"></span>
                RETURN TO EMPLOYEE
            </a>
        }
    </div>
</div>

<div class="row ja-header"><span>JOB ASSESSMENT</span></div>
<br />
<h3>
    Current Job
</h3>
@if (Model.Job == null)
{
    <div class="row">
        <div class="col-sm-12"><p>The employee is not currently assigned to a job.</p></div>
    </div>
}
else
{
    @Html.DisplayFor(m => m.Job)
}

<br />
<h3>
    Available Jobs
</h3>

<div class="row" id="divAvailableJobs">
    <table class="table table-responsive table-striped">
        <tbody id="bodyAvailableJobs">
            @if(Model.EvaluatedJobs.Count(ej => ej.MeetsRestrictions) > 0)
            {
                foreach (var evaluation in Model.EvaluatedJobs.Where(ej => ej.MeetsRestrictions))
                {
                        <tr style="display:none;">
                            <td class="ja-rows">
                                <span class="glyphicon glyphicon-ok-circle ja-checkmark"></span> <b>@evaluation.Job.Name:</b>  @evaluation.Job.Description
                            </td>
                            <td class="ja-rows text-right">
                                @{
                                string jobModalId = string.Format("job{0}", evaluation.Job.Id);
                                }
                                <button class="btn btn-primary ja-recbtn" data-toggle="modal" data-target="#@jobModalId">RECOMMEND THIS JOB</button>
                                <div class="modal fade" tabindex="-1" role="dialog" id="@jobModalId">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            @Html.Partial("JobAssignmentForm", new AbsenceSoft.Models.Jobs.NewJobViewModel()
                                       {
                                           EmployeeId = Model.EmployeeId,
                                           CaseId = Model.CaseId,
                                           JobCode = evaluation.Job.Code,
                                           JobName = evaluation.Job.Name
                                       })
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                }
            }
            else
            {
                <tr style="display:none;">
                    <td class="ja-rows">
                        No jobs available for this employee at this time.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row text-center">
    <button class="btn btn-primary ja-loadmore" id="btnViewMoreAvailableJobs">VIEW MORE AVAILABLE JOBS</button>
</div>

<br />
<div id="divUnavailableJobs">
    <h3>
        Unavailable Jobs
    </h3>

    <div class="row" id="divUnavailableJobs">
        <table class="table table-responsive table-striped">
            <tbody id="bodyUnavailableJobs">
                @foreach (var evaluation in Model.EvaluatedJobs.Where(ej => !ej.MeetsRestrictions))
            {
                    <tr style="display:none;">
                        <td class="ja-rows">
                            <b>@evaluation.Job.Name:</b>  @String.Join(". ", evaluation.Reasons)
                        </td>
                    </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="row text-center">
        <button class="btn btn-primary ja-loadmore" id="btnViewMoreUnavailableJobs">VIEW MORE UNAVAILABLE JOBS</button>
    </div>
</div>

