﻿@model AbsenceSoft.Models.Jobs.NewJobViewModel
@{
    string jobFormId = string.Format("jobAssignmentForm{0}", Model.JobCode);
}
@using (Ajax.BeginRouteForm("SetJob", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = jobFormId, OnSuccess = string.Format("AbsenceSoft.PageStart('#{0}')", jobFormId), InsertionMode = InsertionMode.ReplaceWith }, new { id = jobFormId }))
{
    @Html.AntiForgeryToken()

        <div class="modal-header">
            <div class="row">
                <div class="col-sm-11">
                    <h4 class="modal-title" style="text-align:left;">Change To @Model.JobName</h4>
                </div>

                <div class="col-sm-1">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
            </div>
         </div>


        <div class="modal-body">
            <div class="row ja-datepicker">
                @Html.HiddenFor(m => m.JobCode)
                @Html.HiddenFor(m => m.CaseId)
                @Html.HiddenFor(m => m.EmployeeId)

                <div class="col-sm-6 text-center">
                    @Html.EditorFor(m => m.StartDate)
                </div>
                <div class="col-sm-6 text-center">
                    @Html.EditorFor(m => m.EndDate)
                </div>
            </div>
            <div class="row mt12 text-center">
                <div class="col-sm-6">
                    @Html.EditorFor(m => m.JobTitle)
                </div>
            </div>
            <div class="row mt12 text-left">
                <div class="col-sm-12">
                    Please confirm this job is available at the office location this employee works at.
                </div>
            </div>
            <div class="row mt12 text-left">
                <div class="col-sm-12">
                    Please review the necessary job requirements and if all conditions are met, begin the workflow necessary to complete this change in job path.<br />
                </div>
            </div>
        </div>


                <div class="modal-footer">

                    <button type="submit" class="btn btn-primary">Begin WorkFlow</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

}
