﻿@model AbsenceSoft.Models.Jobs.JobViewModel

@{
    ViewBag.Title = "Jobs";
}

<div class="row">
    <div class="col-sm-1">&nbsp;</div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-left">
                    <h2>Jobs of <span class="customer-name">@Employer.Current.Name</span></h2>
                </div>
                <div class="pull-right">
                    @Html.RouteLink("Back", "ViewEmployee", new { employeeId = ViewBag.EmployeeId }, new { @class = "btn btn-primary navbar-btn" })
                </div>   </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @Html.DisplayForModel()
            </div>
        </div>
    </div>
    <div class="col-sm-1">&nbsp;</div>
</div>


