﻿@model AbsenceSoft.Logic.ListResults

<input type="hidden" class="return-total" value="@Model.Total" />
@foreach (var item in Model.Results)
{
    string id = item.Get<string>("Id");
    string firstName = item.Get<string>("FirstName");
    string lastName = item.Get<string>("LastName");
    string name = lastName;
    if (!string.IsNullOrEmpty(firstName))
    {
        name += ", " + firstName;
    }
    string email = item.Get<string>("Email");
    List<string> roles = item.Get<List<string>>("RolesName");
    string roleName = string.Join(", ", roles);
    string status = item.Get<string>("Status");

    <div class="row">
        <div class="col-sm-12 admin2userlink">
            <a href="@Url.RouteUrl("ManageUser", new { userId = id })">
                <div class="row mb5">
                    <div class="col-sm-3">
                        @name
                    </div>
                    <div class="col-sm-3">
                        @email
                    </div>
                    <div class="col-sm-3">
                        @roleName
                    </div>
                    <div class="col-sm-3">
                        @status
                    </div>
                </div>
            </a>
        </div>
    </div>
}