﻿@model AbsenceSoft.Models.Users.UserListViewModel

<div class="row">
    <div class="col-xs-12 ">
        <div class="user-headline">
            <h2>Users</h2>
            <span class="pull-right">
                @Html.RouteLink("New user", "ManageUser", new { userId = "000000000000000000000000" }, new { @class = "btn btn-primary addnew-admin-btn" })
            </span>
        </div>
    </div>
</div>

<div class="col-xs-12 well item-list">
    <input type="hidden" class="page" value="1" />
    <input type="hidden" class="url" value="@Url.RouteUrl("ListUsers")" />
    <input type="hidden" class="total" value="" />    
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 list-sort">
                    Name
                    <input type="hidden" class="sort-name" value="Name" />
                    <i class="glyphicon sort glyphicon-chevron-up"></i>
                </div>
                <div class="col-sm-3 list-sort">
                    Login
                    <input type="hidden" class="sort-name" value="Email" />
                    <i class="glyphicon sort"></i>
                </div>
                <div class="col-sm-3">
                    Role
                    <input type="hidden" class="sort-name" value="Roles" />
                    <i class="glyphicon"></i>
                </div>
                <div class="col-sm-3 list-sort">
                    Status
                    <input type="hidden" class="sort-name" value="Status" />
                    <i class="glyphicon sort"></i>
                </div>
            </div>
            <div class="row row-filter">
                <div class="col-sm-3">
                    <input type="text" name="UserName" class="list-filter form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-3">
                    <input type="text" name="Email" class="list-filter form-control filter" placeholder="Filter" />
                </div>
                <div class="col-sm-3 list-sort">
                    @Html.DropDownListFor(m => m.Role, Model.SelectableRoles, "Filter", new { @class="list-filter form-control filter"})
                </div>
                <div class="col-sm-3">
                    <select name="Status" class="list-filter form-control filter">
                        <option value="All">All</option>
                        <option value="Active" selected>Active</option>
                        <option value="Disabled">Disabled</option>
                        <option value="Locked">Locked</option>                        
                    </select>
                </div>
            </div>
            <div class="admin2userlist">
                <div class="scroll list-display">
                </div>
            </div>
        </div>
    </div>
</div>

