﻿@model AbsenceSoft.SelfService.Areas.Reporting.Models.ReportViewModel
@{

    string Title = Model.Title;
    string reportName = Model.ESSReportName;
    string reportTitle = Model.ReportTitle;
    string reportType = Model.ReportType;

    ViewBag.Title = reportType;
}


<!-- Heading -->
<div class="row ess-headline">
    <div class="col-sm-12"></div>
    <div class="col-sm-10">
        <span class="fa fa-line-chart ess-headicon"></span>
        <h1 id="report-type">@reportType | </h1>
        <span class="essreportname">@reportName</span>
    </div>
</div>

<!-- Start Panel for Criteria -->
<div class="panel panel-default row">
    <!-- Criteria heading-->
    <div class="panel-heading" role="tab" id="headingOne">
        <a href="#criteria" role="button" data-toggle="collapse">
            <div id="reportView" class="reportDevider">
                <label class="lblHeader">
                    @if (Model.RequestId.Length > 0)
                    {
                        <i class="fa fa-cog" aria-hidden="true"></i><span class="pointer">Modify Report Criteria</span>
                    }
                    else
                    {
                        <span>Select Report Criteria</span>
                    }
                </label>
                @if (Model.RequestId.Length > 0)
                {
                    <label class="lblHeader reportrunon"><span class="pointer">Report Ran @System.DateTime.Now.ToString("MM/dd/yyyy")</span></label>
                }
            </div>
        </a>
    </div>

    <!-- Criteria Body -->
    <div class="panel-body">
        <div id="reportCriteriaFilters" />
                <div class="row">
            <!-- Chart Section -->
            <div class="col-sm-12" id="chartContainer">
                <div class="col-sm-12 text-center" id="chartTitle"></div>
                <div class="col-sm-12 text-center">
                    <a href="#criteria" data-toggle="collapse" id="chartCriteria"></a>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="theChart">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 row-offset"></div>
        </div>
    </div>

    <!-- Results Section -->
    <div class="row row-offset">
        <div class="col-sm-12 report-table" id="reportResult">
        </div>
    </div>
</div>
<input type="hidden" id="ReportId" value="@Model.ReportId" />

@section scripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
}
